%html
  %body
    %h3
      К вашему материалу на портале mass-decision.ru
      добавлен комментарий
    =  @comment.content
    %br
    =link_to ' подробнее', "http://mass-decision.ru/project/9/#{@post.class.name.underscore.pluralize}/#{@post.id}"
  %br
  %br
  %br
  %br
  %small
    Команда проекта
    =link_to 'massdecisoin', "http://mass-decision.ru/"


