!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Magnific Popup
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    / Owl carousel
    %link{:href => "css/owl.carousel.css", :rel => "stylesheet"}/
    / Perfect scrollbar
    %link{:href => "css/perfect-scrollbar.min.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
    %link{:href => "css/custom-post.css", :rel => "stylesheet"}/
    %link{:href => "css/sprites.css", :rel => "stylesheet"}/
    %link{:href => "css/colors.css", :rel => "stylesheet"}/
  %body.stage1_theme
    .outer
      / Top bar starts
      %header.navbar.top_bar
        .container
          .navbar-header
            %a.navbar-brand{:href => "main.html"}
              %img{:src => "img/logo1.png"}/
          %ul.nav.navbar-nav.main_menu
            %li.active
              %a.menu_a{:href => "1st-stage.html"} Процедура
            %li
              %a.menu_a{:href => "1st-stage-cabinet-profile.html"} Кабинет
            %li.has_dropwindow
              %a.has_circle.drop_opener.menu_a{"data-dd-opener" => "dd_2"}
                Мои уведомления
                %span.top-circle 1
              #dd_2.dropdown_window.dd_435.notifications_drop.text-left
                .dd_wrapper
                  .dd_top.thin.light-grey
                    %i.fa.fa-close.fa-lg.dd_close{"data-dd-closer" => "dd_2"}
                  .dd_bottom.white
                    .divider10
                    .container
                      .row
                        .col-xs-12
                          .ps_cont
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage4
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage4
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            %a.dd_notice.moder{:href => "#"}
                              %span.dd_n_cell.left
                                %i.fa.fa-lg.fa-exclamation-triangle
                              %span.dd_n_cell.right
                                %span
                                  22:00 11.03.2015
                                  = succeed ":" do
                                    %span.bold Модератор
                                %p
                                  На этой стадии вам предстоит выявить проблемы, связанные
                                  с ситуацией, описанной в базе знаний, и принять участие
                                  в обсуждении проблем, выявленных другими участниками. В
                                  нашей терминологии такие проблемы называются
                                  несовершенствами.
                            .dd_nav_divider.font_color_stage4
                              %span 4
                            .divider10
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage2
                                %i.fa.fa-lg.fa-thumbs-up
                              %span.dd_n_cell.right.font_color_stage2
                                %span
                                  19:45 12.03.2015
                                  %span.bold Liza
                                  в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            .dd_nav_divider.font_color_stage2
                              %span 2
                            .divider10
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage1
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage1
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage1
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage1
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage1
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage1
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            .dd_nav_divider.font_color_stage1
                              %span 1
                            .divider10
                    .divider20
          .navbar-right.text-right.user_block.font_grey
            %a.book_icon.open-popup-link{:href => "#popup-database"}
            %span.auth-divider |
            %span.has_dropwindow
              %button.btn_reset.font_lighter_grey.bold.drop_opener{"data-dd-opener" => "dd_1"}
                %i.fa.fa-exclamation-triangle
              #dd_1.dropdown_window.dd_570.expert_news_drop.text-left
                .dd_badge
                  %i.fa.fa-exclamation-triangle
                  %small Новости от эксперта
                .dd_wrapper.white
                  .dd_top.light-grey
                    %i.fa.fa-close.fa-lg.dd_close{"data-dd-closer" => "dd_1"}
                  .dd_bottom
                    .divider20
                    .container
                      .ps_cont
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_1"}
                            .row
                              .col-xs-9
                                Представляем вам наш экспертный комитет:
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_1.dd_xprt_article.collapse
                          .dd_expert
                            .divider20
                            .row
                              .col-xs-3.text-center
                                %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
                              .col-xs-9
                                %h4 Лиза Школьник
                                %p
                                  Эксперт в электронной коммерции, опыт с 1997 года. Имеет
                                  обширный опыт в интернет-маркетинге, включая создание и
                                  продвижение интернет-проектов, любые виды рекламы
                            .divider20
                          .dd_expert
                            .divider20
                            .row
                              .col-xs-3.text-center
                                %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
                              .col-xs-9
                                %h4 Владимир Видро
                                %p
                                  Эксперт в электронной коммерции, опыт с 1997 года. Имеет
                                  обширный опыт в интернет-маркетинге, включая создание и
                                  продвижение интернет-проектов, любые виды рекламы
                            .divider20
                          .dd_expert
                            .divider20
                            .row
                              .col-xs-3.text-center
                                %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
                              .col-xs-9
                                %h4 Владимир Видро
                                %p
                                  Эксперт в электронной коммерции, опыт с 1997 года. Имеет
                                  обширный опыт в интернет-маркетинге, включая создание и
                                  продвижение интернет-проектов, любые виды рекламы
                            .divider20
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_2"}
                            .row
                              .col-xs-9
                                Заголовок 1
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_2.dd_xprt_article.collapse
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с
                            ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей
                            терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                            взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с
                            ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей
                            терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                            взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_3"}
                            .row
                              .col-xs-9
                                Заголовок 2
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_3.dd_xprt_article.collapse
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с
                            ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей
                            терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                            взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с
                            ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей
                            терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                            взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_4"}
                            .row
                              .col-xs-9
                                Заголовок 3
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_4.dd_xprt_article.collapse
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с
                            ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей
                            терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                            взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с
                            ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей
                            терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                            взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_5"}
                            .row
                              .col-xs-9
                                Заголовок 4
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_5.dd_xprt_article.collapse
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с
                            ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей
                            терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                            взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с
                            ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей
                            терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                            взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                    .divider20
            %span.auth-divider |
            %a.font_grey.bold{:href => "#"}
              %i.fa.fa-globe.font_lighter_grey
              %small
                %i.fa.fa-angle-down
            %ul.dropdown-menu.dropdown-mini{:role => "menu"}
            %span.auth-divider |
            %span.badge.grey 500
            %small.font_lighter_grey.bold
              Лиза Школьник
              %a{:href => "profile.html"}
                %i.fa.fa-angle-down
      / Top Bar ends
      .subhead
        .container
          %h4.font_white Решение конфликта, возникшего из-за меда
        %button#tooltip_button_1.btn.btn-tooltip-close{:type => "button", :value => "Show"}
          %i.fa.fa-lightbulb-o
          Закрыть подсказки
      .container
        .row
          .col-md-8.col_padding_right_3
            .border_grey.rounded_3.stages_block
              .btn-toolbar{:role => "toolbar"}
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage1{:href => "1st-stage.html", :role => "button"}
                    1 СТАДИЯ: ВВЕДЕНИЕ В
                    ПРОЦЕДУРУ
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage2{:href => "2nd-stage.html", :role => "button"} 2
                  %a.btn.back_color_stage3{:href => "3rd-stage.html", :role => "button"} 3
                  %a.btn.back_color_stage4{:href => "4th-stage.html", :role => "button"} 4
                  %a.btn.back_color_stage5{:href => "5th-stage.html", :role => "button"} 5
                  %a.btn.back_color_stage6.icon_new.i_new_stage{:href => "6th-stage.html", :role => "button"} 6
                  %a.btn.back_color_stage7{:href => "7th-stage.html", :role => "button"} 7
          .col-md-4.col_padding_left_3
            %a.open_welcome_popup{:href => "#popup-explanation-1st"}
              .border_grey.rounded_3.help_icon
            .border_grey.rounded_3.progress_block
              .container
                .row
                  .col-xs-6.col-md-6.col_padding_right_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Ваш прогресс на стадии
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "0", "data-fgcolor" => "#649ac3", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
                  .col-xs-6.col-md-6.col_padding_left_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Прогресс других участников
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#649ac3", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
      / Main Block starts
      .main-block
        .container
          .stage-info-sort-block
            .row
              %br/
              .col-md-7
                %span.stage-heading Обсуждение аспектов
              .col-md-5
                .sort-block.pull-right
                  %span.sort-label Сортировать по новым:
                  .sort-1.sort_btn.sprite_com.sprite-item1_2_1
                    %span 25
                  .sort-2.sort_btn.sprite_doc.sprite-item1_1
                    %span 2
                  %a.btn.add-button{:href => "1st-stage-cabinet.html"}
                    %span +
                    Аспект
          .divider10
          .divider_1_grey
          .divider10
          .stage-post-block
            .row
              .col-md-6
                %span.stage-heading Аспекты из базы знаний (6)
              .col-md-6
                %span.stage-heading Аспекты, предложенные участниками (2)
            .row
              .col-md-6.combined_border.right
                .post.post_type_1.ch_action{"data-for" => "post_ch1"}
                  .post-header.color_me{"data-me-action" => "background-color", "data-me-color" => "0", "data-me-type" => "aspect"}
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img40{:src => "img/ava-pyat.jpg"}/
                        %p.poster-name Оргкомитет
                        %p.poster-name
                      .media-body.white
                        .post-text.open-popup{"data-placement" => "1", "data-target" => "1"}
                          Нечем дышать при большом количестве людей в комнате
                          %i.fa.fa-angle-right
                        .post_comments_cont
                          #post_ch1.post_cont_hover.white
                            .wrapper.ps_cont.half_wheel_speed
                              .post_cont_inner
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                  .post-bottom.text-right.small_icons
                    %span.popup2.comments_icon{"data-for" => "post_ch1"}
                      %small 5
                      %i.fa.fa-comment-o
                    %span.popup2
                      %small 9
                      %i.fa.fa-thumbs-o-up.fa-flip-horizontal
                    %span.popup2
                      %small 1
                      %i.fa.fa-thumbs-o-down.fa-flip-horizontal
                .post.post_type_1.ch_action{"data-for" => "post_ch2"}
                  .post-header.color_me{"data-me-action" => "background-color", "data-me-color" => "1", "data-me-type" => "aspect"}
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img40{:src => "img/ava-pyat.jpg"}/
                        %p.poster-name Оргкомитет
                        %p.poster-name
                      .media-body.white
                        .post-text.open-popup{"data-placement" => "1", "data-target" => "1"}
                          Нечем дышать при большом количестве людей в комнате
                          %i.fa.fa-angle-right
                        .post_comments_cont
                          #post_ch2.post_cont_hover.white
                            .wrapper.ps_cont.half_wheel_speed
                              .post_cont_inner
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                  .post-bottom.text-right.small_icons
                    %span.popup2.comments_icon{"data-for" => "post_ch2"}
                      %small 5
                      %i.fa.fa-comment-o
                    %span.popup2
                      %small 9
                      %i.fa.fa-thumbs-o-up.fa-flip-horizontal
                    %span.popup2
                      %small 1
                      %i.fa.fa-thumbs-o-down.fa-flip-horizontal
                .post.post_type_1.ch_action{"data-for" => "post_ch3"}
                  .post-header.color_me{"data-me-action" => "background-color", "data-me-color" => "2", "data-me-type" => "aspect"}
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img40{:src => "img/ava-pyat.jpg"}/
                        %p.poster-name Оргкомитет
                        %p.poster-name
                      .media-body.white
                        .post-text.open-popup{"data-placement" => "1", "data-target" => "1"}
                          Нечем дышать при большом количестве людей в комнате
                          %i.fa.fa-angle-right
                        .post_comments_cont
                          #post_ch3.post_cont_hover.white
                            .wrapper.ps_cont.half_wheel_speed
                              .post_cont_inner
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                  .post-bottom.text-right.small_icons
                    %span.popup2.comments_icon{"data-for" => "post_ch3"}
                      %small 5
                      %i.fa.fa-comment-o
                    %span.popup2
                      %small 9
                      %i.fa.fa-thumbs-o-up.fa-flip-horizontal
                    %span.popup2
                      %small 1
                      %i.fa.fa-thumbs-o-down.fa-flip-horizontal
                .post.post_type_1.ch_action{"data-for" => "post_ch4"}
                  .post-header.color_me{"data-me-action" => "background-color", "data-me-color" => "3", "data-me-type" => "aspect"}
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img40{:src => "img/ava-pyat.jpg"}/
                        %p.poster-name Оргкомитет
                        %p.poster-name
                      .media-body.white
                        .post-text.open-popup{"data-placement" => "1", "data-target" => "1"}
                          Нечем дышать при большом количестве людей в комнате
                          %i.fa.fa-angle-right
                        .post_comments_cont
                          #post_ch4.post_cont_hover.white
                            .wrapper.ps_cont.half_wheel_speed
                              .post_cont_inner
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                  .post-bottom.text-right.small_icons
                    %span.popup2.comments_icon{"data-for" => "post_ch4"}
                      %small 5
                      %i.fa.fa-comment-o
                    %span.popup2
                      %small 9
                      %i.fa.fa-thumbs-o-up.fa-flip-horizontal
                    %span.popup2
                      %small 1
                      %i.fa.fa-thumbs-o-down.fa-flip-horizontal
                .post.post_type_1.ch_action{"data-for" => "post_ch5"}
                  .post-header.color_me{"data-me-action" => "background-color", "data-me-color" => "4", "data-me-type" => "aspect"}
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img40{:src => "img/ava-pyat.jpg"}/
                        %p.poster-name Оргкомитет
                        %p.poster-name
                      .media-body.white
                        .post-text.open-popup{"data-placement" => "1", "data-target" => "1"}
                          Нечем дышать при большом количестве людей в комнате
                          %i.fa.fa-angle-right
                        .post_comments_cont
                          #post_ch5.post_cont_hover.white
                            .wrapper.ps_cont.half_wheel_speed
                              .post_cont_inner
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                  .post-bottom.text-right.small_icons
                    %span.popup2.comments_icon{"data-for" => "post_ch5"}
                      %small 5
                      %i.fa.fa-comment-o
                    %span.popup2
                      %small 9
                      %i.fa.fa-thumbs-o-up.fa-flip-horizontal
                    %span.popup2
                      %small 1
                      %i.fa.fa-thumbs-o-down.fa-flip-horizontal
                .post.post_type_1.ch_action{"data-for" => "post_ch6"}
                  .post-header.color_me{"data-me-action" => "background-color", "data-me-color" => "5", "data-me-type" => "aspect"}
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img40{:src => "img/ava-pyat.jpg"}/
                        %p.poster-name Оргкомитет
                        %p.poster-name
                      .media-body.white
                        .post-text.open-popup{"data-placement" => "1", "data-target" => "1"}
                          Нечем дышать при большом количестве людей в комнате
                          %i.fa.fa-angle-right
                        .post_comments_cont
                          #post_ch6.post_cont_hover.white
                            .wrapper.ps_cont.half_wheel_speed
                              .post_cont_inner
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  По поводу кнопки "всё". Она не
                                  очень интуитивна и красива.
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold Liza:
                                  Начальная - это та, что
                                  грузится со страницей. Но она по дате сортировки
                                .comment_preview
                                  %span.bold.com_date 12.04.2014
                                  %span.bold irivertime:
                                  И обратная сортировка
                                  должна тоже как-то выделяться
                  .post-bottom.text-right.small_icons
                    %span.popup2.comments_icon{"data-for" => "post_ch6"}
                      %small 5
                      %i.fa.fa-comment-o
                    %span.popup2
                      %small 9
                      %i.fa.fa-thumbs-o-up.fa-flip-horizontal
                    %span.popup2
                      %small 1
                      %i.fa.fa-thumbs-o-down.fa-flip-horizontal
              .col-md-6.combined_border.left
                .divider50
                .post.post_type_1
                  .post-header.grey
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img40{:src => "img/ava-pyat.jpg"}/
                        %p.poster-name Оргкомитет
                        %p.poster-name
                      .media-body.white
                        .post-text
                          Нечем дышать при большом количестве людей в комнате
                          %i.fa.fa-angle-right
                  .post-bottom.text-right.small_icons
                    %span.popup2.tooltip1.tt_def_shown{"data-container" => "body", "data-html" => "true", "data-placement" => "left", "data-template" => "<div class=\"tooltip tooltip_placeh_1\" role=\"tooltip\"><div class=\"tooltip-arrow\"></div><div class=\"tooltip-inner\"></div></div>", "data-toggle" => "tooltip", "data-trigger" => "manual", :title => "\n                                            <i class='fa fa-comment-o'></i> показывает, сколько комментариев собрал этот аспект.<br>\n                                            <i class='fa fa-thumbs-o-up fa-flip-horizontal'></i> показывает, скольким участникам понравился,<br> а <i class='fa fa-thumbs-o-down fa-flip-horizontal'></i> — скольким участникам не понравился этот аспект.<br>\n                                            <i class='fa fa-exclamation-triangle'></i> — это комментарий модератора процедуры, на который следует обратить особое внимание."}
                      %small
                        5
                      %i.fa.fa-comment-o
                    %span.popup2
                      %small 9
                      %i.fa.fa-thumbs-o-up.fa-flip-horizontal
                    %span.popup2
                      %small 1
                      %i.fa.fa-thumbs-o-down.fa-flip-horizontal
                    %span.popup2
                      %i.fa.fa-exclamation-triangle.font_lighter_grey
                .text-center
                  .divider25
                  %img{:src => "img/placeh_arrow.png"}/
                  .divider15
                  %img{:src => "img/placeholder.png"}/
                  .divider20
                  %a.btn.add-button{:href => "1st-stage-cabinet.html"}
                    %span +
                    Добавить аспект
      / Main Block ends
      #popup-database.popup-window.popup_database.popup-w770.mfp-hide
        .popup.popup_rounded
          .row
            .col-md-12
              #myCarousel.carousel.base_carousel.slide{"data-ride" => "carousel"}
                / Indicators
                %ul.list-unstyled.list-inline.carousel-indicators.text-center
                  %li.color-theme-1.myCarousel-target.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
                    Аспект 1
                  %li.color-theme-2.myCarousel-target{"data-slide-to" => "1", "data-target" => "#myCarousel"}
                    Аспект 2
                  %li.color-theme-3.myCarousel-target{"data-slide-to" => "2", "data-target" => "#myCarousel"}
                    Аспект 3
                  %li.color-theme-4.myCarousel-target{"data-slide-to" => "3", "data-target" => "#myCarousel"}
                    Аспект 4
                  %li.color-theme-5.myCarousel-target{"data-slide-to" => "4", "data-target" => "#myCarousel"}
                    Аспект 5
                  %li.color-theme-6.myCarousel-target{"data-slide-to" => "5", "data-target" => "#myCarousel"}
                    Аспект 6
                  %li.color-theme-7.myCarousel-target{"data-slide-to" => "6", "data-target" => "#myCarousel"}
                    Аспект 7
                  %li.color-theme-8.myCarousel-target{"data-slide-to" => "7", "data-target" => "#myCarousel"}
                    Аспект 8
                  %li.color-theme-9.myCarousel-target{"data-slide-to" => "8", "data-target" => "#myCarousel"}
                    Аспект 9
                / Wrapper for slides
                .carousel-inner{:role => "listbox"}
                  .item.active.color-theme-1
                    .row
                      .col-md-12
                        .container
                          .row
                            .col-md-12.col-sm-12
                              %ul.nav.nav-tabs.aspects_tabs{:role => "tablist"}
                                %li.active{:role => "presentation"}
                                  %a{"aria-controls" => "Статья 1", "data-toggle" => "tab", :href => "#article1-1", :role => "tab"}
                                    Статья
                                    1
                                %li{:role => "presentation"}
                                  %a{"aria-controls" => "Статья 2", "data-toggle" => "tab", :href => "#article1-2", :role => "tab"} Статья 2
                                %li{:role => "presentation"}
                                  %a{"aria-controls" => "Статья 3", "data-toggle" => "tab", :href => "#article1-3", :role => "tab"} Статья 3
                          .row
                            .col-md-12.col-sm-12
                              .aspect-main-block
                                .tab-content
                                  #article1-1.tab-pane.active.fade.in{:role => "tabpanel"}
                                    %h6.aspect-main-block-heading
                                      Ситуация с
                                      пчелами
                                    %p.aspect-main-block-text
                                      Пчелы недовольны тем,
                                      что на их мед
                                      постоянно покушаются Винни-Пух и его друзья. Желая
                                      разрешить
                                      конфликт мирным способом, они обратились к мудрой
                                      Сове.
                                    %img{:src => "img/aspect-pic1.jpg"}/
                                  #article1-2.tab-pane.fade{:role => "tabpanel"}
                                    %p.aspect-main-block-text
                                      Пчелы недовольны тем,
                                      что на их мед
                                      постоянно покушаются Винни-Пух и его друзья. Желая
                                      разрешить
                                      конфликт мирным способом, они обратились к мудрой
                                      Сове.
                                    %img{:src => "img/aspect-pic1.jpg"}/
                                  #article1-3.tab-pane.fade{:role => "tabpanel"}
                                    %img{:src => "img/aspect-pic1.jpg"}/
                  .item.color-theme-2
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                          %p.aspect-main-block-text
                            В популярной сказке Винни-Пух и его
                            друзья жаждали меда, но пчелы не давали забрать у себя плоды своего
                            труда. Чтобы раздобыть мед, Винни с компанией пытался обманом
                            пробраться в улей на Высоком дубе — не вышло, сутками подкарауливал
                            момент, когда все пчелы вылетят из улья, — не дождался; пытался
                            втянуть пчел в переговоры, предлагая грибы и ягоды в обмен на мед, —
                            был отвергнут.
                            Всего в истории участвовало трое четвероногих: сам Винни-Пух и его
                            друзья Пятачок и Кролик.
                          %img{:src => "img/aspect-pic2.jpg"}/
                  .item.color-theme-3
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                          %h6.aspect-main-block-heading
                            Трудности, связанные с
                            расположением конфликтующих сторон
                          %p.aspect-main-block-text
                            Как видно на карте, Винни-Пух с
                            друзьями живут достаточно близко к Высокому дубу.
                            Это часто обостряет конфликт, потому что пчелы не могут нормально
                            собирать мед,
                            постоянно беспокоясь, что их ограбят.
                          %img{:src => "img/aspect-pic3.jpg"}/
                  .item.color-theme-4
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-5
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-6
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-7
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-8
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-9
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                %a.myCarousel-control.left{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
                  %i.fa.fa-3x.fa-caret-left
                %a.myCarousel-control.right{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
                  %i.fa.fa-3x.fa-caret-right
    / Outer Ends
    / Javascript files
    / jQuery
    %script{:src => "js/jquery.js"}
    / Bootstrap JS
    %script{:src => "js/bootstrap.min.js"}
    / Magnific Popup
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / Owl carousel
    %script{:src => "js/owl.carousel.min.js"}
    / Respond JS for IE8
    %script{:src => "js/respond.min.js"}
    / HTML5 Support for IE
    %script{:src => "js/html5shiv.js"}
    / Content hover JS
    %script{:src => "js/jquery.contenthover.min.js"}
    / Javascript for this page
    %script{:src => "js/jqueryrotate.2.1.js"}
    / Excanvas JS for Knob Support in IE 8
    %script{:src => "js/excanvas.js"}
    / jQuery Knob
    %script{:src => "js/jquery.knob.js"}
    / Perfect scrollbar
    %script{:src => "js/perfect-scrollbar.jquery.min.js"}
    %script{:src => "js/waypoints.min.js"}
    / Custom JS. Type your JS code in custom.js file
    %script{:src => "js/custom.js"}
