!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Magnific Popup
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    / Owl carousel
    %link{:href => "css/owl.carousel.css", :rel => "stylesheet"}/
    / Perfect scrollbar
    %link{:href => "css/perfect-scrollbar.min.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
    %link{:href => "css/custom-post.css", :rel => "stylesheet"}/
    %link{:href => "css/colors.css", :rel => "stylesheet"}/
  %body.stage1_theme
    .outer
      / Top bar starts
      %header.navbar.top_bar
        .container
          .navbar-header
            %a.navbar-brand{:href => "main.html"}
              %img{:src => "img/logo1.png"}/
          %ul.nav.navbar-nav.main_menu
            %li.active
              %a.menu_a{:href => "1st-stage.html"} Процедура
            %li
              %a.menu_a{:href => "1st-stage-cabinet-profile.html"} Кабинет
            %li.has_dropwindow
              %a.has_circle.drop_opener.menu_a{"data-dd-opener" => "dd_2"}
                Мои уведомления
                %span.top-circle 1
              #dd_2.dropdown_window.dd_435.notifications_drop.text-left
                .dd_wrapper
                  .dd_top.thin.light-grey
                    %i.fa.fa-close.fa-lg.dd_close{"data-dd-closer" => "dd_2"}
                  .dd_bottom.white
                    .divider10
                    .container
                      .row
                        .col-xs-12
                          .ps_cont
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage4
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage4
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            %a.dd_notice.moder{:href => "#"}
                              %span.dd_n_cell.left
                                %i.fa.fa-lg.fa-exclamation-triangle
                              %span.dd_n_cell.right
                                %span
                                  22:00 11.03.2015
                                  = succeed ":" do
                                    %span.bold Модератор
                                %p
                                  На этой стадии вам предстоит выявить проблемы, связанные
                                  с ситуацией, описанной в базе знаний, и принять участие
                                  в обсуждении проблем, выявленных другими участниками. В
                                  нашей терминологии такие проблемы называются
                                  несовершенствами.
                            .dd_nav_divider.font_color_stage4
                              %span 4
                            .divider10
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage2
                                %i.fa.fa-lg.fa-thumbs-up
                              %span.dd_n_cell.right.font_color_stage2
                                %span
                                  19:45 12.03.2015
                                  %span.bold Liza
                                  в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            .dd_nav_divider.font_color_stage2
                              %span 2
                            .divider10
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage1
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage1
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage1
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage1
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage1
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage1
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            .dd_nav_divider.font_color_stage1
                              %span 1
                            .divider10
                    .divider20
          .navbar-right.text-right.user_block.font_grey
            %a#tooltip_db.book_icon.open-popup-link.tooltip1{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "manual", :href => "#popup-database", :title => "Жмите сюда, чтобы освежить в памяти базу знаний."}
            %span.auth-divider |
            %span.has_dropwindow
              %button.btn_reset.font_lighter_grey.bold.drop_opener{"data-dd-opener" => "dd_1"}
                %i.fa.fa-exclamation-triangle
              #dd_1.dropdown_window.dd_570.expert_news_drop.text-left
                .dd_badge
                  %i.fa.fa-exclamation-triangle
                  %small Новости от эксперта
                .dd_wrapper.white
                  .dd_top.light-grey
                    %i.fa.fa-close.fa-lg.dd_close{"data-dd-closer" => "dd_1"}
                  .dd_bottom
                    .divider20
                    .container
                      .ps_cont
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_1"}
                            .row
                              .col-xs-9
                                Представляем вам наш экспертный комитет:
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_1.dd_xprt_article.collapse
                          .dd_expert
                            .divider20
                            .row
                              .col-xs-3.text-center
                                %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
                              .col-xs-9
                                %h4 Лиза Школьник
                                %p
                                  Эксперт в электронной коммерции, опыт с 1997 года. Имеет
                                  обширный опыт в интернет-маркетинге, включая создание и
                                  продвижение интернет-проектов, любые виды рекламы
                            .divider20
                          .dd_expert
                            .divider20
                            .row
                              .col-xs-3.text-center
                                %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
                              .col-xs-9
                                %h4 Владимир Видро
                                %p
                                  Эксперт в электронной коммерции, опыт с 1997 года. Имеет
                                  обширный опыт в интернет-маркетинге, включая создание и
                                  продвижение интернет-проектов, любые виды рекламы
                            .divider20
                          .dd_expert
                            .divider20
                            .row
                              .col-xs-3.text-center
                                %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
                              .col-xs-9
                                %h4 Владимир Видро
                                %p
                                  Эксперт в электронной коммерции, опыт с 1997 года. Имеет
                                  обширный опыт в интернет-маркетинге, включая создание и
                                  продвижение интернет-проектов, любые виды рекламы
                            .divider20
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_2"}
                            .row
                              .col-xs-9
                                Заголовок 1
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_2.dd_xprt_article.collapse
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с
                            ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей
                            терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                            взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с
                            ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей
                            терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                            взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_3"}
                            .row
                              .col-xs-9
                                Заголовок 2
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_3.dd_xprt_article.collapse
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с
                            ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей
                            терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                            взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с
                            ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей
                            терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                            взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_4"}
                            .row
                              .col-xs-9
                                Заголовок 3
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_4.dd_xprt_article.collapse
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с
                            ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей
                            терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                            взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с
                            ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей
                            терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                            взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_5"}
                            .row
                              .col-xs-9
                                Заголовок 4
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_5.dd_xprt_article.collapse
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с
                            ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей
                            терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                            взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с
                            ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей
                            терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                            взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                    .divider20
            %span.auth-divider |
            %a.font_grey.bold{:href => "#"}
              %i.fa.fa-globe.font_lighter_grey
              %small
                %i.fa.fa-angle-down
            %ul.dropdown-menu.dropdown-mini{:role => "menu"}
            %span.auth-divider |
            %span.badge.grey 500
            %small.font_lighter_grey.bold
              Лиза Школьник
              %a{:href => "profile.html"}
                %i.fa.fa-angle-down
      / Top Bar ends
      .subhead
        .container
          %h4.font_white Решение конфликта, возникшего из-за меда
        %button#tooltip_button_1.btn.btn-tooltip{:type => "button", :value => "Show"}
          %i.fa.fa-lightbulb-o
          Открыть подсказки
      .container
        .row
          .col-md-8.col_padding_right_3
            #tooltip1_1.border_grey.rounded_3.stages_block.tooltip1{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "manual", :title => "В нашей процедуре стадии открываются поэтапно. Следующая стадия откроется, когда большинство участников ответит на все вопросы."}
              .btn-toolbar{:role => "toolbar"}
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage1{:href => "1st-stage.html", :role => "button"}
                    1 СТАДИЯ: ВВЕДЕНИЕ В
                    ПРОЦЕДУРУ
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage2{:href => "2nd-stage.html", :role => "button"} 2
                  %a.btn.back_color_stage3{:href => "3rd-stage.html", :role => "button"} 3
                  %a.btn.back_color_stage4{:href => "4th-stage.html", :role => "button"} 4
                  %a.btn.back_color_stage5{:href => "5th-stage.html", :role => "button"} 5
                  %a.btn.back_color_stage6.icon_new.i_new_stage{:href => "6th-stage.html", :role => "button"} 6
                  %a.btn.back_color_stage7{:href => "7th-stage.html", :role => "button"} 7
          .col-md-4.col_padding_left_3
            %a.open_welcome_popup{:href => "#popup-explanation-1st"}
              #tooltip1_2.border_grey.rounded_3.help_icon.tooltip1.help_popover{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "manual", :title => "Вы всегда можете вызвать помощь по стадии, нажав сюда."}
            #tooltip1_3.border_grey.rounded_3.progress_block.tooltip1{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "manual", :title => "Здесь будут отображаться ваши успехи по работе с аспектами. Другие участники тоже не сидят сложа руки!"}
              .container
                .row
                  .col-xs-6.col-md-6.col_padding_right_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Ваш прогресс на стадии
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "0", "data-fgcolor" => "#649ac3", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
                  .col-xs-6.col-md-6.col_padding_left_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Прогресс других участников
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#649ac3", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
        .divider10
        .row
          .col-md-12
            .border_grey.rounded_3.metro_block
              %ul.list-unstyled.list-inline
                %li
                  %i.fa.fa-circle.fa-2x
                  %a{:href => "#"} Оценка аспектов
                %li.active.theme_font_color
                  %i.fa.fa-circle.fa-2x
                  %a{:href => "#"} Обсуждение
                %li
                  %i.fa.fa-circle.fa-2x
                  %a{:href => "#"} Изучение БЗ
                %li.last
                  %i.fa.fa-circle.fa-2x
                  %a{:href => "#"} Голосование
      / Main Block starts
      .main-block
        .container
          .stage-info-sort-block
            .row
              %br/
              .col-md-7
                %span.stage-heading Аспекты (9)
              .col-md-5
                .sort-block.pull-right
                  %a.btn.add-button{:href => "1st-stage-cabinet.html"}
                    %span +
                    Аспект
          / Aspects block (UI four) starts
          .ui-4.first-stage
            .container
              / UI content
              .block-content
                / Tabs
                / Nav tabs
                .slider-wrapper
                  %a.slider-left.slider-nav
                    %i.fa.fa-caret-left.font_lighter_grey
                  %a.slider-right.slider-nav
                    %i.fa.fa-caret-right.font_lighter_grey
                  .slider-outer
                    %ul.slider-inner.list-unstyled
                      %li
                        .slider-item.active
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-one"}
                              %span.c1-item-inner.color_me{"data-me-action" => "border-top-color", "data-me-color" => "0", "data-me-type" => "aspect"}
                                Мед и пчелы
                      %li
                        .slider-item
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-two"}
                              %span.c1-item-inner.color_me{"data-me-action" => "border-top-color", "data-me-color" => "1", "data-me-type" => "aspect"}
                                Мед и четвероногие
                      %li
                        .slider-item
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-three"}
                              %span.c1-item-inner.color_me{"data-me-action" => "border-top-color", "data-me-color" => "2", "data-me-type" => "aspect"}
                                Взаимоотношения четвероногих и пчел
                      %li
                        .slider-item
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-four"}
                              %span.c1-item-inner.color_me{"data-me-action" => "border-top-color", "data-me-color" => "3", "data-me-type" => "aspect"}
                                Пчелы и цветочные поляны
                      %li
                        .slider-item
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-five"}
                              %span.c1-item-inner.color_me{"data-me-action" => "border-top-color", "data-me-color" => "4", "data-me-type" => "aspect"}
                                Четвероногие и сахар
                      %li
                        .slider-item
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-six"}
                              %span.c1-item-inner.color_me{"data-me-action" => "border-top-color", "data-me-color" => "5", "data-me-type" => "aspect"}
                                Пчелы, четвероногие и зимняя спячка
                      %li
                        .slider-item
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-seven"}
                              %span.c1-item-inner.color_me{"data-me-action" => "border-top-color", "data-me-color" => "6", "data-me-type" => "aspect"}
                                Винни-Пух и все все все
                      %li
                        .slider-item
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-eight"}
                              %span.c1-item-inner.color_me{"data-me-action" => "border-top-color", "data-me-color" => "7", "data-me-type" => "aspect"}
                                Эффективность пчел в сборе меда
                      %li
                        .slider-item
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-nine"}
                              %span.c1-item-inner.color_me{"data-me-action" => "border-top-color", "data-me-color" => "8", "data-me-type" => "aspect"}
                                Пчелы и лес
                / Tab panes
                .tab-content
                  #tab-one.tab-pane.main-pane.active.fade.in
                    .container
                      .row
                        .col-md-8.col-sm-8.min-col-right-padd
                          %ul.nav.nav-tabs.aspects_tabs{:role => "tablist"}
                            %li.active{:role => "presentation"}
                              %a.aspect_color0_background{"aria-controls" => "Статья 1", "data-toggle" => "tab", :href => "#article1", :role => "tab"}
                                Статья
                                1
                            %li{:role => "presentation"}
                              %a.aspect_color0_background{"aria-controls" => "Статья 2", "data-toggle" => "tab", :href => "#article2", :role => "tab"} Статья 2
                            %li{:role => "presentation"}
                              %a.aspect_color0_background{"aria-controls" => "Статья 3", "data-toggle" => "tab", :href => "#article3", :role => "tab"} Статья 3
                      .row
                        .col-md-8.col-sm-8.min-col-right-padd
                          .aspect-main-block.color_me{"data-me-action" => "border-top-color", "data-me-color" => "0", "data-me-type" => "aspect"}
                            .tab-content
                              #article1.tab-pane.active.fade.in{:role => "tabpanel"}
                                %h5 Ситуация с пчелами
                                %h6 Ситуация с пчелами
                                %p
                                  Пчелы недовольны тем, что на их мед
                                  постоянно покушаются Винни-Пух и его друзья. Желая разрешить
                                  конфликт мирным способом, они обратились к мудрой Сове.
                                %h6 Ситуация с пчелами
                                %p
                                  Пчелы недовольны тем, что на их мед
                                  постоянно покушаются Винни-Пух и его друзья. Желая разрешить
                                  конфликт мирным способом, они обратились к мудрой Сове.
                                %ul.list-unstyled
                                  %li
                                    Группа разработчиков MD – подготовка продукта, участие в
                                    тестовой процедуре
                                  %li
                                    В.Видро - подготовка и проведение варианта процедуры для
                                    российского рынка
                                  %li
                                    Ю. Хоффман – подготовка варианта процедуры для
                                    израильского рынка
                              #article2.tab-pane.fade{:role => "tabpanel"}
                                %p.aspect-main-block-text
                                  Пчелы недовольны тем, что на
                                  их мед
                                  постоянно покушаются Винни-Пух и его друзья. Желая разрешить
                                  конфликт мирным способом, они обратились к мудрой Сове.
                                %img{:src => "img/aspect-pic1.jpg"}/
                              #article3.tab-pane.fade{:role => "tabpanel"}
                                %h6.aspect-main-block-heading
                                  Ситуация с пчелами
                                %p.aspect-main-block-text
                                  Пчелы недовольны тем, что на
                                  их мед
                                  постоянно покушаются Винни-Пух и его друзья. Желая разрешить
                                  конфликт мирным способом, они обратились к мудрой Сове.
                                .divider50
                                %button.btn.info-button.flag
                                  Закрыть базу знаний
                                .divider50
                                .divider50
                                .divider25
                        .col-md-4.col-sm-4.min-col-left-padd
                          #questionsCarousel1.carousel.slide.questionsCarousel{"data-ride" => "carousel"}
                            .aspect-questions-block.color_me{"data-me-action" => "border-top-color", "data-me-color" => "0", "data-me-type" => "aspect"}
                              %h4.block-with-left-icon.pull-left
                                %i.left-icon.fa.fa-2x.fa-comments
                                Вопросы по теме
                              %span.pull-right.question_count 1 из 2
                              .carousel-inner
                                .item.active
                                  %p.text.block-with-left-icon
                                    %span.left-icon.pull-right 1.
                                    Из-за чего начались конфликты?
                                  .hint.close-notice
                                    Читайте вторую страничку презентации
                                    %span.close-button
                                      %i.fa.fa-times-circle-o
                                  %form.form.instruments-block
                                    .btn-group{"data-toggle" => "buttons"}
                                      .form-group
                                        %button.btn.btn-xs.btn-white
                                          Звери много
                                          шумят
                                          в лесу
                                        %i.fa.fa-check.color_me{"data-me-action" => "color", "data-me-color" => "0", "data-me-type" => "aspect"}
                                      .form-group
                                        %button.btn.btn-xs.btn-white
                                          Звери
                                          хотели
                                          поселиться в Высоком дубу
                                        %i.fa.fa-check.color_me{"data-me-action" => "color", "data-me-color" => "0", "data-me-type" => "aspect"}
                                      .form-group
                                        %button.btn.btn-xs.btn-white
                                          В лесу был
                                          пожар
                                        %i.fa.fa-check.color_me{"data-me-action" => "color", "data-me-color" => "0", "data-me-type" => "aspect"}
                                      .form-group
                                        %button.btn.btn-xs.btn-white
                                          Звери хотят
                                          отнять мед у пчел
                                        %i.fa.fa-check.color_me{"data-me-action" => "color", "data-me-color" => "0", "data-me-type" => "aspect"}
                                    .clearfix
                                    .form-group.bottom-buttons
                                      %a.btn.btn-outline.notice-button.color_me{"data-me-action" => "border-color", "data-me-color" => "0", "data-me-type" => "aspect"} Подсказка
                                      %button.btn.answer-button.questionCarousel-target.color_me{"data-me-action" => "background-color", "data-me-color" => "0", "data-me-type" => "aspect", "data-slide-to" => "1", "data-target" => "#questionsCarousel1"}
                                        Ответить
                                .item
                                  %p.text.block-with-left-icon
                                    %span.left-icon.pull-right 2.
                                    К кому обратились жители опушки для разрешения спора?
                                  %form.form.instruments-block
                                    .btn-group{"data-toggle" => "buttons"}
                                      .form-group
                                        %button.btn.btn-xs.btn-white
                                          К
                                          Президенту РФ
                                        %i.fa.fa-check.color_me{"data-me-action" => "color", "data-me-color" => "0", "data-me-type" => "aspect"}
                                      .form-group
                                        %button.btn.btn-xs.btn-white
                                          К Сове
                                        %i.fa.fa-check.color_me{"data-me-action" => "color", "data-me-color" => "0", "data-me-type" => "aspect"}
                                      .form-group
                                        %button.btn.btn-xs.btn-white
                                          К
                                          Винни-Пуху
                                        %i.fa.fa-check.color_me{"data-me-action" => "color", "data-me-color" => "0", "data-me-type" => "aspect"}
                                      .form-group
                                        %button.btn.btn-xs.btn-white
                                          К слону
                                          Аркадию
                                        %i.fa.fa-check.color_me{"data-me-action" => "color", "data-me-color" => "0", "data-me-type" => "aspect"}
                                    .clearfix
                                    .form-group.bottom-buttons
                                      %a.btn.btn-outline.notice-button.color_me{"data-me-action" => "border-color", "data-me-color" => "0", "data-me-type" => "aspect"} Подсказка
                                      %button.btn.answer-button.color_me{"data-me-action" => "background-color", "data-me-color" => "0", "data-me-type" => "aspect"}
                                        Ответить
                  #tab-two.tab-pane.main-pane.fade
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block.color_me{"data-me-action" => "border-top-color", "data-me-color" => "1", "data-me-type" => "aspect"}
                          %p.aspect-main-block-text
                            В популярной сказке Винни-Пух и его
                            друзья жаждали меда, но пчелы не давали забрать у себя плоды своего
                            труда. Чтобы раздобыть мед, Винни с компанией пытался обманом
                            пробраться в улей на Высоком дубе — не вышло, сутками подкарауливал
                            момент, когда все пчелы вылетят из улья, — не дождался; пытался
                            втянуть пчел в переговоры, предлагая грибы и ягоды в обмен на мед, —
                            был отвергнут.
                            Всего в истории участвовало трое четвероногих: сам Винни-Пух и его
                            друзья Пятачок и Кролик.
                          %img{:src => "img/aspect-pic2.jpg"}/
                  #tab-three.tab-pane.main-pane.fade
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block.color_me{"data-me-action" => "border-top-color", "data-me-color" => "2", "data-me-type" => "aspect"}
                          %h6.aspect-main-block-heading
                            Трудности, связанные с
                            расположением конфликтующих сторон
                          %p.aspect-main-block-text
                            Как видно на карте, Винни-Пух с
                            друзьями живут достаточно близко к Высокому дубу.
                            Это часто обостряет конфликт, потому что пчелы не могут нормально
                            собирать мед,
                            постоянно беспокоясь, что их ограбят.
                          %img{:src => "img/aspect-pic3.jpg"}/
          / Aspects block (UI four) ends
          %a.open-popup-vote-link{:href => "#vote-1"} Голосовалка
          %br/
          %a.open-popup-link{:href => "#popup-greetings-text"} Завершающий попап
          %br/
          %a{:href => "1st-stage_discuss.html"} Обсуждение аспектов
          %br/
          %a{:href => "1st-stage_discuss_placeholder.html"} Обсуждение аспектов (плейсхолдер)
          %br/
      / Main Block ends
      #vote-1.popup-window.popup-vote.popup-w915.mfp-hide
        .popup.popup_rounded
          .modal_title
            .row
              .col-md-12
                %h4.bold.font_dark_grey
                  Голосование по аспектам
          .vote_progress_cont.progress
            .vote_progress.back_color_stage1.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar"}
          .modal_body.lighter-grey
            .divider15
            %h5.text-center.no_margin Распределите аспекты по папкам
            .divider5
            .container.vote_folders_cont.folders_4.no_padding_col
              %ul.nav.vote_nav.row{:role => "tablist"}
                %li.col-md-3.no_padding_col.folder_all.active{:role => "presentation"}
                  %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "all", :href => "#vote_tab1", :role => "tab"}
                    .vote_folder_inn.poll-2-1
                      %span.vote_counter
                      %h5.font_color_stage1 Общий список
                %li.col-md-3.no_padding_col{:role => "presentation"}
                  %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "important", :href => "#vote_tab2", :role => "tab"}
                    .vote_folder_inn.poll-2-2
                      %span.vote_counter
                      %h5 Необходимо
                %li.col-md-3.no_padding_col{:role => "presentation"}
                  %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "not_important", :href => "#vote_tab3", :role => "tab"}
                    .vote_folder_inn.poll-2-3
                      %span.vote_counter
                      %h5 Нравится
                %li.col-md-3.no_padding_col{:role => "presentation"}
                  %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "unnecessary", :href => "#vote_tab4", :role => "tab"}
                    .vote_folder_inn.poll-2-4
                      %span.vote_counter
                      %h5 Не нравится
              .divider5
            .container.white.border_top_grey
              .row
                .divider25
                .tab-content
                  #vote_tab1.tab-pane.all_vote.active{"data-vote-poll-role" => "all", :role => "tabpanel"}
                    .container.vote_itemslist_cont
                      .row
                        .col-sm-6.vote_item_cont
                          .vote_item.color_me{"data-me-action" => "border-top-color", "data-me-color" => "0", "data-me-type" => "aspect"}
                            .heading_cont
                              %h6 Мед и пчелы
                            .divider10
                            .vote_controls.text-center
                              %button.btn.vote_button.v_btn_1{"data-icon-class" => "fa-exclamation", "data-vote-role" => "important", :role => "button"}
                              %button.btn.vote_button.v_btn_2{"data-icon-class" => "fa-check", "data-vote-role" => "not_important", :role => "button"}
                              %button.btn.vote_button.v_btn_3{"data-icon-class" => "fa-minus", "data-vote-role" => "unnecessary", :role => "button"}
                            .divider15
                        .col-sm-6.vote_item_cont
                          .vote_item.color_me{"data-me-action" => "border-top-color", "data-me-color" => "1", "data-me-type" => "aspect"}
                            .heading_cont
                              %h6 Мед и четвероногие
                            .divider10
                            .vote_controls.text-center
                              %button.btn.vote_button.v_btn_1{"data-icon-class" => "fa-exclamation", "data-vote-role" => "important", :role => "button"}
                              %button.btn.vote_button.v_btn_2{"data-icon-class" => "fa-check", "data-vote-role" => "not_important", :role => "button"}
                              %button.btn.vote_button.v_btn_3{"data-icon-class" => "fa-minus", "data-vote-role" => "unnecessary", :role => "button"}
                            .divider15
                        .col-sm-6.vote_item_cont
                          .vote_item.color_me{"data-me-action" => "border-top-color", "data-me-color" => "2", "data-me-type" => "aspect"}
                            .heading_cont
                              %h6 Взаимоотношения четвероногих и пчел
                            .divider10
                            .vote_controls.text-center
                              %button.btn.vote_button.v_btn_1{"data-icon-class" => "fa-exclamation", "data-vote-role" => "important", :role => "button"}
                              %button.btn.vote_button.v_btn_2{"data-icon-class" => "fa-check", "data-vote-role" => "not_important", :role => "button"}
                              %button.btn.vote_button.v_btn_3{"data-icon-class" => "fa-minus", "data-vote-role" => "unnecessary", :role => "button"}
                            .divider15
                        .col-sm-6.vote_item_cont
                          .vote_item.color_me{"data-me-action" => "border-top-color", "data-me-color" => "3", "data-me-type" => "aspect"}
                            .heading_cont
                              %h6 Пчелы и цветочные поляны
                            .divider10
                            .vote_controls.text-center
                              %button.btn.vote_button.v_btn_1{"data-icon-class" => "fa-exclamation", "data-vote-role" => "important", :role => "button"}
                              %button.btn.vote_button.v_btn_2{"data-icon-class" => "fa-check", "data-vote-role" => "not_important", :role => "button"}
                              %button.btn.vote_button.v_btn_3{"data-icon-class" => "fa-minus", "data-vote-role" => "unnecessary", :role => "button"}
                            .divider15
                        .col-sm-6.vote_item_cont
                          .vote_item.color_me{"data-me-action" => "border-top-color", "data-me-color" => "4", "data-me-type" => "aspect"}
                            .heading_cont
                              %h6 Четвероногие и сахар
                            .divider10
                            .vote_controls.text-center
                              %button.btn.vote_button.v_btn_1{"data-icon-class" => "fa-exclamation", "data-vote-role" => "important", :role => "button"}
                              %button.btn.vote_button.v_btn_2{"data-icon-class" => "fa-check", "data-vote-role" => "not_important", :role => "button"}
                              %button.btn.vote_button.v_btn_3{"data-icon-class" => "fa-minus", "data-vote-role" => "unnecessary", :role => "button"}
                            .divider15
                        .col-sm-6.vote_item_cont
                          .vote_item.color_me{"data-me-action" => "border-top-color", "data-me-color" => "5", "data-me-type" => "aspect"}
                            .heading_cont
                              %h6 Пчелы, четвероногие и зимняя спячка
                            .divider10
                            .vote_controls.text-center
                              %button.btn.vote_button.v_btn_1{"data-icon-class" => "fa-exclamation", "data-vote-role" => "important", :role => "button"}
                              %button.btn.vote_button.v_btn_2{"data-icon-class" => "fa-check", "data-vote-role" => "not_important", :role => "button"}
                              %button.btn.vote_button.v_btn_3{"data-icon-class" => "fa-minus", "data-vote-role" => "unnecessary", :role => "button"}
                            .divider15
                        .col-sm-6.vote_item_cont
                          .vote_item.color_me{"data-me-action" => "border-top-color", "data-me-color" => "6", "data-me-type" => "aspect"}
                            .heading_cont
                              %h6 Винни-Пух и все-все-все
                            .divider10
                            .vote_controls.text-center
                              %button.btn.vote_button.v_btn_1{"data-icon-class" => "fa-exclamation", "data-vote-role" => "important", :role => "button"}
                              %button.btn.vote_button.v_btn_2{"data-icon-class" => "fa-check", "data-vote-role" => "not_important", :role => "button"}
                              %button.btn.vote_button.v_btn_3{"data-icon-class" => "fa-minus", "data-vote-role" => "unnecessary", :role => "button"}
                            .divider15
                        .col-sm-6.vote_item_cont
                          .vote_item.color_me{"data-me-action" => "border-top-color", "data-me-color" => "7", "data-me-type" => "aspect"}
                            .heading_cont
                              %h6 Эффективность пчел в сборе меда
                            .divider10
                            .vote_controls.text-center
                              %button.btn.vote_button.v_btn_1{"data-icon-class" => "fa-exclamation", "data-vote-role" => "important", :role => "button"}
                              %button.btn.vote_button.v_btn_2{"data-icon-class" => "fa-check", "data-vote-role" => "not_important", :role => "button"}
                              %button.btn.vote_button.v_btn_3{"data-icon-class" => "fa-minus", "data-vote-role" => "unnecessary", :role => "button"}
                            .divider15
                        .col-sm-6.vote_item_cont
                          .vote_item.color_me{"data-me-action" => "border-top-color", "data-me-color" => "8", "data-me-type" => "aspect"}
                            .heading_cont
                              %h6 Пчелы и лес
                            .divider10
                            .vote_controls.text-center
                              %button.btn.vote_button.v_btn_1{"data-icon-class" => "fa-exclamation", "data-vote-role" => "important", :role => "button"}
                              %button.btn.vote_button.v_btn_2{"data-icon-class" => "fa-check", "data-vote-role" => "not_important", :role => "button"}
                              %button.btn.vote_button.v_btn_3{"data-icon-class" => "fa-minus", "data-vote-role" => "unnecessary", :role => "button"}
                            .divider15
                  #vote_tab2.tab-pane{"data-vote-poll-role" => "important", :role => "tabpanel"}
                    .container.vote_itemslist_cont
                      .row
                  #vote_tab3.tab-pane{"data-vote-poll-role" => "not_important", :role => "tabpanel"}
                    .container.vote_itemslist_cont
                      .row
                  #vote_tab4.tab-pane{"data-vote-poll-role" => "unnecessary", :role => "tabpanel"}
                    .container.vote_itemslist_cont
                      .row
                .divider35
      #popup-explanation-1st.popup-window.popup-explanation.popup-w710.mfp-hide.welcome_popup
        .popup.popup_rounded
          .modal_badge.back_color_stage1.rounded_2.font_white 1 СТАДИЯ
          %h2
            %img.expl-header-img-1{:src => "img/good-shot1.png"}>/
            Цель стадии
          %p.expl-sub-heading
            Подробное изучение всеми участниками информации, необходимой для дальнейшей работы в процедуре
            MASSDECISION™
          %p.expl-notice.rounded-2
            Вторая стадия процедуры не начнется, пока средний уровень готовности участников не достигнет 80%!
          %h2
            %img.expl-header-img-2{:src => "img/flag1.png"}>/
            Что делать?
          %ol
            %li Ознакомьтесь со всеми аспектами базы знаний.
            %li Примите участие в их обсуждении.
            %li Если база знаний кажется вам неполной, предложите собственные аспекты.
            %li Пройдите короткое тестирование на понимание базы знаний.
            %li При помощи голосования распределите аспекты по степени важности.
          %button.btn.red.close_magnific Начать работу
      #popup-greetings-text.popup-window.popup-w710.mfp-hide.stage1_theme
        .popup.popup_rounded.popup_medal
          .medal-block.gold-medal
          .row
            .col-md-8.col-md-offset-3
              %p.font_mid_grey.bold
                Спасибо за ваши ответы!
              .divider50
              %p.font_mid_grey.bold
                Теперь вы можете ознакомиться с ответами других участников и предложить аспект, если посчитаете
                нужным.
              .divider50
              %p
                %a.btn.add-button{:href => "1st-stage_discuss.html"}
                  %span
                    %i.fa.fa-comment-o
                  Просмотреть аспекты
                %a.btn.add-button{:href => "1st-stage-cabinet.html"}
                  %span +
                  Добавить аспект
      #popup-database.popup-window.popup_database.popup-w770.mfp-hide
        .popup.popup_rounded
          .row
            .col-md-12
              #myCarousel.carousel.base_carousel.slide{"data-ride" => "carousel"}
                / Indicators
                %ul.list-unstyled.list-inline.carousel-indicators.text-center
                  %li.color-theme-1.myCarousel-target.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
                    Аспект 1
                  %li.color-theme-2.myCarousel-target{"data-slide-to" => "1", "data-target" => "#myCarousel"}
                    Аспект 2
                  %li.color-theme-3.myCarousel-target{"data-slide-to" => "2", "data-target" => "#myCarousel"}
                    Аспект 3
                  %li.color-theme-4.myCarousel-target{"data-slide-to" => "3", "data-target" => "#myCarousel"}
                    Аспект 4
                  %li.color-theme-5.myCarousel-target{"data-slide-to" => "4", "data-target" => "#myCarousel"}
                    Аспект 5
                  %li.color-theme-6.myCarousel-target{"data-slide-to" => "5", "data-target" => "#myCarousel"}
                    Аспект 6
                  %li.color-theme-7.myCarousel-target{"data-slide-to" => "6", "data-target" => "#myCarousel"}
                    Аспект 7
                  %li.color-theme-8.myCarousel-target{"data-slide-to" => "7", "data-target" => "#myCarousel"}
                    Аспект 8
                  %li.color-theme-9.myCarousel-target{"data-slide-to" => "8", "data-target" => "#myCarousel"}
                    Аспект 9
                / Wrapper for slides
                .carousel-inner{:role => "listbox"}
                  .item.active.color-theme-1
                    .row
                      .col-md-12
                        .container
                          .row
                            .col-md-12.col-sm-12
                              %ul.nav.nav-tabs.aspects_tabs{:role => "tablist"}
                                %li.active{:role => "presentation"}
                                  %a{"aria-controls" => "Статья 1", "data-toggle" => "tab", :href => "#article1-1", :role => "tab"}
                                    Статья
                                    1
                                %li{:role => "presentation"}
                                  %a{"aria-controls" => "Статья 2", "data-toggle" => "tab", :href => "#article1-2", :role => "tab"} Статья 2
                                %li{:role => "presentation"}
                                  %a{"aria-controls" => "Статья 3", "data-toggle" => "tab", :href => "#article1-3", :role => "tab"} Статья 3
                          .row
                            .col-md-12.col-sm-12
                              .aspect-main-block
                                .tab-content
                                  #article1-1.tab-pane.active.fade.in{:role => "tabpanel"}
                                    %h6.aspect-main-block-heading
                                      Ситуация с
                                      пчелами
                                    %p.aspect-main-block-text
                                      Пчелы недовольны тем,
                                      что на их мед
                                      постоянно покушаются Винни-Пух и его друзья. Желая
                                      разрешить
                                      конфликт мирным способом, они обратились к мудрой
                                      Сове.
                                    %img{:src => "img/aspect-pic1.jpg"}/
                                  #article1-2.tab-pane.fade{:role => "tabpanel"}
                                    %p.aspect-main-block-text
                                      Пчелы недовольны тем,
                                      что на их мед
                                      постоянно покушаются Винни-Пух и его друзья. Желая
                                      разрешить
                                      конфликт мирным способом, они обратились к мудрой
                                      Сове.
                                    %img{:src => "img/aspect-pic1.jpg"}/
                                  #article1-3.tab-pane.fade{:role => "tabpanel"}
                                    %img{:src => "img/aspect-pic1.jpg"}/
                  .item.color-theme-2
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                          %p.aspect-main-block-text
                            В популярной сказке Винни-Пух и его
                            друзья жаждали меда, но пчелы не давали забрать у себя плоды своего
                            труда. Чтобы раздобыть мед, Винни с компанией пытался обманом
                            пробраться в улей на Высоком дубе — не вышло, сутками подкарауливал
                            момент, когда все пчелы вылетят из улья, — не дождался; пытался
                            втянуть пчел в переговоры, предлагая грибы и ягоды в обмен на мед, —
                            был отвергнут.
                            Всего в истории участвовало трое четвероногих: сам Винни-Пух и его
                            друзья Пятачок и Кролик.
                          %img{:src => "img/aspect-pic2.jpg"}/
                  .item.color-theme-3
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                          %h6.aspect-main-block-heading
                            Трудности, связанные с
                            расположением конфликтующих сторон
                          %p.aspect-main-block-text
                            Как видно на карте, Винни-Пух с
                            друзьями живут достаточно близко к Высокому дубу.
                            Это часто обостряет конфликт, потому что пчелы не могут нормально
                            собирать мед,
                            постоянно беспокоясь, что их ограбят.
                          %img{:src => "img/aspect-pic3.jpg"}/
                  .item.color-theme-4
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-5
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-6
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-7
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-8
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-9
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                %a.myCarousel-control.left{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
                  %i.fa.fa-3x.fa-caret-left
                %a.myCarousel-control.right{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
                  %i.fa.fa-3x.fa-caret-right
    / Outer Ends
    / Javascript files
    / jQuery
    %script{:src => "js/jquery.js"}
    / Bootstrap JS
    %script{:src => "js/bootstrap.min.js"}
    / Magnific Popup
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / Owl carousel
    %script{:src => "js/owl.carousel.min.js"}
    / Respond JS for IE8
    %script{:src => "js/respond.min.js"}
    / HTML5 Support for IE
    %script{:src => "js/html5shiv.js"}
    / Content hover JS
    %script{:src => "js/jquery.contenthover.min.js"}
    / Javascript for this page
    %script{:src => "js/jqueryrotate.2.1.js"}
    / Excanvas JS for Knob Support in IE 8
    %script{:src => "js/excanvas.js"}
    / jQuery Knob
    %script{:src => "js/jquery.knob.js"}
    / Perfect scrollbar
    %script{:src => "js/perfect-scrollbar.jquery.min.js"}
    %script{:src => "js/waypoints.min.js"}
    / Custom JS. Type your JS code in custom.js file
    %script{:src => "js/custom.js"}
