!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Magnific Popup
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
    %link{:href => "css/custom-post.css", :rel => "stylesheet"}/
    %link{:href => "css/dropdowns-enhancement.css", :rel => "stylesheet"}/
  %body
    .outer.stage2_theme
      / Top bar starts
      %header.navbar.top_bar
        .container
          .navbar-header
            %a.navbar-brand{:href => "main.html"}
              %img{:src => "img/logo1.png"}/
          %ul.nav.navbar-nav.main_menu
            %li.active
              %a{:href => "1st-stage.html"} Процедура
            %li
              %a{:href => "cabinet-stage1.html"} Кабинет
            %li
              %a#popover_news.has_circle.popover_news{"data-content" => "\n                            <div class='popover_cont'>\n                            <a href='#' class='news-tooltip-icon' id='tooltip-i1'>\n                                <img src='img/icon-news-1.png'>\n                                <span class='news-tooltip-bottom-text'>добавлено</span>\n                            </a>\n                            <a href='#' class='news-tooltip-icon' id='tooltip-i2'>\n                                <img src='img/icon-news-2.png'>\n                                <span class='news-tooltip-bottom-text'>комментария</span>\n                            </a>\n                            <a href='#popup-news' class='news-tooltip-icon news-popup-href' id='tooltip-i3'>\n                                <img src='img/icon-news-3.png'>\n                                <span class='top-circle'>36</span>\n                                <span class='news-tooltip-bottom-text'>пометок</span>\n                            </a>\n                            <a href='#' class='news-tooltip-icon' id='tooltip-i4'>\n                                <img src='img/icon-news-4.png'>\n                                <span class='top-circle'>1</span>\n                                <span class='news-tooltip-bottom-text'>отредактировано</span>\n                            </a>\n                            </div>", "data-html" => "true", "data-placement" => "bottom", "data-toggle" => "popover", :href => "#"}
                Новости
                %span.top-circle 36
          .navbar-right.text-right.user_block.font_grey
            %a.book_icon{:href => "#"}
            %span.auth-divider |
            %a.font_lighter_grey.bold{:href => "#"}
              %i.fa.fa-exclamation-triangle
            %span.auth-divider |
            %a.font_grey.bold{:href => "#"}
              %i.fa.fa-globe.font_lighter_grey
              %small
                %i.fa.fa-angle-down
            %ul.dropdown-menu.dropdown-mini{:role => "menu"}
            %span.auth-divider |
            %span.badge.grey 500
            %small.font_lighter_grey.bold
              Лиза Школьник
              %a{:href => "profile.html"}
                %i.fa.fa-angle-down
      / Top Bar ends
      .subhead
        .container
          %h4.font_white Решение конфликта, возникшего из-за меда
        %button#tooltip_button_2.btn.btn-tooltip{:type => "button", :value => "Show"}
          %i.fa.fa-lightbulb-o
          Открыть подсказки
        %button#close_tooltip_button_2.btn.btn-tooltip-close{:type => "button", :value => "Destroy"}
          %i.fa.fa-lightbulb-o
          Закрыть подсказки
      .container
        .row
          .col-md-8.col_padding_right_3
            .border_grey.rounded_3.stages_block
              .btn-toolbar{:role => "toolbar"}
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage1{:href => "1st-stage.html", :role => "button"} 1
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage2{:href => "2nd-stage.html", :role => "button"}
                    2 СТАДИЯ: АНАЛИЗ
                    СИТУАЦИИ
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage3{:href => "3rd-stage.html", :role => "button"} 3
                  %a.btn.back_color_stage4{:href => "4th-stage.html", :role => "button"} 4
                  %a.btn.back_color_stage5{:href => "5th-stage.html", :role => "button"} 5
                  %a.btn.back_color_stage6{:href => "6th-stage.html", :role => "button"} 6
                  %a.btn.back_color_stage7{:href => "7th-stage.html", :role => "button"} 7
          .col-md-4.col_padding_left_3
            %a.open_welcome_popup{:href => "#popup-explanation-2nd"}
              .border_grey.rounded_3.help_icon
            .border_grey.rounded_3.progress_block
              .container
                .row
                  .col-xs-6.col-md-6.col_padding_right_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Ваш прогресс на стадии
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#486795", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
                  .col-xs-6.col-md-6.col_padding_left_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Прогресс других участников
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#486795", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
      / Main Block starts
      .main-block
        .container
          .stage-info-sort-block
            #tooltip2_1.btn-group.tooltip2_1{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "Сейчас вы просматриваете несовершенства, связанные только с этим аспектом, но в выпадающем меню вы можете выбрать любой другой аспект."}
              %span Аспекты (8) :
              %a.dropdown-toggle{"data-toggle" => "dropdown"}
                \---
                %span.caret
              %ul.dropdown-menu
                %li
                  %input#ex2_2_1{:name => "ex2_2", :type => "radio", :value => "1"}/
                  %label{:for => "ex2_2_1"}
                    %i.fa.fa-stop.font_dark_blue>
                    Мед и четвероногие
                %li
                  %input#ex2_2_2{:name => "ex2_2", :type => "radio", :value => "2"}/
                  %label{:for => "ex2_2_2"}
                    %i.fa.fa-stop.font_blue_green>
                    Мед и пчелы
                %li
                  %input#ex2_2_3{:name => "ex2_2", :type => "radio", :value => "3"}/
                  %label{:for => "ex2_2_3"}
                    %i.fa.fa-stop.font_blue_green2>
                    Пчелы и цветочные поляны
                %li
                  %input#ex2_2_4{:name => "ex2_2", :type => "radio", :value => "4"}/
                  %label{:for => "ex2_2_4"}
                    %i.fa.fa-stop.font_blue_green3>
                    Четвероногие и сахар
                %li
                  %input#ex2_2_5{:name => "ex2_2", :type => "radio", :value => "5"}/
                  %label{:for => "ex2_2_5"}
                    %i.fa.fa-stop.font_light_green
                    Пчелы, четвероногие и зимняя спячка
                %li
                  %input#ex2_2_6{:name => "ex2_2", :type => "radio", :value => "6"}/
                  %label{:for => "ex2_2_6"}
                    %i.fa.fa-stop.font_sandy
                    Винни-Пух и все-все-все
                %li
                  %input#ex2_2_7{:name => "ex2_2", :type => "radio", :value => "7"}/
                  %label{:for => "ex2_2_7"}
                    %i.fa.fa-stop.font_purple
                    Эффективность пчел в сборе меда
          .stage-info-sort-block
            .row
              %br/
              .col-md-7
                %span.stage-heading
                  Несовершенства (2)
                  %i.fa.fa-question-circle
              .col-md-5
                .sort-block.pull-right
                  %span.sort-label Сортировать:
                  %span.sort-date
                  %span#tooltip2_2.sort-rate.tooltip2_2{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "При помощи этих фильтров вы можете выбирать, в каком порядке будут отображаться несовершенства."}
                  %span.sort-all ВСЕ
                  %a{:href => "cabinet-stage2.html"}
                    %button.btn.add-button
                      %span> +
                      Несовершенство
          .stage-post-block
            .row
              .col-md-6
                .post
                  .post-header.white
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img50{:src => "img/ava-pyat.jpg"}/
                        %p.poster-name Пятачок
                        %p.poster-name
                        %p.time 21.12.2014
                      .media-body.pink
                        %table.table
                          %tbody
                            %tr.what
                              %td.col-md-2.text-center.right-column
                                Что
                              %td.col-md-10.left-column.bold
                                Винни-Пух постоянно
                                раздражает пчел своим излишним вниманием к Высокому дубу
                            %tr
                              %td.col-md-2.text-center.right-column Где
                              %td.col-md-10.left-column Около Высокого дуба
                            %tr
                              %td.col-md-2.text-center.right-column Когда
                              %td.col-md-10.left-column
                                При выслеживании удачного момента
                                для кражи меда
                            %tr
                              %td.col-md-2.text-center.right-column
                              %td.col-md-10.left-column
                  .contenthover
                    .arrow.open-popup{"data-placement" => "2", "data-target" => "1"}
                      / data-placement contents stage num, data-target - popup num
                      %i.fa.fa-angle-right
                  #tooltip2_3.post-bottom.white.tooltip2_3{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "В цветных квадратиках скрывается перечень аспектов, связанных с данным несовершенством. Нажмите на любой из них, чтобы увидеть полное название аспекта."}
                    .row
                      .col-md-9.col_padding_right_3
                        %small.pull-left{:style => "margin-right: 3px;"} Аспекты
                        #stripe1.post-theme
                          %a#stripe1.tag-stripes.dark-blue.active{:href => "#"}
                            %span.tags Взаимоотношения четвероногих и пчел
                          %a#stripe2.tag-stripes.blue-green{:href => "#"}
                            %span.tags Четвероногие и сахар
                          %a#stripe3.tag-stripes.blue-green2{:href => "#"}
                            %span.tags Пчелы, четвероногие и зимняя спячка
                          %a#stripe4.tag-stripes.blue-green3{:href => "#"}
                            %span.tags Эффективность пчел в сборе меда
                          %a#stripe5.tag-stripes.light-green{:href => "#"}
                            %span.tags Эффективность пчел в сборе меда
                      .col-md-3.col_padding_left_3
                        .text-right.small_icons
                          %span.popup2
                            5
                            %i.fa.fa-comment
                          %span.popup2
                            9
                            %i.fa.fa-thumbs-up
                          %span.popup2
                            1
                            %i.fa.fa-thumbs-down
              .col-md-6
                .post
                  .post-header.white
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img50.img-circle{:src => "img/ava-pyat.jpg"}/
                        %p.poster-name Пятачок
                        %p.poster-name
                        %p.time 21.12.2014
                      .media-body.blue
                        %table.table
                          %tbody
                            %tr.what
                              %td.col-md-2.text-center.right-column
                                Что
                              %td.col-md-10.left-column.bold
                                Взаимное недоверие
                                четвероногих и пчел
                            %tr
                              %td.col-md-2.text-center.right-column Где
                              %td.col-md-10.left-column В сообществе обитателей леса
                            %tr
                              %td.col-md-2.text-center.right-column Когда
                              %td.col-md-10.left-column При переговорах о меде
                            %tr
                              %td.col-md-2.text-center.right-column
                              %td.col-md-10.left-column
                  .contenthover
                    .arrow.open-popup{"data-placement" => "2", "data-target" => "1"}
                      / data-placement contents stage num, data-target - popup num
                      %i.fa.fa-angle-right
                  .post-bottom.white
                    .row
                      .col-md-9.col_padding_right_3
                        %small.pull-left{:style => "margin-right: 3px;"} Аспекты
                        #stripe12.post-theme
                          %a#stripe12.tag-stripes.dark-blue.active{:href => "#"}
                            %span.tags Взаимоотношения четвероногих и пчел
                          %a#stripe12.tag-stripes.blue-green{:href => "#"}
                            %span.tags Четвероногие и сахар
                          %a#stripe12.tag-stripes.blue-green2{:href => "#"}
                            %span.tags Пчелы, четвероногие и зимняя спячка
                          %a#stripe14.tag-stripes.blue-green3{:href => "#"}
                            %span.tags Эффективность пчел в сборе меда
                          %a#stripe15.tag-stripes.light-green{:href => "#"}
                            %span.tags Эффективность пчел в сборе меда
                      .col-md-3.col_padding_left_3
                        .text-right.small_icons
                          %span.popup2
                            5
                            %i.fa.fa-comment
                          %span.popup2
                            9
                            %i.fa.fa-thumbs-up
                          %span.popup2
                            1
                            %i.fa.fa-thumbs-down
      / Main Block ends
      #popup-2-1.popup-window.detailed_popup.popup-w985.mfp-hide
        .popup.popup_rounded.popup_color_theme_stage2
          .modal_title
            .row
              .col-md-8
                %h4.bold.font_dark_grey
                  Несовершенство "Винни-Пух постоянно раздражает пчел своим излишним вниманием к Высокому дубу"
              .col-md-4
                .row
                  .col-md-12
                    .text-right.post_likes
                      %span.bold
                        5
                        %i.fa.fa-comment.theme_font_color
                      %span.bold
                        9
                        %i.fa.fa-thumbs-up.theme_font_color
                      %span.bold
                        1
                        %i.fa.fa-thumbs-down.theme_font_color
                      %span
                        %i.fa.fa-exclamation-triangle.font_lighter_grey
                      %small 21.12.2014
          .modal_body
            .divider25
            .container
              .col-md-5
                .border_light_grey.rounded_5.imperf_left
                  .media.comment.main_line.pink
                    .container
                      .media-left
                        %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                      .media-body
                        %h5.media-heading.bold Винни-Пух
                  %table.table.pink
                    %tr
                      %td.col-md-2.text-center.right-column
                        Что
                      %td.col-md-10.left-column
                        Винни-Пух постоянно
                        раздражает пчел своим излишним вниманием к Высокому дубу
                    %tr
                      %td.col-md-2.text-center.right-column Где
                      %td.col-md-10.left-column Около Высокого дуба
                    %tr
                      %td.col-md-2.text-center.right-column Когда
                      %td.col-md-10.left-column
                        При выслеживании удачного момента
                        для кражи меда
                  .divider10
                  .index_block
                    .text-center.col-md-1
                      %i.fa.fa-exclamation-triangle.font_lighter_grey
                    .col-md-11
                      %h5 Замечание модератора
                      мотивированы продавать продукцию Инвар, фиксируя на ней
                      свой процент от продажи
                  .index_block
                    .text-center.col-md-1
                      %i.fa.fa-square.font_dark_blue
                    .col-md-11
                      Взаимоотношения четвероногих и пчел
                  .index_block
                    .text-center.col-md-1
                      %i.fa.fa-square.font_blue_green
                    .col-md-11
                      Эффективность пчел в сборе меда
                  .index_block
                    .text-center.col-md-1
                      %i.fa.fa-square.font_blue_green2
                    .col-md-11
                      Винни-Пух и все-все-все
                  .index_block
                    .text-center.col-md-1
                      %i.fa.fa-square.font_blue_green3
                    .col-md-11
                      Пчелы и цветочные поляны
                  .index_block
                    .text-center.col-md-1
                      %i.fa.fa-square.font_light_green
                    .col-md-11
                      Эффективность пчел в сборе меда
                  .divider10
              .col-md-7
                .container
                  .row
                    .col-md-12.theme_font_color.text-right.no_padding_col
                      21.12.2014
                .divider5
                .divider_1_grey
                #myCarousel.carousel.slide{"data-ride" => "carousel"}
                  .carousel-inner{:role => "listbox"}
                    .item.active
                      .media.comment
                        .media-left
                          %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                        .media-body
                          %h5.media-heading.bold Винни-Пух
                          %span.date.theme_font_color 15:28
                        %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                        .post-interfaces-buttons
                          %button{:type => "button"}
                            %span.bold
                              %i.fa.fa-comment.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              9
                              %i.fa.fa-thumbs-up.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              1
                              %i.fa.fa-thumbs-down.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              %i.fa.fa-reply.fa-rotate-180.theme_font_color
                      .divider_1_grey
                    .item
                      .media.comment
                        .media-left
                          %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                        .media-body
                          %h5.media-heading.bold Винни-Пух
                          %span.date.theme_font_color 15:28
                        %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                        .post-interfaces-buttons
                          %button{:type => "button"}
                            %span.bold
                              %i.fa.fa-comment.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              9
                              %i.fa.fa-thumbs-up.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              1
                              %i.fa.fa-thumbs-down.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              %i.fa.fa-reply.fa-rotate-180.theme_font_color
                      .divider_1_grey
                      .media.comment
                        .media-left
                          %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                        .media-body
                          %h5.media-heading.bold Винни-Пух
                          %span.date.theme_font_color 15:28
                        %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                        .post-interfaces-buttons
                          %button{:type => "button"}
                            %span.bold
                              %i.fa.fa-comment.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              9
                              %i.fa.fa-thumbs-up.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              1
                              %i.fa.fa-thumbs-down.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              %i.fa.fa-reply.fa-rotate-180.theme_font_color
                      .divider_1_grey
                    .item
                      .media.comment
                        .media-left
                          %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                        .media-body
                          %h5.media-heading.bold Винни-Пух
                          %span.date.theme_font_color 15:28
                        %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                        .post-interfaces-buttons
                          %button{:type => "button"}
                            %span.bold
                              %i.fa.fa-comment.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              9
                              %i.fa.fa-thumbs-up.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              1
                              %i.fa.fa-thumbs-down.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              %i.fa.fa-reply.fa-rotate-180.theme_font_color
                      .divider_1_grey
                      .media.comment
                        .media-left
                          %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                        .media-body
                          %h5.media-heading.bold Винни-Пух
                          %span.date.theme_font_color 15:28
                        %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                        .post-interfaces-buttons
                          %button{:type => "button"}
                            %span.bold
                              %i.fa.fa-comment.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              9
                              %i.fa.fa-thumbs-up.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              1
                              %i.fa.fa-thumbs-down.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              %i.fa.fa-reply.fa-rotate-180.theme_font_color
                      .divider_1_grey
                      .media.comment
                        .media-left
                          %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                        .media-body
                          %h5.media-heading.bold Винни-Пух
                          %span.date.theme_font_color 15:28
                        %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                        .post-interfaces-buttons
                          %button{:type => "button"}
                            %span.bold
                              %i.fa.fa-comment.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              9
                              %i.fa.fa-thumbs-up.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              1
                              %i.fa.fa-thumbs-down.theme_font_color
                          %button{:type => "button"}
                            %span.bold
                              %i.fa.fa-reply.fa-rotate-180.theme_font_color
                      .divider_1_grey
                .divider15
                .post-interfaces
                  %form.form-group.comment_add
                    .input_cont
                      %textarea.theme_back_color{:placeholder => "Ваш комментарий"}
                    %button.btn{:type => "button"}
                      %span.bold
                        %i.fa.fa-comment.theme_font_color
                %nav.text-center
                  %ul.pagination
                    %li
                      %a.myCarousel-target.active{"data-slide-to" => "0", "data-target" => "#myCarousel"} 1
                    %li
                      %a.myCarousel-target{"data-slide-to" => "1", "data-target" => "#myCarousel"} 2
                    %li
                      %a.myCarousel-target{"data-slide-to" => "2", "data-target" => "#myCarousel"} 3
            .divider25
      #popup-explanation-2nd.popup-window.popup-explanation.popup-w710.mfp-hide.welcome_popup
        .popup.popup_rounded
          .modal_badge.back_color_stage2.rounded_2.font_white 2 СТАДИЯ
          %h2
            %img.expl-header-img-1{:src => "img/good-shot1.png"}>/
            Цель 2-й стадии
          %p.expl-sub-heading
            На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний,
            и принять участие в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
            В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для исправления
            текущей ситуации.
          %h2
            %img.expl-header-img-2{:src => "img/flag1.png"}>/
            С чего начать?
          %button.btn.red.close_magnific Начать работу
    / Outer Ends
    / Javascript files
    / jQuery
    %script{:src => "js/jquery.js"}
    / Bootstrap JS
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/dropdowns-enhancement.js"}
    / Magnific Popup
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / Owl carousel
    %script{:src => "js/owl.carousel.min.js"}
    / Respond JS for IE8
    %script{:src => "js/respond.min.js"}
    / HTML5 Support for IE
    %script{:src => "js/html5shiv.js"}
    / Content hover JS
    %script{:src => "js/jquery.contenthover.min.js"}
    / Javascript for this page
    / Excanvas JS for Knob Support in IE 8
    %script{:src => "js/waypoints.min.js"}
    %script{:src => "js/excanvas.js"}
    / jQuery Knob
    %script{:src => "js/jquery.knob.js"}
    / Custom JS. Type your JS code in custom.js file
    %script{:src => "js/custom.js"}
    :javascript
      $('.open_welcome_popup').magnificPopup({
          type: 'inline',
          midClick: true
      });
      $('.open_welcome_popup').magnificPopup('open');
