!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    / Perfect scrollbar
    %link{:href => "css/perfect-scrollbar.min.css", :rel => "stylesheet"}/
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
    %link{:href => "css/custom-post.css", :rel => "stylesheet"}/
    %link{:href => "css/sprites.css", :rel => "stylesheet"}/
    %link{:href => "css/colors.css", :rel => "stylesheet"}/
  %body.stage3_theme
    .outer
      #slide-panel.slide-outer.visible{"data-position" => "left"}
        %span#opener.slide-opener.icon_new.i_new_stage.rounded_2.tooltip1{"data-placement" => "right", "data-toggle" => "tooltip", "data-trigger" => "manual", :title => "Если здесь горит красная надпись NEW, значит, где-то за пределами экрана появились новые идеи или комментарии."}
          %img{:src => "img/text-slider-opener.png"}/
        #tooltip_slide_panel.slide-inner.slide_stage3.white.tooltip1{"data-placement" => "right", "data-toggle" => "tooltip", "data-trigger" => "manual", :title => "Выберите из списка интересующие вас несовершенства, чтобы оставить на экране только те идеи, которые с ними связаны."}
          .ps_cont
            .divider15
            .checkox_item
              %span
                %span.cb_input
                  %input#check0{:type => "checkbox"}/
                  %label{:for => "check0"}
                    %i.fa.fa-check
              %span.text_label
                %label{:for => "check0"} Выбрать все
            .slide_table_wrap
              .checkox_item
                %span
                  %span.cb_input
                    %input#check1{:type => "checkbox"}/
                    %label{:for => "check1"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "0", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check1"}
                    Выбрать все выбрать все выбрать все выбрать
                    все
                %span.cb_doc 2
                %span.cb_com 19
              .checkox_item
                %span
                  %span.cb_input
                    %input#check2{:type => "checkbox"}/
                    %label{:for => "check2"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "1", "data-me-type" => "imperf"} 1
                %span.text_label
                  %label{:for => "check2"} Выбрать все выбрать все выбрать все
                %span.cb_doc 2
                %span.cb_com 34
              .checkox_item
                %span
                  %span.cb_input
                    %input#check3{:type => "checkbox"}/
                    %label{:for => "check3"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "2", "data-me-type" => "imperf"} 1
                %span.text_label
                  %label{:for => "check3"} Выбрать все
                %span.cb_doc 1
                %span.cb_com
              .checkox_item
                %span
                  %span.cb_input
                    %input#check4{:type => "checkbox"}/
                    %label{:for => "check4"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "3", "data-me-type" => "imperf"} 8
                %span.text_label
                  %label{:for => "check4"} Выбрать все выбрать все
                %span.cb_doc 3
                %span.cb_com 17
              .checkox_item
                %span
                  %span.cb_input
                    %input#check5{:type => "checkbox"}/
                    %label{:for => "check5"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "4", "data-me-type" => "imperf"} 6
                %span.text_label
                  %label{:for => "check5"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 4
              .checkox_item
                %span
                  %span.cb_input
                    %input#check6{:type => "checkbox"}/
                    %label{:for => "check6"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "5", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check6"} Выбрать все
                %span.cb_doc
                %span.cb_com 15
              .checkox_item
                %span
                  %span.cb_input
                    %input#check7{:type => "checkbox"}/
                    %label{:for => "check7"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "6", "data-me-type" => "imperf"} 3
                %span.text_label
                  %label{:for => "check7"} Выбрать все
                %span.cb_doc
                %span.cb_com
              .checkox_item
                %span
                  %span.cb_input
                    %input#check8{:type => "checkbox"}/
                    %label{:for => "check8"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "7", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check8"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 5
              .checkox_item
                %span
                  %span.cb_input
                    %input#check8{:type => "checkbox"}/
                    %label{:for => "check8"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "8", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check8"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 5
              .checkox_item
                %span
                  %span.cb_input
                    %input#check8{:type => "checkbox"}/
                    %label{:for => "check8"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "9", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check8"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 5
              .checkox_item
                %span
                  %span.cb_input
                    %input#check8{:type => "checkbox"}/
                    %label{:for => "check8"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "10", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check8"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 5
              .checkox_item
                %span
                  %span.cb_input
                    %input#check8{:type => "checkbox"}/
                    %label{:for => "check8"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "11", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check8"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 5
              .checkox_item
                %span
                  %span.cb_input
                    %input#check8{:type => "checkbox"}/
                    %label{:for => "check8"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "12", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check8"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 5
              .checkox_item
                %span
                  %span.cb_input
                    %input#check8{:type => "checkbox"}/
                    %label{:for => "check8"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "13", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check8"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 5
              .checkox_item
                %span
                  %span.cb_input
                    %input#check8{:type => "checkbox"}/
                    %label{:for => "check8"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "14", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check8"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 5
              .checkox_item
                %span
                  %span.cb_input
                    %input#check8{:type => "checkbox"}/
                    %label{:for => "check8"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check8"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 5
              .checkox_item
                %span
                  %span.cb_input
                    %input#check8{:type => "checkbox"}/
                    %label{:for => "check8"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "16", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check8"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 5
              .checkox_item
                %span
                  %span.cb_input
                    %input#check8{:type => "checkbox"}/
                    %label{:for => "check8"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "17", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check8"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 5
              .checkox_item
                %span
                  %span.cb_input
                    %input#check8{:type => "checkbox"}/
                    %label{:for => "check8"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "18", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check8"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 5
              .checkox_item
                %span
                  %span.cb_input
                    %input#check8{:type => "checkbox"}/
                    %label{:for => "check8"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "19", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check8"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 5
              .checkox_item
                %span
                  %span.cb_input
                    %input#check8{:type => "checkbox"}/
                    %label{:for => "check8"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "20", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check8"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 5
              .checkox_item
                %span
                  %span.cb_input
                    %input#check8{:type => "checkbox"}/
                    %label{:for => "check8"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "21", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check8"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 5
              .checkox_item
                %span
                  %span.cb_input
                    %input#check8{:type => "checkbox"}/
                    %label{:for => "check8"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "22", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check8"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 5
              .checkox_item
                %span
                  %span.cb_input
                    %input#check8{:type => "checkbox"}/
                    %label{:for => "check8"}
                      %i.fa.fa-check
                %span
                  %span.color_counter.color_me{"data-me-action" => "background-color", "data-me-color" => "23", "data-me-type" => "imperf"} 2
                %span.text_label
                  %label{:for => "check8"} Выбрать все
                %span.cb_doc 1
                %span.cb_com 5
            .divider15
      / Top bar 4rts
      %header.navbar.top_bar
        .container
          .navbar-header
            %a.navbar-brand{:href => "main.html"}
              %img{:src => "img/logo1.png"}/
          %ul.nav.navbar-nav.main_menu
            %li.active
              %a.menu_a{:href => "1st-stage.html"} Процедура
            %li
              %a.menu_a{:href => "3rd-stage-cabinet-profile.html"} Кабинет
            %li.has_dropwindow
              %a.has_circle.drop_opener.menu_a{"data-dd-opener" => "dd_2"}
                Мои уведомления
                %span.top-circle 1
              #dd_2.dropdown_window.dd_435.notifications_drop.text-left
                .dd_wrapper
                  .dd_top.thin.light-grey
                    %i.fa.fa-close.fa-lg.dd_close{"data-dd-closer" => "dd_2"}
                  .dd_bottom.white
                    .divider10
                    .container
                      .row
                        .col-xs-12
                          .ps_cont
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage4
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage4
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            %a.dd_notice.moder{:href => "#"}
                              %span.dd_n_cell.left
                                %i.fa.fa-lg.fa-exclamation-triangle
                              %span.dd_n_cell.right
                                %span
                                  22:00 11.03.2015
                                  = succeed ":" do
                                    %span.bold Модератор
                                %p
                                  На этой стадии вам предстоит выявить проблемы, связанные
                                  с ситуацией, описанной в базе знаний, и принять участие
                                  в обсуждении проблем, выявленных другими участниками. В
                                  нашей терминологии такие проблемы называются
                                  несовершенствами.
                            .dd_nav_divider.font_color_stage4
                              %span 4
                            .divider10
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage2
                                %i.fa.fa-lg.fa-thumbs-up
                              %span.dd_n_cell.right.font_color_stage2
                                %span
                                  19:45 12.03.2015
                                  %span.bold Liza
                                  в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            .dd_nav_divider.font_color_stage2
                              %span 2
                            .divider10
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage1
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage1
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage1
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage1
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage1
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage1
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            .dd_nav_divider.font_color_stage1
                              %span 1
                            .divider10
                    .divider20
          .navbar-right.text-right.user_block.font_grey
            %a#tooltip_db.book_icon.open-popup-link.tooltip1{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "manual", :href => "#popup-database", :title => "Жмите сюда, чтобы освежить в памяти базу знаний."}
            %span.auth-divider |
            %span.has_dropwindow
              %button.btn_reset.font_lighter_grey.bold.drop_opener{"data-dd-opener" => "dd_1"}
                %i.fa.fa-exclamation-triangle
              #dd_1.dropdown_window.dd_570.expert_news_drop.text-left
                .dd_badge
                  %i.fa.fa-exclamation-triangle
                  %small Новости от эксперта
                .dd_wrapper.white
                  .dd_top.light-grey
                    %i.fa.fa-close.fa-lg.dd_close{"data-dd-closer" => "dd_1"}
                  .dd_bottom
                    .ps_cont
                      .dd_xprt_notice
                        %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_1"}
                          .row
                            .col-xs-9
                              Представляем вам наш экспертный комитет:
                            .col-xs-3.text-right
                              %span.dd_n_date 1.12.2015
                              %i.fa.fa-angle-right.font_grey.bold
                      #xprt_1.dd_xprt_article.collapse
                        .dd_expert
                          .divider20
                          .row
                            .col-xs-3.text-center
                              %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
                            .col-xs-9
                              %h4 Лиза Школьник
                              %p
                                Эксперт в электронной коммерции, опыт с 1997 года. Имеет
                                обширный опыт в интернет-маркетинге, включая создание и
                                продвижение интернет-проектов, любые виды рекламы
                          .divider20
                        .dd_expert
                          .divider20
                          .row
                            .col-xs-3.text-center
                              %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
                            .col-xs-9
                              %h4 Владимир Видро
                              %p
                                Эксперт в электронной коммерции, опыт с 1997 года. Имеет
                                обширный опыт в интернет-маркетинге, включая создание и
                                продвижение интернет-проектов, любые виды рекламы
                          .divider20
                        .dd_expert
                          .divider20
                          .row
                            .col-xs-3.text-center
                              %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
                            .col-xs-9
                              %h4 Владимир Видро
                              %p
                                Эксперт в электронной коммерции, опыт с 1997 года. Имеет
                                обширный опыт в интернет-маркетинге, включая создание и
                                продвижение интернет-проектов, любые виды рекламы
                          .divider20
                      .dd_xprt_notice
                        %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_2"}
                          .row
                            .col-xs-9
                              Заголовок 1
                            .col-xs-3.text-right
                              %span.dd_n_date 1.12.2015
                              %i.fa.fa-angle-right.font_grey.bold
                      #xprt_2.dd_xprt_article.collapse
                        %p
                          На этой стадии вам предстоит выявить проблемы, связанные с ситуацией,
                          описанной в базе знаний, и принять участие
                          в обсуждении проблем, выявленных другими участниками. В нашей
                          терминологии такие проблемы называются несовершенствами.
                          В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                          взгляд, совершенно необходимо устранить для
                          исправления текущей ситуации.
                        %p
                          На этой стадии вам предстоит выявить проблемы, связанные с ситуацией,
                          описанной в базе знаний, и принять участие
                          в обсуждении проблем, выявленных другими участниками. В нашей
                          терминологии такие проблемы называются несовершенствами.
                          В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                          взгляд, совершенно необходимо устранить для
                          исправления текущей ситуации.
                      .dd_xprt_notice
                        %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_3"}
                          .row
                            .col-xs-9
                              Заголовок 2
                            .col-xs-3.text-right
                              %span.dd_n_date 1.12.2015
                              %i.fa.fa-angle-right.font_grey.bold
                      #xprt_3.dd_xprt_article.collapse
                        %p
                          На этой стадии вам предстоит выявить проблемы, связанные с ситуацией,
                          описанной в базе знаний, и принять участие
                          в обсуждении проблем, выявленных другими участниками. В нашей
                          терминологии такие проблемы называются несовершенствами.
                          В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                          взгляд, совершенно необходимо устранить для
                          исправления текущей ситуации.
                        %p
                          На этой стадии вам предстоит выявить проблемы, связанные с ситуацией,
                          описанной в базе знаний, и принять участие
                          в обсуждении проблем, выявленных другими участниками. В нашей
                          терминологии такие проблемы называются несовершенствами.
                          В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                          взгляд, совершенно необходимо устранить для
                          исправления текущей ситуации.
                      .dd_xprt_notice
                        %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_4"}
                          .row
                            .col-xs-9
                              Заголовок 3
                            .col-xs-3.text-right
                              %span.dd_n_date 1.12.2015
                              %i.fa.fa-angle-right.font_grey.bold
                      #xprt_4.dd_xprt_article.collapse
                        %p
                          На этой стадии вам предстоит выявить проблемы, связанные с ситуацией,
                          описанной в базе знаний, и принять участие
                          в обсуждении проблем, выявленных другими участниками. В нашей
                          терминологии такие проблемы называются несовершенствами.
                          В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                          взгляд, совершенно необходимо устранить для
                          исправления текущей ситуации.
                        %p
                          На этой стадии вам предстоит выявить проблемы, связанные с ситуацией,
                          описанной в базе знаний, и принять участие
                          в обсуждении проблем, выявленных другими участниками. В нашей
                          терминологии такие проблемы называются несовершенствами.
                          В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                          взгляд, совершенно необходимо устранить для
                          исправления текущей ситуации.
                      .dd_xprt_notice
                        %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_5"}
                          .row
                            .col-xs-9
                              Заголовок 4
                            .col-xs-3.text-right
                              %span.dd_n_date 1.12.2015
                              %i.fa.fa-angle-right.font_grey.bold
                      #xprt_5.dd_xprt_article.collapse
                        %p
                          На этой стадии вам предстоит выявить проблемы, связанные с ситуацией,
                          описанной в базе знаний, и принять участие
                          в обсуждении проблем, выявленных другими участниками. В нашей
                          терминологии такие проблемы называются несовершенствами.
                          В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                          взгляд, совершенно необходимо устранить для
                          исправления текущей ситуации.
                        %p
                          На этой стадии вам предстоит выявить проблемы, связанные с ситуацией,
                          описанной в базе знаний, и принять участие
                          в обсуждении проблем, выявленных другими участниками. В нашей
                          терминологии такие проблемы называются несовершенствами.
                          В конце стадии вы проголосуете за те несовершенства, которые, на ваш
                          взгляд, совершенно необходимо устранить для
                          исправления текущей ситуации.
            %span.auth-divider |
            %a.font_grey.bold{:href => "#"}
              %i.fa.fa-globe.font_lighter_grey
              %small
                %i.fa.fa-angle-down
            %ul.dropdown-menu.dropdown-mini{:role => "menu"}
            %span.auth-divider |
            %span.badge.grey 500
            %small.font_lighter_grey.bold
              Лиза Школьник
              %a{:href => "profile.html"}
                %i.fa.fa-angle-down
      / Top Bar ends
      .subhead
        .container
          %h4.font_white Решение конфликта, возникшего из-за меда
        %button#tooltip_button_1.btn.btn-tooltip{:type => "button", :value => "Show"}
          %i.fa.fa-lightbulb-o
          Открыть подсказки
      .container
        .row
          .col-md-8.col_padding_right_3
            .border_grey.rounded_3.stages_block
              .btn-toolbar{:role => "toolbar"}
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage1{:href => "1st-stage.html", :role => "button"} 1
                  %a.btn.back_color_stage2{:href => "2nd-stage.html", :role => "button"} 2
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage3{:href => "3rd-stage.html", :role => "button"} 3 СТАДИЯ: СБОР ИДЕЙ
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage4{:href => "4th-stage.html", :role => "button"} 4
                  %a.btn.back_color_stage5{:href => "5th-stage.html", :role => "button"} 5
                  %a.btn.back_color_stage6.icon_new.i_new_stage{:href => "6th-stage.html", :role => "button"} 6
                  %a.btn.back_color_stage7{:href => "7th-stage.html", :role => "button"} 7
          .col-md-4.col_padding_left_3
            %a.open_welcome_popup{:href => "#popup-explanation-3rd"}
              .border_grey.rounded_3.help_icon
            .border_grey.rounded_3.progress_block
              .container
                .row
                  .col-xs-6.col-md-6.col_padding_right_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Ваш прогресс на стадии
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#bd8cb8", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
                  .col-xs-6.col-md-6.col_padding_left_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Прогресс других участников
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#bd8cb8", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
      / Main Block starts
      .main-block
        .container
          .stage-info-sort-block
            .row
              %br/
              .col-md-7
                %span.stage-heading Идеи (2)
              .col-md-5
                .sort-block.pull-right
                  %span.sort-label Сортировать по новым:
                  .sort-1.sort_btn.sprite_com.sprite-item3_2_1
                    %span 25
                  .sort-2.sort_btn.sprite_doc.sprite-item3_1
                    %span 2
                  %a{:href => "3rd-stage-cabinet.html"}
                    %button.btn.add-button
                      %span> +
                      Идея
          .stage-post-block
            .row
              .col-md-6
                .full_post
                  .post-top-header
                    %a.btn.btn-white.btn-xs{:href => "#"}
                      %i.fa.fa-trophy.fa-lg
                    %a.btn.btn-white.btn-xs{"data-id" => "1", "data-type" => "important", :href => "#"}
                      %b Важно
                  .post.post_type_3.merged
                    %div{"data-important" => "1"}
                    .post-header.white
                    .post-body.ch_action{"data-for" => "post_ch1"}
                      .media
                        .media-left.text-center.gradient.post-poster
                          %img.img-circle.img50{:src => "img/ava-pyat.jpg"}/
                          %p.poster-name Пятачок
                        .media-body.white-gray
                          %h5.bold.font_color_stage3.open-popup{"data-placement" => "3", "data-target" => "1"}
                            Установить вентилятор при большом скоплении людей в комнате
                            %i.fa.fa-angle-right
                          .post-text
                            %p
                              Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
                              ipsum
                              Lorem ipsum Lorem ipsum Lorem ipsum
                          #post_ch1.post_cont_hover.post_tall.white
                            .wrapper.ps_cont.half_wheel_speed
                              .post_cont_inner
                                .comment_preview
                                  %span.bold Liza:
                                  По
                                  поводу кнопки "всё". Она не очень интуитивна и красива.
                                .comment_preview
                                  %span.bold Liza:
                                  Начальная - это та, что грузится со страницей. Но она по
                                  дате
                                  сортировки
                                .comment_preview
                                  %span.bold irivertime:
                                  И
                                  обратная сортировка должна тоже как-то выделяться
                                .comment_preview
                                  %span.bold Liza:
                                  По
                                  поводу кнопки "всё". Она не очень интуитивна и красива.
                                .comment_preview
                                  %span.bold Liza:
                                  Начальная - это та, что грузится со страницей. Но она по
                                  дате
                                  сортировки
                                .comment_preview
                                  %span.bold irivertime:
                                  И
                                  обратная сортировка должна тоже как-то выделяться
                                .comment_preview
                                  %span.bold Liza:
                                  По
                                  поводу кнопки "всё". Она не очень интуитивна и красива.
                                .comment_preview
                                  %span.bold Liza:
                                  Начальная - это та, что грузится со страницей. Но она по
                                  дате
                                  сортировки
                                .comment_preview
                                  %span.bold irivertime:
                                  И
                                  обратная сортировка должна тоже как-то выделяться
                    #tooltip3_2.post-bottom.white.tooltip1{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "manual", :title => "В цветных квадратиках скрывается перечень несовершенств, связанных с данной идеей. Нажмите на любой из них, чтобы увидеть полное название несовершенства."}
                      .row
                        .col-md-2.col_padding_right_3
                          %small.pull-left{:style => "margin-right: 3px;"} Несовершенства
                        .col-md-7.col_padding_right_3.themes_cont
                          #stripe1.post-theme
                            %span.tag-stripes.color_me.active{"data-me-action" => "background-color", "data-me-color" => "1", "data-me-type" => "imperf"}
                              %span.tags Слишком низкие
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "3", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Четвероногим нечем
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "6", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Активное противостояние
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                        .col-md-3.col_padding_left_3
                          .text-right.small_icons
                            %span.popup2.comments_icon{"data-for" => "post_ch1"}
                              %small 5
                              %i.fa.fa-comment-o
                            %span.popup2
                              %small 9
                              %i.fa.fa-thumbs-o-up.fa-flip-horizontal
                            %span.popup2
                              %small 1
                              %i.fa.fa-thumbs-o-down.fa-flip-horizontal
                            %span.popup2
                              %i.fa.fa-exclamation-triangle.font_lighter_grey
              .col-md-6
                .full_post
                  .post-top-header
                    %a.btn.btn-white.btn-xs{:href => "#"}
                      %i.fa.fa-trophy.fa-lg
                    %a.btn.btn-white.btn-xs{"data-id" => "2", "data-type" => "important", :href => "#"}
                      %b Важно
                  .post.post_type_3.merged
                    %div{"data-important" => "2"}
                    .post-header.white
                    .post-body.ch_action{"data-for" => "post_ch2"}
                      .media
                        .media-left.text-center.gradient.post-poster
                          %img.img-circle.img50{:src => "img/ava-pyat.jpg"}/
                          %p.poster-name Пятачок
                        .media-body.white-gray
                          %h5.bold.font_color_stage3.open-popup{"data-placement" => "3", "data-target" => "1"}
                            Установить вентилятор при большом скоплении людей в комнате
                            %i.fa.fa-angle-right
                          .post-text
                            %p
                              Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
                              ipsum
                              Lorem ipsum Lorem ipsum Lorem ipsum
                          #post_ch2.post_cont_hover.post_tall.white
                            .wrapper.ps_cont.half_wheel_speed
                              .post_cont_inner
                                .comment_preview
                                  %span.bold Liza:
                                  По
                                  поводу кнопки "всё". Она не очень интуитивна и красива.
                                .comment_preview
                                  %span.bold Liza:
                                  Начальная - это та, что грузится со страницей. Но она по
                                  дате
                                  сортировки
                                .comment_preview
                                  %span.bold irivertime:
                                  И
                                  обратная сортировка должна тоже как-то выделяться
                                .comment_preview
                                  %span.bold Liza:
                                  По
                                  поводу кнопки "всё". Она не очень интуитивна и красива.
                                .comment_preview
                                  %span.bold Liza:
                                  Начальная - это та, что грузится со страницей. Но она по
                                  дате
                                  сортировки
                                .comment_preview
                                  %span.bold irivertime:
                                  И
                                  обратная сортировка должна тоже как-то выделяться
                                .comment_preview
                                  %span.bold Liza:
                                  По
                                  поводу кнопки "всё". Она не очень интуитивна и красива.
                                .comment_preview
                                  %span.bold Liza:
                                  Начальная - это та, что грузится со страницей. Но она по
                                  дате
                                  сортировки
                                .comment_preview
                                  %span.bold irivertime:
                                  И
                                  обратная сортировка должна тоже как-то выделяться
                    .post-bottom.white
                      .row
                        .col-md-2.col_padding_right_3
                          %small.pull-left{:style => "margin-right: 3px;"} Несовершенства
                        .col-md-7.col_padding_right_3.themes_cont
                          #stripe2.post-theme
                            %span.tag-stripes.color_me.active{"data-me-action" => "background-color", "data-me-color" => "1", "data-me-type" => "imperf"}
                              %span.tags Слишком низкие
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "3", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Четвероногим нечем
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "6", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Активное противостояние
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                            %span.tag-stripes.color_me{"data-me-action" => "background-color", "data-me-color" => "15", "data-me-type" => "imperf", :href => "#"}
                              %span.tags Рядом с дубом нет
                        .col-md-3.col_padding_left_3
                          .text-right.small_icons
                            %span.popup2.comments_icon{"data-for" => "post_ch2"}
                              %small 5
                              %i.fa.fa-comment-o
                            %span.popup2
                              %small 9
                              %i.fa.fa-thumbs-o-up.fa-flip-horizontal
                            %span.popup2
                              %small 1
                              %i.fa.fa-thumbs-o-down.fa-flip-horizontal
                            %span.popup2
                              %i.fa.fa-exclamation-triangle.font_lighter_grey
          %a.open-popup-vote-link{:href => "#vote-3"} Голосовалка
      / Main Block ends
      #popup-explanation-3rd.popup-window.popup-explanation.popup-w710.mfp-hide.welcome_popup
        .popup.popup_rounded
          .modal_badge.back_color_stage3.rounded_2.font_white 3 СТАДИЯ
          %h2
            %img.expl-header-img-1{:src => "img/good-shot1.png"}>/
            Цель стадии
          %p.expl-sub-heading Сбор идей по устранению проблем, выявленных на предыдущей стадии.
          %h2
            %img.expl-header-img-2{:src => "img/flag1.png"}>/
            Что делать?
          %ol
            %li Читайте и обсуждайте идеи участников процедуры.
            %li
              Если у вас возникнут собственные идеи, формулируйте их при помощи наших вспомогательных техник и
              форм и выставляйте на всеобщее обсуждение.
          %button.btn.red.close_magnific Начать работу
      #popup-3-1.popup-window.detailed_popup.popup-w1030.mfp-hide
        .popup.popup_rounded.popup_color_theme_stage3
          .modal_title
            .row
              .col-md-8
                %h4.bold.font_dark_grey
                  Lorem ipsum
              .col-md-4
                .row
                  .col-md-12
                    .text-right.post_likes
                      %span.bold
                        5
                        %i.fa.fa-comment.theme_font_color
                      %span.bold
                        9
                        %i.fa.fa-thumbs-up.theme_font_color
                      %span.bold
                        1
                        %i.fa.fa-thumbs-down.theme_font_color
                      %span
                        %i.fa.fa-exclamation-triangle.font_lighter_grey
                      %small 21.12.2014
          .modal_body
            .poster-line.line-grey
              %span.tags_badge несовершенства
              .row
                .col-md-6
                  .innov-poster-cont
                    %img.img-circle{:src => "img/ava-pyat.jpg"}/
                    %span.poster-name.mod_line Пятачок
                .col-md-6.col_padding_right_0
                  .innov-tags
                    .innov-tags-tag.dark-blue.popup_tooltip.tooltip3_tag_1
                      Взаимное недоверие
                      четвероногих и пчёл
                    .innov-tags-tag.blue-green.popup_tooltip.tooltip3_tag_2
                      Четвероногим нечем
                      заинтересовать пчел
                    .innov-tags-tag.blue-green2.popup_tooltip.tooltip3_tag_3
                      Активное
                      противостояние четвероногих и пчел
                    .innov-tags-tag.blue-green3.popup_tooltip.tooltip3_tag_4
                      Рядом с дубом нет
                      цветочных полян
                    .innov-tags-tag.light-green.popup_tooltip.tooltip3_tag_5
                      Пчелы летают
                      слишком медленно
            .container.modal_content
              .row
                .col-md-6.com_dashed_border.right.popup_collapsable_col.collapse.in
                  %button.expand_button.remove_col.btn_reset{"data-col" => "6", "data-target" => ".popup_collapsable_col", "data-toggle" => "collapse", :type => "button"}
                  .divider25
                  .stripe-qa
                    .lined-heading
                      %span.bold-stripe Деятельность
                    %p
                      %strong> Описание:
                      lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                      ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    %p
                      %strong> Обоснование:
                      lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                      ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                  .stripe-qa
                    .lined-heading
                      %span.bold-stripe Деятели
                    %p
                      %strong> Описание:
                      lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                      ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                  .stripe-qa
                    .lined-heading
                      %span.bold-stripe Ресурсы и инструменты
                    %p
                      %strong> Описание:
                      lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                      ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                  .stripe-qa
                    .lined-heading
                      %span.bold-stripe Воздействие на целевую аудиторию
                    %p
                      %strong> Описание:
                      lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                      ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                  .stripe-qa
                    .lined-heading
                      %span.bold-stripe Воздействие на среду
                    %p
                      %strong> Описание:
                      lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                      ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                .col-md-6.comment_col.popup_expandable_col
                  %button.expand_button.add_col.btn_reset.theme_font_color.bold{"data-col" => "6", "data-target" => ".popup_collapsable_col", "data-toggle" => "collapse", :type => "button"}
                    открыть
                    описание проекта
                  .divider15
                  .modal-comment-body
                    .ps_cont
                      #comment1.media.comment
                        .media-left
                          %img.media-object.img35.img-circle{:src => "img/ava-vinnie.jpg"}/
                        .media-body
                          %h5.media-heading.bold Винни-Пух
                          %span.comment_interf
                            %span.date_time.theme_font_color 15:28
                            %span.dropdown.edit_comment
                              %button#edit_comment1.btn_reset{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                                %i.fa.fa-cog.fa-lg.theme_font_color
                              %ul.dropdown-menu{"aria-labelledby" => "edit_comment1", :role => "menu"}
                                %li
                                  %a{:href => "#", :tabindex => "-1"}
                                    %i.glyphicon.glyphicon-pencil>
                                    Редактировать
                                %li
                                  %a{:href => "#", :tabindex => "-1"}
                                    %i.glyphicon.glyphicon-remove>
                                    Удалить
                            %span.badge.badge_important.theme_back_color важно
                        %p.font_grey.bold
                          Ничего не правда. Я люблю гулять, а от вашего дуба
                          тень большая.
                        .post-interfaces-buttons.text-left
                          %button.rate_button{"data-for" => "comment1", "data-rate-action" => "like", :type => "button"}
                            %span.bold
                              9
                              %i.fa.fa-thumbs-up.theme_font_color
                          %button.rate_button{"data-for" => "comment1", "data-rate-action" => "dislike", :type => "button"}
                            %span.bold
                              1
                              %i.fa.fa-thumbs-down.theme_font_color
                          %button.reply_btn.collapsed{"data-target" => "#reply_form_1", "data-toggle" => "collapse", :type => "button"}
                            %span.bold
                              %i.fa.fa-reply.fa-rotate-180.theme_font_color
                      %form#reply_form_1.form-group.comment_add.collapse
                        .input_cont
                          %textarea{:placeholder => "Ваш комментарий"}
                        %button.btn{:type => "button"}
                          %span.bold
                            %i.fa.fa-reply.fa-rotate-180.theme_font_color
                      %a.answers_collapse.theme_font_color{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#answers-3-1"}
                        %span 3 ответа
                      #comment1.media.comment
                        .media-left
                          %img.media-object.img35.img-circle{:src => "img/ava-vinnie.jpg"}/
                        .media-body
                          %h5.media-heading.bold Винни-Пух
                          %span.comment_interf
                            %span.date_time.theme_font_color 15:28
                            %span.dropdown.edit_comment
                              %button#edit_comment1.btn_reset{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                                %i.fa.fa-cog.fa-lg.theme_font_color
                              %ul.dropdown-menu{"aria-labelledby" => "edit_comment1", :role => "menu"}
                                %li
                                  %a{:href => "#", :tabindex => "-1"}
                                    %i.glyphicon.glyphicon-pencil>
                                    Редактировать
                                %li
                                  %a{:href => "#", :tabindex => "-1"}
                                    %i.glyphicon.glyphicon-remove>
                                    Удалить
                            %span.badge.badge_important.theme_back_color важно
                        %p.font_grey.bold
                          Ничего не правда. Я люблю гулять, а от вашего дуба
                          тень большая.
                        .post-interfaces-buttons.text-left
                          %button.rate_button{"data-for" => "comment1", "data-rate-action" => "like", :type => "button"}
                            %span.bold
                              9
                              %i.fa.fa-thumbs-up.theme_font_color
                          %button.rate_button{"data-for" => "comment1", "data-rate-action" => "dislike", :type => "button"}
                            %span.bold
                              1
                              %i.fa.fa-thumbs-down.theme_font_color
                          %button.reply_btn.collapsed{"data-target" => "#reply_form_1", "data-toggle" => "collapse", :type => "button"}
                            %span.bold
                              %i.fa.fa-reply.fa-rotate-180.theme_font_color
                      %form#reply_form_1.form-group.comment_add.collapse
                        .input_cont
                          %textarea{:placeholder => "Ваш комментарий"}
                        %button.btn{:type => "button"}
                          %span.bold
                            %i.fa.fa-reply.fa-rotate-180.theme_font_color
                      %a.answers_collapse.theme_font_color{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#answers-3-1"}
                        %span 3 ответа
                      #comment1.media.comment
                        .media-left
                          %img.media-object.img35.img-circle{:src => "img/ava-vinnie.jpg"}/
                        .media-body
                          %h5.media-heading.bold Винни-Пух
                          %span.comment_interf
                            %span.date_time.theme_font_color 15:28
                            %span.dropdown.edit_comment
                              %button#edit_comment1.btn_reset{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                                %i.fa.fa-cog.fa-lg.theme_font_color
                              %ul.dropdown-menu{"aria-labelledby" => "edit_comment1", :role => "menu"}
                                %li
                                  %a{:href => "#", :tabindex => "-1"}
                                    %i.glyphicon.glyphicon-pencil>
                                    Редактировать
                                %li
                                  %a{:href => "#", :tabindex => "-1"}
                                    %i.glyphicon.glyphicon-remove>
                                    Удалить
                            %span.badge.badge_important.theme_back_color важно
                        %p.font_grey.bold
                          Ничего не правда. Я люблю гулять, а от вашего дуба
                          тень большая.
                        .post-interfaces-buttons.text-left
                          %button.rate_button{"data-for" => "comment1", "data-rate-action" => "like", :type => "button"}
                            %span.bold
                              9
                              %i.fa.fa-thumbs-up.theme_font_color
                          %button.rate_button{"data-for" => "comment1", "data-rate-action" => "dislike", :type => "button"}
                            %span.bold
                              1
                              %i.fa.fa-thumbs-down.theme_font_color
                          %button.reply_btn.collapsed{"data-target" => "#reply_form_1", "data-toggle" => "collapse", :type => "button"}
                            %span.bold
                              %i.fa.fa-reply.fa-rotate-180.theme_font_color
                      %form#reply_form_1.form-group.comment_add.collapse
                        .input_cont
                          %textarea{:placeholder => "Ваш комментарий"}
                        %button.btn{:type => "button"}
                          %span.bold
                            %i.fa.fa-reply.fa-rotate-180.theme_font_color
                      %a.answers_collapse.theme_font_color{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#answers-3-1"}
                        %span 3 ответа
                      #answers-3-1.com_answers.collapse
                        .answers_subblock.level1
                          #comment2.media.comment.unread
                            .media-left
                              %img.media-object.img35.img-circle{:src => "img/ava-vinnie.jpg"}/
                            .media-body
                              %h5.media-heading.bold Винни-Пух
                              %span.comment_interf
                                %span.date_time.theme_font_color 17:28
                                %span.badge.badge_important.theme_back_color важно
                            %p.font_grey.bold
                              Ничего не правда. Я люблю гулять, а от
                              вашего дуба тень большая.
                            .post-interfaces-buttons.text-left
                              %button.rate_button{"data-for" => "comment2", "data-rate-action" => "like", :type => "button"}
                                %span.bold
                                  9
                                  %i.fa.fa-thumbs-up.theme_font_color
                              %button.rate_button{"data-for" => "comment2", "data-rate-action" => "dislike", :type => "button"}
                                %span.bold
                                  1
                                  %i.fa.fa-thumbs-down.theme_font_color
                              %button.reply_btn.collapsed{"data-target" => "#reply_form_2", "data-toggle" => "collapse", :type => "button"}
                                %span.bold
                                  %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          %form#reply_form_2.form-group.comment_add.collapse
                            .input_cont
                              %textarea{:placeholder => "Ваш комментарий"}
                            %button.btn{:type => "button"}
                              %span.bold
                                %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          #comment3.media.comment.unread
                            .media-left
                              %img.media-object.img35.img-circle{:src => "img/ava-vinnie.jpg"}/
                            .media-body
                              %h5.media-heading.bold Винни-Пух
                              %span.comment_interf
                                %span.date_time.theme_font_color 15:28
                                %span.dropdown.edit_comment
                                  %button#edit_comment2.btn_reset{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                                    %i.fa.fa-cog.fa-lg.theme_font_color
                                  %ul.dropdown-menu{"aria-labelledby" => "edit_comment1", :role => "menu"}
                                    %li
                                      %a{:href => "#", :tabindex => "-1"}
                                        %i.glyphicon.glyphicon-pencil>
                                        Редактировать
                                    %li
                                      %a{:href => "#", :tabindex => "-1"}
                                        %i.glyphicon.glyphicon-remove>
                                        Удалить
                            %p.font_grey.bold
                              Ничего не правда. Я люблю гулять, а от
                              вашего дуба тень большая.
                            .post-interfaces-buttons.text-left
                              %button.rate_button{"data-for" => "comment3", "data-rate-action" => "like", :type => "button"}
                                %span.bold
                                  9
                                  %i.fa.fa-thumbs-up.theme_font_color
                              %button.rate_button{"data-for" => "comment3", "data-rate-action" => "dislike", :type => "button"}
                                %span.bold
                                  1
                                  %i.fa.fa-thumbs-down.theme_font_color
                              %button.reply_btn.collapsed{"data-target" => "#reply_form_3", "data-toggle" => "collapse", :type => "button"}
                                %span.bold
                                  %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          %form#reply_form_3.form-group.comment_add.collapse
                            .input_cont
                              %textarea{:placeholder => "Ваш комментарий"}
                            %button.btn{:type => "button"}
                              %span.bold
                                %i.fa.fa-reply.fa-rotate-180.theme_font_color
                        .answers_subblock.level2
                          #comment4.media.comment
                            .media-left
                              %img.media-object.img35.img-circle{:src => "img/ava-vinnie.jpg"}/
                            .media-body
                              %h5.media-heading.bold Винни-Пух
                              %span.comment_interf
                                %span.date_time.theme_font_color 15:28
                            %p.font_grey.bold
                              Ничего не правда. Я люблю гулять, а от
                              вашего дуба тень большая.
                            .post-interfaces-buttons.text-left
                              %button.rate_button{"data-for" => "comment4", "data-rate-action" => "like", :type => "button"}
                                %span.bold
                                  9
                                  %i.fa.fa-thumbs-up.theme_font_color
                              %button.rate_button{"data-for" => "comment4", "data-rate-action" => "dislike", :type => "button"}
                                %span.bold
                                  1
                                  %i.fa.fa-thumbs-down.theme_font_color
                              %button.reply_btn.collapsed{"data-target" => "#reply_form_4", "data-toggle" => "collapse", :type => "button"}
                                %span.bold
                                  %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          %form#reply_form_4.form-group.comment_add.collapse
                            .input_cont
                              %textarea{:placeholder => "Ваш комментарий"}
                            %button.btn{:type => "button"}
                              %span.bold
                                %i.fa.fa-reply.fa-rotate-180.theme_font_color
                      #comment5.media.comment.unread
                        .media-left
                          %img.media-object.img35.img-circle{:src => "img/ava-vinnie.jpg"}/
                        .media-body
                          %h5.media-heading.bold Винни-Пух
                          %span.comment_interf
                            %span.date_time.theme_font_color 27.03.2015 15:28
                            %span.badge.badge_important.theme_back_color важно
                        %p.font_grey.bold
                          Ничего не правда. Я люблю гулять, а от вашего дуба
                          тень большая.
                        .post-interfaces-buttons.text-left
                          %button.rate_button{"data-for" => "comment5", "data-rate-action" => "like", :type => "button"}
                            %span.bold
                              9
                              %i.fa.fa-thumbs-up.theme_font_color
                          %button.rate_button{"data-for" => "comment5", "data-rate-action" => "dislike", :type => "button"}
                            %span.bold
                              1
                              %i.fa.fa-thumbs-down.theme_font_color
                          %button.reply_btn.collapsed{"data-target" => "#reply_form_5", "data-toggle" => "collapse", :type => "button"}
                            %span.bold
                              %i.fa.fa-reply.fa-rotate-180.theme_font_color
                      %form#reply_form_5.form-group.comment_add.collapse
                        .input_cont
                          %textarea{:placeholder => "Ваш комментарий"}
                        %button.btn{:type => "button"}
                          %span.bold
                            %i.fa.fa-reply.fa-rotate-180.theme_font_color
                  .divider15
                  %form.form-group.comment_add.main_add
                    .input_cont
                      %textarea{:placeholder => "Ваш комментарий"}
                    %button.btn{:type => "button"}
                      %span.bold
                        %i.fa.fa-reply.fa-rotate-180.theme_font_color
            .divider25
      #vote-3.popup-window.popup-vote.popup-w915.mfp-hide
        .popup.popup_rounded
          .modal_title
            .row
              .col-md-12
                %h4.bold.font_dark_grey
                  Голосование по идеям
          .vote_progress_cont.progress
            .vote_progress.back_color_stage3.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar", :style => "width: 35%;"}
          .modal_body.lighter-grey
            .divider15
            %h5.text-center.no_margin Распределите идеи по папкам
            .divider5
            .container.vote_folders_cont.folders_3.no_padding_col
              %ul.nav.vote_nav.row{:role => "tablist"}
                %li.col-md-4.no_padding_col.folder_all.active{:role => "presentation"}
                  %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "all", :href => "#vote_tab1", :role => "tab"}
                    .vote_folder_inn.poll-2-1
                      %span.vote_counter
                      %h5.font_color_stage3 Общий список
                %li.col-md-4.no_padding_col{:role => "presentation"}
                  %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "not_important", :href => "#vote_tab3", :role => "tab"}
                    .vote_folder_inn.poll-2-3
                      %span.vote_counter
                      %h5 Нравится
                %li.col-md-4.no_padding_col{:role => "presentation"}
                  %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "unnecessary", :href => "#vote_tab4", :role => "tab"}
                    .vote_folder_inn.poll-2-4
                      %span.vote_counter
                      %h5 Не нравится
              .divider5
            .container.white.border_top_grey
              .divider10
              .tab-content
                #vote_tab1.tab-pane.active{"data-vote-poll-role" => "all", :role => "tabpanel"}
                  .container
                    .row
                      .col-sm-6
                        %h5 Идеи
                        .divider_1_grey.margin_right_25
                        .cab_cont_h450
                          %ul.list-unstyled.ps_cont{:role => "tablist"}
                            .divider15
                            %li.active{:role => "presentation"}
                              %a.big_tab.a_font_reset.rounded_3.border_grey.lighter-grey{"data-toggle" => "tab", :href => "#imp1", :role => "tab"}
                                Название идеи 1
                                .vote_controls.text-center
                                  %button.btn.b_vote.v_btn_2{"data-icon-class" => "fa-check", :role => "button"}
                                  %button.btn.b_vote.v_btn_3{"data-icon-class" => "fa-minus", :role => "button"}
                            %li{:role => "presentation"}
                              %a.big_tab.a_font_reset.rounded_3.border_grey.lighter-grey{"data-toggle" => "tab", :href => "#imp2", :role => "tab"}
                                Название идеи 2 название пакета название пакета название пакета название пакета название пакета
                                название пакета название пакета
                                .vote_controls.text-center
                                  %button.btn.b_vote.v_btn_2{"data-icon-class" => "fa-check", :role => "button"}
                                  %button.btn.b_vote.v_btn_3{"data-icon-class" => "fa-minus", :role => "button"}
                            %li{:role => "presentation"}
                              %a.big_tab.a_font_reset.rounded_3.border_grey.lighter-grey{"data-toggle" => "tab", :href => "#imp3", :role => "tab"}
                                Название идеи 3
                                .vote_controls.text-center
                                  %button.btn.b_vote.v_btn_2{"data-icon-class" => "fa-check", :role => "button"}
                                  %button.btn.b_vote.v_btn_3{"data-icon-class" => "fa-minus", :role => "button"}
                            %li{:role => "presentation"}
                              %a.big_tab.a_font_reset.rounded_3.border_grey.lighter-grey{"data-toggle" => "tab", :href => "#imp4", :role => "tab"}
                                Название идеи 4
                                .vote_controls.text-center
                                  %button.btn.b_vote.v_btn_2{"data-icon-class" => "fa-check", :role => "button"}
                                  %button.btn.b_vote.v_btn_3{"data-icon-class" => "fa-minus", :role => "button"}
                            %li{:role => "presentation"}
                              %a.big_tab.a_font_reset.rounded_3.border_grey.lighter-grey{"data-toggle" => "tab", :href => "#imp5", :role => "tab"}
                                Название идеи 5
                                .vote_controls.text-center
                                  %button.btn.b_vote.v_btn_2{"data-icon-class" => "fa-check", :role => "button"}
                                  %button.btn.b_vote.v_btn_3{"data-icon-class" => "fa-minus", :role => "button"}
                            %li{:role => "presentation"}
                              %a.big_tab.a_font_reset.rounded_3.border_grey.lighter-grey{"data-toggle" => "tab", :href => "#imp6", :role => "tab"}
                                Название идеи 6
                                .vote_controls.text-center
                                  %button.btn.b_vote.v_btn_2{"data-icon-class" => "fa-check", :role => "button"}
                                  %button.btn.b_vote.v_btn_3{"data-icon-class" => "fa-minus", :role => "button"}
                            %li{:role => "presentation"}
                              %a.big_tab.a_font_reset.rounded_3.border_grey.lighter-grey{"data-toggle" => "tab", :href => "#imp7", :role => "tab"}
                                Название идеи 7
                                .vote_controls.text-center
                                  %button.btn.b_vote.v_btn_2{"data-icon-class" => "fa-check", :role => "button"}
                                  %button.btn.b_vote.v_btn_3{"data-icon-class" => "fa-minus", :role => "button"}
                            %li{:role => "presentation"}
                              %a.big_tab.a_font_reset.rounded_3.border_grey.lighter-grey{"data-toggle" => "tab", :href => "#imp8", :role => "tab"}
                                Название идеи 8
                                .vote_controls.text-center
                                  %button.btn.b_vote.v_btn_2{"data-icon-class" => "fa-check", :role => "button"}
                                  %button.btn.b_vote.v_btn_3{"data-icon-class" => "fa-minus", :role => "button"}
                            .divider10
                      .col-sm-6.tab-content
                        %h5 Описание
                        .divider_1_grey.margin_right_25
                        #imp1.tab-pane.active.fade.in{:role => "tabpanel"}
                          .cab_cont_h450
                            .ps_cont
                              .divider15
                              .stripe-qa
                                .lined-heading.back_color_stage3_superpale
                                  %span.bold-stripe Суть идеи
                                %p
                                  %strong> Описание:
                                  lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                                  ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                              .stripe-qa
                                .lined-heading.back_color_stage3_superpale
                                  %span.bold-stripe Что будет иначе?
                                %p
                                  %strong> Описание:
                                  lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                              .stripe-qa
                                .lined-heading.back_color_stage3_superpale
                                  %span.bold-stripe Кто будет иначе?
                                %p
                                  %strong> Описание:
                                  lorem ipsum lorem ipsum lorem
                              .stripe-qa
                                .lined-heading.back_color_stage3_superpale
                                  %span.bold-stripe Чьи интересы будут затронуты?
                                %p
                                  %strong> Описание:
                                  lorem ipsum lorem ipsum lorem ipsum
                              .divider10
                        #imp2.tab-pane.fade{:role => "tabpanel"}
                          .cab_cont_h450
                            .ps_cont
                              .divider15
                              .stripe-qa
                                .lined-heading.back_color_stage3_superpale
                                  %span.bold-stripe Суть идеи
                                %p
                                  %strong> Описание:
                                  lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                                  ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                              .stripe-qa
                                .lined-heading.back_color_stage3_superpale
                                  %span.bold-stripe Что будет иначе?
                                %p
                                  %strong> Описание:
                                  lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                              .stripe-qa
                                .lined-heading.back_color_stage3_superpale
                                  %span.bold-stripe Кто будет иначе?
                                %p
                                  %strong> Описание:
                                  lorem ipsum lorem ipsum lorem
                              .stripe-qa
                                .lined-heading.back_color_stage3_superpale
                                  %span.bold-stripe Чьи интересы будут затронуты?
                                %p
                                  %strong> Описание:
                                  lorem ipsum lorem ipsum lorem ipsum
                              .divider10
                        #imp3.tab-pane.fade{:role => "tabpanel"}
                          .cab_cont_h450
                            .ps_cont
                              .divider15
                              .stripe-qa
                                .lined-heading.back_color_stage3_superpale
                                  %span.bold-stripe Суть идеи
                                %p
                                  %strong> Описание:
                                  lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                                  ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                              .stripe-qa
                                .lined-heading.back_color_stage3_superpale
                                  %span.bold-stripe Что будет иначе?
                                %p
                                  %strong> Описание:
                                  lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                              .stripe-qa
                                .lined-heading.back_color_stage3_superpale
                                  %span.bold-stripe Кто будет иначе?
                                %p
                                  %strong> Описание:
                                  lorem ipsum lorem ipsum lorem
                              .stripe-qa
                                .lined-heading.back_color_stage3_superpale
                                  %span.bold-stripe Чьи интересы будут затронуты?
                                %p
                                  %strong> Описание:
                                  lorem ipsum lorem ipsum lorem ipsum
                              .divider10
                #vote_tab2.tab-pane{"data-vote-poll-role" => "important", :role => "tabpanel"}
                  .container.vote_itemslist_cont
                    .row
                #vote_tab3.tab-pane{"data-vote-poll-role" => "not_important", :role => "tabpanel"}
                  .container.vote_itemslist_cont
                    .row
                #vote_tab4.tab-pane{"data-vote-poll-role" => "unnecessary", :role => "tabpanel"}
                  .container.vote_itemslist_cont
                    .row
                .divider35
      #popup-database.popup-window.popup_database.popup-w770.mfp-hide
        .popup.popup_rounded
          .row
            .col-md-12
              #myCarousel.carousel.base_carousel.slide{"data-ride" => "carousel"}
                / Indicators
                %ul.list-unstyled.list-inline.carousel-indicators.text-center
                  %li.color-theme-1.myCarousel-target.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
                    Аспект 1
                  %li.color-theme-2.myCarousel-target{"data-slide-to" => "1", "data-target" => "#myCarousel"}
                    Аспект 2
                  %li.color-theme-3.myCarousel-target{"data-slide-to" => "2", "data-target" => "#myCarousel"}
                    Аспект 3
                  %li.color-theme-4.myCarousel-target{"data-slide-to" => "3", "data-target" => "#myCarousel"}
                    Аспект 4
                  %li.color-theme-5.myCarousel-target{"data-slide-to" => "4", "data-target" => "#myCarousel"}
                    Аспект 5
                  %li.color-theme-6.myCarousel-target{"data-slide-to" => "5", "data-target" => "#myCarousel"}
                    Аспект 6
                  %li.color-theme-7.myCarousel-target{"data-slide-to" => "6", "data-target" => "#myCarousel"}
                    Аспект 7
                  %li.color-theme-8.myCarousel-target{"data-slide-to" => "7", "data-target" => "#myCarousel"}
                    Аспект 8
                  %li.color-theme-9.myCarousel-target{"data-slide-to" => "8", "data-target" => "#myCarousel"}
                    Аспект 9
                / Wrapper for slides
                .carousel-inner{:role => "listbox"}
                  .item.active.color-theme-1
                    .row
                      .col-md-12
                        .container
                          .row
                            .col-md-12.col-sm-12
                              %ul.nav.nav-tabs.aspects_tabs{:role => "tablist"}
                                %li.active{:role => "presentation"}
                                  %a{"aria-controls" => "Статья 1", "data-toggle" => "tab", :href => "#article1-1", :role => "tab"}
                                    Статья
                                    1
                                %li{:role => "presentation"}
                                  %a{"aria-controls" => "Статья 2", "data-toggle" => "tab", :href => "#article1-2", :role => "tab"} Статья 2
                                %li{:role => "presentation"}
                                  %a{"aria-controls" => "Статья 3", "data-toggle" => "tab", :href => "#article1-3", :role => "tab"} Статья 3
                          .row
                            .col-md-12.col-sm-12
                              .aspect-main-block
                                .tab-content
                                  #article1-1.tab-pane.active.fade.in{:role => "tabpanel"}
                                    %h6.aspect-main-block-heading
                                      Ситуация с
                                      пчелами
                                    %p.aspect-main-block-text
                                      Пчелы недовольны тем,
                                      что на их мед
                                      постоянно покушаются Винни-Пух и его друзья. Желая
                                      разрешить
                                      конфликт мирным способом, они обратились к мудрой
                                      Сове.
                                    %img{:src => "img/aspect-pic1.jpg"}/
                                  #article1-2.tab-pane.fade{:role => "tabpanel"}
                                    %p.aspect-main-block-text
                                      Пчелы недовольны тем,
                                      что на их мед
                                      постоянно покушаются Винни-Пух и его друзья. Желая
                                      разрешить
                                      конфликт мирным способом, они обратились к мудрой
                                      Сове.
                                    %img{:src => "img/aspect-pic1.jpg"}/
                                  #article1-3.tab-pane.fade{:role => "tabpanel"}
                                    %img{:src => "img/aspect-pic1.jpg"}/
                  .item.color-theme-2
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                          %p.aspect-main-block-text
                            В популярной сказке Винни-Пух и его
                            друзья жаждали меда, но пчелы не давали забрать у себя плоды своего
                            труда. Чтобы раздобыть мед, Винни с компанией пытался обманом
                            пробраться в улей на Высоком дубе — не вышло, сутками подкарауливал
                            момент, когда все пчелы вылетят из улья, — не дождался; пытался
                            втянуть пчел в переговоры, предлагая грибы и ягоды в обмен на мед, —
                            был отвергнут.
                            Всего в истории участвовало трое четвероногих: сам Винни-Пух и его
                            друзья Пятачок и Кролик.
                          %img{:src => "img/aspect-pic2.jpg"}/
                  .item.color-theme-3
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                          %h6.aspect-main-block-heading
                            Трудности, связанные с
                            расположением конфликтующих сторон
                          %p.aspect-main-block-text
                            Как видно на карте, Винни-Пух с
                            друзьями живут достаточно близко к Высокому дубу.
                            Это часто обостряет конфликт, потому что пчелы не могут нормально
                            собирать мед,
                            постоянно беспокоясь, что их ограбят.
                          %img{:src => "img/aspect-pic3.jpg"}/
                  .item.color-theme-4
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-5
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-6
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-7
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-8
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-9
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                %a.myCarousel-control.left{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
                  %i.fa.fa-3x.fa-caret-left
                %a.myCarousel-control.right{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
                  %i.fa.fa-3x.fa-caret-right
    / Outer Ends
    / Javascript files
    / jQuery
    %script{:src => "js/jquery.js"}
    / Bootstrap JS
    %script{:src => "js/bootstrap.min.js"}
    / Magnific Popup
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / Owl carousel
    %script{:src => "js/owl.carousel.min.js"}
    / Respond JS for IE8
    %script{:src => "js/respond.min.js"}
    / HTML5 Support for IE
    %script{:src => "js/html5shiv.js"}
    / Content hover JS
    %script{:src => "js/jquery.contenthover.min.js"}
    / Javascript for this page
    %script{:src => "js/jqueryrotate.2.1.js"}
    / Excanvas JS for Knob Support in IE 8
    %script{:src => "js/waypoints.min.js"}
    %script{:src => "js/excanvas.js"}
    / jQuery Knob
    %script{:src => "js/jquery.knob.js"}
    / Perfect scrollbar
    %script{:src => "js/perfect-scrollbar.jquery.min.js"}
    / Custom JS. Type your JS code in custom.js file
    %script{:src => "js/custom.js"}
