!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
    %link{:href => "css/custom-post.css", :rel => "stylesheet"}/
  %body
    .outer.stage4_theme
      / Top bar starts
      %header.navbar.top_bar
        .container
          .navbar-header
            %a.navbar-brand{:href => "main.html"}
              %img{:src => "img/logo1.png"}/
          %ul.nav.navbar-nav.main_menu
            %li.active
              %a{:href => "1st-stage.html"} Процедура
            %li
              %a{:href => "cabinet-stage1.html"} Кабинет
            %li
              %a#popover_news.has_circle.popover_news{"data-content" => "\n                    <div class='popover_cont'>\n                    <a href='#' class='news-tooltip-icon' id='tooltip-i1'>\n                        <img src='img/icon-news-1.png'>\n                        <span class='news-tooltip-bottom-text'>добавлено</span>\n                    </a>\n                    <a href='#' class='news-tooltip-icon' id='tooltip-i2'>\n                        <img src='img/icon-news-2.png'>\n                        <span class='news-tooltip-bottom-text'>комментария</span>\n                    </a>\n                    <a href='#popup-news' class='news-tooltip-icon news-popup-href' id='tooltip-i3'>\n                        <img src='img/icon-news-3.png'>\n                        <span class='top-circle'>36</span>\n                        <span class='news-tooltip-bottom-text'>пометок</span>\n                    </a>\n                    <a href='#' class='news-tooltip-icon' id='tooltip-i4'>\n                        <img src='img/icon-news-4.png'>\n                        <span class='top-circle'>1</span>\n                        <span class='news-tooltip-bottom-text'>отредактировано</span>\n                    </a>\n                    </div>", "data-html" => "true", "data-placement" => "bottom", "data-toggle" => "popover", :href => "#"}
                Новости
                %span.top-circle 36
          .navbar-right.text-right.user_block.font_grey
            %a.book_icon{:href => "#"}
            %span.auth-divider |
            %span.has_dropwindow
              %button.btn_reset.font_lighter_grey.bold.drop_opener{"data-dd-opener" => "dd_1"}
                %i.fa.fa-exclamation-triangle
              #dd_1.dropdown_window.dd_570.expert_news_drop.text-left
                .dd_badge
                  %i.fa.fa-exclamation-triangle
                  %small Новости от эксперта
                .dd_wrapper
                  .dd_top.light-grey
                    %i.fa.fa-times.fa-lg.dd_close{"data-dd-closer" => "dd_1"}
                  .dd_bottom.white
                    .divider20
                    .container
                      .row
                        .col-xs-2.dd_bordered_left
                          %ul.list-unstyled.text-center.dd_tabs_nav{:role => "tablist"}
                            %li.active{:role => "presentation"}
                              %a{"data-toggle" => "tab", :href => "#expert1", :role => "tab"} 1.2.2015
                            %li{:role => "presentation"}
                              %a{"data-toggle" => "tab", :href => "#expert2", :role => "tab"} 1.2.2015
                            .dd_nav_divider.theme_font_color
                              %span 2
                            %li{:role => "presentation"}
                              %a{"data-toggle" => "tab", :href => "#expert3", :role => "tab"} 1.2.2015
                            %li{:role => "presentation"}
                              %a{"data-toggle" => "tab", :href => "#expert4", :role => "tab"} 1.2.2015
                            %li{:role => "presentation"}
                              %a{"data-toggle" => "tab", :href => "#expert5", :role => "tab"} 1.2.2015
                            .dd_nav_divider.theme_font_color
                              %span 1
                        .col-xs-10.dd_bordered_right
                          .tab-content.dd_tabs_content
                            #expert1.tab-pane.fade.in.active.ps_cont{:role => "tabpanel"}
                              %p
                                Же александровна, получив депешу, только вздохнула. Провел время обеда, обращаясь к чему. Того, чтобы строго исполнить все довольны ширков, занимавшийся финансовыми делами и степан. Выборах, и по имени мужа такого милого тона в пажеском. Знатность; прекрасное помещение в губернского предводителя и которого. Нужно было найти представителя того нового направления, которому было в деревне. Говорили: наш губернский предводитель и возбуждавший и уважение и более людей.
                              %p
                                Же александровна, получив депешу, только вздохнула. Провел время обеда, обращаясь к чему. Того, чтобы строго исполнить все довольны ширков, занимавшийся финансовыми делами и степан. Выборах, и по имени мужа такого милого тона в пажеском. Знатность; прекрасное помещение в губернского предводителя и которого. Нужно было найти представителя того нового направления, которому было в деревне. Говорили: наш губернский предводитель и возбуждавший и уважение и более людей.
                            #expert2.tab-pane.fade{:role => "tabpanel"} 2
                            #expert3.tab-pane.fade{:role => "tabpanel"} 3
                            #expert4.tab-pane.fade{:role => "tabpanel"} 4
                    .divider20
            %span.auth-divider |
            %a.font_grey.bold{:href => "#"}
              %i.fa.fa-globe.font_lighter_grey
              %small
                %i.fa.fa-angle-down
            %ul.dropdown-menu.dropdown-mini{:role => "menu"}
            %span.auth-divider |
            %span.badge.grey 500
            %small.font_lighter_grey.bold
              Лиза Школьник
              %a{:href => "profile.html"}
                %i.fa.fa-angle-down
      / Top Bar ends
      .subhead
        .container
          %h4.font_white Решение конфликта, возникшего из-за меда
        %button#tooltip_button_3.btn.btn-tooltip{:type => "button", :value => "Show"}
          %i.fa.fa-lightbulb-o
          Открыть подсказки
        %button#close_tooltip_button_3.btn.btn-tooltip-close{:type => "button", :value => "Destroy"}
          %i.fa.fa-lightbulb-o
          Закрыть подсказки
      .container
        .row
          .col-md-8.col_padding_right_3
            .border_grey.rounded_3.stages_block
              .btn-toolbar{:role => "toolbar"}
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage1{:href => "1st-stage.html", :role => "button"} 1
                  %a.btn.back_color_stage2{:href => "2nd-stage.html", :role => "button"} 2
                  %a.btn.back_color_stage3{:href => "3rd-stage.html", :role => "button"} 3
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage4{:href => "4th-stage.html", :role => "button"} 4 СТАДИЯ: ДИЗАЙН БУДУЩЕГО
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage5{:href => "5th-stage.html", :role => "button"} 5
                  %a.btn.back_color_stage6{:href => "6th-stage.html", :role => "button"} 6
                  %a.btn.back_color_stage7{:href => "7th-stage.html", :role => "button"} 7
          .col-md-4.col_padding_left_3
            .border_grey.rounded_3.help_icon
            .border_grey.rounded_3.progress_block
              .container
                .row
                  .col-xs-6.col-md-6.col_padding_right_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Ваш прогресс на стадии
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#7373aa", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
                  .col-xs-6.col-md-6.col_padding_left_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Прогресс других участников
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#7373aa", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
      / Main Block starts
      .main-block
        .container
          .stage-info-sort-block
            .row
              %br/
              .col-md-7
                %span.stage-heading
                  Нововведения (2)
                  %i.fa.fa-question-circle
              .col-md-5
                .sort-block.pull-right
                  %span.sort-label Сортировать:
                  %span.sort-date
                  %span.sort-rate
                  %span.sort-all ВСЕ
                  %a{:href => "cabinet-stage3.html"}
                    %button.btn.add-button
                      %span> +
                      Нововведение
          .stage-post-block
            .row
              .col-md-6
                .post
                  .post-header.white
                    .row
                      .col-md-10.col-xs-10
                        %h5.font_purple.bold Соглашение и арбитр.
                      .col-md-2.col-xs-2
                        %h5.time 20.12.2014
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img50{:src => "img/ava-pyat.jpg"}/
                        %p.poster-name Пятачок
                      .media-body.white-gray
                        .post-text
                          %p Взаимное недоверие четвероногих и пчёл
                  .contenthover
                    .arrow.open-popup{"data-placement" => "4", "data-target" => "1"}
                      %i.fa.fa-angle-right
                  #tooltip3_2.post-bottom.white.tooltip3_2{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "В цветных квадратиках скрывается перечень несовершенств, связанных с данным нововведением. Нажмите на любой из них, чтобы увидеть полное название нововведения."}
                    .row
                      .col-md-9.col_padding_right_3
                        %small.pull-left{:style => "margin-right: 3px;"} Идеи
                        #stripe1.post-theme
                          %a#stripe1.tag-stripes.dark-blue.active{:href => "#"}
                            %span.tags Взаимное недоверие четвероногих и пчёл
                          %a#stripe1.tag-stripes.blue-green{:href => "#"}
                            %span.tags Четвероногим нечем заинтересовать пчел
                          %a#stripe1.tag-stripes.blue-green2{:href => "#"}
                            %span.tags Активное противостояние четвероногих и пчел
                          %a#stripe1.tag-stripes.blue-green3{:href => "#"}
                            %span.tags Рядом с дубом нет цветочных полян
                          %a#stripe1.tag-stripes.light-green{:href => "#"}
                            %span.tags Пчелы летают слишком медленно
                      .col-md-3.col_padding_left_3
                        .text-right.small_icons
                          %span.popup2
                            5
                            %i.fa.fa-comment
                          %span.popup2
                            9
                            %i.fa.fa-thumbs-up
                          %span.popup2
                            1
                            %i.fa.fa-thumbs-down
                          %span.popup2
                            %i.fa.fa-exclamation-triangle.font_lighter_grey
              .col-md-6
                .post
                  .post-header.white
                    .row
                      .col-md-10.col-xs-10
                        %h5#tooltip3_1.font_purple.bold.tooltip3_1{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "Каждое нововведение может устранять одно или несколько несовершенств."} Аренда медовырабатывающей машины
                      .col-md-2.col-xs-2
                        %h5.time 21.12.2014
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img50{:src => "img/ava-rabb.jpg"}/
                        %p.poster-name Кролик
                      .media-body.white-gray
                        .post-text
                          %p Четвероногим нечем заинтересовать пчел
                  .contenthover
                    .arrow.open-popup{"data-placement" => "4", "data-target" => "1"}
                      %i.fa.fa-angle-right
                  .post-bottom.white
                    .row
                      .col-md-9.col_padding_right_3
                        %small.pull-left{:style => "margin-right: 3px;"} Идеи
                        #stripe2.post-theme
                          %a#stripe2.tag-stripes.blue-green2.active{:href => "#"}
                            %span.tags Взаимное недоверие четвероногих и пчёл
                          %a#stripe2.tag-stripes.blue-green3{:href => "#"}
                            %span.tags Четвероногим нечем заинтересовать пчел
                          %a#stripe2.tag-stripes.blue-green{:href => "#"}
                            %span.tags Активное противостояние четвероногих и пчел
                          %a#stripe2.tag-stripes.light-green{:href => "#"}
                            %span.tags Рядом с дубом нет цветочных полян
                          %a#stripe2.tag-stripes.dark-blue2{:href => "#"}
                            %span.tags Пчелы летают слишком медленно
                      .col-md-3.col_padding_left_3
                        .text-right.small_icons
                          %span.popup2
                            5
                            %i.fa.fa-comment
                          %span.popup2
                            9
                            %i.fa.fa-thumbs-up
                          %span.popup2
                            1
                            %i.fa.fa-thumbs-down
                          %span.popup2
                            %i.fa.fa-exclamation-triangle.font_lighter_grey
          %a.open-popup-vote-link{:href => "#vote-4"} Голосовалка
          / Main Block ends
          #popup-4-1.popup-window.detailed_popup.popup-w1030.mfp-hide
            .popup.popup_rounded.popup_color_theme_stage4
              .modal_title
                .row
                  .col-md-8
                    %h4.bold.font_dark_grey
                      Нововведение "Соглашение и арбитр."
                  .col-md-4
                    .row
                      .col-md-12
                        .text-right.post_likes
                          %span.bold
                            5
                            %i.fa.fa-comment.theme_font_color
                          %span.bold
                            9
                            %i.fa.fa-thumbs-up.theme_font_color
                          %span.bold
                            1
                            %i.fa.fa-thumbs-down.theme_font_color
                          %span
                            %i.fa.fa-exclamation-triangle.font_lighter_grey
                          %small 21.12.2014
              .poster-line.line-grey
                %span.rolled_text идеи
                .row
                  .col-md-6
                    .innov-poster-cont
                      %img.img-circle{:src => "img/ava-pyat.jpg"}/
                      %span.poster-name Пятачок
                  .col-md-6.col_padding_right_0
                    .innov-tags
                      .innov-tags-tag.dark-blue Взаимное недоверие четвероногих и пчёл
                      .innov-tags-tag.blue-green Четвероногим нечем заинтересовать пчел
                      .innov-tags-tag.blue-green2 Активное противостояние четвероногих и пчел
                      .innov-tags-tag.blue-green3 Рядом с дубом нет цветочных полян
                      .innov-tags-tag.light-green Пчелы летают слишком медленно
              .popup-imperfect-main-block
                .row
                  .col-md-6
                    .stripe-qa
                      .lined-heading
                        %span.bold-stripe Опишите, что новое появится в будущем, чтобы улучшить положение.
                      %p Контракт, регулирующий отношения четвероногих и пчел, и Сова в качестве арбитра.
                    .stripe-qa
                      .lined-heading
                        %span.bold-stripe Деятельность
                      %p
                        %strong> Описание:
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                      %p
                        %strong> Обоснование:
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    .stripe-qa
                      .lined-heading
                        %span.bold-stripe Деятели
                      %p
                        %strong> Описание:
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    .stripe-qa
                      .lined-heading
                        %span.bold-stripe Ресурсы и инструменты
                      %p
                        %strong> Описание:
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    .stripe-qa
                      .lined-heading
                        %span.bold-stripe Воздействие на целевую аудиторию
                      %p
                        %strong> Описание:
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    .stripe-qa
                      .lined-heading
                        %span.bold-stripe Воздействие на среду
                      %p
                        %strong> Описание:
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                  .col-md-6
                    .container
                      .row
                        .col-md-12.theme_font_color.text-right.no_padding_col
                          21.12.2014
                    .divider5
                    .divider_1_grey
                    #myCarousel.carousel.slide{"data-ride" => "carousel"}
                      .carousel-inner{:role => "listbox"}
                        .item.active
                          .media.comment
                            .media-left
                              %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                            .media-body
                              %h5.media-heading.bold Винни-Пух
                              %span.date.theme_font_color 15:28
                            %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                            .post-interfaces-buttons
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-comment.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  9
                                  %i.fa.fa-thumbs-up.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  1
                                  %i.fa.fa-thumbs-down.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          .divider_1_grey
                        .item
                          .media.comment
                            .media-left
                              %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                            .media-body
                              %h5.media-heading.bold Винни-Пух
                              %span.date.theme_font_color 15:28
                            %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                            .post-interfaces-buttons
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-comment.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  9
                                  %i.fa.fa-thumbs-up.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  1
                                  %i.fa.fa-thumbs-down.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          .divider_1_grey
                          .media.comment
                            .media-left
                              %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                            .media-body
                              %h5.media-heading.bold Винни-Пух
                              %span.date.theme_font_color 15:28
                            %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                            .post-interfaces-buttons
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-comment.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  9
                                  %i.fa.fa-thumbs-up.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  1
                                  %i.fa.fa-thumbs-down.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          .divider_1_grey
                        .item
                          .media.comment
                            .media-left
                              %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                            .media-body
                              %h5.media-heading.bold Винни-Пух
                              %span.date.theme_font_color 15:28
                            %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                            .post-interfaces-buttons
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-comment.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  9
                                  %i.fa.fa-thumbs-up.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  1
                                  %i.fa.fa-thumbs-down.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          .divider_1_grey
                          .media.comment
                            .media-left
                              %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                            .media-body
                              %h5.media-heading.bold Винни-Пух
                              %span.date.theme_font_color 15:28
                            %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                            .post-interfaces-buttons
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-comment.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  9
                                  %i.fa.fa-thumbs-up.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  1
                                  %i.fa.fa-thumbs-down.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          .divider_1_grey
                          .media.comment
                            .media-left
                              %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                            .media-body
                              %h5.media-heading.bold Винни-Пух
                              %span.date.theme_font_color 15:28
                            %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                            .post-interfaces-buttons
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-comment.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  9
                                  %i.fa.fa-thumbs-up.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  1
                                  %i.fa.fa-thumbs-down.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          .divider_1_grey
                    .divider15
                    .post-interfaces
                      %form.form-group.comment_add
                        .input_cont
                          %textarea.theme_back_color{:placeholder => "Ваш комментарий"}
                        %button.btn{:type => "button"}
                          %span.bold
                            %i.fa.fa-comment.theme_font_color
                    %nav.text-center
                      %ul.pagination
                        %li
                          %a.myCarousel-target.active{"data-slide-to" => "0", "data-target" => "#myCarousel"} 1
                        %li
                          %a.myCarousel-target{"data-slide-to" => "1", "data-target" => "#myCarousel"} 2
                        %li
                          %a.myCarousel-target{"data-slide-to" => "2", "data-target" => "#myCarousel"} 3
          #vote-4.popup-window.popup-vote.popup-w1030.mfp-hide
            .popup.popup_rounded
              .modal_title
                .row
                  .col-md-12
                    %h4.bold.font_dark_grey.tall_modal_title
                      Голосование по нововведениям
              .vote_progress_cont.progress
                .vote_progress.light-green.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar"}
              .modal_body
                .container.vote_folders_cont.folders_2.no_padding_col
                  %ul.nav.vote_nav.row{:role => "tablist"}
                    %li.no_padding_col.active.folder_all{:role => "presentation"}
                      %a.vote_folder{"data-toggle" => "tab", :href => "#vote_tab1", :role => "tab"}
                        %i.fa.fa-angle-left.fa_xlg
                        %small.bold Вернуться в общий список
                    %li.col-md-6.no_padding_col{:role => "presentation"}
                      %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "vote_yes", :href => "#vote_tab2", :role => "tab"}
                        .vote_folder_inn.poll-2-1
                          %span.vote_counter
                          %h5 Да
                    %li.col-md-6.no_padding_col{:role => "presentation"}
                      %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "vote_no", :href => "#vote_tab3", :role => "tab"}
                        .vote_folder_inn.poll-2-3
                          %span.vote_counter
                          %h5 Нет
                %h4.bold.text-center 1. Нравится ли вам нововведение?
                .divider25
                .container
                  .row
                    .divider25
                    .tab-content
                      #vote_tab1.tab-pane.all_vote.active{:role => "tabpanel"}
                        .container.padding30
                          .row
                            .col-sm-4.vote_item_cont.item_expandable.h_2
                              .vote_item
                                .heading_cont.blackonwhite
                                  %h6 Lorem ipsum
                                %p Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                                #stripe-p-1.post-theme
                                  %small.pull-left Несовершенства
                                  %a#stripe-p-1.tag-stripes.dark-blue.active{:href => "#"}
                                    %span.tags Слишком низкие потолки
                                  %a#stripe-p-1.tag-stripes.blue-green{:href => "#"}
                                    %span.tags Четвероногим нечем заинтересовать пчел
                                  %a#stripe-p-1.tag-stripes.blue-green2{:href => "#"}
                                    %span.tags Активное противостояние четвероногих и пчел
                                .divider15
                                .vote_controls.text-center
                                  %button.btn.vote_button.v_b_text.v_btn_1{"data-vote-role" => "vote_yes", :role => "button"} Да
                                  %button.btn.vote_button.v_b_text.v_btn_3{"data-vote-role" => "vote_no", :role => "button"} Нет
                                  %span.vote_open_detail.grey
                                    %i.fa.fa-angle-right.font_white
                                  .divider15
                            .col-sm-4.vote_item_cont.item_expandable.h_2
                              .vote_item
                                .heading_cont.blackonwhite
                                  %h6 Lorem ipsum
                                %p Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                                #stripe-p-1.post-theme
                                  %small.pull-left Несовершенства
                                  %a#stripe-p-1.tag-stripes.dark-blue.active{:href => "#"}
                                    %span.tags Слишком низкие потолки
                                  %a#stripe-p-1.tag-stripes.blue-green{:href => "#"}
                                    %span.tags Четвероногим нечем заинтересовать пчел
                                  %a#stripe-p-1.tag-stripes.blue-green2{:href => "#"}
                                    %span.tags Активное противостояние четвероногих и пчел
                                .divider15
                                .vote_controls.text-center
                                  %button.btn.vote_button.v_b_text.v_btn_1{"data-vote-role" => "vote_yes", :role => "button"} Да
                                  %button.btn.vote_button.v_b_text.v_btn_3{"data-vote-role" => "vote_no", :role => "button"} Нет
                                  %span.vote_open_detail.grey
                                    %i.fa.fa-angle-right.font_white
                                  .divider15
                            .col-sm-4.vote_item_cont.item_expandable.h_2
                              .vote_item
                                .heading_cont.blackonwhite
                                  %h6 Lorem ipsum
                                %p Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                                #stripe-p-1.post-theme
                                  %small.pull-left Несовершенства
                                  %a#stripe-p-1.tag-stripes.dark-blue.active{:href => "#"}
                                    %span.tags Слишком низкие потолки
                                  %a#stripe-p-1.tag-stripes.blue-green{:href => "#"}
                                    %span.tags Четвероногим нечем заинтересовать пчел
                                  %a#stripe-p-1.tag-stripes.blue-green2{:href => "#"}
                                    %span.tags Активное противостояние четвероногих и пчел
                                .divider15
                                .vote_controls.text-center
                                  %button.btn.vote_button.v_b_text.v_btn_1{"data-vote-role" => "vote_yes", :role => "button"} Да
                                  %button.btn.vote_button.v_b_text.v_btn_3{"data-vote-role" => "vote_no", :role => "button"} Нет
                                  %span.vote_open_detail.grey
                                    %i.fa.fa-angle-right.font_white
                                  .divider15
                        .divider50
                      #vote_tab2.tab-pane{"data-vote-poll-role" => "vote_yes", :role => "tabpanel"}
                        .container.padding30
                          .row
                          .divider50
                      #vote_tab3.tab-pane{"data-vote-poll-role" => "vote_no", :role => "tabpanel"}
                        .container.padding30
                          .row
                          .divider50
                    .divider35
          / Outer Ends
          / Javascript files
          / jQuery
          %script{:src => "js/jquery.js"}
          / Bootstrap JS
          %script{:src => "js/bootstrap.min.js"}
          / Magnific Popup
          %script{:src => "js/jquery.magnific-popup.min.js"}
          / Owl carousel
          %script{:src => "js/owl.carousel.min.js"}
          / Respond JS for IE8
          %script{:src => "js/respond.min.js"}
          / HTML5 Support for IE
          %script{:src => "js/html5shiv.js"}
          / Content hover JS
          %script{:src => "js/jquery.contenthover.min.js"}
          / Javascript for this page
          / Excanvas JS for Knob Support in IE 8
          %script{:src => "js/waypoints.min.js"}
          %script{:src => "js/excanvas.js"}
          / jQuery Knob
          %script{:src => "js/jquery.knob.js"}
          / Custom JS. Type your JS code in custom.js file
          %script{:src => "js/custom.js"}
