!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    / Perfect scrollbar
    %link{:href => "css/perfect-scrollbar.min.css", :rel => "stylesheet"}/
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
    %link{:href => "css/custom-post.css", :rel => "stylesheet"}/
  %body
    .outer.stage4_theme
      / Top bar starts
      %header.navbar.top_bar
        .container
          .navbar-header
            %a.navbar-brand{:href => "main.html"}
              %img{:src => "img/logo1.png"}/
          %ul.nav.navbar-nav.main_menu
            %li.active
              %a.menu_a{:href => "1st-stage.html"} Процедура
            %li
              %a.menu_a{:href => "cabinet-stage1.html"} Кабинет
            %li.has_dropwindow
              %a.has_circle.drop_opener.menu_a{"data-dd-opener" => "dd_2"}
                Мои уведомления
                %span.top-circle 1
              #dd_2.dropdown_window.dd_435.notifications_drop.text-left
                .dd_wrapper
                  .dd_top.thin.light-grey
                    %i.fa.fa-close.fa-lg.dd_close{"data-dd-closer" => "dd_2"}
                  .dd_bottom.white
                    .divider10
                    .container
                      .row
                        .col-xs-12
                          .ps_cont
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage4
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage4
                                20:15 12.03.2015
                                %span.bold Рахель
                                в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right
                                20:15 12.03.2015
                                %span.bold Рахель
                                в теме
                            %a.dd_notice.moder{:href => "#"}
                              %span.dd_n_cell.left
                                %i.fa.fa-lg.fa-exclamation-triangle
                              %span.dd_n_cell.right
                                22:00 11.03.2015
                                = succeed ":" do
                                  %span.bold Модератор
                                %p
                                  На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            .dd_nav_divider.font_color_stage4
                              %span 4
                            .divider10
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage2
                                %i.fa.fa-lg.fa-thumbs-up
                              %span.dd_n_cell.right.font_color_stage2
                                19:45 12.03.2015
                                %span.bold Liza
                                в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right
                                20:15 12.03.2015
                                %span.bold Рахель
                                в теме
                            .dd_nav_divider.font_color_stage2
                              %span 2
                            .divider10
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage1
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage1
                                20:15 12.03.2015
                                %span.bold Рахель
                                в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage1
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage1
                                20:15 12.03.2015
                                %span.bold Рахель
                                в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage1
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage1
                                20:15 12.03.2015
                                %span.bold Рахель
                                в теме
                            .dd_nav_divider.font_color_stage1
                              %span 1
                            .divider10
                    .divider20
          .navbar-right.text-right.user_block.font_grey
            %a.book_icon{:href => "#"}
            %span.auth-divider |
            %span.has_dropwindow
              %button.btn_reset.font_lighter_grey.bold.drop_opener{"data-dd-opener" => "dd_1"}
                %i.fa.fa-exclamation-triangle
              #dd_1.dropdown_window.dd_570.expert_news_drop.text-left
                .dd_badge
                  %i.fa.fa-exclamation-triangle
                  %small Новости от эксперта
                .dd_wrapper.white
                  .dd_top.light-grey
                    %i.fa.fa-close.fa-lg.dd_close{"data-dd-closer" => "dd_1"}
                  .dd_bottom
                    .divider20
                    .container
                      .ps_cont
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_1"}
                            .row
                              .col-xs-9
                                Представляем вам наш экспертный комитет:
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_1.dd_xprt_article.collapse
                          .dd_expert
                            .divider20
                            .row
                              .col-xs-3.text-center
                                %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
                              .col-xs-9
                                %h4 Лиза Школьник
                                %p Эксперт в электронной коммерции, опыт с 1997 года. Имеет обширный опыт в интернет-маркетинге, включая создание и продвижение интернет-проектов, любые виды рекламы
                            .divider20
                          .dd_expert
                            .divider20
                            .row
                              .col-xs-3.text-center
                                %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
                              .col-xs-9
                                %h4 Владимир Видро
                                %p Эксперт в электронной коммерции, опыт с 1997 года. Имеет обширный опыт в интернет-маркетинге, включая создание и продвижение интернет-проектов, любые виды рекламы
                            .divider20
                          .dd_expert
                            .divider20
                            .row
                              .col-xs-3.text-center
                                %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
                              .col-xs-9
                                %h4 Владимир Видро
                                %p Эксперт в электронной коммерции, опыт с 1997 года. Имеет обширный опыт в интернет-маркетинге, включая создание и продвижение интернет-проектов, любые виды рекламы
                            .divider20
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_2"}
                            .row
                              .col-xs-9
                                Заголовок 1
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_2.dd_xprt_article.collapse
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_3"}
                            .row
                              .col-xs-9
                                Заголовок 2
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_3.dd_xprt_article.collapse
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_4"}
                            .row
                              .col-xs-9
                                Заголовок 3
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_4.dd_xprt_article.collapse
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_5"}
                            .row
                              .col-xs-9
                                Заголовок 4
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_5.dd_xprt_article.collapse
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                    .divider20
            %span.auth-divider |
            %a.font_grey.bold{:href => "#"}
              %i.fa.fa-globe.font_lighter_grey
              %small
                %i.fa.fa-angle-down
            %ul.dropdown-menu.dropdown-mini{:role => "menu"}
            %span.auth-divider |
            %span.badge.grey 500
            %small.font_lighter_grey.bold
              Лиза Школьник
              %a{:href => "profile.html"}
                %i.fa.fa-angle-down
      / Top Bar ends
      .subhead
        .container
          %h4.font_white Решение конфликта, возникшего из-за меда
        %button#tooltip_button_3.btn.btn-tooltip{:type => "button", :value => "Show"}
          %i.fa.fa-lightbulb-o
          Открыть подсказки
        %button#close_tooltip_button_3.btn.btn-tooltip-close{:type => "button", :value => "Destroy"}
          %i.fa.fa-lightbulb-o
          Закрыть подсказки
      .container
        .row
          .col-md-8.col_padding_right_3
            .border_grey.rounded_3.stages_block
              .btn-toolbar{:role => "toolbar"}
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage1{:href => "1st-stage.html", :role => "button"} 1
                  %a.btn.back_color_stage2{:href => "2nd-stage.html", :role => "button"} 2
                  %a.btn.back_color_stage3{:href => "3rd-stage.html", :role => "button"} 3
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage4{:href => "4th-stage.html", :role => "button"} 4 СТАДИЯ: ДИЗАЙН БУДУЩЕГО
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage5{:href => "5th-stage.html", :role => "button"} 5
                  %a.btn.back_color_stage6.icon_new.i_new_stage{:href => "6th-stage.html", :role => "button"} 6
                  %a.btn.back_color_stage7{:href => "7th-stage.html", :role => "button"} 7
          .col-md-4.col_padding_left_3
            .border_grey.rounded_3.help_icon
            .border_grey.rounded_3.progress_block
              .container
                .row
                  .col-xs-6.col-md-6.col_padding_right_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Ваш прогресс на стадии
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#7373aa", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
                  .col-xs-6.col-md-6.col_padding_left_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Прогресс других участников
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#7373aa", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
      / Main Block starts
      .main-block
        .container
          .stage-info-sort-block
            .row
              %br/
              .col-md-7
                %span.stage-heading
                  Нововведения (2)
                  %i.fa.fa-question-circle
              .col-md-5
                .sort-block.pull-right
                  %span.sort-label Сортировать по новым:
                  .sort-1
                    %span 25
                  .sort-2
                    %span 2
                  %a{:href => "cabinet-stage3.html"}
                    %button.btn.add-button
                      %span> +
                      Нововведение
          .stage-post-block
            .row
              .col-md-6
                .post
                  .post-header.white
                    .row
                      .col-md-10.col-xs-10
                        %h5.font_purple.bold Соглашение и арбитр.
                      .col-md-2.col-xs-2
                        %h5.time 20.12.2014
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img50{:src => "img/ava-pyat.jpg"}/
                        %p.poster-name Пятачок
                      .media-body.white-gray
                        .post-text
                          %p Взаимное недоверие четвероногих и пчёл
                  .contenthover
                    .arrow.open-popup{"data-placement" => "4", "data-target" => "1"}
                      %i.fa.fa-angle-right
                  #tooltip3_2.post-bottom.white.tooltip3_2{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "В цветных квадратиках скрывается перечень несовершенств, связанных с данным нововведением. Нажмите на любой из них, чтобы увидеть полное название нововведения."}
                    .row
                      .col-md-9.col_padding_right_3
                        %small.pull-left{:style => "margin-right: 3px;"} Идеи
                        #stripe1.post-theme
                          %a#stripe1.tag-stripes.dark-blue.active{:href => "#"}
                            %span.tags Взаимное недоверие четвероногих и пчёл
                          %a#stripe1.tag-stripes.blue-green{:href => "#"}
                            %span.tags Четвероногим нечем заинтересовать пчел
                          %a#stripe1.tag-stripes.blue-green2{:href => "#"}
                            %span.tags Активное противостояние четвероногих и пчел
                          %a#stripe1.tag-stripes.blue-green3{:href => "#"}
                            %span.tags Рядом с дубом нет цветочных полян
                          %a#stripe1.tag-stripes.light-green{:href => "#"}
                            %span.tags Пчелы летают слишком медленно
                      .col-md-3.col_padding_left_3
                        .text-right.small_icons
                          %a.popup2.a_font_reset
                            %small 5
                            %i.fa.fa-comment-o
                          %span.popup2
                            %small 9
                            %i.fa.fa-thumbs-o-up.fa-flip-horizontal
                          %span.popup2
                            %small 1
                            %i.fa.fa-thumbs-o-down.fa-flip-horizontal
                          %span.popup2
                            %i.fa.fa-exclamation-triangle.font_lighter_grey
              .col-md-6
                .post
                  .post-header.white
                    .row
                      .col-md-10.col-xs-10
                        %h5#tooltip3_1.font_purple.bold.tooltip3_1{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "Каждое нововведение может устранять одно или несколько несовершенств."} Аренда медовырабатывающей машины
                      .col-md-2.col-xs-2
                        %h5.time 21.12.2014
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img50{:src => "img/ava-rabb.jpg"}/
                        %p.poster-name Кролик
                      .media-body.white-gray
                        .post-text
                          %p Четвероногим нечем заинтересовать пчел
                  .contenthover
                    .arrow.open-popup{"data-placement" => "4", "data-target" => "1"}
                      %i.fa.fa-angle-right
                  .post-bottom.white
                    .row
                      .col-md-9.col_padding_right_3
                        %small.pull-left{:style => "margin-right: 3px;"} Идеи
                        #stripe2.post-theme
                          %a#stripe2.tag-stripes.blue-green2.active{:href => "#"}
                            %span.tags Взаимное недоверие четвероногих и пчёл
                          %a#stripe2.tag-stripes.blue-green3{:href => "#"}
                            %span.tags Четвероногим нечем заинтересовать пчел
                          %a#stripe2.tag-stripes.blue-green{:href => "#"}
                            %span.tags Активное противостояние четвероногих и пчел
                          %a#stripe2.tag-stripes.light-green{:href => "#"}
                            %span.tags Рядом с дубом нет цветочных полян
                          %a#stripe2.tag-stripes.dark-blue2{:href => "#"}
                            %span.tags Пчелы летают слишком медленно
                      .col-md-3.col_padding_left_3
                        .text-right.small_icons
                          %a.popup2.a_font_reset
                            %small 5
                            %i.fa.fa-comment-o
                          %span.popup2
                            %small 9
                            %i.fa.fa-thumbs-o-up.fa-flip-horizontal
                          %span.popup2
                            %small 1
                            %i.fa.fa-thumbs-o-down.fa-flip-horizontal
                          %span.popup2
                            %i.fa.fa-exclamation-triangle.font_lighter_grey
          %a.open-popup-vote-link{:href => "#vote-4"} Голосовалка
          / Main Block ends
          #popup-4-1.popup-window.detailed_popup.popup-w1030.mfp-hide
            .popup.popup_rounded.popup_color_theme_stage4
              .modal_title
                .row
                  .col-md-8
                    %h4.bold.font_dark_grey
                      Нововведение "Соглашение и арбитр."
                  .col-md-4
                    .row
                      .col-md-12
                        .text-right.post_likes
                          %span.bold
                            5
                            %i.fa.fa-comment.theme_font_color
                          %span.bold
                            9
                            %i.fa.fa-thumbs-up.theme_font_color
                          %span.bold
                            1
                            %i.fa.fa-thumbs-down.theme_font_color
                          %span
                            %i.fa.fa-exclamation-triangle.font_lighter_grey
                          %small 21.12.2014
              .poster-line.line-grey
                %span.tags_badge идеи
                .row
                  .col-md-6
                    .innov-poster-cont
                      %img.img-circle{:src => "img/ava-pyat.jpg"}/
                      %span.poster-name Пятачок
                  .col-md-6.col_padding_right_0
                    .innov-tags
                      .innov-tags-tag.dark-blue.popup_tooltip.tooltip3_tag_1 Взаимное недоверие четвероногих и пчёл
                      .innov-tags-tag.blue-green.popup_tooltip.tooltip3_tag_2 Четвероногим нечем заинтересовать пчел
                      .innov-tags-tag.blue-green2.popup_tooltip.tooltip3_tag_3 Активное противостояние четвероногих и пчел
                      .innov-tags-tag.blue-green3.popup_tooltip.tooltip3_tag_4 Рядом с дубом нет цветочных полян
                      .innov-tags-tag.light-green.popup_tooltip.tooltip3_tag_5 Пчелы летают слишком медленно
              .container
                .row
                  .col-md-6.com_dashed_border.right.popup_collapsable_col.collapse.in
                    %button.expand_button.remove_col.btn_reset{"data-col" => "6", "data-target" => ".popup_collapsable_col", "data-toggle" => "collapse", :type => "button"}
                    .divider25
                    .stripe-qa
                      .lined-heading
                        %span.bold-stripe Деятельность
                      %p
                        %strong> Описание:
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                      %p
                        %strong> Обоснование:
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    .stripe-qa
                      .lined-heading
                        %span.bold-stripe Деятели
                      %p
                        %strong> Описание:
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    .stripe-qa
                      .lined-heading
                        %span.bold-stripe Ресурсы и инструменты
                      %p
                        %strong> Описание:
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    .stripe-qa
                      .lined-heading
                        %span.bold-stripe Воздействие на целевую аудиторию
                      %p
                        %strong> Описание:
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    .stripe-qa
                      .lined-heading
                        %span.bold-stripe Воздействие на среду
                      %p
                        %strong> Описание:
                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                  .col-md-6.comment_col.popup_expandable_col{"data-col" => "6"}
                    %button.expand_button.add_col.btn_reset.theme_font_color.bold{"data-col" => "6", "data-target" => ".popup_collapsable_col", "data-toggle" => "collapse", :type => "button"} открыть описание проекта
                    .divider15
                    #myCarousel.carousel.slide{"data-ride" => "carousel"}
                      .carousel-inner{:role => "listbox"}
                        .item.active
                          #comment1.media.comment
                            .media-left
                              %img.media-object.img35.img-circle{:src => "img/ava-vinnie.jpg"}/
                            .media-body
                              %h5.media-heading.bold Винни-Пух
                              %span.comment_interf
                                %span.date_time.theme_font_color 15:28
                                %span.dropdown.edit_comment
                                  %button#edit_comment1.btn_reset{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                                    %i.fa.fa-cog.fa-lg.theme_font_color
                                  %ul.dropdown-menu{"aria-labelledby" => "edit_comment1", :role => "menu"}
                                    %li
                                      %a{:href => "#", :tabindex => "-1"}
                                        %i.fa.fa-pencil>
                                        Редактировать
                                    %li
                                      %a{:href => "#", :tabindex => "-1"}
                                        %i.fa.fa-close>
                                        Удалить
                                %span.badge.badge_important.theme_back_color важно
                            %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                            .post-interfaces-buttons.text-left
                              %button.rate_button{"data-for" => "comment1", "data-rate-action" => "like", :type => "button"}
                                %span.bold
                                  9
                                  %i.fa.fa-thumbs-up.theme_font_color
                              %button.rate_button{"data-for" => "comment1", "data-rate-action" => "dislike", :type => "button"}
                                %span.bold
                                  1
                                  %i.fa.fa-thumbs-down.theme_font_color
                              %button.reply_btn.collapsed{"data-target" => "#reply_form_1", "data-toggle" => "collapse", :type => "button"}
                                %span.bold
                                  %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          %form#reply_form_1.form-group.comment_add.collapse
                            .input_cont
                              %textarea{:placeholder => "Ваш комментарий"}
                            %button.btn{:type => "button"}
                              %span.bold
                                %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          %a.answers_collapse.theme_font_color{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#answers-3-1"}
                            %span 3 ответа
                          #answers-3-1.com_answers.collapse
                            .answers_subblock.level1
                              #comment2.media.comment.unread
                                .media-left
                                  %img.media-object.img35.img-circle{:src => "img/ava-vinnie.jpg"}/
                                .media-body
                                  %h5.media-heading.bold Винни-Пух
                                  %span.comment_interf
                                    %span.date_time.theme_font_color 17:28
                                    %span.badge.badge_important.theme_back_color важно
                                %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                                .post-interfaces-buttons.text-left
                                  %button.rate_button{"data-for" => "comment2", "data-rate-action" => "like", :type => "button"}
                                    %span.bold
                                      9
                                      %i.fa.fa-thumbs-up.theme_font_color
                                  %button.rate_button{"data-for" => "comment2", "data-rate-action" => "dislike", :type => "button"}
                                    %span.bold
                                      1
                                      %i.fa.fa-thumbs-down.theme_font_color
                                  %button.reply_btn.collapsed{"data-target" => "#reply_form_2", "data-toggle" => "collapse", :type => "button"}
                                    %span.bold
                                      %i.fa.fa-reply.fa-rotate-180.theme_font_color
                              %form#reply_form_2.form-group.comment_add.collapse
                                .input_cont
                                  %textarea{:placeholder => "Ваш комментарий"}
                                %button.btn{:type => "button"}
                                  %span.bold
                                    %i.fa.fa-reply.fa-rotate-180.theme_font_color
                              #comment3.media.comment.unread
                                .media-left
                                  %img.media-object.img35.img-circle{:src => "img/ava-vinnie.jpg"}/
                                .media-body
                                  %h5.media-heading.bold Винни-Пух
                                  %span.comment_interf
                                    %span.date_time.theme_font_color 15:28
                                    %span.dropdown.edit_comment
                                      %button#edit_comment2.btn_reset{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                                        %i.fa.fa-cog.fa-lg.theme_font_color
                                      %ul.dropdown-menu{"aria-labelledby" => "edit_comment1", :role => "menu"}
                                        %li
                                          %a{:href => "#", :tabindex => "-1"}
                                            %i.fa.fa-pencil>
                                            Редактировать
                                        %li
                                          %a{:href => "#", :tabindex => "-1"}
                                            %i.fa.fa-close>
                                            Удалить
                                %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                                .post-interfaces-buttons.text-left
                                  %button.rate_button{"data-for" => "comment3", "data-rate-action" => "like", :type => "button"}
                                    %span.bold
                                      9
                                      %i.fa.fa-thumbs-up.theme_font_color
                                  %button.rate_button{"data-for" => "comment3", "data-rate-action" => "dislike", :type => "button"}
                                    %span.bold
                                      1
                                      %i.fa.fa-thumbs-down.theme_font_color
                                  %button.reply_btn.collapsed{"data-target" => "#reply_form_3", "data-toggle" => "collapse", :type => "button"}
                                    %span.bold
                                      %i.fa.fa-reply.fa-rotate-180.theme_font_color
                              %form#reply_form_3.form-group.comment_add.collapse
                                .input_cont
                                  %textarea{:placeholder => "Ваш комментарий"}
                                %button.btn{:type => "button"}
                                  %span.bold
                                    %i.fa.fa-reply.fa-rotate-180.theme_font_color
                            .answers_subblock.level2
                              #comment4.media.comment
                                .media-left
                                  %img.media-object.img35.img-circle{:src => "img/ava-vinnie.jpg"}/
                                .media-body
                                  %h5.media-heading.bold Винни-Пух
                                  %span.comment_interf
                                    %span.date_time.theme_font_color 15:28
                                %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                                .post-interfaces-buttons.text-left
                                  %button.rate_button{"data-for" => "comment4", "data-rate-action" => "like", :type => "button"}
                                    %span.bold
                                      9
                                      %i.fa.fa-thumbs-up.theme_font_color
                                  %button.rate_button{"data-for" => "comment4", "data-rate-action" => "dislike", :type => "button"}
                                    %span.bold
                                      1
                                      %i.fa.fa-thumbs-down.theme_font_color
                                  %button.reply_btn.collapsed{"data-target" => "#reply_form_4", "data-toggle" => "collapse", :type => "button"}
                                    %span.bold
                                      %i.fa.fa-reply.fa-rotate-180.theme_font_color
                              %form#reply_form_4.form-group.comment_add.collapse
                                .input_cont
                                  %textarea{:placeholder => "Ваш комментарий"}
                                %button.btn{:type => "button"}
                                  %span.bold
                                    %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          #comment5.media.comment.unread
                            .media-left
                              %img.media-object.img35.img-circle{:src => "img/ava-vinnie.jpg"}/
                            .media-body
                              %h5.media-heading.bold Винни-Пух
                              %span.comment_interf
                                %span.date_time.theme_font_color 27.03.2015 15:28
                                %span.badge.badge_important.theme_back_color важно
                            %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                            .post-interfaces-buttons.text-left
                              %button.rate_button{"data-for" => "comment5", "data-rate-action" => "like", :type => "button"}
                                %span.bold
                                  9
                                  %i.fa.fa-thumbs-up.theme_font_color
                              %button.rate_button{"data-for" => "comment5", "data-rate-action" => "dislike", :type => "button"}
                                %span.bold
                                  1
                                  %i.fa.fa-thumbs-down.theme_font_color
                              %button.reply_btn.collapsed{"data-target" => "#reply_form_5", "data-toggle" => "collapse", :type => "button"}
                                %span.bold
                                  %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          %form#reply_form_5.form-group.comment_add.collapse
                            .input_cont
                              %textarea{:placeholder => "Ваш комментарий"}
                            %button.btn{:type => "button"}
                              %span.bold
                                %i.fa.fa-reply.fa-rotate-180.theme_font_color
                        .item
                        .item
                    .divider15
                    %form.form-group.comment_add.main_add
                      .input_cont
                        %textarea{:placeholder => "Ваш комментарий"}
                      %button.btn{:type => "button"}
                        %span.bold
                          %i.fa.fa-reply.fa-rotate-180.theme_font_color
                    %nav.text-center
                      %ul.pagination
                        %li
                          %a.myCarousel-target.active{"data-slide-to" => "0", "data-target" => "#myCarousel"} 1
                        %li
                          %a.myCarousel-target{"data-slide-to" => "1", "data-target" => "#myCarousel"} 2
                        %li
                          %a.myCarousel-target{"data-slide-to" => "2", "data-target" => "#myCarousel"} 3
              .divider25
          #vote-4.popup-window.popup-vote.popup-w1030.mfp-hide
            .popup.popup_rounded
              .modal_title
                .row
                  .col-md-12
                    %h4.bold.font_dark_grey.tall_modal_title
                      Голосование по нововведениям
              .vote_progress_cont.progress
                .vote_progress.light-green.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar"}
              .modal_body
                .container.vote_folders_cont.folders_2.no_padding_col
                  %ul.nav.vote_nav.row{:role => "tablist"}
                    %li.no_padding_col.active.folder_all{:role => "presentation"}
                      %a.vote_folder{"data-toggle" => "tab", :href => "#vote_tab1", :role => "tab"}
                        %i.fa.fa-angle-left.fa_xlg
                        %small.bold Вернуться в общий список
                    %li.col-md-6.no_padding_col{:role => "presentation"}
                      %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "vote_yes", :href => "#vote_tab2", :role => "tab"}
                        .vote_folder_inn.poll-2-1
                          %span.vote_counter
                          %h5 Да
                    %li.col-md-6.no_padding_col{:role => "presentation"}
                      %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "vote_no", :href => "#vote_tab3", :role => "tab"}
                        .vote_folder_inn.poll-2-3
                          %span.vote_counter
                          %h5 Нет
                %h4.bold.text-center 1. Нравится ли вам нововведение?
                .divider25
                .container
                  .row
                    .divider25
                    .tab-content
                      #vote_tab1.tab-pane.all_vote.active{:role => "tabpanel"}
                        .container.padding30
                          .row
                            .col-sm-4.vote_item_cont.item_expandable.h_2
                              .vote_item
                                .heading_cont.blackonwhite
                                  %h6 Lorem ipsum
                                %p Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                                #stripe-p-1.post-theme
                                  %small.pull-left Несовершенства
                                  %a#stripe-p-1.tag-stripes.dark-blue.active{:href => "#"}
                                    %span.tags Слишком низкие потолки
                                  %a#stripe-p-1.tag-stripes.blue-green{:href => "#"}
                                    %span.tags Четвероногим нечем заинтересовать пчел
                                  %a#stripe-p-1.tag-stripes.blue-green2{:href => "#"}
                                    %span.tags Активное противостояние четвероногих и пчел
                                .divider15
                                .vote_controls.text-center
                                  %button.btn.vote_button.v_b_text.v_btn_1{"data-vote-role" => "vote_yes", :role => "button"} Да
                                  %button.btn.vote_button.v_b_text.v_btn_3{"data-vote-role" => "vote_no", :role => "button"} Нет
                                  %span.vote_open_detail.grey
                                    %i.fa.fa-angle-right.font_white
                                  .divider15
                            .col-sm-4.vote_item_cont.item_expandable.h_2
                              .vote_item
                                .heading_cont.blackonwhite
                                  %h6 Lorem ipsum
                                %p Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                                #stripe-p-1.post-theme
                                  %small.pull-left Несовершенства
                                  %a#stripe-p-1.tag-stripes.dark-blue.active{:href => "#"}
                                    %span.tags Слишком низкие потолки
                                  %a#stripe-p-1.tag-stripes.blue-green{:href => "#"}
                                    %span.tags Четвероногим нечем заинтересовать пчел
                                  %a#stripe-p-1.tag-stripes.blue-green2{:href => "#"}
                                    %span.tags Активное противостояние четвероногих и пчел
                                .divider15
                                .vote_controls.text-center
                                  %button.btn.vote_button.v_b_text.v_btn_1{"data-vote-role" => "vote_yes", :role => "button"} Да
                                  %button.btn.vote_button.v_b_text.v_btn_3{"data-vote-role" => "vote_no", :role => "button"} Нет
                                  %span.vote_open_detail.grey
                                    %i.fa.fa-angle-right.font_white
                                  .divider15
                            .col-sm-4.vote_item_cont.item_expandable.h_2
                              .vote_item
                                .heading_cont.blackonwhite
                                  %h6 Lorem ipsum
                                %p Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                                #stripe-p-1.post-theme
                                  %small.pull-left Несовершенства
                                  %a#stripe-p-1.tag-stripes.dark-blue.active{:href => "#"}
                                    %span.tags Слишком низкие потолки
                                  %a#stripe-p-1.tag-stripes.blue-green{:href => "#"}
                                    %span.tags Четвероногим нечем заинтересовать пчел
                                  %a#stripe-p-1.tag-stripes.blue-green2{:href => "#"}
                                    %span.tags Активное противостояние четвероногих и пчел
                                .divider15
                                .vote_controls.text-center
                                  %button.btn.vote_button.v_b_text.v_btn_1{"data-vote-role" => "vote_yes", :role => "button"} Да
                                  %button.btn.vote_button.v_b_text.v_btn_3{"data-vote-role" => "vote_no", :role => "button"} Нет
                                  %span.vote_open_detail.grey
                                    %i.fa.fa-angle-right.font_white
                                  .divider15
                        .divider50
                      #vote_tab2.tab-pane{"data-vote-poll-role" => "vote_yes", :role => "tabpanel"}
                        .container.padding30
                          .row
                          .divider50
                      #vote_tab3.tab-pane{"data-vote-poll-role" => "vote_no", :role => "tabpanel"}
                        .container.padding30
                          .row
                          .divider50
                    .divider35
    / Outer Ends
    / Javascript files
    / jQuery
    %script{:src => "js/jquery.js"}
    / Bootstrap JS
    %script{:src => "js/bootstrap.min.js"}
    / Magnific Popup
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / Owl carousel
    %script{:src => "js/owl.carousel.min.js"}
    / Respond JS for IE8
    %script{:src => "js/respond.min.js"}
    / HTML5 Support for IE
    %script{:src => "js/html5shiv.js"}
    / Content hover JS
    %script{:src => "js/jquery.contenthover.min.js"}
    / Javascript for this page
    / Excanvas JS for Knob Support in IE 8
    %script{:src => "js/waypoints.min.js"}
    %script{:src => "js/excanvas.js"}
    / jQuery Knob
    %script{:src => "js/jquery.knob.js"}
    / Perfect scrollbar
    %script{:src => "js/perfect-scrollbar.jquery.min.js"}
    / Custom JS. Type your JS code in custom.js file
    %script{:src => "js/custom.js"}
    :javascript
      /* perfect scrollbar */
      $('.ps_cont.half_wheel_speed').perfectScrollbar({
          wheelSpeed: 0.3
      });
      $('.ps_cont').perfectScrollbar();
