!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
    %link{:href => "css/custom-post.css", :rel => "stylesheet"}/
  %body
    .outer.stage3_theme
      / Top bar starts
      %header.navbar.top_bar
        .container
          .navbar-header
            %a.navbar-brand{:href => "main.html"}
              %img{:src => "img/logo1.png"}/
          %ul.nav.navbar-nav.main_menu
            %li.active
              %a{:href => "first-stage.html"} Процедура
            %li
              %a{:href => "cabinet-stage1.html"} Кабинет
            %li
              %a#popover_news.has_circle.popover_news{"data-content" => "\n                    <div class='popover_cont'>\n                    <a href='#' class='news-tooltip-icon' id='tooltip-i1'>\n                        <img src='img/icon-news-1.png'>\n                        <span class='news-tooltip-bottom-text'>добавлено</span>\n                    </a>\n                    <a href='#' class='news-tooltip-icon' id='tooltip-i2'>\n                        <img src='img/icon-news-2.png'>\n                        <span class='news-tooltip-bottom-text'>комментария</span>\n                    </a>\n                    <a href='#popup-news' class='news-tooltip-icon news-popup-href' id='tooltip-i3'>\n                        <img src='img/icon-news-3.png'>\n                        <span class='top-circle'>36</span>\n                        <span class='news-tooltip-bottom-text'>пометок</span>\n                    </a>\n                    <a href='#' class='news-tooltip-icon' id='tooltip-i4'>\n                        <img src='img/icon-news-4.png'>\n                        <span class='top-circle'>1</span>\n                        <span class='news-tooltip-bottom-text'>отредактировано</span>\n                    </a>\n                    </div>", "data-html" => "true", "data-placement" => "bottom", "data-toggle" => "popover", :href => "#"}
                Новости
                %span.top-circle 36
          .navbar-right.text-right.user_block.font_grey
            %a.book_icon{:href => "#"}
            %span.auth-divider |
            %a.font_lighter_grey.bold{:href => "#"}
              %i.fa.fa-exclamation-triangle
            %span.auth-divider |
            %a.font_grey.bold{:href => "#"}
              %i.fa.fa-globe.font_lighter_grey
              %small
                %i.fa.fa-angle-down
            %ul.dropdown-menu.dropdown-mini{:role => "menu"}
            %span.auth-divider |
            %span.badge.grey 500
            %a.font_lighter_grey.bold{:href => "#"}
              %small
                Лиза Школьник
                %i.fa.fa-angle-down
      / Top Bar ends
      .subhead
        .container
          %h4.font_white Решение конфликта, возникшего из-за меда
        %button#tooltip_button_3.btn.btn-tooltip{:type => "button", :value => "Show"}
          %i.fa.fa-lightbulb-o
          Открыть подсказки
        %button#close_tooltip_button_3.btn.btn-tooltip-close{:type => "button", :value => "Destroy"}
          %i.fa.fa-lightbulb-o
          Закрыть подсказки
      .container
        .row
          .col-md-8.col_padding_right_3
            .border_grey.rounded_3.stages_block
              .btn-toolbar{:role => "toolbar"}
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage1{:href => "first-stage.html", :role => "button"} 1
                  %a.btn.back_color_stage2{:href => "second-stage.html", :role => "button"} 2
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage3{:href => "third-stage.html", :role => "button"} 3 СТАДИЯ: ДИЗАЙН БУДУЩЕГО
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage4{:href => "fourth-stage.html", :role => "button"} 4
                  %a.btn.back_color_stage5{:href => "fifth-stage.html", :role => "button"} 5
          .col-md-4.col_padding_left_3
            .border_grey.rounded_3.help_icon
            .border_grey.rounded_3.progress_block
              .container
                .row
                  .col-xs-6.col-md-6.col_padding_right_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Ваш прогресс на стадии
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#7373aa", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
                  .col-xs-6.col-md-6.col_padding_left_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Прогресс других участников
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#7373aa", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
      / Main Block starts
      .main-block
        .container
          .stage-info-sort-block
            .row
              %br/
              .col-md-7
                %span.stage-heading
                  Нововведения (11)
                  %i.fa.fa-question-circle
              .col-md-5
                .sort-block.pull-right
                  %span.sort-label Сортировать:
                  %span.sort-date
                  %span.sort-rate
                  %a{:href => "cabinet-stage3.html"}
                    %button.btn.add-button
                      %span> +
                      Нововведение
          .stage-post-block
            .row
              .col-md-6
                .post
                  .post-header.white
                    .row
                      .col-md-9.col-xs-9
                        %h5.font_purple.bold Соглашение и арбитр.
                      .col-md-1.col-xs-1
                        %h4.pull-right
                          %i.fa.fa-exclamation-triangle.font_lighter_grey
                      .col-md-2.col-xs-2
                        %h5.time 20.12.2014
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img50{:src => "img/ava-pyat.jpg"}/
                        %p.poster-name Пятачок
                      .media-body.white-gray
                        .post-text
                          %p Взаимное недоверие четвероногих и пчёл
                  .contenthover
                    %a.open-popup-link{:href => "#popup-innov-new1"}
                      .arrow
                        %i.fa.fa-angle-right
                  #tooltip3_2.post-bottom.white.tooltip3_2{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "В цветных квадратиках скрывается перечень несовершенств, связанных с данным нововведением. Нажмите на любой из них, чтобы увидеть полное название нововведения."}
                    .row
                      .col-md-10.col_padding_right_3
                        %small.pull-left{:style => "margin-right: 3px;"} Идеи
                        #stripe1.post-theme
                          %a#stripe1.tag-stripes.dark-blue.active{:href => "#"}
                            %span.tags Взаимное недоверие четвероногих и пчёл
                          %a#stripe1.tag-stripes.blue-green{:href => "#"}
                            %span.tags Четвероногим нечем заинтересовать пчел
                          %a#stripe1.tag-stripes.blue-green2{:href => "#"}
                            %span.tags Активное противостояние четвероногих и пчел
                          %a#stripe1.tag-stripes.blue-green3{:href => "#"}
                            %span.tags Рядом с дубом нет цветочных полян
                          %a#stripe1.tag-stripes.light-green{:href => "#"}
                            %span.tags Пчелы летают слишком медленно
                          %a#stripe1.tag-stripes.sandy{:href => "#"}
                            %span.tags Винни Пух не говорит по пчелиному
                      .col-md-2.col_padding_left_3
                        .text-right.small_icons
                          %span.popup2
                            5
                            %i.fa.fa-comment-o
                          %span.popup2
                            9
                            %i.fa.fa-thumbs-o-up
                          %span.popup2
                            1
                            %i.fa.fa-thumbs-o-down
              .col-md-6
                .post
                  .post-header.white
                    .row
                      .col-md-9.col-xs-9
                        %h5#tooltip3_1.font_purple.bold.tooltip3_1{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "Каждое нововведение может устранять одно или несколько несовершенств."} Аренда медовырабатывающей машины
                      .col-md-1.col-xs-1
                        %h4.pull-right
                          %i.fa.fa-exclamation-triangle.font_lighter_grey
                      .col-md-2.col-xs-2
                        %h5.time 21.12.2014
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img50{:src => "img/ava-rabb.jpg"}/
                        %p.poster-name Кролик
                      .media-body.white-gray
                        .post-text
                          %p Четвероногим нечем заинтересовать пчел
                  .contenthover
                    %a.open-popup-link{:href => "#popup-innov-new1"}
                      .arrow
                        %i.fa.fa-angle-right
                  .post-bottom.white
                    .row
                      .col-md-10.col_padding_right_3
                        %small.pull-left{:style => "margin-right: 3px;"} Идеи
                        #stripe2.post-theme
                          %a#stripe2.tag-stripes.blue-green2.active{:href => "#"}
                            %span.tags Взаимное недоверие четвероногих и пчёл
                          %a#stripe2.tag-stripes.blue-green3{:href => "#"}
                            %span.tags Четвероногим нечем заинтересовать пчел
                          %a#stripe2.tag-stripes.blue-green{:href => "#"}
                            %span.tags Активное противостояние четвероногих и пчел
                          %a#stripe2.tag-stripes.light-green{:href => "#"}
                            %span.tags Рядом с дубом нет цветочных полян
                          %a#stripe2.tag-stripes.dark-blue2{:href => "#"}
                            %span.tags Пчелы летают слишком медленно
                      .col-md-2.col_padding_left_3
                        .text-right.small_icons
                          %span.popup2
                            5
                            %i.fa.fa-comment-o
                          %span.popup2
                            9
                            %i.fa.fa-thumbs-o-up
                          %span.popup2
                            1
                            %i.fa.fa-thumbs-o-down
              / Main Block ends
              #popup-innov-new1.popup-window.popup-innov-new.popup-innov-new.popup-w1030.mfp-hide
                .popup.popup-top-rounded.popup-bottom-rounded
                  %h2 Нововведение "Соглашение и арбитр."
                  .poster-line.line-grey
                    .row
                      .col-md-6
                        .innov-poster-cont
                          %img.img-circle{:src => "img/ava-pyat.jpg"}/
                          %span.poster-name Пятачок
                      .col-md-6
                        .innov-tags
                          .innov-tags-tag.dark-blue Взаимное недоверие четвероногих и пчёл
                          .innov-tags-tag.blue-green Четвероногим нечем заинтересовать пчел
                          .innov-tags-tag.blue-green2 Активное противостояние четвероногих и пчел
                          .innov-tags-tag.blue-green3 Рядом с дубом нет цветочных полян
                          .innov-tags-tag.light-green Пчелы летают слишком медленно
                          .innov-tags-tag.sandy Винни Пух не говорит по пчелиному
                  .popup-imperfect-main-block
                    .row
                      .col-md-6
                        .stripe-qa
                          .lined-heading
                            %span.bold-stripe Опишите, что новое появится в будущем, чтобы улучшить положение.
                          %p Контракт, регулирующий отношения четвероногих и пчел, и Сова в качестве арбитра.
                        .stripe-qa
                          .lined-heading
                            %span.bold-stripe Объясните, почему ваше нововведение улучшит текущее положение.
                          %p
                            Если вступит в действие соглашение, регулирующее отношения четвероногих и пчел , а Сова
                            станет арбитром, то данный документ позволит регламентировать:
                          %ul
                            %li
                              когда, кем и как определяется количество меда, произведенного пчелами сверх
                              нынешнего
                              уровня; - каков регламент передачи пчелами меда четвероногим;
                            %li Как будут четвероногие содействовать производству меда;
                            %li как и кем осуществляется контроль за соблюдением соглашения;
                            %li
                              какие санкции за всевозможные нарушения контракта обеими сторонами предусмотрены;
                            %li как действует арбитр и кто ему помогает осуществлять его функции.
                        .stripe-qa
                          .lined-heading
                            %span.bold-stripe Опишите функционирование вашего нововведения в будущем – что должно регулярно делаться и какие для этого нужно поддерживать условия?
                          %p ---
                        .stripe-qa
                          .lined-heading
                            %span.bold-stripe Какие ресурсы нужны в будущем для функционирования нововведения?
                          %p ---
                        .stripe-qa
                          .lined-heading
                            %span.bold-stripe Кто и как будет контролировать создание и поддержание должных условий и осуществление регулярных действий, а также предотвращение нежелательных побочныx эффектов
                          %p ---
                        .stripe-qa
                          .lined-heading
                            %span.bold-stripe Какие ресурсы потребуются для осуществления контроля?
                          %p ---
                        .stripe-qa
                          .lined-heading
                            %span.bold-stripe Что может помешать плодотворному функционированию ресурсов, перечисленных в разделах B, С и D, и как с этим предлагается бороться?
                          %p ---
                        .stripe-qa
                          .lined-heading
                            %span.bold-stripe Докажите, что эффект от нововведения оправдает связанные с ним денежные и трудовые затраты.
                          %p ---
                        .stripe-qa
                          .lined-heading
                            %span.bold-stripe Обоснуйте, что воплощение нововведения в жизнь не встретит серьезных препятствий.
                          %p ---
                      .col-md-6
                        %span.imperfect-text-date 20.12.2014
                        .imperfect-text-comments-post-block
                          .post-interfaces
                            .post-interfaces-buttons
                              %button{:type => "button"}
                                %img{:src => "img/icon-thumb-up.png"}/
                              %button{:type => "button"}
                                %img{:src => "img/icon-thumb-down.png"}/
                              %button{:type => "button"}
                                %img{:src => "img/icon-share.png"}/
                            %form.post-interfaces-add-comment
                              %input{:placeholder => "Ваш комментарий", :type => "text"}/
                              %button.btn{:type => "button"}
                                %img{:src => "img/comment-button.png"}/
                        .imperfect-text-comments-post-block
                          .poster-line
                            %img.img-circle{:src => "img/ava-rabb.jpg"}/
                            %span.poster-name Кролик
                            %span.comment-time 15:28
                          %p
                            Мест для прогулки во всем лесу полно, нам не нравится, что ты все время держишь нас в
                            напряжении своим присутствием.
                        .imperfect-text-comments-post-block
                          .poster-line
                            %img.img-circle{:src => "img/ava-ia.jpg"}/
                            %span.poster-name Ослик
                            %span.comment-time 19:30
                          %p
                            Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что
                        .imperfect-text-comments-post-block
                          .poster-line
                            %img.img-circle{:src => "img/ava-ia.jpg"}/
                            %span.poster-name Ослик
                            %span.comment-time 22:50
                          %p
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
              #modal1.modal.welcome_window.fade
                .modal-dialog
                  .modal-content
                    .modal-body.text-center
                      %p.text-center.bold.font_grey На этой стадии вы будете решать проблемы, выявленные на прошлой стадии, и наблюдать за тем, как это делают другие участники.
                      %br/
                      %p.text-center.bold.font_grey
                        Представьте себе идеальную ситуацию без текущих проблем и опишитн ее в предложенном нами формате. Чем больше несовершенств вы устраните
                        одним нововведением, тем лучше.
                      %br/
                      %p.text-center.bold.font_grey В конце стадии вы проголосуете за самые эффективные и срочные нововведения.
                      %br/
                      %br/
                      %button.btn.btn-danger{"aria-hidden" => "true", "data-dismiss" => "modal"} Закрыть окно
                  / /.modal-content
                / /.modal-dialog
              / /.modal
            / Outer Ends
            / Javascript files
            / jQuery
            %script{:src => "js/jquery.js"}
            / Bootstrap JS
            %script{:src => "js/bootstrap.min.js"}
            / Magnific Popup
            %script{:src => "js/jquery.magnific-popup.min.js"}
            / Owl carousel
            %script{:src => "js/owl.carousel.min.js"}
            / Respond JS for IE8
            %script{:src => "js/respond.min.js"}
            / HTML5 Support for IE
            %script{:src => "js/html5shiv.js"}
            / Content hover JS
            %script{:src => "js/jquery.contenthover.min.js"}
            / Javascript for this page
            / Excanvas JS for Knob Support in IE 8
            %script{:src => "js/waypoints.min.js"}
            %script{:src => "js/excanvas.js"}
            / jQuery Knob
            %script{:src => "js/jquery.knob.js"}
            / Custom JS. Type your JS code in custom.js file
            %script{:src => "js/custom.js"}
