!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Magnific Popup
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    / Owl carousel
    %link{:href => "css/owl.carousel.css", :rel => "stylesheet"}/
    / Perfect scrollbar
    %link{:href => "css/perfect-scrollbar.min.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
    %link{:href => "css/custom-post.css", :rel => "stylesheet"}/
    %link{:href => "css/colors.css", :rel => "stylesheet"}/
  %body.stage5_theme
    .outer
      / Top bar starts
      %header.navbar.top_bar
        .container
          .navbar-header
            %a.navbar-brand{:href => "main.html"}
              %img{:src => "img/logo1.png"}/
          %ul.nav.navbar-nav.main_menu
            %li
              %a.menu_a{:href => "1st-stage.html"} Процедура
            %li.active
              %a.menu_a{:href => "5th-stage-cabinet.html"} Кабинет
            %li.has_dropwindow
              %a.has_circle.drop_opener.menu_a{"data-dd-opener" => "dd_2"}
                Мои уведомления
                %span.top-circle 1
              #dd_2.dropdown_window.dd_435.notifications_drop.text-left
                .dd_wrapper
                  .dd_top.thin.light-grey
                    %i.fa.fa-close.fa-lg.dd_close{"data-dd-closer" => "dd_2"}
                  .dd_bottom.white
                    .divider10
                    .container
                      .row
                        .col-xs-12
                          .ps_cont
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage4
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage4
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            %a.dd_notice.moder{:href => "#"}
                              %span.dd_n_cell.left
                                %i.fa.fa-lg.fa-exclamation-triangle
                              %span.dd_n_cell.right
                                %span
                                  22:00 11.03.2015
                                  = succeed ":" do
                                    %span.bold Модератор
                                %p
                                  На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            .dd_nav_divider.font_color_stage4
                              %span 4
                            .divider10
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage2
                                %i.fa.fa-lg.fa-thumbs-up
                              %span.dd_n_cell.right.font_color_stage2
                                %span
                                  19:45 12.03.2015
                                  %span.bold Liza
                                  в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            .dd_nav_divider.font_color_stage2
                              %span 2
                            .divider10
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage1
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage1
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage1
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage1
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            %a.dd_notice{:href => "#"}
                              %span.dd_n_cell.left.font_color_stage1
                                %i.fa.fa-lg.fa-thumbs-down
                              %span.dd_n_cell.right.font_color_stage1
                                %span
                                  20:15 12.03.2015
                                  %span.bold Рахель
                                  в теме
                            .dd_nav_divider.font_color_stage1
                              %span 1
                            .divider10
                    .divider20
          .navbar-right.text-right.user_block.font_grey
            %a.book_icon.open-popup-link{:href => "#popup-database"}
            %span.auth-divider |
            %span.has_dropwindow
              %button.btn_reset.font_lighter_grey.bold.drop_opener{"data-dd-opener" => "dd_1"}
                %i.fa.fa-exclamation-triangle
              #dd_1.dropdown_window.dd_570.expert_news_drop.text-left
                .dd_badge
                  %i.fa.fa-exclamation-triangle
                  %small Новости от эксперта
                .dd_wrapper.white
                  .dd_top.light-grey
                    %i.fa.fa-close.fa-lg.dd_close{"data-dd-closer" => "dd_1"}
                  .dd_bottom
                    .divider20
                    .container
                      .ps_cont
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_1"}
                            .row
                              .col-xs-9
                                Представляем вам наш экспертный комитет:
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_1.dd_xprt_article.collapse
                          .dd_expert
                            .divider20
                            .row
                              .col-xs-3.text-center
                                %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
                              .col-xs-9
                                %h4 Лиза Школьник
                                %p Эксперт в электронной коммерции, опыт с 1997 года. Имеет обширный опыт в интернет-маркетинге, включая создание и продвижение интернет-проектов, любые виды рекламы
                            .divider20
                          .dd_expert
                            .divider20
                            .row
                              .col-xs-3.text-center
                                %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
                              .col-xs-9
                                %h4 Владимир Видро
                                %p Эксперт в электронной коммерции, опыт с 1997 года. Имеет обширный опыт в интернет-маркетинге, включая создание и продвижение интернет-проектов, любые виды рекламы
                            .divider20
                          .dd_expert
                            .divider20
                            .row
                              .col-xs-3.text-center
                                %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
                              .col-xs-9
                                %h4 Владимир Видро
                                %p Эксперт в электронной коммерции, опыт с 1997 года. Имеет обширный опыт в интернет-маркетинге, включая создание и продвижение интернет-проектов, любые виды рекламы
                            .divider20
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_2"}
                            .row
                              .col-xs-9
                                Заголовок 1
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_2.dd_xprt_article.collapse
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_3"}
                            .row
                              .col-xs-9
                                Заголовок 2
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_3.dd_xprt_article.collapse
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_4"}
                            .row
                              .col-xs-9
                                Заголовок 3
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_4.dd_xprt_article.collapse
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                        .dd_xprt_notice
                          %a.a_font_reset.collapsed{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#xprt_5"}
                            .row
                              .col-xs-9
                                Заголовок 4
                              .col-xs-3.text-right
                                %span.dd_n_date 1.12.2015
                                %i.fa.fa-angle-right.font_grey.bold
                        #xprt_5.dd_xprt_article.collapse
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                          %p
                            На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие
                            в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
                            В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для
                            исправления текущей ситуации.
                    .divider20
            %span.auth-divider |
            %a.font_grey.bold{:href => "#"}
              %i.fa.fa-globe.font_lighter_grey
              %small
                %i.fa.fa-angle-down
            %ul.dropdown-menu.dropdown-mini{:role => "menu"}
            %span.auth-divider |
            %span.badge.grey 500
            %small.font_lighter_grey.bold
              Лиза Школьник
              %a{:href => "profile.html"}
                %i.fa.fa-angle-down
      / Top Bar ends
      .subhead
        .container
          %h4.font_white Решение конфликта, возникшего из-за меда
      .container
        .row
          .col-md-12
            .border_grey.rounded_3.stages_block
              .btn-toolbar{:role => "toolbar"}
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage5{:href => "5th-stage.html", :role => "button"} 5 СТАДИЯ: ПРОЕКТНОЕ ПРЕДЛОЖЕНИЕ
                %i.fa.fa-info-circle.fa-lg.font_color_stage5.open_sticker{"data-for" => "#sticker1"}
                #sticker1.sticker.rounded_3.font_white
                  Тут будет текст, объясняющий, что надо делать на этом экране
                  %i.sticker_close.fa.fa-times.fa-lg{"data-for" => "#sticker1"}
      / Main Block starts
      .main-block
        .container
          .row
            .col-md-2
              %ul.list-unstyled.tabs_type_1{:role => "tablist"}
                %li.active{:role => "presentation"}
                  %a.a_font_reset.text-right{"data-toggle" => "tab", :href => "#cabinet_5_1", :role => "tab"} + Проектное предложение
                %li{:role => "presentation"}
                  %a.a_font_reset.text-right{"data-toggle" => "tab", :href => "#cabinet_5_2", :role => "tab"} Мои проектные предложения (2)
              .divider200
              %button.btn.add-button.type3.del Удалить
              .divider10
              %button.btn.add-button.type3.dark-green Сохранить и выйти
              .divider10
              %button.btn.add-button.type3.dark-green Опубликовать проект
            .col-md-9.col-md-offset-1
              .tab-content
                #cabinet_5_1.tab-pane.active.fade.in{:role => "tabpanel"}
                  .divider10
                  .content_window.bottom_panel_stop
                    / stop bottom panel here
                    %a.cont_heading.a_font_reset.bold.pocket_name.open-popup{"data-placement" => "cabinet5", "data-target" => "1"} Выбрать пакет
                  .content_window.white.c_w_5
                    .cont_heading
                      %button.btn.btn_cab_mod.type2.btn_toggle.btn_reset.active Описание проектного предложения
                    .divider10
                    .row
                      .col-md-4
                        %ul.list-unstyled.tabs_type_2{:role => "tablist"}
                          %li{:role => "presentation"}
                            %a.a_font_reset{"data-toggle" => "tab", :href => "#cabinet_5_cont_1", :role => "tab"} Описание проекта
                          %li{:role => "presentation"}
                            %a.a_font_reset{"data-toggle" => "tab", :href => "#cabinet_5_cont_2", :role => "tab"} Организационные риски
                          %li{:role => "presentation"}
                            %a.a_font_reset{"data-toggle" => "tab", :href => "#cabinet_5_cont_3", :role => "tab"} Ресурсные риски
                          %li{:role => "presentation"}
                            %a.a_font_reset{"data-toggle" => "tab", :href => "#cabinet_5_cont_4", :role => "tab"} Риски реализации
                      .col-md-8
                        .tab-content.tab_cont5.ps_cont
                          #cabinet_5_cont_0.tab-pane.active.fade.in{:role => "tabpanel"}
                            .divider35
                            .text-center
                              %img{:src => "img/cab_5_qsign.png"}/
                              .divider35
                              %p.cab5_placeholder
                                Здесь вы ответите на вопросы по пунктам слева,
                                %br/
                                для этого нажмите на одну из панелей, или знак вопроса
                            .divider70
                          #cabinet_5_cont_1.tab-pane.fade{:role => "tabpanel"}
                            %h6.bold Цели и ожидаемые результаты
                            %textarea.form-control{:rows => "5", :type => "text"}
                            .divider15
                            %h6.bold Краткое описание Проекта (усовершенствования)
                            %textarea.form-control{:rows => "5", :type => "text"}
                            .divider15
                            %h6.bold Краткое описание Проекта (усовершенствования)
                            %textarea.form-control{:rows => "5", :type => "text"}
                            .divider25
                          #cabinet_5_cont_2.tab-pane.fade{:role => "tabpanel"}
                          #cabinet_5_cont_3.tab-pane.fade{:role => "tabpanel"}
                          #cabinet_5_cont_4.tab-pane.fade{:role => "tabpanel"}
                #cabinet_5_2.tab-pane.fade{:role => "tabpanel"}
                  .row
                    .col-md-6
                      .media.type_cab
                        .divider5.white
                        .media-left.gradient2
                          .cab_folder.back3
                            %span.percentage.font_white.bold.text-center 32%
                          %p.time.text-center 21.12.2014
                        .media-body.white
                          %a.a_font_reset{:href => "5th-stage-cabinet-2.html"}
                            Название пакета с идеями идеями пакета
                          %span.post_btns_cont
                            %button.btn.btn_reset.btn_del
                              %i.fa.fa-pencil.fa-lg
                            %button.btn.btn_reset.btn_del
                              %i.fa.fa-trash-o.fa-lg
                          %i.fa.fa-2x.fa-angle-right.font_grey
                    .col-md-6
                      .media.type_cab
                        .divider5.white
                        .media-left.gradient2
                          .cab_folder.back3
                            %span.percentage.font_white.bold.text-center 32%
                          %p.time.text-center 21.12.2014
                        .media-body.white
                          %a.a_font_reset{:href => "5th-stage-cabinet-2.html"}
                            Название пакета с идеями идеями пакета
                          %span.post_btns_cont
                            %button.btn.btn_reset.btn_del
                              %i.fa.fa-pencil.fa-lg
                            %button.btn.btn_reset.btn_del
                              %i.fa.fa-trash-o.fa-lg
                          %i.fa.fa-2x.fa-angle-right.font_grey
          .divider70
        #bottom-panel.bottom_fix
          .container
            .row
              .col-md-3
              .col-md-9
                .content_window.white
                  .cont_heading
                    %button.btn.btn_cab_mod.type2.btn_toggle.btn_reset.active Добавление задач в проектное предложение
                    %button#bottom-opener.btn.btn_reset.btn_round30
                      %i.fa.fa-arrow-up.font_white
                  .divider10
      / Main Block ends
      #popup-cabinet5-1.popup-window.detailed_popup.popup-w1030.mfp-hide
        .content_window.white
          .cont_heading
            %button.btn.btn_cab_mod.type2.btn_toggle.btn_reset.active Выбор пакета
          .divider15
          .row
            .col-md-5
              %ul.list-unstyled.tabs_type_2.less_margin{:role => "tablist"}
                %li.active{:role => "presentation"}
                  %a.a_font_reset{"data-toggle" => "tab", :href => "#cabinet_5_cont_1_1", :role => "tab"} Название проекта 1
                %li{:role => "presentation"}
                  %a.a_font_reset{"data-toggle" => "tab", :href => "#cabinet_5_cont_1_2", :role => "tab"} Название проекта 2
                %li{:role => "presentation"}
                  %a.a_font_reset{"data-toggle" => "tab", :href => "#cabinet_5_cont_1_3", :role => "tab"} Название проекта 3
                %li{:role => "presentation"}
                  %a.a_font_reset{"data-toggle" => "tab", :href => "#cabinet_5_cont_1_4", :role => "tab"} Название проекта 4
                %li{:role => "presentation"}
                  %a.a_font_reset{"data-toggle" => "tab", :href => "#cabinet_5_cont_1_5", :role => "tab"} Название проекта 5
                %li{:role => "presentation"}
                  %a.a_font_reset{"data-toggle" => "tab", :href => "#cabinet_5_cont_1_6", :role => "tab"} Название проекта 6
                %li{:role => "presentation"}
                  %a.a_font_reset{"data-toggle" => "tab", :href => "#cabinet_5_cont_1_7", :role => "tab"} Название проекта 7
            .col-md-7
              .tab-content
                .divider3
                #cabinet_5_cont_1_1.tab-pane.fade.in.active{:role => "tabpanel"}
                  %a.a_font_reset.collapser_type2.collapsed.stage4_pale_back{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#cab5-1"} Деятельность (5)
                  #cab5-1.collapse
                    .divider5
                  %a.a_font_reset.collapser_type2.collapsed.stage4_pale_back{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#cab5-2"} Участники (2)
                  #cab5-2.collapse
                    .divider5
                    %h6.bold Опишите ожидаемые качества участников
                    %textarea.form-control{:placeholder => "Опишите ожидаемые качества участников", :rows => "3", :type => "text"}
                    .divider15
                    %h6.bold Опишите ожидаемые качества участников
                    %textarea.form-control{:placeholder => "Опишите ожидаемые качества участников", :rows => "2", :type => "text"}
                    .divider15
                  %a.a_font_reset.collapser_type2.collapsed.stage4_pale_back{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#cab5-3"} Инструменты (10)
                  %a.a_font_reset.collapser_type2.collapsed.stage4_pale_back{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#cab5-4"} ЦУ (8)
                  %a.a_font_reset.collapser_type2.collapsed.stage4_pale_back{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#cab5-5"} Внешняя среда (2)
                #cabinet_5_cont_1_2.tab-pane.fade{:role => "tabpanel"}
                #cabinet_5_cont_1_3.tab-pane.fade{:role => "tabpanel"}
                #cabinet_5_cont_1_4.tab-pane.fade{:role => "tabpanel"}
      #popup-database.popup-window.popup_database.popup-w770.mfp-hide
        .popup.popup_rounded
          .row
            .col-md-12
              #myCarousel.carousel.base_carousel.slide{"data-ride" => "carousel"}
                / Indicators
                %ul.list-unstyled.list-inline.carousel-indicators.text-center
                  %li.color-theme-1.myCarousel-target.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
                    Аспект 1
                  %li.color-theme-2.myCarousel-target{"data-slide-to" => "1", "data-target" => "#myCarousel"}
                    Аспект 2
                  %li.color-theme-3.myCarousel-target{"data-slide-to" => "2", "data-target" => "#myCarousel"}
                    Аспект 3
                  %li.color-theme-4.myCarousel-target{"data-slide-to" => "3", "data-target" => "#myCarousel"}
                    Аспект 4
                  %li.color-theme-5.myCarousel-target{"data-slide-to" => "4", "data-target" => "#myCarousel"}
                    Аспект 5
                  %li.color-theme-6.myCarousel-target{"data-slide-to" => "5", "data-target" => "#myCarousel"}
                    Аспект 6
                  %li.color-theme-7.myCarousel-target{"data-slide-to" => "6", "data-target" => "#myCarousel"}
                    Аспект 7
                  %li.color-theme-8.myCarousel-target{"data-slide-to" => "7", "data-target" => "#myCarousel"}
                    Аспект 8
                  %li.color-theme-9.myCarousel-target{"data-slide-to" => "8", "data-target" => "#myCarousel"}
                    Аспект 9
                / Wrapper for slides
                .carousel-inner{:role => "listbox"}
                  .item.active.color-theme-1
                    .row
                      .col-md-12
                        .container
                          .row
                            .col-md-12.col-sm-12
                              %ul.nav.nav-tabs.aspects_tabs{:role => "tablist"}
                                %li.active{:role => "presentation"}
                                  %a{"aria-controls" => "Статья 1", "data-toggle" => "tab", :href => "#article1-1", :role => "tab"} Статья 1
                                %li{:role => "presentation"}
                                  %a{"aria-controls" => "Статья 2", "data-toggle" => "tab", :href => "#article1-2", :role => "tab"} Статья 2
                                %li{:role => "presentation"}
                                  %a{"aria-controls" => "Статья 3", "data-toggle" => "tab", :href => "#article1-3", :role => "tab"} Статья 3
                          .row
                            .col-md-12.col-sm-12
                              .aspect-main-block
                                .tab-content
                                  #article1-1.tab-pane.active.fade.in{:role => "tabpanel"}
                                    %h6.aspect-main-block-heading Ситуация с пчелами
                                    %p.aspect-main-block-text
                                      Пчелы недовольны тем, что на их мед
                                      постоянно покушаются Винни-Пух и его друзья. Желая разрешить
                                      конфликт мирным способом, они обратились к мудрой Сове.
                                    %img{:src => "img/aspect-pic1.jpg"}/
                                  #article1-2.tab-pane.fade{:role => "tabpanel"}
                                    %p.aspect-main-block-text
                                      Пчелы недовольны тем, что на их мед
                                      постоянно покушаются Винни-Пух и его друзья. Желая разрешить
                                      конфликт мирным способом, они обратились к мудрой Сове.
                                    %img{:src => "img/aspect-pic1.jpg"}/
                                  #article1-3.tab-pane.fade{:role => "tabpanel"}
                                    %img{:src => "img/aspect-pic1.jpg"}/
                  .item.color-theme-2
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                          %p.aspect-main-block-text
                            В популярной сказке Винни-Пух и его
                            друзья жаждали меда, но пчелы не давали забрать у себя плоды своего
                            труда. Чтобы раздобыть мед, Винни с компанией пытался обманом
                            пробраться в улей на Высоком дубе — не вышло, сутками подкарауливал
                            момент, когда все пчелы вылетят из улья, — не дождался; пытался
                            втянуть пчел в переговоры, предлагая грибы и ягоды в обмен на мед, —
                            был отвергнут.
                            Всего в истории участвовало трое четвероногих: сам Винни-Пух и его
                            друзья Пятачок и Кролик.
                          %img{:src => "img/aspect-pic2.jpg"}/
                  .item.color-theme-3
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                          %h6.aspect-main-block-heading
                            Трудности, связанные с
                            расположением конфликтующих сторон
                          %p.aspect-main-block-text
                            Как видно на карте, Винни-Пух с
                            друзьями живут достаточно близко к Высокому дубу.
                            Это часто обостряет конфликт, потому что пчелы не могут нормально
                            собирать мед,
                            постоянно беспокоясь, что их ограбят.
                          %img{:src => "img/aspect-pic3.jpg"}/
                  .item.color-theme-4
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-5
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-6
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-7
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-8
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                  .item.color-theme-9
                    .row
                      .col-md-12.col-sm-12
                        .aspect-main-block
                %a.myCarousel-control.left{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
                  %i.fa.fa-3x.fa-caret-left
                %a.myCarousel-control.right{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
                  %i.fa.fa-3x.fa-caret-right
    / Outer Ends
    / Javascript files
    / jQuery
    %script{:src => "js/jquery.js"}
    / Bootstrap JS
    %script{:src => "js/bootstrap.min.js"}
    / Magnific Popup
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / Owl carousel
    %script{:src => "js/owl.carousel.min.js"}
    / Respond JS for IE8
    %script{:src => "js/respond.min.js"}
    / HTML5 Support for IE
    %script{:src => "js/html5shiv.js"}
    / Content hover JS
    %script{:src => "js/jquery.contenthover.min.js"}
    / Javascript for this page
    / Excanvas JS for Knob Support in IE 8
    %script{:src => "js/excanvas.js"}
    / jQuery Knob
    %script{:src => "js/jquery.knob.js"}
    / Perfect scrollbar
    %script{:src => "js/perfect-scrollbar.jquery.min.js"}
    %script{:src => "js/waypoints.min.js"}
    / Custom JS. Type your JS code in custom.js file
    %script{:src => "js/custom.js"}
    :javascript
      /* first stage slider */

      $(document).ready(function () {

          /* perfect scrollbar */
          $('.ps_cont.half_wheel_speed').perfectScrollbar({
              wheelSpeed: 0.3
          });
          $('.ps_cont').perfectScrollbar();

      });
