!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
    %link{:href => "css/custom-post.css", :rel => "stylesheet"}/
  %body
    .outer.stage5_theme
      / Top bar starts
      %header.navbar.top_bar
        .container
          .navbar-header
            %a.navbar-brand{:href => "main.html"}
              %img{:src => "img/logo1.png"}/
          %ul.nav.navbar-nav.main_menu
            %li.active
              %a{:href => "1st-stage.html"} Процедура
            %li
              %a{:href => "cabinet-stage1.html"} Кабинет
            %li
              %a#popover_news.has_circle.popover_news{"data-content" => "\n                    <div class='popover_cont'>\n                    <a href='#' class='news-tooltip-icon' id='tooltip-i1'>\n                        <img src='img/icon-news-1.png'>\n                        <span class='news-tooltip-bottom-text'>добавлено</span>\n                    </a>\n                    <a href='#' class='news-tooltip-icon' id='tooltip-i2'>\n                        <img src='img/icon-news-2.png'>\n                        <span class='news-tooltip-bottom-text'>комментария</span>\n                    </a>\n                    <a href='#popup-news' class='news-tooltip-icon news-popup-href' id='tooltip-i3'>\n                        <img src='img/icon-news-3.png'>\n                        <span class='top-circle'>36</span>\n                        <span class='news-tooltip-bottom-text'>пометок</span>\n                    </a>\n                    <a href='#' class='news-tooltip-icon' id='tooltip-i4'>\n                        <img src='img/icon-news-4.png'>\n                        <span class='top-circle'>1</span>\n                        <span class='news-tooltip-bottom-text'>отредактировано</span>\n                    </a>\n                    </div>", "data-html" => "true", "data-placement" => "bottom", "data-toggle" => "popover", :href => "#"}
                Новости
                %span.top-circle 36
          .navbar-right.text-right.user_block.font_grey
            %a.book_icon{:href => "#"}
            %span.auth-divider |
            %span.has_dropwindow
              %button.btn_reset.font_lighter_grey.bold.drop_opener{"data-dd-opener" => "dd_1"}
                %i.fa.fa-exclamation-triangle
              #dd_1.dropdown_window.dd_570.expert_news_drop.text-left
                .dd_badge
                  %i.fa.fa-exclamation-triangle
                  %small Новости от эксперта
                .dd_wrapper
                  .dd_top.light-grey
                    %i.fa.fa-times.fa-lg.dd_close{"data-dd-closer" => "dd_1"}
                  .dd_bottom.white
                    .divider20
                    .container
                      .row
                        .col-xs-2.dd_bordered_left
                          %ul.list-unstyled.text-center.dd_tabs_nav{:role => "tablist"}
                            %li.active{:role => "presentation"}
                              %a{"data-toggle" => "tab", :href => "#expert1", :role => "tab"} 1.2.2015
                            %li{:role => "presentation"}
                              %a{"data-toggle" => "tab", :href => "#expert2", :role => "tab"} 1.2.2015
                            .dd_nav_divider.theme_font_color
                              %span 2
                            %li{:role => "presentation"}
                              %a{"data-toggle" => "tab", :href => "#expert3", :role => "tab"} 1.2.2015
                            %li{:role => "presentation"}
                              %a{"data-toggle" => "tab", :href => "#expert4", :role => "tab"} 1.2.2015
                            %li{:role => "presentation"}
                              %a{"data-toggle" => "tab", :href => "#expert5", :role => "tab"} 1.2.2015
                            .dd_nav_divider.theme_font_color
                              %span 1
                        .col-xs-10.dd_bordered_right
                          .tab-content.dd_tabs_content
                            #expert1.tab-pane.fade.in.active.ps_cont{:role => "tabpanel"}
                              %p
                                Же александровна, получив депешу, только вздохнула. Провел время обеда, обращаясь к чему. Того, чтобы строго исполнить все довольны ширков, занимавшийся финансовыми делами и степан. Выборах, и по имени мужа такого милого тона в пажеском. Знатность; прекрасное помещение в губернского предводителя и которого. Нужно было найти представителя того нового направления, которому было в деревне. Говорили: наш губернский предводитель и возбуждавший и уважение и более людей.
                              %p
                                Же александровна, получив депешу, только вздохнула. Провел время обеда, обращаясь к чему. Того, чтобы строго исполнить все довольны ширков, занимавшийся финансовыми делами и степан. Выборах, и по имени мужа такого милого тона в пажеском. Знатность; прекрасное помещение в губернского предводителя и которого. Нужно было найти представителя того нового направления, которому было в деревне. Говорили: наш губернский предводитель и возбуждавший и уважение и более людей.
                            #expert2.tab-pane.fade{:role => "tabpanel"} 2
                            #expert3.tab-pane.fade{:role => "tabpanel"} 3
                            #expert4.tab-pane.fade{:role => "tabpanel"} 4
                    .divider20
            %span.auth-divider |
            %a.font_grey.bold{:href => "#"}
              %i.fa.fa-globe.font_lighter_grey
              %small
                %i.fa.fa-angle-down
            %ul.dropdown-menu.dropdown-mini{:role => "menu"}
            %span.auth-divider |
            %span.badge.grey 500
            %small.font_lighter_grey.bold
              Лиза Школьник
              %a{:href => "profile.html"}
                %i.fa.fa-angle-down
      / Top Bar ends
      .subhead
        .container
          %h4.font_white Решение конфликта, возникшего из-за меда
        %button#tooltip_button_4.btn.btn-tooltip{:type => "button", :value => "Show"}
          %i.fa.fa-lightbulb-o
          Открыть подсказки
        %button#close_tooltip_button_4.btn.btn-tooltip-close{:type => "button", :value => "Destroy"}
          %i.fa.fa-lightbulb-o
          Закрыть подсказки
      .container
        .row
          .col-md-8.col_padding_right_3
            .border_grey.rounded_3.stages_block
              .btn-toolbar{:role => "toolbar"}
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage1{:href => "1st-stage.html", :role => "button"} 1
                  %a.btn.back_color_stage2{:href => "2nd-stage.html", :role => "button"} 2
                  %a.btn.back_color_stage3{:href => "3rd-stage.html", :role => "button"} 3
                  %a.btn.back_color_stage4{:href => "4th-stage.html", :role => "button"} 4
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage5{:href => "5th-stage.html", :role => "button"} 5 СТАДИЯ: РАЗРАБОТКА ПРОЕКТОВ
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage6{:href => "6th-stage.html", :role => "button"} 6
                  %a.btn.back_color_stage7{:href => "7th-stage.html", :role => "button"} 7
          .col-md-4.col_padding_left_3
            .border_grey.rounded_3.help_icon
            .border_grey.rounded_3.progress_block
              .container
                .row
                  .col-xs-6.col-md-6.col_padding_right_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Ваш прогресс на стадии
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#80bcc4", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
                  .col-xs-6.col-md-6.col_padding_left_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Прогресс других участников
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#80bcc4", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
      / Main Block starts
      .main-block
        .container
          .stage-info-sort-block
            .row
              %br/
              .col-md-7
                %span.stage-heading
                  Проекты (2)
                  %i.fa.fa-question-circle
              .col-md-5
                .sort-block.pull-right
                  %span.sort-label Сортировать:
                  %span.sort-date
                  %span.sort-rate
                  %span.sort-all ВСЕ
                  %a{:href => "cabinet-stage4.html"}
                    %button.btn.add-button
                      %span> +
                      Проект
          .stage-post-block
            .row
              .col-md-6
                #tooltip4_1.post.tooltip4_1{"data-placement" => "top", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "Проект – это план действий по воплощению идей, поданных на прошлой стадии."}
                  .post-header.white
                    .row
                      .col-md-10.col-xs-10
                        %h5.font-S4.bold Заключение мира
                      .col-md-2.col-xs-2
                        %h5.time 31.01.2015
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img50{:src => "img/ava-rabb.jpg"}/
                        %p.poster-name Кролик
                      .media-body.white-gray
                        .post-text
                          %p В проекте описывается механизм урегулирования конфликтной ситуации.
                  .contenthover
                    .arrow.open-popup{"data-placement" => "5", "data-target" => "1"}
                      %i.fa.fa-angle-right
                  .post-bottom.white
                    .row
                      .col-md-12.col-xs-12
                        .text-right.small_icons
                          %span.popup2
                            5
                            %i.fa.fa-comment
                          %span.popup2
                            9
                            %i.fa.fa-thumbs-up
                          %span.popup2
                            1
                            %i.fa.fa-thumbs-down
                          %span.popup2
                            %i.fa.fa-exclamation-triangle.font_lighter_grey
              .col-md-6
                .post
                  .post-header.white
                    .row
                      .col-md-10.col-xs-10
                        %h5.font-S4.bold Цветник у Высокого дуба
                      .col-md-2.col-xs-2
                        %h5.time 20.01.2015
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img50{:src => "img/ava-pyat.jpg"}/
                        %p.poster-name Пятачок
                      .media-body.white-gray
                        .post-text
                          %p
                            Четвероногие наконец-то нашли способ заинтересовать пчел. Высадив
                            медоносные растения прямо у Высокого дуба, Винни и его друзья добьются
                            расположения пчел...
                  .contenthover
                    .arrow.open-popup{"data-placement" => "5", "data-target" => "1"}
                      %i.fa.fa-angle-right
                  .post-bottom.white
                    .row
                      .col-md-12.col-xs-12
                        .text-right.small_icons
                          %span.popup2
                            5
                            %i.fa.fa-comment
                          %span.popup2
                            9
                            %i.fa.fa-thumbs-up
                          %span.popup2
                            1
                            %i.fa.fa-thumbs-down
                          %span.popup2
                            %i.fa.fa-exclamation-triangle.font_lighter_grey
      / Main Block ends
      #popup-5-1.popup-window.popup-project.detailed_popup.popup_w1150.mfp-hide
        .popup.popup_rounded.popup_color_theme_stage5
          .modal_title
            .row
              .col-md-8
                %h4.bold.font_dark_grey
                  Нововведение "Соглашение и арбитр."
              .col-md-4
                .row
                  .col-md-12
                    .text-right.post_likes
                      %span.bold
                        5
                        %i.fa.fa-comment.theme_font_color
                      %span.bold
                        9
                        %i.fa.fa-thumbs-up.theme_font_color
                      %span.bold
                        1
                        %i.fa.fa-thumbs-down.theme_font_color
                      %span
                        %i.fa.fa-exclamation-triangle.font_lighter_grey
                      %small 21.12.2014
          .popup-post-info
            .row.info-block
              .col-md-4.popup-post-block
                %img{:src => "img/ava-rabb.jpg"}/
                %span Кролик
              .col-md-8.popup-right-tabs
                .nav-tabs-one
                  / Nav tabs
                  %ul.nav.nav-tabs
                    %li.active
                      %a{"data-toggle" => "tab", :href => "#tab-1"} Описание проекта
                    %li
                      %a{"data-toggle" => "tab", :href => "#tab-2"} Нововведения и план мероприятий
                / Tab content
          .clearfix
          .tab-content
            #tab-1.tab-pane.fade.in.active
              .container
                .divider25
                .row
                  .col-md-6
                    .description-block
                      %span.description-title Коротко о проекте
                      %p
                        В проекте описывается механизм урегулирования конфликтной ситуации.
                    .description-block
                      %span.description-title Эссе по проекту. Пояснения и обоснования
                      %p
                        Причины, из-за которых возникла конфликтная ситуация, будут разрешены.
                    .description-block
                      %span.description-title Этапы проекта
                      .stages-blocks
                        .lined-heading
                          %span.bold-stripe 01 февр. 2015 - 02 февр. 2015
                          %span.normal-stripe Поиск компромиссов
                        .lined-heading
                          %span.bold-stripe 03 февр. 2015 - 08 февр. 2015
                          %span.normal-stripe Подготовка и подбор участников
                  .col-md-6
                    .container
                      .row
                        .col-md-12.theme_font_color.text-right.no_padding_col
                          21.12.2014
                    .divider5
                    .divider_1_grey
                    #myCarousel.carousel.slide{"data-ride" => "carousel"}
                      .carousel-inner{:role => "listbox"}
                        .item.active
                          .media.comment
                            .media-left
                              %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                            .media-body
                              %h5.media-heading.bold Винни-Пух
                              %span.date.theme_font_color 15:28
                            %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                            .post-interfaces-buttons
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-comment.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  9
                                  %i.fa.fa-thumbs-up.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  1
                                  %i.fa.fa-thumbs-down.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          .divider_1_grey
                        .item
                          .media.comment
                            .media-left
                              %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                            .media-body
                              %h5.media-heading.bold Винни-Пух
                              %span.date.theme_font_color 15:28
                            %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                            .post-interfaces-buttons
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-comment.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  9
                                  %i.fa.fa-thumbs-up.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  1
                                  %i.fa.fa-thumbs-down.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          .divider_1_grey
                          .media.comment
                            .media-left
                              %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                            .media-body
                              %h5.media-heading.bold Винни-Пух
                              %span.date.theme_font_color 15:28
                            %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                            .post-interfaces-buttons
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-comment.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  9
                                  %i.fa.fa-thumbs-up.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  1
                                  %i.fa.fa-thumbs-down.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          .divider_1_grey
                        .item
                          .media.comment
                            .media-left
                              %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                            .media-body
                              %h5.media-heading.bold Винни-Пух
                              %span.date.theme_font_color 15:28
                            %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                            .post-interfaces-buttons
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-comment.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  9
                                  %i.fa.fa-thumbs-up.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  1
                                  %i.fa.fa-thumbs-down.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          .divider_1_grey
                          .media.comment
                            .media-left
                              %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                            .media-body
                              %h5.media-heading.bold Винни-Пух
                              %span.date.theme_font_color 15:28
                            %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                            .post-interfaces-buttons
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-comment.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  9
                                  %i.fa.fa-thumbs-up.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  1
                                  %i.fa.fa-thumbs-down.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          .divider_1_grey
                          .media.comment
                            .media-left
                              %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                            .media-body
                              %h5.media-heading.bold Винни-Пух
                              %span.date.theme_font_color 15:28
                            %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                            .post-interfaces-buttons
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-comment.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  9
                                  %i.fa.fa-thumbs-up.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  1
                                  %i.fa.fa-thumbs-down.theme_font_color
                              %button{:type => "button"}
                                %span.bold
                                  %i.fa.fa-reply.fa-rotate-180.theme_font_color
                          .divider_1_grey
                    .divider15
                    .post-interfaces
                      %form.form-group.comment_add
                        .input_cont
                          %textarea.theme_back_color{:placeholder => "Ваш комментарий"}
                        %button.btn{:type => "button"}
                          %span.bold
                            %i.fa.fa-comment.theme_font_color
                    %nav.text-center
                      %ul.pagination
                        %li
                          %a.myCarousel-target.active{"data-slide-to" => "0", "data-target" => "#myCarousel"} 1
                        %li
                          %a.myCarousel-target{"data-slide-to" => "1", "data-target" => "#myCarousel"} 2
                        %li
                          %a.myCarousel-target{"data-slide-to" => "2", "data-target" => "#myCarousel"} 3
                .divider25
            #tab-2.tab-pane.fade
              .container.timeline-cont
                .vertical-timeline
                  .row
                    .col-md-12.col-sm-12
                      / time line col
                      .v-timeline-col
                        .entry-top-badge.timel-back-b1f0c1
                          %span.top-badge-entry-stage 1 этап
                          %span.top-badge-entry-date 01 февр. 2015 - 02 февр. 2015
                          %span.top-badge-entry-theme Поиск компромиссов
                        .row
                          .col-md-6.col-sm-6.left-col-timeline.timel-line-b1f0c1
                            / time line content entry
                            .entry
                              / Time line entry head
                              .entry-head.timel-back-8cf0ba
                                Мирный договор
                              / Time line entry content
                              .entry-content
                                %p
                                  Появится специально оформленное соглашение, в котором
                                  четвероногие и пчелы должны будут сосуществовать в мире и
                                  согласии. За нарушение договора будут предусматриваться
                                  строгие санкции к стороне, нарушившей условия договора.
                                %h5 Общее собрание
                                %p
                                  На собрании каждый получит право голоса, а итоговое решение
                                  примет Сова. Будут определены дальнейшие действия для
                                  участников спора.
                                %h5 Составление мирного договора Совой
                                %p
                                  Сова оформит мирный договор и учтет при этом пожелания пчел и
                                  четвероногих.
                                .entry-descript-tags
                                  %span.timel-back-8cf0ba Место для проведения собрания
                                  %span.timel-back-8cf0ba Пригласительные
                                  %span.timel-back-8cf0ba Бумага и ручка
                          .col-md-6.col-sm-6.right-col-timeline.timel-line-b1f0c1
                            .entry-dates-block
                              .badge-wrap
                                .badge-arrow
                                  %span.entry-icon.timel-back-b1f0c1
                                  %span.badge-date 01 фев 2015
                                  %span.badge-name Общее собрание
                                .badge-tags
                                  .badge-tag.timel-back-8cf0ba
                                    Место для проведения собрания
                                  .badge-tag.timel-back-8cf0ba
                                    Пригласительные
                              .badge-wrap
                                .badge-arrow
                                  %span.entry-icon.timel-back-b1f0c1
                                  %span.badge-date 02 фев 2015
                                  %span.badge-name Составление мирного договора Совой
                                .badge-tags
                                  .badge-tag.timel-back-b3fcb5
                                    Бумага и ручка
                              .badge-wrap
                                .badge-arrow
                                  %span.entry-icon.timel-back-b1f0c1
                                  %span.badge-date 02 фев 2015
                                  %span.badge-name Согласование договора с пчелами и четвероногими
                        .entry-top-badge.timel-back-a0c7fe
                          %span.top-badge-entry-stage 2 этап
                          %span.top-badge-entry-date 03 февр. 2015 - 08 февр. 2015
                          %span.top-badge-entry-theme Реализация требований обоими сторонами
                        .row
                          .col-md-6.col-sm-6.left-col-timeline.timel-line-a0c7fe
                            / time line content entry
                            .entry
                              / Time line entry head
                              .entry-head.timel-back-bce1fe
                                Обучение четвероногих варке меда
                              / Time line entry content
                              .entry-content
                                %p
                                  Обучение пчелами четвероногих самостоятельному приготовлению
                                  меда.
                                %h5 Составление рецепта пчелами
                                %p
                                  Пчелы постараются составить рецепт очень вкусного меда,
                                  который понравится четвероногим.
                                %h5 Обучение четвероногих
                                %p
                                  Пчелы будут обучать четвероногих варить мед по их
                                  рецепту.
                                .entry-descript-tags
                                  %span.timel-back-bce1fe Необходимые ингредиенты по рецепту
                          .col-md-6.col-sm-6.right-col-timeline.timel-line-a0c7fe
                            .entry-dates-block
                              .badge-wrap
                                .badge-arrow
                                  %span.entry-icon.timel-back-a0c7fe
                                  %span.badge-date 03 фев 2015
                                  %span.badge-name Составление рецепта пчелами
                              .badge-wrap
                                .badge-arrow
                                  %span.entry-icon.timel-back-a0c7fe
                                  %span.badge-date 03 фев 2015 - 08 фев 2015
                                  %span.badge-name Обучение четвероногих
                                .badge-tags
                                  .badge-tag.timel-back-bce1fe
                                    Необходимые ингредиенты по рецепт
    / Outer Ends
    / Javascript files
    / jQuery
    %script{:src => "js/jquery.js"}
    / Bootstrap JS
    %script{:src => "js/bootstrap.min.js"}
    / Magnific Popup
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / Owl carousel
    %script{:src => "js/owl.carousel.min.js"}
    / Respond JS for IE8
    %script{:src => "js/respond.min.js"}
    / HTML5 Support for IE
    %script{:src => "js/html5shiv.js"}
    / Content hover JS
    %script{:src => "js/jquery.contenthover.min.js"}
    / Javascript for this page
    / Excanvas JS for Knob Support in IE 8
    %script{:src => "js/waypoints.min.js"}
    %script{:src => "js/excanvas.js"}
    / jQuery Knob
    %script{:src => "js/jquery.knob.js"}
    / Custom JS. Type your JS code in custom.js file
    %script{:src => "js/custom.js"}
