!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    / Description, Keywords and Author
    %meta{:content => "Your description", :name => "description"}/
    %meta{:content => "Your,Keywords", :name => "keywords"}/
    %meta{:content => "Ian", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Magnific Popup
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    / Owl carousel
    %link{:href => "css/owl.carousel.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
  %body
    .outer.white_theme
      / Top bar starts
      %header.navbar.top_bar
        .container
          .navbar-header
            %a.navbar-brand{:href => "main.html"}
              %img{:src => "img/logo1.png"}/
          %ul.nav.navbar-nav.main_menu
            %li
              %a{:href => "first-stage.html"} Процедура
            %li.active
              %a{:href => "cabinet-stage1.html"} Кабинет
            %li
              %a#popover_news.has_circle.popover_news{"data-content" => "\n                    <div class='popover_cont'>\n                    <a href='#' class='news-tooltip-icon' id='tooltip-i1'>\n                        <img src='img/icon-news-1.png'>\n                        <span class='news-tooltip-bottom-text'>добавлено</span>\n                    </a>\n                    <a href='#' class='news-tooltip-icon' id='tooltip-i2'>\n                        <img src='img/icon-news-2.png'>\n                        <span class='news-tooltip-bottom-text'>комментария</span>\n                    </a>\n                    <a href='#popup-news' class='news-tooltip-icon news-popup-href' id='tooltip-i3'>\n                        <img src='img/icon-news-3.png'>\n                        <span class='top-circle'>36</span>\n                        <span class='news-tooltip-bottom-text'>пометок</span>\n                    </a>\n                    <a href='#' class='news-tooltip-icon' id='tooltip-i4'>\n                        <img src='img/icon-news-4.png'>\n                        <span class='top-circle'>1</span>\n                        <span class='news-tooltip-bottom-text'>отредактировано</span>\n                    </a>\n                    </div>", "data-html" => "true", "data-placement" => "bottom", "data-toggle" => "popover", :href => "#"}
                Новости
                %span.top-circle 36
          .navbar-right.text-right.user_block.font_grey
            %a.book_icon{:href => "#"}
            %span.auth-divider |
            %a.font_lighter_grey.bold{:href => "#"}
              %i.fa.fa-exclamation-triangle
            %span.auth-divider |
            %a.font_grey.bold{:href => "#"}
              %i.fa.fa-globe.font_lighter_grey
              %small
                %i.fa.fa-angle-down
            %ul.dropdown-menu.dropdown-mini{:role => "menu"}
            %span.auth-divider |
            %span.badge.grey 500
            %a.font_lighter_grey.bold{:href => "#"}
              %small
                Лиза Школьник
                %i.fa.fa-angle-down
      / Top Bar ends
      / Main Block starts
      .main-block.cabinet
        .container
          .row
            .col-xs-3.cabinet-left-col
              %span.stage-label Стадия 1
              .cabinet-tabs
                .divider25
                %ul.cabinet-tabs-subblock.list-unstyled
                  %li.active
                    %a{"data-toggle" => "tab", :href => "#tab-1"}
                      %i.fa.fa-plus-square>
                      Предложить
                      аспект
                  %li
                    %a{"data-toggle" => "tab", :href => "#tab-2"}
                      %i.fa.fa-plus-square>
                      Провести анализ
                  %li
                    %a{"data-toggle" => "tab", :href => "#tab-3"}
                      %i.fa.fa-plus-square>
                      Провести мозговой
                      штурм
                  %li
                    .divider25
                  %li
                    %a{"data-toggle" => "tab", :href => "#tab-4"}
                      %i.fa.fa-plus-square>
                      Мои предложения
                  %li
                    %a{"data-toggle" => "tab", :href => "#tab-5"}
                      %i.fa.fa-plus-square>
                      Мои заметки
                  .divider25
                  %li
                    %a{"data-toggle" => "tab", :href => "#tab-5"}
                      %i.fa.fa-plus-square>
                      Мои диалоги
                    %ul.dialogs
                      %li Лиза
                      %li Слава и Даниэль
            .col-xs-9.cabinet-right-col
              .tab-content
                #tab-1.tab-pane.fade.in.active
                  .cabinet-tab-heading
                    %h5 Предложите аспект
                  .divider35
                  %form.cabinet-aspect-form
                    .form-group
                      %label{:for => "aspectField1"} Название
                      %input#aspectField1.form-control{:type => "text"}/
                    .divider25
                    .form-group
                      .cabinet-aspect-form-checkb
                        %label Этот аспект влияет на тему?
                        %input.radio-aspect1{:name => "aspect1", :type => "radio", :value => "yes"}/
                        %span.cabinet-aspect-form-checkb-filler.filler-yes
                        %span.radio-divider |
                        %input.radio-aspect1{:name => "aspect1", :type => "radio", :value => "no"}/
                        %span.cabinet-aspect-form-checkb-filler.filler-no
                    .form-group
                      .cabinet-aspect-form-checkb
                        %label От него зависит решение?
                        %input{:name => "aspect2", :type => "radio", :value => "yes"}/
                        %span.cabinet-aspect-form-checkb-filler.filler-yes
                        %span.radio-divider |
                        %input{:name => "aspect2", :type => "radio", :value => "no"}/
                        %span.cabinet-aspect-form-checkb-filler.filler-no
                    .divider25
                    .form-group
                      %label{:for => "aspectField2"} Поясните, почему ваш аспект важен:
                      %textarea#aspectField2.form-control{:rows => "3", :type => "text"}
                    %button.btn.btn-danger.pull-right{:type => "submit"} Сохранить
                #tab-2.tab-pane.fade.in
                #tab-3.tab-pane.fade.in
                #tab-4.tab-pane.fade.in
                #tab-5.tab-pane.fade.in
                #tab-6.tab-pane.fade.in
                #tab-7.tab-pane.fade.in
      / Main Block ends
    / Outer Ends
    / Javascript files
    / jQuery
    %script{:src => "js/jquery.js"}
    / Bootstrap JS
    %script{:src => "js/bootstrap.min.js"}
    / Magnific Popup
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / Owl carousel
    %script{:src => "js/owl.carousel.min.js"}
    / Respond JS for IE8
    %script{:src => "js/respond.min.js"}
    / HTML5 Support for IE
    %script{:src => "js/html5shiv.js"}
    / Javascript for this page
    :javascript
      $('.cabinet-aspect-form-checkb input').click(function () {
          var me = $(this);
          var attrname = me.attr('name');
          $("input[name='" + attrname + "']").removeClass('active-radio');
          me.addClass('active-radio');
      });
      $('.cabinet-tabs-subblock-2ndlev-li a').click(function () {
          if (!$(this).hasClass('active-2ndlev-li')) {
              $('.cabinet-tabs-subblock-2ndlev-li a').each(function () {
                  $(this).removeClass('active-2ndlev-li');
              });
              $(this).addClass('active-2ndlev-li');
          }
          ;
      });
      $('.cabinet-tabs .cabinet-tabs-subblock>li>a').click(function () {
          $('.cabinet-tabs-subblock-2ndlev-li a').each(function () {
              $(this).removeClass('active-2ndlev-li');
          });
      });
    / Custom JS. Type your JS code in custom.js file
    %script{:src => "js/custom.js"}
