!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    / Description, Keywords and Author
    %meta{:content => "Your description", :name => "description"}/
    %meta{:content => "Your,Keywords", :name => "keywords"}/
    %meta{:content => "Ian", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Magnific Popup
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    / Owl carousel
    %link{:href => "css/owl.carousel.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
  %body
    .outer.white_theme
      / Top bar starts
      %header.navbar.top_bar
        .container
          .navbar-header
            %a.navbar-brand{:href => "main.html"}
              %img{:src => "img/logo1.png"}/
          %ul.nav.navbar-nav.main_menu
            %li
              %a{:href => "first-stage.html"} Процедура
            %li.active
              %a{:href => "cabinet-stage1.html"} Кабинет
            %li
              %a{:href => "#"} Рефлексия
            %li
              %a.has_circle{:href => "#"}
                Новости
                %span.top-circle 25
          .navbar-right.text-right.user_block.font_grey
            %a{:href => "#"}
              %img#tooltip1_5.tooltip1_5{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :src => "img/book-icon.png", :title => "Открыть базу знаний"}/
            %span.auth-divider
              |
              %i.fa.fa-exclamation-triangle.font_lighter_grey
              %span.auth-divider |
              %a.font_grey.bold{:href => "#"}
                %i.fa.fa-globe.font_lighter_grey
                %small
                  %i.fa.fa-angle-down
              %ul.dropdown-menu.dropdown-mini{:role => "menu"}
              %span.auth-divider |
              %span.badge.grey 500
              %a.font_grey.bold{:href => "#"}
                %small
                  Лиза Школьник
                  %i.fa.fa-angle-down
      / Top Bar ends
      / Main Block starts
      .main-block.cabinet
        .container
          .row
            .col-xs-3.cabinet-left-col
              %span.stage-label Стадия 2
            .col-xs-9.cabinet-right-col
              .tab-content
                #tab-1.tab-pane.fade.in.active
                  .cabinet-tab-heading
                    %h5 Форма добавления несовершенства
                  .divider35
                  %form.cabinet-aspect-form
                    .form-group
                      %h4
                        %label.label.label-default.color-white Что
                      %label{:for => "aspectField1"} Что вас не устраивает
                      %textarea#aspectField1.form-control{:placeholder => "Отрицательное действие, явление,установление, черта", :type => "text"}
                      %h6 Пример: пчелы тратят много времени на перелеты до лучших источников нектара
                    .divider250
                    .form-group
                      %h4
                        %label.label.label-default Когда
                      %label{:for => "aspectField2"} Когда это происходит
                      %input#aspectField2.form-control{:placeholder => "Во время какого события, мероприятия, процесса, ситуации ", :type => "text"}/
                      %h6 Пример: при сборе нектара
                    .divider10
                    .form-group
                      %h4
                        %label.label.label-default Где
                      %label{:for => "aspectField3"} Где это происходит
                      %input#aspectField3.form-control{:placeholder => "Место, организация, общеность в которой это происходит", :type => "text"}/
                      %h6 Пример: На лужайках, отдаленных от выского дуба
                    .divider10
                    .form-group
                      %h4
                        %label.label.label-default Аспект
                      %label{:for => "aspectField4"} К какому аспекту относится несовершенство?
                      .row
                        .col-md-5
                          %select#aspectField4.form-control
                            %option Выберите аспект
                      %h5
                        %i.fa.fa-stop.colorT2>
                        Взаимоотношения
                        четвероногих и пчел
                    .divider10
                    .form-group
                      %h4
                        %label.label.label-default Тип
                      %label Выберите тип несовершенства
                      %br/
                      %label.radio-inline
                        %input#inlineRadio1{:name => "inlineRadioOptions", :type => "radio", :value => "option1"}/
                        Имеющиеся недостатки
                      %label.radio-inline
                        %input#inlineRadio2{:name => "inlineRadioOptions", :type => "radio", :value => "option2"}/
                        Отстутствующие достоинства
                    %button.btn.btn-danger.pull-right{:type => "submit"} Сохранить
                #tab-2.tab-pane.fade.in
                #tab-3.tab-pane.fade.in
                #tab-4.tab-pane.fade.in
                #tab-5.tab-pane.fade.in
                #tab-6.tab-pane.fade.in
                #tab-7.tab-pane.fade.in
      / Main Block ends
    / Outer Ends
    / Javascript files
    / jQuery
    %script{:src => "js/jquery.js"}
    / Bootstrap JS
    %script{:src => "js/bootstrap.min.js"}
    / Magnific Popup
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / Owl carousel
    %script{:src => "js/owl.carousel.min.js"}
    / Respond JS for IE8
    %script{:src => "js/respond.min.js"}
    / HTML5 Support for IE
    %script{:src => "js/html5shiv.js"}
    / Javascript for this page
    :javascript
      $('.cabinet-aspect-form-checkb input').click(function () {
          var me = $(this);
          var attrname = me.attr('name');
          $("input[name='" + attrname + "']").removeClass('active-radio');
          me.addClass('active-radio');
      });
      $('.cabinet-tabs-subblock-2ndlev-li a').click(function () {
          if (!$(this).hasClass('active-2ndlev-li')) {
              $('.cabinet-tabs-subblock-2ndlev-li a').each(function () {
                  $(this).removeClass('active-2ndlev-li');
              });
              $(this).addClass('active-2ndlev-li');
          }
          ;
      });
      $('.cabinet-tabs .cabinet-tabs-subblock>li>a').click(function () {
          $('.cabinet-tabs-subblock-2ndlev-li a').each(function () {
              $(this).removeClass('active-2ndlev-li');
          });
      });
    / Custom JS. Type your JS code in custom.js file
    %script{:src => "js/custom.js"}
