!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    / Description, Keywords and Author
    %meta{:content => "Your description", :name => "description"}/
    %meta{:content => "Your,Keywords", :name => "keywords"}/
    %meta{:content => "Ian", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Magnific Popup
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    / Owl carousel
    %link{:href => "css/owl.carousel.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
    %link{:href => "css/custom-post.css", :rel => "stylesheet"}/
  %body
    .outer.stage4_theme
      / Top bar starts
      %header.navbar.top_bar
        .container
          .navbar-header
            %a.navbar-brand{:href => "main.html"}
              %img{:src => "img/logo1.png"}/
          %ul.nav.navbar-nav.main_menu
            %li.active
              %a{:href => "first-stage.html"} Процедура
            %li
              %a{:href => "cabinet-stage1.html"} Кабинет
            %li
              %a{:href => "#"} Рефлексия
            %li
              %a.has_circle{:href => "#"}
                Новости
                %span.top-circle 25
          .navbar-right.text-right.user_block.font_grey
            %a{:href => "#"}
              %img#tooltip1_5.tooltip1_5{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :src => "img/book-icon.png", :title => "Открыть базу знаний"}/
            %span.auth-divider
              |
              %i.fa.fa-exclamation-triangle.font_lighter_grey
              %span.auth-divider |
              %a.font_grey.bold{:href => "#"}
                %i.fa.fa-globe.font_lighter_grey
                %small
                  %i.fa.fa-angle-down
              %ul.dropdown-menu.dropdown-mini{:role => "menu"}
              %span.auth-divider |
              %span.badge.grey 500
              %a.font_grey.bold{:href => "#"}
                %small
                  Лиза Школьник
                  %i.fa.fa-angle-down
      / Top Bar ends
      .subhead
        .container
          %h4.font_white Решение конфликта, возникшего из-за меда
      .container
        .row
          .col-md-8.col_padding_right_3
            .border_grey.rounded_3.stages_block
              .btn-toolbar{:role => "toolbar"}
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage1{:href => "first-stage.html", :role => "button"} 1
                  %a.btn.back_color_stage2{:href => "second-stage.html", :role => "button"} 2
                  %a.btn.back_color_stage3{:href => "third-stage.html", :role => "button"} 3
                  %a.btn.back_color_stage4{:href => "fourth-stage.html", :role => "button"} 4
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage5{:href => "fifth-stage.html", :role => "button"} 5 СТАДИЯ: ОЦЕНИВАНИЕ ПРОЕКТОВ
          .col-md-4.col_padding_left_3
            .border_grey.rounded_3.help_icon
            .border_grey.rounded_3.progress_block
              .container
                .row
                  .col-xs-6.col-md-6.col_padding_right_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Ваш прогресс на стадии
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#80bcc4", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
                  .col-xs-6.col-md-6.col_padding_left_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Прогресс других участников
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#80bcc4", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
      / Main Block starts
      .main-block
        .container
          .stage-info-sort-block
            .row
              %br/
              .col-md-7
                %span.stage-heading
                  Проекты (2)
                  %i.fa.fa-question-circle
          / projects' block starts
          .stage-post-block
            .row
              .col-md-6
                .post.post_5
                  .post-header.white
                    .row
                      .col-md-9.col-xs-9
                        %h5.font_purple.bold Соглашение и арбитр.
                      .col-md-1.col-xs-1
                        %h4.pull-right
                          %i.fa.fa-exclamation-triangle
                      .col-md-2.col-xs-2
                        %h5.time 20.12.2014
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img50{:src => "img/ava-pyat.jpg"}/
                        %p.poster-name Пятачок
                      .media-body.white-gray
                        .post-text
                          %p Взаимное недоверие четвероногих и пчёл
                  .project-bottom-progress-block
                    %a.single-progress-block.open-popup-link{:href => "#popup-rating-detail"}
                      .user-ratings-block
                        .progress-userpic
                          %img{:src => "img/ava-mod.jpg"}/
                        .progress-username
                          Модератор
                      .progress-container
                        .progress.pb-lg
                          .progress-bar.pb-animated{"data-pbmax" => "12.39", :role => "progressbar"}
                            / progress limit value
                            %span.pb-limit 12.39%
                      .progress-ratings
                        %span.label.label-sm.back-color-7297c9.test 1.54
                        %span.label.label-sm.back-color-75b5d3 0.73
                        %span.label.label-sm.back-color-7ed8e3 0.47
                        %span.label.label-sm.back-color-81ded2 6.29
                    %a.single-progress-block.open-popup-link{:href => "#popup-rating-detail"}
                      .user-ratings-block
                        .progress-userpic
                          %img{:src => "img/ava-mod.jpg"}/
                        .progress-username
                          Модератор
                      .progress-container
                        .progress.pb-lg
                          .progress-bar.pb-animated{"data-pbmax" => "12.39", :role => "progressbar"}
                            / progress limit value
                            %span.pb-limit 12.39%
                      .progress-ratings
                        %span.label.label-sm.back-color-7297c9.test 1.54
                        %span.label.label-sm.back-color-75b5d3 0.73
                        %span.label.label-sm.back-color-7ed8e3 0.47
                        %span.label.label-sm.back-color-81ded2 6.29
              .col-md-6
                .post.post_5
                  .post-header.white
                    .row
                      .col-md-9.col-xs-9
                        %h5.font_purple.bold Соглашение и арбитр.
                      .col-md-1.col-xs-1
                        %h4.pull-right
                          %i.fa.fa-exclamation-triangle
                      .col-md-2.col-xs-2
                        %h5.time 20.12.2014
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img50{:src => "img/ava-pyat.jpg"}/
                        %p.poster-name Пятачок
                      .media-body.white-gray
                        .post-text
                          %p Взаимное недоверие четвероногих и пчёл
                  .project-bottom-progress-block
                    %a.single-progress-block.open-popup-link{:href => "#popup-rating-detail"}
                      .user-ratings-block
                        .progress-userpic
                          %img{:src => "img/ava-mod.jpg"}/
                        .progress-username
                          Модератор
                      .progress-container
                        .progress.pb-lg
                          .progress-bar.pb-animated{"data-pbmax" => "12.39", :role => "progressbar"}
                            / progress limit value
                            %span.pb-limit 12.39%
                      .progress-ratings
                        %span.label.label-sm.back-color-7297c9.test 1.54
                        %span.label.label-sm.back-color-75b5d3 0.73
                        %span.label.label-sm.back-color-7ed8e3 0.47
                        %span.label.label-sm.back-color-81ded2 6.29
                    %a.single-progress-block.open-popup-link{:href => "#popup-rating-detail"}
                      .user-ratings-block
                        .progress-userpic
                          %img{:src => "img/ava-mod.jpg"}/
                        .progress-username
                          Модератор
                      .progress-container
                        .progress.pb-lg
                          .progress-bar.pb-animated{"data-pbmax" => "12.39", :role => "progressbar"}
                            / progress limit value
                            %span.pb-limit 12.39%
                      .progress-ratings
                        %span.label.label-sm.back-color-7297c9.test 1.54
                        %span.label.label-sm.back-color-75b5d3 0.73
                        %span.label.label-sm.back-color-7ed8e3 0.47
                        %span.label.label-sm.back-color-81ded2 6.29
          / projects' block ends
      / Main Block ends
      #popup-rating-detail.popup-window.popup-rating-detail.info-popup.mfp-hide
        .popup.popup-top-rounded.popup-bottom-rounded
          .row.popup-post-info
            .popup-header.popup-top-rounded.col-sm-12
              %h2.font_red Проверенный способ добыть мед
            .col-lg-6.popup-post-block
              %img{:src => "img/ava-mod.jpg"}/
              %span Модератор
              .info-stripe
                %span.popup-date 17.12.2014
                %span.popup-comments
                  +5
                  %i.fa.fa-comment-o
                %span.popup-likes
                  +9
                  %i.fa.fa-thumbs-o-up
                %span.popup-dislikes
                  +1
                  %i.fa.fa-thumbs-o-down
          .popup-bottom-ratings
            .popup-bottom-rating-overall.back-color-e71d2b
              %p.popup-bottom-rating-fieldname Общая оценка
              %p.popup-bottom-rating-field-value 12.39%
            .popup-bottom-rating-formula.back-color-9eb5d5
              %p.popup-bottom-rating-fieldname Формула
              %p.popup-bottom-rating-field-value = ( 0.73 + 0.47 ) / 6.29
            .popup-bottom-rating-maximum.back-color-5f84b9
              %p.popup-bottom-rating-fieldname Максимальная оценка
              %p.popup-bottom-rating-field-value 1.54
        .popup.popup-bottom-rounded.popup-top-rounded
          #accordion-1.panel-group
            .panel
              / Panel heading
              %a{"data-parent" => "#accordion-1", "data-toggle" => "collapse", :href => "#accord-1-1"}
                .panel-heading
                  %h4.panel-title
                    %span.accordion-rating> 0.73
                    Ожидаемая эффективность первого шага проекта
                  %img.panel-head-arrow{:src => "img/arrow-fifth.png"}/
              #accord-1-1.collapseLevel1.panel-collapse.collapse
                / Panel body
                .panel-body.panel-body-first-level
                  #accordion-2.panel-group
                    / Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color.
                    .panel
                      / Panel heading
                      %a{"data-parent" => "#accordion-2", "data-toggle" => "collapse", :href => "#accord-2-1"}
                        .panel-heading-second-level
                          %h5.panel-title
                            %span.accordion-head-left-second-level> Стадия 1
                            Подготовка
                            и организация работы группы
                            %img.panel-head-arrow{:src => "img/arrow-fifth1.png"}/
                      #accord-2-1.collapseLevel2.panel-collapse.panel-collapse-second-level.collapse
                        / Panel body
                        .panel-body
                          #accordion-3.panel-group
                            / Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color.
                            .panel
                              / Panel heading
                              %a{"data-parent" => "#accordion-3", "data-toggle" => "collapse", :href => "#accord-3-1"}
                                .panel-heading-third-level
                                  %h6.panel-title
                                    %span.accordion-head-left-third-level> 25.43%
                                    1.
                                    Обучение четвероногих воровству
                                  %img.panel-head-arrow{:src => "img/arrow-fifth2.png"}/
                              #accord-3-1.collapseLevel3.panel-collapse.collapse
                                / Panel body
                                .panel-body
                                  .panel-collapse-inside-block.rounded-1
                                    %p
                                      Для создания ресурсов, необходимых в будущем, в
                                      проекте предлагаются определенные средства.
                                    %p
                                      Проанализируйте их и оцените, какова вероятность
                                      того, что при помощи этих средств ресурсы будут
                                      созданы
                                    .panel-graph-block
                                      .panel-graph-top-center
                                        .panel-graph-top-badge-col
                                          .panel-graph-top-badge-top-stripe
                                            %span в полном объеме
                                          .panel-graph-top-badge-bottom-stripe
                                            %span более 90%
                                        .panel-graph-top-badge-col
                                          .panel-graph-top-badge-top-stripe
                                            %span в значительном объеме
                                          .panel-graph-top-badge-bottom-stripe
                                            %span от 50% до 90%
                                        .panel-graph-top-badge-col
                                          .panel-graph-top-badge-top-stripe
                                            %span в небольшом объеме
                                          .panel-graph-top-badge-bottom-stripe
                                            %span от 10% до 50%
                                        .panel-graph-top-badge-col
                                          .panel-graph-top-badge-top-stripe
                                            %span в ничтожном объеме
                                          .panel-graph-top-badge-bottom-stripe
                                            %span менее 10%
                                      .panel-graph-left-col
                                        .panel-graph-left-col-badge.panel-graph-left-badge3
                                          очень
                                          вероятно
                                        .panel-graph-left-col-badge.panel-graph-left-badge2
                                          вероятно
                                        .panel-graph-left-col-badge.panel-graph-left-badge3
                                          маловероятно
                                      .panel-graph-right-col
                                        .panel-graph-bar-col
                                          .panel-graph-vertical-bar{"data-limit" => "max"}
                                        .panel-graph-bar-col
                                        .panel-graph-bar-col
                                        .panel-graph-bar-col
                                  .panel-collapse-inside-block.rounded-1
                                    %p
                                      Использование вышеназванных средств потребует
                                      материальных и трудовых затрат. Какова вероятность,
                                      что эти затраты окажутся
                                    .panel-graph-block
                                      .panel-graph-top-center
                                        .panel-graph-top-badge-col
                                          .panel-graph-top-badge-top-stripe
                                            %span в полном объеме
                                          .panel-graph-top-badge-bottom-stripe
                                            %span более 90%
                                        .panel-graph-top-badge-col
                                          .panel-graph-top-badge-top-stripe
                                            %span в значительном объеме
                                          .panel-graph-top-badge-bottom-stripe
                                            %span от 50% до 90%
                                        .panel-graph-top-badge-col
                                          .panel-graph-top-badge-top-stripe
                                            %span в небольшом объеме
                                          .panel-graph-top-badge-bottom-stripe
                                            %span от 10% до 50%
                                        .panel-graph-top-badge-col
                                          .panel-graph-top-badge-top-stripe
                                            %span в ничтожном объеме
                                          .panel-graph-top-badge-bottom-stripe
                                            %span менее 10%
                                      .panel-graph-left-col
                                        .panel-graph-left-col-badge.panel-graph-left-badge3
                                          очень
                                          вероятно
                                        .panel-graph-left-col-badge.panel-graph-left-badge2
                                          вероятно
                                        .panel-graph-left-col-badge.panel-graph-left-badge3
                                          маловероятно
                                      .panel-graph-right-col
                                        .panel-graph-bar-col
                                          .panel-graph-vertical-bar{"data-limit" => "max"}
                                        .panel-graph-bar-col
                                        .panel-graph-bar-col
                                        .panel-graph-bar-col
                                  .panel-collapse-inside-block.rounded-1
                                    %p
                                      Какова вероятность, что улучшение ситуации
                                      прогнозируемое в разделе А2 действительно
                                      произойдет.
                                    .panel-graph-block
                                      .panel-graph-top-center
                                        .panel-graph-top-badge-col
                                          .panel-graph-top-badge-top-stripe
                                            %span в полном объеме
                                          .panel-graph-top-badge-bottom-stripe
                                            %span более 90%
                                        .panel-graph-top-badge-col
                                          .panel-graph-top-badge-top-stripe
                                            %span в значительном объеме
                                          .panel-graph-top-badge-bottom-stripe
                                            %span от 50% до 90%
                                        .panel-graph-top-badge-col
                                          .panel-graph-top-badge-top-stripe
                                            %span в небольшом объеме
                                          .panel-graph-top-badge-bottom-stripe
                                            %span от 10% до 50%
                                        .panel-graph-top-badge-col
                                          .panel-graph-top-badge-top-stripe
                                            %span в ничтожном объеме
                                          .panel-graph-top-badge-bottom-stripe
                                            %span менее 10%
                                      .panel-graph-left-col
                                        .panel-graph-left-col-badge.panel-graph-left-badge3
                                          очень
                                          вероятно
                                        .panel-graph-left-col-badge.panel-graph-left-badge2
                                          вероятно
                                        .panel-graph-left-col-badge.panel-graph-left-badge1
                                          маловероятно
                                      .panel-graph-right-col
                                        .panel-graph-bar-col
                                        .panel-graph-bar-col
                                        .panel-graph-bar-col
                                          .panel-graph-vertical-bar{"data-limit" => "max"}
                                        .panel-graph-bar-col
                                  .panel-collapse-inside-block.rounded-1
                                    %p
                                      Какова вероятность, что улучшение ситуации
                                      прогнозируемое в разделе А2 действительно
                                      произойдет.
                                    .panel-graph-block
                                      .panel-graph-top-center
                                        .panel-graph-top-badge-col
                                          .panel-graph-top-badge-top-stripe
                                            %span в полном объеме
                                          .panel-graph-top-badge-bottom-stripe
                                            %span более 90%
                                        .panel-graph-top-badge-col
                                          .panel-graph-top-badge-top-stripe
                                            %span в значительном объеме
                                          .panel-graph-top-badge-bottom-stripe
                                            %span от 50% до 90%
                                        .panel-graph-top-badge-col
                                          .panel-graph-top-badge-top-stripe
                                            %span в небольшом объеме
                                          .panel-graph-top-badge-bottom-stripe
                                            %span от 10% до 50%
                                        .panel-graph-top-badge-col
                                          .panel-graph-top-badge-top-stripe
                                            %span в ничтожном объеме
                                          .panel-graph-top-badge-bottom-stripe
                                            %span менее 10%
                                      .panel-graph-left-col
                                        .panel-graph-left-col-badge.panel-graph-left-badge3
                                          очень
                                          вероятно
                                        .panel-graph-left-col-badge.panel-graph-left-badge2
                                          вероятно
                                        .panel-graph-left-col-badge.panel-graph-left-badge1
                                          маловероятно
                                      .panel-graph-right-col
                                        .panel-graph-bar-col
                                          .panel-graph-vertical-bar{"data-limit" => "max"}
                                        .panel-graph-bar-col
                                        .panel-graph-bar-col
                                        .panel-graph-bar-col
      / Outer Ends
      / Javascript files
      / jQuery
      %script{:src => "js/jquery.js"}
      / Bootstrap JS
      %script{:src => "js/bootstrap.min.js"}
      / Magnific Popup
      %script{:src => "js/jquery.magnific-popup.min.js"}
      / Owl carousel
      %script{:src => "js/owl.carousel.min.js"}
      / Respond JS for IE8
      %script{:src => "js/respond.min.js"}
      / HTML5 Support for IE
      %script{:src => "js/html5shiv.js"}
      / Content hover JS
      %script{:src => "js/jquery.contenthover.min.js"}
      / Javascript for this page
      / Excanvas JS for Knob Support in IE 8
      %script{:src => "js/waypoints.min.js"}
      %script{:src => "js/excanvas.js"}
      / jQuery Knob
      %script{:src => "js/jquery.knob.js"}
      / Custom JS. Type your JS code in custom.js file
      %script{:src => "js/custom.js"}
