!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Magnific Popup
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    / Owl carousel
    %link{:href => "css/owl.carousel.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
  %body
    .outer.stage1_theme
      / Top bar starts
      %header.navbar.top_bar
        .container
          .navbar-header
            %a.navbar-brand{:href => "main.html"}
              %img{:src => "img/logo1.png"}/
          %ul.nav.navbar-nav.main_menu
            %li.active
              %a{:href => "first-stage.html"} Процедура
            %li
              %a{:href => "cabinet-stage1.html"} Кабинет
            %li
              %a#popover_news.has_circle.popover_news{"data-content" => "\n                    <div class='popover_cont'>\n                    <a href='#' class='news-tooltip-icon' id='tooltip-i1'>\n                        <img src='img/icon-news-1.png'>\n                        <span class='news-tooltip-bottom-text'>добавлено</span>\n                    </a>\n                    <a href='#' class='news-tooltip-icon' id='tooltip-i2'>\n                        <img src='img/icon-news-2.png'>\n                        <span class='news-tooltip-bottom-text'>комментария</span>\n                    </a>\n                    <a href='#popup-news' class='news-tooltip-icon news-popup-href' id='tooltip-i3'>\n                        <img src='img/icon-news-3.png'>\n                        <span class='top-circle'>36</span>\n                        <span class='news-tooltip-bottom-text'>пометок</span>\n                    </a>\n                    <a href='#' class='news-tooltip-icon' id='tooltip-i4'>\n                        <img src='img/icon-news-4.png'>\n                        <span class='top-circle'>1</span>\n                        <span class='news-tooltip-bottom-text'>отредактировано</span>\n                    </a>\n                    </div>", "data-html" => "true", "data-placement" => "bottom", "data-toggle" => "popover", :href => "#"}
                Новости
              %span.top-circle 36
          .navbar-right.text-right.user_block.font_grey
            %a#tooltip1_5.tooltip1_5.open_base_icon{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :href => "#", :title => "Открыть базу знаний"}
            %span.auth-divider |
            %i.fa.fa-exclamation-triangle.font_lighter_grey
            %span.auth-divider |
            %a.font_grey.bold{:href => "#"}
              %i.fa.fa-globe.font_lighter_grey
              %small
                %i.fa.fa-angle-down
            %span.auth-divider |
            %span.badge.grey 500
            %a.font_grey.bold{:href => "#"}
              %small
                Лиза Школьник
                %i.fa.fa-angle-down
      / Top Bar ends
      .subhead
        .container
          %h4.font_white Решение конфликта, возникшего из-за меда
        %button#tooltip_button_1.btn.btn-tooltip{:type => "button", :value => "Show"}
          %i.fa.fa-lightbulb-o
          Открыть подсказки
        %button#close_tooltip_button_1.btn.btn-tooltip-close{:type => "button", :value => "Destroy"}
          %i.fa.fa-lightbulb-o
          Закрыть подсказки
      .container
        .row
          .col-md-8.col_padding_right_3
            #tooltip1_1.border_grey.rounded_3.stages_block.tooltip1_1{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "В нашей процедуре стадии открываются поэтапно. Следующая стадия откроется, когда большинство участников ответит на все вопросы."}
              .btn-toolbar{:role => "toolbar"}
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage1{:href => "first-stage.html", :role => "button"}
                    1 СТАДИЯ: ВВЕДЕНИЕ В
                    ПРОЦЕДУРУ
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage2{:href => "second-stage.html", :role => "button"} 2
                  %a.btn.back_color_stage3{:href => "third-stage.html", :role => "button"} 3
                  %a.btn.back_color_stage4{:href => "fourth-stage.html", :role => "button"} 4
                  %a.btn.back_color_stage5{:href => "fifth-stage.html", :role => "button"} 5
          .col-md-4.col_padding_left_3
            #tooltip1_2.border_grey.rounded_3.help_icon.tooltip1_2{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "Вы всегда сможете вызвать помощь по стадии, нажав сюда"}
            #tooltip1_3.border_grey.rounded_3.progress_block.tooltip1_3{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "Здесь будут отображаться ваши успехи по работе с аспектами. Другие участники тоже не сидят сложа руки!"}
              .container
                .row
                  .col-xs-6.col-md-6.col_padding_right_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Ваш прогресс на стадии
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "0", "data-fgcolor" => "#649ac3", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
                  .col-xs-6.col-md-6.col_padding_left_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Прогресс других участников
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#649ac3", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
      / Main Block starts
      .main-block
        .container
          .stage-info-sort-block
            .row
              .col-md-3
                %h6.bold Аспекты (9)
          / Aspects block (UI four) starts
          .ui-4.first-stage
            .container
              / UI content
              .block-content
                / Tabs
                / Nav tabs
                .slider-wrapper
                  %a.slider-left.slider-nav
                    %i.fa.fa-caret-left.font_lighter_grey
                  %a.slider-right.slider-nav
                    %i.fa.fa-caret-right.font_lighter_grey
                  .slider-outer
                    %ul.slider-inner.list-unstyled
                      %li
                        .slider-item.active
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-one"}
                              %span.c1-item-inner.color-theme-1
                                Мед и пчелы
                      %li
                        .slider-item
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-two"}
                              %span.c1-item-inner.color-theme-2
                                Мед и четвероногие
                      %li
                        .slider-item
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-three"}
                              %span.c1-item-inner.color-theme-3
                                Взаимоотношения четвероногих и пчел
                      %li
                        .slider-item
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-four"}
                              %span.c1-item-inner.color-theme-4
                                Пчелы и цветочные поляны
                      %li
                        .slider-item
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-five"}
                              %span.c1-item-inner.color-theme-5
                                Четвероногие и сахар
                      %li
                        .slider-item
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-six"}
                              %span.c1-item-inner.color-theme-6
                                Пчелы, четвероногие и зимняя спячка
                      %li
                        .slider-item
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-seven"}
                              %span.c1-item-inner.color-theme-7
                                Винни-Пух и все все все
                      %li
                        .slider-item
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-eight"}
                              %span.c1-item-inner.color-theme-8
                                Эффективность пчел в сборе меда
                      %li
                        .slider-item
                          .c1-item
                            %a{"data-toggle" => "tab", :href => "#tab-nine"}
                              %span.c1-item-inner.color-theme-9
                                Пчелы и лес
                / Tab panes
                .tab-content
                  #tab-one.tab-pane.color-theme-1.active.fade.in
                    .container
                      .row
                        .col-md-8.col-sm-8.min-col-right-padd
                          .top-color-border-block.aspect-main-block
                            %h6.aspect-main-block-heading Ситуация с пчелами
                            %p.aspect-main-block-text
                              Пчелы недовольны тем, что на их мед
                              постоянно покушаются Винни-Пух и его друзья. Желая разрешить
                              конфликт мирным способом, они обратились к мудрой Сове.
                            %img{:src => "img/aspect-pic1.jpg"}/
                        .col-md-4.col-sm-4.min-col-left-padd
                          #questionsCarousel1.carousel.slide.questionsCarousel{"data-ride" => "carousel"}
                            .aspect-questions-block{:style => "height: 408px;"}
                              .carousel-inner
                                .item.active
                                  %h4.block-with-left-icon
                                    %i.left-icon.fa.fa-2x.fa-comments.pull-left>
                                    Вопросы по
                                    теме
                                  %p.text.block-with-left-icon
                                    %span.left-icon.pull-right 1.
                                    Из-за чего начались конфликты?
                                  %form.form.instruments-block
                                    .btn-group{"data-toggle" => "buttons"}
                                      %button.btn.btn-xs.btn-white.pull-left
                                        Звери много шумят
                                        в лесу
                                      %button.btn.btn-xs.btn-white.pull-left
                                        Звери хотели
                                        поселиться в Высоком дубу
                                      %button.btn.btn-xs.btn-white.pull-left
                                        В лесу был
                                        пожар
                                      %button.btn.btn-xs.btn-white.pull-left
                                        Звери хотят
                                        отнять мед у пчел
                                    .clearfix
                                    .form-group.bottom-buttons
                                      %a.btn.btn-outline.notice-button Подсказка
                                      %button.btn.answer-button.questionCarousel-target{"data-slide-to" => "1", "data-target" => "#questionsCarousel1"} Ответить
                                .item
                                  %p.text.block-with-left-icon
                                    %span.left-icon.pull-right 2.
                                    К кому обратились жители опушки для разрешения спора?
                                  %form.form.instruments-block
                                    .btn-group{"data-toggle" => "buttons"}
                                      %button.btn.btn-xs.btn-white.pull-left
                                        К Президенту РФ
                                      %button.btn.btn-xs.btn-white.pull-left К Сове
                                      %button.btn.btn-xs.btn-white.pull-left
                                        К Винни-Пуху
                                      %button.btn.btn-xs.btn-white.pull-left
                                        К слону Аркадию
                                    .clearfix
                                    .form-group.bottom-buttons
                                      %a.btn.btn-outline.notice-button Подсказка
                                      %button.btn.answer-button Ответить
                  #tab-two.tab-pane.color-theme-2.fade
                    .container
                      .row
                        .col-md-8.col-sm-8.min-col-right-padd
                          .aspect-main-block
                            %p.aspect-main-block-text
                              В популярной сказке Винни-Пух и его
                              друзья жаждали меда, но пчелы не давали забрать у себя плоды своего
                              труда. Чтобы раздобыть мед, Винни с компанией пытался обманом
                              пробраться в улей на Высоком дубе — не вышло, сутками подкарауливал
                              момент, когда все пчелы вылетят из улья, — не дождался; пытался
                              втянуть пчел в переговоры, предлагая грибы и ягоды в обмен на мед, —
                              был отвергнут.
                              Всего в истории участвовало трое четвероногих: сам Винни-Пух и его
                              друзья Пятачок и Кролик.
                            %img{:src => "img/aspect-pic2.jpg"}/
                        .col-md-4.col-sm-4.min-col-left-padd
                          #questionsCarousel2.carousel.slide.questionsCarousel{"data-ride" => "carousel questionsCarousel"}
                            .aspect-questions-block{:style => "height: 646px;"}
                              .carousel-inner
                                .item.active
                                  %h4.block-with-left-icon
                                    %i.left-icon.fa.fa-2x.fa-comments.pull-left>
                                    Вопросы по теме
                                  %p.text.block-with-left-icon
                                    %span.left-icon.pull-right 1.
                                    Пытались ли четвероногие договориться с пчелами о взаимовыгодном
                                    сотрудничестве, связанном с распределением меда?
                                  %form.form.instruments-block
                                    .btn-group{"data-toggle" => "buttons"}
                                      %button.btn.btn-xs.btn-white.pull-left Нет
                                      %button.btn.btn-xs.btn-white.pull-left Да
                                    .clearfix
                                    .form-group.bottom-buttons
                                      %a.btn.btn-outline.notice-button Подсказка
                                      %button.btn.answer-button.questionCarousel-target{"data-slide-to" => "1", "data-target" => "#questionsCarousel2"} Ответить
                                .item
                                  %p.text.block-with-left-icon
                                    %span.left-icon.pull-right 2.
                                    Как Винни пробовал добыть мед?
                                  %form.form.instruments-block
                                    .btn-group{"data-toggle" => "buttons"}
                                      %button.btn.btn-xs.btn-white.pull-left
                                        Собирал нектар
                                      %button.btn.btn-xs.btn-white.pull-left
                                        Поднимался на
                                        воздушном шаре
                                      %button.btn.btn-xs.btn-white.pull-left
                                        Пытался выменять
                                        мед на грибы и ягоды
                                    .clearfix
                                    .form-group.bottom-buttons
                                      %a.btn.btn-outline.notice-button Подсказка
                                      %button.btn.answer-button.questionCarousel-target{"data-slide-to" => "2", "data-target" => "#questionsCarousel2"} Ответить
                                .item
                                  %p.text.block-with-left-icon
                                    %span.left-icon.pull-right 3.
                                    Кто не входил в группу Винни-Пуха?
                                  %form.form.instruments-block
                                    .btn-group{"data-toggle" => "buttons"}
                                      %button.btn.btn-xs.btn-white.pull-left
                                        Слон Аркадий
                                      %button.btn.btn-xs.btn-white.pull-left Ослик Иа
                                      %button.btn.btn-xs.btn-white.pull-left Кролик
                                      %button.btn.btn-xs.btn-white.pull-left Пятачок
                                    .clearfix
                                    .form-group.bottom-buttons
                                      %a.btn.btn-outline.notice-button Подсказка
                                      %button.btn.answer-button Ответить
                  #tab-three.tab-pane.color-theme-3.fade
                    .container
                      .row
                        .col-md-8.col-sm-8.min-col-right-padd
                          .aspect-main-block
                            %h6.aspect-main-block-heading
                              Трудности, связанные с
                              расположением конфликтующих сторон
                            %p.aspect-main-block-text
                              Как видно на карте, Винни-Пух с
                              друзьями живут достаточно близко к Высокому дубу.
                              Это часто обостряет конфликт, потому что пчелы не могут нормально
                              собирать мед,
                              постоянно беспокоясь, что их ограбят.
                            %img{:src => "img/aspect-pic3.jpg"}/
                        .col-md-4.col-sm-4.min-col-left-padd
                          #questionsCarousel3.carousel.slide.questionsCarousel{"data-ride" => "carousel"}
                            .aspect-questions-block{:style => "height: 472px;"}
                              .carousel-inner
                                .item.active
                                  %h4.block-with-left-icon
                                    %i.left-icon.fa.fa-2x.fa-comments.pull-left>
                                    Вопросы по
                                    теме
                                  %p.text.block-with-left-icon
                                    %span.left-icon.pull-right 1.
                                    Где живут пчелы?
                                  %form.form.instruments-block
                                    .btn-group{"data-toggle" => "buttons"}
                                      %button.btn.btn-xs.btn-white.pull-left
                                        У Винни-Пуха
                                      %button.btn.btn-xs.btn-white.pull-left
                                        На Высоком дубе
                                      %button.btn.btn-xs.btn-white.pull-left
                                        В особняке
                                    .clearfix
                                    .form-group.bottom-buttons
                                      %a.btn.btn-outline.notice-button Подсказка
                                      %button.btn.answer-button.questionCarousel-target2{"data-slide-to" => "1", "data-target" => "#questionsCarousel3"} Ответить
                                .item
                                  %p.text.block-with-left-icon
                                    %span.left-icon.pull-right 2.
                                    Какой фактор обостряет конфликт между пчелами и четвероногими?
                                  %form.form.instruments-block
                                    .btn-group{"data-toggle" => "buttons"}
                                      %button.btn.btn-xs.btn-white.pull-left
                                        Конфликтующие
                                        стороны разговаривают на разных языках
                                      %button.btn.btn-xs.btn-white.pull-left
                                        Конфликтующие
                                        стороны живут близко друг к другу
                                      %button.btn.btn-xs.btn-white.pull-left
                                        Пчелы — очень
                                        вредные насекомые
                                    .clearfix
                                    .form-group.bottom-buttons
                                      %a.btn.btn-outline.notice-button Подсказка
                                      %button.btn.answer-button Ответить
                  #tab-four.tab-pane.color-theme-4.fade
                    .container
                      .row
                        .col-md-8.col-sm-8.min-col-right-padd
                          .aspect-main-block
                            %h6.aspect-main-block-heading Пчелы и цветочные поляны
                            %p.aspect-main-block-text
                              Проснувшись однажды утром после
                              беспокойного сна, Грегор Замза обнаружил, что он у себя в постели
                              превратился в страшное насекомое. Лежа на панцирнотвердой спине, он
                              видел, стоило ему приподнять голову, свой
                            %img{:src => "img/aspect-pic4.jpg"}/
                        / Questions block starts
                        .col-md-4.col-sm-4.min-col-left-padd
                          .aspect-questions-block{:style => "height: 544px;"}
                        / Questions block ends
                  #tab-five.tab-pane.color-theme-5.fade
                    .container
                      .row
                        .col-md-8.col-sm-8.min-col-right-padd
                          .aspect-main-block
                            %h6.aspect-main-block-heading Четвероногие и сахар
                            %p.aspect-main-block-text
                              Любя, съешь щипцы, — вздохнёт мэр, —
                              кайф жгуч. Шеф взъярён тчк щипцы с эхом гудбай Жюль. Эй, жлоб! Где
                              туз? Прячь юных съёмщиц в
                            %img{:src => "img/aspect-pic5.jpg"}/
                        / Questions block starts
                        .col-md-4.col-sm-4.min-col-left-padd
                          .aspect-questions-block{:style => "height: 523px;"}
                        / Questions block ends
                  #tab-six.tab-pane.color-theme-6.fade
                    .container
                      .row
                        .col-md-8.col-sm-8.min-col-right-padd
                          .aspect-main-block
                            %h6.aspect-main-block-heading
                              Пчелы, четвероногие и зимняя
                              спячка
                            %p.aspect-main-block-text
                              Душа моя озарена неземной радостью,
                              как эти чудесные весенние утра, которыми я наслаждаюсь от всего
                              сердца. Я совсем один и блаженствую в здешнем краю, словно созданном
                              для таких, как я. Я так счастлив, мой друг, так упоен ощущением
                              покоя, что
                            %img{:src => "img/aspect-pic6.jpg"}/
                        / Questions block starts
                        .col-md-4.col-sm-4.min-col-left-padd
                          .aspect-questions-block{:style => "height: 585px;"}
                        / Questions block ends
                  #tab-seven.tab-pane.color-theme-7.fade
                    .container
                      .row
                        .col-md-8.col-sm-8.min-col-right-padd
                          .aspect-main-block
                            %h6.aspect-main-block-heading Винни-Пух и все-все-все
                            %p.aspect-main-block-text
                              Далеко-далеко за словесными горами в
                              стране гласных и согласных живут рыбные тексты. Вдали от всех живут
                              они в буквенных домах на берегу Семантика большого языкового океана.
                              Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми
                              необходимыми правилами. Эта
                            %img{:src => "img/aspect-pic7.jpg"}/
                        / Questions block starts
                        .col-md-4.col-sm-4.min-col-left-padd
                          .aspect-questions-block{:style => "height: 630px;"}
                        / Questions block ends
                  #tab-eight.tab-pane.color-theme-8.fade
                    .container
                      .row
                        .col-md-8.col-sm-8.min-col-right-padd
                          .aspect-main-block
                            %h6.aspect-main-block-heading
                              Эффективность пчел в сборе
                              меда
                            %p.aspect-main-block-text
                              Его многочисленные, убого тонкие по
                              сравнению с остальным телом ножки беспомощно копошились у него перед
                              глазами. «Что со мной случилось?» – подумал он. Это не было сном.
                              Его комната, настоящая, разве что слишком маленькая, но обычная
                              комната, мирно покоилась в своих четырех хорошо знакомых
                            %img{:src => "img/aspect-pic8.jpg"}/
                        / Questions block starts
                        .col-md-4.col-sm-4.min-col-left-padd
                          .aspect-questions-block{:style => "height: 604px;"}
                        / Questions block ends
                  #tab-nine.tab-pane.color-theme-9.fade
                    .container
                      .row
                        .col-md-8.col-sm-8.min-col-right-padd
                          .aspect-main-block
                            %h6.aspect-main-block-heading Лес
                            %p.aspect-main-block-text
                              Проснувшись однажды утром после
                              беспокойного сна, Грегор Замза обнаружил, что он у себя в постели
                              превратился в страшное насекомое. Лежа на панцирнотвердой спине, он
                              видел, стоило ему приподнять голову, свой
                            %img{:src => "img/aspect-pic9.jpg"}/
                        / Questions block starts
                        .col-md-4.col-sm-4.min-col-left-padd
                          .aspect-questions-block{:style => "height: 582px;"}
                        / Questions block ends
          / Aspects block (UI four) ends
      / Main Block ends
      #popup-explanation.popup-window.popup-explanation.popup-w710.mfp-hide
        .popup.popup-top-rounded.popup-bottom-rounded
          %h2
            %img.expl-header-img-1{:src => "img/good-shot1.png"}>/
            Цель 1-й стадии
          %p.expl-sub-heading
            Подробное изучение базы знаний по каждому аспекту всеми участниками процедуры
            выработки проекта
          %p.expl-notice.rounded-2
            Второй этап выработки проекта будет доступен только после того,
            %br>/
            как
            средний уровень готовности участников будет не менее 80%!
          %h2
            %img.expl-header-img-2{:src => "img/flag1.png"}>/
            С чего начать?
          %ol
            %li Выберите аспект в списке ниже
            %li Ознакомьтесь с базой знаний внутри этого аспекта
            %li Пройдите короткое тестирование по полученным знаниям
            %li Переходите к следующему аспекту
            %li
              Проголосуйте за самые важные на ваш вгляд аспекты
              %br>/
              (будет доступно в конце этапа)
          %button.btn.red Начать работу
      #popup-news.popup-window.popup-w985.popup-imperfect-new.mfp-hide
        .popup.popup-top-rounded.popup-bottom-rounded
          %h2 36 новых комментария в нововведениях
          .popup_in
            .container
              .col-md-4
                .badge_comments.light-blue.rounded_8
                  %table.table
                    %tbody
                      %tr.what
                        %td.col-md-2.text-center.right-column
                          Что
                        %td.col-md-10.left-column.bold
                          Нечем дышать
                      %tr
                        %td.col-md-2.text-center.right-column Где
                        %td.col-md-10.left-column Около Высокого дуба
                      %tr
                        %td.col-md-2.text-center.right-column Когда
                        %td.col-md-10.left-column При сборе нектара
                .badge_comments.light-blue.rounded_8
                  %table.table
                    %tbody
                      %tr.what
                        %td.col-md-2.text-center.right-column
                          Что
                        %td.col-md-10.left-column.bold
                          Нечем дышать
                      %tr
                        %td.col-md-2.text-center.right-column Где
                        %td.col-md-10.left-column Около Высокого дуба
                      %tr
                        %td.col-md-2.text-center.right-column Когда
                        %td.col-md-10.left-column При сборе нектара
                .badge_comments.light-blue.rounded_8
                  %table.table
                    %tbody
                      %tr.what
                        %td.col-md-2.text-center.right-column
                          Что
                        %td.col-md-10.left-column.bold
                          Нечем дышать
                      %tr
                        %td.col-md-2.text-center.right-column Где
                        %td.col-md-10.left-column Около Высокого дуба
                      %tr
                        %td.col-md-2.text-center.right-column Когда
                        %td.col-md-10.left-column При сборе нектара
                .badge_comments.light-blue.rounded_8
                  %table.table
                    %tbody
                      %tr.what
                        %td.col-md-2.text-center.right-column
                          Что
                        %td.col-md-10.left-column.bold
                          Нечем дышать
                      %tr
                        %td.col-md-2.text-center.right-column Где
                        %td.col-md-10.left-column Около Высокого дуба
                      %tr
                        %td.col-md-2.text-center.right-column Когда
                        %td.col-md-10.left-column При сборе нектара
                .badge_comments.light-blue.rounded_8
                  %table.table
                    %tbody
                      %tr.what
                        %td.col-md-2.text-center.right-column
                          Что
                        %td.col-md-10.left-column.bold
                          Нечем дышать
                      %tr
                        %td.col-md-2.text-center.right-column Где
                        %td.col-md-10.left-column Около Высокого дуба
                      %tr
                        %td.col-md-2.text-center.right-column Когда
                        %td.col-md-10.left-column При сборе нектара
                .badge_comments.light-blue.rounded_8
                  %table.table
                    %tbody
                      %tr.what
                        %td.col-md-2.text-center.right-column
                          Что
                        %td.col-md-10.left-column.bold
                          Нечем дышать
                      %tr
                        %td.col-md-2.text-center.right-column Где
                        %td.col-md-10.left-column Около Высокого дуба
                      %tr
                        %td.col-md-2.text-center.right-column Когда
                        %td.col-md-10.left-column При сборе нектара
                .badge_comments.light-blue.rounded_8
                  %table.table
                    %tbody
                      %tr.what
                        %td.col-md-2.text-center.right-column
                          Что
                        %td.col-md-10.left-column.bold
                          Нечем дышать
                      %tr
                        %td.col-md-2.text-center.right-column Где
                        %td.col-md-10.left-column Около Высокого дуба
                      %tr
                        %td.col-md-2.text-center.right-column Когда
                        %td.col-md-10.left-column При сборе нектара
                .badge_comments.light-blue.rounded_8
                  %table.table
                    %tbody
                      %tr.what
                        %td.col-md-2.text-center.right-column
                          Что
                        %td.col-md-10.left-column.bold
                          Нечем дышать
                      %tr
                        %td.col-md-2.text-center.right-column Где
                        %td.col-md-10.left-column Около Высокого дуба
                      %tr
                        %td.col-md-2.text-center.right-column Когда
                        %td.col-md-10.left-column При сборе нектара
                .badge_comments.light-blue.rounded_8
                  %table.table
                    %tbody
                      %tr.what
                        %td.col-md-2.text-center.right-column
                          Что
                        %td.col-md-10.left-column.bold
                          Нечем дышать
                      %tr
                        %td.col-md-2.text-center.right-column Где
                        %td.col-md-10.left-column Около Высокого дуба
                      %tr
                        %td.col-md-2.text-center.right-column Когда
                        %td.col-md-10.left-column При сборе нектара
                .badge_comments.light-blue.rounded_8
                  %table.table
                    %tbody
                      %tr.what
                        %td.col-md-2.text-center.right-column
                          Что
                        %td.col-md-10.left-column.bold
                          Нечем дышать
                      %tr
                        %td.col-md-2.text-center.right-column Где
                        %td.col-md-10.left-column Около Высокого дуба
                      %tr
                        %td.col-md-2.text-center.right-column Когда
                        %td.col-md-10.left-column При сборе нектара
              .col-md-8.col_padding_left_50
                %span.imperfect-text-date 22.12.2014
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red важное
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red требует обсуждения
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
                .media.comment
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
                    %span.status.font_red
                    %span.date.font_red.bold 15:28
                  %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая. Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  %h1.dots.text-center.font_lighter_grey ...
      #modal1.modal.fade
        .modal-dialog
          .modal-content
            .modal-body
              %h5.text-center Отлично, начало положено!
          / /.modal-content
        / /.modal-dialog
      / /.modal
    / Outer Ends
    / Javascript files
    / jQuery
    %script{:src => "js/jquery.js"}
    / Bootstrap JS
    %script{:src => "js/bootstrap.min.js"}
    / Magnific Popup
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / Owl carousel
    %script{:src => "js/owl.carousel.min.js"}
    / Respond JS for IE8
    %script{:src => "js/respond.min.js"}
    / HTML5 Support for IE
    %script{:src => "js/html5shiv.js"}
    / Javascript for this page
    / Excanvas JS for Knob Support in IE 8
    %script{:src => "js/excanvas.js"}
    / jQuery Knob
    %script{:src => "js/jquery.knob.js"}
    %script{:src => "js/waypoints.min.js"}
    / Custom JS. Type your JS code in custom.js file
    %script{:src => "js/custom.js"}
    :javascript
      /* first stage slider */

      $(document).ready(function (){

          $('.tab-pane.fade.in').find('.aspect-questions-block').innerHeight();

              /*var max_right = 0;
              $('.tab-pane').change(function() {
                  alert('in');
                  if ($(this).hasClass('active')) {
                      $(this).children('.aspect-questions-block').each(function () {
                          var h = $(this).innerHeight();
                          if (h > max_right) {
                              max_right = h;
                          }
                      });
                  }
                  ;
                  $(this).children('.aspect-questions-block').each(function () {
                      $(this).css('height', max_right + 'px');
                  });
              });*/



          var offset = 0;

          /* set inner width */
          var inner = $('.slider-inner');
          var inner_w = count_inner()+100;
          inner.css('width', inner_w+'px');

          /* count outer width */
          var outer = $('.slider-outer');
          var outer_w = outer.innerWidth();

          /* events */
          $('.slider-item').click(function(){
              click_item($(this));
          });
          $('.slider-right').click(function(){
              slide_inner(outer_w, offset, 'right');
          });
          $('.slider-left').click(function(){
              slide_inner(outer_w, offset, 'left');
          });


          function count_inner(){
              var sliders_sum = 0;
              $('.slider-item').each(function (){
                  sliders_sum += $(this).innerWidth();
              });
              return sliders_sum;
          };

          /*  */
          function slide_inner(out, off, dir){
              var sum_i = 0;
              var m = 0;
              var right_point = off + out;

              $('.slider-item').each(function (){
                  var me = $(this);
                  sum_i += me.innerWidth();
                  if (dir == 'left' && off) {
                      if (sum_i >= off) {
                          m = me.innerWidth() - (sum_i - off);
                          return false;
                      }
                  } else if (dir == 'right'){
                      if (sum_i > right_point){
                          m = sum_i - right_point;
                          return false;
                      }
                  }
              });

              if(m){
                  if (dir == 'left') {
                      off -= m;
                  } else if (dir == 'right') {
                      off += m;
                  }
                  var anim = [];
                  anim['margin-left'] = -off+'px';
                  inner.animate(anim, 500);

                  offset = off;
              }
          };

          function click_item(item) {
              if(!(item.hasClass('active'))){
                  $('.slider-item').removeClass('active');
                  item.addClass('active');
                  var left_pos = count_pos()+1;
                  var right_pos = left_pos + item.innerWidth();
                  if (left_pos < offset){
                      slide_inner(outer_w, offset, "left");
                  } else if(right_pos < (offset+outer_w)){

                  } else {
                      slide_inner(outer_w, offset, "right");
                  };
              };
          };

          function count_pos(){
              var sum_i = 0;
              var m = 0;
              $('.slider-item').each(function () {
                  var me = $(this);
                  if (me.hasClass('active')){
                      return false;
                  } else {
                      sum_i += me.innerWidth();
                  }
              });
              return sum_i;
          }

      });
