!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Magnific Popup
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
    %link{:href => "css/custom-post.css", :rel => "stylesheet"}/
    %link{:href => "css/dropdowns-enhancement.css", :rel => "stylesheet"}/
  %body
    .outer.stage2_theme
      / Top bar starts
      %header.navbar.top_bar
        .container
          .navbar-header
            %a.navbar-brand{:href => "main.html"}
              %img{:src => "img/logo1.png"}/
          %ul.nav.navbar-nav.main_menu
            %li.active
              %a{:href => "first-stage.html"} Процедура
            %li
              %a{:href => "cabinet-stage1.html"} Кабинет
            %li
              %a{:href => "#"} Рефлексия
            %li
              %a.has_circle{:href => "#"}
                Новости
                %span.top-circle 25
          .navbar-right.text-right.user_block.font_grey
            %a{:href => "#"}
              %img#tooltip1_5.tooltip1_5{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :src => "img/book-icon.png", :title => "Открыть базу знаний"}/
            %span.auth-divider
              |
              %i.fa.fa-exclamation-triangle.font_lighter_grey
              %span.auth-divider |
              %a.font_grey.bold{:href => "#"}
                %i.fa.fa-globe.font_lighter_grey
                %small
                  %i.fa.fa-angle-down
              %ul.dropdown-menu.dropdown-mini{:role => "menu"}
              %span.auth-divider |
              %span.badge.grey 500
              %a.font_grey.bold{:href => "#"}
                %small
                  Лиза Школьник
                  %i.fa.fa-angle-down
      / Top Bar ends
      .subhead
        .container
          %h4.font_white Решение конфликта, возникшего из-за меда
        %button#tooltip_button_2.btn.btn-tooltip{:type => "button", :value => "Show"}
          %i.fa.fa-lightbulb-o
          Открыть подсказки
        %button#close_tooltip_button_2.btn.btn-tooltip-close{:type => "button", :value => "Destroy"}
          %i.fa.fa-lightbulb-o
          Закрыть подсказки
      .container
        .row
          .col-md-8.col_padding_right_3
            .border_grey.rounded_3.stages_block
              .btn-toolbar{:role => "toolbar"}
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage1{:href => "first-stage.html", :role => "button"} 1
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage2{:href => "second-stage.html", :role => "button"} 2 СТАДИЯ: АНАЛИЗ СИТУАЦИИ
                .btn-group{:role => "group"}
                  %a.btn.back_color_stage3{:href => "third-stage.html", :role => "button"} 3
                  %a.btn.back_color_stage4{:href => "fourth-stage.html", :role => "button"} 4
                  %a.btn.back_color_stage5{:href => "fifth-stage.html", :role => "button"} 5
          .col-md-4.col_padding_left_3
            .border_grey.rounded_3.help_icon
            .border_grey.rounded_3.progress_block
              .container
                .row
                  .col-xs-6.col-md-6.col_padding_right_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Ваш прогресс на стадии
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#486795", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
                  .col-xs-6.col-md-6.col_padding_left_3
                    .row
                      .col-xs-8.col-md-8.col_padding_3
                        .knob_label.text-right.font_grey
                          %small Прогресс других участников
                      .col-xs-4.col-md-4.col_padding_3
                        .progress-knob
                          .knob-content
                            .knob-item
                              %input#knob-1.knob{"data-anglearc" => "360", "data-angleoffset" => "70", "data-bgcolor" => "#f4f4f4", "data-end" => "90", "data-fgcolor" => "#486795", "data-font" => "'Open Sans', sans-serif", "data-thickness" => ".1", :value => "0"}/
      / Main Block starts
      .main-block
        .container
          .stage-info-sort-block
            #tooltip2_1.btn-group.tooltip2_1{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "Сейчас вы просматриваете несовершенства, связанные только с этим аспектом, но в выпадающем меню вы можете выбрать любой другой аспект."}
              %span Аспекты (8) :
              %a.dropdown-toggle{"data-toggle" => "dropdown"}
                %i.fa.fa-stop.colorT1>
                Взаимоотношения
                четвероногих и пчел
                %span.caret
              %ul.dropdown-menu
                %li
                  %input#ex2_2_1{:name => "ex2_2", :type => "radio", :value => "1"}/
                  %label{:for => "ex2_2_1"}
                    %i.fa.fa-stop.colorT2>
                    Мед и четвероногие
                %li
                  %input#ex2_2_2{:name => "ex2_2", :type => "radio", :value => "2"}/
                  %label{:for => "ex2_2_2"}
                    %i.fa.fa-stop.colorT3>
                    Мед и пчелы
                %li
                  %input#ex2_2_3{:name => "ex2_2", :type => "radio", :value => "3"}/
                  %label{:for => "ex2_2_3"}
                    %i.fa.fa-stop.colorT4>
                    Пчелы и цветочные поляны
                %li
                  %input#ex2_2_4{:name => "ex2_2", :type => "radio", :value => "4"}/
                  %label{:for => "ex2_2_4"}
                    %i.fa.fa-stop.colorT5>
                    Четвероногие и сахар
                %li
                  %input#ex2_2_5{:name => "ex2_2", :type => "radio", :value => "5"}/
                  %label{:for => "ex2_2_5"}
                    %i.fa.fa-stop.colorT6
                    Пчелы, четвероногие и зимняя спячка
                %li
                  %input#ex2_2_6{:name => "ex2_2", :type => "radio", :value => "6"}/
                  %label{:for => "ex2_2_6"}
                    %i.fa.fa-stop.colorT7
                    Винни-Пух и все-все-все
                %li
                  %input#ex2_2_7{:name => "ex2_2", :type => "radio", :value => "7"}/
                  %label{:for => "ex2_2_7"}
                    %i.fa.fa-stop.colorT8
                    Эффективность пчел в сборе меда
                %li
                  %input#ex2_2_8{:checked => "checked", :name => "ex2_2", :type => "radio", :value => "8"}/
                  %label{:for => "ex2_2_8"}
                    %i.fa.fa-stop.colorT1
                    Взаимоотношения четвероногих и пчел
          .stage-info-sort-block
            .row
              %br/
              .col-md-7
                %span.stage-heading
                  Несовершенства (15)
                  %i.fa.fa-question-circle
              .col-md-5
                .sort-block.pull-right
                  %span.sort-label Сортировать:
                  %span.sort-date
                  %span#tooltip2_2.sort-rate.tooltip2_2{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "При помощи этих фильтров вы можете выбирать, в каком порядке будут отображаться несовершенства."}
                  %a{:href => "cabinet-stage2.html"}
                    %button.btn.add-button
                      %span> +
                      Несовершенство
          .stage-post-block
            .row
              .col-md-6
                .post
                  .post-header.white
                  .post-body
                    .media
                      .media-left.text-center.gradient.post-poster
                        %img.img-circle.img50{:src => "img/ava-pyat.jpg"}/
                        %p.poster-name Пятачок
                        %p.poster-name
                        %p.time 21.12.2014
                      .media-body.pink
                        %table.table
                          %tbody
                            %tr.what
                              %td.col-md-2.text-center.right-column
                                Что
                              %td.col-md-10.left-column.bold
                                Винни-Пух постоянно
                                раздражает пчел своим излишним вниманием к Высокому дубу
                            %tr
                              %td.col-md-2.text-center.right-column Где
                              %td.col-md-10.left-column Около Высокого дуба
                            %tr
                              %td.col-md-2.text-center.right-column Когда
                              %td.col-md-10.left-column
                                При выслеживании удачного момента
                                для кражи меда
                            %tr
                              %td.col-md-2.text-center.right-column
                              %td.col-md-10.left-column
                  .contenthover
                    .arrow{"data-target" => "#popup-imperfect-1", "data-toggle" => "modal"}
                      %i.fa.fa-angle-right
                  #tooltip2_3.post-bottom.white.tooltip2_3{"data-placement" => "bottom", "data-toggle" => "tooltip", "data-trigger" => "none", :title => "В цветных квадратиках скрывается перечень аспектов, связанных с данным несовершенством. Нажмите на любой из них, чтобы увидеть полное\nназвание аспекта."}
                    .row
                      .col-md-10.col_padding_right_3
                        %small.pull-left{:style => "margin-right: 3px;"} Аспекты
                        #stripe1.post-theme
                          %a#stripe1.tag-stripes.dark-blue.active{:href => "#"}
                            %span.tags Взаимоотношения четвероногих и пчел
                          %a#stripe2.tag-stripes.blue-green{:href => "#"}
                            %span.tags Четвероногие и сахар
                          %a#stripe3.tag-stripes.blue-green2{:href => "#"}
                            %span.tags Пчелы, четвероногие и зимняя спячка
                          %a#stripe4.tag-stripes.blue-green3{:href => "#"}
                            %span.tags Эффективность пчел в сборе меда
                          %a#stripe5.tag-stripes.light-green{:href => "#"}
                            %span.tags Эффективность пчел в сборе меда
                      .col-md-2.col_padding_left_3
                        .text-right.small_icons
                          %span.popup2
                            5
                            %i.fa.fa-comment-o
                          %span.popup2
                            9
                            %i.fa.fa-thumbs-o-up
                          %span.popup2
                            1
                            %i.fa.fa-thumbs-o-down
              .col-md-6
                %a.open-popup-link{:href => "#popup-imperfect-new2"}
                  .post
                    .post-header.white
                    .post-body
                      .media
                        .media-left.text-center.gradient.post-poster
                          %img.img50.img-circle{:src => "img/ava-pyat.jpg"}/
                          %p.poster-name Пятачок
                          %p.poster-name
                          %p.time 21.12.2014
                        .media-body.blue
                          %table.table
                            %tbody
                              %tr.what
                                %td.col-md-2.text-center.right-column
                                  Что
                                %td.col-md-10.left-column.bold
                                  Взаимное недоверие
                                  четвероногих и пчел
                              %tr
                                %td.col-md-2.text-center.right-column Где
                                %td.col-md-10.left-column В сообществе обитателей леса
                              %tr
                                %td.col-md-2.text-center.right-column Когда
                                %td.col-md-10.left-column При переговорах о меде
                              %tr
                                %td.col-md-2.text-center.right-column
                                %td.col-md-10.left-column
                    .contenthover
                      .arrow
                        %i.fa.fa-angle-right
                    .post-bottom.white
                      .row
                        .col-md-10.col_padding_right_3
                          %small.pull-left{:style => "margin-right: 3px;"} Аспекты
                          #stripe12.post-theme
                            %a#stripe12.tag-stripes.dark-blue.active{:href => "#"}
                              %span.tags Взаимоотношения четвероногих и пчел
                            %a#stripe12.tag-stripes.blue-green{:href => "#"}
                              %span.tags Четвероногие и сахар
                            %a#stripe12.tag-stripes.blue-green2{:href => "#"}
                              %span.tags Пчелы, четвероногие и зимняя спячка
                            %a#stripe14.tag-stripes.blue-green3{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                            %a#stripe15.tag-stripes.light-green{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                        .col-md-2.col_padding_left_3
                          .text-right.small_icons
                            %span.popup2
                              5
                              %i.fa.fa-comment-o
                            %span.popup2
                              9
                              %i.fa.fa-thumbs-o-up
                            %span.popup2
                              1
                              %i.fa.fa-thumbs-o-down
              .col-md-6
                %a.open-popup-link{:href => "#popup-imperfect-new3"}
                  .post
                    .post-header.white
                    .post-body
                      .media
                        .media-left.text-center.gradient.post-poster
                          %img.img-circle{:src => "img/ava-rabb.jpg"}/
                          %p.poster-name Кролик
                          %p.time 21.12.2014
                        .media-body.pink
                          %table.table
                            %tbody
                              %tr.what
                                %td.col-md-2.text-center.right-column
                                  Что
                                %td.col-md-10.left-column.bold
                                  Четвероногие не очень боятся
                                  атаковать пчел
                              %tr
                                %td.col-md-2.text-center.right-column Где
                                %td.col-md-10.left-column В улье на Высоком дубе
                              %tr
                                %td.col-md-2.text-center.right-column Когда
                                %td.col-md-10.left-column При попытке добыть мед
                              %tr
                                %td.col-md-2.text-center.right-column
                                %td.col-md-10.left-column
                    .contenthover
                      .arrow
                        %i.fa.fa-angle-right
                    .post-bottom.white
                      .row
                        .col-md-10.col_padding_right_3
                          %small.pull-left{:style => "margin-right: 3px;"} Аспекты
                          #stripe13.post-theme
                            %a#stripe13.tag-stripes.dark-blue.active{:href => "#"}
                              %span.tags Взаимоотношения четвероногих и пчел
                            %a#stripe22.tag-stripes.blue-green{:href => "#"}
                              %span.tags Четвероногие и сахар
                            %a#stripe23.tag-stripes.blue-green2{:href => "#"}
                              %span.tags Пчелы, четвероногие и зимняя спячка
                            %a#stripe24.tag-stripes.blue-green3{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                            %a#stripe25.tag-stripes.light-green{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                        .col-md-2.col_padding_left_3
                          .text-right.small_icons
                            %span.popup2
                              5
                              %i.fa.fa-comment-o
                            %span.popup2
                              9
                              %i.fa.fa-thumbs-o-up
                            %span.popup2
                              1
                              %i.fa.fa-thumbs-o-down
              .col-md-6
                %a.open-popup-link{:href => "#popup-imperfect-new4"}
                  .post
                    .post-header.white
                    .post-body
                      .media
                        .media-left.text-center.gradient.post-poster
                          %img.img50.img-circle{:src => "img/ava-pyat.jpg"}/
                          %p.poster-name Пятачок
                          %p.poster-name
                          %p.time 21.12.2014
                        .media-body.blue
                          %table.table
                            %tbody
                              %tr.what
                                %td.col-md-2.text-center.right-column
                                  Что
                                %td.col-md-10.left-column.bold
                                  Четвероногие не очень боятся
                                  атаковать пчел
                              %tr
                                %td.col-md-2.text-center.right-column Где
                                %td.col-md-10.left-column В улье на Высоком дубе
                              %tr
                                %td.col-md-2.text-center.right-column Когда
                                %td.col-md-10.left-column При попытке добыть мед
                              %tr
                                %td.col-md-2.text-center.right-column
                                %td.col-md-10.left-column
                    .contenthover
                      .arrow
                        %i.fa.fa-angle-right
                    .post-bottom.white
                      .row
                        .col-md-10.col_padding_right_3
                          %small.pull-left{:style => "margin-right: 3px;"} Аспекты
                          #stripe14.post-theme
                            %a#stripe14.tag-stripes.dark-blue.active{:href => "#"}
                              %span.tags Взаимоотношения четвероногих и пчел
                            %a#stripe24.tag-stripes.blue-green{:href => "#"}
                              %span.tags Четвероногие и сахар
                            %a#stripe34.tag-stripes.blue-green2{:href => "#"}
                              %span.tags Пчелы, четвероногие и зимняя спячка
                            %a#stripe44.tag-stripes.blue-green3{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                            %a#stripe54.tag-stripes.light-green{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                        .col-md-2.col_padding_left_3
                          .text-right.small_icons
                            %span.popup2
                              5
                              %i.fa.fa-comment-o
                            %span.popup2
                              9
                              %i.fa.fa-thumbs-o-up
                            %span.popup2
                              1
                              %i.fa.fa-thumbs-o-down
              .col-md-6
                %a.open-popup-link{:href => "#popup-imperfect-new5"}
                  .post
                    .post-header.white
                    .post-body
                      .media
                        .media-left.text-center.gradient.post-poster
                          %img.img-circle{:src => "img/ava-rabb.jpg"}/
                          %p.poster-name Кролик
                          %p.time 21.12.2014
                        .media-body.pink
                          %table.table
                            %tbody
                              %tr.what
                                %td.col-md-2.text-center.right-column
                                  Что
                                %td.col-md-10.left-column.bold
                                  Вблизи от улья мало
                                  источников нектара для пчёл
                              %tr
                                %td.col-md-2.text-center.right-column Где
                                %td.col-md-10.left-column Около Высокого дуба
                              %tr
                                %td.col-md-2.text-center.right-column Когда
                                %td.col-md-10.left-column При сборе нектара
                              %tr
                                %td.col-md-2.text-center.right-column
                                %td.col-md-10.left-column
                    .contenthover
                      .arrow
                        %i.fa.fa-angle-right
                    .post-bottom.white
                      .row
                        .col-md-10.col_padding_right_3
                          %small.pull-left{:style => "margin-right: 3px;"} Аспекты
                          #stripe15.post-theme
                            %a#stripe15.tag-stripes.dark-blue.active{:href => "#"}
                              %span.tags Взаимоотношения четвероногих и пчел
                            %a#stripe25.tag-stripes.blue-green{:href => "#"}
                              %span.tags Четвероногие и сахар
                            %a#stripe35.tag-stripes.blue-green2{:href => "#"}
                              %span.tags Пчелы, четвероногие и зимняя спячка
                            %a#stripe45.tag-stripes.blue-green3{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                            %a#stripe55.tag-stripes.light-green{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                        .col-md-2.col_padding_left_3
                          .text-right.small_icons
                            %span.popup2
                              5
                              %i.fa.fa-comment-o
                            %span.popup2
                              9
                              %i.fa.fa-thumbs-o-up
                            %span.popup2
                              1
                              %i.fa.fa-thumbs-o-down
              .col-md-6
                %a.open-popup-link{:href => "#popup-imperfect-new1"}
                  .post
                    .post-header.white
                    .post-body
                      .media
                        .media-left.text-center.gradient.post-poster
                          %img.img50.img-circle{:src => "img/ava-pyat.jpg"}/
                          %p.poster-name Пятачок
                          %p.poster-name
                          %p.time 21.12.2014
                        .media-body.pink
                          %table.table
                            %tbody
                              %tr.what
                                %td.col-md-2.text-center.right-column
                                  Что
                                %td.col-md-10.left-column.bold
                                  Винни-Пух слишком сильно
                                  любит мед
                              %tr
                                %td.col-md-2.text-center.right-column Где
                                %td.col-md-10.left-column Около Высокого дуба
                              %tr
                                %td.col-md-2.text-center.right-column Когда
                                %td.col-md-10.left-column
                                  При выслеживании удачного момента
                                  для кражи меда
                              %tr
                                %td.col-md-2.text-center.right-column
                                %td.col-md-10.left-column
                    .contenthover
                      .arrow
                        %i.fa.fa-angle-right
                    .post-bottom.white
                      .row
                        .col-md-10.col_padding_right_3
                          %small.pull-left{:style => "margin-right: 3px;"} Аспекты
                          #stripe16.post-theme
                            %a#stripe16.tag-stripes.dark-blue.active{:href => "#"}
                              %span.tags Взаимоотношения четвероногих и пчел
                            %a#stripe26.tag-stripes.blue-green{:href => "#"}
                              %span.tags Четвероногие и сахар
                            %a#stripe36.tag-stripes.blue-green2{:href => "#"}
                              %span.tags Пчелы, четвероногие и зимняя спячка
                            %a#stripe46.tag-stripes.blue-green3{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                            %a#stripe56.tag-stripes.light-green{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                        .col-md-2.col_padding_left_3
                          .text-right.small_icons
                            %span.popup2
                              5
                              %i.fa.fa-comment-o
                            %span.popup2
                              9
                              %i.fa.fa-thumbs-o-up
                            %span.popup2
                              1
                              %i.fa.fa-thumbs-o-down
              .col-md-6
                %a.open-popup-link{:href => "#popup-imperfect-new2"}
                  .post
                    .post-header.white
                    .post-body
                      .media
                        .media-left.text-center.gradient.post-poster
                          %img.img50.img-circle{:src => "img/ava-pyat.jpg"}/
                          %p.poster-name Пятачок
                          %p.poster-name
                          %p.time 21.12.2014
                        .media-body.blue
                          %table.table
                            %tbody
                              %tr.what
                                %td.col-md-2.text-center.right-column
                                  Что
                                %td.col-md-10.left-column.bold
                                  Зимой цветочные поляны
                                  покрыты снегом
                              %tr
                                %td.col-md-2.text-center.right-column Где
                                %td.col-md-10.left-column В сообществе обитателей леса
                              %tr
                                %td.col-md-2.text-center.right-column Когда
                                %td.col-md-10.left-column При переговорах о меде
                              %tr
                                %td.col-md-2.text-center.right-column
                                %td.col-md-10.left-column
                    .contenthover
                      .arrow
                        %i.fa.fa-angle-right
                    .post-bottom.white
                      .row
                        .col-md-10.col_padding_right_3
                          %small.pull-left{:style => "margin-right: 3px;"} Аспекты
                          #stripe17.post-theme
                            %a#stripe17.tag-stripes.dark-blue.active{:href => "#"}
                              %span.tags Взаимоотношения четвероногих и пчел
                            %a#stripe27.tag-stripes.blue-green{:href => "#"}
                              %span.tags Четвероногие и сахар
                            %a#stripe37.tag-stripes.blue-green2{:href => "#"}
                              %span.tags Пчелы, четвероногие и зимняя спячка
                            %a#stripe47.tag-stripes.blue-green3{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                            %a#stripe57.tag-stripes.light-green{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                        .col-md-2.col_padding_left_3
                          .text-right.small_icons
                            %span.popup2
                              5
                              %i.fa.fa-comment-o
                            %span.popup2
                              9
                              %i.fa.fa-thumbs-o-up
                            %span.popup2
                              1
                              %i.fa.fa-thumbs-o-down
              .col-md-6
                %a.open-popup-link{:href => "#popup-imperfect-new3"}
                  .post
                    .post-header.white
                    .post-body
                      .media
                        .media-left.text-center.gradient.post-poster
                          %img.img-circle{:src => "img/ava-rabb.jpg"}/
                          %p.poster-name Кролик
                          %p.time 21.12.2014
                        .media-body.pink
                          %table.table
                            %tbody
                              %tr.what
                                %td.col-md-2.text-center.right-column
                                  Что
                                %td.col-md-10.left-column.bold
                                  Пчелы летают слишком медленно
                              %tr
                                %td.col-md-2.text-center.right-column Где
                                %td.col-md-10.left-column В улье на Высоком дубе
                              %tr
                                %td.col-md-2.text-center.right-column Когда
                                %td.col-md-10.left-column При попытке добыть мед
                              %tr
                                %td.col-md-2.text-center.right-column
                                %td.col-md-10.left-column
                    .contenthover
                      .arrow
                        %i.fa.fa-angle-right
                    .post-bottom.white
                      .row
                        .col-md-10.col_padding_right_3
                          %small.pull-left{:style => "margin-right: 3px;"} Аспекты
                          #stripe18.post-theme
                            %a#stripe18.tag-stripes.dark-blue.active{:href => "#"}
                              %span.tags Взаимоотношения четвероногих и пчел
                            %a#stripe28.tag-stripes.blue-green{:href => "#"}
                              %span.tags Четвероногие и сахар
                            %a#stripe38.tag-stripes.blue-green2{:href => "#"}
                              %span.tags Пчелы, четвероногие и зимняя спячка
                            %a#stripe48.tag-stripes.blue-green3{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                            %a#stripe58.tag-stripes.light-green{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                        .col-md-2.col_padding_left_3
                          .text-right.small_icons
                            %span.popup2
                              5
                              %i.fa.fa-comment-o
                            %span.popup2
                              9
                              %i.fa.fa-thumbs-o-up
                            %span.popup2
                              1
                              %i.fa.fa-thumbs-o-down
              .col-md-6
                %a.open-popup-link{:href => "#popup-imperfect-new4"}
                  .post
                    .post-header.white
                    .post-body
                      .media
                        .media-left.text-center.gradient.post-poster
                          %img.img50.img-circle{:src => "img/ava-pyat.jpg"}/
                          %p.poster-name Пятачок
                          %p.poster-name
                          %p.time 21.12.2014
                        .media-body.blue
                          %table.table
                            %tbody
                              %tr.what
                                %td.col-md-2.text-center.right-column
                                  Что
                                %td.col-md-10.left-column.bold
                                  Винни-Пух не говорит
                                  по-пчелиному
                              %tr
                                %td.col-md-2.text-center.right-column Где
                                %td.col-md-10.left-column В улье на Высоком дубе
                              %tr
                                %td.col-md-2.text-center.right-column Когда
                                %td.col-md-10.left-column При попытке добыть мед
                              %tr
                                %td.col-md-2.text-center.right-column
                                %td.col-md-10.left-column
                    .contenthover
                      .arrow
                        %i.fa.fa-angle-right
                    .post-bottom.white
                      .row
                        .col-md-10.col_padding_right_3
                          %small.pull-left{:style => "margin-right: 3px;"} Аспекты
                          #stripe19.post-theme
                            %a#stripe19.tag-stripes.dark-blue.active{:href => "#"}
                              %span.tags Взаимоотношения четвероногих и пчел
                            %a#stripe29.tag-stripes.blue-green{:href => "#"}
                              %span.tags Четвероногие и сахар
                            %a#stripe39.tag-stripes.blue-green2{:href => "#"}
                              %span.tags Пчелы, четвероногие и зимняя спячка
                            %a#stripe49.tag-stripes.blue-green3{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                            %a#stripe59.tag-stripes.light-green{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                        .col-md-2.col_padding_left_3
                          .text-right.small_icons
                            %span.popup2
                              5
                              %i.fa.fa-comment-o
                            %span.popup2
                              9
                              %i.fa.fa-thumbs-o-up
                            %span.popup2
                              1
                              %i.fa.fa-thumbs-o-down
              .col-md-6
                %a.open-popup-link{:href => "#popup-imperfect-new5"}
                  .post
                    .post-header.white
                    .post-body
                      .media
                        .media-left.text-center.gradient.post-poster
                          %img.img-circle{:src => "img/ava-rabb.jpg"}/
                          %p.poster-name Кролик
                          %p.time 21.12.2014
                        .media-body.pink
                          %table.table
                            %tbody
                              %tr.what
                                %td.col-md-2.text-center.right-column
                                  Что
                                %td.col-md-10.left-column.bold
                                  Рядом с дубом нет цветочных
                                  полян
                              %tr
                                %td.col-md-2.text-center.right-column Где
                                %td.col-md-10.left-column Около Высокого дуба
                              %tr
                                %td.col-md-2.text-center.right-column Когда
                                %td.col-md-10.left-column При сборе нектара
                              %tr
                                %td.col-md-2.text-center.right-column
                                %td.col-md-10.left-column
                    .contenthover
                      .arrow
                        %i.fa.fa-angle-right
                    .post-bottom.white
                      .row
                        .col-md-10.col_padding_right_3
                          %small.pull-left{:style => "margin-right: 3px;"} Аспекты
                          #stripe10.post-theme
                            %a#stripe10.tag-stripes.dark-blue.active{:href => "#"}
                              %span.tags Взаимоотношения четвероногих и пчел
                            %a#stripe20.tag-stripes.blue-green{:href => "#"}
                              %span.tags Четвероногие и сахар
                            %a#stripe30.tag-stripes.blue-green2{:href => "#"}
                              %span.tags Пчелы, четвероногие и зимняя спячка
                            %a#stripe40.tag-stripes.blue-green3{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                            %a#stripe50.tag-stripes.light-green{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                        .col-md-2.col_padding_left_3
                          .text-right.small_icons
                            %span.popup2
                              5
                              %i.fa.fa-comment-o
                            %span.popup2
                              9
                              %i.fa.fa-thumbs-o-up
                            %span.popup2
                              1
                              %i.fa.fa-thumbs-o-down
              .col-md-6
                %a.open-popup-link{:href => "#popup-imperfect-new1"}
                  .post
                    .post-header.white
                    .post-body
                      .media
                        .media-left.text-center.gradient.post-poster
                          %img.img50.img-circle{:src => "img/ava-pyat.jpg"}/
                          %p.poster-name Пятачок
                          %p.poster-name
                          %p.time 21.12.2014
                        .media-body.pink
                          %table.table
                            %tbody
                              %tr.what
                                %td.col-md-2.text-center.right-column
                                  Что
                                %td.col-md-10.left-column.bold
                                  В лесу нет магазина, где
                                  всегда можно купить мед
                              %tr
                                %td.col-md-2.text-center.right-column Где
                                %td.col-md-10.left-column Около Высокого дуба
                              %tr
                                %td.col-md-2.text-center.right-column Когда
                                %td.col-md-10.left-column
                                  При выслеживании удачного момента
                                  для кражи меда
                              %tr
                                %td.col-md-2.text-center.right-column
                                %td.col-md-10.left-column
                    .contenthover
                      .arrow
                        %i.fa.fa-angle-right
                    .post-bottom.white
                      .row
                        .col-md-10.col_padding_right_3
                          %small.pull-left{:style => "margin-right: 3px;"} Аспекты
                          #stripe111.post-theme
                            %a#stripe111.tag-stripes.dark-blue.active{:href => "#"}
                              %span.tags Взаимоотношения четвероногих и пчел
                            %a#stripe211.tag-stripes.blue-green{:href => "#"}
                              %span.tags Четвероногие и сахар
                            %a#stripe311.tag-stripes.blue-green2{:href => "#"}
                              %span.tags Пчелы, четвероногие и зимняя спячка
                            %a#stripe411.tag-stripes.blue-green3{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                            %a#stripe511.tag-stripes.light-green{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                        .col-md-2.col_padding_left_3
                          .text-right.small_icons
                            %span.popup2
                              5
                              %i.fa.fa-comment-o
                            %span.popup2
                              9
                              %i.fa.fa-thumbs-o-up
                            %span.popup2
                              1
                              %i.fa.fa-thumbs-o-down
              .col-md-6
                %a.open-popup-link{:href => "#popup-imperfect-new2"}
                  .post
                    .post-header.white
                    .post-body
                      .media
                        .media-left.text-center.gradient.post-poster
                          %img.img50.img-circle{:src => "img/ava-pyat.jpg"}/
                          %p.poster-name Пятачок
                          %p.poster-name
                          %p.time 21.12.2014
                        .media-body.blue
                          %table.table
                            %tbody
                              %tr.what
                                %td.col-md-2.text-center.right-column
                                  Что
                                %td.col-md-10.left-column.bold
                                  Четвероногие не умеют
                                  вырабатывать мед самостоятельно
                              %tr
                                %td.col-md-2.text-center.right-column Где
                                %td.col-md-10.left-column В сообществе обитателей леса
                              %tr
                                %td.col-md-2.text-center.right-column Когда
                                %td.col-md-10.left-column При переговорах о меде
                              %tr
                                %td.col-md-2.text-center.right-column
                                %td.col-md-10.left-column
                    .contenthover
                      .arrow
                        %i.fa.fa-angle-right
                    .post-bottom.white
                      .row
                        .col-md-10.col_padding_right_3
                          %small.pull-left{:style => "margin-right: 3px;"} Аспекты
                          #stripe112.post-theme
                            %a#stripe112.tag-stripes.dark-blue.active{:href => "#"}
                              %span.tags Взаимоотношения четвероногих и пчел
                            %a#stripe212.tag-stripes.blue-green{:href => "#"}
                              %span.tags Четвероногие и сахар
                            %a#stripe312.tag-stripes.blue-green2{:href => "#"}
                              %span.tags Пчелы, четвероногие и зимняя спячка
                            %a#stripe412.tag-stripes.blue-green3{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                            %a#stripe512.tag-stripes.light-green{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                        .col-md-2.col_padding_left_3
                          .text-right.small_icons
                            %span.popup2
                              5
                              %i.fa.fa-comment-o
                            %span.popup2
                              9
                              %i.fa.fa-thumbs-o-up
                            %span.popup2
                              1
                              %i.fa.fa-thumbs-o-down
              .col-md-6
                %a.open-popup-link{:href => "#popup-imperfect-new3"}
                  .post
                    .post-header.white
                    .post-body
                      .media
                        .media-left.text-center.gradient.post-poster
                          %img.img-circle{:src => "img/ava-rabb.jpg"}/
                          %p.poster-name Кролик
                          %p.time 21.12.2014
                        .media-body.pink
                          %table.table
                            %tbody
                              %tr.what
                                %td.col-md-2.text-center.right-column
                                  Что
                                %td.col-md-10.left-column.bold
                                  У четвероногих и пчел нет
                                  общих интересов
                              %tr
                                %td.col-md-2.text-center.right-column Где
                                %td.col-md-10.left-column В улье на Высоком дубе
                              %tr
                                %td.col-md-2.text-center.right-column Когда
                                %td.col-md-10.left-column При попытке добыть мед
                              %tr
                                %td.col-md-2.text-center.right-column
                                %td.col-md-10.left-column
                    .contenthover
                      .arrow
                        %i.fa.fa-angle-right
                    .post-bottom.white
                      .row
                        .col-md-10.col_padding_right_3
                          %small.pull-left{:style => "margin-right: 3px;"} Аспекты
                          #stripe113.post-theme
                            %a#stripe113.tag-stripes.dark-blue.active{:href => "#"}
                              %span.tags Взаимоотношения четвероногих и пчел
                            %a#stripe213.tag-stripes.blue-green{:href => "#"}
                              %span.tags Четвероногие и сахар
                            %a#stripe313.tag-stripes.blue-green2{:href => "#"}
                              %span.tags Пчелы, четвероногие и зимняя спячка
                            %a#stripe413.tag-stripes.blue-green3{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                            %a#stripe513.tag-stripes.light-green{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                        .col-md-2.col_padding_left_3
                          .text-right.small_icons
                            %span.popup2
                              5
                              %i.fa.fa-comment-o
                            %span.popup2
                              9
                              %i.fa.fa-thumbs-o-up
                            %span.popup2
                              1
                              %i.fa.fa-thumbs-o-down
              .col-md-6
                %a.open-popup-link{:href => "#popup-imperfect-new4"}
                  .post
                    .post-header.white
                    .post-body
                      .media
                        .media-left.text-center.gradient.post-poster
                          %img.img50.img-circle{:src => "img/ava-pyat.jpg"}/
                          %p.poster-name Пятачок
                          %p.poster-name
                          %p.time 21.12.2014
                        .media-body.blue
                          %table.table
                            %tbody
                              %tr.what
                                %td.col-md-2.text-center.right-column
                                  Что
                                %td.col-md-10.left-column.bold
                                  Винни-Пух успел испортить
                                  отношения с пчелами, и пчелы ему не доверяют
                              %tr
                                %td.col-md-2.text-center.right-column Где
                                %td.col-md-10.left-column В улье на Высоком дубе
                              %tr
                                %td.col-md-2.text-center.right-column Когда
                                %td.col-md-10.left-column При попытке добыть мед
                              %tr
                                %td.col-md-2.text-center.right-column
                                %td.col-md-10.left-column
                    .contenthover
                      .arrow
                        %i.fa.fa-angle-right
                    .post-bottom.white
                      .row
                        .col-md-10.col_padding_right_3
                          %small.pull-left{:style => "margin-right: 3px;"} Аспекты
                          #stripe114.post-theme
                            %a#stripe114.tag-stripes.dark-blue.active{:href => "#"}
                              %span.tags Взаимоотношения четвероногих и пчел
                            %a#stripe214.tag-stripes.blue-green{:href => "#"}
                              %span.tags Четвероногие и сахар
                            %a#stripe314.tag-stripes.blue-green2{:href => "#"}
                              %span.tags Пчелы, четвероногие и зимняя спячка
                            %a#stripe414.tag-stripes.blue-green3{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                            %a#stripe515.tag-stripes.light-green{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                        .col-md-2.col_padding_left_3
                          .text-right.small_icons
                            %span.popup2
                              5
                              %i.fa.fa-comment-o
                            %span.popup2
                              9
                              %i.fa.fa-thumbs-o-up
                            %span.popup2
                              1
                              %i.fa.fa-thumbs-o-down
              .col-md-6
                %a.open-popup-link{:href => "#popup-imperfect-new5"}
                  .post
                    .post-header.white
                    .post-body
                      .media
                        .media-left.text-center.gradient.post-poster
                          %img.img-circle{:src => "img/ava-rabb.jpg"}/
                          %p.poster-name Кролик
                          %p.time 21.12.2014
                        .media-body.pink
                          %table.table
                            %tbody
                              %tr.what
                                %td.col-md-2.text-center.right-column
                                  Что
                                %td.col-md-10.left-column.bold
                                  Пчелы производят слишком мало
                                  меда
                              %tr
                                %td.col-md-2.text-center.right-column Где
                                %td.col-md-10.left-column Около Высокого дуба
                              %tr
                                %td.col-md-2.text-center.right-column Когда
                                %td.col-md-10.left-column При сборе нектара
                              %tr
                                %td.col-md-2.text-center.right-column
                                %td.col-md-10.left-column
                    .contenthover
                      .arrow
                        %i.fa.fa-angle-right
                    .post-bottom.white
                      .row
                        .col-md-10.col_padding_right_3
                          %small.pull-left{:style => "margin-right: 3px;"} Аспекты
                          #stripe116.post-theme
                            %a#stripe116.tag-stripes.dark-blue.active{:href => "#"}
                              %span.tags Взаимоотношения четвероногих и пчел
                            %a#stripe216.tag-stripes.blue-green{:href => "#"}
                              %span.tags Четвероногие и сахар
                            %a#stripe316.tag-stripes.blue-green2{:href => "#"}
                              %span.tags Пчелы, четвероногие и зимняя спячка
                            %a#stripe416.tag-stripes.blue-green3{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                            %a#stripe516.tag-stripes.light-green{:href => "#"}
                              %span.tags Эффективность пчел в сборе меда
                        .col-md-2.col_padding_left_3
                          .text-right.small_icons
                            %span.popup2
                              5
                              %i.fa.fa-comment-o
                            %span.popup2
                              9
                              %i.fa.fa-thumbs-o-up
                            %span.popup2
                              1
                              %i.fa.fa-thumbs-o-down
      / Main Block ends
      #popup-imperfect-1.modal.fade
        .modal-dialog.popup-w985
          .modal-content
            .modal-header
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
              %h4#myModalLabel.modal-title
                Несовершенство "Винни-Пух постоянно раздражает
                пчел своим излишним вниманием к Высокому дубу"
            .modal-body
              .media.comment.main_line
                .container
                  .media-left
                    %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                  .media-body
                    %h5.media-heading.bold Винни-Пух
              .divider25
              .container
                .col-md-5
                  .border_light_grey.rounded_5.imperf_left
                    %table.table.pink
                      %tr
                        %td.col-md-2.text-center.right-column
                          Что
                        %td.col-md-10.left-column
                          Винни-Пух постоянно
                          раздражает пчел своим излишним вниманием к Высокому дубу
                      %tr
                        %td.col-md-2.text-center.right-column Где
                        %td.col-md-10.left-column Около Высокого дуба
                      %tr
                        %td.col-md-2.text-center.right-column Когда
                        %td.col-md-10.left-column
                          При выслеживании удачного момента
                          для кражи меда
                    .divider10
                    .text-right
                      %span.popup2
                        5
                        %i.fa.fa-comment-o
                      %span.popup2
                        9
                        %i.fa.fa-thumbs-o-up
                      %span.popup2
                        1
                        %i.fa.fa-thumbs-o-down
                    .divider10
                    .index_block
                      .text-center.col-md-1
                        %i.fa.fa-exclamation-triangle.font_lighter_grey
                      .col-md-11
                        %h5 Замечание модератора
                        мотивированы продавать продукцию Инвар, фиксируя на ней
                        свой процент от продажи
                    .index_block
                      .text-center.col-md-1
                        %i.fa.fa-square.font_dark_blue
                      .col-md-11
                        Взаимоотношения четвероногих и пчел
                    .index_block
                      .text-center.col-md-1
                        %i.fa.fa-square.font_blue_green
                      .col-md-11
                        Эффективность пчел в сборе меда
                    .index_block
                      .text-center.col-md-1
                        %i.fa.fa-square.font_blue_green2
                      .col-md-11
                        Винни-Пух и все-все-все
                    .index_block
                      .text-center.col-md-1
                        %i.fa.fa-square.font_blue_green3
                      .col-md-11
                        Пчелы и цветочные поляны
                    .index_block
                      .text-center.col-md-1
                        %i.fa.fa-square.font_light_green
                      .col-md-11
                        Эффективность пчел в сборе меда
                    .divider10
                .col-md-7
                  .container
                    .row
                      .col-md-12.font_red.text-right.no_padding_col
                        21.12.2014
                  .divider_1_grey
                  .media.comment
                    .media-left
                      %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                    .media-body
                      %h5.media-heading.bold Винни-Пух
                      %span.date.font_red.bold 15:28
                    %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                    .post-interfaces
                      .post-interfaces-buttons
                        %button{:type => "button"}
                          %img{:src => "img/icon-thumb-up.png"}/
                        %button{:type => "button"}
                          %img{:src => "img/icon-thumb-down.png"}/
                        %button{:type => "button"}
                          %img{:src => "img/icon-share.png"}/
                      %form.form-group.comment_add{:style => "position: relative;"}
                        .input_cont
                          %input{:placeholder => "Ваш комментарий", :type => "text"}/
                        %button.btn{:type => "button"}
                          %img{:src => "img/comment-button.png"}/
                  .divider_1_grey
                  .media.comment
                    .media-left
                      %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                    .media-body
                      %h5.media-heading.bold Винни-Пух
                      %span.date.font_red.bold 15:28
                    %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  .divider_1_grey
                  .media.comment
                    .media-left
                      %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                    .media-body
                      %h5.media-heading.bold Винни-Пух
                      %span.date.font_red.bold 15:28
                    %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
                  .divider_1_grey
                  .media.comment
                    .media-left
                      %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                    .media-body
                      %h5.media-heading.bold Винни-Пух
                      %span.date.font_red.bold 15:28
                    %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
              .divider25
      #popup-imperfect-new1.popup-window.popup-imperfect-new.popup-w985.mfp-hide
        .popup.popup-imperfect-pink.popup-top-rounded.popup-bottom-rounded
          %h2 Несовершенство "Винни-Пух постоянно раздражает пчел своим излишним вниманием к Высокому дубу"
          .popup-imperfect-main-block
            .imperfect-info.rounded-3
              .poster-line
                %img.img50.img-circle{:src => "img/ava-pyat.jpg"}/
                %span.poster-name Пятачок
              %table
                %tr
                  %td.imperf-left-column
                    Что
                  %td.imperf-right-column
                    Винни-Пух постоянно раздражает пчел своим излишним вниманием к Высокому дубу
                %tr
                  %td.imperf-left-column
                    Где
                  %td.imperf-right-column
                    Около Высокого дуба
                %tr
                  %td.imperf-left-column
                    Когда
                  %td.imperf-right-column
                    При выслеживании удачного момента для кражи меда
              .info-stripe
                %span.popup-comments
                  +5
                  %img{:src => "img/icon-comment.png"}/
                %span.popup-likes
                  +9
                  %img{:src => "img/icon-thumb-up.png"}/
                %span.popup-dislikes
                  +1
                  %img{:src => "img/icon-thumb-down.png"}/
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %img.icon-text-icon{:src => "img/moder-icon.png"}/
                %p.icon-text-text
                  %span.icon-text-text-heading Замечание модератора
                  мотивированы продавать продукцию, фиксируя на ней свой процент от продажи
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.dark-blue
                %p.icon-text-text
                  Взаимоотношения четвероногих и пчел
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.sandy
                %p.icon-text-text
                  Эффективность пчел в сборе меда
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.blue-green2
                %p.icon-text-text
                  Винни-Пух и все-все-все
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.blue-green3
                %p.icon-text-text
                  Четвероногие и сахар
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.light-green
                %p.icon-text-text
                  Пчелы и цветочные поляны
            .imperfect-text-comments
              %span.imperfect-text-date 17.12.2014
              .imperfect-text-comments-post-block
                .post-interfaces
                  .post-interfaces-buttons
                    %button{:type => "button"}
                      %img{:src => "img/icon-thumb-up.png"}/
                    %button{:type => "button"}
                      %img{:src => "img/icon-thumb-down.png"}/
                    %button{:type => "button"}
                      %img{:src => "img/icon-share.png"}/
                  %form.post-interfaces-add-comment
                    %input{:placeholder => "Ваш комментарий", :type => "text"}/
                    %button.btn{:type => "button"}
                      %img{:src => "img/comment-button.png"}/
              .media.comment
                .media-left
                  %img.media-object.img50.img-circle{:src => "img/ava-vinnie.jpg"}/
                .media-body
                  %h5.media-heading.bold Винни-Пух
                  %span.date.font_red.bold 15:28
                %p.font_grey.bold Ничего не правда. Я люблю гулять, а от вашего дуба тень большая.
              .media.comment
                .media-left
                  %img.media-object.img50.img-circle{:src => "img/ava-ia.jpg"}/
                .media-body
                  %h5.media-heading.bold Ослик
                  %span.date.font_red.bold 16:30
                %p.font_grey.bold
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                  dolor. Aenean massa. Cum sociis natoque penatibus et
      #popup-imperfect-new2.popup-window.popup-imperfect-new.popup-w985.mfp-hide
        .popup.popup-imperfect-blue.popup-top-rounded.popup-bottom-rounded
          %h2 Несовершенство "Четвероногим нечем заинтересовать пчел"
          .popup-imperfect-main-block
            .imperfect-info.rounded-3
              .poster-line
                %img.img50.img-circle{:src => "img/ava-pyat.jpg"}/
                %span.poster-name Пятачок
              %table
                %tr
                  %td.imperf-left-column
                    Что
                  %td.imperf-right-column
                    Четвероногим нечем заинтересовать пчел
                %tr
                  %td.imperf-left-column
                    Где
                  %td.imperf-right-column
                    В компании Винни-Пуха
                %tr
                  %td.imperf-left-column
                    Когда
                  %td.imperf-right-column
                    При необходимости выменять на что-то мед
              .info-stripe
                %span.popup-comments
                  +5
                  %img{:src => "img/icon-comment.png"}/
                %span.popup-likes
                  +9
                  %img{:src => "img/icon-thumb-up.png"}/
                %span.popup-dislikes
                  +1
                  %img{:src => "img/icon-thumb-down.png"}/
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %img.icon-text-icon{:src => "img/moder-icon.png"}/
                %p.icon-text-text
                  %span.icon-text-text-heading Замечание модератора
                  мотивированы продавать продукцию, фиксируя на ней свой процент от продажи
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.dark-blue
                %p.icon-text-text
                  Взаимоотношения четвероногих и пчел
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.sandy
                %p.icon-text-text
                  Эффективность пчел в сборе меда
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.blue-green2
                %p.icon-text-text
                  Винни-Пух и все-все-все
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.blue-green3
                %p.icon-text-text
                  Четвероногие и сахар
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.light-green
                %p.icon-text-text
                  Пчелы и цветочные поляны
            .imperfect-text-comments
              %span.imperfect-text-date 17.12.2014
              .imperfect-text-comments-post-block
                .post-interfaces
                  .post-interfaces-buttons
                    %button{:type => "button"}
                      %img{:src => "img/icon-thumb-up.png"}/
                    %button{:type => "button"}
                      %img{:src => "img/icon-thumb-down.png"}/
                    %button{:type => "button"}
                      %img{:src => "img/icon-share.png"}/
                  %form.post-interfaces-add-comment
                    %input{:placeholder => "Ваш комментарий", :type => "text"}/
                    %button.btn{:type => "button"}
                      %img{:src => "img/comment-button.png"}/
                .imperfect-text-comments-post-block
                  .poster-line
                    %img.img-circle{:src => "img/ava-rabb.jpg"}/
                    %span.poster-name Кролик
                    %span.comment-time 13:01
                  %p
                    Следующий поезд уходит в семь часов; чтобы поспеть на него, он должен отчаянно
                    торопиться, а набор образцов еще не упакован, да и сам он отнюдь не чувствует себя
                    свежим и легким на подъем.
                .imperfect-text-comments-post-block
                  .poster-line
                    %img.img-circle{:src => "img/ava-rabb.jpg"}/
                    %span.poster-name Кролик
                    %span.comment-time 17:01
                  %p
                    Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя
                    в постели превратился в страшное насекомое. Лежа
                .imperfect-text-comments-post-block
                  .poster-line
                    %img.img-circle{:src => "img/ava-ia.jpg"}/
                    %span.poster-name Ослик
                    %span.comment-time 18:45
                  %p
                    С какой бы силой ни поворачивался он на правый бок, он неизменно сваливался опять на
                    спину.
                .imperfect-text-comments-post-block
                  .poster-line
                    %img.img-circle{:src => "img/ava-vinnie.jpg"}/
                    %span.poster-name Винни-Пух
                    %span.comment-time 19:28
                  %p
                    Он бы так и свалился с конторки! Странная у него манера – садиться на конторку и с ее
                    высоты разговаривать со служащим, который вдобавок вынужден подойти вплотную к конторке
                    из-за того, что хозяин туг на ухо.
      #popup-imperfect-new3.popup-window.popup-imperfect-new.popup-w985.mfp-hide
        .popup.popup-imperfect-pink.popup-top-rounded.popup-bottom-rounded
          %h2 Несовершенство "Взаимное недоверие четвероногих и пчел"
          .popup-imperfect-main-block
            .imperfect-info.rounded-3
              .poster-line
                %img.img-circle.img50{:src => "img/ava-pyat.jpg"}/
                %span.poster-name Пятачок
              %table
                %tr
                  %td.imperf-left-column
                    Что
                  %td.imperf-right-column
                    Взаимное недоверие четвероногих и пчел
                %tr
                  %td.imperf-left-column
                    Где
                  %td.imperf-right-column
                    В сообществе обитателей леса
                %tr
                  %td.imperf-left-column
                    Когда
                  %td.imperf-right-column
                    При переговорах о меде
              .info-stripe
                %span.popup-comments
                  +5
                  %img{:src => "img/icon-comment.png"}/
                %span.popup-likes
                  +9
                  %img{:src => "img/icon-thumb-up.png"}/
                %span.popup-dislikes
                  +1
                  %img{:src => "img/icon-thumb-down.png"}/
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %img.icon-text-icon{:src => "img/moder-icon.png"}/
                %p.icon-text-text
                  %span.icon-text-text-heading Замечание модератора
                  мотивированы продавать продукцию, фиксируя на ней свой процент от продажи
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.dark-blue
                %p.icon-text-text
                  Взаимоотношения четвероногих и пчел
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.sandy
                %p.icon-text-text
                  Эффективность пчел в сборе меда
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.blue-green2
                %p.icon-text-text
                  Винни-Пух и все-все-все
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.blue-green3
                %p.icon-text-text
                  Четвероногие и сахар
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.light-green
                %p.icon-text-text
                  Пчелы и цветочные поляны
            .imperfect-text-comments
              %span.imperfect-text-date 17.12.2014
              .imperfect-text-comments-post-block
                .post-interfaces
                  .post-interfaces-buttons
                    %button{:type => "button"}
                      %img{:src => "img/icon-thumb-up.png"}/
                    %button{:type => "button"}
                      %img{:src => "img/icon-thumb-down.png"}/
                    %button{:type => "button"}
                      %img{:src => "img/icon-share.png"}/
                  %form.post-interfaces-add-comment
                    %input{:placeholder => "Ваш комментарий", :type => "text"}/
                    %button.btn{:type => "button"}
                      %img{:src => "img/comment-button.png"}/
                .imperfect-text-comments-post-block
                  .poster-line
                    %img.img-circle{:src => "img/ava-vinnie.jpg"}/
                    %span.poster-name Винни-Пух
                    %span.comment-time 06:07
                  %p
                    Он почувствовал вверху живота легкий зуд; медленно подвинулся на спине к прутьям
                    кровати, чтобы удобнее было поднять голову
                .imperfect-text-comments-post-block
                  .poster-line
                    %img.img-circle{:src => "img/ava-rabb.jpg"}/
                    %span.poster-name Кролик
                    %span.comment-time 13:06
                  %p
                    На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и
                    протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука.
                .imperfect-text-comments-post-block
                  .poster-line
                    %img.img-circle{:src => "img/ava-pyat.jpg"}/
                    %span.poster-name Пятачок
                    %span.comment-time 18:12
                  %p
                    С какой бы силой ни поворачивался он на правый бок, он неизменно сваливался опять на
                    спину.
                .imperfect-text-comments-post-block
                  .poster-line
                    %img.img-circle{:src => "img/ava-vinnie.jpg"}/
                    %span.poster-name Винни-Пух
                    %span.comment-time 19:28
                  %p
                    Он бы так и свалился с конторки! Странная у него манера – садиться на конторку и с ее
                    высоты разговаривать со служащим, который вдобавок вынужден подойти вплотную к конторке
                    из-за того, что хозяин туг на ухо.
      #popup-imperfect-new4.popup-window.popup-imperfect-new.popup-w985.mfp-hide
        .popup.popup-imperfect-blue.popup-top-rounded.popup-bottom-rounded
          %h2 Несовершенство "Четвероногие не очень боятся атаковать пчел"
          .popup-imperfect-main-block
            .imperfect-info.rounded-3
              .poster-line
                %img.img-circle.img50{:src => "img/ava-pyat.jpg"}/
                %span.poster-name Пятачок
              %table
                %tr
                  %td.imperf-left-column
                    Что
                  %td.imperf-right-column
                    Четвероногие не очень боятся атаковать пчел
                %tr
                  %td.imperf-left-column
                    Где
                  %td.imperf-right-column
                    В улье на Высоком дубе
                %tr
                  %td.imperf-left-column
                    Когда
                  %td.imperf-right-column
                    При попытке добыть мед
              .info-stripe
                %span.popup-comments
                  +5
                  %img{:src => "img/icon-comment.png"}/
                %span.popup-likes
                  +9
                  %img{:src => "img/icon-thumb-up.png"}/
                %span.popup-dislikes
                  +1
                  %img{:src => "img/icon-thumb-down.png"}/
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %img.icon-text-icon{:src => "img/moder-icon.png"}/
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.dark-blue
                %p.icon-text-text
                  Взаимоотношения четвероногих и пчел
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.sandy
                %p.icon-text-text
                  Эффективность пчел в сборе меда
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.blue-green2
                %p.icon-text-text
                  Винни-Пух и все-все-все
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.blue-green3
                %p.icon-text-text
                  Четвероногие и сахар
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.light-green
                %p.icon-text-text
                  Пчелы и цветочные поляны
            .imperfect-text-comments
              %span.imperfect-text-date 17.12.2014
              .imperfect-text-comments-post-block
                .post-interfaces
                  .post-interfaces-buttons
                    %button{:type => "button"}
                      %img{:src => "img/icon-thumb-up.png"}/
                    %button{:type => "button"}
                      %img{:src => "img/icon-thumb-down.png"}/
                    %button{:type => "button"}
                      %img{:src => "img/icon-share.png"}/
                  %form.post-interfaces-add-comment
                    %input{:placeholder => "Ваш комментарий", :type => "text"}/
                    %button.btn{:type => "button"}
                      %img{:src => "img/comment-button.png"}/
              .imperfect-text-comments-post-block
                .poster-line
                  %img.img-circle{:src => "img/ava-rabb.jpg"}/
                  %span.poster-name Кролик
                  %span.comment-time 12:22
                %p
                  На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала
                  зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука.
              .imperfect-text-comments-post-block
                .poster-line
                  %img.img-circle{:src => "img/ava-pyat.jpg"}/
                  %span.poster-name Пятачок
                  %span.comment-time 14:25
                %p
                  С какой бы силой ни поворачивался он на правый бок, он неизменно сваливался опять на спину.
              .imperfect-text-comments-post-block
                .poster-line
                  %img.img-circle{:src => "img/ava-ia.jpg"}/
                  %span.poster-name Ослик
                  %span.comment-time 15:16
                %p
                  Он почувствовал вверху живота легкий зуд; медленно подвинулся на спине к прутьям кровати,
                  чтобы удобнее было поднять голову
              .imperfect-text-comments-post-block
                .poster-line
                  %img.img-circle{:src => "img/ava-vinnie.jpg"}/
                  %span.poster-name Винни-Пух
                  %span.comment-time 19:28
                %p
                  Он бы так и свалился с конторки! Странная у него манера – садиться на конторку и с ее высоты
                  разговаривать со служащим, который вдобавок вынужден подойти вплотную к конторке из-за того,
                  что хозяин туг на ухо.
              .imperfect-text-comments-post-block
                .poster-line
                  %img.img-circle{:src => "img/ava-vinnie.jpg"}/
                  %span.poster-name Винни-Пух
                  %span.comment-time 23:18
                %p
                  Он почувствовал вверху живота легкий зуд; медленно подвинулся на спине к прутьям кровати,
                  чтобы удобнее было поднять голову
      #popup-imperfect-new5.popup-window.popup-imperfect-new.popup-w985.mfp-hide
        .popup.popup-imperfect-pink.popup-top-rounded.popup-bottom-rounded
          %h2 Несовершенство "Вблизи от улья мало источников нектара для пчёл"
          .popup-imperfect-main-block
            .imperfect-info.rounded-3
              .poster-line
                %img.img-circle{:src => "img/ava-rabb.jpg"}/
                %span.poster-name Кролик
              %table
                %tr
                  %td.imperf-left-column
                    Что
                  %td.imperf-right-column
                    Вблизи от улья мало источников нектара для пчёл
                %tr
                  %td.imperf-left-column
                    Где
                  %td.imperf-right-column
                    Около Высокого дуба
                %tr
                  %td.imperf-left-column
                    Когда
                  %td.imperf-right-column
                    При сборе нектара
              .info-stripe
                %span.popup-comments
                  +5
                  %img{:src => "img/icon-comment.png"}/
                %span.popup-likes
                  +9
                  %img{:src => "img/icon-thumb-up.png"}/
                %span.popup-dislikes
                  +1
                  %img{:src => "img/icon-thumb-down.png"}/
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %img.icon-text-icon{:src => "img/moder-icon.png"}/
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.sandy
                %p.icon-text-text
                  Мед и пчелы
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.dark-blue
                %p.icon-text-text
                  Взаимоотношения четвероногих и пчел
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.dark-blue2
                %p.icon-text-text
                  Эффективность пчел в сборе меда
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.blue-green2
                %p.icon-text-text
                  Винни-Пух и все-все-все
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.blue-green3
                %p.icon-text-text
                  Четвероногие и сахар
              .imperfect-info-icon-text-block
                %span.icon-text-icon-cont
                  %span.icon-text-icon.colored-icon.light-green
                %p.icon-text-text
                  Пчелы и цветочные поляны
            .imperfect-text-comments
              %span.imperfect-text-date 17.12.2014
              .imperfect-text-comments-post-block
                .post-interfaces
                  .post-interfaces-buttons
                    %button{:type => "button"}
                      %img{:src => "img/icon-thumb-up.png"}/
                    %button{:type => "button"}
                      %img{:src => "img/icon-thumb-down.png"}/
                    %button{:type => "button"}
                      %img{:src => "img/icon-share.png"}/
                  %form.post-interfaces-add-comment
                    %input{:placeholder => "Ваш комментарий", :type => "text"}/
                    %button.btn{:type => "button"}
                      %img{:src => "img/comment-button.png"}/
                .imperfect-text-comments-post-block
                  .poster-line
                    %img.img-circle{:src => "img/ava-rabb.jpg"}/
                    %span.poster-name Кролик
                    %span.comment-time 12:22
                  %p
                    На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и
                    протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука.
                .imperfect-text-comments-post-block
                  .poster-line
                    %img.img-circle{:src => "img/ava-pyat.jpg"}/
                    %span.poster-name Пятачок
                    %span.comment-time 14:25
                  %p
                    С какой бы силой ни поворачивался он на правый бок, он неизменно сваливался опять на
                    спину.
                .imperfect-text-comments-post-block
                  .poster-line
                    %img.img-circle{:src => "img/ava-ia.jpg"}/
                    %span.poster-name Ослик
                    %span.comment-time 15:16
                  %p
                    Он почувствовал вверху живота легкий зуд; медленно подвинулся на спине к прутьям
                    кровати, чтобы удобнее было поднять голову
                .imperfect-text-comments-post-block
                  .poster-line
                    %img.img-circle{:src => "img/ava-vinnie.jpg"}/
                    %span.poster-name Винни-Пух
                    %span.comment-time 19:28
                  %p
                    Он бы так и свалился с конторки! Странная у него манера – садиться на конторку и с ее
                    высоты разговаривать со служащим, который вдобавок вынужден подойти вплотную к конторке
                    из-за того, что хозяин туг на ухо.
                .imperfect-text-comments-post-block
                  .poster-line
                    %img.img-circle{:src => "img/ava-vinnie.jpg"}/
                    %span.poster-name Винни-Пух
                    %span.comment-time 23:18
                  %p
                    Он почувствовал вверху живота легкий зуд; медленно подвинулся на спине к прутьям
                    кровати, чтобы удобнее было поднять голову
      #modal1.modal.welcome_window.fade
        .modal-dialog
          .modal-content
            .modal-body.text-center
              %p.text-center.bold.font_grey На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний, и принять участие в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами. В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для исправления текущей ситуации.
              %br/
              %br/
              %button.btn.btn-danger{"aria-hidden" => "true", "data-dismiss" => "modal"} Закрыть окно
    / Outer Ends
    / Javascript files
    / jQuery
    %script{:src => "js/jquery.js"}
    / Bootstrap JS
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/dropdowns-enhancement.js"}
    / Magnific Popup
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / Owl carousel
    %script{:src => "js/owl.carousel.min.js"}
    / Respond JS for IE8
    %script{:src => "js/respond.min.js"}
    / HTML5 Support for IE
    %script{:src => "js/html5shiv.js"}
    / Content hover JS
    %script{:src => "js/jquery.contenthover.min.js"}
    / Javascript for this page
    / Excanvas JS for Knob Support in IE 8
    %script{:src => "js/waypoints.min.js"}
    %script{:src => "js/excanvas.js"}
    / jQuery Knob
    %script{:src => "js/jquery.knob.js"}
    / Custom JS. Type your JS code in custom.js file
    %script{:src => "js/custom.js"}
