@for $i from 1 through length($base_colors) {
  .stage_#{$i} {
    .btn {
      background: nth($base_colors, $i);
      &.arrow_left, &.arrow_left:after {
        border-right-color: nth($base_colors, $i);
      }
    }
  }
}

.btn{
  color: white;
  cursor: pointer;
  &.btn-white, &.btn-white:focus, &.btn-white.active {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: none;
    color:#5f5b5b;

    &:hover {
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
    }
  }
  &:hover {
    opacity: 0.8;
  }
  &.btn-danger  {
    background: #e61928;
    &.arrow_right, &.arrow_right:after {
      border-left-color: #e61928;;
    }
  }

  &.btn-round {
    border-radius: 50%;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 6px;
  }
  &.arrow_left {
    left: 20px;
    -webkit-border-top-left-radius: 0 !important;
    -webkit-border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    position:relative;
    &:after, &:before {
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      border-width: 17px;
      margin-top: -17px;
    }
    &:active {
      box-shadow: none;
    }
    &:hover,&:focus,&:active{
      opacity:0.8;
    }
  }
  &.arrow_right {
    right: 20px;
    -webkit-border-top-right-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    position:relative;
    &:after, &:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      border-width: 17px;
      margin-top: -17px;
    }
    &:active {
      box-shadow: none;
    }
    &:hover,&:focus,&:active{
      opacity:0.8;
    }
  }

}

.left > .exp_button, .right > .exp_button {
  top: 5px;
  position: absolute;
}

.left > .exp_button {
  right: 3px;
}

.right > .exp_button {
  left: 5px;
}

.btn_reset {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.btn_reset:focus {
  outline: none;
  border-color: transparent;
}

.q_pop_block .form-group .btn {
  min-width: 38px;
  text-align: center;
}

.rate_buttons {
  padding: 25px 0;
}

.rate_buttons .btn {
  width: 20px;
  height: 20px;
  font-size: 11px;
  border-radius: 50px;
}

.rate_buttons.color_1 .btn {
  background: #88c6c1;
}

.rate_buttons.color_2 .btn {
  background: #81c3cf;
}

.rate_buttons .progress {
  margin: 0 auto;
  width: 215px;
}

.rate_buttons .progress-bar {
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}

.rate_buttons.color_1 .progress-bar {
  background: #88c6c1;
}

.rate_buttons.color_2 .progress-bar {
  background: #81c3cf;
}

.btn_cab_mod {
  margin: 0 5px;
  padding: 0 12px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 28px;
}

.btn_cab_mod.type2 {
  margin: 0px;
  margin-right: 10px;
  padding: 0 22px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 28px;
}

.btn_cab_mod.active {
  cursor: default;
}

.content_window .add-button {
  margin-bottom: 28px;
}

.add-button.del {
  background: #787880;
}


.add-button {
  color: #fff;
  padding: 0 10px 3px;
  line-height: 26px;
  margin-left: 15px;
  border: 0;
}

.add-button.type2 {
  padding: 0 20px 1px;
  font-size: 13px;
}

.add-button.type3 {
  width: 100%;
  padding: 11px 12px;
  line-height: 20px;
  margin-left: 0;
  font-size: 13px;
  white-space: normal;
}

.add-button.type4 {
  width: 100%;
  margin-left: 0;
  font-size: 13px;
  text-align: right;
  white-space: normal;
  line-height: 1.2;
  padding: 8px;
}

.add-button:hover, .add-button:focus {
  color: #fff;
}

p .add-button {
  margin-left: 0;
  padding: 0 17px 3px;
  line-height: 30px;
}

p .add-button + .add-button {
  margin-left: 21px;
}

.add-button span {
  margin-right: 9px;
  font-size: 16px;
}

.aspect-questions-block .hint .close-button, .aspect-questions-block .wrong-answer .close-button {
  position: absolute;
  font-size: 30px;
  top: -29px;
  right: -23px;
  cursor: pointer;
  opacity: 0.8;
}

.aspect-questions-block .notice .close-button:hover {
  opacity: 1;
}

.instruments-block .form-group.bottom-buttons {
  margin: 7px 0;
}

.instruments-block .bottom-buttons .notice-button {
  color: #9f9f9f;
}

.instruments-block .bottom-buttons .answer-button {
  color: #fff;
}

.instruments-block .form-group.bottom-buttons .btn + .btn {
  margin-left: 8px;
}

.instruments-block button {
  white-space: normal;
  text-align: left;
}

.post-interfaces-buttons {
  margin-top: 10px;
  text-align: right;
}

.post-interfaces-buttons.text-left {
  text-align: left;
}

.post-interfaces-buttons button {
  background: none;
  border: 0;
  padding: 0;
  margin: 0 3px;
}

.post-interfaces-buttons button img {
  display: block;
}

.post-interfaces-buttons .reply_btn:not(.collapsed) i {
  color: #c1c1c1;
}

.post-win button {
  margin-top: 30px;
}
