@for $i from 1 through length($base_colors) {
  .stage_#{$i} {
    .btn {
      background: nth($base_colors, $i);
      &.arrow_left, &.arrow_left:after {
        border-right-color: nth($base_colors, $i);
      }
    }
  }
}

.btn {
  color: white;
  cursor: pointer;
  &.btn-white, &.btn-white:focus, &.btn-white.active {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: none;
    color: #5f5b5b;

    &:hover {
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
    }
  }
  &:hover {
    opacity: 0.8;
  }
  &.btn-danger {
    background: #e61928;
    &.arrow_right, &.arrow_right:after {
      border-left-color: #e61928;;
    }
  }

  &.btn-round {
    border-radius: 50%;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 6px;
  }
  &.btn-oval {
    padding: 0 22px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 28px;
  }
  &.arrow_left {
    left: 20px;
    -webkit-border-top-left-radius: 0 !important;
    -webkit-border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    position: relative;
    &:after, &:before {
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      border-width: 17px;
      margin-top: -17px;
    }
    &:active {
      box-shadow: none;
    }
    &:hover, &:focus, &:active {
      opacity: 0.8;
    }
  }
  &.arrow_right {
    right: 20px;
    -webkit-border-top-right-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    position: relative;
    &:after, &:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      border-width: 17px;
      margin-top: -17px;
    }
    &:active {
      box-shadow: none;
    }
    &:hover, &:focus, &:active {
      opacity: 0.8;
    }
  }

}

.left > .exp_button, .right > .exp_button {
  top: 5px;
  position: absolute;
}

.left > .exp_button {
  right: 3px;
}

.right > .exp_button {
  left: 5px;
}

.btn_reset {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.btn_reset:focus {
  outline: none;
  border-color: transparent;
}

.q_pop_block .form-group .btn {
  min-width: 38px;
  text-align: center;
}

.rate_buttons {
  padding: 25px 0;
}

.rate_buttons .btn {
  width: 20px;
  height: 20px;
  font-size: 11px;
  border-radius: 50px;
}

.rate_buttons.color_1 .btn {
  background: #88c6c1;
}

.rate_buttons.color_2 .btn {
  background: #81c3cf;
}

.rate_buttons .progress {
  margin: 0 auto;
  width: 215px;
}

.rate_buttons .progress-bar {
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}

.rate_buttons.color_1 .progress-bar {
  background: #88c6c1;
}

.rate_buttons.color_2 .progress-bar {
  background: #81c3cf;
}

.btn_cab_mod {
  margin: 0 5px;
  padding: 0 12px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 28px;
}

.btn_cab_mod.type2 {
  margin: 0px;
  margin-right: 10px;
  padding: 0 22px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 28px;
}

.btn_cab_mod.active {
  cursor: default;
}

.add-button.del {
  background: #787880;
}

.add-button {
  color: #fff;
  padding: 0 10px 3px;
  line-height: 26px;
  margin-left: 15px;
  border: 0;
}

.add-button.type2 {
  padding: 0 20px 1px;
  font-size: 13px;
}

.add-button:hover, .add-button:focus {
  color: #fff;
}

p .add-button {
  margin-left: 0;
  padding: 0 17px 3px;
  line-height: 30px;
}

p .add-button + .add-button {
  margin-left: 21px;
}

.add-button span {
  margin-right: 9px;
  font-size: 16px;
}

.post-win button {
  margin-top: 30px;
}

///Sort buttons///

.sort_btn {
  background-image: image-url('i-sort.png');
  background-repeat: no-repeat;
  display: block;
  position: relative;
  float: left;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  &.sort-comment, &.sort-date {
    width: 32px;
    height: 31px;
  }
  &.active, &:hover {
    opacity: 0.8;
  }
  .badge-red {
    padding-top: 2px;
    border-radius: 50%;
    text-align: center;
    background: #e71d2b;
    color: white;
    position: absolute;
    top: -10px;
    left: -8px;
    width: 20px;
    height: 20px;
  }
}

@for $i from 1 through length($base_colors) {
  .stage_#{$i} {
    .sort-comment {
      background-position: ($i*(-42px)-5px) -5px;
    }
    .sort-date {
      @if $i==1 {
        background-position: -5px -5px;
      } @else {
        background-position: (($i*(-42px)-5px))-210px -5px;
      }
    }
  }
}
