.ps_cont {
  position: relative;
  height: 100%;
}

.ps-scrollbar-y-rail {
  margin: 15px 0;
}

.post_cont_hover .ps-scrollbar-y-rail {
  margin: 0px 0 5px;
}

.radial-gradient > .ps-container > .ps-scrollbar-y-rail {
  margin-right: 20px;
  margin-top: 50px;
}

.ps-container > .ps-scrollbar-y-rail, .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  width: 6px;
}
