/* tooltips */
.tooltip{
  &.top .tooltip-arrow {
    bottom: -5px;
  }

  &.bottom .tooltip-arrow {
    top: -5px;
    @include transform (rotate(180deg));
  }

  &.right .tooltip-arrow {
    left: -5px;
    @include transform (rotate(90deg));
  }

  &.left .tooltip-arrow {
    right: -5px;
    @include transform (rotate(270deg));
  }
  .tooltip-inner {
    max-width: none;
    padding: 10px 12px;
    background: #fcf8db;
    color: #000;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.4);
    font-size: 11px;
    text-align: left;
    white-space: normal;
  }

  .tooltip-arrow {
    border: none !important;
    width: 13px;
    height: 10px;
    background: image-url('arrows.png') no-repeat;
    background-position: 0 -229px;
  }
}

.help_icon + .tooltip {
  left: -100px !important;
  > .tooltip-inner {
    width: 187px !important;
  }
  > .tooltip-arrow {
    left: 67%;
  }
}
