%html
  %head
    %link{:href => "lib/CodeMirror/codemirror.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "build/css/executr.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js", :type => "text/javascript"}
    %script{:src => "lib/CodeMirror/codemirror.js", :type => "text/javascript"}
    %script{:src => "lib/CodeMirror/mode/coffeescript/coffeescript.js", :type => "text/javascript"}
    %script{:src => "lib/CodeMirror/mode/javascript/javascript.js", :type => "text/javascript"}
    %script{:src => "lib/coffee-script.js", :type => "text/javascript"}
    %script{:src => "lib/underscore.min.js", :type => "text/javascript"}
    %script{:src => "lib/js2coffee.min.js", :type => "text/javascript"}
    %script{:src => "build/js/executr.js", :type => "text/javascript"}
    :javascript
      $(function(){
        $('body').executr({
          'outputTo': 'output'
        });
      });
      %body
    %output
    %pre
      %code{:executable => ""}
        :preserve
          do ->
            x = 3 + 12
            x / 2    %pre
      %code{"data-type" => "javascript", :executable => ""}
        :preserve
          (function(){
            return 8;
          })();  %button.executr-switch{"data-code-type" => "javascript"} To JavaScript
  %button.executr-switch{"data-code-type" => "coffeescript"} To CoffeeScript
