= form_for post, url: { project: @project.id, action: post.persisted? ? 'update' : 'create' }, remote: true do |f|
  #notice_messages
  -#= f.text_field :title, class: 'form-control', placeholder: t('form.enter_text'), id:'title-textfield'
  -#%br
  -#= f.select :aspect_id, options_for_select(@aspects.collect { |p| [p.content, p.id] }, post.aspect_id)
  -#%br
  -#= f.text_area :content, class: 'wysihtml5 form-control', style: 'height: 500px;', placeholder: 'Введите текст ...', id:'some-textarea'

  = f.text_area :content, class: 'tinymce form-control', style: 'height: 500px;', placeholder: t('form.enter_text'), id: 'some-textarea'

  %br
  .pull-right
    = f.submit t('form.save'), id: 'send_post', class: 'btn btn-lg btn-success'
  %br
  %br
