%div{ style: 'width:50%;margin-left:53px;' }
  %h3
    %p
      %b 6 стадия. ПОДВЕДЕНИЕ ИТОГОВ

  %p
    Если поддержку подавляющего большинства голосов получает один проект и он же
    выбирается жюри, то принимается решение о его реализации. Если же примерно равное
    количество голосов набирают несколько проектов и у жюри нет абсолютного убеждения
    в предпочтительности какого-то из них, осуществляется процесс их сближения методом
    достижения «деятельностного согласия».

  %p
    В лесу при голосовании выявился проект-победитель, и пчелы с четвероногими
    немедленно приступили к его реализации.
