%div(style="width:50%;margin-left:53px;")
  %h3
    %p
      %b 4-я стадия
      %br
      %b РАЗРАБОТКА ПРОЕКТОВ

  %p
    На этой стадии участники получают возможность в полной мере проявить все навыки рационального мышления, приобретенные в ходе процедуры.

  %p
    Желающие участники разрабатывают
    %bоригинальные
    проекты комплексного решения проблемы.
  %p Чтобы проект был принят модератором, он должен содержать нововведения для всех обязательных несовершенств.
  %p
    Работа по составлению проекта может включать в себя как
    %bкомпиляцию
    нововведений других участников, так и
    %bдобавление
    собственных нововведений.
  %p
    Автор обязан добавить в свой проект подробный план
    %b первого этапа его реализации.

  %pПроекты, соответствующие требованиям процедуры MASSDECISION™, принимаются модератором и переходят на следующую стадию.
