%h3 ПОМОЩЬ ДЛЯ «ИНВАРА»
%br
%h4 СТАДИЯ ФОРМУЛИРОВАНИЯ ПРОБЛЕМ
%br
%p
  Уважаемые участники процедуры MASSDECISION™!
  За эту неделю вы успели ознакомиться с предметной областью процедуры, привыкнуть к интерфейсу нашего портала и выбрать аспекты,
  над которыми будете работать в дальнейшем, а теперь мы переходим к первому и очень важному этапу процедуры MASSDECISION™ – этапу сбора несовершенств.
  Этот этап необходим для выявления и детального анализа конкретных проблем в рамках общей проблемы.
%br
%p
  Проблемы, требующие исправления, в процедуре MASSDECISION™ называются несовершенствами.
  Чтобы разработать проект по комплексному совершенствованию ситуации, надо выявить и описать несовершенства,
  для исправления которых требуются конкретные действия. Чтобы проиллюстрировать формы, техники и рекомендации,
  используемые на этом этапе процедуры, мы расскажем вам новую версию старой сказки о том,
  как Винни-Пух пытался раздобыть мед у подозрительных пчел. Ни в литературной,
  ни в анимационной версии этой истории Винни-Пух не достигает своей цели, но у нашей сказки про четвероногих, пчел и MASSDECISION™ будет счастливый конец,
  который вы узнаете на последнем этапе процедуры. А пока…
