%div(style="width:50%;margin-left:53px;")
  %h3
    %p
      %b 1 СТАДИЯ: Введение в процедуру

  %h4 I. Изучение и обсуждение базы знаний

  %p I.1. Выберите интересующий вас аспект темы процедуры.

  %p I.2. Ознакомьтесь со статьей из базы знаний по выбранному аспекту.

  %p I.3. Просмотрите вопросы и комментарии других участников процедуры. Возможно, ваш вопрос уже поднимался в обсуждении.

  %p I.4. Перемещайтесь вниз, пока не увидите форму добавления комментария.

  %p
    I.5. Введите свой комментарий или вопрос, после чего нажмите на кнопку
    %b.help-orange «Отправить».

  %p
    I.6. Иногда уже на первой стадии у участников процедуры появляются идеи, которые далее можно будет сформулировать как
    несовершенства или нововведения. В этом случае перед отправкой помечайте свои сообщения как
    %b.help-orange «Проблема»
    или
    %b.help-orange «Идея»,
    чтобы иметь быстрый доступ к этому комментарию на последующих стадиях процедуры.
    Сообщения, помеченные как
    %b.help-orange «Проблема»,
    автоматически появятся в соответствующем разделе на стадии
    %b.help-orange «Анализ ситуации».
    Сообщения, помеченные как
    %b.help-orange «Идея»,
    автоматически появятся в соответствующем разделе на стадии
    %b.help-orange «Дизайн будущего».

  %p
    I.7. Если вы решили пометить сообщение как
    %b.help-orange «Идею»
    или
    %b.help-orange «Проблему»,
    вы можете сделать это, нажав на соответствующую кнопку в уже отправленном вами сообщении.

  %br
  %br
  %h4 II. Голосование за аспекты

  %p II.1. Обратите внимание на количество голосов, выделенных вам для выбора наиболее важных аспектов.

  %p II.2. Изучите список аспектов, выставленных на голосование.

  %p
    II.3. Выберите те аспекты, которые, на ваш взгляд, необходимо рассмотреть на дальнейших стадиях процедуры, и нажмите на кнопку
    %b.help-orange «Проголосовать»,
    расположенную напротив каждого из них.

  %p.small После завершения голосования вы сможете вернуться к обсуждению аспектов или добавить свой отзыв о стадии.


  %br
  %br
  %h4 III. Создание и обсуждение отзывов о стадии

  %p
    III.1. Нажмите на ссылку
    %b.help-orange «Отзывы о стадии»
    в левом меню страницы.

  %p
    III.2. Изучите отзывы других участников процедуры о работе на данной стадии, если таковые имеются.

  %p
    III.3. Нажмите на кнопку
    %b.help-orange «Оставьте свой отзыв о стадии»
    и ответьте на несколько вопросов.

  %p
    III.4. После заполнения формы нажмите на кнопку
    %b.help-orange «Сохранить».
    Ваш отзыв появится в списке отзывов участников процедуры.

  %p.small Обсуждение отзывов о стадии выглядит так же, как обсуждение статей из базы знаний по аспекту.

  %p.small Процесс добавления отзывов идентичен на всех стадиях процедуры.

