%div{ style: 'width:50%;margin-left:53px;' }
  %h3
    %p
      %b 4 стадия. РАЗРАБОТКА ПРОЕКТОВ

  %p
    Проект решения должен содержать предложения по устранению всех обязательных несовершенств и описывать
    %br
    –  существо нововведений;
    %br
    –  методы, средства и другие ресурсы, которые в этих нововведениях планируется задействовать;
    %br
    –  сроки, распределение ответственности;
    %br
    –  методы контроля и т. д.
  %p
    Если автор не уделяет внимание каким-то обязательным несовершенствам, однако в отношении других выдвигает интересные неординарные идеи, проект может быть
    принят к рассмотрению в виде исключения. Обычно в таких случаях рекомендуется привлечь к доработке проекта кого-то еще.
  %p
    В проект также должна быть включена программа преобразования текущего положения и подробное описание начального этапа реализации проекта. Для этого этапа
    рекомендуется выбрать в первую очередь самые простые, нетрудоемкие и дешевые нововведения, от которых ожидается наиболее быстрый и ощутимый эффект; а во
    вторую – нововведения, функционально с ними связанные, то есть такие, без которых выбранные в первую очередь нововведения не смогут работать. Этому выбору
    необходимо дать обоснование.
  %p
    Последней составляющей проекта является детальный план начального этапа реализации.
  %p
    При составлении проекта автор может включить в него нововведения, предложенные другими участниками, при условии, что проект в целом существенно отличается
    от уже представленных проектов. В противном случае проект не будет принят модератором. При заполнении формы проекта можно использовать два разных подхода
    к разработке преобразований. Одним удобнее выбрать для каждого несовершенства устраняющее его нововведение и далее описывать осуществление выбранных
    нововведений. Другие предпочтут набросать общую идею проекта, а потом расписывать его осуществление, выбирая нововведения для каждого этапа и постепенно
    уточняя свою идею.

  %br
  %p Посмотрим, какие проекты предложили пчелы и четвероногие.

  %p
    Они представили несколько проектов. Один из них включал два нововведения, предложенные на предыдущей стадии: создание цветника и составление соглашения
    между пчелами и четвероногими. В качестве начального этапа реализации проекта была выбрана разработка и заключение соглашения. Четвероногим и пчелам
    необходимо сначала договориться о четких и исчерпывающих правилах использования цветника, арбитре и санкциях по отношению к нарушителям, поскольку без
    этого создание цветника может породить новые конфликты.
    См. полное описание
    = link_to 'этого проекта', '/project/23/plan/posts/62'
  %p
    В итоге Сова приняла три проекта.

