%div{ style: 'width:50%;margin-left:53px;margin-top:58px;' }
  %h3
    %p
      %b 2 СТАДИЯ: Анализ ситуации

  %h4 I. Ознакомление с поданными несовершенствами и их обсуждение

  %p I.1. Выберите интересующий вас аспект темы процедуры.

  %p I.2. Ознакомьтесь с несовершенствами, поданными другими участниками процедуры.

  %p
    I.3. Обратите внимание, что маркеры
    %b.help-orange «Что?», «Когда?» и «Где?»
    могут быть трех различных цветов: серые (не проверены модератором),
    зеленые (проверены и одобрены модератором), красные (проверены модератором, но содержат ошибки).

  %p
    I.4. Некоторые несовершенства могут содержать замечания модераторов. Обращайте внимание на эти замечания, они помогут вам
    избежать ошибок в дальнейшем.

  %p
    I.5. Для обсуждения интересующего вас несовершенства нажмите на ссылку
    %b.help-orange «Комментировать»,
    расположенную напротив него.

  %i
    Обсуждение сгруппированных несовершенств происходит точно так же, как обсуждение отдельных несовершенств. Если вы не
    согласны с тем, как были сгруппированы несовершенства, обязательно оставьте свой комментарий к группе.

  %br
  %br
  %h4 II. Добавление несовершенства

  %p
    II.1. Нажмите на кнопку
    %b.help-orange «Добавить несовершенство».

  %p
    II.2. Заполните поля формы добавления несовершенства, после чего нажмите
    %b.help-orange «Сохранить».

  %p
    II.3. Также добавить несовершенство можно, нажав на кнопку
    %b.help-orange «Сформулировать как несовершенство»,
    расположенную рядом с комментарием в блоке
    %b.help-orange «Идеи для новых несовершенств»,
    натолкнувшим вас на идею.

  %br
  %b.help-orange Обратите внимание!
  %br
  %br
  %p
    %i
      а) Несовершенства могут быть двух видов:
      %b.help-orange имеющиеся недостатки
      и
      %b.help-orange отсутствующие достоинства.

  %p
    %i б) Важно правильно формулировать ответы на вопросы формы, так как именно правильная формулировка может подтолкнуть к решению.

  %p
    %i в) Одно несовершенство может относиться к нескольким аспектам.

  %p
    %i
      г) Вы можете подать несовершенство анонимно, отметив поле
      %b.help-orange «Подать несовершенство анонимно».

  %br
  %br
  %h4 III. Голосование за актуальные несовершенства

  %p
    Сгруппированные несовершенства будут появляться перед вами на экране по одному, а вы будете оценивать их как важные или неважные, нажимая на соответствующие кнопки. Голосование продолжится до тех пор, пока не будут оценены все несовершенства.

  %i
    После завершения голосования вы сможете вернуться к обсуждению несовершенств или добавить свой отзыв о стадии. Процесс
    добавления отзывов идентичен на всех стадиях процедуры.

