%div{ style: 'width:50%;margin-left:53px;' }
  %h3 ПРОЦЕДУРА MASSDECISION™
  %h3 ЗНАКОМСТВО
  %br
  %p
    MASSDECISION™ –
    %b.help-orange новый инструмент
    массовой выработки и принятия решений. Но прежде чем приступить к использованию нового инструмента, нужно его освоить, а освоение начинается с ознакомления и разбора применения. Чтобы проиллюстрировать формы, техники и рекомендации, используемые в процедуре, мы расскажем вам новую версию старой сказки о том, как Винни-Пух и его четвероногие друзья пытались раздобыть мед у неуступчивых пчел. Ни в литературной, ни в анимационной версии этой истории Винни-Пух не достигает своей цели, но у нашей сказки про четвероногих, пчел и MASSDECISION™ будет счастливый конец, который вы узнаете на последней стадии процедуры. А пока…

  %br
  %h4
    Пролог, в котором заинтересованные стороны договариваются о процедуре
  %br
  %p
    Винни-Пух и его друзья очень любят мед, но побаиваются пчел, а пчелы очень не любят, когда кто-то хочет забрать у них мед, который достается им тяжким трудом. Чтобы раздобыть мед, Винни пытался пробраться в улей обманом — не вышло; сутками караулил у Высокого дуба, поджидая, пока все пчелы вылетят из улья, — не дождался; пытался втянуть пчел в переговоры, предлагая им в обмен на мед грибы и ягоды, — не заинтересовались. Тогда Винни с друзьями отправились к мудрой Сове за советом. «Послушайте, — сказала Сова. — Вчера ко мне как раз приходили пчелы посоветоваться, как избавиться от назойливых четвероногих. Я предложила им вместе с вами подумать, как исправить ситуацию. Они даже согласились выделить мед на призы за вклад в общую выработку решения. Только давайте придумаем что-то такое, от чего всем заинтересованным сторонам станет лучше». На этом и порешили.

  %br
  %h4 ПРИМЕЧАНИЕ:
  %p
    Ситуация, в которой выигрывают все, называется win-win. Чтобы обеспечить такую ситуацию, нужно согласовать перераспределение существующих ресурсов и спроектировать создание новых ресурсов с учетом интересов всех сторон. В этом, среди прочего, может помочь MASSDECISION™.
