%div{ style: 'width:50%;margin-left:53px;' }
  %h3
    %p
      %b  3 СТАДИЯ: Дизайн будущего

  %h4 I. Ознакомление с поданными несовершенствами и устраняющими их нововведениями и обсуждение этих нововведений

  %p I.1. Выберите интересующий вас аспект темы процедуры.

  %p I.2. В основном окне вы увидите все несовершенства, которые прошли на третью стадию после голосования.

  %p
    I.3. Под каждым несовершенством может находиться таблица, содержащая сформулированные для его устранения нововведения. К каждому несовершенству может относиться неограниченное количество нововведений.

  %p I.4. Для обсуждения интересующего вас нововведения, а также для получения более подробной информации о нем, нажмите на название нововведения, которое является гиперссылкой. Процедура обсуждения описана в инструкциях к первой стадии.

  %p
    I.5. Обратите внимание на данные, содержащиеся в таблице нововведений:
    %br
    %b.help-orange – Статус
    – проверено / не проверено / содержит замечания
    %br
    %b.help-orange – Заполненность
    – на сколько вопросов из тех, что предложены в форме, отвечает данное нововведение
    %br
    %b.help-orange – Степень устранения
    – в какой степени, по мнению автора, данное нововведение устраняет относящееся к нему несовершенство.

  %br
  %br
  %h4 II. Добавление нововведения

  %h5 Вариант А. Нововведение, привязанное к конкретному несовершенству

  %p
    II.1.A. Выберите несовершенство, которое собираетесь устранить, и нажмите на кнопку
    %b.help-orange «Добавить нововведение».

  %p
    II.2.A. Постарайтесь вообразить будущее, в котором это несовершенство устранено. Опишите воображаемое будущее, следуя полям формы и
    переходя с вкладки на вкладку.

  %p
    II.3.A. На вкладке
    %b.help-orange «Несовершенства»
    укажите, какие дополнительные несовершенства устраняет ваше нововведение (если таковые
    имеются). Для каждого несовершенства укажите, в какой степени его устраняет ваше нововведение.

  %p
    II.4.A. Закончив заполнение формы, нажмите на кнопку
    %b.help-orange «Добавить».

  %h5 Вариант Б.  Нововведение-идея, составленное исходя из общего списка несовершенств

  %p
    II.1.Б. Нажмите на кнопку
    %b.help-orange «Добавить нововведение»
    в верхней части страницы.

  %p
    II.2.Б. Вообразите совершенное будущее или его фрагмент, в котором ваше нововведение реализовано и успешно функционирует. Опишите воображаемое будущее, начиная с раздела 
    %b.help-orange «Идея»,
    следуя полям формы и переходя с вкладки на вкладку.

  %p
    II.3.Б. Заполнив все поля формы, зайдите на вкладку
    %b.help-orange «Несовершенства».
    Ознакомьтесь со списком несовершенств, выявленных на второй
    стадии. Подумайте, какие из этих несовершенств могут быть устранены при помощи предлагаемой вами идеи. Для каждого
    несовершенства укажите, в какой степени его устраняет ваше нововведение.

  %p
    II.4.Б. Еще один способ добавить нововведение – воспользоваться идеями, поданными на прошлых стадиях. Они находятся в правой части
    страницы, и там же расположена кнопка
    %b.help-orange «Сформулировать как нововведение».

  %br
  %br
  %p
    %b.help-orange Обратите внимание!

  %p
    %i
      а) При добавлении нововведения можно ограничиться заполнением полей, которые находятся в разделе
      %b.help-orange «Идея»,
      а остальные поля оставить пустыми. Однако мы рекомендуем заполнять нововведения как можно более подробно. Это позволит другим участникам
      лучше понять вашу мысль.

  %p
    %i
      б) Одно нововведение может в разной степени устранять любое количество несовершенств. Кроме того, вы можете представлять
      нововведения, не привязанные ни к одному несовершенству из списка.

  %br
  %br
  %h4 III. Голосование за нововведения

  %p III.1. Ознакомьтесь с несовершенством, для устранения которого предлагаются нижеследующие нововведения.

  %p
    III.2. Выберите одно из двух нововведений, которое, на ваш взгляд, с большей вероятностью устранит указанное несовершенство, и нажмите на кнопку
    %b.help-orange «Проголосовать».

  %p
    III.3. Автоматически на место «проигравшего» нововведения загрузится новое, и вам снова предстоит сделать выбор. Голосование продлится
    до тех пор, пока не будет выбрано лучшее нововведение для каждого несовершенства.

  %p
    %i
      Рекомендуем вам внимательно ознакомиться с каждой из пар предложенных нововведений. Это позволит вам получить полное
      представление об идеях других участников процедуры и тем самым существенно сэкономить время и ускорить работу на следующей стадии.

