%div{ style: 'width:50%;margin-left:53px;' }
  %h3
    %p
      %b 5 стадия. ОЦЕНИВАНИЕ ПРОЕКТОВ

  %p Любой участник может оценивать все проекты, принятые ведущим.

  %p
    Для оценки проектов используются три оригинальных прогнозных показателя, требующие элементарных оценок, задаваемых шаблоном, и вычислений, совершаемых программой:

  %p a) эффективность проекта в целом;

  %p b) эффективность начального этапа проекта;

  %p c) негативный эффект от проекта.

  %p Итоговый показатель предпочтительности проекта (N) рассчитывается программой по формуле: N = (a + b)/c.

  %p Когда оценщик получает итоговые показатели всех оцененных им проектов, он присваивает каждому из них один из четырех рангов:
  %p ранг 3 — отличный проект;
  %p ранг 2 — хороший проект;
  %p ранг 1 — удовлетворительный проект;
  %p ранг 0 — плохой проект.

  %p
    На основании рангов всех оценщиков выводится средний ранг проекта. Оценки и ранги проектов служат ориентиром для участников дальнейшего голосования.
    Особое внимание при голосовании рекомендуется уделять оценкам экспертов.

  %p
    Жюри изучает проекты и определяет окончательный список проектов, допущенных к голосованию. Если жюри не допускает к голосованию какой-либо проект,
    оно дает своему решению развернутое обоснование.

  %p
    В процедуре в лесу самый высокий показатель получил проект, состоящий из двух нововведений: создание цветника и заключение соглашения.
    За этот проект  проголосовало подавляющее большинство участников.


