%div(style="width:50%;margin-left:53px;")
  %h3
    %p
      %b 5 стадия. ОЦЕНИВАНИЕ ПРОЕКТОВ

  %h4.help-orange  Стадия пятая, на которой оцениваются выдвинутые проекты
  %p Любой участник может оценивать все проекты, принятые ведущим.

  %p Для оценки проектов используются три оригинальных прогнозных показателя, требующие элементарных оценок, задаваемых шаблоном, и вычислений, совершаемых программой:

  %p a) эффективность проекта в целом;

  %p b) эффективность начального этапа проекта;

  %p c) негативный эффект от проекта.

  %p Итоговый показатель предпочтительности проекта (N) рассчитывается программой по формуле: N = (a+b)/c.

  %p Когда оценщик получает итоговые показатели всех оцененных им проектов, он присваивает каждому из них один из четырех рангов:
  %p ранг 3 — отличный проект;
  %p ранг 2 — хороший проект;
  %p ранг 1 — удовлетворительный проект;
  %p ранг 0 — плохой проект.

  %p На основании рангов всех оценщиков выводится средний ранг проекта. Оценки и ранги проектов служат ориентиром для участников дальнейшего голосования. Особое внимание при голосовании рекомендуется уделять оценкам экспертов.

  %p Жюри изучает проекты и определяет окончательный список проектов, допущенных к голосованию. Если жюри не допускает к голосованию какой-либо проект, оно дает своему решению развернутое обоснование.

  %p В процедуре в лесу самый высокий показатель получил проект, состоящий из двух нововведений: создание цветника и заключение соглашения.   За этот проект  проголосовало подавляющее большинство участников.






  -#%h3
  -#  %p
  -#    %b 5-я стадия
  -#    %br
  -#    %b ОЦЕНИВАНИЕ ПРОЕКТОВ
  -#
  -#%p
  -#  На этой стадии проектам выставляются
  -#  %b оценки
  -#  и присваиваются
  -#  %b ранги,
  -#  которые послужат участникам и жюри ориентиром при выборе лучшего проекта.
  -#
  -#%p
  -#  Оценщик делит все нововведения на три категории:
  -#  %b обязательные, дополнительные и лишние.
  -#%p Обязательные нововведения устраняют обязательные несовершенства.
  -#%p Дополнительные нововведения — это полезные несовершенства, предложенные автором проекта в дополнение к обязательным.
  -#%p Лишние нововведения — это нововведения, которые, не нужны или даже вредят проекту.
  -#%p Каждое нововведение оценивается отдельно.
  -#
  -#%p Комплексная оценка проекта вычисляется при помощи трех показателей:
  -#%p
  -#  a)
  -#  %b прогнозируемая эффективность проекта в целом;
  -#%p
  -#  b)
  -#  %b прогнозируемая эффективность первого этапа проекта;
  -#%p
  -#  c)
  -#  %b возможные негативные явления.
  -#
  -#%p
  -#  Финальная оценка проекта рассчитывается компьютером по формуле
  -#  %b N = (a+b) – c,
  -#  где a, b и c – это первый, второй и третий показатель соответственно. После расчета оценки проекту присваивается ранг (плохой, удовлетворительный, хороший или отличный), а затем все проекты выставляются на голосование, в ходе которого участники выбирают лучший проект. Кроме того, проекты оцениваются компетентным жюри, которое также выбирает лучший проект с учетом поставленных участниками оценок и рангов.
