%div(style="width:50%;margin-left:53px;")
  %h3 ГЛОССАРИЙ
  %br
  %p
    %b.help-orange Проблема
    – разность между текущим и желательным положениями. Обычно до начала процедуры эти положения не описаны четко, поэтому проблема бывает лишь намечена.
  %p
    %b.help-orange Тема процедуры
    – вопрос о том, как разрешить намеченную проблему.
  %p
    %b.help-orange Процедура
    выработки и принятия решений – весь процесс от начала рассмотрения проблемы до окончательного определения решения, готового к реализации.
  %p
    %b.help-orange Стадия
    — этап процедуры, на котором вырабатываются определенные промежуточные материалы.
  %p
    %b.help-orange Процедурная рациональность
    (далее: рациональность) – свойство процесса выработки и принятия решений, определяемое тем, что этот процесс грамотно построен и компетентно осуществлен.
  %p
    %b.help-orange Аспект
    – компонент темы, одна из сторон рассматриваемой проблемы.

  %p
    %b.help-orange База знаний
    – информация по каждому из аспектов, которой необходимо владеть, чтобы эффективно участвовать в процедуре.

  %p
    %b.help-orange Несовершенство
    – либо имеющийся недостаток, который желательно устранить, либо отсутствующее достоинство, которое, наоборот, желательно иметь в реалистическом совершенном будущем.

  %p
    %b.help-orange Имеющийся недостаток
    – то, что наносит вред или препятствует получению выгоды.

  %p
    %b.help-orange Отсутствующее достоинство
    – то, что в будущем могло бы препятствовать нанесению вреда или приносить выгоду.

  %p
    %b.help-orange Нововведение
    – воображаемый фрагмент реалистического совершенного будущего, в котором устранено одно или несколько несовершенств.

  %p
    %b.help-orange Проект
    — описание преобразований, включающее в себя:
    %br
    — цель, то есть образ реалистического совершенного будущего;
    %br
    — многоэтапную программу действий по переходу от текущей ситуации к цели;
    %br
    — подробное описание промежуточного положения, ожидаемого после реализации первого этапа преобразований;
    %br
    — детальный план первого этапа преобразований.

  %p
    %b.help-orange Отзыв (рефлексия)
    – представленное в письменной форме осмысление процедуры и действий ее участников, осуществленное как бы со стороны.

  %p
    %b.help-orange Метод
    – принципиальный подход к разрешению определенной задачи.

  %p
    %b.help-orange Средство
    – инструментальное воплощение метода, посредством которого он реализуется на практике.

  %p
    %b.help-orange Ресурсы
    – методологическое, инструментальное, финансовое, кадровое и прочее обеспечение, при помощи которого осуществляется деятельность.