%div(style="width:50%;margin-left:53px;")
  %h3
    %p
      %b 2 стадия. АНАЛИЗ СИТУАЦИИ
  %br
  %p
    На этой стадии в многогранной общей проблеме надо выявить и детально проанализировать конкретные частные проблемы. Они в процедуре MASSDECISION™ называются несовершенствами. Чтобы разработать проект по комплексному совершенствованию ситуации, необходимо определить несовершенства, более всего требующие устранения. Для этого MASSDECISION™ предоставляет оригинальные формы и техники.
  %p
    Посмотрим, как эти новые инструменты освоили и применили пчелы и четвероногие.
  %br
  %p
    Каждый участник мог высказать, что его не устраивает, а также когда и где это происходит. Первое несовершенство, сформулированное таким образом, выдвинул для всеобщего обсуждения Винни-Пух:
  %br
  %div(style="text-align:center;")
    = image_tag 'img/help/picture1_page_4.png', border: '0', height: '150'
  %br
  %p
    Сова попросила внимания:
  %br
  %p
    «На следующей стадии надо будет придумывать, как устранить несовершенства, которые беспокоят сразу многих участников, а в этом примере «ЧТО» относится только к Винни. Кроме того, чем конкретнее и точнее сформулированы несовершенства, тем больше шансов найти практичные идеи по их устранению. Именно поэтому в форму включены вопросы «КОГДА?» и «ГДЕ?», но такие ответы, как «ВСЕГДА» и «ВЕЗДЕ» — первый признак расплывчивости. Ну что конкретно можно предложить для устранения недовольства Винни-Пуха?!..  Кроме того, важно не упустить ни одного существенного несовершенства. В этом вам помогут подсказки о том, какие они бывают. Есть шесть основных типов несовершенств, и все они помещены в эту таблицу.
  %br
  %div(style="text-align:center;")
    = image_tag 'img/help/picture2_page_5.png', border: '0', height: '150'
  %br
  %p
    Держите эти шесть подсказок перед собой, когда ищете новые несовершенства. Глядя в таблицу, задавайте себе вопрос, нет ли в ситуации еще каких-то, пока не описанных вами несовершенств, которые относятся к тому или иному типу.
  %br
  %p
    Подсказанная техника действительно помогла участникам сформулировать множество разных несовершенств по всем трем темам, утвержденным на первой стадии. Большинство из них модератор-Сова приняла и объединила в группы. В каждой из групп были собраны несовершенства с одинаковыми ответами на вопросы «КОГДА?» и «ГДЕ?».  Они были выставлены на голосование, где каждый участник выбирал несовершенства, которые считал обязательными к устранению. В итоге четвероногие и пчелы остановились на девяти несовершенствах:
  %br
  %div(style="text-align:center;")
    = image_tag 'img/help/picture3_page_5.png', border: '0', height: '750'
  %br
  %br

