%div(style="width:50%;margin-left:53px;")
  %h3
    %p
      %b 4 стадия. РАЗРАБОТКА ПРОЕКТОВ

  %p
    Проект решения должен содержать предложения по устранению всех обязательных несовершенств и описывать существо нововведений,
    методы, средства и другие ресурсы, которые в них планируется задействовать, сроки, распределение ответственности; методы контроля и т. д.
    Кроме того, в него должна быть включена программа преобразования текущего положения и подробное описание начального этапа реализации проекта.
    Для начала рекомендуется выбирать самые простые, нетрудоемкие и дешевые нововведения, приносящие наиболее быстрый и ощутимый эффект.
    и этому выбору необходимо дать обоснование. Последней составляющей проекта является детальный план начального этапа реализации.
  %p
    При составлении проекта автор может включить в него нововведения, предложенные другими участниками, при условии, что проект в целом существенно
    отличается от уже представленных проектов. В противном случае проект не будет принят модератором.
    При заполнении формы проекта можно использовать два разных подхода к разработке преобразований. Одним удобнее выбрать для каждого несовершенства устраняющее его нововведение и далее описывать осуществление выбранных нововведений. Другие предпочтут набросать общую идею проекта, а потом расписывать его осуществление, выбирая нововведения для каждого этапа и постепенно уточняя свою идею.

  %br
  %p А теперь вернемся в Волшебный лес и посмотрим, какие проекты предложили наши герои.

  %h4.help-orange Стадия четвертая, на которой выдвигаются проекты, представляющие собой варианты решения

  %p
    Пчелы и четвероногие представили несколько проектов. Один из них включал два нововведения, предложенных на предыдущей стадии:
    создание цветника и составление соглашения между пчелами и четвероногими. В качестве начального этапа реализации проекта была
    предложена разработка и заключение соглашения. В итоге Сова приняла три проекта.













  -#%h3
  -#  %p
  -#    %b 4-я стадия
  -#    %br
  -#    %b РАЗРАБОТКА ПРОЕКТОВ
  -#
  -#%p
  -#  На этой стадии участники получают возможность в полной мере проявить все навыки рационального мышления, приобретенные в ходе процедуры.
  -#
  -#%p
  -#  Желающие участники разрабатывают
  -#  %bоригинальные
  -#  проекты комплексного решения проблемы.
  -#%p Чтобы проект был принят модератором, он должен содержать нововведения для всех обязательных несовершенств.
  -#%p
  -#  Работа по составлению проекта может включать в себя как
  -#  %bкомпиляцию
  -#  нововведений других участников, так и
  -#  %bдобавление
  -#  собственных нововведений.
  -#%p
  -#  Автор обязан добавить в свой проект подробный план
  -#  %b первого этапа его реализации.
  -#
  -#%pПроекты, соответствующие требованиям процедуры MASSDECISION™, принимаются модератором и переходят на следующую стадию.
