%h3 ПОМОЩЬ ДЛЯ «ИНВАРА»
%br
%h4 СТАДИЯ ФОРМУЛИРОВАНИЯ ПРОБЛЕМ
%br
%h4(style="color:#ebcd70;") Пролог, в котором заинтересованные стороны договариваются о процедуре
%br

%p
  Винни-Пух и его друзья очень любят мед, но очень боятся пчел, а пчелы очень не любят,
  когда кто-то хочет забрать у них мед, который достается им тяжким трудом.
  Чтобы раздобыть мед, Винни пытался пробраться в улей обманом — не вышло;
  сутками караулил у Высокого дуба, поджидая, пока все пчелы вылетят из улья, — не дождался;
  пытался втянуть пчел в переговоры,  предлагая им в обмен на мед грибы и ягоды, — не заинтересовались.
  Тогда Винни с друзьями отправились к мудрой Сове за советом. «Послушайте, — сказала Сова.
  — Вчера ко мне как раз приходили пчелы посоветоваться, как избавиться от назойливых четвероногих.
  Я предложила им вместе с вами подумать, как исправить ситуацию.
  Они даже согласились выделить мед на призы за вклад в общую выработку решения.
  Только давайте придумаем что-то такое, от чего всем обитателям лужайки у Высокого дуба станет лучше».

%br
%p ПРИМЕЧАНИЕ:
%p
  Ситуация, когда всем хорошо, называется
  %span(style="color:#ebcd70;") win-win.
  Чтобы обеспечить такую ситуацию, нужно добиться оптимального перераспределения существующих ресурсов и спроектировать
  создание новых ресурсов с учетом интересов всех сторон.
  Чтобы это сделать, необходимо сначала выявить проблемы, которая стоят перед каждой из сторон в текущей ситуации,
  а затем найти удовлетворяющее всех решение. В этом и состоит практическая цель процедуры MASSDECISION™.