%h4
  %b
    3 этап
    %br/
    СБОР НОВОВВЕДЕНИЙ

%p
  На этом этапе участники начинают вырабатывать решения выявленных проблем. В процедуре MASSDECISION™ такие решения называются
  %bнововведениями
  , корректирующими
  %bнесовершенства.

%blockquote ПОЛЕЗНЫЙ СОВЕТ. Представьте, что у вас есть машина времени, и перенеситесь в будущее, где все нынешние проблемы исправлены, а потом опишите это будущее в формате нововведения.

%p Любой участник может предложить для всеобщего обсуждения свою картину нововведений, функционирующих в будущем.
%p
  Предложения, за которые начисляются премиальные баллы, должны быть
  %b обоснованными, плодотворными, безвредными и реалистическими.
%p В конце этапа происходит голосование и выбираются лучшие нововведения. Авторы победивших нововведений получают дополнительные премиальные баллы.