%div(style="width:50%;margin-left:53px;")
  %h3 ПРОЦЕДУРА MASSDECISION™
  %h3 ЗНАКОМСТВО
  %br
  %p
    MASSDECISION™ –
    %b.help-orange новый инструмент
    массовой выработки и принятия решений. Чтобы приступить к использованию нового инструмента, нужно его освоить, а освоение начинается
    с ознакомления и разбора применения. Чтобы проиллюстрировать формы, техники и рекомендации, используемые в процедуре, мы расскажем вам
    новую версию старой сказки о том, как Винни-Пух пытался раздобыть мед у подозрительных пчел. Ни в литературной, ни в анимационной версии
    этой истории Винни-Пух не достигает своей цели, но у нашей сказки про четвероногих, пчел и MASSDECISION™ будет счастливый конец, который
    вы узнаете на последней стадии процедуры. А пока…

  %br
  %h4
    Пролог, в котором заинтересованные стороны договариваются о процедуре
  %br
  %p
    Винни-Пух и его друзья очень любят мед, но очень боятся пчел, а пчелы очень не любят, когда кто-то хочет забрать у них мед,
    который достается им тяжким трудом. Чтобы раздобыть мед, Винни пытался пробраться в улей обманом — не вышло;
    сутками караулил у Высокого дуба, поджидая, пока все пчелы вылетят из улья, — не дождался; пытался втянуть пчел в переговоры,
    предлагая им в обмен на мед грибы и ягоды, — не заинтересовались. Тогда Винни с друзьями отправились к мудрой Сове за советом.
    «Послушайте, — сказала Сова. — Вчера ко мне как раз приходили пчелы посоветоваться, как избавиться от назойливых четвероногих.
    Я предложила им вместе с вами подумать, как исправить ситуацию. Они даже согласились выделить мед на призы за вклад в общую выработку решения.
    Только давайте придумаем что-то такое, от чего всем обитателям лужайки у Высокого дуба станет лучше». На этом и порешили.

  %br
  %h4 ПРИМЕЧАНИЕ:
  %p
    Ситуация, в которой выигрывают все, называется win-win. Чтобы обеспечить такую ситуацию, нужно согласовать перераспределение
    существующих ресурсов и спроектировать создание новых ресурсов с учетом интересов всех сторон. В этом, среди прочего, может помочь MASSDECISION™.




  -#%p
  -#  Успех и благополучие отдельных людей, коллективов и целых обществ во многом зависят от качества важнейших решений,
  -#  которые они принимают.
  -#%br
  -#%blockquote
  -#  %h4.help-orange ИНФОРМАЦИЯ К РАЗМЫШЛЕНИЮ
  -#  %p
  -#    По-русски решения
  -#    %b.help-orange принимают,
  -#    а по-английски –
  -#    %b.help-orange делают.
  -#    В этом помогает decision-making theory – теория «делания» решений.
  -#%br
  -#%p
  -#  Если процесс делания решения выстроен и осуществлен качественно, то,
  -#  по теории, очень вероятно, что качественным будет и само решение.
  -#  Но прежде чем использовать новый инструмент, нужно с ним познакомиться.
  -#  Мы предлагаем вам краткое введение в процедуру делания решений,
  -#  а более подробную помощь вы найдете внутри самой процедуры.
  -#%br
  -#%p
  -#  Интернет-технология MASSDECISION™ ведет участников по процедуре массового делания решений начиная
  -#  с формулирования проблемы и до определения решения. Она задает последовательность мыслительных
  -#  действий и дискуссий, предоставляет для них правила, формы и техники, поясняет их применение
  -#  и дает рекомендации и подсказки по придумыванию материалов, требуемых для выработки решения.
  -#  Если устранение проблемы требует преобразований, то решение представляет собой описание нововведений,
  -#  которые для этого понадобятся. Весь комплекс нововведений – это цельный проект.
  -#  В виде таких проектов в процедуре MASSDECISION™ и представляются варианты решения.
  -#%br
  -#%p
  -#  Когда люди рационально проектируют преобразования, они рисуют картину благоприятного будущего и 
  -#  составляют план действий, который к нему приведет. При этом они стремятся построить в воображении
  -#  будущее, которое представляется им максимально полезным и реалистичным, и наметить самый экономичный
  -#  путь к этому будущему с минимумом возможных препятствий.
  -#%br
  -#%p
  -#  Часто хорошее решение не удается выработать из-за отклонений от рациональности,
  -#  типичных для человеческого мышления. Вот несколько примеров таких отклонений:
  -#%p
  -#  %b.help-orange – кратковременное выгадывание
  -#  без учета долгосрочной перспективы;
  -#%p
  -#  – склонность к
  -#  %b.help-orange негативному целеполаганию,
  -#  когда целью ставится не детально проработанный образ позитивного будущего, а уход от имеющегося негатива;
  -#%p
  -#  – нежелание или неумение прогнозировать отрицательные побочные эффекты, которые могут возникнуть
  -#  как в процессе, так и в результате реализации решения;
  -#%p
  -#  – уклонение от выработки
  -#  %b.help-orange нескольких вариантов решения;
  -#%p
  -#  – неготовность к 
  -#  %b.help-orange компромиссу
  -#  в случае, когда решение вырабатывается коллективно.
  -#%br
  -#%p
  -#  MASSDECISION™ предотвращает такие отклонения, а это значит, что процедура массового делания решений является
  -#  %b.help-orange рациональной.
  -#  В результате применения MASSDECISION™ вырабатывается решение, включающее:
  -#
  -#%p – образ реалистичного будущего положения, максимально приближенного к совершенному;
  -#%p – программу преобразования текущего положения;
  -#%p – подробное описание промежуточного положения после реализации первого этапа преобразований;
  -#%p – детальный план первого этапа преобразований.
  -#
  -#%br
  -#%p
  -#  Процедура MASSDECISION™ проводится в форме
  -#  %b.help-orange деловой игры.
  -#  Участие в выработке решения может осуществляться в форме оценки, анализа и создания материалов,
  -#  нужных для решения. Вклад участника в общее дело награждается баллами,
  -#  которые в итоге конвертируются в материальные призы.






























-#%p{align: 'RIGHT', style: 'margin-left: 2.56in; text-indent: -0.13in; margin-bottom: 0.14in'}
-#  %em
-#    %font{face: 'Verdana, serif'}
-#      %font{size: '1', style: 'font-size: 10pt'}
-#        %span Часто мы затрудняемся найти решение, поскольку подсознательно ограничиваемся территорией рисунка. Однако нигде не сказано, что нельзя выходить за его пределы. Вывод: чтобы понять систему, необходимо… выйти за нее.
-#  %br
-#  %font{face: 'Verdana, serif'}
-#    %font{size: '1', style: 'font-size: 10pt'}
-#      %span Бернард Вербер
-#
-#%h3
-#  %b РЕШЕНИЯ И РАЦИОНАЛЬНОСТЬ
-#%p Мы принимаем решения чаще, чем отдаем себе в этом отчет. Собственно, вся наша жизнь – это череда удачных и неудачных решений, но, как правило, мы принимаем решения нерационально. Несколько десятков лет назад это доказали нобелевские лауреаты Герберт Саймон и Даниэль Канеман, и это навсегда изменило научную дисциплину, которая называется теорией принятия решений.
-#%p Негативный эффект нерациональности, тормозящий продвижение людей к своим целям, неизбежен, как эффект трения. И хотя само трение отменить невозможно, можно использовать смазочное масло, чтобы снизить его воздействие. Таким смазочным маслом и является рационализация процесса выработки решений. Если процесс организован правильно то, скорее всего, само решение тоже будет качественным. Выражаясь научным языком, процедурная рациональность процесса с высокой степенью вероятности обеспечивает содержательную рациональность решения.
-#%h4 ВАЖНЫЕ ПОНЯТИЯ
-#%p
-#  %b Содержательная рациональность
-#  – это рациональность самого решения.
-#%p
-#  %b Процедурная рациональность
-#  – это рациональность процесса выработки решения.
-#%p Здравый смысл подсказывает следующее определение хорошего решения : это такое решение, о котором не приходится жалеть впоследствии. Это верно и для отдельных людей, и для целых организаций, но принятие решений в организациях имеет свою специфику. Дело в том, что люди в организованных структурах обычно делятся на стратегов и исполнителей, и решение, которое стратеги считают хорошим, может восприниматься исполнителями совершенно иначе. Именно поэтому процесс выработки решений в организациях должен базироваться на нескольких простых и эффективных принципах:
-#%ol
-#  %li
-#    %p
-#      %b Процедура принятия решения должна быть рациональной и демократичной.
-#  %li
-#    %p
-#      %b В выработке решения должны принимать участие его будущие исполнители.
-#  %li
-#    %p
-#      %b Из всех предложенных вариантов надо выбирать решения с самым выгодным ожидаемым результатом и с самыми надежными и дешевыми средствами его достижения.
-#%p ИНФОРМАЦИЯ К РАЗМЫШЛЕНИЮ
-#%p
-#  На русском языке решения принимают, а на английском – делают.
-#  Процесс принятия решения на английском называется decision-making.
-#
-#%p{align: 'RIGHT', style: 'margin-left: 2.56in; text-indent: -0.13in; margin-bottom: 0.14in'}
-#  %em
-#    %font{face: 'Verdana, serif'}
-#      %font{size: '1', style: 'font-size: 10pt'}
-#        %span Ни одну проблему нельзя решить на том же уровне, на котором она возникла.
-#  %br
-#  %font{face: 'Verdana, serif'}
-#    %font{size: '1', style: 'font-size: 10pt'}
-#      %span Альберт Эйнштейн
-#
-#
-#%h3
-#  %b MASSDECISION
-#  %b ™ И НОВЫЙ УРОВЕНЬ МЫШЛЕНИЯ
-#%p
-#  До сих пор считалось, что принятие решений в организации не может быть массовым, поскольку широким массам не хватает узкоспециализированных знаний. Новизна технологии MASSDECISION™ в том, что в процесс выработки решения вовлекается
-#  %b неограниченное число участников
-#  и при этом обеспечивается
-#  %b высокое качество решения.
-#  Этот подход способен вывести организацию на совершенно новый уровень коллективного мышления.
-#
-#%p
-#  Процедура выработки проектных решений по технологии MASSDECISION™ построена на принципах процедурной и содержательной рациональности, теории принятия решений, проблемно-деловых игр и краудсорсинга. В процессе выработки решения участники одновременно
-#  %b готовятся к его реализации
-#  ,
-#  %b мотивация будущих исполнителей
-#  повышается за счет участия в выработке решения, итоговое решение получается
-#  %b качественным
-#  , и участники процедуры приобретают
-#  %b полезные навыки рационального мышления
-#  , которые сохраняются и после окончания процедуры.
-#%p
-#  В результате процедуры вырабатывается коллективное решение, которое включает в себя один или несколько вариантов исправления ситуации и согласованный детальный план первого этапа преобразований.
-#
-#%h3
-#  %b ПЕРЕД ПРОЦЕДУРОЙ: ПОЛЕЗНАЯ ИНФОРМАЦИЯ
-#%p Процедура проходит на портале MASSDECISION, где каждый участник заводит персональный аккаунт. Здесь участники обмениваются мнениями, узнают позиции друг друга, представляют вниманию коллег насущные вопросы и эффективные решения и составляют полноценные проекты, готовые к реализации.
-#%p
-#  Незадолго до начала процедуры на сайт выкладывается подготовленная организаторами
-#  %b база знаний
-#  , в которой содержится вся нужная информация по теме предстоящей процедуры. Участники должны обязательно ознакомиться с базой знаний – это поможет им приступить к работе сразу, как только начнется процедура.
-#%p
-#  В ходе процедуры участники занимаются тремя видами деятельности:
-#  %b вырабатывают
-#  собственные материалы, а также
-#  %b корректируют
-#  и
-#  %b оценивают
-#  материалы других участников. Разумеется, участники могут совмещать разные роли и получать рейтинговые баллы за каждый из видов деятельности. Кроме того, для повышения эффективности на каждом этапе участники могут формировать временные коллективы для групповой работы.
-#%p Помимо участников, в процедуре принимают участие эксперты, то есть специалисты в областях, имеющих непосредственное отношение к ее теме. В случае необходимости эксперты могут объяснять участникам те или иные нюансы или указывать на ошибки, связанные с отсутствием профессиональных знаний. Экспертный механизм нужен в частности для того, чтобы участники не теряли времени, методом проб и ошибок открывая заново давно известные профессионалам вещи.
-#%p На всех этапах процедуры участники голосованием выбирают наиболее актуальные материалы, представленные в ходе этапа. На последнем этапе участники оценивают проекты своих товарищей и присваивают им различные ранги. Эти ранги служат ориентирами для жюри, которое проводит на их основании окончательную оценку.