%div(style="width:50%;margin-left:53px;")
  %h3
    %p
      %b 3-я стадия
      %br
      %b ДИЗАЙН БУДУЩЕГО
  %br
  %p
    На этой стадии начинается выработка решений для выявленных проблем-несовершенств.
    В процедуре MASSDECISION™ такие решения называются
    %b нововведениями,
    корректирующими несовершенства.

  %p
    Любой участник может предложить для всеобщего обсуждения свою картину нововведений, функционирующих в будущем.
  %p
    Форма представления нововведения содержит
    %b одиннадцать разделов.
    Первые
    %b два
    раздела обязательны для заполнения и посвящены базовой идее и важнейшим свойствам нововведения. Остальные
    %b девять
    предназначены для детализации решения проблемы и предотвращения основных отклонений от рациональности.
    Заполнение девяти дополнительных разделов поощряется дополнительным бонусом, однако автор может поручить это дело другим участникам (разумеется, уступив при этом и бонус).

  %p
    Предложения, за которые начисляются премиальные баллы, должны быть
    %b обоснованными, плодотворными, безвредными и реалистическими.
    В конце стадии проходит голосование: в рамках каждого несовершенства участник отмечает нововведение, которое, по его мнению,
    устранит его с наибольшей вероятностью. По итогам подсчета голосов для каждой проблемы составляется рейтинг устраняющих
    ее нововведений. Эти рейтинги служат для участников ориентирами при составлении проектов на следующей стадии.
    Авторы победивших нововведений получают премиальные баллы.

  %p А теперь вернемся в лес и посмотрим, как с этой стадией справились наши герои.

  %h4(style="color:#ebcd70;") Стадия третья, на которой предлагаются нововведения, разрешающие проблемы

  %p Сова показала форму, в которой участники лесной процедуры должны были представлять свои нововведения.
  %br
  %div(style="text-align:center;")
    = image_tag 'img/concept_intro.png', border: '0', height: '400'
  %br
  %p
    Когда звери и насекомые ознакомились с формой, у них возникли вопросы по рубрике
    %b.color-green «Функционирование».
    Сова пояснила, что разделы этой рубрики — очередные подсказки, которые помогают участникам определиться,
    что следует указать, описывая, как будет функционировать нововведение.

  %p
    Сова напомнила участникам, что их нововведения должны относиться к девяти проблемам, устранение которых
    было признано обязательным на предыдущей стадии. Устранить проблему можно двумя способами:
    первый — исправить то качество или обстоятельство, которое является ее причиной, а второй — изменить саму
    ситуацию таким образом, чтобы эта причина перестала действовать.

  %div(style="border: 4px double black;width:200px;float:left;margin-right:10px;")
    %span(style="color:#ebcd70;") ПРИМЕР
    %br
    ЧТО? Частые простуды
    %br
    КОГДА? В сильные морозы
    %br
    ГДЕ? В Заполярье
  %p
    Проблема вызвана тем, что организм плохо переносит сильные морозы. Ее можно устранить закаливанием (первый способ),
    а можно переехать жить в субтропики (второй способ).

  %br
  %h5(style="color:#ebcd70;")
    ОБРАТИТЕ ВНИМАНИЕ!
    Первый способ обычно связан с ответом на вопрос «ЧТО?», а второй вытекает из «КОГДА» и «ГДЕ».

  %p
    Сова продолжила: «Самые ценные нововведения — это те, которые позволяют устранить сразу несколько проблем,
    поэтому имеет смысл первым делом попытаться придумать именно такие нововведения. И вот вам в подсказку еще одна техника.

  %p
    Вы можете составить два списка. В первом вы выпишете для каждой проблемы причины, которые ее вызывают, а во втором — особенности ситуации,
    позволяющие этим причинам действовать. Затем в первом списке вы будете искать повторяющиеся причины, а во втором — повторяющиеся
    особенности ситуации. Если такие повторения найдутся, они могут подсказать вам нововведения, устраняющие несколько проблем сразу.
    Если же повторений не будет, я рекомендую вам просмотреть все девять проблем, проверяя, не найдется ли среди них пара, которую можно исправить одним нововведением.
    А если такая пара найдется, спросите себя, нельзя ли присовокупить к ней еще одну или несколько проблем из списка».

  %p
    Когда Сова разъяснила эту технику, одна из пчел быстро составила два списка, в которых обнаружилось много повторений.

  %h5(style="color:#ebcd70;")
    ОБРАТИТЕ ВНИМАНИЕ!
    В нашей таблице списки приведены в сокращенной форме. В них оставлены только повторы, выделенные одинаковыми цветами, а неповторяющиеся записи заменены многоточиями.

  %table.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th
          Проблема (недовольство или несовершенство)
        %th
          Причины, вызывающие проблему
        %th
          Особенности ситуации, делающие эти причины действующими
    %tbody
      %tr
        %td
          ЧТО? Винни-Пуху и компании мешают пчелы
          КОГДА? При попытках забрать у них мед
          ГДЕ? В улье на Высоком дубе
        %td
          Конфликт интересов четвероногих и пчел в отношении меда
        %td
          Четвероногим нечего предложить пчелам в обмен на мед

      %tr
        %td
          ЧТО? Пчелам досаждают четвероногие
          КОГДА? При попытках Винни-Пуха и компании добыть мед
          ГДЕ? У улья на Высоком дубе
        %td
          Конфликт интересов четвероногих и пчел в отношении меда
        %td
          Четвероногим нечего предложить пчелам в обмен на мед

      %tr
        %td
          ЧТО? У четвероногих и пчел нет соглашения и арбитра для регулирования их отношений
          КОГДА? При возникновении конфликтов
          ГДЕ? В сообществе обитателей леса
        %td
          ="..."
        %td
          Конфликт интересов четвероногих и пчел в отношении меда
      %tr
        %td
          ЧТО? У четвероногих и пчел нет соглашения и арбитра для регулирования их отношений
          КОГДА? При возникновении конфликтов
          ГДЕ? В сообществе обитателей леса
        %td
          Четвероногим нечего предложить пчелам в обмен на мед
        %td
          Конфликт интересов четвероногих и пчел в отношении меда
      %tr
        %td
          ЧТО? Четвероногие побаиваются атаковать пчел
          КОГДА? При попытках добыть мед
          ГДЕ? В улье на Высоком дубе
        %td
          ="..."
        %td
          Конфликт интересов четвероногих и пчел в отношении меда
      %tr
        %td
          ЧТО? Пчелы приносят в улей мало нектара, поскольку долгий перелет с тяжелым грузом вызывает у них усталость
          КОГДА? При сборе нектара
          ГДЕ? На лужайках, отдаленных от Высокого дуба
        %td
          ="..."
        %td
          Вблизи от улья мало источников нектара
      %tr
        %td
          ЧТО? Вблизи от улья мало источников нектара
          КОГДА? При сборе нектара
          ГДЕ? Около Высокого дуба
        %td
          Вблизи от улья мало источников нектара
        %td
          ="..."
      %tr
        %td
          ЧТО? Взаимное недоверие четвероногих и пчел
          КОГДА? При переговорах о меде
          ГДЕ? В сообществе обитателей леса
        %td
          Конфликт интересов четвероногих и пчел в отношении меда
        %td
          ="..."

  %p Эта таблица подсказала пчеле идеи двух нововведений.
  %ol
    %li
      %span(style="color:#ebcd70;") Первая идея:
      создать около Высокого дуба цветник с медоносными растениями.
    %li
      %span(style="color:#ebcd70;") Вторая идея:
      составить и заключить контракт, регулирующий отношения четвероногих и пчел, а Сову пригласить в качестве арбитра.
  %br
  %p Контракт регламентирует:

  %p - когда, кем и как подсчитывается количество меда, произведенного пчелами сверх нынешнего уровня;
  %p - каков регламент передачи пчелами половины этого меда четвероногим;
  %p - что обязаны делать с цветником четвероногие;
  %p - как и кем осуществляется контроль за соблюдением соглашения;
  %p - какие санкции предусмотрены за всевозможные нарушения контракта обеими сторонами;
  %p - как действует арбитр и кто помогает ему осуществлять его функции.

  %h5(style="color:#ebcd70;")
    ВАЖНО НЕ УПУСКАТЬ ИЗ ВИДА: для устранения одного несовершенства может потребоваться несколько нововведений.

  %p
    Сова приняла оба нововведения пчелы. Другие участники выдвинули еще несколько нововведений, многие из которых
    Сова тоже приняла и выставила на голосование. По итогам голосования было выбрано 5 нововведений.

















-#%h4
-#  %b
-#    3 этап
-#    %br/
-#    СБОР НОВОВВЕДЕНИЙ
-#
-#%p
-#  На этом этапе участники начинают вырабатывать решения выявленных проблем. В процедуре MASSDECISION™ такие решения называются
-#  %bнововведениями
-#  , корректирующими
-#  %bнесовершенства.
-#
-#%blockquote ПОЛЕЗНЫЙ СОВЕТ. Представьте, что у вас есть машина времени, и перенеситесь в будущее, где все нынешние проблемы исправлены, а потом опишите это будущее в формате нововведения.
-#
-#%p Любой участник может предложить для всеобщего обсуждения свою картину нововведений, функционирующих в будущем.
-#%p
-#  Предложения, за которые начисляются премиальные баллы, должны быть
-#  %b обоснованными, плодотворными, безвредными и реалистическими.
-#%p В конце этапа происходит голосование и выбираются лучшие нововведения. Авторы победивших нововведений получают дополнительные премиальные баллы.