%h4
  %b
    5 этап
    %br/
    ОЦЕНИВАНИЕ ПРОЕКТОВ И ВЫБОР ЛУЧШЕГО ПРОЕКТА

%p
  На этом этапе проектам выставляются
  %b оценки
  и присваиваются
  %b ранги,
  которые послужат участникам и жюри ориентиром при выборе лучшего проекта.

%p
  Оценщик делит все нововведения на три категории:
  %b обязательные, дополнительные и лишние.
%p Обязательные нововведения устраняют обязательные несовершенства.
%p Дополнительные нововведения — это полезные несовершенства, предложенные автором проекта в дополнение к обязательным.
%p Лишние нововведения — это нововведения, которые, не нужны или даже вредят проекту.
%p Каждое нововведение оценивается отдельно.

%p Комплексная оценка проекта вычисляется при помощи трех показателей:
%p
  a)
  %b прогнозируемая эффективность проекта в целом;
%p
  b)
  %b прогнозируемая эффективность первого этапа проекта;
%p
  c)
  %b возможные негативные явления.

%p
  Финальная оценка проекта рассчитывается компьютером по формуле
  %b N = (a+b) – c,
  где a, b и c – это первый, второй и третий показатель соответственно. После расчета оценки проекту присваивается ранг (плохой, удовлетворительный, хороший или отличный), а затем все проекты выставляются на голосование, в ходе которого участники выбирают лучший проект. Кроме того, проекты оцениваются компетентным жюри, которое также выбирает лучший проект с учетом поставленных участниками оценок и рангов.
