%div(style="width:50%;margin-left:53px;")
  %h3
    %p
      %b  3 СТАДИЯ: Дизайн будущего

  %h4 1. Ознакомление с поданными несовершенствами и устраняющими их нововведениями и обсуждение этих несовершенств

  %p 1. Выберите интересующий вас аспект темы процедуры.

  %p 2. В основном окне вы увидите все несовершенства, которые прошли на третью стадию после голосования.

  %p
    3. Под каждым несовершенством может находиться таблица, содержащая
    %b.help-orange сформулированные нововведения
    для его устранения. К каждому несовершенству может быть добавлено неограниченное количество нововведений.

  %p 4. Для обсуждения интересующего вас нововведения, а также для получения более подробной информации о нем, нажмите на название нововведения, которое является гиперссылкой. Процедура комментирования описана в инструкциях к первой стадии.

  %p
    5. Обратите внимание на данные, содержащиеся в таблице нововведений:
    %b.help-orange – Статус
    – проверено / не проверено / содержит замечания
    %b.help-orange – Заполненность
    – на сколько вопросов из тех, что предложены в форме, отвечает данное нововведение
    %b.help-orange – Степень устранения
    – в какой степени, по мнению автора, данное нововведение устраняет относящееся к нему несовершенство

  %br
  %br
  %h4 2. Добавление нововведения

  %h5 а. Нововведение, привязанное к конкретному несовершенству

  %p
    1. Выберите несовершенство, которое собираетесь устранить, и нажмите на кнопку
    %b.help-orange «Добавить нововведение».

  %p
    2. Постарайтесь вообразить будущее, в котором это несовершенство устранено. Опишите воображаемое будущее, следуя полям формы и
    переходя с вкладки на вкладку.

  %p
    3. На вкладке
    %b.help-orange «Несовершенства»
    укажите, какие дополнительные несовершенства устраняет ваше нововведение (если таковые
    имеются). Для каждого несовершенства укажите, в какой степени его устраняет ваше нововведение.

  %p
    4. Закончив заполнение формы, нажмите на кнопку
    %b.help-orange «Добавить».

  %h5 б. Нововведение-идея, составленное исходя из общего списка несовершенств

  %p
    1. Нажмите на кнопку
    %b.help-orange «Добавить нововведение»
    в верхней части страницы.

  %p
    2. Вообразите будущее, в котором ваше нововведение реализовано и успешно функционирует. Опишите воображаемое будущее, начиная с раздела
    %b.help-orange «Идея»,
    следуя полям формы и переходя с вкладки на вкладку.

  %p
    3. Заполнив все поля формы, зайдите на вкладку
    %b.help-orange «Несовершенства».
    Ознакомьтесь со списком несовершенств, выявленных на второй
    стадии. Подумайте, какие из этих несовершенств могут быть устранены при помощи предлагаемой вами идеи. Для каждого
    несовершенства укажите, в какой степени его устраняет ваше нововведение.

  %p
    4. Еще один способ добавить нововведение – воспользоваться идеями, поданными на прошлых стадиях. Они находятся в правой части
    страницы, и там же расположена кнопка
    %b.help-orange «Сформулировать как нововведение».

  %br
  %br
  %p
    %b.help-orange Обратите внимание!

  %p
    %i
      а) При добавлении нововведения можно ограничиться заполнением полей, которые находятся в разделе
      %b.help-orange «Идея»,
      а остальные поля оставить пустыми. Однако мы рекомендуем заполнять нововведения как можно более подробно. Это позволит другим участникам
      лучше понять вашу мысль.

  %p
    %i
      б) Одно нововведение может в разной степени устранять любое количество несовершенств. Кроме того, вы можете представлять
      нововведения, не привязанные ни к одному несовершенству из списка.

  %br
  %br
  %h4 3. Голосование за нововведения

  %p 1. Ознакомьтесь с несовершенством, для устранения которого предлагаются нижеследующие нововведения.

  %p
    2. Выберите одно из двух нововведений, которое, на ваш взгляд, с большей вероятностью устранит указанное несовершенство, и нажмите на кнопку
    %b.help-orange «Проголосовать».

  %p
    3. Автоматически на место «проигравшего» нововведения загрузится новое, и вам снова предстоит сделать выбор. Голосование продлится
    до тех пор, пока не будет выбрано лучшее нововведение для каждого несовершенства.

  %p
    %i
      Рекомендуем вам внимательно ознакомиться с каждой из пар предложенных нововведений. Это позволит вам получить полное
      представление об идеях других участников процедуры и тем самым существенно сэкономить время и ускорить работу на следующей стадии.

















-#%h4
-#  %b
-#    3 этап
-#    %br/
-#    СБОР НОВОВВЕДЕНИЙ
-#
-#%p
-#  На этом этапе участники начинают вырабатывать решения выявленных проблем. В процедуре MASSDECISION™ такие решения называются
-#  %bнововведениями
-#  , корректирующими
-#  %bнесовершенства.
-#
-#%blockquote ПОЛЕЗНЫЙ СОВЕТ. Представьте, что у вас есть машина времени, и перенеситесь в будущее, где все нынешние проблемы исправлены, а потом опишите это будущее в формате нововведения.
-#
-#%p Любой участник может предложить для всеобщего обсуждения свою картину нововведений, функционирующих в будущем.
-#%p
-#  Предложения, за которые начисляются премиальные баллы, должны быть
-#  %b обоснованными, плодотворными, безвредными и реалистическими.
-#%p В конце этапа происходит голосование и выбираются лучшие нововведения. Авторы победивших нововведений получают дополнительные премиальные баллы.