%div(style="width:50%;margin-left:53px;")
  %h3
    %p
      %b 4 СТАДИЯ: Разработка проектов

  %h4 1. Ознакомление с представленными проектами

  %p
    1. Выберите интересующий вас проект из списка и нажмите на кнопку
    %b.help-orange «Подробнее».

  %p
    2. На вкладке
    %b.help-orange «Описание проекта»
    вы можете ознакомиться с кратким описанием проекта, эссе и этапами его реализации.

  %p
    3. Для просмотра более подробного плана мероприятий по реализации проекта перейдите на вкладку
    %b.help-orange «План мероприятий».

  %p
    4. Для изучения нововведений, входящих в состав проекта, нажмите на вкладку
    %b.help-orange «Нововведения».
    Здесь вы сможете подробно изучить каждое нововведение, которое было включено автором проекта в план мероприятий.

  %p
    5. В самом низу страницы можно просмотреть комментарии и вопросы участников процедуры по данному проекту, а также оставить
    собственные комментарии.

  %br
  %br
  %h4 2. Добавление проекта

  %p
    1. Чтобы создать свой проект, нажмите на кнопку
    %b.help-orange «Добавить проект».

  %p
    2. Сформулируйте основные цели, которые вы ставите в вашем проекте. Опишите их в разделе
    %b.help-orange «Коротко о проекте»

  %p
    3. Постарайтесь составить максимально подробную полную картину будущего, в котором ваш проект уже реализован. Опишите ее в разделе
    %b.help-orange «Пояснения и обоснования».

  %p
    4. Нажмите на кнопку
    %b.help-orange «Сохранить»,
    чтобы ваш проект был добавлен в список со всеми сохраненными изменениями.

  %p
    5. Решите, из каких основных этапов будет состоять реализация вашего проекта. Добавьте эти этапы, нажав на кнопку
    %b.help-orange «Добавить этап в проект».

  %p
    %i
      Далее выполните следующие действия:

  %p а) Придумайте короткое и понятное название для каждого этапа.

  %p б) Укажите даты начала и окончания реализации каждого этапа.

  %p в) Составьте эссе по этапу, которое будет включать в себя описание функционирования организации в ходе реализации каждого этапа.

  %p
    г) Нажмите на кнопку
    %b.help-orange «Сохранить».

  %p
    д) Перейдите к созданию следующего этапа. Откройте вкладку
    %b.help-orange «План мероприятий».
    Здесь вы увидите все добавленные вами этапы с эссе и датами реализации.
    Под каждым этапом расположена таблица, состоящая из двух граф:
    %b.help-orange «Нововведения»
    и
    %b.help-orange «Мероприятия».

  %p
    – В графе «Нововведения» будут находиться все плодотворные, на ваш взгляд, нововведения, поданные участниками процедуры на
    третьей стадии, а также те нововведения, которые вы сами создадите на данном этапе.

  %p
    – В графе «Мероприятия» будут находиться мероприятия, привязанные к конкретным нововведениям из левого столбца.

  %p
    6. Нажмите на кнопку
    %b.help-orange «Добавить нововведение»
    в таблице интересующего вас этапа.

  %p
    %i
      Далее выполните следующие действия:

  %p
    а) Выберите из списка несовершенство, которое вы хотели бы устранить на данном этапе, и нажмите на кнопку
    %b.help-orange «Показать решения».

  %p
    б) В выпавшем списке выберите
    %b.help-orange «+»
    для каждого нововведения, которое вы собираетесь включить в свой проект. Вы можете добавить
    все интересующие вас нововведения сразу, не закрывая окна.

  %p
    7. Выйдите из окна добавления нововведений, нажав на кнопку
    %b.help-orange «Закрыть»

  %p
    8. В таблице напротив добавленных нововведений нажмите на кнопку
    %b.help-orange «Запланировать мероприятие».

  %p
    %i
      Далее выполните следующие действия:

  %p а) Укажите краткое название мероприятия.

  %p б) Укажите, если это возможно, даты начала и окончания мероприятия.

  %p в) Добавьте описание мероприятия, если его название не выполняет эту задачу в полном объеме.

  %p г) Укажите, какие ресурсы необходимы для проведения мероприятия.

  %p
    9. Нажмите на кнопку
    %b.help-orange «Сохранить»,
    чтобы мероприятие было добавлено в проект.

  %p
    10. Повторяйте шаги 6-9, пока не заполните весь проект. Проект сохраняется автоматически, поэтому в любой момент можно прервать
    работу и вернуться к ней позднее.

  %p
    11. Перейдите на вкладку
    %b.help-orange «Нововведения».
    Здесь при необходимости вы можете отредактировать нововведения, которые были использованы в вашем проекте.
