%p{:align => "RIGHT", :style => "margin-left: 2.56in; text-indent: -0.13in; margin-bottom: 0.14in"}
  %em
    %font{:face => "Verdana, serif"}
      %font{:size => "1", :style => "font-size: 10pt"}
        %span
          Дело не в том, что они не способны увидеть решение.
          %br/
          Дело в том, что они не могут увидеть проблему.
  %br
  %font{:face => "Verdana, serif"}
    %font{:size => "1", :style => "font-size: 10pt"}
      %span Гилберт Честертон

%h4
  %b
    2 этап
    %br/
    СБОР НЕСОВЕРШЕНСТВ
%p Этот этап необходим для выявления и детального анализа конкретных проблем в рамках общей проблемы.
%p
  Проблемы, требующие исправления, в процедуре MASSDECISION ™ называются
  %b несовершенствами
  Чтобы разработать проект по комплексному совершенствованию ситуации, надо выявить и описать несовершенства, для исправления которых требуются
  конкретные действия. Такие несовершенства делятся на две категории:
  %b имеющиеся недостатки
  и 
  %b отсутствующие достоинства

%p
  Чтобы максимально четко описать несовершенство, участники отвечают на три простых вопроса: что их не устраивает, когда это явление происходит и где оно наблюдается. В конце этапа однородные несовершенства автоматически объединяются в группы и выставляются на голосование. Группы несовершенств, прошедшие электоральный барьер, становятся
  %b обязательными несовершенствами

%p ВАЖНЫЕ ПОНЯТИЯ
%p
  %b Обязательное несовершенство
  – группа несовершенств, решение по устранению которых обязательно войдет в итоговый проект.
%h4
  %b СТРУКТУРА ВТОРОГО ЭТАПА
%img{:align => "BOTTOM", :border => "0", :height => "427", :src => "/assets/img/help/discontent_index.jpg", :width => "623"}/
%br
%br
%p Рабочее поле на втором этапе представляет собой таблицу несовершенств.

%ol
  %li
    %p
      Здесь располагаются все несовершенства, выявленные в конкретном аспекте.
    %blockquote ВАЖНО! При добавлении несовершенства обязательно убедитесь, что похожее несовершенство не было добавлено другими участниками.
%ol
  %li
    %p
      В поле «Неоформленные проблемы» помещены все сообщения с предыдущего этапа с пометкой «Проблема». Под каждой проблемой находятся кнопка
      «Источник», нажав на которую вы попадаете в дискуссию, где впервые появилось сообщение об этой проблеме, и
      кнопка «Доработать», которая позволяет доработать проблему в полноценное несовершенство.

%img{:align => "BOTTOM", :border => "0", :height => "181", :src => "/assets/img/help/discontent_one.png", :width => "458"}/
%br
%br
%ol
  %li
    %p При добавлении несовершенства заполняются три графы: ЧТО (описание проблемы), ГДЕ (локализация проблемы) и КОГДА (указание момента или временного периода, в котором наблюдается эта проблема). Модератор проверяет оформление несовершенства, и если оно оформлено верно, то поля помечаются зеленым маркером. В противном случае поля помечаются красным маркером и рядом появляется текст замечания.
%blockquote ВАЖНО! Если модератор не принял ваше несовершенство, не стесняйтесь задать ему уточняющий вопрос!

%img{:align => "BOTTOM", :border => "0", :height => "422", :src => "/assets/img/help/discontent_show.png", :width => "623"}/
%br
%br
%p При нажатии на кнопку «Комментировать» вы переходите в поле обсуждения несовершенства, где каждый участник может выразить свое мнение или предложить внести коррективы, если, по его мнению, несовершенство сформулировано некорректно.
%blockquote ВАЖНО! Даже критикуя, уважайте своих коллег! Помните: это не соревнование, а совместная работа.