%div{ style: 'width:50%;margin-left:53px;' }
  %h3
    %p
      %b 1 стадия. ВВЕДЕНИЕ В ПРОЦЕДУРУ
  %br
  %p
    Подготовительная стадия нужна для того, чтобы все участники хорошо поняли проблему, которую будут решать, и познакомились с правилами работы в процедуре.
  %p
    Авторизовавшись на сайте, участники получают доступ к разделам «Помощь» и «База знаний», где содержится подробное описание проблемы, для которой предстоит
    выработать решение, сведения о предметной области, к которой относится эта проблема, и другие справочные материалы.
  %br
  %blockquote
    %b.help-orange ВАЖНО!
    %br
    Обязательно ознакомьтесь с базой знаний. Это позволит вам сразу влиться в работу и не задавать лишних вопросов.
  %p
    Участие в процедуре начинается с форума. Для удобства работы основная тема процедуры разбивается на тематические подразделы — аспекты.
    Участники могут выдвигать новые аспекты и обсуждать предложенные, предлагая переформулировать, заменить или удалить их.
    Кроме того, участники могут добавлять новую информацию, относящуюся к процедуре. Если ее признают важной другие участники и модератор, она пополнит базу
    знаний. Те, кто внесет наиболее ценный вклад в обсуждение, награждаются премиальными баллами.
  %p
    Стадия завершается голосованием. Каждый участник получает определенное количество голосов, которое может отдать за аспекты из скорректированного списка.
    Аспекты, не прошедшие электоральный барьер, не рассматриваются на дальнейших стадиях процедуры. Участники, отдавшие все свои голоса за аспекты, вошедшие
    в окончательный список, награждаются премиальными баллами.

  %p А теперь посмотрим, как проходила первая стадия процедуры у четвероногих и пчел.

  %br

  %p
    Интернета в лесу не было, поэтому Сова в очном режиме повела участников по стадиям делания решения согласно MASSDECISION™.

  %p
    Для затравки Сова описала несколько примеров ситуаций win-win. Затем она рассказала, что предстоит делать в процедуре и каковы правила для участников.
    Четвероногие и пчелы задавали вопросы, и Сова их поощряла, так как понимала, что они никогда не занимались таким делом и их надо как можно лучше подготовить.
  %p
    Затем все стали обсуждать, какие темы стоит разрабатывать в процедуре. Предложений было много. В результате голосования приняли три темы:
  %p
    I. Мед и четвероногие
  %p
    II. Мед и пчелы
  %p
    III. Взаимоотношения четвероногих и пчел
  %br
  %div{ style: 'text-align:center;' }
    = image_tag 'img/help/picture_page_3.png', border: '0', height: '180'

  %br

