%h4
  %b
    4 этап
    %br/
    СОЗДАНИЕ ПРОЕКТОВ

%p
  На этом этапе участники получают возможность в полной мере проявить все навыки рационального мышления, приобретенные в ходе процедуры.

%p
  Желающие участники разрабатывают
  %bоригинальные
  проекты комплексного решения проблемы.
%p Чтобы проект был принят модератором, он должен содержать нововведения для всех обязательных несовершенств.
%p
  Работа по составлению проекта может включать в себя как
  %bкомпиляцию
  нововведений других участников, так и
  %bдобавление
  собственных нововведений.
%p
  Автор обязан добавить в свой проект подробный план
  %bпервого этапа его реализации.

%pПроекты, соответствующие требованиям процедуры MASSDECISION™, принимаются модератором и переходят на следующий этап.
