%div(style="width:50%;margin-left:53px;")
  %h3
    %p
      %b 4 СТАДИЯ: Разработка проектов

  %h4 I. Ознакомление с представленными проектами

  %p
    1. Выберите интересующий вас проект из списка и нажмите на кнопку
    %b.help-orange «Подробнее».

  %p
    2. На вкладке
    %b.help-orange «Описание проекта»
    вы можете ознакомиться с кратким описанием проекта, эссе и этапами его реализации.

  %p
    3. Для просмотра более подробного плана мероприятий по реализации проекта перейдите на вкладку
    %b.help-orange «План мероприятий».

  %p
    4. Для изучения нововведений, входящих в состав проекта, нажмите на вкладку
    %b.help-orange «Нововведения».
    Здесь вы сможете подробно изучить каждое нововведение, которое было включено автором проекта в план мероприятий.

  %p
    5. В самом низу страницы можно просмотреть комментарии и вопросы участников процедуры по данному проекту, а также оставить
    собственные комментарии.

  %br
  %br
  %h4 II. Добавление проекта
  %p
    Перед началом работы вам следует решить, какая из двух предлагаемых стратегий создания проектов более удобна для вас. Возможно, чтобы это определить, стоит чуть-чуть попробовать каждую из них.
  %p
    %b.help-orange 1-я стратегия
  %p
    %b.help-orange Путь от несовершенств

  %p
    Вы либо конспективно заполняете, либо пропускаете раздел «Эссе о проекте», в котором описывается, как будет работать ваша организация в будущем. Затем вы определяете совокупность нововведений, которые устраняют все обязательные несовершенства. Чтобы лучше понять, каким будет ваш проект, мы рекомендуем вам предварительно сделать два варианта совокупности: набор самых эффективных нововведений и набор, включающий минимальное количество нововведений. В первом случае возьмите самое важное, на ваш взгляд, несовершенство и выберите наиболее эффективно устраняющее его нововведение; потом со следующим по важности несовершенством проделайте то же самое и т. д. Во втором случае возьмите нововведение, действенно устраняющее наибольшее количество несовершенств, затем — нововведение, устраняющее наибольшее количество несовершенств, не устраненных при помощи первого нововведения, и так далее. Сопоставьте эти два варианта и выберите один из них, либо создайте новую совокупность, взяв из каждого варианта лучшее. Далее набросайте этапы проекта, распределив по ним нововведения из построенной вами совокупности. Только после этого возвращайтесь к эссе и опишите свой проект основательно и подробно, зримо представляя, какое будущее вы хотите создать при помощи этой совокупности нововведений. Проанализируйте ее и, возможно, переработайте с учетом сформированных представлений о будущем. Вы можете повторять эту процедуру необходимое число раз, пока ваш проект не станет логичным и цельным.
  %p
    %b.help-orange 2-я стратегия
  %p
    %b.help-orange Путь от общей идеи будущего

  %p
    При этом подходе вы начинаете с максимально подробного описания желаемого будущего в «Эссе о проекте», затем выделяете этапы реализации и выбираете для каждого из них нововведения уже исходя из того, какое будущее вы планируете создать. Если каких-то нововведений не хватает, смело добавляйте новые, затем возвращайтесь к эссе и уточняйте его.
  %p
    %b.help-orange Обратите внимание!
    Создание проекта – циклический процесс. Вы всегда можете вернуться как к работе с нововведениями, так и к описанию целей и составлению эссе о проекте. Пользуйтесь этой возможностью, чтобы сделать проект согласованным и цельным!
  %p
    1. Чтобы создать свой проект, нажмите на кнопку
    %b.help-orange «Добавить проект».

  %p
    2. Сформулируйте основные цели, которые вы ставите в вашем проекте. Опишите их в разделе
    %b.help-orange «Коротко о проекте»

  %p
    3. Постарайтесь составить максимально подробную полную картину будущего, в котором ваш проект уже реализован. Опишите ее в разделе
    %b.help-orange «Пояснения и обоснования».

  %p
    4. Нажмите на кнопку
    %b.help-orange «Сохранить»,
    чтобы ваш проект был добавлен в список со всеми сохраненными изменениями.

  %p
    5. Решите, из каких основных этапов будет состоять реализация вашего проекта. Добавьте эти этапы, нажав на кнопку
    %b.help-orange «Добавить этап в проект».

  %p
    %i
      Далее выполните следующие действия:

  %p а) Придумайте короткое и понятное название для этого этапа.

  %p б) Укажите даты начала и окончания реализации этого этапа.

  %p в) Составьте эссе по этапу, которое будет включать в себя описание функционирования организации в ходе реализации этого этапа.

  %p
    г) Нажмите на кнопку
    %b.help-orange «Сохранить».
    Повторяйте эти действия для каждого этапа, который хотите добавить в проект.

  %p
    д) Перейдите к подробному описанию добавленных вами этапов. Откройте вкладку
    %b.help-orange «План мероприятий».
    Здесь вы увидите все добавленные вами этапы с эссе и датами реализации.
    Под каждым этапом расположена таблица, состоящая из двух граф:
    %b.help-orange «Нововведения»
    и
    %b.help-orange «Мероприятия».

  %p
    – В графе «Нововведения» будут находиться все плодотворные, на ваш взгляд, нововведения, поданные участниками процедуры на
    третьей стадии, а также те нововведения, которые вы сами создадите на данном этапе.

  %p
    – В графе «Мероприятия» будут находиться мероприятия, привязанные к конкретным нововведениям из левого столбца.

  %p
    6. Нажмите на кнопку
    %b.help-orange «Добавить нововведение»
    в таблице интересующего вас этапа.

  %p
    %i
      Далее выполните следующие действия:

  %p
    а) Выберите из списка несовершенство, которое вы хотели бы устранить на данном этапе, и нажмите на кнопку
    %b.help-orange «Показать решения».

  %p
    б) В выпавшем списке выберите
    %b.help-orange «+»
    для каждого нововведения, которое вы собираетесь включить в свой проект. Вы можете добавить
    все интересующие вас нововведения сразу, не закрывая окна.

  %p
    7. Выйдите из окна добавления нововведений, нажав на кнопку
    %b.help-orange «Закрыть»

  %p
    8. В таблице напротив добавленных нововведений нажмите на кнопку
    %b.help-orange «Запланировать мероприятие».

  %p
    %i
      Далее выполните следующие действия:

  %p а) Укажите краткое название мероприятия.

  %p б) Укажите, если это возможно, даты начала и окончания мероприятия.

  %p в) Добавьте описание мероприятия, если его название не выполняет эту задачу в полном объеме.

  %p г) Укажите, какие ресурсы необходимы для проведения мероприятия.

  %p
    9. Нажмите на кнопку
    %b.help-orange «Сохранить»,
    чтобы мероприятие было добавлено в проект.

  %p
    10. Повторяйте шаги 6-9, пока не заполните весь проект. Проект сохраняется автоматически, поэтому в любой момент можно прервать
    работу и вернуться к ней позднее.

  %p
    11. Перейдите на вкладку
    %b.help-orange «Нововведения».
    Здесь при необходимости вы можете отредактировать нововведения, которые были использованы в вашем проекте.
