= link_to '/project/' + @project.id.to_s do
  %span.fa.fa-angle-double-left
  =t('link.back_proc')

%section.widget
  %div{ style: 'width:50%;margin-left:53px;' }
    %br
    <iframe width='560' height='315' src="//www.youtube.com/embed/zcg1OrGYoOE" frameborder='0' allowfullscreen></iframe>
    %br
    «Пояснение автора проекта Олега Савельзона»
    %br
    %br
    %h3.text-center
      %b О ПРОЕКТЕ
    %br
    %p
      %b.h4 MASSDECISION™
      — это интернет-технология, помогающая в выработке и принятии
      фундаментальных коллективных решений и подготовке их осуществления.

    %p
      Технология предназначена для массового использования и не требует специальных знаний в области принятия решений.

    %p
      MASSDECISION™ ведет участников по стадиям коллективной процедуры выработки и принятия решения. Она задает последовательность
      мыслительных действий и дискуссий, предоставляет для них правила, формы и техники, поясняет их применение и дает
      рекомендации и подсказки по придумыванию материалов, требуемых для выработки решения.

    %p
      Процедура MASSDECISION™ проводится в форме деловой игры. Участие в выработке и принятии решения может воплощаться в оценке,
      анализе и создании рабочих материалов. Вклад участника в общее дело в любом из трех видов деятельности вознаграждается
      баллами, которые конвертируются в премии по завершении процедуры.

    %h3
      %b Важная особенность MASSDECISION™

    %p
      Обычно люди воспринимают принятие решения как выбор курса действий, соответственно, и решение понимается как курс действий,
      то есть как ответ на вопрос «что делать?» Но курс действий — это лишь часть того, что рационально понимать под решением, ведь выбирая
      решение, разумный человек заботится о трех вещах:

    %p 1) высокое качество ожидаемого результата;

    %p 2) надежность его получения;

    %p 3) максимально простое и быстрое достижение результата при минимальных затратах.
    %br


    %h4
      %b Обратите внимание, что только третий пункт напрямую относится к курсу действий.

    %br
    %p
      Характерно, что вырабатывая нетехнические решения, люди обычно начинают с третьего
      пункта: намечают, что делать, а из этого выводят ожидаемый результат и надежность его
      получения. Между тем в технике все наоборот: сначала конструктор придумывает
      конструкцию, а потом технолог определяет, как действовать, чтобы создавать эту
      конструкцию. Этот же рациональный порядок рекомендует теория «делания» решений
      (theory of decision-making). Основная трудность для рядового пользователя, непривычного к
      такому порядку действий, заключается в воображении идеального реалистического
      будущего, и MASSDECISION™ предлагает оригинальные модели и техники для
      алгоритмического проектирования воображаемого будущего в организациях и
      неформальных сообществах.

    %p
      Часто хорошее решение не удается выработать из-за отклонений от рациональности,
      типичных для человеческого мышления. Вот несколько примеров таких отклонений:
    %p
      —
      %b.help-orange кратковременное выгадывание
      без учета долгосрочной перспективы;
    %p
      — склонность к
      %b.help-orange негативному целеполаганию,
      когда целью ставится не детально
      проработанный образ позитивного будущего, а уход от имеющегося негатива;
    %p
      — нежелание или неумение прогнозировать отрицательные побочные эффекты, которые
      могут возникнуть как в процессе, так и в результате реализации решения;

    %p
      — уклонение от выработки
      %b.help-orange нескольких вариантов решения;
    %p
      неготовность к 
      %b.help-orange компромиссу
      в случае, когда решение вырабатывается
    %p
      MASSDECISION™ предотвращает такие отклонения, а это значит, что процедура
      массового делания решений является рациональной. В результате применения
    %p
      MASSDECISION™ вырабатывается решение, включающее:
    %p
      — образ благоприятного будущего положения;
    %p
      — программу преобразования текущего положения;
    %p
      — подробное описание промежуточного положения после реализации первого этапа преобразований;
    %p
      — детальный план первого этапа преобразований.
