$('#edit_help_post_#{@post.id}').hide();
$("#help_content_#{@post.id}").html("#{escape_javascript(render partial: 'help_post_form', locals: { post: @post })}");
сommand_htmleditor('remove', 'some-textarea');
activate_htmleditor();
