=link_to '/project/'+@project.id.to_s do
  %span.fa.fa-angle-double-left
  =t('link.back_proc')
- if ['0','6'].include? params[:id]
  %section.widget
    = render partial:  @help_partial_1
- else
  %section.widget.widget-tabs
    %header
      %ul.nav.nav-tabs
        %li.active
          %a(href="#short_desc" data-toggle="tab") Теория
        %li
          %a(href="#long_desc" data-toggle="tab") Инструкции по работе

    .body.tab-content
      #short_desc.tab-pane.clearfix.active
        %br
        = render partial:  @help_partial_1
      #long_desc.tab-pane
        %br
        -if ['1','2'].include? params[:id]
          = render partial:  @help_partial_2


-#%section.widget.widget-tabs
-#  %header
-#    %ul.nav.nav-tabs
-#      %li.active
-#        %a(href="#short_desc" data-toggle="tab") Введение
-#      %li
-#        %a(href="#long_desc" data-toggle="tab") Подробное пояснение
-#
-#  .body.tab-content
-#    #short_desc.tab-pane.clearfix.active
-#      %br
-#      -unless @posts[1].nil?
-#        = @posts[1].content.html_safe
-#    #long_desc.tab-pane
-#      %br
-#      -unless @posts[2].nil?
-#        = @posts[2].content.html_safe

