%h3=t('form.plan.action.title')
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        =t('form.plan.action.title_full')
      %th(style="width:100px;")
        =t('form.plan.action.title_res')
  %tbody
    -unless form_actions.plan_post_actions.nil?
      - form_actions.plan_post_actions.each  do |action|
        %tr
          %td
            -if action.date_begin and action.date_end
              %small.color-green
                =Russian::strftime(action.date_begin, "%d %b %Y")
                ="-"
                =Russian::strftime(action.date_end, "%d %b %Y")
              %br
            =action.name
            %br
            =action.desc
          %td
            -unless action.plan_post_action_resources.nil?
              -action.plan_post_action_resources.each  do |res|
                .label.label-danger=res.name

    -unless @view_post_concept
      %tr(id="tr_new_concept_action_#{form_actions.id}")
        %td(colspan="3")
          =link_to new_action_plan_post_path(@project, @post, con_id: form_actions.id, view_concept: true), method: :put, remote: true, class: "btn btn-default btn-success btn-block", id: "btn_new_concept", style: "font-weight: normal;" do
            =t('form.plan.action.new')

%br
%h3=t('show.warning')
%h4=t('form.plan.action.desc_res')
- unless form_actions.plan_post_resources.by_type('positive_r').empty?
  -form_actions.plan_post_resources.by_type('positive_r').each do |res|
    .label.label-danger=res.name

