= form_for  form_for_main_plan, url: {project: @project.id, id: form_for_main_plan.id, action: 'update'}, remote: true, method: :put, html: { class: 'new_or_edit' } do |f|
  %legend.section
    =t('form.plan.desc')
  .form-group(style="margin-left:0;")
    %label.color-green{for: "name_plan"}=t('form.plan.name')
    =f.text_field :name, type: "text", class: "form-control", id: "name_plan"
  .form-group(style="margin-left:0;")
    %label{for: "goals"}
      %span.color-green=t('form.plan.short_desc')
      %small
    =f.text_area :goal, rows: 8, style: 'width: 100%;', class: "form-control", id: "goals", placeholder: t('form.plan.goal_promt')
    %span.help-block
      ="1) #{t('form.plan.goal_promt_1')}"
      %br
      ="2) #{t('form.plan.goal_promt_2')}"
      %br
      ="3) #{t('form.plan.goal_promt_3')}"
  .form-group(style="margin-left:0;")
    %label.color-green{for: "desc_plan"}=t('form.plan.study')
    =f.text_area :content, rows: 12, style: 'width: 100%;', class: "form-control", id: "desc_plan"
    %span.help-block=t('form.plan.desc_future')
  .color-green#plan_success(style='display:none;')
    =t('form.plan.update_success')
  .form-group
    %input.btn.btn-success.pull-right{type: "submit", id: "send_plan_post", value: t('form.save')}