.divider10
.content_window.bottom_panel_stop
  / stop bottom panel here
  %a.cont_heading.a_font_reset.bold.pocket_name.open-popup{"data-placement" => "cabinet5", "data-target" => "1"} Название пакета
.content_window.white.c_w_5
  .cont_heading
    %button.btn.btn_cab_mod.type2.btn_toggle.btn_reset.active Описание проектного предложения
  .divider10
  .row
    .col-md-4
      %ul.list-unstyled.tabs_type_2{:role => "tablist"}
        %li{:role => "presentation"}
          %a.a_font_reset{"data-toggle" => "tab", :href => "#cabinet_5_cont_1", :role => "tab"} Описание проекта
        %li{:role => "presentation"}
          %a.a_font_reset{"data-toggle" => "tab", :href => "#cabinet_5_cont_2", :role => "tab"} Организационные риски
        %li{:role => "presentation"}
          %a.a_font_reset{"data-toggle" => "tab", :href => "#cabinet_5_cont_3", :role => "tab"} Ресурсные риски
        %li{:role => "presentation"}
          %a.a_font_reset{"data-toggle" => "tab", :href => "#cabinet_5_cont_4", :role => "tab"} Риски реализации
    .col-md-8
      .tab-content.tab_cont5.ps_cont
        #cabinet_5_cont_0.tab-pane.active.fade.in{:role => "tabpanel"}
          .divider35
          .text-center
            =image_tag 'cab_5_qsign.png'
            .divider35
            %p.cab5_placeholder
              Здесь вы ответите на вопросы по пунктам слева,
              %br/
              для этого нажмите на одну из панелей, или знак вопроса
          .divider70
        #cabinet_5_cont_1.tab-pane.fade{:role => "tabpanel"}
          %h6.bold Цели и ожидаемые результаты
          %textarea.form-control{:rows => "5", :type => "text"}
          .divider15
          %h6.bold Краткое описание Проекта (усовершенствования)
          %textarea.form-control{:rows => "5", :type => "text"}
          .divider15
          %h6.bold Краткое описание Проекта (усовершенствования)
          %textarea.form-control{:rows => "5", :type => "text"}
          .divider25
        #cabinet_5_cont_2.tab-pane.fade{:role => "tabpanel"}
        #cabinet_5_cont_3.tab-pane.fade{:role => "tabpanel"}
        #cabinet_5_cont_4.tab-pane.fade{:role => "tabpanel"}





.divider70
#bottom-panel.bottom_fix
  .container
    .row
      .col-md-10
        .content_window.white
          .cont_heading
            %button.btn.btn_cab_mod.type2.btn_toggle.btn_reset.active Добавление задач в проектное предложение
            %button#bottom-opener.btn.btn_reset.btn_round30
              %i.fa.fa-arrow-up.font_white
          .divider10
          #workSpace(style="padding:0px; overflow-y:auto; overflow-x:hidden; border:1px solid #e5e5e5; position:relative; margin:0 5px; width:900px; height:600px;")



#gantEditorTemplates{:style => "display:none;"}
  .__template__{:type => "GANTBUTTONS"}
    /
      <div class="ganttButtonBar noprint">
      <h1 style="float:left">task tree/gantt</h1>
      <div class="buttons">
      <button onclick="$('#workSpace').trigger('undo.gantt');" class="button textual" title="undo"><span class="teamworkIcon">'</span></button>
      <button onclick="$('#workSpace').trigger('redo.gantt');" class="button textual" title="redo"><span class="teamworkIcon">·</span></button>
      <span class="ganttButtonSeparator"></span>
      <button onclick="$('#workSpace').trigger('addAboveCurrentTask.gantt');" class="button textual" title="insert above"><span class="teamworkIcon">l</span></button>
      <button onclick="$('#workSpace').trigger('addBelowCurrentTask.gantt');" class="button textual" title="insert below"><span class="teamworkIcon">X</span></button>
      <span class="ganttButtonSeparator"></span>
      <button onclick="$('#workSpace').trigger('indentCurrentTask.gantt');" class="button textual" title="indent task"><span class="teamworkIcon">.</span></button>
      <button onclick="$('#workSpace').trigger('outdentCurrentTask.gantt');" class="button textual" title="unindent task"><span class="teamworkIcon">:</span></button>
      <span class="ganttButtonSeparator"></span>
      <button onclick="$('#workSpace').trigger('moveUpCurrentTask.gantt');" class="button textual" title="move up"><span class="teamworkIcon">k</span></button>
      <button onclick="$('#workSpace').trigger('moveDownCurrentTask.gantt');" class="button textual" title="move down"><span class="teamworkIcon">j</span></button>
      <span class="ganttButtonSeparator"></span>
      <button onclick="$('#workSpace').trigger('zoomMinus.gantt');" class="button textual" title="zoom out"><span class="teamworkIcon">)</span></button>
      <button onclick="$('#workSpace').trigger('zoomPlus.gantt');" class="button textual" title="zoom in"><span class="teamworkIcon">(</span></button>
      <span class="ganttButtonSeparator"></span>
      <button onclick="$('#workSpace').trigger('deleteCurrentTask.gantt');" class="button textual" title="delete"><span class="teamworkIcon">¢</span></button>
      <span class="ganttButtonSeparator"></span>
      <button onclick="saveGanttOnServer();" class="button first big" title="save">save</button>
      </div></div>
  .__template__{:type => "TASKSEDITHEAD"}
    /
      <table class="gdfTable" cellspacing="0" cellpadding="0">
      <thead>
      <tr style="height:40px">
      <th class="gdfColHeader" style="width:35px;"></th>
      <th class="gdfColHeader" style="width:25px;"></th>
      <th class="gdfColHeader gdfResizable" style="width:30px;">code/short name</th>
      <th class="gdfColHeader gdfResizable" style="width:300px;">name</th>
      <th class="gdfColHeader gdfResizable" style="width:80px;">start</th>
      <th class="gdfColHeader gdfResizable" style="width:80px;">end</th>
      <th class="gdfColHeader gdfResizable" style="width:50px;">dur.</th>
      <th class="gdfColHeader gdfResizable" style="width:50px;">dep.</th>
      <th class="gdfColHeader gdfResizable" style="width:200px;">assignees</th>
      </tr>
      </thead>
      </table>
  .__template__{:type => "TASKROW"}
    /
      <tr taskId="(#=obj.id#)" class="taskEditRow" level="(#=level#)">
      <th class="gdfCell edit" align="right" style="cursor:pointer;"><span class="taskRowIndex">(#=obj.getRow()+1#)</span> <span class="teamworkIcon" style="font-size:12px;" >e</span></th>
      <td class="gdfCell noClip" align="center"><div class="taskStatus cvcColorSquare" status="(#=obj.status#)"></div></td>
      <td class="gdfCell"><input type="text" name="code" value="(#=obj.code?obj.code:''#)"></td>
      <td class="gdfCell indentCell" style="padding-left:(#=obj.level*10#)px;">
      <div class="(#=obj.isParent()?'exp-controller expcoll exp':'exp-controller'#)" align="center"></div>
      <input type="text" name="name" value="(#=obj.name#)">
      </td>
      <td class="gdfCell"><input type="text" name="start"  value="" class="date"></td>
      <td class="gdfCell"><input type="text" name="end" value="" class="date"></td>
      <td class="gdfCell"><input type="text" name="duration" value="(#=obj.duration#)"></td>
      <td class="gdfCell"><input type="text" name="depends" value="(#=obj.depends#)" (#=obj.hasExternalDep?"readonly":""#)></td>
      <td class="gdfCell taskAssigs">(#=obj.getAssigsString()#)</td>
      </tr>
  .__template__{:type => "TASKEMPTYROW"}
    /
      <tr class="taskEditRow emptyRow" >
      <th class="gdfCell" align="right"></th>
      <td class="gdfCell noClip" align="center"></td>
      <td class="gdfCell"></td>
      <td class="gdfCell"></td>
      <td class="gdfCell"></td>
      <td class="gdfCell"></td>
      <td class="gdfCell"></td>
      <td class="gdfCell"></td>
      <td class="gdfCell"></td>
      </tr>
  .__template__{:type => "TASKBAR"}
    /
      <div class="taskBox taskBoxDiv" taskId="(#=obj.id#)" >
      <div class="layout (#=obj.hasExternalDep?'extDep':''#)">
      <div class="taskStatus" status="(#=obj.status#)"></div>
      <div class="taskProgress" style="width:(#=obj.progress>100?100:obj.progress#)%; background-color:(#=obj.progress>100?'red':'rgb(153,255,51);'#);"></div>
      <div class="milestone (#=obj.startIsMilestone?'active':''#)" ></div>
      <div class="taskLabel"></div>
      <div class="milestone end (#=obj.endIsMilestone?'active':''#)" ></div>
      </div>
      </div>
  .__template__{:type => "CHANGE_STATUS"}
    /
      <div class="taskStatusBox">
      <div class="taskStatus cvcColorSquare" status="STATUS_ACTIVE" title="active"></div>
      <div class="taskStatus cvcColorSquare" status="STATUS_DONE" title="completed"></div>
      <div class="taskStatus cvcColorSquare" status="STATUS_FAILED" title="failed"></div>
      <div class="taskStatus cvcColorSquare" status="STATUS_SUSPENDED" title="suspended"></div>
      <div class="taskStatus cvcColorSquare" status="STATUS_UNDEFINED" title="undefined"></div>
      </div>
  .__template__{:type => "TASK_EDITOR"}
    /
      <div class="ganttTaskEditor">
      <table width="100%">
      <tr>
      <td>
      <table cellpadding="5">
      <tr>
      <td><label for="code">code/short name</label><br><input type="text" name="code" id="code" value="" class="formElements"></td>
      </tr><tr>
      <td><label for="name">name</label><br><input type="text" name="name" id="name" value=""  size="35" class="formElements"></td>
      </tr>
      <tr></tr>
      <td>
      <label for="description">description</label><br>
      <textarea rows="5" cols="30" id="description" name="description" class="formElements">
