
%ul.leftlink
	%li= link_to "Обсуждаются", '/plan/posts', class: cp_frustration('/plan/posts') 
	%li= link_to "Архив", "/plan/posts/status/1" , class: cp_frustration('/plan/posts/status/1') 
	%li= link_to "Принятые", "/plan/posts/status/3", class: cp_frustration('/plan/posts/status/3')
	- if admin? or expert?
		%li= link_to "На рассмотрении", "/plan/posts/status/2", class: cp_frustration('/plan/posts/status/3')


.redtitle Задачи, обязательные для каждого проекта
%div.topics
	%p.greentitle 1. Оценивание студентами качества образования 
%div.topics
	%p.greentitle 2. «Горячая линия» 
%div.topics
	%p.greentitle 3. Видео лекций 	
%div.topics
	%p.greentitle 4. Содействие в устройстве на практику, стажировку и работу 
%div.topics
	%p.greentitle 5. Представление студентов перед потенциальными работодателями 
%div.topics
	%p.greentitle 6. Видеоконференции с малыми группами 
	
%div.topics
	%p.greentitle 7. Разбор материала на жизненных примерах 
