=render 'shared/journal_news_feed', :journals => @journals, :news => @news
.panel.panel-info
    .panel-heading Обратите внимание!
    .panel-body
        За каждое добавленное несовершенство вы можете получить от 10 до 30 баллов.
        Базовое несовершенство оценивается в
        %span.text-success 10 баллов
        Если помимо обязательного поля вы заполните два необязательных, это принесет вам 10 дополнительных баллов.
        Если добавленное вами несовершенство будет относиться к категории  «Отсутствующие достоинства», вы получите еще 10 баллов.


