-if table
  -if light_concept.name.present?
    .text-left
      %h5.color-orange
        %b A1.
        =t('form.novation_what')
      %p=light_concept.name

  -if light_concept.content.present?
    .text-left
      %h5.color-orange
        %b A2.
        =t('form.novation_how')
      %p=light_concept.content

-else
  -if params[:new_idea]
    -@id_collapse = "collapse_plus_concept_#{light_concept.id}"
  -else
    -@id_collapse = "collapse_plus_concept_#{dispost.id}_#{light_concept.id}"
  %div.collapse.text-left{:id => @id_collapse}
    -if light_concept.name.present?
      .color-teal
        %b A1.
        =t('form.novation_what')
      %p
        =light_concept.name
    -if light_concept.content.present?
      .color-teal
        %b A2.
        =t('form.novation_how')
      %p
        =light_concept.content
    -if light_concept.positive.present?
      .color-teal
        %b B1.
        =t('form.cond')
      %p
        =light_concept.positive
