#modal_new_stage.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel.modal-title Добавление этапа в проект
      .modal-body
        -#= form_tag(plan_posts_add_new_stage_path(@project, add_dis_id: @plan_post, save_stage: true), {method: :post, remote: true, id: 'form_add_stage'}) do
        = form_for stage, :url => {:project => @project.id, :stage_id => stage.persisted? ? stage.id : nil, :action => stage.persisted? ? 'update_stage' : 'create_stage'}, :remote => true, :method => :put do |f|
          = render 'shared/error_messages', :object => f.object
          .control-group
            %label.control-label{:for => "name_stage"} Название этапа
            .controls.form-group
              .col-md-10
                =f.text_field :name, :class => 'form-control', placeholder: 'Введите название нового этапа', id:'name_stage'
                %span.help-block Короткое название этапа
          .control-group
            %label.control-label{:for => "desc_stage"} Эссе по этапу
            .controls.form-group
              .col-md-10
                =f.text_area :desc, :class => 'form-control', :rows => 4, placeholder: 'Введите описание нового этапа', id:'desc_stage'
                %span.help-block Опишите ваше видение проекта в будущем в рамках данного этапа
          .col-md-6
            .form-group
              %label{:for => "date_begin"} Дата начала реализации
              =f.text_field :date_begin, :class => 'form-control datepicker', id:'date_begin'
              -#%input#date_begin.form-control.datepicker{:name => "date_begin", :type => "text", :value => ""}/
          .col-md-6
            .form-group
              %label{:for => "date_end"} Дата окончания реализации
              =f.text_field :date_end, :class => 'form-control datepicker', id:'date_end'
              -#%input#date_end.form-control.datepicker{:name => "date_end", :type => "text", :value => ""}/
          .pull-right
            -#%button.btn.btn-default(type = "button" data-dismiss="modal") Закрыть
            =f.submit 'Сохранить', :id  => "send_post", class: 'btn btn-success'
      %br
      .modal-footer
        %button.btn.btn-default(type = "button" data-dismiss="modal") Закрыть