.media{id: "post_#{post.id}"}
  -if post.user
    = render 'users/user_post', user: post.user
  .media-body
    -if post.user
      .media-heading
        =link_to post.user, user_path(@project, post.user)
    %span.color-green=post.name
    %span
      -if boss?
        =link_to t('link.more'), plan_post_path(@project, post), class: "btn btn-primary btn-xs"
        |
        = render 'shared/post_edit_bar', post: post
      -else
        =link_to t('link.more'), plan_post_path(@project, post)
    %br
    =post.goal
    = render 'shared/post_social_bar2', post: post