.row.plus-concept(id="tr_right_list_concept_#{right_concept_post.id}")
  .col-md-11
    - if right_concept_post.title!=''
      =link_to view_concept_plan_post_path(@project, @post, con_id: right_concept_post.id, new_idea: true), method: :get, remote: true, class: "color-teal", "data-toggle"=> "collapse", "data-target"=> "collapse_right_list_concept_#{right_concept_post.id}", style: "text-decoration:none;", id: "view_post_concept_#{right_concept_post.id}" do
        =right_concept_post.title
    - else
      =t('show.without_name')
  .col-md-1
    .pull-right
      =link_to destroy_concept_plan_post_path(@project, @post, con_id: right_concept_post.id, stage_id: @post_stage, fast_remove: true), method: :delete, remote: true, data: {confirm: t('confirm.delete_concept')}, id: "destroy_post_concept_#{right_concept_post.id}" do
        %button.btn.btn-sm.btn-danger{type: "button"}
          %i.fa.fa-minus
.concept-devider