-#$('#theall ul').append()
-#
-#-@post.post_aspects_other.each do |d|
-#          %li
-#            %a(href="#dis_#{d.id}" data-toggle="tab")="#{d.title}"
-#            <a class="text-success" href="#essay1" data-toggle="tab"