$('#add_new_stage').html('<a id="btn_new_stage" class="btn btn-lg btn-success btn-block" data-remote="true" data-method="put" style="font-weight: normal;" href="/project/2/plan/posts/#{@plan_post.id}/new_stage">Добавить этап в проект</a>');
$('#second').removeClass('disabled');
$('#third').removeClass('disabled');
$('#btn_next').removeClass('disabled');
$('#send_plan_post').css('display','none');


