$('#add_new_stage').html('<a id="btn_new_stage" class="btn btn-lg btn-success btn-block" data-remote="true" data-method="put" style="font-weight: normal;" href="/project/2/plan/posts/#{@plan_post.id}/new_stage">Добавить этап в проект</a>');
$('#second').removeClass('disabled');
$('#third').removeClass('disabled');
$('#btn_next').removeClass('disabled');
$('#send_plan_post').html('Сохранить');
-#$('#second').append('<div id="option_for_render_table" project="#{@project.id}" post="#{@plan_post.id}"></div>');
-#$('#second').on('click', function() {
-#  var optsel = $("#option_for_render_table");
-#  var project_id = parseInt(optsel.attr('project'));
-#  var post_id = parseInt(optsel.attr('post'));
-#  return $.ajax({
-#  url: "/project/" + project_id + "/plan/posts/" + post_id + "/render_table",
-#  type: "put"
-#  });
-#});




