$('#modal_new_stage').modal('hide');
$('#table_stage_list').html("#{escape_javascript(render :partial => 'post_stage', :collection => @post.post_stages )}");
-#$('#post_stages table tbody').append("#{escape_javascript(render :partial => 'post_stage', :object => @post_stage )}");