$('#modal_action').empty();
$('#modal_action').html("#{escape_javascript(render :partial => 'modal_new_action', :locals => { :action => @post_action })}");
autocomplete_initialized();
$('#modal_new_action').modal('show');
activate_datepicker();
-#autocomplete_initialized();