- if signed_in?
	= link_to image_tag('add_project.png'), new_plan_post_path
/ -else
/ 	Авторизуйтесь, чтобы добавить проект

= render :partial => 'shared/post', :collection => @posts
= will_paginate @posts
