.stage-info-sort-block
  .row
    %br/
    .col-md-7
      %span.stage-heading
        Проекты
        ="(#{@posts.count})"
        %i.fa.fa-question-circle
    .col-md-5
      .sort-block.pull-right
        %span.sort-label Сортировать:
        %span.sort-date
        %span.sort-rate
        %span.sort-all ВСЕ
        - if @project.can_add_content?(name_controller)
          = link_to project_user_path(@project, current_user) do
            %button.btn.add-button
              %span> +
              Проект
.stage-post-block
  .row
    = render partial: 'post_short', collection: @posts


#render_plan_post









-#.project
-#  %h4 Проекты
-#  - if signed_in? and (@project.status == 9 or @project.demo?)
-#    = link_to t('form.plan.new'), project_user_path(@project, current_user), id: 'add_plan', class: 'add-project btn btn-mass-red'
-#  .container
-#    - @posts.each_slice(2) do |post|
-#      .row.projects
-#        = render partial: 'post', locals: {post: post.first} if post.first
-#        = render partial: 'post', locals: {post: post.second} if post.second
-#
-##for_show_project_modal
