- content_for :cabinet_form do
  = render partial: 'form'

- content_for :cabinet_sidebar do
  .divider200
  -#.content_window.white.r_u_sure_vert.del
  -#  %p.text-center Вы уверены, что хотите удалить пакет?
  -#  %div
  -#    %button.btn.btn_reset.font_white Да
  -#    %button.btn.btn_reset.font_white Нет
  .divider20
  - if @post.persisted?
    = link_to 'Удалить', plan_post_path(@project, @post), method: :delete, data: {confirm: t('confirm.delete_plan')}, id: "destroy_plan_#{@post.id}", class: 'btn add-button type3 del a_font_reset'
    .divider10
  %button.btn.add-button.type3.dark-green#to_save_plan Сохранить и выйти
  .divider10
  - unless @post.published?
    %button.btn.add-button.type3.dark-green#to_publish_plan Опубликовать

= render 'gantt_panel'
