-if @render_type == 'edit'
  $('#table_stages').html("#{escape_javascript(render :partial => 'render_table')}");
-elsif @render_type == 'show'
  $('#table_stages').html("#{escape_javascript(render :partial => 'render_table_show')}");

