$('#render_plan_post').empty();
$("#render_plan_post").html('#{escape_javascript(render partial: 'modal_plan_post')}');
magnificPopupOpen('#popup-plan');
comments_feed();
comments_expandable_column();
if ($('#gantEditorTemplates').length >0){
ge = new GanttMaster();
ge.init($("#workSpace"));
project = #{@post.tasks_gant.to_json.html_safe};
project.canWrite = false;
ge.loadProject(project);
setTimeout(function() { ge.gantt.refreshGantt()}, 3000);
-#ge.gantt.refreshGantt();
}