$('#render_for_post').empty();
$("#render_for_post").html('#{escape_javascript(render partial: 'popup_post')}');
magnificPopupOpen('#popup-plan');
comments_feed();
comments_expandable_column();
if ($('#gantEditorTemplates').length >0){
ge = new GanttMaster();
ge.init($("#workSpace"));
project = #{@post.tasks_gant.to_json.html_safe};
project.canWrite = false;
ge.loadProject(project);
setTimeout(function() { ge.gantt.refreshGantt()}, 3000);
-#ge.gantt.refreshGantt();
}

$('.with_arrow').click(function () {$(this).find('i.collapse_arrow').toggleClass('fa-rotate-90');});
$('.with_plus').click(function () { $(this).find('i.collapse_plus').toggleClass('fa-plus').toggleClass('fa-minus');});

history_change("#{plan_posts_path(@project)}");
comments_collapse_column();