= form_for @note, :url => to_expert_save_plan_post_path, :method => :put  do |f|
	Добавьте, если нужно комментарий для эксперта и нажмите отправить
	.field
		=f.text_area :content
	.action
		=f.submit '', class: 'btn'