%section.widget
  %header
    .row
      .col-md-12
        %h3.color-green
          4 этап: Создание проектов. Ознакомьтесь перед началом работы!
  .body
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
      .carousel-inner
        .item.active
          %img{alt: "", style: 'margin: auto;', src: "/assets/img/to_work/to_work_4_0.png"}/

        .item
          %img{alt: "", style: 'margin: auto;', src: "/assets/img/to_work/to_work_4_1.png"}/

        .item
          %img{alt: "", style: 'margin: auto;',src: "/assets/img/to_work/to_work_4_2.png"}/

      %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic", role: "button"}
        %span.glyphicon.glyphicon-chevron-left(style='color:#e5603b')
      %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic", role: "button"}
        %span.glyphicon.glyphicon-chevron-right(style='color:#e5603b')


%section.widget
  .body
    .row
      .col-md-12
        =link_to "Приступить к работе!", @path_link, class: 'btn btn-lg btn-danger btn-block', id: 'to_work'