save_last_concept_tabs();
var old_concept_id = $("#option_for_render_old_concept_side").attr("concept");
var new_concept_id = $("#option_for_render_new_concept_side").attr("concept");
if (old_concept_id != new_concept_id){ save_last_concept(); $.ajax({ url: "/project/#{@project.id}/plan/posts/#{@post.id}/get_concept", type: "get", data: {con_id: new_concept_id}  }); }
