%h1 Создаем оформленное недовольство

.notification На основе своего недовольства попытайтесь оформить его в окончательном виде.  Будьте внимательны.
%br
= render 'frustrations/form', :url  => update_to_struct_frustration_path(@frustration.id,  :author_comment => @author_comment)


%b Текст вашего недовольства
= @frustration.content.html_safe





