- if frustration_for_expert?(@frustration)
	.notification
		Недовольство на рассмотрении эксперта, скоро по нему будет вынесено решение 

- elsif current_user?(@frustration.user) and !have_negative_comments?(@frustration)
	.notification 
		У недовольства нет негативных комментариев, но вы все равно можете
		=link_to " снять его с рассмотрения?", archive_frustration_path(@frustration), :method => :put, :confirm => "Уверены?"

-elsif current_user?(@frustration.user)
	.error Есть негативные  комментарии, чтобы снять с рассмотрения - воспользуйтесь ими

%br

- if show_link_to_structuring?(@frustration)
	.notification 
		Пришло время и вы можете 
		=link_to "сделать недовольство оформленным", edit_to_struct_frustration_path(@frustration.id)

- elsif show_link_to_expert_with_negative_comments?(@frustration)
	.error 
		Есть негативные комментарии, в случае неуспеха получите штраф в 50 балов! Все равно 
		=link_to "отправить эксперту ", to_expert_frustration_path(@frustration),:method => :put, :confirm => "50 балов ведь потеряете!" 
		или
		=link_to "отправить эксперту, предварительно отредактировав", edit_to_expert_frustration_path(@frustration),:method => :get, :confirm => "Уверены?"

- elsif show_link_to_expert?(@frustration)
	.success
		Прошло положенное время и вы можете свою неудовлетворенность 
		=link_to "отправить эксперту", to_expert_frustration_path(@frustration),:method => :put, :confirm => "Уверены?"
		или
		=link_to "отправить эксперту, предварительно отредактировав", edit_to_expert_frustration_path(@frustration),:method => :get, :confirm => "Уверены?"  

- elsif current_user?(@frustration.user) 
	.notification Три дня еще не прошло, следите за состоянием своих недовольств в личном аккаунте.


%table{:class => "frustrations"}
	= render 'shared/feed_item', :feed_item => @frustration


- unless @frustration.comments_after_structuring.empty?
	%h2 Комментарии после оформления
	= render @frustration.comments_after_structuring

- unless @frustration.comments_before_structuring.empty?
	%h2 Комментарии до оформления
	= render @frustration.comments_before_structuring


- if current_user?(@frustration.user) or frustration_in_expert_status?(@frustration) or not user?
	%br
	.error Нет возможности для комментирования
- elsif signed_in?
	= render 'frustration_comments/form'

