%h5.text-center.color-teal
  %b Нововведение:
  =concept_for_discussion.title
%table.table.table-striped
  %tr
    %th
      %b=t('form.novation_what')
    %th
      %b=t('form.novation_how')

  %tr
    %td=concept_for_discussion.name
    %td=concept_for_discussion.content