%h5.text-center.color-teal=concept_for_discussion.title
%br
.text-center
  %p.h5.color-teal
    =t('form.novation_what')
  %br
  =concept_for_discussion.name
%br
.text-center
  %p.h5.color-teal
    =t('form.novation_how')
  %br
  =concept_for_discussion.content