%h4.text-center Добавьте свое нововведение к предложенному несовершенству. Вы можете выбрать другое несовершенство, добавить несколько нововведений или закончить работу с нововведениями
%hr
.col-md-12
  .row
    .col-md-12
      .text-center
        %p.h5.color-teal
          Краткое название вашего нововведения
        %br
        =text_field_tag "concept_post_aspect[title]",'', style: 'width: 100%; height: 30px', placeholder:'Введите краткое название для своего нововведения'
        %br
  .row
    .col-md-12
      .text-center
        %h6.color-green
          %b A 1
        %p.h5
          =t('form.novation_what')
        %br

  .row
    .col-md-6
      .text-right
        %i
          %h6 Предположим, вы оказались в будущем. Что там есть такого, что исправляет несовершенство?
          %h6.color-green Пример:
          %h6.text-muted Решаемое несовершенство:
          %span.label.label-default что
          %span.text-muted Пыльный и отвратительный на вид большой пустырь
          %br
          %span.label.label-default где
          %span.text-muted во дворе между домами
          %br
          %span.label.label-default когда
          %span.text-muted в теплое время года
          %br
          %h6.color-green Предлагаемое нововведение:
          %p Большой зеленый газон по всему пустырю  с клумбой посредине. Клумба засеяна красными многолетными цветами.
    .col-md-6
      .form-group.has-danger
        =text_area_tag "concept_post_aspect[name]",'', :class => "concept_cond form-control", rows: 12, style: 'width: 100%;'
  .row
    .col-md-12
      .text-center
        %h6.color-green
          %b A 2
        %p.h5
          =t('form.novation_how')
        %br
  .row
    .col-md-6
      .text-right
        %i
          %h6.color-green Пример:
          %p Трава газона и декоративные растения на клумбе будут привлекательны на вид и предотвращать появление пыли.
    .col-md-6
      .form-group.has-danger
        =text_area_tag "concept_post_aspect[content]",'', :class => "concept_cond form-control", rows: 12, style: 'width: 100%;'






