
%ul.leftlink
	%li= link_to "Обсуждаются", '/concept/posts', class: cp_frustration('/concept/posts') 
	%li= link_to "Архив", "/concept/posts/status/1" , class: cp_frustration('/concept/posts/status/1') 
	%li= link_to "Принятые", "/concept/posts/status/3", class: cp_frustration('/concept/posts/status/3') 

.redtitle Выбранные недовольства
%div.topics
	%p.greentitle Первое 		
	%p.righttext Описание