- if boss?
    .panel.panel-info
        .panel-heading Панель Администратора
        .panel-body
            -if @project.status == 7
                =link_to 'Начать голосование',  next_stage_core_project_path(@project), id: 'change_stage'
            -if @project.status == 8
                =link_to 'Вернуться к сбору нововедений',  pr_stage_core_project_path(@project), id: 'change_stage'





=render 'shared/journal_news_feed', :journals => @journals, :news => @news

.panel.panel-info
    .panel-heading Обратите внимание!
    .panel-body
        За добавленное нововведние(решение) вы получите 200 баллов