#modal_save_concept.modal.fade{"aria-hidden"=> "true", "aria-labelledby"=> "myModalLabel", role: "dialog", style: "display: none;", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden"=> "true", "data-dismiss"=> "modal", type: "button"} ×
      .modal-body
        %h3.text-center.color-green=t('show.create_concept_success')
        %hr
        .text-center
          .col-md-6
            %a.btn.btn-lg.btn-primary(data-dismiss="modal") Добавить еще одно
          .col-md-6
            =link_to 'Перейти к списку', "/project/#{@project.id}/concept/posts?asp=#{@aspect_id}", class: "btn btn-lg btn-success"
        %br
        %br

