.innov-single.box-shadow-1.rounded-3.drag-block.drag2
  .row.post-header
    .col-xs-8
      %span.post-header-text.color.mass-red
        %i.fa.fa-check-circle>
        Модернизированная система аналитики
    .col-xs-4.post-header-date
      %span
        21.12.2014
  .post-center-block
    .post-text
      .text-arrow.pull-right
      %span
        Материалы-шпаргалки*, которые будут находиться под рукой у ПС на кассе или висеть
        рядом на стене. Удобные в использовании, максимально компактные, лаконичные,
        позволяющие ПС быстро по симптомам осуществить рекомендацию покупателю...
  #themes4.post-themes
    %a.tag-stripe.color-N1{:href => "#"}
      %span.tag Слишком низкие потолки в офисах
    %a.tag-stripe.color-N4{:href => "#"}
      %span.tag низкие потолки в офисах
    %a.tag-stripe.color-N9{:href => "#"}
      %span.tag Низкие потолки и нечем дышать в офисах
    %a.tag-stripe.color-N3{:href => "#"}
      %span.tag дышать в офисах
