.tab-pane.fade.in{id:"desript_"+"#{post.id}"}
  .cab_cont_h450
    .ps_cont
      .divider15
      .stripe-qa
        .lined-heading.back_color_stage3_superpale
          %span.bold-stripe Суть идеи, что и как будет изменено?
        %p
          = post.goal
      .stripe-qa
        .lined-heading.back_color_stage3_superpale
          %span.bold-stripe Кто будет действовать иначе после реализации идеи?
        %p
          = post.actors
      .stripe-qa
        .lined-heading.back_color_stage3_superpale
          %span.bold-stripe Чьи интересы будут затронуты?
        %p
          = post.impact_env
      .divider10