.panel.panel-default
  .panel-heading
    %h4
      Нововведение
      =number
  .panel-body
    .concept-name
      %h5.text-info=t('form.novation_what')
    =simple_format(post_for_vote.name)

    .concept-name
      %h5.text-info=t('form.novation_how')
    =simple_format(post_for_vote.content)

    .concept-name
      %h5.text-info=t('form.cond')
    =display_content(post_for_vote.positive)

    .concept-name
      %h5.text-info=t('form.cond_res')
    =display_content(post_for_vote.positive_r)

    .concept-name
      %h5.text-info=t('form.negative')
    =display_content(post_for_vote.negative)

    .concept-name
      %h5.text-info=t('form.negative_res')
    =display_content(post_for_vote.negative_r)

    .concept-name
      %h5.text-info=t('form.problems')
    =display_content(post_for_vote.problems)

    .concept-name
      %h5.text-info=t('form.reality')
    =display_content(post_for_vote.reality)
    %hr
    =link_to({:controller => 'concept/posts', :action => :next_vote, :id => post_for_vote.id, :dis_id =>@discontent_post.id, :num => number},:remote => true,:method => :put, :id => "btn_vote_#{number}", :class => "note_text") do
      .btn.btn-lg.btn-primary
        Нововведение
        =number

