-if boss? 
	%p.righttext
		текущий статус проекта
		%br
		%span.rate= status_title(@project.status)
	%br
	-if @project.status == 5
		=link_to 'Начать голосование',  next_stage_core_project_path(@project), id: 'change_stage'
	-if @project.status == 6
		=link_to 'Вернуться к этуп сбора концепций',  pr_stage_core_project_path(@project), id: 'change_stage'
		%br
		=link_to 'Начать сбор проектов',  next_stage_core_project_path(@project), id: 'change_stage'
%h1 Хотите узнать что такое концепции?
%p.righttext
	Тогда срочно смотрите 
	= link_to 'раздел помощь', '/help3'
	, мы подготовили для вас несколько очень наглядных схем.
	и 
	= link_to 'видео ролик!', '/help3#video'
	Если проблема срочная пишите на портале Малыгину А.В. 
	или  в скайп malygin.andrey
	или на почту anmalygin@gmail.com


%h1 Тех. поддержка
%p.righttext
	Что-то непонятно? 
	= link_to 'Задайте вопрос', question_posts_path(@project.id)



