-if boss? 

	%br
	-if @project.status == 5
		=link_to 'Начать голосование',  next_stage_core_project_path(@project), id: 'change_stage'
	-if @project.status == 6
		=link_to 'Вернуться к этуп сбора концепций',  pr_stage_core_project_path(@project), id: 'change_stage'
		%br
		=link_to 'Начать сбор проектов',  next_stage_core_project_path(@project), id: 'change_stage'

%h1 Тех. поддержка
%p.righttext
	Что-то непонятно? 
	= link_to 'Задайте вопрос', question_posts_path(@project.id)




