$('#accordion_concept').append('#{escape_javascript(render partial: 'concept/posts/resolve_discontent', collection: @aspect.accepted_posts, as: :p )}');
$('.wymeditor').wymeditor({html: '<ol><li>Первое условие<ul><li>Ресурс1 </li><li>Ресурс2 </li></ul></li><li>Второе условие<ul><li>Ресурс1 </li><li>Ресурс2 </li></ul></li></ol>', skin: 'compact',logoHtml: '',toolsItems: [{'name': 'InsertUnorderedList', 'title': 'список ресурсов', 'css': 'wym_tools_unordered_list'},{'name': 'Indent', 'title': 'На уровень вправо', 'css': 'wym_tools_indent'},{'name': 'Outdent', 'title': 'На уровень влево', 'css': 'wym_tools_outdent'}]});
$( '#accordion_concept' ).accordion("refresh");

