- if @concept_post.errors.any?
  $("#notice_messages").html('#{escape_javascript(render partial: 'shared/notice_messages', locals: {object: @concept_post})}');
  window.scrollTo(0,0)
  $('#send_post_concept').button('reset');
- else
  $("#tab-for_content").html('Спасибо за добавленное нововведение!');
