.redtitle На доработку
= form_for @note, :url => expert_revision_save_concept_post_path, :method => :put  do |f|
	Поясните, что нужно доработать и нажмите отправить
	.field
		=f.text_area :content
	.action
		=f.submit '', class: 'btn'