
%table.table.table-striped
  %thead
    %tr
      %th
      %th.text-success Несовершенства (проблемы):
      %th.text-success(style='min-width: 300px;') Варианты нововведений (решений):

  %tbody
    -@aspects.each do |aspect|
      %tr
        %td
          %span.label.label-info=aspect.content
        %td
        %td
      -aspect.posts.each do |post|

        %tr
          %td
          %td
            =render partial:'discontent/posts/post_short2', object: post

          %td
            -if  @project.status == 7
              %a.btn.btn-primary.btn-sm.pull-right(href="/project/#{@project.id}/concept/posts/new?dis_id=#{post.id}") Добавить нововведение (решение)
            %br
            %br

            - post.concept_conditions.each  do |pa|
              - if pa.concept_post.status == 0
                .panel.panel-success
                  .panel-body.nov-list
                    =pa.name
                    =link_to 'подробнее', concept_post_path(@project, pa.concept_post)



