-#- if not current_user.answered_for_help_stage?(3) and not @mini_help.nil?
-#  =render partial: 'shared/small_help', object: @mini_help
#render_fast_discussion_concepts
  =render partial:'form_wizard'
%section.widget
  %header
    .row
      .col-md-9
        %h3.color-orange
          3 этап: Формулирование проблемы.
          =@aspect_post.content
          %br
          %small
            Сбор идей для решения несовершенств в рамках процедуры:
            =@project.name
      - if signed_in? and @project.status == 7
        .col-md-3
          .pull-right
            = link_to 'Быстрый cтарт!', concept_posts_fast_discussion_concepts_path(@project) ,remote: true, id: 'fast_discussion_concepts',  class: 'btn btn-lg btn-warning'

  .body
    %br
    %br
    .row
      .col-md-12
        %section.widget
          .body


            -@aspect_post.aspect_posts.by_status(4).each do |post|
              .row
                .col-md-6
                  =render partial:'discontent/posts/post_short2', object: post
                .col-md-6
                  %h4 Предложенные решения
                  %br
                  %table.table.table-striped.table-bordered
                    %thead
                      %tr
                        %th
                          ="#"
                        %th
                          Название / Автор
                        %th
                          Статус
                        %th
                          Заполненность
                    %tbody
                      - post.dispost_concepts.each_with_index  do |pa, index|
                        - if pa.status == 0
                          %tr
                            %td
                              =index+1
                            %td
                              =link_to pa.post_aspects.first.title, concept_post_path(@project, pa)
                            %td
                              -if class_for_concept_type(pa) == 'panel-p'
                                %span.color-green Проверено

                              -else
                                Проверяется
                            %td
                              %span.h4.color-orange
                                =status_for_concept(pa.post_aspects.first)
                      -if  @project.status == 7
                        %tr
                          %td{:colspan => 4, :style => "font-weight: normal !important;"}
                            %a.btn.btn-lg.btn-warning.btn-block(href="/project/#{@project.id}/concept/posts/new?dis_id=#{post.id}&asp_id=#{@aspect_post.id}" style="font-weight: normal !important;")
                              Добавить свое решение

              .row
                .col-md-12
                  %hr