$('#render_concept_post').empty();
$("#render_concept_post").html('#{escape_javascript(render partial: 'modal_concept_post')}');
-#$('#modal_show_comments').modal('show');
magnificPopupOpen('#popup-innov');
comments_feed();