-if @post.post_notes(@type.to_i).size == 0
  -if @post.send(column_for_type_field('concept_note', @type.to_i)).nil?
    $('##{id_for_concept_type(@type.to_i)}').removeClass('color-green color-red').addClass('color-orange');
  -else
    $('##{id_for_concept_type(@type.to_i)}').removeClass('color-orange color-red').addClass('color-green');