%h3 Голосование за нововведения
%section
  %header
    %h5
      Выберите
      %b одно из двух
      нововведений, которое на Ваш взгляд является лучшим решением поставленной проблемы
  .body
    %span Пара:
    %span#prog_now=@votes
    из
    %span#prog_all=@post_all
    .progress
      .progress-bar.progress-bar-success{"aria-valuemax"=> "100", "aria-valuemin"=> "0", role: "progressbar", style: "width: #{((@votes-1)/@post_all.to_f)*100}%;"}
    #dispost
      = render partial: 'discontent/posts/post_content', object: @discontent_post
    %br
    %br

    #concept_success(style="display:none;")
      %section
        .body
          .text-center
            %h3 Спасибо за участие в голосовании!
            .col-md-6
              =link_to "Перейти к рефлексии", new_essay_post_path(@project, 3),class: "btn btn-lg btn-success"
            .col-md-6
              =link_to "Перейти к списку нововведений", concept_posts_path(@project),class: "btn btn-lg btn-primary"
          %br
          %br
    .row
      .col-md-6
        %section
          .body
            #left-concept
              =render partial: 'post_for_vote', object: @concept1, locals: {number: 1}
      .col-md-6
        %section
          .body
            #right-concept
              =render partial: 'post_for_vote', object: @concept2, locals: {number: 2}