.container
  .row.cabinet_popup_links
    .col-md-6.no_padding_col
      .cab_pop_l.l_col1.open-popup#first{ 'data-placement' => 'cab2', 'data-target' => '1' }
        %span
          То, что не достаточно хорошо
          %br/
          %small
    .col-md-6.no_padding_col
      .cab_pop_l.l_col2.open-popup{ 'data-placement' => 'cab2', 'data-target' => '1' }
        %span
          То, что хорошо, но можно существенно улучшить
          %br/
          %small
    .col-md-6.no_padding_col
      .cab_pop_l.l_col3.open-popup{ 'data-placement' => 'cab2', 'data-target' => '1' }
        %span
          То, что мешает работе
          %br/
          %small
    .col-md-6.no_padding_col
      .cab_pop_l.l_col4.open-popup{ 'data-placement' => 'cab2', 'data-target' => '1' }
        %span
          То, чего не хватает
          %br/
          %small

.popup-window.detailed_popup.popup-w800.mfp-hide#popup-cab2-1
  = yield :discontent_form
