.techniq
  .row
    .col-md-6
      .open-modal#first{ 'data-placement' => 'cab2', 'data-target' => '1' }
        То, что не достаточно хорошо
    .col-md-6
      .open-modal{ 'data-placement' => 'cab2', 'data-target' => '1' }
        То, что хорошо, но можно существенно улучшить
    .col-md-6
      .open-modal{ 'data-placement' => 'cab2', 'data-target' => '1' }
        То, что мешает работе
    .col-md-6
      .open-modal{ 'data-placement' => 'cab2', 'data-target' => '1' }
        То, чего не хватает

.modal.fade#modal-1
  .modal-dialog
    %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' } &times;
    = yield :discontent_form
