%button.btn.btn-primary#first{'data-target' => '#discontent_detailed_form_modal', 'data-toggle' => 'modal', type: 'button'}
  То, что не достаточно хорошо
%button.btn.btn-primary{'data-target' => '#discontent_detailed_form_modal', 'data-toggle' => 'modal', type: 'button'}
  То, что хорошо, но можно существенно улучшить
%button.btn.btn-primary{'data-target' => '#discontent_detailed_form_modal', 'data-toggle' => 'modal', type: 'button'}
  То, что мешает работе
%button.btn.btn-primary{'data-target' => '#discontent_detailed_form_modal', 'data-toggle' => 'modal', type: 'button'}
  То, чего не хватает

#discontent_detailed_form_modal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', role: 'dialog', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
          %span{'aria-hidden' => 'true'} ×
        %h4#discontent_detailed_form_modalLabel.modal-title
          = t('form.discontent.title')
      .modal-body
        = yield :discontent_content
        = yield :what_whend_where
      .modal-footer
        = f.submit t('form.save'), class: 'btn btn-primary pull-right send-post', id: 'send_post'
        %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'} Закрыть
