-#%h3.text-center Форма добавления несовершенства
%h4.text-center Добавьте свое несовершенство к предложенной теме. Вы можете изменить тему, добавить несколько несовершенств или закончить работу с несовершенствами.
-#= form_for  @post, :url => {:project => @project.id, :action => 'create'},  :remote => true, :html => { :id => 'new_discontent' } do |f|
.col-md-12
  .row
    .col-md-12
      .text-center
        .h5
          Что вас не устраивает?
        %br

  .row
    .col-md-6
      .text-right
        %i
          %b Примеры:
          %br
          %span.label.label-danger  Имеющиеся недостатки
          %br
          %span.label.label-danger что
          Пыльный и отвратительный на вид большой пустырь
          %br
          %span.label.label-success  Отсутствующие достоинства
          %br
          %span.label.label-success что
          Отсутствие декоративных растений
    .col-md-6
      .form-group
        =text_area_tag 'discontent_post[content]','', class: 'form-control', rows: 5, placeholder: 'Отрицательное действие, явление, установление, черта', onkeyup: "activate_button(this);"

  .row
    .col-md-12
      .text-center
        .h5
          Где это происходит?
        %br

  .row
    .col-md-6
      .text-right
        %i
          %b Примеры:
          %br
          %span.label.label-danger где
          во дворе между домами
          %br
          %span.label.label-success где
          в вестибюлях и подъездах

    .col-md-6
      =autocomplete_field_tag "discontent_post[whered]",'', autocomplete_discontent_post_whered_discontent_posts_path, :"min-length" => 0, style: 'height: 44px', class: 'form-control autocomplete', placeholder: 'Место, организация, общность, в которой это происходит '
      %br
      %br
  .row
    .col-md-12
      .text-center
        .h5
          Когда это происходит?
        %br

  .row
    .col-md-6
      .text-right
        %i
          %b Примеры:
          %br
          %span.label.label-danger когда
          в теплое время года
          %br
          %span.label.label-success когда
          всегда
    .col-md-6
      =autocomplete_field_tag "discontent_post[whend]",'', autocomplete_discontent_post_whend_discontent_posts_path, :"min-length" => 0, style: 'height: 44px', class: 'form-control autocomplete', placeholder: 'Во время какого события, мероприятия, процесса, ситуации '

  .row
    .col-md-12
      .form-group.text-center
        %b  Выберите тип несовершенства
        %label.radio-inline
          = radio_button_tag 'discontent_post[style]', '1'
          %span.text-danger Имеющиеся недостатки
        %label.radio-inline
          = radio_button_tag 'discontent_post[style]', '0'
          %span.text-success Отсутствующие достоинства

  %br
  -#%button#send_post.btn.btn-primary(type="submit" onclick='disontent_form_submit();') Сохранить




