#modal_fast_discussion_discontents.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel.modal-title Быстрая работа с несовершенствами
      .modal-body
        #option_for_select_discontent{project: "#{@project.id}"}
        #wizard.form-wizard
          %ul.wizard-navigation.nav-justified
            %li
              %a{"data-toggle" => "tab", :href => "#tab1"}
                %small
                  1.
                %strong Обзор
            - if @project.status == 3
              %li
                %a{"data-toggle" => "tab", :href => "#tab2"}
                  %small
                    2.
                  %strong Добавить

          #bar.progress.progress-small
            .progress-bar
          .tab-content
            #tab1.tab-pane
              .form-horizontal
                %fieldset
                  #form_fast_discussion_comment_discontent

            #tab2.tab-pane
              .form-horizontal
                %fieldset
                  #form_fast_discussion_add_discontent
