.panel.panel-success
    .panel-heading
        Обратите внимание!
    .panel-body
        В центральном блоке представлены все обсуждаемые темы, в рамках которых вам предлагается найти всевозможные несовершенства.
        %br
        Нажмите на кнопку
        %b"ДОБАВИТЬ НЕСОВЕРШЕНСТВО"
        и опишите проблему.
        %br
        %i Совет: Старайтесь формулировать короткие и емкие несовершенства, -  они приводят к более качественным решениям.
=render 'shared/journal_news_feed', :journals => @journals, :news => @news

