#modal_save_discontent.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', role: 'dialog', style: 'display: none;', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
      .modal-body
        %h3.text-center.color-green  Ваше несовершенство добавлено! Вы можете добавить еще одно или перейти к просмотру списка несовершенств.
        %hr
        .text-center
          .col-md-6
            %a.btn.btn-lg.btn-primary(data-dismiss="modal") Добавить еще одно
          .col-md-6
            = link_to 'Перейти к списку', "/project/#{@project.id}/discontent/posts?asp=#{@aspect_id}", class: 'btn btn-lg btn-success'
        %br
        %br
