#modal_update_discontent.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', role: 'dialog', style: 'display: none;', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
      .modal-body
        %h3.text-center.color-green=t('form.update_success')
        %hr
        .text-center
          .col-md-6
            = link_to t('link.go_show'), discontent_post_path(@project, @post), class: 'btn btn-lg btn-primary'
          .col-md-6
            = link_to 'Перейти к списку', "/project/#{@project.id}/discontent/posts?asp=#{@aspect_id}", class: 'btn btn-lg btn-success'
        %br
        %br
