#popup-explanation-2.popup-window.popup-explanation.popup-w710.mfp-hide.welcome_popup{class: "#{shown_intro('discontent_intro')}"}
  .popup.popup_rounded
    .modal_badge.back_color_stage2.rounded_2.font_white 2 СТАДИЯ
    %h2
      = image_tag 'good-shot1.png', class: "expl-header-img-1"
      Цель стадии
    %p.expl-sub-heading
      На этой стадии вам предстоит выявить проблемы, связанные с ситуацией, описанной в базе знаний,
      и принять участие в обсуждении проблем, выявленных другими участниками. В нашей терминологии такие проблемы называются несовершенствами.
      В конце стадии вы проголосуете за те несовершенства, которые, на ваш взгляд, совершенно необходимо устранить для исправления
      текущей ситуации.
    %h2
      = image_tag 'flag1.png', class: "expl-header-img-2"
      С чего начать?
    = link_to discontent_posts_check_field_path(@project, check_field: "discontent_intro", status: true), method: :put, remote: true do
      %button.btn.red.close_magnific Начать работу