= render partial: 'discontent/posts/post_field', :locals => {:post_field => post_content, :field => post_content.content, :type_fd => 1}
= render partial: 'discontent/posts/post_field', :locals => {:post_field => post_content,:field => post_content.whered, :type_fd => 2}
= render partial: 'discontent/posts/post_field', :locals => {:post_field => post_content, :field => post_content.whend,:type_fd => 3}
