.media{id: "post_#{post_short2.id}"}
  -if  @project.status == 7
    %input{name: "cd[]", type: "hidden", value: "#{post_short2.id}"}
    -unless @remove_able.nil?
      %span.glyphicon.glyphicon-remove.text-danger.pull-left{onclick: "remove_discontent_post('#{post_short2.id}');", style: "cursor:pointer;text-decoration:none;font-size:15px;"}
  =discontent_style_name(post_short2.style)
  .media-body
    = render partial: 'discontent/posts/post_content', object: post_short2

