- if @post.errors.any?
  $("#notice_messages").html('#{escape_javascript(render partial: 'shared/notice_messages', locals: {object:@post})}');
  window.scrollTo(0,0);
- else
  $('#tab-for_content').html('Спасибо за добавленное несовершенство!');
