- unless @posts.nil?
  $("#discontent_warning").fadeIn()
  $("#discontent_success").fadeOut()
  $('#posts').html("#{escape_javascript(render  @posts)}")
  $('#send_post').html('Все равно сохранить')
  -#$('#send_post').toggleClass('disabled')
  $('#new_discontent').append('<input id="new_discontent_hidden" type="hidden" name="resave" value="true" />');
-else
  $("#discontent_success").fadeIn()
  $("#discontent_warning").fadeOut()
  $('#posts').html("")
  $('#send_post').html('Сохранить')
  -#$('#send_post').toggleClass('disabled')

  $('#discontent_post_content').val('')
  $('#discontent_post_whered').val('')
  $('#discontent_post_whend').val('')

  $('#new_discontent_hidden').remove();



-#$('#Send').animate({left: 0, opacity: 0},  "normal",  function(){$('#Send').css('display','none')})
-#$("#new_life_tape").animate({height: 0}, "normal", function(){$('#new_life_tape').css('display','none')})
-#
-#$("#new_life_tape").val('')
-#$('#posts').prepend("#{escape_javascript(render :partial => 'shared/post', :object => @post)}")
-#$('#post_#{@post.id}').effect("highlight", {color: '#f5cecd'}, 1000);
-#
