- if @post.errors.any?
  $("#notice_messages").html('#{escape_javascript(render partial: 'shared/notice_messages', locals: {object:@post})}');
  window.scrollTo(0,0);
- else
  $('#modal_discontent_form').modal('hide');
  $("#{escape_javascript(render partial: 'post_short', object: @post )}").insertBefore("#tab_aspect_posts > div:first");
  $("#discontent_post_#{@post.id}").effect("highlight",{color: '#f5cecd'}, 3000);

