- if signed_in?
    = link_to '+ Добавить свое несовершенство в список', new_discontent_post_path(@project) , id: 'add_record',  class: 'btn btn-sm btn-success'
    %br
= render  @posts
= will_paginate @posts