alert('#{t('show.discontent.grouped_success')}');
$('#set_grouped_#{@post.id} span').html('#{t('show.discontent.grouped')}');
$('#set_grouped_#{@post.id} span').removeClass('text-warning').addClass('text-success');
