%p#notice= notice

-unless @post.post.nil?
  %b Переопределяемое несовершенство
  =simple_format(@post.post.show_content)
  = link_to 'Подробнее', :action => 'show', :project => @project, :id => @post.post.id
  %br
  %br
  =image_tag 'dots.png', :width =>'450px;'

- if @post.status == 2
  %b
    = link_to 'Переопределить', :action => 'new', :project => @project, :replace_id => @post.id
= render 'shared/post_show', :post => @post


