$('#render_discontent_post').empty();
$("#render_discontent_post").html('#{escape_javascript(render partial: 'modal_discontent_post')}');
magnificPopupOpen('#popup-imperf');
comments_feed();
comments_expandable_column();

