%h3.color-red
  2 этап: Сбор несовершенств. Ознакомьтесь перед началом работы!

#carousel-example-generic.carousel.slide{'data-ride' => 'carousel'}
  %ol.carousel-indicators
    %li.active{'data-slide-to' => '0', 'data-target' => '#carousel-example-generic'}
    - 1.upto(10) do |index|
      %li{'data-slide-to' => "#{index}", 'data-target' => '#carousel-example-generic'}
  .carousel-inner
    .item.active
      %img{alt: '', style: 'margin: auto;', src: '/assets/img/to_work/1b.png'}/
    - 2.upto(11) do |index|
      .item
        %img{alt: '', style: 'margin: auto;', src: "/assets/img/to_work/#{index}b.png"}/

  %a.left.carousel-control{'data-slide' => 'prev', href: '#carousel-example-generic', role: 'button'}
    %span.glyphicon.glyphicon-chevron-left(style='color:#e5603b')
  %a.right.carousel-control{'data-slide' => 'next', href: '#carousel-example-generic', role: 'button'}
    %span.glyphicon.glyphicon-chevron-right(style='color:#e5603b')
