- if @post.valid?
  $('.notice_messages').hide();
  $('#create_discontent_success').fadeIn(3000).fadeOut('slow');
- else
  $('.notice_messages').html("#{escape_javascript(render 'shared/notice_messages', object: @post)}");
