
%h3 Голосование за самые актуальные несовершенства

- unless @number_v<1  and not boss?
  .alert.alert-info
    %h3.text-danger
      =t('voting.have_votes')
      %b#count_vote=@number_v

%table.table
  %tr
    %td
    %td(style='min-width: 400px;')
      %span.label.label-p  Отсутствующие достоинства
    %td(style='min-width: 400px;')
      %span.label.label-n  Имеющиеся недостатки
  -@aspects.each do |aspect|
    %tr
      %td
        %span.label.label-t=aspect.content
      %td
        =render partial:'post_for_vote', collection: aspect.negative_posts.by_status(@status)

      %td
        =render partial:'post_for_vote', collection: aspect.positive_posts.by_status(@status)

