.row
  .col-md-12
    %h3
      2 этап: Анализ ситуации. Голосование
      %br
      %small(style='font-size: 20px;line-height: 30px;')
        Голосование за несовершенства в рамках процедуры:
        =@project.name

%section.widget
  %header
    %h5 Определение наиболее важных проблем:
  .body
    %span Несовершенство:
    %span#prog_now=@votes != @post_all ? @votes+1 : @votes
    из
    %span#prog_all=@post_all
    .progress
      .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{(@votes/@post_all.to_f)*100}", role: "progressbar", style: "width: #{(@votes/@post_all.to_f)*100}%;"}

    -@posts.each do |post|
      =render partial: 'post_for_vote', object: post
    #vote_success.text-internal.text-center(style="display:none;" )
      %h3 Спасибо за участие в голосовании!
      .col-md-6
        =link_to "Перейти к рефлексии", new_essay_post_path(@project, 2),:class => "btn btn-lg btn-success"
      .col-md-6
        =link_to "Перейти к списку несовершенств", discontent_posts_path(@project),:class => "btn btn-lg btn-primary"
      %br
      %br