-#
-#%h3 Голосование за самые актуальные несовершенства
-#
-#- unless @number_v<1  and not boss?
-#  .alert.alert-info
-#    %h3.text-danger
-#      =t('voting.have_votes')
-#      %b#count_vote=@number_v
-#
-#%table.table
-#  -@aspects.each do |aspect|
-#    %tr
-#      %td(colspan=3)
-#        %span.label.label-t=aspect.content
-#    %tr
-#      %td
-#        %span.label.label-p  Отсутствующие достоинства
-#      %td
-#        %span.label.label-n(style='min-width: 300px;')  Имеющиеся недостатки
-#
-#    %tr
-#      %td
-#        =render partial:'post_for_vote', collection: aspect.negative_posts.by_status(@status)
-#
-#      %td
-#        =render partial:'post_for_vote', collection: aspect.positive_posts.by_status(@status)
.row
  .col-md-12
    %h3
      2 этап: Анализ ситуации.
      %br
      %small(style="color:white;" )
        Голосование за несовершенства в рамках процедуры:
        =@project.name


%section.widget
  %header
    %h5 Определение наиболее важных проблем:
  .body
    %span Несовершенство:
    %span#prog_now=@votes != @post_all ? @votes+1 : @votes
    из
    %span#prog_all=@post_all
    .progress
      .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{(@votes/@post_all.to_f)*100}", role: "progressbar", style: "width: #{(@votes/@post_all.to_f)*100}%;"}

    -@posts.each do |post|
      =render partial: 'post_for_vote', object: post
    #vote_success.text-internal(style="display:none;" )
      %h3 Спасибо за участие в голосовании!