%html
  %head
    =render 'meta'
  %body.background.landing
    .container
      %header.page-header
        %a(name='top')
        =render 'header_no_current_project'
    #about.widget.widget-about
      .container
        = yield
