%html
  %head
    =render 'meta'
  %body
    #wrapper
      #header
        =render 'header_no_current_project'

      #middle
        #container
          #content_wider
            = yield

    #footer
      = render 'footer'


