%html
  %head
    =render 'meta'
  %body
    #wrapper
      #header
        =render 'header_no_current_project'
      #middle
        #container
          #content_wider
            - flash.each do |key, value|
              -if key == :success
                .success
                  =value
              -else 
                .error
                  =value
            = yield 
 
    #footer
      = render 'footer' 


