!!! 5
%html(lang="en")
  %head
    =render 'meta'
  %body.background.landing
    .container
      %header.page-header
        %a(name='top')
        =render 'header_no_current_project'
    #about.widget.widget-white.widget-about
      .container
        .col-sm-offset-1.col-sm-10
          = yield

    %h2.thanks.text-align-center
      Контакты: тел. +7-937-242-888-1, email: Gorlitskiy@mass-decision.ru
    %p.lead.text-align-center
      %a.back-to-top(href="#top")
        наверх
        %i.fa.fa-angle-up
  /
    Javascripts
    \==================================================
  / Placed at the end of the document so the pages load faster
  = javascript_include_tag 'application'


