%html
  %head
    =render 'meta'
  %body
    #wrapper
      #header
        =render 'header_no_current_project'
        %br
        %br
        =link_to image_tag('fb.png'),'http://www.facebook.com/massdecision'
        =link_to image_tag('tw.png'),'https://twitter.com/massdecision'
        =link_to image_tag('vk.png'),'https://vk.com/massdecision'
        =link_to image_tag('ok.png'),'http://odnoklassniki.ru/group/56725703557182'

        =mail_to 'massdecision@gmail.com', image_tag('mail.png')
        

        %br        

        %b По всем вопросам   suslova@mass-decision.ru, тел. 77-01-82 (Татьяна Суслова)
        %br
        %br
        //=render 'top_menu_main'
      #middle
        #container
          #content_wider
            - flash.each do |key, value|
              -if key == :success
                .success
                  =value
              -else 
                .error
                  =value
            = yield 
 
    #footer
      = render 'footer' 


