
=render 'shared/journal_news_feed', :journals => @journals, :news => @news

%br
.panel.panel-info
    .panel-heading Обратите внимание!
    .panel-body
        За каждую добавленную вами тему вы получите
        %span.text-success 10 баллов.
        Если ваша тема наберет пять голосов, то вы получите еще
        %span.text-success 10 баллов!
        %br
        Если вы предложите новый аспект, который будет включен в список рассматриваемых, то получите
        %span.text-success 30 баллов!