- if boss? and @project.status < 3
    .panel.panel-info
        .panel-heading Панель Администратора
        .panel-body
            -if @project.status == 1
                =link_to 'Начать голосование',  next_stage_core_project_path(@project), id: 'change_stage'
            -if @project.status == 2
                =link_to 'Вернуться к началу процедуры',  pr_stage_core_project_path(@project), id: 'change_stage'
                %br
                =link_to 'Начать сбор несовершенств',  next_stage_core_project_path(@project), id: 'change_stage'
- if boss?
    .panel.panel-default
        .panel-heading
            %button.btn.btn-default.btn-sm.pull-right(onclick="reset_filter_aspects();" ) Сбросить
            Темы процедуры
        .panel-body
            -#.pull-right
            -#    %button.btn.btn-default.btn-sm(onclick="reset_filter_aspects();" ) Сбросить
            -#%br
            = form_tag({:controller => "life_tape/posts", :action=> "index"},{ method: :get, remote: true, id: 'aspects_list' }) do
                #aspects_lister
                    - @aspects.each do |asp|
                        = render :partial => 'discontent/aspects/aspect_form', :object => asp
                %button.btn.btn-default.inv_element#filter-aspect(type="submit") Сохранить
            -if current_user.boss?
                =link_to new_discontent_aspect_path(@project),:remote => true,:id => "new_aspect" do
                    %span.label.label-success +добавить аспект
#aspect_modal
=render 'shared/journal_news_feed', :journals => @journals, :news => @news
-#
-#%br
-#.panel.panel-info
-#    .panel-heading Обратите внимание!
-#    .panel-body
-#        За каждую добавленную вами тему вы получите
-#        %span.text-success 10 баллов.
-#        Если ваша тема наберет пять голосов, то вы получите еще
-#        %span.text-success 10 баллов!
-#        %br
-#        Если вы предложите новый аспект, который будет включен в список рассматриваемых, то получите
-#        %span.text-success 30 баллов!