#modal_fast_discussion_topics.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel.modal-title Быстрое обсуждение тем
      .modal-body
        #form_fast_discussion
          = render :partial => 'form_fast_discussion', :locals => { :aspect => @aspect, :post_show => @post_show }
      .modal-footer
        = link_to 'Пропустить тему', life_tape_posts_fast_discussion_topics_path(@project, aspect: @aspect, empty_discussion: true), remote: true, id: 'empty_discussion', class: 'btn btn-danger'
        %button.btn.btn-default(type = "button" data-dismiss="modal") Закрыть

