%h1 Новости
%p.righttext
	Мы запускаем новую версию портала! Новые возможности будут добавляться  и мы будем оповещать вас об этом.
	= link_to 'посмотрите раздел помощь!', '/help'
	и 
	= link_to 'комментарий эксперта на эту тему', '/articles#06'

.redtitle Топ записей


.redtitle Рекомендованные вам

