%h1 Новости
%p.righttext
	Добавлено голосование за комментарии в постах, завтра будет голосование за и против самих постов.
	= link_to 'посмотрите раздел помощь!', '/help'
	и 
	= link_to 'комментарий эксперта на эту тему', '/articles#06'

.redtitle Топ записей


.redtitle Рекомендованные вам

%p.righttext
	Эта тема представляется наиболее перспективной в ракурсе дальнейшей выработки решений по улучшению ДО СГУ. Общеизвестно, что любой добросовестный производитель какой-либо услуги, предлагаемой на продажу, заинтересован в обратной связи со стороны потребителей данной услуги.
	= link_to "Подробнее", '/life_tape/posts/9', class: 'more'


