%h1 Что нужно сделать в первую очередь?
%p.righttext 
	1. Ознакомьтесь с темой нашей процедуры
	%br
	2. Прочитайте раздел помощь (там вы узнаете больше о нашем рациональных процедурах)
	%br
	3. Изучите базу знаний, в которой подробно рассказывается о том, как сейчас рабоает "ИРБИС" и идеи по работе заочки
	%br
	4. Примите участие в обсуждении (делитесь идеями, задавайте вопросы)




- unless @aspects.empty?
	%h1 Список фрагментов
= render :partial => 'discontent/aspects/aspect', :collection => @aspects
-if boss? 
	%p.righttext= link_to 'добавить фрагмент', new_discontent_aspect_path, id: "add_aspect"


-if boss?
	%p.righttext 
		текущий статус проекта
		%br
		%span.rate= status_title(@project.status)
		%br
		-if @project.status == 1
			=link_to 'Начать голосование',  next_stage_core_project_path(@project), id: 'change_stage'
		-if @project.status == 2
			=link_to 'Вернуться к началу процедуры',  pr_stage_core_project_path(@project), id: 'change_stage'
			%br
			=link_to 'Начать сбор недовольств',  next_stage_core_project_path(@project), id: 'change_stage'









