- if boss?
    .panel.panel-info
        .panel-heading Панель Администратора
        .panel-body
            -if @project.status == 1
                =link_to 'Начать голосование',  next_stage_core_project_path(@project), id: 'change_stage'
            -if @project.status == 2
                =link_to 'Вернуться к началу процедуры',  pr_stage_core_project_path(@project), id: 'change_stage'
                %br
                =link_to 'Начать сбор недовольств',  next_stage_core_project_path(@project), id: 'change_stage'


= render 'shared/discussed_panel', post_star: @post_star, post_dis: @post_dis

- unless @aspects.empty?
    .panel.panel-default
        .panel-heading
            %button.btn.btn-default.btn-sm.pull-right(onclick="reset_filter_aspects();" ) Сбросить
            Аспекты процедуры
        .panel-body
            -#.pull-right
            -#    %button.btn.btn-default.btn-sm(onclick="reset_filter_aspects();" ) Сбросить
            -#%br
            = form_tag({:controller => "life_tape/posts", :action=> "index"},{ method: :get, remote: true, id: 'aspects_list' }) do
                - @aspects.each do |asp|
                    = render :partial => 'discontent/aspects/aspect_form', :object => asp
                %button.btn.btn-default.inv_element#filter-aspect(type="submit") Сохранить
            -if current_user.boss?
                =link_to new_discontent_aspect_path(@project),:remote => true,:id => "new_aspect" do
                    %span.label.label-success +добавить аспект
#aspect_modal

/ = render :partial => 'discontent/aspects/aspect', :collection => @aspects










