$('#filter-aspect').animate({left: 0, opacity: 0},  "normal",  function(){$('#filter-aspect').css('display','none')})
$('#posts').fadeOut(500, function() {$('#posts').html("#{escape_javascript(render :partial => 'shared/post', :collection => @posts)}").fadeIn();});
$('#posts').append("#{escape_javascript(will_paginate @posts)}");
