- if signed_in?
	= link_to image_tag("add_record.png"), new_life_tape_post_path
- unless @category.nil?
	%h1=@category.name
	=simple_format(@category.long_desc)
- @life_tape_posts.each do |post|
	= render post, :more => true
= will_paginate @life_tape_posts

			

/ = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete
%br


