.success 
	Внимание! 1 этап процедуры "Анализ ситуации" начнется 
	%b 1 сентября

- if signed_in?
	= link_to image_tag("add_record.png"), new_life_tape_post_path, id: "add_record"
	%br
%br
= render :partial => 'shared/post', :collection => @posts
= will_paginate @posts

