%h1 Цели и задачи процедуры
%p=raw(@project.desc)
%br

- if signed_in?
	= link_to image_tag("add_record.png"), new_life_tape_post_path, id: "add_record"
	%br
%br
= render :partial => 'shared/post', :collection => @posts
= will_paginate @posts

