
%h1 Цели и задачи нашей процедуры
%p Существуют различные модели философского рассмотрения рациональности. Так, Макс Вебер различает формальную и субстантивную рациональность. Первая состоит в способности осуществлять калькуляцию и расчет в рамках принятия экономического решения. Субстантивная рациональность относится к более обобщенной системе ценностей и стандартов, которые интегрированы в мировоззрение[1]. В других моделях рациональности в качестве её основы рассматривались согласованность, эмпирическая адекватность, способность к росту содержательного знания.
%p В плюралистических трактовках подчёркивается, что рациональность представляет собой конструкт, выполняющий роль методологического обоснования знания, но не имеющий универсального объективного референта. Применительно к разным культурам и эпохам выделяют свои виды рациональности: рациональность Нового времени, классическая рациональность, неклассическая рациональность и т. п. Каждой из таких рациональностей свойственен свой стиль мышления, свои проблемы и методы их решения, свой особый тип разума, порождающий такое знание, которое для данной эпохи и культуры считается рациональным. Предпринимаются и попытки выделить общие для всех видов рациональности черты.


- if signed_in?
	= link_to image_tag("add_record.png"), new_life_tape_post_path
	%br
/ = render @posts
%table
	%tr
		%th Посты пользователей
		%th Посты экспертов
	%tr
		%td= render :partial => 'shared/post', :collection => @posts_user
		%td= render :partial => 'shared/post', :collection => @posts_facil
			

/ = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete
%br


