$('#set_vote_#{@post.id}').toggleClass('btn-danger btn-success');
$('#set_vote_#{@post.id} i').toggleClass('glyphicon-remove glyphicon-ok');
- if @post.status == 0
  $('#set_vote_#{@post.id} span').html('Убрать');
- else
  $('#set_vote_#{@post.id} span').html('Вернуть');
