$('#set_vote_#{@post.id}').toggleClass('glyphicon-remove glyphicon-ok text-danger text-success');
-if @post.status == 0
  $('#set_vote_#{@post.id}').html('set one');
-else
  $('#set_vote_#{@post.id}').html('set nil');