%p 
	= link_to comment_frustration.user.surname, comment_frustration.user

%p
	= comment_frustration.content

%span{:class=>"timestamp"}
	= time_ago_in_words(comment_frustration.created_at)

/ = link_to 'Удалить комментарий', [comment_frustration.frustration, comment_frustration], :confirm => 'Точно?', :method => :delete 
%hr