
= form_for [@frustration, @frustration.comment_frustrations.build] do 

	%p
		= label :comment_frustration, :content,  'Текст'
		%br
		= text_area :comment_frustration,:content
	%p
		= submit_tag 'Добавить комментарий'


