.imperfection.imperf-pale-pink.lined-block.drag-block.drag1{id: "vote_for_post"}
  %table
    %tr
      %td.imperf-left-column
      %td.imperf-right-column
        .aspects-indexes
          .circle-tag.back-color.orange нд
          .circle-tag.back-color.light-blue нс
          .circle-tag.back-color.green мл
          .circle-tag.back-color.purple нж
          .circle-tag.back-color.yellow од
          .circle-tag.back-color.blue му
    %tr
      / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
      %td.imperf-left-column.what-cell
        Что
      %td.imperf-right-column
        Нечем дышать
    %tr
      %td.imperf-left-column
        Где
      %td.imperf-right-column
        При большом числе людей в комнате
    %tr
      %td.imperf-left-column
        Когда
      %td.imperf-right-column
        Во время совещаний
    %tr
      %td.imperf-left-column
      %td.imperf-right-column
