%h4 Голосование за несовершенства
%br
.row
  %h4.color-orange
    .col-md-6
      Несовершенство
    .col-md-1
      За
    .col-md-1
      Против
    .col-md-1
      Всего
    .col-md-3
%br
-@posts.each do |post|
  .row
    .col-md-6
      =render partial:'post_vote', object: post
    .col-md-1.color-green
      %i.fa.fa-thumbs-up=post.final_votings.by_positive.not_admins.uniq_user.size
    .col-md-1.color-red
      %i.fa.fa-thumbs-down=post.final_votings.by_negative.not_admins.uniq_user.size
    .col-md-1.color-teal
      %i.fa.fa-group=@vote_all if @vote_all
    .col-md-3
      =link_to({controller: post.class.name.underscore.pluralize, action: :set_required, project: @project, id: post.id}, remote: true, method: :put, id: "set_required_#{post.id}", class: "btn btn-sm #{post.status == 4 ? 'btn-success':'btn-default'}") do
        =post.status == 4 ? t('show.discontent.required') : t('show.discontent.do_require')
  %br
  %br