#popup-results.popup-window.detailed_popup.popup-w860.mfp-hide
  .popup.popup_rounded
    .modal_title
      .row
        .col-md-12
          %h4.bold.font_dark_grey
            Результаты стадии 2
    .modal_body
      .row.modal_subhead
        .col-md-4.mod_sub_l
          %h5.font_white Вклад в процедуру
        .col-md-8.mod_sub_r
          .dia_legend.pull-left.font_white
            %span
              %i.fa.fa-file-text
              несовершенства
            %span
              %i.fa.fa-comment
              комментарии
            %span
              %i.fa.fa-thumbs-up
              лайки
            %span
              %i.fa.fa-star
              важный материал
          %button.pull-right.btn.btn_reset.btn_dia.font_white
            %i>
            Подробнее
      .dia_block
        .row
          .col-md-4
          .col-md-4
            .dia_cell
              %span.num_cell 1
              %span
                %img.img35.img-circle{:src => "img/ava1.jpg"}/
              %span
                %p Пятый элемент
                %span.dia_icon
                  4
                  %i.fa.fa-file-text
                %span.dia_icon
                  3
                  %i.fa.fa-comment
                %span.dia_icon
                  50
                  %i.fa.fa-thumbs-up
                %span.dia_icon
                  1
                  %i.fa.fa-star
            .dia_cell
              %span.num_cell 2
              %span
                %img.img35.img-circle{:src => "img/ava1.jpg"}/
              %span
                %p Пятый элемент
                %span.dia_icon
                  4
                  %i.fa.fa-file-text
                %span.dia_icon
                  3
                  %i.fa.fa-comment
                %span.dia_icon
                  50
                  %i.fa.fa-thumbs-up
                %span.dia_icon
                  1
                  %i.fa.fa-star
            .dia_cell
              %span.num_cell 3
              %span
                %img.img35.img-circle{:src => "img/ava1.jpg"}/
              %span
                %p Пятый элемент
                %span.dia_icon
                  4
                  %i.fa.fa-file-text
                %span.dia_icon
                  3
                  %i.fa.fa-comment
                %span.dia_icon
                  50
                  %i.fa.fa-thumbs-up
                %span.dia_icon
                  1
                  %i.fa.fa-star
            .dia_cell
              %span.num_cell 4
              %span
                %img.img35.img-circle{:src => "img/ava1.jpg"}/
              %span
                %p Пятый элемент
                %span.dia_icon
                  4
                  %i.fa.fa-file-text
                %span.dia_icon
                  3
                  %i.fa.fa-comment
                %span.dia_icon
                  50
                  %i.fa.fa-thumbs-up
                %span.dia_icon
                  1
                  %i.fa.fa-star
            .dia_cell
              %span.num_cell 5
              %span
                %img.img35.img-circle{:src => "img/ava1.jpg"}/
              %span
                %p Пятый элемент
                %span.dia_icon
                  4
                  %i.fa.fa-file-text
                %span.dia_icon
                  3
                  %i.fa.fa-comment
                %span.dia_icon
                  50
                  %i.fa.fa-thumbs-up
                %span.dia_icon
                  1
                  %i.fa.fa-star
          .col-md-4
            .dia_cell
              %span.num_cell 6
              %span
                %img.img35.img-circle{:src => "img/ava1.jpg"}/
              %span
                %p Пятый элемент
                %span.dia_icon
                  4
                  %i.fa.fa-file-text
                %span.dia_icon
                  3
                  %i.fa.fa-comment
                %span.dia_icon
                  50
                  %i.fa.fa-thumbs-up
                %span.dia_icon
                  1
                  %i.fa.fa-star
            .dia_cell
              %span.num_cell 7
              %span
                %img.img35.img-circle{:src => "img/ava1.jpg"}/
              %span
                %p Пятый элемент
                %span.dia_icon
                  4
                  %i.fa.fa-file-text
                %span.dia_icon
                  3
                  %i.fa.fa-comment
                %span.dia_icon
                  50
                  %i.fa.fa-thumbs-up
                %span.dia_icon
                  1
                  %i.fa.fa-star
            .dia_cell
              %span.num_cell 8
              %span
                %img.img35.img-circle{:src => "img/ava1.jpg"}/
              %span
                %p Пятый элемент
                %span.dia_icon
                  4
                  %i.fa.fa-file-text
                %span.dia_icon
                  3
                  %i.fa.fa-comment
                %span.dia_icon
                  50
                  %i.fa.fa-thumbs-up
                %span.dia_icon
                  1
                  %i.fa.fa-star
            .dia_cell
              %span.num_cell 9
              %span
                %img.img35.img-circle{:src => "img/ava1.jpg"}/
              %span
                %p Пятый элемент
                %span.dia_icon
                  4
                  %i.fa.fa-file-text
                %span.dia_icon
                  3
                  %i.fa.fa-comment
                %span.dia_icon
                  50
                  %i.fa.fa-thumbs-up
                %span.dia_icon
                  1
                  %i.fa.fa-star
            .dia_cell
              %span.num_cell 10
              %span
                %img.img35.img-circle{:src => "img/ava1.jpg"}/
              %span
                %p Пятый элемент
                %span.dia_icon
                  4
                  %i.fa.fa-file-text
                %span.dia_icon
                  3
                  %i.fa.fa-comment
                %span.dia_icon
                  50
                  %i.fa.fa-thumbs-up
                %span.dia_icon
                  1
                  %i.fa.fa-star
      .row.modal_subhead
        .col-md-9.mod_sub_l
          %h5.font_white Популярность контента
        .col-md-3
      .top3.gradient_t3
        .row
          .col-md-4.top3_col
            %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
            %span.t3_name.white.font_dark_grey.text-center Лиза Школьник
            .clearfix
            .divider10
            %span.t3_likes.white.font_dark_grey.text-center
              45
              %i.fa.fa-thumbs-up.theme_font_color
          .col-md-4.top3_col
            %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
            %span.t3_name.white.font_dark_grey.text-center Лиза Школьник
            .clearfix
            .divider10
            %span.t3_likes.white.font_dark_grey.text-center
              45
              %i.fa.fa-thumbs-up.theme_font_color
          .col-md-4.top3_col
            %img.img100.img-circle{:src => "http://placehold.it/100x100"}/
            %span.t3_name.white.font_dark_grey.text-center Лиза Школьник
            .clearfix
            .divider10
            %span.t3_likes.white.font_dark_grey.text-center
              45
              %i.fa.fa-thumbs-up.theme_font_color
      .stats
        .row
          .col-md-4
            .stat_block
              %span
                %span.stat_num.theme_back_color.text-center.font_white.bold.rounded_3 27
              %h4 ДОБАВЛЕНО НЕСОВЕРШЕНСТВ
          .col-md-8
            .stat_block
              %span
                %span.stat_num.theme_back_color.text-center.font_white.bold.rounded_3 20
              %h4
                НЕСОВЕРШЕНСТВ,
                %br/
                ПРИНЯТЫХ ДЛЯ ДАЛЬНЕЙШЕЙ РАБОТЫ