#vote-1.popup-window.popup-vote.popup-w1030.mfp-hide
  .popup.popup_rounded
    .modal_title
      .row
        .col-md-12
          %h4.bold.font_dark_grey
            Голосование по аспектам
    .vote_progress_cont.progress
      .vote_progress.light-green.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar"}
    .modal_body
      .container.vote_folders_cont.folders_4.no_padding_col
        %ul.nav.vote_nav.row{:role => "tablist"}
          %li.col-md-3.no_padding_col.folder_all.active{:role => "presentation"}
            %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "all", :href => "#vote_tab1", :role => "tab"}
              .vote_folder_inn.poll-2-1
                %span.vote_counter
                  =current_user.unvote_aspects_for_vote(@project).count
                %h5.font_color_stage1 Общий список
          %li.col-md-3.no_padding_col.big{:role => "presentation", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Перейти в список необходимых"}
            %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "important", :href => "#vote_tab2", :role => "tab"}
              .vote_folder_inn.poll-2-2
                %span.vote_counter
                  =current_user.aspect_votings.by_status(1).count
                %h5 Необходимо
          %li.col-md-3.no_padding_col.big{:role => "presentation", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Перейти в список важных"}
            %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "not_important", :href => "#vote_tab3", :role => "tab"}
              .vote_folder_inn.poll-2-3
                %span.vote_counter
                  =current_user.aspect_votings.by_status(2).count
                %h5 Важно
          %li.col-md-3.no_padding_col.big{:role => "presentation", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Перейти в список неважных"}
            %a.vote_folder{"data-toggle" => "tab", "data-vote-folder-role" => "unnecessary", :href => "#vote_tab4", :role => "tab"}
              .vote_folder_inn.poll-2-4
                %span.vote_counter
                  =current_user.aspect_votings.by_status(3).count
                %h5 Неважно
      .divider25
      .container
        .row
          .divider25
          .tab-content
            #vote_tab1.tab-pane.all_vote.active{"data-vote-poll-role" => "all", :role => "tabpanel"}
              .container.padding30
                .row
                  - current_user.unvote_aspects_for_vote(@project).each do |asp|
                    = render partial: 'post_vote', object: asp, locals: {status: 0}

            #vote_tab2.tab-pane{"data-vote-poll-role" => "important", :role => "tabpanel"}
              .container.padding30
                .row
                  - current_user.aspects_for_vote(@project, 1).each do |asp|
                    = render partial: 'post_vote', object: asp, locals: {status: 1}
            #vote_tab3.tab-pane{"data-vote-poll-role" => "not_important", :role => "tabpanel"}
              .container.padding30
                .row
                  - current_user.aspects_for_vote(@project, 2).each do |asp|
                    = render partial: 'post_vote', object: asp, locals: {status: 2}
            #vote_tab4.tab-pane{"data-vote-poll-role" => "unnecessary", :role => "tabpanel"}
              .container.padding30
                .row
                  - current_user.aspects_for_vote(@project, 3).each do |asp|
                    = render partial: 'post_vote', object: asp, locals: {status: 3}
          .divider35
