#popup-greetings-text.popup-window.popup-w710.mfp-hide.stage1_theme
  .popup.popup_rounded.popup_medal
    .medal-block.gold-medal
    .row
      .col-md-8.col-md-offset-3
        %p.font_mid_grey.bold
          Итак, начало положено!
        .divider50
        %p.font_mid_grey.bold
          Вы изучили базу знаний и готовы принять участие в процедуре. Теперь вы можете обсудить аспекты, добавленные участниками, или предложить собственный аспект для общего обсуждения.
        .divider50
        %p
          = link_to collect_info_posts_path(@project), class: "btn add-button" do
            %span
              %i.fa.fa-comment-o
            Просмотреть аспекты
          = link_to project_user_path(@project, current_user), class: "btn add-button" do
            %span +
            Добавить аспект