#popup-greetings-text.popup-window.popup-w710.mfp-hide
  .popup.popup_rounded.popup_medal
    .medal-block.gold-medal
    .row
      .col-md-8.col-md-offset-3
        %p.font_mid_grey.bold
          Отлично, начало положено!
        .divider50
        %p.font_mid_grey.bold
          Вы ознакомились со всеми аспектами базы знаний.
          %br/
          Теперь вы разбираетесь в предмете обсуждения и готовы к полноценному участию в процедуре.
          %br/
          Ждём вас на следующей стадии!
        .divider50
        %p
          %button.btn.red.close_magnific.font_white.pull-right Закрыть окно