$('#post_vote_#{@post_vote.id}').animate({height: 0, opacity:0}, 1000, function() { $(this).remove(); });

-if ["1","2","3"].include? params[:status]
  var vote_number = parseInt($(".poll-2-#{params[:status]} .vote_counter").html())
  $(".poll-2-#{params[:status]} .vote_counter").html(vote_number+1);
  $(".poll-2-#{params[:status]}").effect("bounce", { times: 3 }, 1000);

-#закроем попап, если за все аспекты уже проголосовали
- unless current_user.can_vote_for(:collect_info, @project)
  magnificPopupClose('.popup-vote')