.elFixWidth {
	height:0px !important;
	overflow:hidden !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-top:0 !important;
	padding-bottom:0 !important;
	border-top:0 !important;
	border-bottom:0 !important;
}
.menuFixar { z-index:100}