-# Не отрабатывает js

-#= form_for aspect, :url => "/project/1/discontent/aspects/#{aspect.id}",:method => :put, :remote => true do |f|
-#  -#= render 'shared/error_messages', :object =>f.object
-#  =f.text_field :content, name: 'content', id:"aspect_text_content_#{aspect.id}"
-#  =f.submit "ok",:id  => "send_post", class: " btn btn-default btn-xs text-success pull-left", style: 'margin-left: -30px !important;'


