-# Не отрабатывает js

-#$('#redactor_aspect_#{@aspect.id}').hide();
-#$('#aspect_#{@aspect.id}').hide();
-#
-#$('#edit_aspect_content_#{@aspect.id}').html("#{escape_javascript(render  :partial => 'update_aspect_form', :locals => { :aspect => @aspect} )}");
