%div
  %ul.nav.nav-pills.nav-stacked
    %li.active
      = link_to  user_path(@project, @user.id) do
        %i.glyphicon.glyphicon-user
        Профиль

    %li.disabled
      %a(href="/notice")
        %i.glyphicon.glyphicon-list-alt
        %span.badge.pull-right 150
        Уведомления

    %li.disabled
      %a(href="/messages")
        %i.glyphicon.glyphicon-envelope
        %span.badge.pull-right 42
        Сообщения

    - if @user == current_user
      %li
        = link_to edit_user_path(@project, @user) do
          %i.glyphicon.glyphicon-cog
          Редактировать профиль
