%a.pull-left(href="/user/#{user.id}")
    = image_tag user.avatar.url(:thumb),  class: "media-object"
    %h6
        = user.score
        %small балов
    -#= image_tag 'award.png', title: 'Награда за 3 добавленных поста'

    %br
    =link_to user.name_title, user_path(@project, user)
