.avatar
	= link_to gravatar_for(user), user
	%br
	- if user.expert? or user.admin?
		%span.role= user.role_name
		%br

	- unless user.expert? or user.admin?
		%span.rate_small= user.score
		%span.role балов
		%br
		-user.awards.each do |award|
			= image_tag award.url, :title => award.name