%section.widget
  .body
    %h3=t('menu.notice_edit')
    #option_for_check_field{data: {project: @project.id}}
    %br
    %label
      %input.iCheck{:name => "auto_feed_mailer", :id => "auto_feed_mailer", :class => "auto_feed_mailer", :type => "checkbox", :checked => (@auto_feed_mailer and (@auto_feed_mailer.status == false or @auto_feed_mailer.status.nil?) ) ? false : true}
        Получать автоматические уведомления
    %br
    %br
    -if boss? and @project.type_access == 2
      %h3 Отправка уведомлений всем участникам закрытой процедуры
      %br
      = form_for @journal_mailer, url: { project: @project.id, action: 'create_notice' }, remote: true do |f|
        #notice_messages
        =f.text_field :title, class: 'form-control', placeholder: t('form.enter_text'), id: 'title-textfield'
        %br
        =f.text_area :content, class: 'tinymce form-control', style: 'height: 200px;', placeholder: t('form.enter_text'), id: 'some-textarea'
        %br
        .pull-right
          =f.submit t('form.save'), id: "send_post", class: 'btn btn-lg btn-success'
        %br
        %br
      %br
      - if @mailers
        %table.table.table-striped.table-bordered.table-condensed
          %thead
            %tr
              %th
                ="#"
              %th
                Тема
              %th
                Сообщение
              %th
                Дата отправки
              %th
                Статус
          %tbody
            - @mailers.each_with_index  do |mail, index|
              %tr
                %td
                  =index+1
                %td
                  =mail.title
                %td
                  =mail.content.html_safe
                %td
                  =mail.created_at
                %td
                  -if mail.sent
                    Отправлено
                  -elsif mail.sent == false
                    Не отправлено
                  -else
                    В очереди
