=link_to '/project/'+@project.id.to_s do
  %span.fa.fa-angle-double-left
  вернуться к процедуре
%section.widget
  .body
    %h1 Рейтинг участников
    #tabs
      .pull-right
        Показан рейтинг,
        =link_to "по текущему этапу", {:action => :show_top, :score_name => 'score'},:remote => true, class: "score_class top_all", id: "score_all"
        |
        =link_to "Генераторов идей", {:action => :show_top, :score_name => 'score_g'},:remote => true, class: "score_class"
        |
        =link_to "Аналитиков", {:action => :show_top, :score_name => 'score_a'},:remote => true, class: "score_class"
        |
        =link_to "Оценщиков", {:action => :show_top, :score_name => 'score_o'},:remote => true, class: "score_class"
      %br
      %br
    #tabs-1
      %table.table
        %tbody
          - @users.each_with_index do |user, i|
            = render :partial => 'user', :locals => {:user => user, :number => i+1}

    .text-center
      = will_paginate @users
    %br
    =link_to 'вернуться к процедуре', '/project/'+@project.id.to_s
