=link_to 'вернуться к процедуре', '/project/'+@project.id.to_s

%h1 Рейтинг участников
%b названия номинаций и размеры призов:
%li Автор проекта, победившего по количеству голосов - 20т.р.
%li Автор проекта, победившего по решению жюри - 20т.р.
%li Участник, набравший наибольшее количество премиальных баллов - 15т.р.
%li Участник, набравший наибольшее количество премиальных баллов в номинации генератор идей - 12 т.р.
%li Участники , набравшие наибольшее количество премиальных баллов в номинации аналитик - 1 место - 10т.р.; 2 место - 8 т.р.
%li Участники , набравшие наибольшее количество премиальных баллов в номинации оценщик - 1 место - 6т.р.; 2 место - 5т.р.; 3 место - 4 т.р.


%b Так же, предусмотрены дополнительные премии, не входящие в призовой фонд:
%li Автор проекта, набравшего более 80% голосов.
%li Самый активный участник проекта.

И другие номинации!
%br
%br
%b Общий рейтинг &#124;
%span.smallgrey Рейтинг Генератор идей &#124;
%span.smallgrey Рейтинг Аналитиков  &#124;
%span.smallgrey Рейтинг Оценщиков

= will_paginate

= render @users

= will_paginate

=link_to 'вернуться к процедуре', '/project/'+@project.id.to_s
