=link_to 'вернуться к процедуре', '/project/'+@project.id.to_s

%h1 Рейтинг участников
%b названия номинаций и размеры призов:
%li Автор проекта, победившего по количеству голосов - 20т.р.
%li Автор проекта, победившего по решению жюри - 20т.р.
%li Участник, набравший наибольшее количество премиальных баллов - 15т.р.
%li Участник, набравший наибольшее количество премиальных баллов в номинации «Генератор идей» – 12 т. р.
%li Участники, набравшие наибольшее количество премиальных баллов в номинации «Аналитик»: 1 место – 10 т. р., 2 место – 8 т. р.
%li Участники, набравшие наибольшее количество премиальных баллов в номинации «Оценщик»: 1 место – 6 т. р., 2 место – 5 т. р., 3 место – 4 т. р.



%b Также предусмотрены дополнительные премии, не входящие в призовой фонд:
%li автор проекта, набравшего более 80% голосов;
%li самый активный участник проекта.

И другие номинации!
%br
%br
%b Общий рейтинг &#124;
%span.smallgrey Рейтинг Генератор идей &#124;
%span.smallgrey Рейтинг Аналитиков  &#124;
%span.smallgrey Рейтинг Оценщиков

= will_paginate

= render @users

= will_paginate

=link_to 'вернуться к процедуре', '/project/'+@project.id.to_s
