=link_to '/project/'+@project.id.to_s do
  %span.fa.fa-angle-double-left
  =t('link.back_proc')
%section.widget
  .body
    %h6=t('show.rating.title_1')
    %h6=t('show.rating.title_2')
    %table.table.table-striped{class: "table-#{locale_for_user(current_user)}"}
      %thead
        %tr.success
          %th
            %b=t('show.rating.stage_collect_info')
          %th
            %b=t('show.rating.stage_discontent')
          %th
            %b=t('show.rating.stage_concept')
          %th
            %b=t('show.rating.stage_plan')
          %th
            %b=t('show.rating.stage_essay')
      %tbody
        %tr.warning
          %td=t('show.rating.comment', count: 5)
          %td=t('show.rating.comment', count: 5)
          %td=t('show.rating.comment', count: 5)
          %td=t('show.rating.comment', count: 5)
          %td=t('show.rating.comment', count: 5)
        %tr.info
          %td
          %td
            =t('show.rating.discontent', count: 25)
            %br
            =t('show.rating.discontent_improve', count: 10)
          %td
            =t('show.rating.concept', count: 110)
          %td
            =t('show.rating.plan', count: 300)
          %td
            =t('show.rating.essay', count: 25)


    %h1=t('show.rating.title')
    #tabs
      .pull-right
        =t('show.rating.sort')
        =link_to t('show.rating.sort_default'), {action: :show_top, score_name: 'score'},remote: true, class: 'score_class top_all', id: 'score_all'
        |
        =link_to t('show.rating.sort_generators'), {action: :show_top, score_name: 'score_g'},remote: true, class: 'score_class'
        |
        =link_to t('show.rating.sort_analysts'), {action: :show_top, score_name: 'score_a'},remote: true, class: 'score_class'
        |
        =link_to t('show.rating.sort_voters'), {action: :show_top, score_name: 'score_o'},remote: true, class: 'score_class'
      %br
      %br
    #tabs-1
      %table.table
        %tbody
          - @users.each_with_index do |user, i|
            = render partial: 'user', locals: {user: user, number: i+1} unless user.role_expert?

    %br
    =link_to t('link.back_proc'), core_projects_path(@project.id)
