$('#my_journals_count').removeClass('top-circle').html('');


-#$('#notifications').html("#{j render(partial: 'application/messages_menu', locals: { my_journals: @my_journals, project: @project})}");
