-#if ($('#others_users').hasClass('active')) {
-#$('#search_users').fadeOut(500, function() {$('#search_users').html("#{escape_javascript(render :partial => 'list_user', :collection => @search_users)}").fadeIn();});
-#}
-#else {
-#$('#search_users').fadeOut(500, function() {$('#search_users').html("#{escape_javascript(render :partial => 'list_user', :collection => @search_users)}").fadeIn();});
-#}

$('#added_users').hide();
$('#others_users').hide();

$('#search_users').fadeOut(500, function() {$('#search_users').html("#{escape_javascript(render :partial => 'list_user', :collection => @search_users)}").fadeIn();});

$('#search_users').addClass('active in').show();
$('#search_count').html('#{@search_users.size}');