%h1 Вы эксперт системы

.user_info
	= gravatar_for @user, :size => 120 
	%span{:class => 'name'}
		= @user.name
		= @user.surname

%h1 На экспертизу - 

-unless @frustrations.nil?
	=render @frustrations
= render "shared/frustration_form"
