%header.text-align-center
  %h2
    %strong MASS
    DECISION
  %br
  %h4 Забыли пароль?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  %fieldset
    .form-group
      -#= f.label :email, 'Email'
      .input-group.input-group-lg
        %span.input-group-addon
          %i.eicon-user
        = f.email_field :email, placeholder: 'Ваш Email', class: 'form-control input-lg'

  .form-actions
    =f.submit 'Послать инструкции', class: 'btn btn-block btn-lg btn-danger', id: 'Signin'
    .forgot
      = link_to 'Вернуться', '/users/sign_in', class:'forgot'


