%ul.nav.nav-tabs
    %li
        =link_to 'Важное',  '#best', :data => {:toggle=>"tab"}
    %li.active
        =link_to 'Обсуждаемые', '#discussed', :data => {:toggle=>"tab"}
.tab-content
    .tab-pane.fade.in.active#best
        - unless post_star.empty?
            -post_star.each do |st|
                .imperfection_journal
                    - if st.content.present?
                        = trim_string(st.content,150)
                    = link_to 'Подробнее',  {:action => :show, :project => @project, :id => st.id}, class: "more"
                    %small 12.13.2014
    .tab-pane.fade.in.active#discussed

        -post_dis.each do |st|
            .imperfection_journal
                - if st.content.present?
                    = trim_string(st.content, 150)
                = link_to 'Подробнее',  {:action => :show, :project => @project, :id => st.id}, class: "more"
                %small 12.13.2014
%br