#gantEditorTemplates{ :style => "display:none;" }
  .__template__{ :type => "GANTBUTTONS" }
    /
      <div class="ganttButtonBar noprint">
      <div class="buttons">
      <button onclick="$('#workSpace').trigger('undo.gantt');" class="button textual" title="отменить"><span class="teamworkIcon">'</span></button>
      <button onclick="$('#workSpace').trigger('redo.gantt');" class="button textual" title="вернуть"><span class="teamworkIcon">·</span></button>
      <span class="ganttButtonSeparator"></span>
      <button onclick="$('#workSpace').trigger('addAboveCurrentTask.gantt');" class="button textual" title="вставить на уроверь выше"><span class="teamworkIcon">l</span></button>
      <button onclick="$('#workSpace').trigger('addBelowCurrentTask.gantt');" class="button textual" title="вставить на уровень ниже"><span class="teamworkIcon">X</span></button>
      <span class="ganttButtonSeparator"></span>
      <button onclick="$('#workSpace').trigger('indentCurrentTask.gantt');" class="button textual" title="indent task"><span class="teamworkIcon">.</span></button>
      <button onclick="$('#workSpace').trigger('outdentCurrentTask.gantt');" class="button textual" title="unindent task"><span class="teamworkIcon">:</span></button>
      <span class="ganttButtonSeparator"></span>
      <button onclick="$('#workSpace').trigger('moveUpCurrentTask.gantt');" class="button textual" title="move up"><span class="teamworkIcon">k</span></button>
      <button onclick="$('#workSpace').trigger('moveDownCurrentTask.gantt');" class="button textual" title="move down"><span class="teamworkIcon">j</span></button>
      <span class="ganttButtonSeparator"></span>
      <button onclick="$('#workSpace').trigger('zoomMinus.gantt');" class="button textual" title="zoom out"><span class="teamworkIcon">)</span></button>
      <button onclick="$('#workSpace').trigger('zoomPlus.gantt');" class="button textual" title="zoom in"><span class="teamworkIcon">(</span></button>
      <span class="ganttButtonSeparator"></span>
      <button onclick="$('#workSpace').trigger('deleteCurrentTask.gantt');" class="button textual" title="delete"><span class="teamworkIcon">¢</span></button>
      </div></div>
  .__template__{ :type => "TASKSEDITHEAD" }
    /
      <table class="gdfTable" cellspacing="0" cellpadding="0">
      <thead>
      <tr style="height:40px">
      <th class="gdfColHeader" style="width:35px;"></th>
      <th class="gdfColHeader gdfResizable" style="width:300px;">Имя задачи</th>
      <th class="gdfColHeader gdfResizable" style="width:80px;">Начало</th>
      <th class="gdfColHeader gdfResizable" style="width:80px;">Конец</th>
      <th class="gdfColHeader gdfResizable" style="width:50px;">Дней</th>
      </tr>
      </thead>
      </table>
  .__template__{ :type => "TASKROW" }
    /
      <tr taskId="(#=obj.id#)" class="taskEditRow" level="(#=level#)">
      <th class="gdfCell edit" align="right" style="cursor:pointer;"><span class="taskRowIndex">(#=obj.getRow() + 1#)</span> <span class="teamworkIcon" style="font-size:12px;" >e</span></th>
      <td class="gdfCell indentCell" style="padding-left:(#=obj.level*10#)px;">
      <div class="(#=obj.isParent()?'exp-controller expcoll exp':'exp-controller'#)" align="center"></div>
      <input type="text" name="name" value="(#=obj.name#)">
      </td>
      <td class="gdfCell"><input type="text" name="start"  value="" class="date"></td>
      <td class="gdfCell"><input type="text" name="end" value="" class="date"></td>
      <td class="gdfCell"><input type="text" name="duration" value="(#=obj.duration#)"></td>
      <td class="gdfCell"><input type="text" name="depends" value="(#=obj.depends#)" (#=obj.hasExternalDep?"readonly":""#)></td>
      <td class="gdfCell taskAssigs">(#=obj.getAssigsString()#)</td>
      </tr>
  .__template__{ :type => "TASKEMPTYROW" }
    /
      <tr class="taskEditRow emptyRow" >
      <th class="gdfCell" align="right"></th>
      <td class="gdfCell noClip" align="center"></td>
      <td class="gdfCell"></td>
      <td class="gdfCell"></td>
      <td class="gdfCell"></td>
      <td class="gdfCell"></td>
      <td class="gdfCell"></td>
      <td class="gdfCell"></td>
      <td class="gdfCell"></td>
      </tr>
  .__template__{ :type => "TASKBAR" }
    /
      <div class="taskBox taskBoxDiv" taskId="(#=obj.id#)" >
      <div class="layout (#=obj.hasExternalDep?'extDep':''#)">
      <div class="taskStatus" status="(#=obj.status#)"></div>
      <div class="taskProgress" style="width:(#=obj.progress>100?100:obj.progress#)%; background-color:(#=obj.progress>100?'red':'rgb(153, 255, 51);'#);"></div>
      <div class="milestone (#=obj.startIsMilestone?'active':''#)" ></div>
      <div class="taskLabel"></div>
      <div class="milestone end (#=obj.endIsMilestone?'active':''#)" ></div>
      </div>
      </div>
  .__template__{ :type => "CHANGE_STATUS" }
    /
      <div class="taskStatusBox">
      <div class="taskStatus cvcColorSquare" status="STATUS_ACTIVE" title="active"></div>
      <div class="taskStatus cvcColorSquare" status="STATUS_DONE" title="completed"></div>
      <div class="taskStatus cvcColorSquare" status="STATUS_FAILED" title="failed"></div>
      <div class="taskStatus cvcColorSquare" status="STATUS_SUSPENDED" title="suspended"></div>
      <div class="taskStatus cvcColorSquare" status="STATUS_UNDEFINED" title="undefined"></div>
      </div>
  .__template__{ :type => "TASK_EDITOR" }
    /
      <div class="ganttTaskEditor" style="margin: 5px;">
      <div style="text-align: left; padding-top: 20px"><button id="saveButton" class="button big">Сохранить</button></div>
      <table cellpadding="5">
      <tr>
      <td><label for="name">Имя задачи</label><br><input type="text" name="name" id="name" value=""  size="35" class="formElements"></td>
      </tr>
      <tr>
      <td>
      <label for="description">Подробное описание</label><br>
      <textarea rows="5" cols="30" id="description" name="description" class="formElements">
      </td>
      </tr>
      </table>

      </div>
