%ul.nav.nav-tabs
    %li.active
        =link_to 'Активность', '#activity', :data => {:toggle=>"tab"}
    %li
        =link_to 'Новости', '#news', :data => {:toggle=>"tab"}
.tab-content
    .tab-pane.fade.in.active#activity
        -unless journals.nil?
            - journals.each do |journal|
                -  if journal_parser(journal, @project.id)
                    .imperfection_journal
                        = link_to journal.user, user_path(@project,journal.user)
                        = journal_parser(journal, @project.id).html_safe
                        =Russian::strftime(journal.created_at,"%d %B %k:%M:%S ")
    .tab-pane.fade#news
        - unless news.nil?
            %p.righttext
                = news.anons
                = link_to 'Подробнее',  expert_news_post_path(@project, news)