- if comment.check_status_for_label(status)
  -if current_user?(comment.user) or boss?
    =link_to({controller: comment.controller_name_for_action, action: :comment_status, id: comment.post.id, comment_id: comment.id, status: 1, comment_stage: get_stage_for_improve(comment.class_name)},  remote: true, method: :put,  id: "#{status}_comment_#{comment.id}") do
      %span.label{class:css_label_status(status)}=title
  -else
    %span.label{class:css_label_status(status)}=title
-else
  -if current_user?(comment.user) or boss?
    =link_to({controller: comment.controller_name_for_action, action: :comment_status, id: comment.post.id, comment_id: comment.id, status: 1, comment_stage: get_stage_for_improve(comment.class_name)},  remote: true, method: :put,  id: "#{status}_comment_#{comment.id}") do
      %span.label.label-default=title