- if object.errors.any?
  .cab_notice.white
    %span.fail
      = t('errors.messages.not_saved', count: object.errors.count)
      - object.errors.full_messages.each do |msg|
        %br/
        = msg
