%br
- if @posts.next_page
  = link_to t('show.view_more'), life_tape_posts_path(page: @posts.next_page, order: @order), class: 'btn btn-primary btn-sm',  style: 'width: 100%;',remote: true , id: 'load_more_product'

