.row
  .col-md-12
    .pull-right
      =post.number_views
      %span.glyphicon.glyphicon-eye-open
      |
      = link_to(controller: post.class.name.underscore.pluralize, action: :show, project: @project, id: post.id) do
        Комментировать
        =post.comments.count
        %span.glyphicon.glyphicon-comment
      -if boss? and post.class.name.deconstantize == "Discontent" and [4,5,6,7].include?(@project.status)
        |
        =link_to({controller: post.class.name.underscore.pluralize, action: :set_grouped, id: post.id, project: @project},remote: true,method: :put,id: "set_grouped_#{post.id}", class: "note_text") do
          -if post.status == 2
            %span.text-success Группа
          -else
            %span.text-warning Сделать группой
        |
        =link_to({controller: post.class.name.underscore.pluralize, action: :set_required, id: post.id, project: @project},remote: true,method: :put,id: "set_required_#{post.id}", class: "note_text") do
          -if post.status == 4
            %span.text-success Добавлено
          -else
            %span.text-warning В обязательные
        -if @project.status == 6
          |
          %span.text-success За:
          =post.final_votings.by_positive.uniq_user.size
          |
          %span.text-danger Против:
          =post.final_votings.by_negative.uniq_user.size
          |
          %span.text-info Голосовавших:
          =@vote_all
      -if boss? and @project.status == 8 and post.class.name.deconstantize == "Concept"
        |
        %span.text-success Голосов:
        =post.post_aspects.first.final_votings.by_dispost(post.dispost).size
        |
        %span.text-success Всего за пост:
        =post.post_aspects.first.final_votings.by_dispost(post.dispost).uniq_user.size
        |
        %span.text-info Голосовавших:
        =@vote_all
      -if boss? and @project.status == 11 and post.class.name.deconstantize == "Plan"
        |
        %span.text-success Голосов:
        =post.voted_users.size
        |
        %span.text-info Голосовавших:
        =@vote_all

      |
      - if boss?
        =link_to({controller: post.class.name.underscore.pluralize, action: :plus,project: @project, id: post.id},  remote: true, method: :put,  id: "plus_post_#{post.id}") do
          -if post.useful
            %span.text-danger Забрать баллы
          -else
            %span.text-success Выдать баллы
