.row
  .col-md-12
    .pull-right
      =post.number_views
      %span.glyphicon.glyphicon-eye-open
      |
      %a(href="#")
        %span.text-success
        =link_to  '',{:controller => post.class.name.underscore.pluralize ,:action => :plus, :project => @project,:status=>0, :aspect=>0, :id => post.id}, :id => post.id,:remote => true, :method => :put do
          %span.text-success="поддержать #{post.users.count}"

        %span.glyphicon.glyphicon-thumbs-up.text-success
      |
      %a(href="#")
        комментировать
        =post.comments.count
        %span.glyphicon.glyphicon-comment