=link_to({:controller => post.class.name.underscore.pluralize ,:action => :like, :project => @project, :id => post.id, :against => false}, :remote => true, :method => :put, class: "popup-likes", id: "like_post_#{post.id}") do
  %span
    %span(id="plus_counter_#{post.id}" style="margin-right:0;")
      =post.users_pro.count
    %i.fa.fa-thumbs-o-up
|
=link_to({:controller => post.class.name.underscore.pluralize ,:action => :like, :project => @project,  :id => post.id, :against => true}, :remote => true, :method => :put, class: "popup-dislikes", id: "dislike_post_#{post.id}") do
  %span
    %span(id="minus_counter_#{post.id}" style="margin-right:0;")
      =post.users_against.count
    %i.fa.fa-thumbs-o-down