.row
  .col-md-12
    .pull-right
      %span.hidden-xs
        =post.number_views
        %span.glyphicon.glyphicon-eye-open
        |
      = link_to(controller: post.class.name.underscore.pluralize, action: :show, project: @project, id: post.id) do
        =t('show.commenting')
        =post.comments.count
        %span.glyphicon.glyphicon-comment
      -if boss? and post.class.name.deconstantize == "Discontent" and [4,5,6,7].include?(@project.status)
        -if post.status == 0
          |
          =link_to({controller: post.class.name.underscore.pluralize, action: :set_grouped, id: post.id, project: @project},remote: true,method: :put,id: "set_grouped_#{post.id}", class: "note_text") do
            -if post.status == 2
              %span.text-success=t('show.discontent.grouped')
            -else
              %span.text-warning=t('show.discontent.do_group')
        -if post.status == 2 or post.status == 4
          |
          =link_to({controller: post.class.name.underscore.pluralize, action: :set_required, id: post.id, project: @project},remote: true,method: :put,id: "set_required_#{post.id}", class: "note_text") do
            -if post.status == 4
              %span.text-success=t('show.discontent.required')
            -else
              %span.text-warning=t('show.discontent.do_require')

        -if @project.status == 6
          |
          %span.text-success=t('show.like')
          =post.final_votings.by_positive.uniq_user.size
          |
          %span.text-danger=t('show.unlike')
          =post.final_votings.by_negative.uniq_user.size
          |
          %span.text-info=t('show.votes_users')
          =@vote_all

      -if boss? and @project.status == 8 and post.class.name.deconstantize == "Concept"
        |
        %span.text-success=t('show.votes')
        =post.post_aspects.first.final_votings.by_dispost(post.dispost).size
        |
        %span.text-success=t('show.all_from_post')
        =post.post_aspects.first.final_votings.by_dispost(post.dispost).uniq_user.size
        |
        %span.text-info=t('show.votes_users')
        =@vote_all
      -if boss? and @project.status == 11 and post.class.name.deconstantize == "Plan"
        |
        %span.text-success=t('show.votes')
        =post.voted_users.size
        |
        %span.text-info=t('show.votes_users')
        =@vote_all


      - if boss? or role_expert?
        =link_to({controller: post.class.name.underscore.pluralize, action: :plus,project: @project, id: post.id},  remote: true, method: :put,  id: "plus_post_#{post.id}") do
          |
          -if post.useful
            %span.text-danger=t('show.revert_score')
          -else
            %span.text-success=t('show.add_score')
