.social 
	- if signed_in? and not post.users.include?(current_user)
		=link_to "#{post.users.count}",  {:action => :plus, :project => @project, :id => post.id}, :id => post.id,:remote => true, :method => :put, class: "counter"
	-else
		=post.users.count
	=image_tag "like.png"
	=post.number_views
	=image_tag "views.png"
	=post.comments.count
	=image_tag "comment.png"