#modal1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Добро пожаловать!
      .modal-body
        Вам предстоит долгая и интересная работа!
        %br
        Новизна MASSDECISION – в совмещении рациональности и массовости процедуры выработки решения. Первая обеспечивает высокое качество решения; вторая – его поддержку массой участвовавших в процедуре лиц, что особенно важно, если они затем участвуют и в реализации решения.
        Применять MASSDECISION можно в компаниях, организациях, сообществах, общественных ассоциациях, политических партиях и движениях, а также при проведении общенациональных рациональных выборов и референдумов, предложенных в работах Савельзона.
      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Я все понял и готов!