#modal_help.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        -#%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#helpModalLabel.modal-title=small_help.title
      .modal-body
        =raw(small_help.content)
        %br
        %br
        = form_tag(help_save_help_answer_path(@project),{ method: :post,  id: 'help_question' }) do
          -small_help.help_questions.each do |hq|
            %b=hq.content
            -hq.help_answers.each do |ha|
              .radio
                %label
                  =radio_button "question", hq.id, ha.id, onchange: "activate_modal_send(this);"
                  -#%input(type="radio" value="" onchange="activate_modal_send(this);" )
                  =ha.content


      .modal-footer
        %button.btn.btn-primary.disabled#send(type = "button" data-dismiss="modal") Ответить и приступить к работе!
