%user_info
	= gravatar_for current_user , :size => 30
	%span{:class => "user_name"}
		= current_user.name
	%br
	%b 
		=current_user.frustrations.count
	неструктурированные
	%span{:class => "frustrations"}
		= Russian::pluralize(current_user.frustrations.count, "неудовлетворенность", "неудовлетворенности", "неудовлетворенностей")
	внесено. Вы можете добавить еще 
	%b
		= Settings.max_frustration-current_user.frustrations.count