%h3 ОБОСНОВАНИЕ И ОПИСАНИЕ СЕРВИСА MassDecision
%p Те, кому интересна только суть сервиса могут читать только текст красного цвета, пропуская обоснования.
%p Сопротивление персонала препятствует реализации стратегических нововведений в организациях. «У. Кичел, написавший много статей на тему стратегий в журнале «Fortune», указал на тот факт, что только 10% сформулированных стратегий действительно реализуются на практике (цифра, которую Т. Питерс назвал «чрезмерно раздутой»!)» – пишут крупнейшие теоретики менеджмента Minzberg, G., Ahlstranf, B., Lampel, J. [Strategy Safary. A Guided Tour through the Wilds of Strategic Management. 2006. Prentice Hall]. Они видят причину этого в том, что вырабатывают и избирают стратегию одни (эксперты и руководители), а реализовывать ее на практике должны другие (рядовые сотрудники). Обычно последние: 1) неверно понимают стратегический проект в целом, 2) не обращают внимание на его важные нюансы, 3) склонны скептически, а иногда с подозрением или опасением воспринимать как бы навязанную им новую стратегию. Поэтому «реализаторы» при осуществлении 1) искажают стратегии, 2) упускают их важные детали и 3) даже порой саботируют.
%br
%p Для устранения означенного препятствия рекомендуется сделать будущих «реализаторов» инновации как бы ее соавторами, вовлекая их в процесс выработки и принятия проектного инновационного решения. [Проектное решение – это описание инновации, включающее в себя:
%p (а) цель, то есть образ реалистического совершенного будущего;
%p (б) многоэтапную программу действий по переходу от текущей ситуации к цели;
%p (в) подробное описание промежуточного положения, ожидаемого после реализации первого этапа инновации;
%p (г) детальный план первого этапа преобразований.
%br
%p Практикуются разные варианты процессов выработки и принятия стратегических проектных решений с широким участием персонала:
%p - стратегические сессии, на которых менеджеры и ведущие специалисты организаций в рамках специально выстроенных многодневных коллективных процедур вырабатывают новые стратегии;
%p - конкурсы на лучший проект инновации, открытые для участия и обсуждения всеми сотрудниками;
%p - интернетовский краудсорсинг, используемый в крупных организациях для вовлечения персонала в выявление проблем в работе и выдвижение идей их решения;
%p - массовое рациональное сетевое проектирование решений, практикуемое с недавнего времени MassDecision.
%br
%p Нередко, однако, широкого участия персонала в этих процессах не достигается. Дело в том, что процесс выработки и принятия стратегических проектных решений с широким участием персонала сам по себе является стратегической инновацией. Но решение о запуске этого процесса в организации принимает руководство, и, таким образом, он навязывается персоналу. Поэтому его «реализаторы» – в данном случае участники процесса – включаться в него не желают.
%br
%p
  %b Так что для успешной коллективной выработки и принятия проектного решения какой-то стратегической проблемы
  в организации
  %b необходимо
  , чтобы предварительно
  %b с участием персонала было принято решение об этой выработке и варианте ее процессного воплощения.
  Конечно, перед этим руководитель должен уяснить, действительно ли серьезна проблема. И если да, то показать это всему коллективу, чтобы он в целом озаботился необходимостью решения серьезной проблемы.
.font_red
  %p Если руководитель, испытывая обеспокоенность в связи с каким-то фрагментом деятельности или положения дел в организации, обращается в MassDecision, мы задаем ему три предварительных вопроса с общим предисловием «предположим, что решение будет пассивным – ничего не делать – тогда через 1-2 года что будет с»:
  %p I) влиянием внешней среды на беспокоящий фрагмент;
  %p II) самим этим фрагментом;
  %p III) представителями данной организации, связанными с фрагментом?
  %br
  %p Четвертый – резюмирующий – вопрос: если Вы сочтете нужным вырабатывать и принимать «непассивное» (т.е. проектное) решение, то в каком качестве будете в этом участвовать (наблюдатель, комментатор, автор материалов, один из членов оргкомитета, направляющих процедуру выработки и принятия решения и помогающих ее вести)?
  %p Если на предварительные вопросы  руководитель дает ответы и их обоснования (возможно, после консультаций с экспертами), веско подтверждающие его обеспокоенность, MassDecision подряжается ему помочь и приглашает всех сотрудников ответить (анонимно или поименованно по желанию каждого) на 4 означенных вопроса в Интернете (с предварительной демонстрацией ответов руководителя).
%p [Заметим, что немало сотрудников, не задумывавшихся до опроса о поставленной проблеме, ознакомившись с авторитетным глубоко обоснованным мнением о ее серьезности, вероятно, ею озаботятся, т.е. такое выяснение проблематизированности сотрудников будет способствовать их проблематизации.]
.font_red
  %p Если руководитель сочтет, что сотрудники не будут добросовестно отвечать на эти вопросы в Интернете, MassDecision пошлет в организацию интервьюеров, которые после собеседований с сотрудниками занесут их ответы в Интернет. В таком случае оплата интервьюеров (деньги это, должно быть, совсем небольшие) за руководителем.
  %p Если опрос покажет, что желающих участвовать в выработке и принятии решения в организации недостаточно для коллективной работы, руководителю далее следует использовать свой административный ресурс, прервав взаимодействие с MassDecision. В противном случае (желающих достаточно) MassDecision переходит ко второму этапу сервиса – выбору процессного варианта выработки и принятия решения.
%p [Когда надо выработать решение проблемы, мало кто понимает, как это сделать эффективно. Из-за повсеместной некомпетентности в теории принятия решений люди вообще не задаются данным вопросом, хотя от ответа на него зависит, будет ли найдено хорошее решение (в соответствии с правилом: если процесс выработки и принятия решения хороший, то и решение хорошее). Поэтому необходимо показать им  критичность означенного вопроса и помочь найти наиболее подходящий процессный вариант именно для этой организации в ее текущем положении и с данной конкретной проблемой.]
%br
.font_red
  %p Второй этап начинается с ликбеза по принятию решений с желающими активно принять участие в выработке и принятии решения. Этой группе вживую или в Интернете предоставляются:
  %p - Сначала информирование о новом понимании терминов «решение» и «принятие решений».
%p [Обычно термин «принятие решений» понимается как выбор курса действий. Соответственно и решение понимается как курс действий – то есть ответ на вопрос «что делать?» Но курс действий только вторая часть того, что рационально понимать под решением. Действительно, выбирая решение, разумный человек заботится о том, чтобы 1) получить наилучший результат и 2) продвигаться к нему по наиболее надежному пути, с наименьшими затратами, как можно проще и скорее. Характерно, что и, вырабатывая нетехнические решение, люди обычно начинают со второго – намечают, что делать, а из этого уже выводят ожидаемый результат. Между тем в технике все наоборот: например, сначала конструктор придумывает конструкцию, а потом технолог определяет, как действовать, чтобы создавать эту конструкцию; в строительстве: сперва архитектор проектирует здание, а затем инженер-строитель прописывает действия по постройке. Этот же рациональный порядок рекомендует и theory of decision-making – теория «делания» решений. Для массового пользователя основная трудность рационального порядка в воображении идеального реалистического будущего, причем для этого создано доступных массам средств. В большинстве же наших процессных вариантов впервые предлагается проектировать воображаемое будущее организаций при помощи пригодных для массового пользования моделей, техник и эвристик, изобретенных или модифицированных нами.
.font_red
  %p - Затем разъяснение того, что такое понимание решений и принятия решений обеспечивает успех в жизни (в частности, излагаются отклонения от рациональности и наиболее яркие примеры провалов из-за них), а поэтому основы выработки и принятия решений полезно осваивать.
  %p - И наконец, пояснение рефлексии и ее полезности при реализации решений, а значит, опять и для успеха в жизни.
  %p После ликбеза ведущий проводит с членами группы контрольное собеседование по предоставленным сведениям с выяснением того, кто и как их усвоил. Далее им представляются 9 процессных вариантов, предлагаемых MassDecision на выбор:
  %br
  %p 1) КОНКУРСный – наблюдаемый и оцениваемый всей организацией конкурс решений, для разработки которых рекомендуется (но не навязывается) поясняемая нами рациональная методология – 3 подварианта:
  %p - 1.1. ПОЛНОФОРМАТНЫЙ – начинается с Интернетовского краудсорсинга в организации, в котором мозговыми штурмами на форумах выявляются наиболее важные частные проблемы и предлагаются идеи их устранения, с последующей на основе этих материалов конкурсной выработкой решений и завершающим общим уточнением победившего по версии оргкомитета решения и плана подготовки реализации, а также выборами в команду, которая поведет осуществление подготовки реализации и решения;
  %p - 1.2. СРЕДНЕФОРМАТНЫЙ – начинается с Интернетовского краудсорсинга в организации, в котором мозговыми штурмами на форумах выявляются наиболее важные частные проблемы и предлагаются идеи их устранения с последующей на основе этих материалов конкурсной выработкой решений и завершением выборами в команду, которая поведет осуществление подготовки реализации и решения;
  %p - 1.3. МАЛОФОРМАТНЫЙ – 1.2 без краудсорсинга.
  %br
  %p 2) ЭКСПЕРТный – вместо конкурса решение вырабатывается приглашаемым руководителем экспертном с аналогичными вышеприведенным тремя подвариантами.
  %br
  %p 3) СЕССИонный – вместо конкурса очная стратегическая сессия, ведомая MassDecision, с аналогичными вышеприведенным тремя подвариантами.
  %br
  %p Следом – обсуждение в группе каждого из этих 3*3=9-ти вариантов в ракурсах его преимуществ и слабых мест в отношении -
  %p - (I) получения наиболее эффективного решения;
  %p - (II) наилучшей подготовки организации к реализации;
  %p - (III) получения наибольшей пользы в повышении компетентности членов организации в принятии решений посредством обучения в деятельности (learning by doing).
  %br
  %p Выделение ведущим в группе тех, кто, с одной стороны, усвоил сведения о выработке и принятии решений, а с другой, показал в обсуждении преимуществ и слабых мест вариантов их понимание.
  %p Далее для всей организации ликбез, представление процессных вариантов и их обсуждение на форуме в Интернете. В нем особо приглашаются участвовать члены выделенной перед этим группы, их также просят помогать другим участникам в разъяснении вышеозначенных сведений и вариантов. Согласившиеся получают статус общественных консультантов, а у участников обсуждения на форуме в Интернете появляется опция обратиться за разъяснением к общественному консультанту.
  %p В заключение – голосования персонала за лучший процессный вариант выработки и принятия стратегического проектного решения и состав оргкомитета проведения процесса. Учитывая результаты голосований, руководство окончательно установит процессный вариант и оргкомитет, а затем совместно с MassDecision наметит, что еще нужно сделать в организации перед запуском процесса выработки и принятия стратегического проектного решения.
  %p MassDecision оценит стоимость осуществления намеченного и самого процесса и, если получит на это заказ, приступит к его выполнению в организации.
