%p Олег Савельзон занимается развитием теории принятия решений и ее приложениями в политико-философских, социокультурных, управленческих и маркетинговых исследованиях, а также в практическом менеджменте. Автор нескольких десятков научных статей и ряда книг на тему процедурной рациональности в принятии решений. Избранные публикации по теории принятия решений и ее приложениям::
%br
%p 1. "Как мы принимаем решения." Страна и мир (Мюнхен), 1990, 60, 51-60.
%p 2. "Кто виноват и что делать?" Страна и мир (Мюнхен), 1991, 64, 40-48.
%p 3. "The POSAC approach to discriminant analysis for decision-making and judgement." In: The Proceedings of the Fourth International Facet Theory Conference. Prague, 1993, 434-442. (Соавтор: Shye, S.)
%p 4. "Essay on narrowness." In S. Shye & O. Savelzon, Decision-Making and Consultation by Expert Systems: The Analysis of Partly Ordered Sets by Binary Comparison and Multiple Scaling. Jerusalem: Israel Institute of Applied Social Research, 1994, 69-140.
%p 5. The Role of Rationality in Soviet and Western Business Decision-Making: A Comparative Study. Jerusalem: The Guttman Institute of Applied Social Research at The Hebrew University of Jerusalem, 1996.
%p 6. "The Russian-Soviet culture impact on procedural rationality: Decision-making of immigrant businesspeople from the ex-USSR in Israel." In: Collection of Materials of the International Conference on Personal Absorption. Netanya, Israel, 1998, 74-100.
%p 7. “Шок перемен и культура рационального принятия решений.” 22 Москва - Иерусалим (Иерусалим), 1999, 111, 134-148.
%p 8. "Russia and Israel in the XXI Century. Prospects of Developing Rational Open Society." New York: Liberty Publishing House, 2000, 208pp.
%p 9. "Развитие открытого общества в России и Израиле как компонент институционального и духовного процесса." Философские исследования, 2003, №2(39), 77-120.
%p 10. "Культура принятия решений как фактор прогресса России." Вопросы философии, 2003, №10, 31-45.
%p 11. "Политика эффективности – новое решение." Вопросы философии, 2004, №10, 3-19.
%p 12. "Россия и несвобода, Израиль и псевдомир." Философские исследования, 2004, № 3-4, 83-138.
%p 13. "Свобода выбора и процедурная рациональность." Общественные науки и современность, 2005, №1, 109-121.
%p 14. "От концепции открытого общества к практике открытой организации." Рефлексивные процессы и управление, 2005, №2, 41-56. (Соавтор Р. Вайнтруб)
%p 15. "Как инициировать развитие политики эффективности?" Nota Bene. (Иерусалим), №9, 2005, 283-309.
%p 16. “Постнеклассическая идеология и стабильный электоральный успех в России и Израиле.” В сборнике: На пути к постнеклассическим концепциям управления, Москва: Институт Философии РАН, 2005, 231-254.
%p 17. "Опыт избежания глупости." В сборнике: Проблема субъектов российского развития, М.: «Когито-Центр», 2006, 145-148.
%p 18. "Теория и практика согласованного построения бренда компании и брендов продуктов на российском фармрынке." В сборнике: Брендинг в фармацевтике и парафармацевтике: российский опыт, Москва: Литтерра, 2006, 23-38. (Соавтор Р. Вайнтруб)
%p 19. "Network Transformation of Israeli Democracy: From Political Machinating to Policy of National Efficiency." System Research and Open Systems Management (Haifa), Issue 3, 2007, 101-118.
%p 20. “В противовес глупости: к рационально-демократическому общественному движению.” Свободная мысль (Москва), №10(1605), 2009, 123-136.
%p 21. “Проект противодействия глупости в Израиле.” 22 Москва - Иерусалим. (Иерусалим), №156, 2010, 162-179.
%p 22. “Эксперимент по инновационному развитию гражданского общества в России.” Посев (Москва), № 6(1605), 2011, 23-27.
%p 23. “Проекты постороннего.” 22 Москва - Иерусалим. (Иерусалим), №163, 2012, 199-214.
%p 24. “Рационализация культуры принятия решений – необходимое условие благополучной инновационной модернизации в России.” В сборнике Современное российское общество: традиции и инновации, Саратов: «Научная книга», 2012, 58-63.
%p 25. “Rational processes of decision-making as a key component of the management quality in organizations.” The paper presented at The 20th International Conference of the Israel Society of Quality, Tel Aviv, 2014.
