%span.h3{:id => "edit_knowbase_post_title_#{knowbase_post.id}"}
  =knowbase_post.title
  %i.fa.fa-question-circle(data-toggle="tooltip" data-placement="left" title="Tooltip on left")
%button.btn.btn-default{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Tooltip on left", :type => "button"} Tooltip on left
%button.btn.btn-lg.btn-danger{"data-content" => "And here's some amazing content. It's very engaging. Right?", "data-toggle" => "popover", :title => "Popover title", :type => "button"} Click to toggle popover
%span
  -if boss?
    =link_to edit_knowbase_post_path(@project,knowbase_post),:remote => true, :id => "edit_knowbase_post_#{knowbase_post.id}" do
      %span{:class=>"glyphicon glyphicon-pencil text-success", :style=>"cursor:pointer;text-decoration:none;font-size:15px;"}
    =link_to knowbase_post_path(@project,knowbase_post), :method => :delete, :confirm => 'Удалить статью?',:id => "destroy_knowbase_post_#{knowbase_post.id}" do
      %span{:class=>"glyphicon glyphicon-remove text-danger", :style=>"cursor:pointer;text-decoration:none;font-size:15px;"}
%br
%br
%div{:id => "edit_knowbase_post_content_#{knowbase_post.id}"}
  =knowbase_post.content.html_safe