=link_to '/project/'+@project.id.to_s do
  %span.fa.fa-angle-double-left
  =t('link.back_proc')
%section.widget
  .body
    -if @flash.present?
      #flash-panel.panel.panel-danger
        %h4=t('form.knowbase.save_notice')
        #flash.panel-body
          =raw(show_flash(@flash))
    -if @post
      %div{id: "knowbase_post_#{@post.id}"}
        =render  partial: 'knowbase_post_form', locals: { post: @post}