$('#knowbase_post_#{@post.id}').html("#{escape_javascript(render :template => "knowbase/posts/show", :locals => {:post => @post})}");
$('#knowbase_left_title_#{@post.id}').html("#{escape_javascript(@post.title)}");