= yield :aspect_content
-#.form-group
-#  .cabinet-aspect-form-checkb
-#    %label Этот аспект влияет на тему?
-#    %input.radio-aspect1{:name => "aspect1", :type => "radio", :value => "yes"}/
-#    %span.cabinet-aspect-form-checkb-filler.filler-yes
-#    %span.radio-divider
-#      = '|'
-#    %input.radio-aspect1{:name => "aspect1", :type => "radio", :value => "no"}/
-#    %span.cabinet-aspect-form-checkb-filler.filler-no
-#.form-group
-#  .cabinet-aspect-form-checkb
-#    %label От него зависит решение?
-#    %input{:name => "aspect2", :type => "radio", :value => "yes"}/
-#    %span.cabinet-aspect-form-checkb-filler.filler-yes
-#    %span.radio-divider
-#      = '|'
-#    %input{:name => "aspect2", :type => "radio", :value => "no"}/
-#    %span.cabinet-aspect-form-checkb-filler.filler-no
= yield :aspect_description

= f.hidden_field :status, value: Core::Aspect::Post::STATUSES[:for_discuss]
