$('#render_core_aspect').empty();
$("#render_core_aspect").html('#{escape_javascript(render partial: 'collect_info/posts/popup_aspect_post')}');
magnificPopupOpen('#popup-aspect');
comments_feed();
comments_expandable_column();

