- if @aspect.valid?
  $('#notice_messages').hide();
  $('#create_aspect_success').fadeIn(3000).fadeOut('slow');
- else
  $('#notice_messages').html("#{escape_javascript(render 'shared/notice_messages', object: @aspect)}");
