.panel
  .panel-heading
    %a.collapsed{ 'aria-expanded' => 'false', 'data-toggle' => 'collapse', href: '#cab4-1' } Деятельность (5)
  .collapse#cab4-1
    .panel-body
      - @novation.attributes_for_form.each do |attribute|
        %b
          = t("activerecord.attributes.novation/post.#{attribute}")
        = f.text_area attribute.to_sym, class: 'form-control ta_icon', rows: 3
