.stage-info-sort-block
  .row
    %br/
    .col-md-7
      %span.stage-heading
        Нововведения
        ="(#{@posts.count})"
        %i.fa.fa-question-circle
    .col-md-5
      .sort-block.pull-right
        %span.sort-label Сортировать по новым:
        %span
          %span.sort-1.sort-date
            %span 25
          %span.sort-2.sort-rate
            %span 2
        -#%span.sort-all ВСЕ
        = link_to project_user_path(@project, current_user) do
          %button.btn.add-button
            %span> +
            Нововведение
.stage-post-block
  .row
    = render partial: 'post_short', collection: @posts


#render_novation_post

- if current_user.can_vote_for(:novation, @project)
  = render partial: 'popup_vote'