$('#render_for_post').empty();
$("#render_for_post").html('#{escape_javascript(render partial: 'modal_novation_post')}');
magnificPopupOpen('#popup-novation');
comments_feed();
comments_expandable_column();
colors_discontents();

$('.with_arrow').click(function () {$(this).find('i.collapse_arrow').toggleClass('fa-rotate-90');});
$('.with_plus').click(function () { $(this).find('i.collapse_plus').toggleClass('fa-plus').toggleClass('fa-minus');});

history_change("#{novation_posts_path(@project)}");
comments_collapse_column();
