%h1 Дорогие ребята
Тестировать нужно очень внимательно, уделять внимание мелочам и неудобствам, от КАЖДОГО я жду отчет в письме anmalygin@gmail.com
Инструкции
%br
%b 1 этап
%li каждый создает как минимум 3 аккаунта с произвольными почтами 
%li Мы создаем как можно больше недовольств и тем и другим способом 
%li Мы активно комментируем  недовольства друг друга
%li Часть недовольств мы переводим в архив пользуясь негативными комментами (и обращаем внимание что автору коммента +10 балов) либо просто переводим в архив, - обращаем внимание что если егсть структурирущий коммент удалить нельзя!
%br
%b 2 этап
%li переводим недовольства в сформулированные пользуясь опять таки комментами структурирующими или сами по себе 
%li активно комментим ТОЛЬКО негативными комментами после формализации (структурирующие не должны быть доступны)
%br
%b 3 этап 
%li отправляем к эксперту не смотря на негативные комменты
%br
Ваня, ты помимо всего прочего еще и админ - ты можешь удалять комменты и отправлять недовольства в архив со штрафом и без (pprsgu@gmail.com , admin)
Проверь как начисляются баллы
%br
Никита1 ты помимо всего прочего эксперт - ты будешь принимать и отклонять недовольства
за принятую 100 балов , за отправленную несмотря на негативные комменты -50, если при формализации недовольства использовался структурирующий коммент балы должны распределиться 60 на 40
%br
СЛЕДИМ ЗА БАЛАМИ!





