%h1 Как тестировать
Спасибо, что вы до сих пор с нами!
%br Перед вами пока что самы массивный релиз - теперь нам доступен полный цикл принятия неудовлетворенности, что не может меня не радовать
%br Я пока отключил временные рамки до того как можно переводить неуд. из состояния в состоние, сейчас это можно делать сразу
%br Эксперт для вас expert@expert.com пароль expert
%br Админ для вас admin@admin.com пароль admin
%br админ сделан не до конца - он может только штрафовать комментарии и неуд.
%br сейчас я прикручиваю дизайн - и вы сможете его критиковать, ура!
%br все вопросы в группу вконтакте для багов заведите одтельную тему и как посты туда их пихайте, будет удобнее


<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?52"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 2, wide: 1, width: "200", height: "290"}, 41754112);
</script>