%h1 Как тестировать
%li создаем пользователя, лучше двух, email должны быть уникальны
%li добавляем неудовлетворенности 3 штуки
%li оставляем комментарии 2 типов под другими (под своими нельзя - для этого как раз хорошо иметь второй аккаунт)
%li Проверяем возможность снять неудовлетвореность (нельзя если есть структур. комменты). Можно снять по негативному комменту - автору коммента +10 очков. Неуд. уйдет в архив
%li Сделать структурированной можно будет через 1 день (не 3 как по правилам, но мы сократим) Можно самому, можно рядом с структур комментом. текст неуд. можно изменить, но старый текст останется и в списке Структур. неуд. будет под новым - чтобы всегда можно было сравнить
%li замечания идеи и баги на anmalygin@gmail.com, баги описывайте подробнее, лучше прикладывать скриншоты
%li дополнительное задание - выбрать понравившийся логотип и описать почему он лучше - тоже прислать на почту и придумать другие словоформы для терминов "Неудовлетворенность", "Cтруктурированная неудовлетворенность" итд
