%h1 Статьи по процедуре 
%p 
	Здесь мы будем выкладывать статьи по ходу процедуры, которые призваны помочь вам и разъяснить некоторые сложные моменты 

%ul
	%li=link_to 'Первый комментарий к начавшемуся сбору недовольств.', :anchor => "01", :name => 'top'
	%li=link_to 'Второй комментарий к начавшемуся сбору недовольств.', :anchor => "02"
	%li=link_to 'Третий комментарий к начавшемуся сбору недовольств.', :anchor => "03"
	%li=link_to 'Четвертый комментарий к начавшемуся сбору недовольств.', :anchor => "04"
	%li=link_to 'Комментарий эксперта по поводу контрольной работы.', :anchor => "05"
%br
%br
%br
%br

=link_to '', '', :name =>'01'
%h2 Первый комментарий к начавшемуся сбору недовольств.
%p Уважаемые участники!
%p 
	1. Прошу при предъявлении Вашего недовольства в оформленном виде 
	%b четко излагать 	суть проблемы и обращать особое внимание на конкретику. 
	По себе знаю, что иногда
	это трудно сделать из-за того, что сам еще недостаточно прояснил для себя, чем точно
	недоволен. Если при этом нет времени на тщательное формулирование недовольства, а
	представить его хочется немедленно, то лучше сделать это в произвольном виде.
	Зачастую, проверить формулировку недовольства на четкость и конкретику
	можно, проделав следующий мысленный эксперимент: Представьте себе, что с Вашей
	формулировкой ознакомился кто-то другой. Если ему задать вопрос «Понятно ли, что
	конкретно требуется исправить, чтобы устранить это недовольство?», можно ли на него
	дать практический ответ? Если нет, то четкость и конкретика под сомнением.
	Вот, например, недовольство, представленное Екатериной Макаренко: 
	%b 
		«что: До конца не продумана новая система оценивания, а именно: п.2 самостоятельная аудиторная
		работа и п.4 промежуточная аттестация, при условии невозможности принятия участия
		в видеоконференции. Отсюда - -40 баллов! отсюда - 3 по дисциплине!; когда: Во время
		обучения; где: ДО». 
	Какой здесь ответ? «Продумать до конца…»? Неясно, что это
	означает в практическом плане. Я отклонил это недовольство без штрафа, несмотря
	на то, что к нему были критические замечания. Поскольку чувствуется, что есть
	какая-то реальная проблема, но она не сформулирована четко. Возможно, если бы
	это недовольство было представлено в произвольном виде, кто-нибудь из участников
	предложил бы для него четкое и конкретное оформление.
%p 
	2. Пока представляются недовольства тем, что ЕСТЬ негативного в работе ИОО, однако
	естественно рассматривать как отрицательное явление также и то,
	%b что в работе ИОО НЕТ чего-то привлекательного 
	(а оно есть, например, в других учреждениях открытого
	образования). В бизнесе, скажем, есть такое различение ущерба: 1) потери и 2) упущенная
	выгода. В данном случае я имею в виду аналог второго. Подумайте, пожалуйста, о том,
	что Вы хотели бы добавить в работу ИОО, поскольку недовольны ОТСУТСТВИЕМ этого.
%p 
	3. Что касается темы, я бы предложил вам постараться посмотреть на недовольства которые вы формулируете как можно шире, подумайте, какие темы еще не были затронуты, к примеру
	%b
		%li недостаточная полезность обучения, 
		%li заумное содержание курсов, 
		%li не интересное изложение материала. 
%p

	Второе и третье не требуют пояснений, а в отношении первого следует заострить внимание на том, что главной пользой, которую студент может извлечь из образования, является приобретение знаний, культурного багажа, а главное, профессиональных умений и их документальных подтверждений, способствующих удачному трудоустройству и продвижению по карьерной лестнице.
=link_to 'наверх', '/articles#top'

%br
%br
=link_to '', '', :name =>'02'
%h2 Второй комментарий к начавшемуся сбору недовольств.
%p Прошу обратить внимание на то, что цель данного этапа процедуры – сформировать список всех самых широких (но в то же время и конкретных) недовольств. В этой связи 2 замечания:
1) Сейчас в списке есть недовольства, которые явно могут быть «расширены», то есть заменены более общими, «включающими» в себя имеющиеся в списке. Напомню, что такая замена вознаграждается вдвойне – 100 очками. Одна попытка сделать это бала предпринята по отношению недовольства, представленного Евгением Новиковым: «что: Многие студенты отключают камеру и микрофон и отвечают на вопросы, копируя лекционный материал или материал из интернета. Из всей группы активно работают 2-3 человека. когда: Во видеоконференции. где: В ИОО». Людмила Коровина попыталась «расширить» формулировку: «что: Многие студенты игнорируют конференции или участвуют в них посредством чата, не используя камеру и микрофон. Оценку, в итоге, получают ту же, что и студенты активно работающие на занятиях. когда: во видеоконференций, в процессе обучения где: в ИОО». Однако ею «расширение» столь мало, что я не счел это достаточным для замены. Резюмируя: пытаться «расширить» имеющиеся в списке недовольства – правильно и похвально (а в случае удачи, и выгодно), но следует предлагать существенные «расширения»..
%p 2) Среди представляемых участниками недовольств встречаются такие, которые, наоборот, «включаются» в уже принятые. Например, Людмила Коровина предложила недовольство «что: Отсутствие полной информации по оформлению курсовых работ когда: в процессе обучения где: в разделе "информация" учебного сайта». Однако, оно «включается» в уже принятое – Андрей Малыгин: «что: Студенту не понятны некоторые моменты (оценивание, работа движка для тестов и т. п.) когда: при обучении где: в ИОО». Поэтому мне пришлось его отвергнуть. Резюме: прежде чем представлять недовольство, пожалуйста, проверьте, не включается ли оно в какое-то из уже принятых, и, если есть сомнение, постарайтесь сформулировать свое недовольство так, чтобы было ясно, что «включения» нет.
=link_to 'наверх', '/articles#top'

%br
%br
=link_to '', '', :name =>'03'
%h2 Третий комментарий к начавшемуся сбору недовольств.
%p 1) По поводу моих прошлых комментариев получил на портале ИОО 2 реплики:
%p Нахаева А. С.:«В таком случае в исходное недовольство «что: Студенту не понятны некоторые моменты (оценивание, работа движка для тестов и т. п.) когда: при обучении где: в ИОО» можно многое включить. И получится слишком широко. А студенты хотят заострить внимание на конкретных моментах, которые именно им не понравились. Т.е. я согласна с нижеуказанными комментариями. Так что все понятия "расширить" и "конкретизировать" очень субъективны в данном случае.»
%p Кардаш А. С.:«Извините, конечно, но я может не совсем поняла смысл данного курса, но у меня возникает следующий вопрос. Если Недовольство Л. Коровиной включается в недовольство А. Малыгина, то можно просто написать следующее недовольство - Что: Не устраивают некоторые моменты (организация расписания, видеоконференций, системы оценивания и т.д.) Когда:во время обучения; Где: в ИОО. И исходя из этого можно практически все существующие недовольства на форуме Коллективного разума включить в предложенное мной. Я думаю, что чем конкретней недовольство, тем проще найти его причину и попытаться "сделать" эффективное решение по его устранению.»
%p В этих репликах справедливо отмечена нечеткость принятого мной недовольства, она происходит от того, что в тексте недовольства есть выражение «и т.п.». Следует признать, что я допустил неточность, приняв это недовольство и ссылаясь на него в дальнейшем. Давайте установим, что выражения типа «и т.п.» или «и т.д.» недопустимы. Поэтому конкретизируем формулировку принятого недовольства так: «что: Студенту одни моменты (оценивание, работа движка для тестов) не понятны, а другие (правила оформления курсовых работ) не вполне понятны когда: при обучении где: в ИОО». Поскольку из-за моей неточности недовольство Людмилы Коровиной было отвергнуто, я отменяю это решение и присуждаю Людмиле Коровиной 50 баллов.
=link_to 'наверх', '/articles#top'
%br
%br
=link_to '', '', :name =>'04'
%h2 Четвертый комментарий к начавшемуся сбору недовольств.
%p Андрей Малыгин передал мне следующие вопросы:
Карпова: «1) Принятое недовольство:"Нехватка иллюстраций и презентаций при разборе сложных тем, требующих наглядного пособия" вытекает из принятого недовольства:"Скучное изложение материала (мало мультимедиа и подобных оживляющих компонентов, много не структурированного текста и т.п.)". 2) Принятое недовольство:"низкий уровень посещаемости студентами занятий" и отклоненное недовольство(написанное ранее, чем принятое):"Видеоконференции в рабочее время, посещаемость-два,три студента, а иногда и один". Как это понимать?» 
%p 1) Я посчитал, что авторов этих недовольств не устраивают разные вещи - в первом случае скука, а во втором недостаточная наглядность разбора сложных тем.
%p 2) Я обсуждал замечание Карповой с одной из руководящих сотрудниц ИОО. Она утверждала, что есть множество студентов ИОО, у которых очень разное и нефиксированное рабочее время (вплоть до поздних вечерних часов и субботних и воскресных дней). Поэтому мне было пояснено (цитирую буквально дословно): «Так что сказать «в рабочее время» в отношении наших студентов означает не сказать ничего конкретного.»  
%p Карпова: «В принятых недовольствах есть два схожих недовольства: 1) низкий уровень посещаемости студентами занятий 2) время некоторых конференций по будням (до 18 00). А в отклоненных такое недовольство: Видеоконференции в рабочее время, посещаемость - два, три студента, а иногда и один (написанное ранее, чем принятые), которое включает в себя недовольства - 1 и 2. Прокомментируйте»
См. мой комментарий 2) к предыдущему вопросу. 

%p Мария Трутнева 
%p Мое последнее недовольство отклонили, можно узнать почему? Я считаю, что оно достойно быть принятым, так как на наших конференциях мы видим и слышим, что новые преподаватели трудно работают с порталом, не вовремя предоставляют материал, вообще не появляются на портале во время семестра (кроме конференций), вопросов много, а преподавателей нет. Как сказал Малыгин Андрей на одной из конференций по этому курсу, "мы платим за это деньги" и мы выполняем свои обязательств
%p Речь, по-видимому, идет о недовольстве
«Мария Трутнева Четверг, 1 Ноябрь 12:39:00 что: Нет вводного инструктажа для молодых т.е новых преподавателей которые только начинают работу в системе ДО. когда: во время обучения где: в ИОО»
%p Я посчитал, что оно включается в принятое недовольство «Андрей Малыгин Четверг, 18 Октябрь 09:05:31
что: Студенты и преподаватели плохо подготовлены к обучению в сети Интернеткогда: до того как они начинают свою деятельность где: в ИОО». 
%p Вообще же, по ходу процедуры хочу отметить, что участники вышли на очень плодотворную, по-моему, для дальнейшей работы по выработке решения тему налаживания формальной обратной связи студентов как потребителей услуги по получению образования перед производителем этой услуги - администрацией ИОО.
%p С накопленным в процедуре материалом (отмечу большой вклад, который внесли Людмила Коровина, Юлия Реброва, Айжана Нахаева,  Вероника Ситникова,  Наталия Карпова и ряд других участников) можно было бы уже переходить к ее следующему этапу - начинать выработку концепций решений. Однако, по предложению Андрея Малыгина, мы решили добавить промежуточный этап «сбора относящихся к устранению недовольств сведений и идей» (напомню, что у нас эксперимент и мы, в частности, нащупываем оптимальную схему процедуры). Поэтому подождем, пока Андрей напишет программу для предложенного им этапа (ориентировочно еще несколько дней), и продолжим в это время накапливать недовольства.
=link_to 'наверх', '/articles#top'

%br
=link_to '', '', :name =>'05'
%h2 Комментарий эксперта по поводу контрольной работы.
%p Инструкции по поводу сдачи контрольной работы, о которой говорилось на конференции от 13 ноября и которая включена в рабочую программу

%p Студент должен представить короткую реферативную записку о каждом из креативных этапов практической деятельности в рамках курса:
%p 1) – 5) осуществлении каждой из пяти фаз принятия решений – 1) выявлении наиболее насущных недовольств; 2) уяснении и формулировании проблемы их устранения; 3) выработке альтернатив решения; 4) оценке альтернатив по установленным при формулировании проблемы критериям; 5) выборе лучшей альтернативы;
%p 6) процессе накопления сведений и идей;
%p 7) заключительном диалоге-дискуссии-сближении позиций-деятельностном согласии;
%p 8) обо всей процедуре принятии решений в целом.
Все рефераты (их, таким образом, будет 8) следует представлять в форме трехсоставной модели целенаправленной деятельности, изложенной в курсе. То есть, деятельность в каждом из 8 случаев необходимо будет «разложить» на 3 составляющих, отвечая на следующие вопросы:
%p (1)
Предварительные: Какова была, по мнению автора реферата, на данном этапе цель организаторов процедуры и какие ими намечалось разрешить задачи? Почему, на каких основаниях организаторы поставили именно такие цель и задачи?
%p Рефлексирующие: Насколько в ходе процедуры участники продвинулись к намеченной цели и разрешили поставленные задачи и почему? Подтвердились ли основания, по которым были поставлены именно такие цель и задачи?
%p Главные: Не следует ли ввиду полученного в ходе деятельности опыта внести коррективы в основания? Если да, то какие и как в связи с этим скорректировать цель и задачи?
%p (2)
Предварительные:  Какие методы, средства и другие ресурсы организаторы использовали для разрешения поставленных задач? Почему, по мнению автора реферата, были избраны именно такие методы, средства и другие ресурсы?
%p Рефлексирующие: Насколько эффективными оказались избранные методы, средства и другие ресурсы? Подтвердились ли основания, по которым они были избраны?
%p Главные: Не следует ли ввиду полученного в ходе деятельности опыта внести коррективы в основания? Если да, то какие и как в связи с этим скорректировать методы, средства и другие ресурсы?
%p (3)
Предварительные: Какие реальные действия были осуществлены организаторами? По какой программе (порядок, время, условия начала и завершения)?
%p Рефлексирующие: Что было сделано эффективно, а что нет, и почему?
%p Главные: Не видно ли из полученного в ходе деятельности опыта, что следовало бы скорректировать действия? Если да, то как?
