%h1 Статьи по процедуре 
%p 
	Здесь мы будем выкладывать статьи по ходу процедуры, которые призваны помочь вам и разъяснить некоторые сложные моменты 

/ %ul
/ 	%li=link_to 'Три комментария к начавшемуся сбору недовольств.', :anchor => "01", :name => 'top'




/ =link_to 'Три комментария к начавшемуся сбору недовольств.', '/assets/help/01.jpg', :name =>'01'
%h2 Три комментария к начавшемуся сбору недовольств.
%p Уважаемые участники!
%p 
	1. Прошу при предъявлении Вашего недовольства в оформленном виде 
	%b четко излагать 	суть проблемы и обращать особое внимание на конкретику. 
	По себе знаю, что иногда
	это трудно сделать из-за того, что сам еще недостаточно прояснил для себя, чем точно
	недоволен. Если при этом нет времени на тщательное формулирование недовольства, а
	представить его хочется немедленно, то лучше сделать это в произвольном виде.
	Зачастую, проверить формулировку недовольства на четкость и конкретику
	можно, проделав следующий мысленный эксперимент: Представьте себе, что с Вашей
	формулировкой ознакомился кто-то другой. Если ему задать вопрос «Понятно ли, что
	конкретно требуется исправить, чтобы устранить это недовольство?», можно ли на него
	дать практический ответ? Если нет, то четкость и конкретика под сомнением.
	Вот, например, недовольство, представленное Екатериной Макаренко: 
	%b 
		«что: До конца не продумана новая система оценивания, а именно: п.2 самостоятельная аудиторная
		работа и п.4 промежуточная аттестация, при условии невозможности принятия участия
		в видеоконференции. Отсюда - -40 баллов! отсюда - 3 по дисциплине!; когда: Во время
		обучения; где: ДО». 
	Какой здесь ответ? «Продумать до конца…»? Неясно, что это
	означает в практическом плане. Я отклонил это недовольство без штрафа, несмотря
	на то, что к нему были критические замечания. Поскольку чувствуется, что есть
	какая-то реальная проблема, но она не сформулирована четко. Возможно, если бы
	это недовольство было представлено в произвольном виде, кто-нибудь из участников
	предложил бы для него четкое и конкретное оформление.
%p 
	2. Пока представляются недовольства тем, что ЕСТЬ негативного в работе ИОО, однако
	естественно рассматривать как отрицательное явление также и то,
	%b что в работе ИОО НЕТ чего-то привлекательного 
	(а оно есть, например, в других учреждениях открытого
	образования). В бизнесе, скажем, есть такое различение ущерба: 1) потери и 2) упущенная
	выгода. В данном случае я имею в виду аналог второго. Подумайте, пожалуйста, о том,
	что Вы хотели бы добавить в работу ИОО, поскольку недовольны ОТСУТСТВИЕМ этого.
%p 
	3. Что касается темы, я бы предложил вам постараться посмотреть на недовольства которые вы формулируете как можно шире, подумайте, какие темы еще не были затронуты, к примеру
	%b
		%li недостаточная полезность обучения, 
		%li заумное содержание курсов, 
		%li не интересное изложение материала. 
%p

	Второе и третье не требуют пояснений, а в отношении первого следует заострить внимание на том, что главной пользой, которую студент может извлечь из образования, является приобретение знаний, культурного багажа, а главное, профессиональных умений и их документальных подтверждений, способствующих удачному трудоустройству и продвижению по карьерной лестнице.

/ =link_to 'наверх', '/help#top'

