.aboutpeople
	=link_to 'Вернуться на главную страницу','/'
	%br
	%br
	%h3 MASSDECISION
	%h3 ГУМАНИТАРНАЯ ИНТЕРНЕТ-ТЕХНОЛОГИЯ,
	%h3 ПОДДЕРЖИВАЮЩАЯ МАССОВУЮ СЕТЕВУЮ РАЦИОНАЛЬНУЮ ДЕМОКРАТИЧНУЮ ИГРОВУЮ ВЫРАБОТКУ СТРАТЕГИЧЕСКИХ РЕШЕНИЙ, ОПТИМИЗИРОВАННЫХ ДЛЯ РЕАЛИЗАЦИИ

	%br
	%b I. Оригинальная технологическая платформа проекта
	%p Разработана и протестирована система компьютерных программ, поддерживающая в сети тренинг, логическую обработку и эвристическое генерирование информации на всех стадиях рациональных процедур выработки решения в сообществах: (I) анализ неудовлетворяющей сообщество или его руководство ситуации; (II) уяснение и формулирование проблемы; (III) генерирование альтернатив решения; (IV) их оценка; (V) выбор лучшей альтернативы; (VI) заключение о том или ином продолжении. Презентация и обмен информацией происходят на Интернет-портале, и участник может внести свои материалы, комментарии, оценки и т.п. в любое удобное для него время, а в процедуре нет моментов, когда требуется обязательное присутствие участников на сайте.
	      
	%p Применение разработанной гуманитарной интернет-технологии дает следующие основные эффекты:
	%br
	%p А. Оптимизированность для реализации выработанного стратегического решения (обеспечивается тем, что вовлечение будущих «реализаторов» в выработку решения формирует у них мотивацию, понимание, консолидацию, неубывающий энтузиазм из-за плодотворного первого шага).
	%p Б. Высокое содержательное качество решения (обеспечивается рациональностью процедуры и переводом участников на новый высокий уровень коллективного мышления во время процедуры).
	%p В. Повышение компетентности участников – «послепроцедурный эффект» (обеспечивается встроенным в процедуру обучением и последующей практической работой).
	%br
	%b II. Актуальность
	%p Важный частный случай – злободневная ситуация: в некотором сообществе существует неудовлетворенность положением дел и в реализацию стратегии улучшения положения обязательно будет вовлечена значительная часть сообщества.
	%p Например, в коммерческой компании означенная ситуация плохо разрешима. Г. Минцберг [1]: «У. Кичел, автор многих статей на тему стратегий в журнале «Fortune», указал на тот факт, что только 10% сформулированных стратегий действительно реализуются на практике (цифра, которую Т. Питерс назвал «чрезмерно раздутой»!).» Причина – вырабатывают стратегию одни (эксперты), а осуществлять должны другие (работники). Обычно последние: 1) неверно понимают стратегический замысел в целом, 2) не обращают внимание на важные нюансы, 3) склонны скептически, а иногда с подозрением или опасением воспринимать новые стратегии.
	%p Поэтому «реализаторы» при осуществлении 1) искажают стратегии, 2) упускают важные детали и 3) даже порой саботируют.
	%p Помимо упомянутого частного случая в последнее время появилось множество указаний – в организационном менеджменте, политике, социальных инновациях и т.п. – на то, что неучастие публики в выработке решений, которые затем будут реализовываться при ее участии, контрпродуктивно.
	%p В моих работах аргументировано, что массовые рациональные процедуры в Интернете могут послужить основой инновационного развития гражданского общества; становления рациональной демократии; трансформации манипулятивной парадигмы функционирования современного общества (что, в частности, я считаю главным внеэкономическим способом противодействия экономическим кризисам).
	%br
	%b III. Обоснования
	%p У субъекта будет разное отношение к решению (и подход к его реализации), если оно  было: навязано «сверху»; подсказано другим субъектом; пришло в голову" как догадка – плод работы интуиции; получено в результате грамотно построенной и проведенной процедуры принятия решений.
	%p Качество самого по себе решения важно при реализации, однако еще важнее, сколь верно и детально его понимают «реализаторы» и как оно получено. Поэтому критерии оптимизации решения для реализации в сообществе: А) мотивация, Б) понимание, В) одобрение подавляющим большинством плана начала реализации, Г) предусмотрение мероприятий, поддерживающих стартовый энтузиазм «реализаторов», в частности, избрание для начального этапа реализации действий, выделяющихся простотой, дешевизной и быстрой зримой отдачей.
	%p Ограничение: приличное качество самого по себе решения.
	%p В теории принятия решений общепринят принцип процедурной рациональности: если при выработке решения обоснованно избирается модель осуществления процедуры и на всех ее фазах не допускается ошибок, т.е. решение принимается рационально, то со значительной вероятностью оно получается высокого качества.
	%p Поэтому, дабы оптимизировать решение для реализации и удовлетворить ограничение, следует: рационально и демократично строить процедуру его выработки; вовлекать людей, которым предстоит реализовывать решение, в его выработку, поддерживая и обучая их в ее процессе; в ходе процедуры изыскивать решение, у которого предпочтительнее ожидаемый результат, надежнее методы и средства его получения и менее затратен процесс достижения результата; для первого этапа реализации избирать согласованные подавляющим большинством участников действия, выделяющиеся простотой, дешевизной и быстрой зримой отдачей.
	%br
	%b IV.Пояснения
	%p Рациональность поддерживается технологической платформой и ведущими процедуры выработки решения, противодействующими наиболее вредоносным отклонениям от рациональности: кратковременному выгадыванию без учета долгосрочной перспективы; склонности к негативному целеполаганию; несклонности к контр-негативному анализу решения; отсутствию восприятия множественности вариантов решения как ценности и – в коллективной выработке решений – неприятию компромисса с чужими взглядами.
	%p Демократия, согласно [2, 3], понимается, как режим управления, в основе которого лежит метод коллективного принятия решений с равным воздействием участников на исход процесса или на его существенные стадии.
	%br
	%b V. Новизна и полезность подхода 
	%p V.1. В содержательном аспекте:
	%p Для массовой сетевой выработки решений разработаны оригинальные, а также модифицированы известные модели и техники, стимулирующие проектное мышление [4, 5] и корректирующие упомянутые отклонения от рациональности. На каждой из стадий процедуры представление и обсуждение информации участниками задается в рамках некоторых из этих моделей и техник (перед этим они разъясняются и иллюстрируются наглядными примерами). Таким образом определенные элементы рационального и проектного мышления как бы «процедурно внедряются» ВО ВРЕМЯ выработки фундаментальных решений в когнитивную деятельность участников. А кто-то из них усваивает какие-то из этих элементов и на будущее, тем самым повышая свою компетентность в принятии решений.
	%p V.2. По форме:
	%p Рациональная процедура осуществляется в виде деловой игры в сообществе, вырабатывающем решение. Участие в выработке решения может воплощаться в оценке, анализе и генерировании информации. В этих видах деятельности, требующих разных уровней компетентности и креативности в принятии решений (возрастающих в том порядке, в котором перечислены виды), вклад участника в общее дело на каждой стадии процедуры вознаграждается баллами, увеличивающимися в том же порядке. По окончании процедуры баллы «конвертируются» в премии. При многократном проведении процедур в одном и том же сообществе можно устроить «сквозное» состязание по итогам года. Для этого вместе с каждым призом начислять его получателю рейтинговые очки, соответствующие величине приза. А в конце года вручать самые большие призы обладателям самых высоких суммарных рейтингов. Накопление очков в течение года комментировать, популяризируя лидеров и подогревая состязательный азарт участников. Таким образом будет стимулироваться повышение компетентности в принятии решений внутри каждого ее уровня и продвижение на более высокий уровень.
	%p V.3. В функциональном отношении:
	%p В массовом принятии решений всегда имеются две главные задачи, противоречащие, как это доселе представлялось, друг другу. С одной стороны, желательно получить решение как можно более высокого качества, что маловероятно при вовлечении широких масс участников, поскольку у них невысокий уровень компетентности. С другой стороны, желательно обеспечить как можно большую массовость участия, причем такого, чтобы каждый участник был нефиктивно вовлечен в процедуру принятия решений релевантным для его уровня образом. Содержательная новизна предлагаемого продукта будет способствовать разрешению первой задачи, а формальная – второй. Деловая игра самоорганизована, поэтому релевантность участия обеспечивается индивидуальными способностями и интересами участников процедуры. У всех у них имеются равные возможности обучаться и творить на каждой стадии выработки решения. Это особенно важно, если сообщество, в котором принимается решение, затем существенно вовлечено в его реализацию. Поскольку в таком случае очень полезно, чтобы члены сообщества хорошо понимали решение и были бы мотивированы тем, что выступали в числе его творцов, причем творивших демократично. Таким образом, инновационные содержание и форма процедуры не только снимают противоречие между двумя означенными задачами, но и способствуют обучению и мотивации (материально-состязательной и «популярностно»-состязательной при выработке решения и «творцовской» при его реализации), а также создают базу для воплощения в жизнь рациональной демократии (см. мои публикации). 
	%br
	%b VI. Возможные применения
	%p В частности – для: группового принятия стратегических, комплексно-плановых и брендинговых решений в организациях; массовых сетевых рациональных конкурсов по принятию фундаментальных решений в политических партиях и движениях и общественных ассоциациях; общенациональных рациональных выборов и референдумов. Возможно, платформа станет основой формирования Интернет-сообществ рационалистов – людей, увлекшихся рациональной выработкой решений и желающих принимать участие в процедурах по проблемам, их не касающимся. 
	%p В общем – в рамках массового и группового рационального принятия решений в потенциальных или уже организованных сообществах еще и для: их формирования, консолидации, мотивации на реализацию совместно выработанных проектов, а также для повышения компетентности участников в принятии решений.

	%p Виды применения:
	%p Установка системы на сервере с предложением платного использования ее из Интернета.
	%p Продажа системы физическим и юридическим лицам для их внутреннего употребления.
	%p Продажа системы физическим и юридическим лицам для их внутреннего употребления с консультированием и оказанием помощи в первом применении – при формировании команды ведущих процедуру (которая сможет самостоятельно эксплуатировать систему в дальнейшем) и при последующем проведении этой командой первой процедуры.
	%p Продажа физическим и юридическим лицам услуги по проведению интересующих их процедур рационального принятия решений с использованием системы.
	%br
	%b VII. Перечень моделей и методов, используемых в полной версии системы 
	%p VII.1. Оригинальные 
	%p Модель выявления наиболее широких массовых неудовлетворенностей в виде определения максимальных элементов их частично-упорядоченного множества.
	%p Рефлексия по модели целенаправленного функционирования.
	%p Построение многокомпонентной системы из элементарных блоков на основе ранжирования и атрибуции.
	%p Метод иерархически-критериальных парных сравнений, агрегирования их результатов в частично-упорядоченное множество и его линеаризации.
	%p VII.2. Модифицированные     
	%p Трехкомпонентная модель целенаправленного функционирования.
	%p Пятиомпонентная модель преобразований.
	%p «Диалог – дискуссия – сближения позиций – деятельностное согласие».
	%p «Негативный мозговой штурм».
	%p «Дерево цель-задачи».
	%p Модель оценивания ожидаемой эффективности проекта.
	%br	     
	%b VIII. Литература
	%p 1. Minzberg, G., Ahlstranf, B., Lampel, J. (1998). Strategy Safary. A Guided Tour through the Wilds of Strategic Management. Prentice Hall.
	%p 2. Hyland J. L. (1995). Democratic Theory: The Philosophical Foundations. Manchester: Manchester Univ. Press. 
	%p 3. Christiano T. (2006). Democracy. Stanford Encyclopedia of Philosophy. 2006.
	%p 4. Щедровицкий, Г. (1995). Избранные труды. Москва: Шк.Культ.Полит.
	%p 5. Рац, М. (1995). Политика развития. Москва: Касталь.
	%br
	%b IX. Основные публикации Олега Савельзона по данной теме:
	%p 1. «Формализованные и автоматизированные модели принятия решений при формировании систем методик для аналитического контроля производств.» Диссертация. Москва: ГИРЕДМЕТ, 1984. 
	%p 2. "Как мы принимаем решения." Страна и мир (Мюнхен), 1990, 60, 51-60.
	%p 3. "Кто виноват и что делать?" Страна и мир (Мюнхен), 1991, 64, 40-48.
	%p 4. "The POSAC approach to discriminant analysis for decision-making and judgement."  In: The Proceedings of the Fourth International Facet Theory Conference. Prague, 1993, 434-442. (Соавтор: Shye, S.)
	%p 5. "Essay on narrowness." In S. Shye & O. Savelzon, Decision-Making and Consultation by Expert Systems: The Analysis of Partly Ordered Sets by Binary Comparison and Multiple Scaling. Jerusalem: Israel Institute of Applied Social Research, 1994, 69-140.
	%p 6. The Role of Rationality in Soviet and Western Business Decision-Making: A Comparative Study. Jerusalem: The Guttman Institute of Applied Social Research at The Hebrew University of Jerusalem, 1996.
	%p 7. "The Russian-Soviet culture impact on procedural rationality: Decision-making of immigrant businesspeople from the ex-USSR in Israel." In: Collection of Materials of the International Conference on Personal Absorption. Netanya, Israel, 1998, 74-100.
	%p 8. “Шок перемен и культура рационального принятия решений.” 22  Москва - Иерусалим (Иерусалим), 1999, 111, 134-148.
	%p 9. "Russia and Israel in the XXI Century. Prospects of Developing Rational Open Society." New York: Liberty Publishing House, 2000, 208pp.
	%p 10. "Развитие открытого общества в России и Израиле как компонент институционального и духовного процесса." Философские исследования, 2003, №2(39), 77-120.
	%p 11. "Культура принятия решений как фактор прогресса России." Вопросы философии, 2003, №10, 31-45.
	%p 12. "Политика эффективности – новое решение." Вопросы философии, 2004, №10, 3-19.
	%p 13. "Россия и несвобода, Израиль и псевдомир." Философские исследования, 2004, № 3-4, 83-138.
	%p 14. "Свобода выбора и процедурная рациональность." Общественные науки и современность, 2005, №1, 109-121.
	%p 15. "От концепции открытого общества к практике открытой организации." Рефлексивные процессы и управление, 2005, №2, 41-56. (Соавтор Р. Вайнтруб)
	%p 16. "Как инициировать развитие политики эффективности?" Nota Bene. (Иерусалим), №9, 2005, 283-309.
	%p 17. «Постнеклассическая идеология и стабильный электоральный успех в России и Израиле.» В сборнике: На пути к постнеклассическим концепциям управления, Москва: Институт Философии РАН, 2005, 231-254.
	%p 18. "Опыт избежания глупости." В сборнике: Проблема субъектов российского развития, М.: «Когито-Центр», 2006, 145-148.
	%p 19. "Теория и практика согласованного построения бренда компании и брендов продуктов на российском фармрынке." В сборнике: Брендинг в фармацевтике и парафармацевтике: российский опыт, Москва: Литтерра, 2006, 23-38. (Соавтор Р. Вайнтруб)
	%p 20. "Network Transformation of Israeli Democracy: From Political Machinating to Policy of National Efficiency." System Research and Open Systems Management (Haifa), Issue 3, 2007, 101-118.
	%p 21. «В противовес глупости: к рационально-демократическому общественному движению.» Свободная мысль (Москва), №10(1605), 2009, 123-136.
	%p 22. «Проект противодействия глупости в Израиле.» 22  Москва - Иерусалим. (Иерусалим), №156, 2010, 162-179.
	%p 23. «Эксперимент по инновационному развитию гражданского общества в России.» Посев (Москва), № 6(1605), 2011, 23-27.
	%p 24. «Проекты постороннего.» 22  Москва - Иерусалим. (Иерусалим), №163, 2012, 199-214.
	%p 25. «Рационализация культуры принятия решений – необходимое условие благополучной инновационной модернизации в России.» В сборнике Современное российское общество: традиции и инновации, Саратов: «Научная книга», 2012, 58-63.
	%br
	=link_to 'Вернуться на главную страницу','/'