.aboutpeople
    =link_to 'Вернуться на главную страницу','/'
    %br
    %br
    %h3 MASSDECISION
    %h3 ГУМАНИТАРНАЯ ИНТЕРНЕТ-ТЕХНОЛОГИЯ ДЛЯ МАССОВОЙ РАЦИОНАЛЬНОЙ ДЕМОКРАТИЧНОЙ ИГРОВОЙ ВЫРАБОТКИ РЕШЕНИЙ
    %h3 И ПОДГОТОВКИ К ИХ РЕАЛИЗАЦИИ
    %p Краткое описание
    %p Олег Савельзон, Высшая школа технологии в Иерусалиме

    %p Работа технологии MASSDECISION существенно отличается от обычного процесса принятия стратегических решений и подготовки к их реализации в массовых сообществах. Этот процесс включает разные виды деятельности, в которую вовлечены разные лица в разное время: сначала руководители, эксперты или идеологи вырабатывают новую стратегию, а затем будущих исполнителей готовят к ее реализации. Последнее обычно сводится к тому, что лицам, заинтересованным в реализации решения, приходится бороться с неприятием членов сообщества либо нововведений вообще, либо конкретного новшества в частности. В обоих случаях особенно негативное влияние оказывает то, что решение «спускается сверху», так как принимается без участия тех, кому предназначено его исполнять. Поэтому они зачастую неверно понимают стратегический замысел в целом и не обращают внимания на важные нюансы. MASSDECISION противодействует этим негативным явлениям, объединяя всех участников процесса и виды деятельности. Будущие исполнители на равных правах вовлекаются в выработку решения. Более того, они вырабатывают не только стратегию, но и план первого этапа ее воплощения в жизнь. Таким образом, подготовка к реализации решения оказывается намного шире, чем в обычном процессе. При работе по технологии MASSDECISION исполнители приучаются критически осмысливать собственную деятельность и получают необходимые инструменты для корректировки стратегии в случае непредвиденных помех в ходе ее реализации. Таким образом, технология формирует верное понимание принятого решения его будущими исполнителями, и, что не менее важно, повышает уровень их мотивации, сплоченности и способности корректировать собственные действия в ходе реализации решения.

    %p
        Для практического применения технологии MASSDECISION разработан комплекс компьютерных программ, поддерживающих сетевое обучение, логическую обработку информации и стимулирование творческого мышления участников. Представление информации и обмен мнениями происходят на специальном сайте. Участники процедуры выработки решения в любое время могут размещать на нем свои материалы, комментарии или оценки — процедура не требует одновременного или обязательного присутствия на сайте. В результате применения MASSDECISION коллективно вырабатывается решение, включающее:  один или несколько вариантов максимально улучшенной целевой ситуации;
        один или несколько планов преобразования текущей ситуации;
        согласованное видение промежуточной ситуации, которая наступит после реализации первого этапа преобразований;
        согласованный детальный план первого этапа преобразований.

    %p В чем же состоят новизна и полезность технологии MASSDECISION?

    %p Во-первых, в оригинальном подходе к постановке задач. В процессе выработки массовых решений традиционно ставятся две основные задачи, и до сих пор считалось, что эти задачи конфликтуют между собой. С одной стороны, качество принятого решения должно быть максимально высоким, а это маловероятно при вовлечении большого количества участников с невысоким уровнем компетентности. С другой стороны, вовлечение большого количества участников как раз очень желательно для последующей реализации, равно как и то, чтобы участие каждого из них было реальным и соответствовало уровню его компетентности.
    %p
        Оригинальное содержание технологии помогает решить первую задачу. В процедуре MASSDECISION используются оригинальные авторские модели и техники, а также модифицированные версии известных моделей. Эти инструменты помогают стимулировать проектное мышление и корректировать наиболее вредоносные отклонения от рациональности. Вот несколько примеров таких отклонений:
        %ul(style="margin-left: 30px;")
            %li кратковременное выгадывание без учета долгосрочной перспективы;
            %li склонность к негативному целеполаганию (целью ставится не детально проработанный образ позитивного будущего, а уход от имеющегося негатива);
            %li игнорирование контрнегативного анализа решения (то есть выявления вероятных негативных эффектов как в процессе, так и в результате реализации решения);
            %li уклонение от выработки нескольких вариантов решения;
            %li неготовность к компромиссу в случае, когда решение вырабатывается коллективно.
        %br
        Процедура выработки решений MASSDECISION включает шесть стадий:

        %ol(style="margin-left: 30px;")
            %li анализ ситуации, вызывающей неудовлетворение сообщества или его руководителей;
            %li формулирование проблемы;
            %li подготовка и представление вариантов решения;
            %li оценивание предложенных вариантов;
            %li выбор лучшего варианта голосованием;
            %li заключение о продолжении процедуры в том или ином виде или ее окончании.
        %br
        Каждая стадия начинается с того, что участникам разъясняются и наглядно иллюстрируются модели и техники, в рамках которых в дальнейшем происходит представление и обсуждение информации. Таким образом, элементы рационального и проектного мышления внедряются в коллективную мыслительную деятельность непосредственно в процессе выработки решения. Некоторые из участников усваивают те или иные элементы и впоследствии более компетентно принимают решения.
        Вторую задачу, то есть вовлечение максимального количества активных участников в процесс принятия решения, помогает решить оригинальная игровая форма процедуры. Участие в выработке решения может воплощаться в оценке, анализе и создании содержательных материалов. Эти виды деятельности перечислены в порядке возрастания уровня сложности и компетентности, которая для них требуется. Игра порождается тем, что вклад участника в общую деятельность на любой стадии процедуры вознаграждается баллами — невысокими за оценку, средними за анализ и самыми высокими за создание содержательных материалов. По окончании процедуры баллы конвертируются в денежные призы. В сообществах, где выработка решений проводится многократно, помимо награждений за отдельные процедуры можно устраивать награждения по итогам года. Для этого вместе с каждым призом его получателю начисляются рейтинговые очки, соответствующие величине приза. А в конце года игрокам с самыми высокими суммарными рейтингами вручаются крупные премии. Накопление очков в течение года комментируется так, чтобы популяризировать лидеров и подогреть состязательный азарт участников. Этим  стимулируется повышение компетентности внутри каждого виды деятельности по принятию решений и вовлечение членов сообщества во все более и более сложные ее виды.
    %p Деловая игра самоорганизована: вид и степень участия в ней выбирают сами игроки в зависимости от своих способностей и интересов. На каждой стадии процедуры всем участникам предоставляются равные возможности учиться и придумывать. Это особенно важно в том случае, когда сообщество, в котором вырабатывается решение, впоследствии должно принять непосредственное участие в его реализации. Дело в том, что люди, участвовавшие в творческом и демократическом процессе принятия решения, хорошо понимают его суть и приобретают высокую мотивацию к его исполнению. Таким образом, оригинальная по форме и содержанию процедура не только устраняет конфликт между двумя основными задачами, но и способствует обучению и повышению мотивации участников. На этапе выработки решения мотивация поддерживается состязанием за признание и материальные призы, а на этапе его реализации — гордостью за то, что выполняется решение, соавторами которого в той или иной мере чувствуют себя все члены сообщества.

    %p Итак, основные преимущества использования процедуры MASSDECISION состоят в том, что в процессе выработки решения участники одновременно готовятся к его реализации, само решение обладает высокой содержательной ценностью, а участники процедуры приобретают полезные навыки рационального мышления, которые сохраняются и после окончания процедуры.

    %p В заключение – краткий обзор основных стадий выработки решения, перечисленных выше:

    %p
        %b 1. Анализ ситуации посредством выявления максимально крупных конкретных несовершенств

    %p Чтобы разработать проект корректировки ситуации, вызывающей неудовлетворенность сообщества, сперва надо выявить конкретные несовершенства, которые следует исправлять. Нередко отдельное несовершенство является частью более широкой проблемы и его невозможно устранить, не решив последнюю. Следовательно, ситуацию надо исправлять начиная с самых широких проблем. Именно поэтому на первой стадии участники при помощи оригинальной модели выявляют максимально крупные, однако конкретные несовершенства, а затем оценивают их посредством голосования. Под словом «конкретные» понимаются такие несовершенства, которые оказывают определенный отрицательный эффект на определенные части сообщества, и этот эффект проявляется в ходе определенных мероприятий, процессов, событий или ситуаций.

    %p
        %b 2. Формулирование проблемы при помощи создания и анализа образов желаемого будущего

    %p Проблема представляется как досадная разность между существующим несовершенным (или неудовлетворительным) положением вещей и желаемым будущим, в котором несовершенства устранены. Ситуация, требующая корректировки, выявляется в процессе анализа на стадии 1, а на второй стадии участники выдвигают и обсуждают варианты желаемого будущего. Модератор процедуры принимает только те предложения, которые содержат хотя бы одну оригинальную (то есть не встречающуюся у других авторов) корректировку любого несовершенства, набравшего достаточное количество голосов на предыдущей стадии.

    %p
        %b 3. Представление проектов

    %p Проект решения должен содержать предложения по исправлению всех несовершенств, набравших достаточное количество голосов на стадии анализа. Для начального этапа реализации проекта следует выбирать самые простые, нетрудоемкие и дешевые преобразования, приносящие наиболее быстрый и ощутимый эффект. Свой выбор участники могут обосновать соображениями здравого смыла, а могут воспользоваться компьютерной программой на основе оригинального метода ранжирований и атрибуций.

    %p
        %b 4. Оценивание проектов

    %p Для оценки проектов используются три оригинальных прогнозных показателя:
    %p a) эффективность проекта в целом;
    %p b) эффективность первого этапа проекта;
    %p c) негативный эффект от проекта.
    %p Общий показатель предпочтительности проекта (N) очень приблизительно рассчитывается по следующей формуле: N = (a+b) – c.

    %p
        %b 5. Выбор лучшего проекта

    %p Лучший проект выбирается голосованием. К нему допускаются проекты, принятые модератором на стадии 3.

    %p
        %b 6. Заключение о продолжении процедуры в том или ином виде или ее окончании

    %p Если поддержку подавляющего большинства голосов получает один проект, то, естественно, принимается решение о его реализации. Если же примерно равное количество голосов набирают несколько проектов, то целесообразно осуществить процесс их сближения, например, при помощи оригинального метода ДИАЛОГ — ДИСКУССИЯ — СБЛИЖЕНИЕ ПОЗИЦИЙ — ДЕЯТЕЛЬНОСТНОЕ СОГЛАСИЕ.
    %br
    %br

    %br
    %b Основные публикации Олега Савельзона по данной теме:
    %p 1. «Формализованные и автоматизированные модели принятия решений при формировании систем методик для аналитического контроля производств.» Диссертация. Москва: ГИРЕДМЕТ, 1984.
    %p 2. "Как мы принимаем решения." Страна и мир (Мюнхен), 1990, 60, 51-60.
    %p 3. "Кто виноват и что делать?" Страна и мир (Мюнхен), 1991, 64, 40-48.
    %p 4. "The POSAC approach to discriminant analysis for decision-making and judgement."  In: The Proceedings of the Fourth International Facet Theory Conference. Prague, 1993, 434-442. (Соавтор: Shye, S.)
    %p 5. "Essay on narrowness." In S. Shye & O. Savelzon, Decision-Making and Consultation by Expert Systems: The Analysis of Partly Ordered Sets by Binary Comparison and Multiple Scaling. Jerusalem: Israel Institute of Applied Social Research, 1994, 69-140.
    %p 6. The Role of Rationality in Soviet and Western Business Decision-Making: A Comparative Study. Jerusalem: The Guttman Institute of Applied Social Research at The Hebrew University of Jerusalem, 1996.
    %p 7. "The Russian-Soviet culture impact on procedural rationality: Decision-making of immigrant businesspeople from the ex-USSR in Israel." In: Collection of Materials of the International Conference on Personal Absorption. Netanya, Israel, 1998, 74-100.
    %p 8. “Шок перемен и культура рационального принятия решений.” 22  Москва - Иерусалим (Иерусалим), 1999, 111, 134-148.
    %p 9. "Russia and Israel in the XXI Century. Prospects of Developing Rational Open Society." New York: Liberty Publishing House, 2000, 208pp.
    %p 10. "Развитие открытого общества в России и Израиле как компонент институционального и духовного процесса." Философские исследования, 2003, №2(39), 77-120.
    %p 11. "Культура принятия решений как фактор прогресса России." Вопросы философии, 2003, №10, 31-45.
    %p 12. "Политика эффективности – новое решение." Вопросы философии, 2004, №10, 3-19.
    %p 13. "Россия и несвобода, Израиль и псевдомир." Философские исследования, 2004, № 3-4, 83-138.
    %p 14. "Свобода выбора и процедурная рациональность." Общественные науки и современность, 2005, №1, 109-121.
    %p 15. "От концепции открытого общества к практике открытой организации." Рефлексивные процессы и управление, 2005, №2, 41-56. (Соавтор Р. Вайнтруб)
    %p 16. "Как инициировать развитие политики эффективности?" Nota Bene. (Иерусалим), №9, 2005, 283-309.
    %p 17. «Постнеклассическая идеология и стабильный электоральный успех в России и Израиле.» В сборнике: На пути к постнеклассическим концепциям управления, Москва: Институт Философии РАН, 2005, 231-254.
    %p 18. "Опыт избежания глупости." В сборнике: Проблема субъектов российского развития, М.: «Когито-Центр», 2006, 145-148.
    %p 19. "Теория и практика согласованного построения бренда компании и брендов продуктов на российском фармрынке." В сборнике: Брендинг в фармацевтике и парафармацевтике: российский опыт, Москва: Литтерра, 2006, 23-38. (Соавтор Р. Вайнтруб)
    %p 20. "Network Transformation of Israeli Democracy: From Political Machinating to Policy of National Efficiency." System Research and Open Systems Management (Haifa), Issue 3, 2007, 101-118.
    %p 21. «В противовес глупости: к рационально-демократическому общественному движению.» Свободная мысль (Москва), №10(1605), 2009, 123-136.
    %p 22. «Проект противодействия глупости в Израиле.» 22  Москва - Иерусалим. (Иерусалим), №156, 2010, 162-179.
    %p 23. «Эксперимент по инновационному развитию гражданского общества в России.» Посев (Москва), № 6(1605), 2011, 23-27.
    %p 24. «Проекты постороннего.» 22  Москва - Иерусалим. (Иерусалим), №163, 2012, 199-214.
    %p 25. «Рационализация культуры принятия решений – необходимое условие благополучной инновационной модернизации в России.» В сборнике Современное российское общество: традиции и инновации, Саратов: «Научная книга», 2012, 58-63.
    %br
    =link_to 'Вернуться на главную страницу','/'