%h1 Помощь
%p 
	Мы рады представить вам обновленный портал. Теперь в верхней интерфейсе перечислены все этапы, через которые нам предстоит пройти. Сейчас мы работаем над сбором "идей и информации". Портал будет активно обновляться, а мы будем сообщать вам, что появилось нового.

%ul
	%li=link_to 'Введение', '/help0'
	%li=link_to 'Помощь по разделу сбор идей и информации', '/help2'
	%li=link_to 'Модель формулирования недовольств', '/help6'

	%li=link_to 'Помощь по разделу сбор недовольств', '/help1'

	%li=link_to 'Mодель целенаправленной деятельности', '/help7'
	%li=link_to 'Помощь по разделу Концепции', '/help3'
	%li=link_to 'Помощь по разделу Проекты', '/help4'
	%li=link_to 'Помощь по разделу Оценка', '/help5'
	%li=link_to 'Что такое реферативная записка', :anchor => "01"

%br

Видеовстпуление
%br
<iframe width="560" height="315" src="http://www.youtube.com/embed/GOQP8vSamoI" frameborder="0" allowfullscreen></iframe>
