%h1 Помощь
%p 
	Мы рады представить вам обновленный портал. Теперь в верхней интерфейсе перечислены все этапы, через которые нам предстоит пройти. Сейчас мы работаем над сбором "идей и информации". Портал будет активно обновляться, а мы будем сообщать вам, что появилось нового.


%ul
	%li=link_to 'Помощь по разделу сбор недовольств', '/help1'
	%li=link_to 'Помощь по разделу сбор идей и информации', '/help2'


Небольшой анонс нового портала, теперь мы будем делать видео чаще и обстоятельнее
%br
<iframe width="560" height="315" src="http://www.youtube.com/embed/GOQP8vSamoI" frameborder="0" allowfullscreen></iframe>

