%h1 Помощь по разделу "Оценка проектов"

%b для начала  мы записали видео, которое тоже поможет помочь понять, что же такое оценка проекта!
<iframe width="560" height="315" src="http://www.youtube.com/embed/ClJtgt-SxaM" frameborder="0" allowfullscreen></iframe>


