%h1 Помощь по разделу "Проекты"
%b Чтобы понять, что такое проект - изучите, пожалуйста, данную схему (щелкните на картинку для увеличения)
%br
= link_to image_tag('help/12small.jpg'), 'help/12.jpg', name:'01'
%br
%b Чтобы понять, как работать с проектами - мы нарисовали еще одну схему (щелкните на картинку для увеличения)
%br
= link_to image_tag('help/13small.jpg', width: '700px'), 'help/13.jpg', name:'01'
= link_to '', '', name:'video'
%br
%b Еще мы записали видео, которое тоже поможет помочь понять, что же такое проект!
%br
<iframe width="560" height="315" src="http://www.youtube.com/embed/xLqRBwnuaWc" frameborder="0" allowfullscreen></iframe>>
