%h1 Помощь
%p 
	Мы рады представить вам обновленный портал. Теперь в верхней интерфейсе перечислены все этапы, через которые нам предстоит пройти. Сейчас мы работаем над сбором "идей и информации". Портал будет активно обновляться, а мы будем сообщать вам, что появилось нового.

%ul
	%li=link_to 'Помощь по разделу сбор недовольств', '/help1'
	%li=link_to 'Помощь по разделу сбор идей и информации', '/help2'
	%li=link_to 'Помощь по разделу Концепции', '/help3'
	%li=link_to 'Что такое реферативная записка', :anchor => "01"



Небольшой анонс нового портала, теперь мы будем делать видео чаще и обстоятельнее
%br
<iframe width="560" height="315" src="http://www.youtube.com/embed/GOQP8vSamoI" frameborder="0" allowfullscreen></iframe>

=link_to 'Что такое реферативная записка', '', :name =>'01'
%br
Студент должен представить короткую реферативную записку об этапе выявления наиболее насущных недовольств, отвечая на следующие вопросы:
%br
(1)
%br
Предварительные: Какова была, по мнению автора реферата, на данном этапе цель организаторов процедуры и какие ими намечалось разрешить задачи? Почему, на каких основаниях организаторы поставили именно такие цель и задачи?
%br
Рефлексирующие: Насколько в ходе процедуры участники продвинулись к намеченной цели и разрешили поставленные задачи и почему? Подтвердились ли основания, по которым были поставлены именно такие цель и задачи?
%br
Главные: Не следует ли ввиду полученного в ходе деятельности опыта внести коррективы в основания? Если да, то какие и как в связи с этим скорректировать цель и задачи?
%br
(2)
%br
Предварительные:  Какие методы, средства и другие ресурсы организаторы использовали для разрешения поставленных задач? Почему, по мнению автора реферата, были избраны именно такие методы, средства и другие ресурсы?
%br
Рефлексирующие: Насколько эффективными оказались избранные методы, средства и другие ресурсы? Подтвердились ли основания, по которым они были избраны?
%br
Главные: Не следует ли ввиду полученного в ходе деятельности опыта внести коррективы в основания? Если да, то какие и как в связи с этим скорректировать методы, средства и другие ресурсы?
%br
(3)
%br
Предварительные: Какие реальные действия были осуществлены организаторами? По какой программе (порядок, время, условия начала и завершения)?
%br
Рефлексирующие: Что было сделано эффективно, а что нет, и почему?
%br
Главные: Не видно ли из полученного в ходе деятельности опыта, что следовало бы скорректировать действия? Если да, то как?


