%h1=@title
- if signed_in? and user?
	= link_to "+Добавить неудовлетворенность", current_user
/ - if active_form_frustration?
/ 	%h1{:class => "frustration"} Добавить неудовлетворенность
/ 	= render "shared/frustration_form"
= render "shared/feed_frustrations"



