- if signed_in? and not expert?
	= render "shared/user_info"

=@title
/ - if active_form_frustration?
/ 	%h1{:class => "frustration"} Добавить неудовлетворенность
/ 	= render "shared/frustration_form"
%table{:class => "front"}
	%tr
		%td= render "shared/feed_frustrations"
		%td{:class => "td_top"}
			%h2 Лучшие пользователи
			= render @users


