
- if signed_in? 
	%table{:class => "front"}
		%tr
			%td
				%h1{:class => "frustration"} Добавить неудовлетворенность
				= render "shared/frustration_form"
				= render "shared/feed_frustrations"
			%td{:class => "td_top"}
				= render "shared/user_info"
- else
	%h1 Система превращения ваших неудовлетворенностей в удовлетворенности
	= link_to "Зарегистрироваться, чтобы участвовать", signup_path,  :class =>"signup_button round"