%table
  %tr
    %td
      = image_tag 'savelzon.jpg'
  
      %br 
      %span.rate
    %td
      %h1  Олег Савельзон
      %p.righttext 
        Доктор философии, руководитель исследовательского проекта в Высшей школе технологии в Иерусалиме. 
        %br
        Занимается развитием теории принятия решений и ее приложениями в политико-философских, социокультурных, управленческих и маркетинговых исследованиях, а также в практическом менеджменте.
        %br
        %br
        %b Избранные статьи:
        %br
        1. 
        =link_to 'Проекты постороннего', 'http://www.promegalit.ru/publics.php?id=4891'
