
.aboutpeople
  .phototext
    = image_tag 'ralf.jpg'
    %br
    %br
    =link_to 'РАЛЬФ ВАЙНТРУБ','/savelzon', class: 'name'
    %br
    %p.about
      %span.post Руководитель проекта.
      %br
      
  .phototext
    %p.promotext 

      =link_to 'Вернуться на главную страницу','/'
      %br
      %br
      Предприниматель (создание венчурных инновационных проектов),  Президент и владелец  группы компаний. Автор ряда научно-практических работ в стратегическом маркетинге, менеджменте, брендинге.
      %br
      %br
      %b Образование:
      %br
      Физический факультет, Саратовский государственный университет 
      %br
      Экономика и менеджмент, обучение по программе Горбачев- Коль (Общество Карла Дуйсберга, Германия )
      %br
      %br
      1970-1982 гг. - научная деятельность и преподавание в Академии химической защиты.
      %br
      1983-1989 гг. – работа в  промышленности
      %br
      %br
      1989 год - создание частной инновационной инвестиционной компании «Инвар», реализован ряд инвестиционных проектов с участием партнеров из Германии, Японии, Италии, Англии  в области высоких технологий
      %br
      %br
      1991 год - создание частной инновационной компании «Инвар. Фармацевтика. Медицинские технологии» (РФ). 22 года успешной работы, национальная компания, более 20 представительств на  территории РФ, реализуются инновационные инвестиционные проекты по выводу на фарм рынок РФ оригинальных фарм препаратов европейских партнеров и их внедрению в широкую медицинскую практику. Инвар входит в ТОП25 ведущих отечественных компаний,  препараты компании входят в ТОП 500 наиболее продаваемых на рынке РФ, а в гинекологии и дерматологии  занимают лидерские позиции. Инвар успешно конкурирует с транснациональными фарм компаниями на рынке РФ.
      %br
      %br
      2011 год - создание швейцарской инновационной фармацевтической компании "Контрад свис" (Лугано, Швейцария). Продукты и услуги: портфель инновационных продуктов для рынков РФ, СНГ ,Восточной и Южной Европы, других растущих, быстро развивающихся рынков. Разработка инновационных маркетинговых стратегий для создания с нуля брендов продуктов, которые займут лидерские позиции на рынках присутствия при участии региональных партнеров. 
      %br
      %br
      2012 год - создание венчурного инновационного проекта "MASSDECISION". Р. Вайнтруб, президент компании Инвар-консалтинг (Лугано, Швейцария) - инвестор, генеральный менеджер проекта, О. Савельзон, проф, Высшей школы технологии (Иерусалим), научный руководитель проекта.