
%ul.leftlink
	%li= link_to "Проекты с оценками", '/estimate/posts', class: cp_frustration('/estimate/posts') 
	%li= link_to "Голосование", "/estimate/vote" , class: cp_frustration('/estimate/vote') 



