
%ul.leftlink
	%li= link_to "Проекты с оценками", '/estimate/posts', class: cp_frustration('/estimate/posts') 
	%li= link_to "Архив", "/estimate/posts/status/1" , class: cp_frustration('/estimate/posts/status/1') 



