- if boss?
    .panel.panel-info
        .panel-heading Панель Администратора
        .panel-body
            -if @project.status == 10
                =link_to 'Начать голосование',  next_stage_core_project_path(@project), id: 'change_stage'
            -if @project.status == 11
                =link_to 'Завершить процедуру', next_stage_core_project_path(@project), id: 'change_stage'



