.row
  .container
    .col-sm-3.col_padding_left_0.col_padding_right_3
      .border_grey.col_rate_head
        Проект
    .col-sm-4.col_padding_left_3.col_padding_right_3
      .border_grey.col_rate_head
        Этот проект важен для проблемы, заданной заказчиком?
    .col-sm-5.col_padding_right_0.col_padding_left_3
      .border_grey.col_rate_head
        Этот проект реализуем в предложенные сроки при наличии запланированных ресурсов с учетом рисков проекта?
.divider10
= render partial: 'post_short', collection: @posts



- unless show_check_field?(name_controller.to_s + '_intro')
  = render partial: 'popup_welcome'

