.project
  %h4 Проекты
  .container
    - @posts.each_slice(2) do |post|
      .row.projects
        = render partial: 'estimate/posts/post_estimate', locals: {post: post.first} if post.first
        = render partial: 'estimate/posts/post_estimate', locals: {post: post.second} if post.second

#render_estimate_post

-#.row
-#  .col-md-12
-#    %section
-#      .body
-#        = link_to t('menu.help_note'), "/project/#{@project.id}/#{controller.controller_path == 'essay/posts' ? stage_for_essay(params[:stage].to_i) : controller.controller_path}/to_work", class: 'btn btn-info pull-right'
-#
-#        = render partial: '/plan/posts/post_estimate', collection: @posts
