%section.widget
  %header
    .row
      .col-md-12
        %h3.color-grey
          =t('voting.plan.title')
          %br
  .body
    %br
    #stage_success.text-center(style="display:none;" )
      %section.widget
        .body
          %h3=t('voting.thanks')
          .col-md-6
            =link_to t('voting.go_reflection'), new_essay_post_path(@project, 5),class: "btn btn-lg btn-success"
          .col-md-6
            =link_to t('voting.plan.go_list'), plan_posts_path(@project),class: "btn btn-lg btn-primary"
          %br
          %br
    - unless @number_v<1  and not boss?
      %section.widget#fixBlock
        %h4
          =t('voting.plan.select', num: @project.stage5)
        %h3.text-info
          =t('voting.have_votes')
          %b#count_vote=@number_v
    %br
    .row
      .col-md-12
        %section.widget
          .body
            = render partial: '/plan/posts/post_estimate', collection: @posts