%section.widget
  %header
    .row
      .col-md-12
        %h3.color-grey
          5 этап: Оценка проектов. Голосование.
          %br
        %span(style='font-size: 20px;line-height: 30px;')
          Голосование за проекты в рамках процедуры:
          =@project.name
  .body
    %br
    #stage_success.text-center(style="display:none;" )
      %section.widget
        .body
          %h3 Спасибо за участие в голосовании!
          .col-md-6
            =link_to "Перейти к рефлексии", new_essay_post_path(@project, 5),:class => "btn btn-lg btn-success"
          .col-md-6
            =link_to "Перейти к списку проектов", plan_posts_path(@project),:class => "btn btn-lg btn-primary"
          %br
          %br
    - unless @number_v<1  and not boss?
      %section.widget#fixBlock
        %h4
          Вы можете выбрать
          %b=@project.stage5
          проект, который на Ваш взгляд является лучшим
        %h3.text-info
          =t('voting.have_votes')
          %b#count_vote=@number_v
    %br
    .row
      .col-md-12
        %section.widget
          .body
            = render :partial => '/plan/posts/post_estimate', :collection => @posts



  -##vote_container
  -#  -@posts.each do |post|
  -#    .col-md-4.col-sm-8.col-xs-12
  -#      - if can_vote?(post.voted(current_user).size, @number_v, @votes)
  -#        .box
  -#          %span.color-green=post.name
  -#          %span
  -#            =link_to 'подробнее', plan_post_path(@project, post)
  -#          %br
  -#          =simple_format(post.goal)
  -#          %br
  -#          =simple_format(post.content)
  -#          .description
  -#            =link_to "/project/#{@project.id}/plan/vote/#{post.id}", :remote => true, :method => :put, class: "btn btn-default btn-sm vote-button", id: "vote_#{post.id}" do
  -#              %i.fa.fa-thumbs-up
  -#              -if boss?
  -#                =post.voted_users.size
  -#              Проголосовать
  -#      -else
  -#        .box
  -#          %span.color-green=post.name
  -#          %span
  -#            =link_to 'подробнее', plan_post_path(@project, post)
  -#          %br
  -#          =simple_format(post.goal)
  -#          %br
  -#          =simple_format(post.content)
  -#          .description
  -#            %a.btn.btn-success.btn-sm.disabled.vote-button
  -#              %i.fa.fa-thumbs-up
  -#              -if boss?
  -#                =post.voted_users.size
  -#              Проголосовать



-#= render :partial => 'shared/post_for_vote', :collection => @posts,  :locals => { :path_for_voting => @path_for_voting, :count_voted => @number_v, :votes => @votes}





-#%h1 Голосование за проекты
-#
-#-#<iframe width="560" height="315" src="http://www.youtube.com/embed/AvH3ePFnOS8" frameborder="0" allowfullscreen></iframe>
-#- if !current_user.nil? and current_user.plan_forecasts.empty?
-#	/and not(expert? or admin?)
-#	Перед началом голосования вы можете, если захотите, сделать свой прогноз! Если вы угадаете оба проекта - получите 80 баллов.
-#	= form_for current_user, :url => forecast_plan_user_path(current_user) do |f|
-#		= select_tag 'forecast_student', options_from_collection_for_select(@plan_posts, "id", "content_short"), :prompt => "Выберите лучший проект по версии студентов"
-#		%br
-#		%br
-#		= select_tag 'forecast_jury', options_from_collection_for_select(@plan_posts, "id", "content_short"), :prompt => "Выберите лучший проект по версии жюри"
-#		%br
-#		%actions
-#			=f.submit "", class: 'btn'
-#= render :partial => '/plan/posts/post_estimate_forecast', :collection => @plan_posts