.col-md-12
  %section.widget
    %header
      %h3.text-center=t('menu.analytics')
    .body
      %h3 Комментарии
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th
              Тип комментария
            %th
              Кол-во постов

        %tbody
          -if @project
            %tr
              %th
                Всего комментариев
              %td
                =@project.concept_comments.count
            %tr
              %td
                Комментарии без пометок
              %td
                =@project.concept_comments.not_check.count
            %tr
              %td
                Проблема
              %td
                =@project.concept_comments.type_status("by_discontent").count
            %tr
              %td
                Идея
              %td
                =@project.concept_comments.type_status("by_concept").count
            %tr
              %td
                Проблема + Идея
              %td
                =@project.concept_comments.problem_idea.count
            %tr
              %td
                Требует Обсуждения
              %td
                =@project.concept_comments.type_status('by_discuss').count
            %tr
              %td
                Важное
              %td
                =@project.concept_comments.type_status('by_approve').count
            %tr
              %td
                Требует Обсуждения + Важное
              %td
                =@project.concept_comments.discuss_approve.count
            %tr
              %td
                Отмечены лайками
              %td
                =@project.concept_comments.type_like.count

      %br
      %br
      %h3 Нововведения
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th
              Тип нововведений
            %th
              Все нововведения
            %th
              Концепция
            %th
              Полные
        %tbody
          -if @project
            %tr
              %td
                Все Аспекты
              %td
                =@project.proc_aspects.count
              %td
                =@project.proc_aspects.count
              %td
                =@project.proc_aspects.count

            -@project.proc_aspects.order(:id).each do |asp|
              %tr
                %td
                  =asp.content
                %td
                  =asp.concept_count.count
                %td
                  =asp.concept_count.count
                %td
                  =asp.concept_count.count

