=link_to 'вернуться к процедуре', '/project/'+@core_project.id.to_s+'/help'

%h1 семинара  "Рациональное принятие стратегических решений в бизнесе"
%b Олег Савельзон, Высшая школа технологии – Институт Лев, Иерусалим
%br
<iframe width="560" height="315" src="//www.youtube.com/embed/YOPkY55GJTg?list=SP4DC6F858EE6BCA00" frameborder="0" allowfullscreen></iframe>
%br
<iframe width="560" height="315" src="//www.youtube.com/embed/B2byOvyojLw?list=SP4DC6F858EE6BCA00" frameborder="0" allowfullscreen></iframe>
%br
<iframe width="560" height="315" src="//www.youtube.com/embed/-_KqOkupJ9A?list=SP4DC6F858EE6BCA00" frameborder="0" allowfullscreen></iframe>
%br
<iframe width="560" height="315" src="//www.youtube.com/embed/cQA6A1lO4W8?list=SP4DC6F858EE6BCA00" frameborder="0" allowfullscreen></iframe>
%br
<iframe width="560" height="315" src="//www.youtube.com/embed/ml0DqQTAa3Y?list=SP4DC6F858EE6BCA00" frameborder="0" allowfullscreen></iframe>
%br
<iframe width="560" height="315" src="//www.youtube.com/embed/HWcahIoeBzU?list=SP4DC6F858EE6BCA00" frameborder="0" allowfullscreen></iframe>
%br
<iframe width="560" height="315" src="//www.youtube.com/embed/h2tTEhUmNqs?list=SP4DC6F858EE6BCA00" frameborder="0" allowfullscreen></iframe>
%br
<iframe width="560" height="315" src="//www.youtube.com/embed/KSM_J49WFnA?list=SP4DC6F858EE6BCA00" frameborder="0" allowfullscreen></iframe>
%br
<iframe width="560" height="315" src="//www.youtube.com/embed/UOoP8feCh4E?list=SP4DC6F858EE6BCA00" frameborder="0" allowfullscreen></iframe>
%br
<iframe width="560" height="315" src="//www.youtube.com/embed/KRsGIki18RE?list=SP4DC6F858EE6BCA00" frameborder="0" allowfullscreen></iframe>
%br
<iframe width="560" height="315" src="//www.youtube.com/embed/mgsWp7FsiDo?list=SP4DC6F858EE6BCA00" frameborder="0" allowfullscreen></iframe>
%br
<iframe width="560" height="315" src="//www.youtube.com/embed/q-4zD69fB1M?list=SP4DC6F858EE6BCA00" frameborder="0" allowfullscreen></iframe>
%br
<iframe width="560" height="315" src="//www.youtube.com/embed/aXopfIzvOEw?list=SP4DC6F858EE6BCA00" frameborder="0" allowfullscreen></iframe>
%br
<iframe width="560" height="315" src="//www.youtube.com/embed/5ETmsnq25fk?list=SP4DC6F858EE6BCA00" frameborder="0" allowfullscreen></iframe>