=link_to 'вернуться к  помощи', '/project/'+@core_project.id.to_s+'/help'

%h1 Краткое описание процедуры выработки решения в вопросах и ответах:
%br
%b I. Где проводится?
%br

В каком-либо массовом сообществе или организации, например: в компании, государственной структуре, политической партии или движении, общественной ассоциации и т.п.
%br
%br

%b II. Когда?
%br

В случае, если ситуация в сообществе вызывает у многих его членов или у руководства сильную неудовлетворенность либо обеспокоенность.
%br
%br

%b III. Кто участвует?
%br

Главным образом, рядовые члены сообщества. Вместе с ними – руководители, приглашенные эксперты, возможно, партнеры или заинтересованные в деятельности сообщества лица.
%br
%br

%b IV. Что получается в итоге?
%br
Один или несколько проектов исправления неудовлетворительной ситуации и согласованный детальный план первого этапа преобразований.
%br
%br

%b V. Каким образом?
%br
Участие в выработке решения может воплощаться в оценке, анализе и создании содержательных материалов. В этих видах деятельности все участники имеют равные права и возможности вносить свой вклад на всех стадиях процедуры (о них в разделе VII).
%br
%br

%b VI. Как мотивируются участники?
%br
За вклад в оценку, анализ и создание содержательных материалов участникам начисляются баллы. По окончании процедуры лидеры награждаются премиями. Технически произвести оценку материалов решений или их компонентов при голосовании очень легко, так что состязаться в этом виде деятельности способен любой образованный человек (конечно, тем более успешно, чем более он компетентен и вдумчив в наблюдении процесса принятия решения). Поэтому преуспеть в этом могут многие, и получать будут по N премиальных баллов каждый. Количество вознаграждений за более трудоемкий анализ материалов меньше, однако составлять они будут на порядок больше N. Преуспевшие в самом трудном – создании материалов – получат на два порядка больше N. Премирование за оценку сопровождает голосования с электоральным барьером на стадиях предварительного обсуждения (за фрагменты), анализа ситуации (за несовершенства), формулирования проблемы (за условия, которые желательно создать в будущем) и выбора (за проекты). Таким образом, премиальными баллами прямо поощряется рациональное поведение в противоречивых ситуациях голосований при наличии электорального барьера, в которых голосующему, с одной стороны, хочется поддержать наиболее привлекательные для него альтернативы, с другой стороны, не хочется «потерять» свой голос, поддержав не привлекательные для большинства альтернативы, которые не пройдут электоральный барьер. А эту потерю можно предвидеть тем вернее, чем вдумчивее наблюдать за предшествующим голосованию обсуждением альтернатив, – значит, опосредованно поощряется вовлеченность участника в процедуру.
Аналитики могут получить премиальные баллы за наиболее интересные, по мнению ведущего, рефлексии по окончании каждой стадии процедуры; за полезные корректирующие и обоснованные критические комментарии при анализе созданных участниками; а также за особо интересные соображения на Форуме Обсуждений.
Премиальные баллы за создание материалов начисляются авторам принятых ведущим фрагментов (на стадии введения в процедуру), несовершенств (анализ ситуации), образов желаемого будущего (формулирование проблемы), проектов преобразования ситуации (генерирование вариантов решения) и оцениваний проектов (оценивание).
В отношении каждого участника ведутся счета набранных им премиальных баллов в оценке, анализе, создании материалов и в общей сумме. Лучшие в каждой из этих четырех номинаций по итогам процедуры награждаются ценными призами. Поэтому в ходе процедуры участникам постоянно сообщают, кто лидирует в состязании за те призы. Это сопровождается комментарием, цели которого 1) подогреть интерес и азарт участников; 2) создать репутации и авторитет лидеров, чтобы проявления «рациональной компетентности» (главные компоненты которой соответствуют вышеозначенным трем видам деятельности в принятии решений) стали престижными.
%br
%br
%b VII. Каковы вкратце основные стадии выработки решения?
%br
0) Введение в процедуру
%br

Участники узнают и обсуждают порядок, правила, темы и описания процедуры. Этих описаний два: настоящее – короткое; и второе – гораздо более подробное. Второе разворачивается по мере продвижения. С наступлением каждой следующей стадии о ней рассказывается в деталях и, если это требуется, она поясняется на иллюстративных примерах.
%br
1) Анализ ситуации посредством выявления максимально крупных конкретных несовершенств
%br
Чтобы разработать проект корректировки ситуации, вызывающей неудовлетворенность сообщества, сперва надо выявить конкретные несовершенства, которые следует исправлять. Нередко отдельное несовершенство является частью более широкой проблемы и его невозможно устранить, не решив последнюю. Следовательно, ситуацию надо исправлять начиная с самых широких проблем. Именно поэтому на первой стадии участники при помощи оригинальной модели выявляют максимально крупные, однако конкретные несовершенства, а затем оценивают их посредством голосования. Под словом «конкретные» понимаются такие несовершенства, которые оказывают определенный отрицательный эффект на определенные части сообщества, и этот эффект проявляется в ходе определенных мероприятий, процессов, событий или ситуаций.
%br
2) Формулирование проблемы при помощи создания и анализа образов желаемого будущего
%br
Проблема представляется как досадная разность между существующим несовершенным (или неудовлетворительным) положением вещей и желаемым будущим, в котором несовершенства устранены. Ситуация, требующая корректировки, выявляется в процессе анализа на стадии 1, а на второй стадии участники выдвигают и обсуждают варианты желаемого будущего. Модератор процедуры принимает только те предложения, которые содержат хотя бы одну оригинальную (то есть не встречающуюся у других авторов) корректировку любого несовершенства, набравшего достаточное количество голосов на предыдущей стадии.
%br
3) Представление проектов
%br
Проект решения должен содержать предложения по исправлению всех несовершенств, набравших достаточное количество голосов на стадии анализа. Для начального этапа реализации проекта следует выбирать самые простые, нетрудоемкие и дешевые преобразования, приносящие наиболее быстрый и ощутимый эффект. Свой выбор участники могут обосновать соображениями здравого смыла, а могут воспользоваться компьютерной программой на основе оригинального метода ранжирований и атрибуций.
%br
4) Оценивание проектов
%br
Для оценки проектов используются три оригинальных прогнозных показателя:
%br
a) эффективность проекта в целом;
%br
b) эффективность первого этапа проекта;
%br
c) негативный эффект от проекта.
%br
Общий показатель предпочтительности проекта (N) очень приблизительно рассчитывается по следующей формуле: N = (a+b) – c.
%br
5) Выбор лучшего проекта
%br
Лучший проект выбирается голосованием. К нему допускаются проекты, принятые модератором на стадии 3.
%br
6) Заключение о продолжении процедуры в том или ином виде или ее окончании
%br
Если поддержку подавляющего большинства голосов получает один проект, то, естественно, принимается решение о его реализации. Если же примерно равное количество голосов набирают несколько проектов, то целесообразно осуществить процесс их сближения, например, при помощи оригинального метода ДИАЛОГ — ДИСКУССИЯ — СБЛИЖЕНИЕ ПОЗИЦИЙ — ДЕЯТЕЛЬНОСТНОЕ СОГЛАСИЕ.
