=link_to 'вернуться к помощи', '/project/'+@core_project.id.to_s+'/help'

%h1 Резоны, по которым стоит активно участвовать в рациональной процедуре выработки решения по совершенствованию Вашей организации

%br
А) Успех и благополучие всякого человека во многом зависит от качества важнейших решений, принимаемых им. Поэтому очень ценно хорошо уметь это делать. Выработать такое умение можно в практической деятельности, предстоящей участникам процедуры.
%br
Б) Об активном и плодотворном участии в процедуре будет выигрышно упомянуть в рабочем резюме и в подтверждение этого предъявить удостоверение за подписью Руководителя исследований в Высшей Школе Технологии в Иерусалиме доктора философии Савельзона и Президента швейцарской компании «Инвар Консалтинг» Вайнтруба.
%br
В) Поскольку процедура будет проходить в игровой форме, есть возможность завоевать денежные премии, прославиться в качестве интеллектуального лидера в сообществе участников процедуры, а также зарекомендовать себя с лучшей стороны перед руководителями организации, наблюдающими за процедурой.
%br
Г) Каждый участник сможет способствовать совершенствованию организации, с которой он связан, а в случае появления в процедуре вредных, по его мнению идей, обосновать нецелесообразность их реализации.me width="560" height="315" src="//www.youtube.com/embed/5ETmsnq25fk?list=SP4DC6F858EE6BCA00" frameborder="0" allowfullscreen></iframe>