=link_to 'вернуться к  помощи', '/project/'+@core_project.id.to_s+'/help'
%h1 Как принять участие на нулевой стадии процедуры
%br
%b На нулевой стадии вы можете делиться своими идеями и вопросами по поводу предстоящей процедуры
%p
  Эта вспомогательная стадия необходима, чтобы вы могли подготовиться к основным этапам: задать вопросы, поделиться интересной информацией по теме процедуры и дополнить список фрагментов (тем)

%p Сделать это можно, нажав на кнопку "Добавить свою запись", заполнив форму в появившемся окне и нажав на кнопку "Отправить"
%p Обратите внимание: каждую запись можно прокомментировать, нажав на ссылку "Подробнее", а также поддержать, нажав на синюю цифру рядом с иконкой руки (выделено на рисунке)

%br
= image_tag 'help/help_img1.png', :width => '600px', :class => 'help_image'
%br
%br
%br
%b Спустя некоторое время запускается голосование за самые актуальные фрагменты
%p Для того чтобы принять участие в голосовании, достаточно щелкнуть по ссылке в появившемся зеленом блоке справа
%p В появившемся окне нужно выбрать пять фрагментов, которые кажутся вам наиболее важными для наших будущих проектов, нажав на "Отдать голос" рядом с ними
%p После этого можно добавить свой отзыв о прошедшем этапе, щелкнув на ссылке вверху (подчеркнуто красным), или почитать отзывы других участников
%br
= image_tag 'help/help_img2.png', :width => '600px', :class => 'help_image'
%br
%br
%br

%p=link_to 'Если что-то непонятно, вы можете задать вопрос', '/project/'+@core_project.id.to_s+'/question/posts/'