=link_to 'вернуться к помощи', '/project/'+@core_project.id.to_s+'/help'

%h1 ПРЕДСТАВЛЕНИЕ ПРОЕКТОВ
%p Напомним, что на стадии анализа ситуации были выявлены 12 несовершенств, прошедших электоральный барьер. Они называются «обязательными», поскольку устранение каждого из них обязательно должно быть описано в проекте. Фрагменты образов желаемого будущего, то есть нововведения,  были предложены на предыдущей стадии. В получившейся таблице каждому обязательному несовершенству соответствуют от одного до трех нововведений.
%p Данная стадия посвящена разработке целостных проектов повышения спроса на заочное образование в ИРБиСе.
%b В чем главное отличие проекта от образа?
%p В проекте к образу добавляется описание конкретных средств и действий, необходимых для создания нововведений.
%p Части проекта
1.	Эссе, в котором представлены краткие описания предлагаемых нововведений и планы их создания, а также обоснование того, почему были выбраны именно эти нововведения.
%br
2.	Конечный образ желаемого будущего, в котором устранены все обязательные несовершенства. При желании автор может добавить в проект нововведения, устраняющие несовершенства,  которые были приняты, но не прошли электоральный барьер, или даже вообще не были  представлены на стадии анализа. Однако эти добавления будут одобрены экспертом, только если автор сумеет убедительно обосновать их необходимость.
%br
3.	Подробное описание промежуточного будущего, то есть будущего, которое планируется достичь после реализации начального этапа проекта. Для этого этапа следует выбирать создание самых простых, нетрудоемких и дешевых нововведений,  приносящих наиболее быстрый и ощутимый эффект. В этой части будущее описывается детальнее и шире, чем в предыдущей: разобраны средства контроля за работой нововведений, помехи, которые могут возникнуть при формировании новых ресурсов, и способы их предотвращения.
%br
4.	Подробный план реализации начального этапа проекта, в котором описаны график мероприятий, исполнители и контроль за его выполнением.
%br
5.	Набросок плана реализации последующих этапов проекта с примерными описаниями итогов каждого этапа, их расписания и контроля за созданием и внедрением нововведений.
%br
%b Использование материалов других участников
%p При составлении проекта автор имеет право включить в него нововведения, предложенные другими участниками как на этой, так и предыдущей стадиях, при условии, что проект в целом существенно отличается от уже представленных проектов.
%br
%b Анализ проектов и начисление баллов
%p Обсуждение проектов происходит на форуме по знакомой участникам схеме.
%p Базовый проект, устраняющий все обязательные несовершенства, оценивается в 2000 баллов. Если автор проекта использует нововведение, предложенное другим участником, тот получает 100 премиальных баллов за каждое использованное нововведение. Поощряется включение в проекты оригинальных нововведений, которые не были выдвинуты на стадии формулирования проблемы. Если такое нововведение предлагается для устранения обязательного несовершенства, автор получает дополнительно 200 баллов; для устранения принятого экспертом, но не прошедшего электоральный барьер несовершенства, – 150 баллов; для устранения несовершенства, не упоминавшегося на этапе анализа ситуации, – 100 баллов.
%p На финальном этапе стадии,  она, как обычно, критически осмысливается, а самые активные участники поощряются.
%br
%b Более подробно с правилами работы на этой стадии вы можете ознакомиться в Рекомендациях по составлению проекта.


