=link_to 'вернуться к помощи', '/project/'+@core_project.id.to_s+'/help'

%h1 РЕКОМЕНДАЦИИ ПО СОСТАВЛЕНИЮ ПРОЕКТА
%p Прежде всего следует ознакомиться с кратким описанием данной стадии, которое в общих чертах обрисовывает представление проектов.
%p Ниже будет подробно описана следующая рекомендуемая последовательность действий по составлению проекта:
1) Набросать концепцию проекта и выразить ее в эссе.
%br
2) Выбрать по критериям, описанным ниже в параграфе 1.1, нововведения для устранения обязательных и других несовершенств для проекта в целом и внести их описания в шаблон, совпадающий с тем, что предлагался на предыдущей стадии процедуре. После этого, возможно, уточнить набросок эссе о проекте.
%br
3) Наметить эссе о первом этапе проекта.
%br
4) Избрать по критериям в параграфе 2.1 наиболее «ударные» нововведения для осуществления на первом этапе проекта. Описать их детальнее и шире, чем в проекте в целом, и внести в новый шаблон, описанный в параграфе 2.2. Разработать план первого этапа проекта. После этого, возможно, уточнить намеченное ранее эссе о первом этапе проекта.
%br
5) Кратко описать дальнейший план осуществления проекта и контроль за его исполнением.
%br
%br
%b 1 часть. Общая характеристика проекта
%br
%br
%b 1.1. Эссе о проекте в целом
%p Дать краткое представление о предлагаемых (1) наборе нововведений и (2) плане их создания. Обосновать то, почему предлагаются именно они. В данном случае для этого надо показать, что выполняются следующие критерии:
%p - избранные нововведения обеспечат наибольшие а) повышение спроса на заочное образование и б) увеличение привлекательности бренда высшего образования ИРБиСа;
%p - возможные негативные последствия этих нововведений несущественные;
%p - средства (в том числе трудовые ресурсы), при помощи которых планируется создавать нововведения, надежны в работе и, таким образом, нововведения будут с большой вероятностью созданы;
%p - сам процесс создания нововведений не требует значительных материальных затрат и не представляет существенных затруднений для исполнителей.
%br
%b 1.2. Описание нововведений
%p Составить его из разделов, соответствующих несовершенствам, которые в проекте планируется устранить. Их в данном случае не менее 12-ти (по числу «обязательных» несовершенств), но может быть и больше.
%p Раздел озаглавливается наименованием несовершенства. После этого в каждом из первых 12-ти разделов можно либо выдвинуть свой способ устранения «обязательного» несовершенства, либо выбрать уже предложенное для этого нововведение из материалов предыдущей стадии процедуры. В последнем случае в такое нововведение автор проекта имеет право вносить изменения, и если он их не делает, об этом сигнализирует специальная отметка, чтобы при ознакомлении с проектом участники не тратили время на перечитывание одного и того же материала. Вообще-то изменения рекомендуется вносить в отношении детализации описаний ресурсов, поскольку они представляют собой основу проекта.
%br
%b 2 часть. Подробное описание первого этапа проекта
%br
%br
%b 2.1. Эссе о первом этапе проекта
%p Выбрать из всех нововведений, предлагаемых в проекте, несколько наиболее «ударных» для осуществления на первом этапе проекта. Обосновать то, почему избраны именно они. В данном случае для этого надо показать, что выполняются следующие критерии:
будет наиболее быстро обеспечен самый ощутимый эффект;
%br
для создания новых условий потребуются самые простые, нетрудоемкие и дешевые действия.

%p Заметим, что на этом этапе создание каких-то нововведений может быть не доведено до конца с тем, чтобы продолжить его в дальнейшем. Будущее после окончания первого этапа должно быть описано детальнее и шире, чем в предыдущей: подробно описаны создаваемые ресурсы; разобраны средства контроля за работой нововведений, помехи, которые могут возникнуть при формировании новых ресурсов, и способы их предотвращения.
%br
%b 2.2. Описание нововведений первого этапа
%p Естественно, шаблон для представления нововведений несколько расширен:
%br
%p
  %i Нововведение 1:
%br
%p a) Устраняемое несовершенство.
%br
%p б) Название нововведения.
%br
%p в) Краткое описание нововведения.
%br
%p г) Какие УСЛОВИЯ надо создать и поддерживать для того, чтобы это нововведение работало?

%p Первое условие
%p Ресурс 1 для обеспечения условия
%p Средства, необходимые для формирования ресурса
%p Ресурс 2 для обеспечения условия
%p Средства, необходимые для формирования ресурса

%p Второе условие
%p Ресурс 1 для обеспечения условия
%p Средства, необходимые для формирования ресурса
%p Ресурс 2 для обеспечения условия
%p Средства, необходимые для формирования ресурса
%br
%p д) Какие НЕЖЕЛАТЕЛЬНЫЕ ПОБОЧНЫЕ ЭФФЕКТЫ могут возникнуть в связи с созданием и поддержкой этих УСЛОВИЙ?

%p Первое условие, предотвращающее побочные эффекты
%p Ресурс 1 для обеспечения условия
%p Средства, необходимые для формирования ресурса
%p Ресурс 2 для обеспечения условия
%p Средства, необходимые для формирования ресурса

%p Второе условие, предотвращающее побочные эффекты
%p Ресурс 1 для обеспечения условия
%p Средства, необходимые для формирования ресурса
%p Ресурс 2 для обеспечения условия
%p Средства, необходимые для формирования ресурса
%br
%p е) Какими ресурсами будет контролироваться создание и поддержание этих УСЛОВИЙ и предотвращение  НЕЖЕЛАТЕЛЬНЫХ ПОБОЧНЫХ ЭФФЕКТОВ?

%p Ресурс 1 для обеспечения контроля
%p Средства, необходимые для формирования ресурса
%p Ресурс 2 для обеспечения контроля
%p Средства, необходимые для формирования ресурса
%br
%p ж) Что может помешать работе того или иного из упомянутых ресурсов и как с этим бороться?
%br
%p з) Реалистичность и практичность: предложить средства для формирования ресурсов, обосновать их доступность и эффективность
%br
%p и) Какие помехи могут возникнуть в процессе реализации методов и средств, необходимых для формирования ресурсов? Как их предотвратить?
%br
%p
  %i Нововведение 2 ...
%br
%p
  %i Нововведение 3 ...

%br
%p
  %b 3 часть. Подробное изложение плана первого этапа проекта
%p Детально описать график мероприятий, исполнителей и контроль за его выполнением.
%br
%p
  %i Мероприятие 1
%p Сроки
%p Исполнитель
%p Контроль
%br
%p
  %i Мероприятие 2
%p Сроки
%p Исполнитель
%p Контроль

%br

%p
  %b 4 часть. Набросок плана действий по завершению проекта
%p Примерно описать итоги каждого последующего этапа, их периодизацию и контроль за созданием и внедрением нововведений.

