=link_to 'вернуться к процедуре', '/project/'+@core_project.id.to_s

%h1 Как принять участие на нулевом этапе процедуры
%br
%b На первом этапе вы можете делиться своими идеями и вопросами по поводу предстоящей процедуры
%p
  Этот  вспомогательный этап необходим, чтобы вы могли подготовиться к основным этапам - задать вопросы, поделиться
  интересной информацией по теме процедуры и дополнить список фрагментов (тем)
%p Сделать это можно нажав на кнопку "Добавить свою запись", в появившемся окне заполнить форму и нажать кнопку "Отправить"
%p Обратите внимание, каждую запись можно комментировать, нажав на ссылку "Подробнее", а также поддерживать, нажимая на синюю цифру рядом с иконкой руки (выделено на рисунке)
%br
= image_tag 'help/help_img1.png', :width => '600px', :class => 'help_image'
%br
%br
%br
%b Спустя некоторое время запускается голосование за самые актуальные фрагменты
%p Для того, чтобы принять участие в нем, достаточно щелкнуть по ссылке в появившемся зеленом блоке справа
%p В повявившемся окне нужно выбрать пять фрагментов, коотрые кажутся вам наиболее важными для наших будущих проектов, нажимая на "отдать голос" рядом с ними
%p После этого можно щелкнув на ссылке вверху (подчеркнуто красным) добавить свой отзыв о прошедшем этапе или почитать отзывы других участников
%br
= image_tag 'help/help_img2.png', :width => '600px', :class => 'help_image'
%br
%br
%br

%p=link_to 'Если что-то непонятно, вы можете задать вопрос', '/project/'+@core_project.id.to_s+'/question/posts/'