=link_to 'вернуться к процедуре', '/project/'+@core_project.id.to_s

%p Уважаемые участники!

%p Вам предстоит принять участие в процедуре массовой рациональной выработки решения. Сейчас вы находитесь на подготовительном  этапе, где мы разберем основные понятия и вопросы.

%br 1. Что такое качественное решение? 
%br 2. Как получить качественное решение или что такое процедурная рациональность?
%br 3. Почему люди склонны действовать не рационально?
%br
%b 1. Что такое качественное решение?
%p Подавляющее большинство людей мечтают добиться успеха в той или иной области. Из чего же складывается успех? Удача и правильные решения. Поскольку удача случайна и непредсказуема, единственно верным инструментом является принятие решений!
%p Вся наша жизнь состоит из принятия решений - куда пойти учиться, работать, каким бизнесом заниматься, какую стратегию развития выбрать? 
%p Так многое зависит от верного и своевременного решения! 

%p Зачастую, мы даже не задумываемся, как именно принимаем важные для нас решения. Иногда спонтанно, надеясь, что лучшее решение, которое первым пришло в голову. Иногда полагаясь на интуицию. Часто беря за основу мнение авторитетного или близкого человека. Редко мы ставим цель, и рассматриваем разные пути ее достижения, надеясь что лучшее решение, которое наиболее эффективно приведет к поставленной цели. Но  исходное представление о поставленной цели нередко меняется, оказывается ошибочным при реализации решения. 

%p Поэтому хорошим решением предлагается  считать то, о котором человек его принимающий и  реализующий его в дальнейшем, не станет сожалеть .

%br
%b 2. Как получить качественное решение или что такое процедурная рациональность?
%p Принятие решения - это сложный, трудоемкий процесс. Требующий с одной стороны  творческого и креативного мышления, а с другой четкого соблюдения технологии на всех его этапах.
%p Представьте сложное механическое устройство, например автомобиль. Если в процессе сборки были допущены ошибки, или на каком-либо этапе использовались не качественные детали, то и автомобиль получиться не надлежащего качества. Чем более серьезные ошибки допускались, тем вероятнее хуже будет результат. 
%p Вряд ли Вы сможете далеко уехать на автомобиле, которому забыли прикрутить колеса. 
%p Этот же принцип действует и при принятии решений. Высокое качество решения предопределяется высоким качеством(рациональностью) процедуры принятия решения.  - это принцип процедурной рациональности. Впервые он был предложен 
%p выдающимся ученым в области принятия решений лауреатом Нобелевской премии Саймоном (1978). Он дает не только эффективный подход к выработке решения, но и впервые - к оценке качества решения до начала его воплощения в жизнь.
%br
%b 3. Почему многие из нас склонны действовать нерационально при принятии решений?

%p "Нерационально - оценка чьих-либо действий, как не являющихся разумно обоснованными, целесообразными, выгодными. - Викисловарь."

%p Нерациональность присуща любому человеку. И это абсолютно естественно. Она проявляется в поступках, образе жизни, стиле принятия решений. 
%p Иногда мы поступаем нерационально совершенно осознанно , говоря при этом: "я же не робот!", или "мне это не по душе!", и это не не приведет к катастрофе, если речь идет о чем-то незначительном. 
%p Нерациональность не является качеством характера или интеллекта.  Ее можно сравнить с вредной привычкой, или неграмотностью. Такой человек будет допускать одни и те же ошибки, в разных ситуациях, при принятии различных решений. 
%p Так же, как и неграмотность, нерациональность поддается корректировке. 
%p Не полностью, конечно. Негативный  эффект нерациональности, тормозящий продвижение людей к своим целям,  неизбежен, как неизбежен негативный эффект трения. Невозможно отменить  закон трения, однако можно и нужно применять подшипники и смазочные  масла,  что позволяет существенно снизить его вредное воздействие. 



%p Учеными, исследовавшими различия культур принятия решений, были выявлены основные отклонения от рациональности, проявляющиеся в процессы  принятия решений:
%b 1. Кратковременное выгадывание без учета долгосрочной перспективы
%br
%b 2. Склонность к негативному целеполаганию 
( Сталкиваясь с проблемой человек ставит своей целью поскорее от этой проблемы избавиться. Но достижение этой цели может привести к ситуации с еще более сложными проблемами. Целью должно становиться достижение определенного позитивного результата, а не уход от негативного).
%br 
%b 3. Не склонности к контр-негативному анализу решения
(когда человек вырисовывает образ желаемого будущего, оно, как правило, рисует только то позитивное, что желает достичь в будущем, не уделяя достаточного внимания возможному негативу, чего оно желало бы избежать. В результате, в плане действий присутствуют шаги направленные на достижение позитива, но отсутствуют акции по предотвращению вероятного негатива.)
%br
%b 4. Отсутствие восприятия множественности вариантов решения как ценности 
( человек  "хватается" за первый же оказавшейся у него вариант решения, не желая тратить время и силы на поиски и изучение других вариантов)
Неприятие компромисса с чужими взглядами ( при коллективном принятии решений). 
%p Нобелевские лауреаты Саймон и Канеман, а также многие другие исследователи показали, что нерациональность, препятствующая эффективному принятию решений, повсеместна. Но ее воздействие  возможно уменьшить. 

%p В науке о принятии решений создана как общая методология, так и многочисленные техники, способы и приемы выполнения операций по сбору и обработке информации, относящиеся к различным классам проблем и фазам выработки решений. Выявлены возможные источники ошибок и найдены способы их преодоления. В общем, построена могучая технология принятия решений. И мы рады предложить вам поучаствовать в проекте, где сможете изучить эти техники на практике
=link_to 'Если что-то непонятно, вы можете задать вопрос', '/project/'+@core_project.id.to_s+'/question/posts/'
