=link_to 'вернуться к помощи', '/project/'+@core_project.id.to_s+'/help'

%h1 Стадия 1) – анализ ситуации в форме выявления максимально широких конкретных несовершенств

%p Подчеркнем, что анализируемая ситуация не плоха. Однако она не идеальна, поэтому вопрос поставлен о совершенствовании того, что есть. А «совершенствовать» означает «корректировать несовершенства», и идеально, когда скорректированы они все. Но для этого их необходимо сперва идентифицировать. Выявлять все несовершенства одно за другим, а затем продумывать корректировку каждого из них по отдельности крайне неэффективно. К тому же, нередко частную проблему невозможно разрешить, не сняв более общую, включающую ее проблему. Зато, если решить общую проблему, то все входящие в нее частные проблемы будут разрешены. Так что разумно сразу искать максимально широкие несовершенства. (Максимально широкое несовершенство – это такое, по отношению к которому не существует еще более широкого, включающего его несовершенства.) Ведь, если скорректировать максимально широкие несовершенства, то окажутся скорректированными и все остальные, поскольку каждое из них должно входить в какое-то из максимальных.
%p Поясним предлагаемый в процедуре способ выявления максимально широких несовершенств.
%b Формат несовершенства –  ЧТО\КОГДА\ГДЕ – задается вопросами (1)-(3):
%p (1) «ЧТО не устраивает?» – отрицательное действие, явление, установление, черта...
%p (2) «КОГДА это происходит?» – в ходе какого регулярно случающегося мероприятия, процесса, события, ситуации...
%p (3) «ГДЕ?» – место (физическое или институциональное), в котором это происходит.
%p Широта несовершенств определяется по правилу включения: несовершенство X включает (а значит, является более широким, чем) несовершенство Y, если для Х хотя бы один из ответов на вопросы (1)-(3) является более общим, чем соответствующий ответ для Y, а остальные ответы совпадают.
%p Например: несовершенство Х  «(1) преподавание знаний не поддерживается развитием навыков практической деятельности (2) при обучении (3) на факультете менеджмента» включает несовершенство Y «(1) преподавание знаний не поддерживается развитием навыков практической деятельности (2) при обучении брендингу (3) на факультете менеджмента»; а несовершенство Z «(1) отсутствие иллюстраций на реальных примерах из отечественной практики (2) при обучении брендингу (3) на факультете менеджмента» включается и в Х и в Y.
%p Такое отношение включения можно установить отнюдь не между всеми несовершенствами, например: Х и Y не сопоставимы с W «(1) отсутствие иллюстраций на реальных примерах из отечественной практики (2) при обучении брендингу (3) на факультетах менеджмента и экономики», а Х не сопоставимо с V «(1) преподавание знаний не поддерживается развитием навыков практической деятельности (2) при обучении брендингу (3) на факультетах менеджмента и экономики».
%p Эти соотношения несовершенств можно наглядно изобразить посредством рисунка, на котором включение обозначается стрелкой:
= image_tag "help/help1_img6.png"
%p В приведенном в пример множестве из пяти несовершенств максимально широкими являются X и V. Если их скорректировать, то и остальные будут скорректированы. Поэтому при выявлении несовершенств для последующей корректировки несовершенствами Y, Z и W  не стоит и заниматься.
%p Подчеркнем, что речь идет о конкретных несовершенствах – таких, по которым понятно, что конкретно требуется исправить. Например, широчайшее несовершенство «(1) отсутствие пользы и интереса (2) при обучении (3) в данном университете» столь широко, что совершенно неясно, что конкретно нуждается в исправлении. Таким образом, вопрос ставится о выявлении максимально широких несовершенств, но только среди конкретных, то есть указывающих на определенные отрицательные действия, явления, установления, черты, проявляющиеся в ходе определенных мероприятий, процессов, событий, ситуаций в определенных местах сообщества или его инфраструктуры. Критерий конкретности несовершенства – возможность определенно ответить на обращенный к нему вопрос «что следует делать, чтобы его скорректировать?»

%p Для того, чтобы запустить работу по выявлению максимально широких несовершенств, публикуется их предварительный перечень, в котором они классифицированы по фрагментам, а также по двум разновидностям – 1) имеющиеся недостатки, 2) отсутствующие достоинства. Участникам предлагается корректировать перечень, выдвигая для анализа другие максимальные (наиболее широкие, но конкретные) несовершенства, которые досаждают лично им, или могут досаждать остальным. Для этого служит шаблон, предоставляемый любому участнику для внесения несовершенства в требуемом формате с указанием того, к каким фрагменту и разновидности оно относится.
%p
  %b Выдвигать максимально широкое несовершенство можно, если оно
%p - дополняет текущий перечень;
%p - расширяет уже имеющееся в перечне несовершенство (не становясь при этом НЕ конкретным).
%p Выдвинутое несовершенство появляется на предназначенной для этого странице портала, и его могут анализировать все участники процедуры. Полезными считаются их указания на несоблюдение масштаба (не максимальное или не конкретное) и формата подачи несовершенства, его содержательные недостатки (не относится к теме процедуры, автор был недостаточно информирован или просто иначе сформулировал уже рассматриваемое несовершенство), а также рекомендации по изменению фрагмента и(или) разновидности, к которым автор отнес выдвинутое им несовершенство, или по тому, как исправить ошибки в нем.
%p Автор несовершенства имеет право свободно корректировать его, пользуясь советами и замечаниями участников и указывая те комментарии, которые были ему особенно полезны.
%p
  %b Спустя определенное (устанавливаемое ведущим) время после подачи несовершенства автор может:
%p - снять несовершенство с рассмотрения, если комментарии других участников убедили его в этом;
%p - отправить его модераторам на рассмотрение.
%p Модераторы либо одобряют несовершенство (и в таком случае направляют его ведущему для принятия окончательного решения по включению его в текущий перечень максимальных несовершенств), либо отклоняют его с обоснованием (штрафуя автора в случае, если он направил на экспертизу несовершенство, по которому имелись резонные критические комментарии – при этом меткие критики вознаграждаются премиальными баллами), либо отправляют на доработку с рекомендациями о том, что именно следует исправить.
%p
  В случае принятия несовершенства ведущим автор получает премиальные баллы
  %b (100, если оно дополняет текущий перечень; 200, если оно расширяет уже имеющееся в перечне несовершенство).
  Первые 5 авторов, чьи несовершенства были приняты, получают еще и «бейдж достижения» – особый значок, появляющийся рядом с их аватаром на портале. Авторы полезных комментариев (полезными их помимо автора могут признать модераторы и ведущий) также получают премиальные баллы (40).
%p Принимая несовершенство, ведущий автоматически добавляет ветку обсуждения данного несовершенства на Форуме.
%p ● Здесь все участники могут высказаться по существу этой проблемы, откуда она, по их мнению, проистекает и как ее можно было бы решить.
%p ● Модераторы всячески поощряют подобную активность и пытаются завязать дискуссию, даже если поначалу она не клеится.
%p ● Кроме того, они могут выдавать премиальные баллы за особо интересные соображения.
%p ● На основе собираемой информации модераторы модифицируют и дополняют «базу знаний» процедуры, чтобы любой участник в случае необходимости имел все полезные факты, идеи и соображения под рукой.
%p Участники могут настраивать просмотр потока выдвигаемых несовершенств по своему вкусу, указав только те фрагменты предметной области, которые им интересны.
%p Стадия заканчивается выставлением принятых несовершенств на голосование. Ведущий может их систематизировать и обобщить в случае необходимости, а может выставить в таком виде, в котором они были приняты. Голосование с электоральным барьером в отношении несовершенств обосновывается, проводится и вознаграждается так же, как на стадии введения в процедуру.
%p Пока идет голосование, непрерывно работает Форум, на котором продолжается обсуждение несовершенств и ищутся первые идеи по их корректировке.
%p После подведения итогов голосования в отношении данной стадии проводится и вознаграждается рефлексия – так же, как после стадии введения в процедуру.
