=link_to 'вернуться к помощи', '/project/'+@core_project.id.to_s+'/help'

%h1 Стадия 2) - формулирование проблемы при помощи создания и анализа образов желаемого будущего
%p Проблема понимается нами как досадная для участников разность между 1) существующим несовершенным (или неудовлетворительным) положением вещей и 2) желаемым будущим, в котором несовершенства устранены. Первое было выявлено на предыдущей стадии. Варианты второго участники выдвигают и обсуждают на этой стадии выработки решения.
%p В допустимом для принятия ведущим образе желаемого будущего должно быть изложение хотя бы одного оригинального (не встречающегося у других участников) нововведения, устраняющего, по мнению автора, какое-то несовершенство из числа принятых на предыдущей стадии процедуры. [Заметим, что среди этих несовершенств есть важнейшие - те, что прошли электоральный барьер при голосовании на предыдущей стадии и в силу этого получили статус «обязательных для устранения», и менее важные - все остальные.]
%p Поясним формат описания образов желаемого будущего. В нем усовершенствованное функционирование сообщества описывается только в тех его частях, которые будут либо изменены по сравнению с существующими, либо вообще созданы вновь в дополнение к существующим. Данный материал содержит образ нововведений в функционировании. В него должны быть включены: несовершенства, которые будут исправлены посредством создания новых условий в будущем (эти условия - главный компонент материалов настоящей стадии); необходимые для этого ресурсы и обоснования того, почему эти ресурсы обеспечат планируемое усовершенствование и не причинят вредных побочных эффектов; а также аргументы в пользу реалистичности и практичности формирования именно данных ресурсов.
%p Как и на предыдущей стадии анализа ситуации при выдвижении несовершенств, а так же на последующих стадиях при выдвижении других материалов - проектов и оцениваний, для представления образов желаемого будущего предлагается свой шаблон. [Пример заполнения данного шаблона, см. в Приложении.]


%br
%b СОПУТСТВУЮЩАЯ РЕМАРКА: ШАБЛОНЫ ПРЕДСТАВЛЕНИЯ МАТЕРИАЛОВ
%br
%p Каждый из четырех применяемых в процедуре шаблонов (для несовершенств - на предыдущей стадии, для образов желаемого будущего - на данной стадии, для проектов и оцениваний - на последующих стадиях) служит, с одной стороны, для того, чтобы подсказать автору соответствующего материала, какие содержательные аспекты он должен описать, выдвигая собственную наработку; с другой стороны, дабы установить для презентации материалов каждого из этих четырех типов однообразный всем объясненный формат, способствующий четкости и удобству последующего обсуждения представленных на суд участников описаний.
%p Анализ, редактирование и принятие или непринятие, а также начисление или штрафное снятие премиальных баллов в отношении выдвинутых участниками образов желаемого будущего осуществляются точно так же, как на предыдущей стадии по отношению к несовершенствам. За каждое оригинальное нововведение из того или иного образа желаемого будущего автору полагается
%p - 200 баллов, если оно устраняет «обязательное» несовершенство;
%p - 100 баллов, если оно устраняет несовершенство из числа остальных принятых - менее важных, чем «обязательные».
%p Автор может предложить в своем образе желаемого будущего оригинальное нововведение, устраняющее не какое-то несовершенство из числа принятых, а то, что выбрано им самим. В таком случае он получит 100 баллов, если эксперт сочтет самостоятельно выбранное несовершенство актуальным.
%p В заключение эксперт составит список всех оригинальных нововведений из принятых образов желаемого будущего, в котором они сгруппированы по корректируемым несовершенствам.  При голосовании любой участник может отметить не более R самых плодотворных, по его мнению, нововведений, причем только по одному из каждой группы. Значение R задает эксперт в зависимости от количества нововведений в списке. Задается также электоральный барьер - минимальный процент голосов, который должно набрать нововведение, чтобы получить статус одобренного. Участники, отдавшие свои голоса за одобренные нововведения, вознаграждаются премиальными баллами.
%p Настоящая стадия завершается рефлексией, которая проводится и вознаграждается точно так же, как на предыдущих стадиях.
%p Отметим, что премиальные баллы за анализ, голосование и эссе на этой стадии будут удвоены.
%br
%b Приложение. ШАБЛОН ОБРАЗА ЖЕЛАЕМОГО БУДУЩЕГО С ПРИМЕРОМ ЕГО ЗАПОЛНЕНИЯ
%br

%p
  %b Краткое описание образа:
%p
  %i «Качественное образование с упором на приобретение профессиональных компетенций»
%br
%p
  %bЭссе об образе:
%p
  %i «Дистанционное обучение (ДО) осуществляется индивидуально в любом удобном месте и в любое удобное время для студента, для обучения нужен только компьютер с доступом в Интернет. При необходимости, обучение проходит по индивидуальному графику, что позволяет студентам минимизировать отрыв от производственной деятельности и других обязанностей. Студенты получают учебные материалы (печатные, электронные материалы, аудио и видеозаписи лекций) и изучают их в удобном для себя режиме. На видеоконференциях студенты задают вопросы преподавателю по пройденному материалу, обсуждают заранее высланное домашнее задание (контрольную работу, реферативную записку, практикумы, лабораторные работы, эссе и др.) Разбирают ситуационные задачи, подготовленные как преподавателем, так и студентами, учитывая, что многие из них работают и сталкиваются с различными ситуациями на производстве. Если студенту, по уважительной причине не удобно сдавать зачет или экзамен согласно расписанию, то он, с ведома администрации и преподавателя данного предмета, записывается на другой день или время. На учебном портале есть номер телефона «Горячей линии». 8-часовая поддержка (с 9 до 17 часов) преподавателями в режиме реального времени позволяет не останавливаться при изучении курса, не откладывать «на потом» проработку сложных моментов, а получить все ответы на вопросы «здесь и сейчас». С 17 до 9 часов работает автоответчик. Оценивание студентами качества образования осуществляется регулярно в конце каждого семестра. Для выстраивания единой системы информирования и координации создан свой сайт, где хранится информация о потенциальных работодателях, список вакансий на ближайшие 5 лет, список студентов и выпускников, нуждающихся в трудоустройстве, резюме соискателей. Вся информация о трудоустройстве, все заявки от работодателей на нужных специалистов, заявления на трудоустройство, стажировку и прохождение производственной практики студентов аккумулируются на данном сайте. Предлагаемый проект решает следующие задачи: 1. Студенты получают качественное образование. 1.1. Изучают предметы не только по выложенным материалам на учебном портале, но и с помощью видео лекций, которые можно прослушать при необходимости много раз. 1.2. Имеют доступ к любой учебной литературе с помощью электронной библиотеки. 1.3. Разбирают с преподавателем различные ситуационные задачи, выясняют непонятные вопросы и задания в спокойной обстановке, не спеша, т.к. на консультационных видеоконференциях присутствует 4-5 человек. 1.4. Рейтинг преподавателей повышает качество преподавания. 1.5. Налажена обратная связь студент - администратор университета - преподаватель, посредством нее прослеживается коллективное отношение студентов к учебной программе, уровню преподавания, вообще, к качеству ДО. 1.6. Организация «горячей линии» помогает решить любой вопрос в любое время, что тоже сказывается на качестве полученных знаний. 2. Организована услуга трудоустройства. 2.1. Решается вопрос с производственными практиками у студентов и организации стажировок. 2.2. Проводится представление студентов перед потенциальными работодателями и их подготовка перед предстоящим собеседованием.»

%p
  %b Фрагменты образа
%p I. Организация учебного процесса и менеджмент

%p
  %b Устраняемое несовершенство
%p
  %bЧТО:
  %i «Студенты не имеют возможности формировать и представлять университету (скажем, через администрацию ДО) коллективное отношение к учебной программе, уровню преподавания, вообще, к качеству ДО…»
%p
  %bКОГДА:
  %i «…на протяжении всего обучения…»
%p
  %bГДЕ:
  %i «…в системе дистанционного образования.»
%br
%p
  %b Название нововведения:
%p
  %i «Обратная связь между студентами и администрацией через оценивание качества образования.»
%br
%p
  %b Краткое описание нововведения с обоснованием того, что оно устранит несовершенство:
%p
  %i «Выборный студенческий орган (ВСО), который организовывал бы и проводил по согласованию с администрации университета анонимные оценивания студентами качества учебных курсов и преподавания в ДО, публично оглашал эти оценки и предоставлял форум для их обсуждения, тем самым способствуя созданию широко известных репутаций учебных курсов и преподавателей ДО. Таким образом студенты будут влиять на качество (содержание и методику) образования и в результате сгладится несовершенство: «студенты не имеют возможности формировать и представлять кафедрам университета коллективное отношение к учебной программе, уровню преподавания, вообще, к качеству ДО», а также, вероятно, «нетребовательность студентов к качеству образования» и «недостаточное вырабатывание у студентов необходимых для практической деятельности профессиональных компетенций» - ведь участие студентов в учреждении, формировании и функционировании нового органа будет способствовать развитию организаторских способностей, коммуникационных навыков, умения работать в команде, коллективного согласования решений и т.п. Опосредованно (вследствие влияния студентов на содержание и методику образования), возможно, будут сглажены еще и «нехватка иллюстраций, презентаций и других средств, делающих изложение материала нескучным», «нехватка семинарских занятий, разборов задач, отработки знаний на конкретных примерах» и «недостаточная подготовка преподавателей к работе в ДО.»
%br
%p
  %b Какие в будущем должны быть созданы и поддерживаться УСЛОВИЯ, чтобы данное нововведение работало?
%p
  %i 1) Организация и проведение опросов студентов о качестве учебных курсов и преподавания в ДО (были ли они доходчивыми, интересными, полезными для будущей карьеры и жизни, современными, наделяющими практическими умениями и профессиональными компетенциями, востребованными потенциальными работодателями и т.п.).
%p
  %b Какие ресурсы должны иметься и применяться в будущем для обеспечения условия №1?
%p
  %i Стандартный инструментарий анонимных опросов по Интернету и обученный оперировать с ним работник.
%p
  %i 2) Обработка результатов вышеозначенных опросов.
%p
  %b Какие  ресурсы должны иметься и применяться в будущем для обеспечения условия №2?
%p
  %i Стандартная методика и программное обеспечение суммирования оценок студентов, компьютер и обученный их применять работник.
%p
  %i 3) Функционирование форума по обсуждению выводов оцениваний.
%p
  %b Какие  ресурсы должны иметься и применяться в будущем для обеспечения условия №3?
%p
  %i Стандартное программное обеспечение обычного дискуссионного форума в Интернете с модератором и доступом только для студентов ДО.
%br
%p
  %b Если будут созданы и поддерживаться вышеозначенные УСЛОВИЯ, какие из-за этого вероятны НЕЖЕЛАТЕЛЬНЫЕ ПОБОЧНЫЕ ЭФФЕКТЫ в будущем?
%p
  %i Студенты, возможно, станут высоко оценивать нетребовательных преподавателей, а низко - требовательных.
%p
  %b Какие методы, средства и другие ресурсы должны иметься и применяться в будущем, чтобы предотвратить данные нежелательные побочные эффекты?
%p
  %i Убеждение на положительных и отрицательных примерах. Постепенное внедрение, начиная с форума, на котором сперва проверяется, смогут ли студенты доказательно оценивать учебные курсы по отдельным пунктам - были ли они доходчивыми, интересными, полезными для будущей карьеры и жизни, современными, наделяющими практическими умениями и профессиональными компетенциями, востребованными потенциальными работодателями и т.п.
%br
%p
  %b Что, вероятно, может помешать в будущем должной работе всех перечисленных ресурсов и как с этим предлагается бороться?
%p
  %i Для условий 1) - 3) помех не ожидается. А вот предотвратить нежелательные побочные эффекты может помешать то, что для части студентов получение диплома важнее приобретения профессиональных компетенций - противостоять этому трудно.
%br
%p
  %b Реалистичность и практичность: предложить средства формирования перечисленных ресурсов, обосновать их доступность и эффективность
%p
  %i Обычный поиск требуемых материалов; сотрудник на полную ставку, который займется этим, а затем внедрением найденного; ставка в 20000 рублей в месяц.
