=link_to 'вернуться к помощи', '/project/'+@core_project.id.to_s+'/help'

%h1 ОЦЕНКА ПРОЕКТОВ

%p На этой стадии проектам выставляются оценки и присваиваются ранги, которые послужат ориентиром при голосовании за лучший проект.  Ознакомьтесь с основными понятиями, которые вам понадобятся, если вы решите принять участие в оценке проектов. Более подробные инструкции вы найдете в самом шаблоне оценки проекта. Итак, если вы решили стать оценщиком, то дальнейшая информация предназначается вам.

%p Для оценщика все нововведения делятся на три категории: обязательные, дополнительные и лишние. Обязательные нововведения устраняют несовершенства, принятые на стадии анализа. Дополнительные нововведения — это такие нововведения, которые устраняют несовершенства, предложенные автором проекта в дополнение к обязательным, и расцениваются вами как полезные. Лишние нововведения — это такие нововведения, которые, по вашему мнению, не нужны или даже вредят проекту.

%p Вес любого обязательного нововведения — 100%. Вес любого дополнительного нововведения задается вами в диапазоне от 1 до 100%.   Поскольку лишние нововведения не требуют дальнейшей оценки, можно считать, что их вес равен нулю. Присвоив нововведению тот или иной вес, вам следует дать развернутое объяснение своего выбора.

%p Общая оценка проекта вычисляется при помощи трех показателей.

%p A. Прогнозируемая эффективность проекта в целом
%p B. Прогнозируемая эффективность первого этапа проекта
%p C. Возможные негативные явления

%br
%b Показатель А: прогнозируемая эффективность проекта
%br
%p Для устранения каждого несовершенства в проекте предлагается определенный набор ресурсов. Вообразите, что они созданы в будущем. Разумеется, невозможно сказать определенно, с какой эффективностью будут работать эти ресурсы. Мы предлагаем разделить уровень будущей эффективности на четыре градации. Вам предстоит оценить вероятность того, что эффективность будет соответствовать той или иной градации по шкале от нуля до трех. По такому же принципу вам предстоит оценить вероятность того или иного уровня затрат, необходимых для поддержки работы ресурсов, а также вероятность формирования этих ресурсов в том или ином объеме. Кроме того, вам надо будет коротко обосновать свой выбор. Правильно представить оценки и обоснования вам поможет наш шаблон с удобными текстовыми полями и списками. Когда вы завершите работу, на основании ваших оценок компьютерная программа подсчитает показатель прогнозируемой эффективности проекта.
%br

%b Показатель B: прогнозируемая эффективность первого этапа проекта
%br

%p Показатель B рассчитывается точно так же, как показатель A, но здесь учитывается только первый этап проекта.
%br

%b Показатель C: возможные негативные явления
%br

%p Здесь рассматриваются два типа негативных явлений:
%p 1. негативные явления, которые могут возникнуть наряду с улучшениями (например нововведения работают, но обходятся слишком дорого);
%p 2. негативные явления, которые могут возникнуть в процессе внедрения изменений (например сопротивление со стороны сотрудников, привыкших работать по-старому).
%p По шкале от нуля до трех вы оцените, какова вероятность возникновения негативных явлений в том или ином объеме. Когда вы завершите работу, на основании ваших оценок компьютерная программа выведет количественный показатель влияния негативных явлений на эффективность проекта.

%p Оценив проект, вы можете предложить свои рекомендации по его улучшению.
%br
%b Финальная оценка и средний ранг
%br
%p Финальная оценка каждого проекта приблизительно рассчитывается по формуле N = (a+b) – c, где a, b и c – это первый, второй и третий показатель соответственно. После того как оценка рассчитана, вы присваиваете каждому оцененному вами проекту один из четырех рангов:

%p ранг 3 — отличный проект;
%p ранг 2 — хороший проект;
%p ранг 1 — удовлетворительный проект;
%p ранг 0 — плохой проект.

%p На основании рангов всех оценщиков выводится средний ранг проекта.

%p Оценка и средний ранг проекта послужат ориентиром в дальнейшем, когда будет запущено голосование.
