=link_to 'вернуться к помощи', '/project/'+@core_project.id.to_s+'/help'

%h1 Оценивание проектов
%b Обращаем ваше внимание на то, что все вычисления происходят автоматизированно!
%br
%p На этой стадии после повторного пояснения правил оцениваний проектов участники приглашаются представить анализ принятых проектов. [Для внесения оцениваний предназначен шаблон, помещенный в Приложении 5.]

%p
  %b Модель оцениваний:
%p В качестве результатов оценивания предлагается формировать (а затем учитывать их на равных правах при выборе проекта) три изобретенных мной показателя:
%p 1) ожидаемая эффективность всего проекта в целом,
%p 2) ожидаемая эффективность его первого шага,
%p 3) ожидаемые негативные явления в связи с проектом.

%p Формирование 1-го показателя:

%p Задачи корректировок несовершенств разделяются на 3 категории: обязательные (относящиеся к несовершенствам, прошедшим электоральный барьер при голосовании на стадии анализа ситуации); дополнительные и лишние.

%p Каждой из обязательных задач присваивается вес 100%, всякой дополнительной задаче оценщик может присвоить вес от 1 до 100% (ему необходимо дать этому развернутое обоснование).

%p По каждой задаче в будущем, когда ресурсы ее разрешения будут созданы и начнут функционировать, это может выйти по-разному. Для определенности выделяется 4 возможных варианта – задача будет разрешаться --

%p (I) в полной мере (т.е. по завершении проекта новые ресурсы, созданные согласно проекту, будут работать со стопроцентным эффектом, давая все те результаты, которые от них ожидаются) – этому варианту в подсчетах присваивается ранг 3;
%p (II) в значительной мере (т.е. ресурсы дадут не все, но многое из того, на что от них рассчитывают) – ранг 2;
%p (III) в небольшой мере (т.е. ресурсы дадут небольшой эффект) – ранг 1;
%p (IV) ни в какой мере – ранг 0.
%br
%p Реализация в действительности каждого из этих четырех вариантов обладает какой-то вероятностью (пусть для ее оценки можно использовать тоже четыре градации: «очень вероятно» (вероятность более 2/3) – ранг 3, «вероятно» (вероятность между 1/3 и 2/3) – ранг 2, «маловероятно» (вероятность между нулем и 1/3) – ранг 1, «невероятно» – ранг 0).
%p Первый вопрос к «оценщику» в отношении некоторой задачи N: какова вероятность реализации каждого из вариантов (I-IV)? В ответе для любого из этих вариантов можно выбрать какую угодно из возможных градаций (например, I – маловероятна, II – очень вероятна, III – маловероятна, IV - невероятна). [Необходимо также обосновать эту оценку в 2-3 предложениях.]
%p Далее (в компьютерной программе) ранг каждого варианта умножается на ранг его вероятности и эти произведения суммируются, а затем делятся на сумму рангов, использованных для оценки вероятностей (в приведенном примере: (3*1 + 2*3 + 1*1 + 0*0)/(1 + 3 + 1 + 0) = 2). Это число умножается на вес задачи, что дает ненормированную оценку ожидаемой меры ее разрешения. Затем оценка нормируется. Для этого вычисляется максимально возможная оценка (в данном случае она получается при очень вероятном первом варианте и невероятных остальных: (3*3 + 2*0 + 1*0 + 0*0)/(3 + 0 + 0 + 0) = 3). И ненормированная оценка делится на максимально возможную и умножается на 100%. Например, если задача N обязательна, то ожидаемая мера ее разрешения (ОМР) равна 2*100%/3=67%.
%br
%p Функционирование ресурсов, которые будут обеспечивать разрешение некоторой задачи N в будущем, потребует каких-то затрат – материальных и трудовых. Положим, что и затраты на работу этих ресурсов в будущем может оказаться тоже четырех вариантов: (А) «большие» – ранг 3, (Б) «средние» – ранг 2, (В) «малые» – ранг 1, (Г) «ничтожные» – ранг 0. Поэтому второй вопрос к «оценщику» аналогичен первому: какова вероятность реализации каждого из четырех вариантов (А-Г)? [Необходимо также обосновать эту оценку в 2-3 предложениях.] Далее (в компьютерной программе) – те же арифметические действия, что и в первом случае, кроме, конечно, умножения на ранг задачи, дают 1-е ожидаемые затраты (1ОЗ).
%p Для создания ресурсов разрешения каждой задачи в проекте предлагаются определенные средства, методы и кадры. Они могут сработать по-разному. Для определенности выделим опять 4 возможных варианта – ресурсы будут действительно созданы --
%p (1) в полном объеме (т.е. все, что запланированы, и в том виде, как запланировано) – этому варианту в подсчетах присваивается ранг 3;
%p (2) в значительном объеме (т.е. бОльшая часть того, что запланировано, и почти в том виде, как запланировано) – ранг 2;
%p (3) в небольшом объеме (т.е. меньшая часть того, что запланировано, и несколько не в том виде, как запланировано) – ранг 1.
%p (4) в ничтожном объеме (т.е. по существу не созданы) – ранг 0.
%p Реализация в действительности каждого из этих четырех вариантов тоже имеет  вероятностный характер с теми же градациями вероятности и ее рангами. Поэтому и третий вопрос к «оценщику» аналогичен первому; так же как и обоснование и последующий подсчет и нормирование ожидаемого объема создания (ООС) ресурсов.
%p И наконец, аналогично затратам на функционирование ресурсов (1ОЗ) оцениваются, обосновываются и подсчитываются затраты на их создание (2ОЗ).
%p Еще раз подчеркну, что после каждой оценки (а это всегда оценка «расклада» вероятностей четырех вариантов реализации чего-то) «оценщик» должен в специально предназначенном для этого окне пояснить в 2-3 фразах, почему он прогнозирует именно такой «расклад».
%p В заключении для подсчета ожидаемой эффективности задачи N в программе вычисляется (ОМР*ООС)/(1ОЗ*2ОЗ). Такие оценки и подсчеты делаются по всем задачам и полученные числа складываются. Найденную сумму оценщик делит на коэффициент, который получается, если взять затраты, требуемые для разрешения обязательных и дополнительных задач за 100%, оценить, какую часть (в процентах) от них составляют затраты на разрешение лишних задач (он должен дать этому развернутое обоснование), и сложить эти проценты. Частное от деления и является эффективностью всего проекта в целом.
%br
%p 2-ой показатель формируется совершенно аналогично первому с той лишь разницей, что здесь речь идет не о создании и функционировании всех новых ресурсов в целом, а только о той части новых ресурсов будущего, которую планируется создать и запустить в работу на первом шаге осуществления проектируемого усовершенствования.
%br
%p Формирование 3-го показателя:
%p От проекта можно ожидать негативных явлений двух типов – 1) появление наряду с улучшениями каких-то отрицательных черт, которых раньше не было (например, все запланированные усовершенствования получатся, однако стоимость их функционирования станет слишком большой); 2) в самом процессе обновления случатся какие-то неприятности (например, некоторые сотрудники, привыкшие работать по-старому, будут сопротивляться нововведениям).
%p Показатель «ожидаемые негативные явления в связи с проектом» состоит из двух частей, соответствующих негативным явлениям каждого из вышеозначенных типов. Каждая часть оценивается по той же схеме матожидания, что и первые два показателя: рассматривается 4 варианта величины негативных явлений – «большие», «средние», «малые», «никаких» (ранги, соответственно, 3, 2, 1, 0), и с четырьмя прежними градациями вероятности каждого из этих четырех вариантов. [Необходимо также обосновать эту оценку в 2-3 предложениях и, конечно же, перечислить возможные негативные явления обоих типов.] По каждому варианту величины негативных явлений его ранг умножается на соответствующую ему вероятность. Суммирование этих произведений и последующее нормирование (деление на максимально возможную неприятность – 3 и умножение на 100%) даст одну из двух частей 3-го показателя, а их произведение – весь 3-ий показатель.
%br
%p В конце концов качество каждого проекта грубо характеризуется одним числом, получаемым сложением 1-го показателя со 2-м и вычитанием из этой суммы 3-го показателя.
%br
%p По завершении оценивания проекта оценщик может дать рекомендации по его улучшению.
%br
%p На основании своих оценок всех проектов оценщик ранжирует их качественно, используя опять 4 категории «отличный проект» - 4, «хороший проект» - 3, «удовлетворительный проект» - 2, «плохой проект» - 1. Из ранжирований всех оценщиков подсчитывается средний ранг каждого проекта.
