-#!!!
-#/[if IE 8] <html lang="en" class="ie8">
-#/[if IE 9] <html lang="en" class="ie9">
-#/ [if !IE]><!
-#%html{:lang => "en"}
-#  / <![endif]
-#  %head
-#    %title Unify | Welcome...
-#    / Meta
-#    %meta{:charset => "utf-8"}/
-#    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
-#    %meta{:content => "", :name => "description"}/
-#    %meta{:content => "", :name => "author"}/
-#    / CSS Global Compulsory
-#    %link{:href => "assets/plugins/bootstrap/css/bootstrap.css", :rel => "stylesheet"}/
-#    %link{:href => "assets/css/style.css", :rel => "stylesheet"}/
-#    %link{:href => "assets/css/headers/header1.css", :rel => "stylesheet"}/
-#    %link{:href => "assets/css/responsive.css", :rel => "stylesheet"}/
-#    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
-#    / CSS Implementing Plugins
-#    %link{:href => "assets/plugins/font-awesome/css/font-awesome.css", :rel => "stylesheet"}/
-#    %link{:href => "assets/plugins/flexslider/flexslider.css", :rel => "stylesheet"}/
-#    %link{:href => "assets/plugins/parallax-slider/css/parallax-slider.css", :rel => "stylesheet"}/
-#    / CSS Theme
-#    %link#style_color{:href => "assets/css/themes/default.css", :rel => "stylesheet"}/
-#    %link#style_color-header-1{:href => "assets/css/themes/headers/default.css", :rel => "stylesheet"}/

/ === Style Switcher ===
-#%i.style-switcher-btn.icon-cogs.hidden-xs
-#.style-switcher
-#  .theme-close
-#    %i.icon-remove
-#  .theme-heading Theme Colors
-#  %ul.list-unstyled
-#    %li.theme-default.theme-active{"data-header" => "light", "data-style" => "default"}
-#    %li.theme-blue{"data-header" => "light", "data-style" => "blue"}
-#    %li.theme-orange{"data-header" => "light", "data-style" => "orange"}
-#    %li.theme-red{"data-header" => "light", "data-style" => "red"}
-#    %li.theme-light.last{"data-header" => "light", "data-style" => "light"}
-#  %div{:style => "margin-bottom:18px;"}
-#  .theme-heading Layouts
-#  .text-center
-#    %a.btn-u.btn-u-green.btn-block.active-switcher-btn.wide-layout-btn{:href => "#"} Wide
-#    %a.btn-u.btn-u-green.btn-block.boxed-layout-btn{:href => "#"} Boxed
/ /style-switcher
/ === End Style Switcher ===
/ === Top ===

/ /top
/ === End Top ===
/ === Header ===
.header
  .navbar.navbar-default{:role => "navigation"}
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"}
          %img#logo-header{:alt => "Logo", :height => "40px", :src => "assets/img/massdecision-logo.png"}/
      / Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav.navbar-right
          -#%li
          -#  =link_to 'Главная', '/'
          -#
          -#%li
          -#  =link_to 'О проекте', '/'
          - if signed_in?
            %li
              =link_to 'Перейти к процедуре', '/project/9'

          / /input-group
      / /navbar-collapse
/ /header
/ === End Header ===
/ === Slider ===
-#.slider-inner
-#  #da-slider.da-slider
-#    .da-slide
-#      %h2
-#        %i MASS DECISION
-#        %br/
-#        %i ГУМАНИТАРНАЯ
-#        %br/
-#        %i ИНТЕРНЕТ-ТЕХНОЛОГИЯ
-#      %p
-#        %i Новый уровень мышления
-#        %br/
-#        %i для выработки стратегических решений
-#        %br/
-#        %i любой сложности
-#      .da-img
-#        %img{:alt => "", :src => "assets/img/1.png"}/
-#    .da-slide
-#      %h2
-#        %i RESPONSIVE VIDEO
-#        %br/
-#        %i SUPPORT AND
-#        %br/
-#        %i MANY MORE
-#      %p
-#        %i Lorem ipsum dolor amet
-#        %br/
-#        %i tempor incididunt ut
-#      .da-img
-#        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "300", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/47911018", :webkitallowfullscreen => "", :width => "530"}
-#    .da-slide
-#      %h2
-#        %i USING BEST WEB
-#        %br/
-#        %i SOLUTIONS WITH
-#        %br/
-#        %i HTML5/CSS3
-#      %p
-#        %i Lorem ipsum dolor amet
-#        %br/
-#        %i tempor incididunt ut
-#        %br/
-#        %i veniam omnis
-#      .da-img
-#        %img{:alt => "image01", :src => "assets/img/html5andcss3.png"}/
-#    .da-arrows
-#      %span.da-arrows-prev
-#      %span.da-arrows-next
-#  / /da-slider
-#/ /slider
-#/ === End Slider ===
-#/ === Purchase Block ===
.purchase
  .container
    .row
      .col-md-12
        %span  оригинальный инструмент для коллективной выработки стратегических решений

      -#.col-md-3
      -#  %a.btn-buy.hover-effect{:href => "#"} Подробнее о проекте
/ /row
/ End Purchase Block
/ === Content Part ===
.container
  / Service Blocks
  .row
    .col-md-4
      .service{:style => "border: 1px solid #97447A"}
        %i.icon-resize-small.service-icon
        .desc
          %h4 Новый уровень массовой выработки решений
    .col-md-4
      .service{:style => "border: 1px solid #97447A"}
        %i.icon-plane.service-icon
        .desc
          %h4 Возможность повысить компетентность в выработке решений
    .col-md-4
      .service{:style => "border: 1px solid #97447A"}
        %i.icon-cogs.service-icon
        .desc
          %h4 Сетевой «заповедник» рационалистов

  / /row
  / End Service Blokcs
  /
    Recent Works
    <div class="headline"><h2>Recent Works</h2></div>
    <div class="row">
    <div class="col-md-3 col-sm-6">
    <div class="thumbnails thumbnail-style thumbnail-kenburn">
    <div class="thumbnail-img">
    <div class="overflow-hidden">
    <img class="img-responsive" src="assets/img/main/2.jpg" alt="" />
    </div>
    <a class="btn-more hover-effect" href="#">read more +</a>
    </div>
    <div class="caption">
    <h3><a class="hover-effect" href="#">Project One</a></h3>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
    </div>
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="thumbnails thumbnail-style thumbnail-kenburn">
    <div class="thumbnail-img">
    <div class="overflow-hidden">
    <img class="img-responsive" src="assets/img/main/3.jpg" alt="" />
    </div>
    <a class="btn-more hover-effect" href="#">read more +</a>
    </div>
    <div class="caption">
    <h3><a class="hover-effect" href="#">Project Two</a></h3>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
    </div>
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="thumbnails thumbnail-style thumbnail-kenburn">
    <div class="thumbnail-img">
    <div class="overflow-hidden">
    <img class="img-responsive" src="assets/img/main/9.jpg" alt="" />
    </div>
    <a class="btn-more hover-effect" href="#">read more +</a>
    </div>
    <div class="caption">
    <h3><a class="hover-effect" href="#">Project Three</a></h3>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
    </div>
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="thumbnails thumbnail-style thumbnail-kenburn">
    <div class="thumbnail-img">
    <div class="overflow-hidden">
    <img class="img-responsive" src="assets/img/main/10.jpg" alt="" />
    </div>
    <a class="btn-more hover-effect" href="#">read more +</a>
    </div>
    <div class="caption">
    <h3><a class="hover-effect" href="#">Project Four</a></h3>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
    </div>
    </div>
    </div>
    </div><!--/row
  / End Recent Works
  / Info Blokcs
  %br/
  .row
    / Welcome Block
    .col-md-12
      .headline
        %h2 Отзывы участников проведенных процедур
      .row
        .col-sm-12
          %blockquote.hero-unify
            %p  Если честно, когда все начиналось, то мне не очень было все понятно: как именно будет проходить вся процедура принятия решения. Включилась в работу только на второй этапе, так как на первом этапе недовольсв с трудом было понятно, что же требуется от нас, студентов. Но, как говориться, стоит только начать-и все получится. Конечно многое получалось не сразу, написание идеи, концепции, проекта, а особенно и оценивание проектов-это очень колоссальный труд, и это труд добивался методом проб и ошибок. Полученные знания в жизни очень пригодятся, теперь буду принимать решения не скоропалительно, а обдумав все обстоятельства, не только думая о сегодняшнем дне, но и что же будет завтра, продумывая последствия принятого мной решения.
            %small Л. Диденко, студент СГУ
          %blockquote.hero-unify
            %p В Институте развития бизнеса и стратегий СГТУ подвели итоги завершившейся в конце декабря процедуры Massdecision. Тема - «Совершенствование спроса на заочное образование ИРБИС». Спустя четыре месяца активного обсуждения, голосования, оценки, споров, формирования и представления проектов всеми участниками процедуры была выбрана лучшая из предложенных программ развития заочного образования в ИРБИС СГТУ. Директор Института развития бизнеса и стратегий СГТУ Варвара Даньшина: «Безусловно, для нашего института работа на этом не завершается. Наоборот, результаты процедуры MassDecision станут основой большой программы по совершенствованию заочного образования в ИРБИС, которую, я уверена, по достоинству оценят наши будущие абитуриенты».
            %small СГТУ, http://www.sstu.ru/node/23848
    / /col-md-8
    / Latest Shots
    -#.col-md-4
    -#  .headline
    -#    %h2 Наши процедуры
    -#  #myCarousel.carousel.slide.carousel-v1
    -#    .carousel-inner
    -#      .item.active
    -#        %img{:alt => "", :src => "assets/img/main/5.jpg"}/
    -#        .carousel-caption
    -#          %p Повышение спроса на заочное образование в ИРБИСе.
    -#      .item
    -#        %img{:alt => "", :src => "assets/img/main/4.jpg"}/
    -#        .carousel-caption
    -#          %p Повышение спроса на дистанционное образование в СГУ.
    -#      -#.item
    -#      -#  %img{:alt => "", :src => "assets/img/main/3.jpg"}/
    -#      -#  .carousel-caption
    -#      -#    %p Повышение спроса на печеньки на Сенном после пожара.
    -#    .carousel-arrow
    -#      %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    -#        %i.icon-angle-left
    -#      %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    -#        %i.icon-angle-right
    / /col-md-4
  / /row
  / End Info Blokcs
  / Our Clients
  -##clients-flexslider.flexslider.home.clients
  -#  .headline
  -#    %h2 Наши клиенты
  -#  %ul.slides
  -#    %li
  -#      %a{:href => "#"}
  -#        %img{:alt => "", :src => "assets/img/clients/hp_grey.png"}/
  -#        %img.color-img{:alt => "", :src => "assets/img/clients/hp.png"}/
  -#    %li
  -#      %a{:href => "#"}
  -#        %img{:alt => "", :src => "assets/img/clients/igneus_grey.png"}/
  -#        %img.color-img{:alt => "", :src => "assets/img/clients/igneus.png"}/
  -#    %li
  -#      %a{:href => "#"}
  -#        %img{:alt => "", :src => "assets/img/clients/vadafone_grey.png"}/
  -#        %img.color-img{:alt => "", :src => "assets/img/clients/vadafone.png"}/
  -#    %li
  -#      %a{:href => "#"}
  -#        %img{:alt => "", :src => "assets/img/clients/walmart_grey.png"}/
  -#        %img.color-img{:alt => "", :src => "assets/img/clients/walmart.png"}/
  -#    %li
  -#      %a{:href => "#"}
  -#        %img{:alt => "", :src => "assets/img/clients/shell_grey.png"}/
  -#        %img.color-img{:alt => "", :src => "assets/img/clients/shell.png"}/
  -#    %li
  -#      %a{:href => "#"}
  -#        %img{:alt => "", :src => "assets/img/clients/natural_grey.png"}/
  -#        %img.color-img{:alt => "", :src => "assets/img/clients/natural.png"}/
  -#    %li
  -#      %a{:href => "#"}
  -#        %img{:alt => "", :src => "assets/img/clients/aztec_grey.png"}/
  -#        %img.color-img{:alt => "", :src => "assets/img/clients/aztec.png"}/
  -#    %li
  -#      %a{:href => "#"}
  -#        %img{:alt => "", :src => "assets/img/clients/gamescast_grey.png"}/
  -#        %img.color-img{:alt => "", :src => "assets/img/clients/gamescast.png"}/
  -#    %li
  -#      %a{:href => "#"}
  -#        %img{:alt => "", :src => "assets/img/clients/cisco_grey.png"}/
  -#        %img.color-img{:alt => "", :src => "assets/img/clients/cisco.png"}/
  -#    %li
  -#      %a{:href => "#"}
  -#        %img{:alt => "", :src => "assets/img/clients/everyday_grey.png"}/
  -#        %img.color-img{:alt => "", :src => "assets/img/clients/everyday.png"}/
  -#    %li
  -#      %a{:href => "#"}
  -#        %img{:alt => "", :src => "assets/img/clients/cocacola_grey.png"}/
  -#        %img.color-img{:alt => "", :src => "assets/img/clients/cocacola.png"}/
  -#    %li
  -#      %a{:href => "#"}
  -#        %img{:alt => "", :src => "assets/img/clients/spinworkx_grey.png"}/
  -#        %img.color-img{:alt => "", :src => "assets/img/clients/spinworkx.png"}/
  -#    %li
  -#      %a{:href => "#"}
  -#        %img{:alt => "", :src => "assets/img/clients/shell_grey.png"}/
  -#        %img.color-img{:alt => "", :src => "assets/img/clients/shell.png"}/
  -#    %li
  -#      %a{:href => "#"}
  -#        %img{:alt => "", :src => "assets/img/clients/natural_grey.png"}/
  -#        %img.color-img{:alt => "", :src => "assets/img/clients/natural.png"}/
  -#    %li
  -#      %a{:href => "#"}
  -#        %img{:alt => "", :src => "assets/img/clients/gamescast_grey.png"}/
  -#        %img.color-img{:alt => "", :src => "assets/img/clients/gamescast.png"}/
  -#    %li
  -#      %a{:href => "#"}
  -#        %img{:alt => "", :src => "assets/img/clients/everyday_grey.png"}/
  -#        %img.color-img{:alt => "", :src => "assets/img/clients/everyday.png"}/
  -#    %li
  -#      %a{:href => "#"}
  -#        %img{:alt => "", :src => "assets/img/clients/spinworkx_grey.png"}/
  -#        %img.color-img{:alt => "", :src => "assets/img/clients/spinworkx.png"}/
  / /flexslider
  / End Our Clients
/ /container
/ End Content Part
/ === Footer ===
.footer
  .container
    .row
      .col-md-4.md-margin-bottom-40
        / About
        -#.headline
        -#  %h2 О нас
        -#%p.margin-bottom-25.md-margin-bottom-40 Мы не решим ваши проблемы и не ответим на насущные вопросы. Мы дадим Вам ключ от нового уровня мышления, чтобы Вы сделали это сами.
        -#/ Monthly Newsletter
        -#.headline
        -#  %h2 Следите за новостями
        -#%p Укажите почту, чтобы получать самые свежие новости проекта.
        -#%form.footer-subsribe
        -#  .input-group
        -#    %input.form-control{:placeholder => "Email Address", :type => "text"}/
        -#    %span.input-group-btn
        -#      %button.btn-u{:type => "button"} Подписаться
          / /input-group
      / /col-md-4
      .col-md-4.md-margin-bottom-40
        -#.posts
        -#  .headline
        -#    %h2 Новости процедур
        -#  %dl.dl-horizontal
        -#    %dt
        -#      %a{:href => "#"}
        -#        %img{:alt => "", :src => "assets/img/sliders/elastislide/6.jpg"}/
        -#    %dd
        -#      %p
        -#        %a{:href => "#"} Готовится подготовка к процедуре "информационный проект с собственным модулем индексирования и оценки актуальных проблем"
          -#%dl.dl-horizontal
          -#  %dt
          -#    %a{:href => "#"}
          -#      %img{:alt => "", :src => "assets/img/sliders/elastislide/10.jpg"}/
          -#  %dd
          -#    %p
          -#      %a{:href => "#"} Закрыта процедура "Повышение спроса на работу в Саратове"
          -#%dl.dl-horizontal
          -#  %dt
          -#    %a{:href => "#"}
          -#      %img{:alt => "", :src => "assets/img/sliders/elastislide/11.jpg"}/
          -#  %dd
          -#    %p
          -#      %a{:href => "#"} Запущена процедура "Повышение спроса на работу в Саратове"
      / /col-md-4
      .col-md-4
        / Monthly Newsletter
        .headline
          %h2 Контакты
        %address.md-margin-bottom-40
          Вячеслав Горлицкий

          %br/
          Phone: +7-937-242-888-1

          %br/
          Email:
          %a{:href => "mailto:info@anybiz.com"} Slava.Gorlytsa@gmail.com
        / Stay Connected
        -#.headline
        -#  %h2 Оставайтесь на связи
        -#%ul.social-icons
        -#  %li
        -#    %a.social_rss{"data-original-title" => "Feed", :href => "#"}
        -#  %li
        -#    %a.social_facebook{"data-original-title" => "Facebook", :href => "#"}
        -#  %li
        -#    %a.social_twitter{"data-original-title" => "Twitter", :href => "#"}
        -#  %li
        -#    %a.social_googleplus{"data-original-title" => "Goole Plus", :href => "#"}
        -#  %li
        -#    %a.social_pintrest{"data-original-title" => "Pinterest", :href => "#"}
        -#  %li
        -#    %a.social_linkedin{"data-original-title" => "Linkedin", :href => "#"}
        -#  %li
        -#    %a.social_vimeo{"data-original-title" => "Vimeo", :href => "#"}
      / /col-md-4
    / /row
  / /container
/ /footer
/ === End Footer ===
/ === Copyright ===
.copyright
  .container
    .row
      .col-md-6
        %p.copyright-space
          2014 &copy; Massdecision. ALL Rights Reserved.
          %a{:href => "#"} Privacy Policy
          |
          %a{:href => "#"} Terms of Service
      .col-md-6
        %a{:href => "#"}
          %img#logo-footer.pull-right{:alt => "", :height => "40px", :src => "assets/img/massdecision-logo-light.png"}/
    / /row
  / /container
/ /copyright
-#/ === End Copyright ===
-#/ JS Global Compulsory
-#-#%script{:src => "assets/plugins/jquery-1.10.2.min.js", :type => "text/javascript"}
-#-#%script{:src => "assets/plugins/jquery-migrate-1.2.1.min.js", :type => "text/javascript"}
-#-#%script{:src => "assets/plugins/bootstrap/js/bootstrap.min.js", :type => "text/javascript"}
-#-#%script{:src => "assets/plugins/hover-dropdown.min.js", :type => "text/javascript"}
-#-#%script{:src => "assets/plugins/back-to-top.js", :type => "text/javascript"}
-#-#/ JS Implementing Plugins
-#-#%script{:src => "assets/plugins/flexslider/jquery.flexslider-min.js", :type => "text/javascript"}
-#-#%script{:src => "assets/plugins/parallax-slider/js/modernizr.js", :type => "text/javascript"}
-#-#%script{:src => "assets/plugins/parallax-slider/js/jquery.cslider.js", :type => "text/javascript"}
-#-#/ JS Page Level
-#-#%script{:src => "assets/js/app.js", :type => "text/javascript"}
-#-#%script{:src => "assets/js/pages/index.js", :type => "text/javascript"}
-#-#:javascript
-#-#  jQuery(document).ready(function() {
-#-#    	App.init();
-#-#      App.initSliders();
-#-#      Index.initParallaxSlider();
-#-#  });
-#-#/[if lt IE 9]
-#-#  <script src="assets/plugins/respond.js"></script>
