-#!!!
-#/[if IE 8] <html lang="en" class="ie8">
-#/[if IE 9] <html lang="en" class="ie9">
-#/ [if !IE]><!
-#%html{:lang => "en"}
-#  / <![endif]
-#  %head
-#    %title Unify | Welcome...
-#    / Meta
-#    %meta{:charset => "utf-8"}/
-#    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
-#    %meta{:content => "", :name => "description"}/
-#    %meta{:content => "", :name => "author"}/
-#    / CSS Global Compulsory
-#    %link{:href => "assets/plugins/bootstrap/css/bootstrap.css", :rel => "stylesheet"}/
-#    %link{:href => "assets/css/style.css", :rel => "stylesheet"}/
-#    %link{:href => "assets/css/headers/header1.css", :rel => "stylesheet"}/
-#    %link{:href => "assets/css/responsive.css", :rel => "stylesheet"}/
-#    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
-#    / CSS Implementing Plugins
-#    %link{:href => "assets/plugins/font-awesome/css/font-awesome.css", :rel => "stylesheet"}/
-#    %link{:href => "assets/plugins/flexslider/flexslider.css", :rel => "stylesheet"}/
-#    %link{:href => "assets/plugins/parallax-slider/css/parallax-slider.css", :rel => "stylesheet"}/
-#    / CSS Theme
-#    %link#style_color{:href => "assets/css/themes/default.css", :rel => "stylesheet"}/
-#    %link#style_color-header-1{:href => "assets/css/themes/headers/default.css", :rel => "stylesheet"}/

/ === Style Switcher ===
-#%i.style-switcher-btn.icon-cogs.hidden-xs
-#.style-switcher
-#  .theme-close
-#    %i.icon-remove
-#  .theme-heading Theme Colors
-#  %ul.list-unstyled
-#    %li.theme-default.theme-active{"data-header" => "light", "data-style" => "default"}
-#    %li.theme-blue{"data-header" => "light", "data-style" => "blue"}
-#    %li.theme-orange{"data-header" => "light", "data-style" => "orange"}
-#    %li.theme-red{"data-header" => "light", "data-style" => "red"}
-#    %li.theme-light.last{"data-header" => "light", "data-style" => "light"}
-#  %div{:style => "margin-bottom:18px;"}
-#  .theme-heading Layouts
-#  .text-center
-#    %a.btn-u.btn-u-green.btn-block.active-switcher-btn.wide-layout-btn{:href => "#"} Wide
-#    %a.btn-u.btn-u-green.btn-block.boxed-layout-btn{:href => "#"} Boxed
/ /style-switcher
/ === End Style Switcher ===
/ === Top ===
.top
  .container
    %ul.loginbar.pull-right
      %li
        %i.icon-globe
        %a Languages
        %ul.lenguages
          %li.active
            %a{:href => "#"}
              English
              %i.icon-ok
          %li
            %a{:href => "#"} Spanish
          %li
            %a{:href => "#"} Russian
          %li
            %a{:href => "#"} German
      %li.devider
      %li
        %a{:href => "#"} Help
      %li.devider
      %li
        %a{:href => "#"} Login
/ /top
/ === End Top ===
/ === Header ===
.header
  .navbar.navbar-default{:role => "navigation"}
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"}
          %img#logo-header{:alt => "Logo", :height => "40px", :src => "assets/img/massdecision-logo.png"}/
      / Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown.active
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
              Home
              %i.icon-angle-down
            %ul.dropdown-menu
              %li.active
                %a{:href => "#"} Option 1: Default Page
              %li
                %a{:href => "#"} Option 2: Layer Slider
              %li
                %a{:href => "#"} Option 3: Revolution Slider
              %li
                %a{:href => "#"} Option 4: Amazing Content
              %li
                %a{:href => "#"} Option 5: Home Sidebar
              %li
                %a{:href => "#"} Option 6: Home Flatty
              %li
                %a{:href => "#"} Option 7: Home Magazine
              %li
                %a{:href => "#"} Option 8: Home Portfolio
          %li.dropdown
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
              Pages
              %i.icon-angle-down
            %ul.dropdown-menu
              %li
                %a{:href => "#"} About Us
              %li
                %a{:href => "#"} About Us Option
              %li
                %a{:href => "#"} Services
              %li
                %a{:href => "#"} Services Option
              %li
                %a{:href => "#"} Pricing Tables
              %li
                %a{:href => "#"} Invoice Page
              %li
                %a{:href => "#"} Meet Our Team
              %li
                %a{:href => "#"} Coming Soon
              %li
                %a{:href => "#"} FAQs Page
              %li
                %a{:href => "#"} Funny Boxes
              %li
                %a{:href => "#"} Gallery Page
              %li
                %a{:href => "#"} Registration Page
              %li
                %a{:href => "#"} Registration Option
              %li
                %a{:href => "#"} Login Page
              %li
                %a{:href => "#"} Login Option
              %li
                %a{:href => "#"} 404 Error
              %li
                %a{:href => "#"} 404 Error Option
              %li
                %a{:href => "#"} Clients Page
              %li
                %a{:href => "#"} Privacy Policy
              %li
                %a{:href => "#"} Terms Of Service
              %li
                %a{:href => "#"} 2 Columns Page Left
              %li
                %a{:href => "#"} 2 Columns Page Right
              %li
                %a{:href => "#"} 3 Columns Page
          %li.dropdown
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
              Features
              %i.icon-angle-down
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Grid Layout
              %li
                %a{:href => "#"} Content Boxes
              %li
                %a{:href => "#"} Typography
              %li
                %a{:href => "#"} Tagline Boxes
              %li
                %a{:href => "#"} Buttons
              %li
                %a{:href => "#"} Icons
              %li
                %a{:href => "#"} Thumbails
              %li
                %a{:href => "#"} Components
              %li
                %a{:href => "#"} Accardion and Tabs
              %li
                %a{:href => "#"} Navigations
              %li
                %a{:href => "#"} Tables
              %li
                %a{:href => "#"} Forms
              %li
                %a{:href => "#"} Testimonials
          %li.dropdown
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
              Portfolio
              %i.icon-angle-down
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Portfolio Text Blocks
              %li
                %a{:href => "#"} Portfolio 2 Columns
              %li
                %a{:href => "#"} Portfolio 3 Columns
              %li
                %a{:href => "#"} Portfolio 4 Columns
              %li
                %a{:href => "#"} Portfolio Item Option 1
              %li
                %a{:href => "#"} Portfolio Item Option 2
          %li.dropdown
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
              Blog
              %i.icon-angle-down
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Blog Page
              %li
                %a{:href => "#"} Blog Large
              %li
                %a{:href => "#"} Blog Medium
              %li
                %a{:href => "#"} Blog Full Width
              %li
                %a{:href => "#"} Blog Left Sidebar
              %li
                %a{:href => "#"} Blog Right Sidebar
              %li
                %a{:href => "#"} Blog Item Option 1
              %li
                %a{:href => "#"} Blog Item Option 2
          %li.dropdown
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
              Contacts
              %i.icon-angle-down
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Contacts Default
              %li
                %a{:href => "#"} Contacts Option 1
              %li
                %a{:href => "#"} Contacts Option 2
          %li.hidden-sm
            %a.search
              %i.icon-search.search-btn
        .search-open
          .input-group
            %input.form-control{:placeholder => "Search", :type => "text"}/
            %span.input-group-btn
              %button.btn-u{:type => "button"} Go
          / /input-group
      / /navbar-collapse
/ /header
/ === End Header ===
/ === Slider ===
.slider-inner
  #da-slider.da-slider
    .da-slide
      %h2
        %i MASS DECISION
        %br/
        %i ГУМАНИТАРНАЯ
        %br/
        %i ИНТЕРНЕТ-ТЕХНОЛОГИЯ
      %p
        %i Новый уровень мышления
        %br/
        %i для выработки стратегических решений
        %br/
        %i любой сложности
      .da-img
        %img{:alt => "", :src => "assets/img/1.png"}/
    .da-slide
      %h2
        %i RESPONSIVE VIDEO
        %br/
        %i SUPPORT AND
        %br/
        %i MANY MORE
      %p
        %i Lorem ipsum dolor amet
        %br/
        %i tempor incididunt ut
      .da-img
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "300", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/47911018", :webkitallowfullscreen => "", :width => "530"}
    .da-slide
      %h2
        %i USING BEST WEB
        %br/
        %i SOLUTIONS WITH
        %br/
        %i HTML5/CSS3
      %p
        %i Lorem ipsum dolor amet
        %br/
        %i tempor incididunt ut
        %br/
        %i veniam omnis
      .da-img
        %img{:alt => "image01", :src => "assets/img/html5andcss3.png"}/
    .da-arrows
      %span.da-arrows-prev
      %span.da-arrows-next
  / /da-slider
/ /slider
/ === End Slider ===
/ === Purchase Block ===
.purchase
  .container
    .row
      .col-md-9
        %span Что такое MASSDECISION?
        %p
          MASSDECISION - это интернет-воплощение одной из наиболее успешных моделей мышления и выработки решений, модели рационального мышления. А именно процедурной рациональности.
          Это гуманитарная интернет-технология для демократичной выработки стратегических решений в массовых сообществах и подготовки будущих исполнителей к их реализации.
      .col-md-3
        %a.btn-buy.hover-effect{:href => "#"} Подробнее о проекте
/ /row
/ End Purchase Block
/ === Content Part ===
.container
  / Service Blocks
  .row
    .col-md-4
      .service{:style => "border: 1px solid #97447A"}
        %i.icon-resize-small.service-icon
        .desc
          %h4 Максимальная эффективность
          %p Вовлечение в разработку решения будущих реализаторов значительно повышает их заинтересованность в успешном внедрении решения
    .col-md-4
      .service{:style => "border: 1px solid #97447A"}
        %i.icon-cogs.service-icon
        .desc
          %h4 Процедурная рациональность
          %p Деловая игра, построенная по принципу "от простого к сложному" повышает заинтересованность в поиске рациональных решений
    .col-md-4
      .service{:style => "border: 1px solid #97447A"}
        %i.icon-plane.service-icon
        .desc
          %h4 Успешный запуск проектов
          %p Проекты, разработанные и выработанные в процедурах MASSDECISION имеют высокую вероятность успешной реализации
  / /row
  / End Service Blokcs
  /
    Recent Works
    <div class="headline"><h2>Recent Works</h2></div>
    <div class="row">
    <div class="col-md-3 col-sm-6">
    <div class="thumbnails thumbnail-style thumbnail-kenburn">
    <div class="thumbnail-img">
    <div class="overflow-hidden">
    <img class="img-responsive" src="assets/img/main/2.jpg" alt="" />
    </div>
    <a class="btn-more hover-effect" href="#">read more +</a>
    </div>
    <div class="caption">
    <h3><a class="hover-effect" href="#">Project One</a></h3>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
    </div>
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="thumbnails thumbnail-style thumbnail-kenburn">
    <div class="thumbnail-img">
    <div class="overflow-hidden">
    <img class="img-responsive" src="assets/img/main/3.jpg" alt="" />
    </div>
    <a class="btn-more hover-effect" href="#">read more +</a>
    </div>
    <div class="caption">
    <h3><a class="hover-effect" href="#">Project Two</a></h3>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
    </div>
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="thumbnails thumbnail-style thumbnail-kenburn">
    <div class="thumbnail-img">
    <div class="overflow-hidden">
    <img class="img-responsive" src="assets/img/main/9.jpg" alt="" />
    </div>
    <a class="btn-more hover-effect" href="#">read more +</a>
    </div>
    <div class="caption">
    <h3><a class="hover-effect" href="#">Project Three</a></h3>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
    </div>
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
    <div class="thumbnails thumbnail-style thumbnail-kenburn">
    <div class="thumbnail-img">
    <div class="overflow-hidden">
    <img class="img-responsive" src="assets/img/main/10.jpg" alt="" />
    </div>
    <a class="btn-more hover-effect" href="#">read more +</a>
    </div>
    <div class="caption">
    <h3><a class="hover-effect" href="#">Project Four</a></h3>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
    </div>
    </div>
    </div>
    </div><!--/row
  / End Recent Works
  / Info Blokcs
  %br/
  .row
    / Welcome Block
    .col-md-8
      .headline
        %h2 Несколько слов о MASSDECISION
      .row
        .col-sm-4
          %img.img-responsive.margin-bottom-20{:alt => "", :src => "assets/img/main/6.jpg"}/
        .col-sm-8
          %p
            MASSDECISION - это интернет-воплощение одной из наиболее успешных моделей мышления и выработки решений, модели рационального мышления. А именно процедурной рациональности.
            Это гуманитарная интернет-технология для демократичной выработки стратегических решений в массовых сообществах и подготовки будущих исполнителей к их реализации.
            = succeed "\u{410}" do
              %br/
            это  обеспечение максимально высокого качества выработанного решения при вовлечении максимального числа участников в процесс его выработки. Решение, выработанное в ходе рациональной процедуры, лишено следующих недостатков:
            \.
          %ul.list-unstyled.margin-bottom-20
            %li
              %i.icon-ok.color-green
              Кратковременное выгадывание без учета долгосрочной перспективы.
            %li
              %i.icon-ok.color-green
              Склонность к негативному целеполаганию.
            %li
              %i.icon-ok.color-green
              Несклонность к контр-негативному анализу решения.
            %li
              %i.icon-ok.color-green
              Отсутствие восприятия множественности вариантов решения как ценности.
      %blockquote.hero-unify
        %p "Значительные проблемы, с которыми мы сталкиваемся, не могут быть решены на том же уровне мышления, на котором они были созданы."
        %small А. Эйнштейн
    / /col-md-8
    / Latest Shots
    .col-md-4
      .headline
        %h2 Наши процедуры
      #myCarousel.carousel.slide.carousel-v1
        .carousel-inner
          .item.active
            %img{:alt => "", :src => "assets/img/main/5.jpg"}/
            .carousel-caption
              %p Повышение спроса на заочное образование в ИРБИСе.
          .item
            %img{:alt => "", :src => "assets/img/main/4.jpg"}/
            .carousel-caption
              %p Повышение спроса на дистанционное образование в СГУ.
          .item
            %img{:alt => "", :src => "assets/img/main/3.jpg"}/
            .carousel-caption
              %p Повышение спроса на печеньки на Сенном после пожара.
        .carousel-arrow
          %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
            %i.icon-angle-left
          %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
            %i.icon-angle-right
    / /col-md-4
  / /row
  / End Info Blokcs
  / Our Clients
  #clients-flexslider.flexslider.home.clients
    .headline
      %h2 Наши клиенты
    %ul.slides
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/hp_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/hp.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/igneus_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/igneus.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/vadafone_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/vadafone.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/walmart_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/walmart.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/shell_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/shell.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/natural_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/natural.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/aztec_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/aztec.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/gamescast_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/gamescast.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/cisco_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/cisco.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/everyday_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/everyday.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/cocacola_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/cocacola.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/spinworkx_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/spinworkx.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/shell_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/shell.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/natural_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/natural.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/gamescast_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/gamescast.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/everyday_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/everyday.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/spinworkx_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/spinworkx.png"}/
  / /flexslider
  / End Our Clients
/ /container
/ End Content Part
/ === Footer ===
.footer
  .container
    .row
      .col-md-4.md-margin-bottom-40
        / About
        .headline
          %h2 О нас
        %p.margin-bottom-25.md-margin-bottom-40 Мы не решим ваши проблемы и не ответим на насущные вопросы. Мы дадим Вам ключ от нового уровня мышления, чтобы Вы сделали это сами.
        / Monthly Newsletter
        .headline
          %h2 Следите за новостями
        %p Укажите почту, чтобы получать самые свежие новости проекта.
        %form.footer-subsribe
          .input-group
            %input.form-control{:placeholder => "Email Address", :type => "text"}/
            %span.input-group-btn
              %button.btn-u{:type => "button"} Подписаться
          / /input-group
      / /col-md-4
      .col-md-4.md-margin-bottom-40
        .posts
          .headline
            %h2 Новости процедур
          %dl.dl-horizontal
            %dt
              %a{:href => "#"}
                %img{:alt => "", :src => "assets/img/sliders/elastislide/6.jpg"}/
            %dd
              %p
                %a{:href => "#"} Удалена процедура "Повышение спроса на работу в Саратове"
          %dl.dl-horizontal
            %dt
              %a{:href => "#"}
                %img{:alt => "", :src => "assets/img/sliders/elastislide/10.jpg"}/
            %dd
              %p
                %a{:href => "#"} Закрыта процедура "Повышение спроса на работу в Саратове"
          %dl.dl-horizontal
            %dt
              %a{:href => "#"}
                %img{:alt => "", :src => "assets/img/sliders/elastislide/11.jpg"}/
            %dd
              %p
                %a{:href => "#"} Запущена процедура "Повышение спроса на работу в Саратове"
      / /col-md-4
      .col-md-4
        / Monthly Newsletter
        .headline
          %h2 Контакты
        %address.md-margin-bottom-40
          25, Lorem Lis Street, Orange
          %br/
          California, US
          %br/
          Phone: 800 123 3456
          %br/
          Fax: 800 123 3456
          %br/
          Email:
          %a{:href => "mailto:info@anybiz.com"} info@anybiz.com
        / Stay Connected
        .headline
          %h2 Оставайтесь на связи
        %ul.social-icons
          %li
            %a.social_rss{"data-original-title" => "Feed", :href => "#"}
          %li
            %a.social_facebook{"data-original-title" => "Facebook", :href => "#"}
          %li
            %a.social_twitter{"data-original-title" => "Twitter", :href => "#"}
          %li
            %a.social_googleplus{"data-original-title" => "Goole Plus", :href => "#"}
          %li
            %a.social_pintrest{"data-original-title" => "Pinterest", :href => "#"}
          %li
            %a.social_linkedin{"data-original-title" => "Linkedin", :href => "#"}
          %li
            %a.social_vimeo{"data-original-title" => "Vimeo", :href => "#"}
      / /col-md-4
    / /row
  / /container
/ /footer
/ === End Footer ===
/ === Copyright ===
.copyright
  .container
    .row
      .col-md-6
        %p.copyright-space
          2013 &copy; Unify. ALL Rights Reserved.
          %a{:href => "#"} Privacy Policy
          |
          %a{:href => "#"} Terms of Service
      .col-md-6
        %a{:href => "#"}
          %img#logo-footer.pull-right{:alt => "", :height => "40px", :src => "assets/img/massdecision-logo-light.png"}/
    / /row
  / /container
/ /copyright
/ === End Copyright ===
/ JS Global Compulsory
-#%script{:src => "assets/plugins/jquery-1.10.2.min.js", :type => "text/javascript"}
-#%script{:src => "assets/plugins/jquery-migrate-1.2.1.min.js", :type => "text/javascript"}
-#%script{:src => "assets/plugins/bootstrap/js/bootstrap.min.js", :type => "text/javascript"}
-#%script{:src => "assets/plugins/hover-dropdown.min.js", :type => "text/javascript"}
-#%script{:src => "assets/plugins/back-to-top.js", :type => "text/javascript"}
-#/ JS Implementing Plugins
-#%script{:src => "assets/plugins/flexslider/jquery.flexslider-min.js", :type => "text/javascript"}
-#%script{:src => "assets/plugins/parallax-slider/js/modernizr.js", :type => "text/javascript"}
-#%script{:src => "assets/plugins/parallax-slider/js/jquery.cslider.js", :type => "text/javascript"}
-#/ JS Page Level
-#%script{:src => "assets/js/app.js", :type => "text/javascript"}
-#%script{:src => "assets/js/pages/index.js", :type => "text/javascript"}
-#:javascript
-#  jQuery(document).ready(function() {
-#    	App.init();
-#      App.initSliders();
-#      Index.initParallaxSlider();
-#  });
-#/[if lt IE 9]
-#  <script src="assets/plugins/respond.js"></script>
