-#!!!
-#/[if IE 8] <html lang="en" class="ie8">
-#/[if IE 9] <html lang="en" class="ie9">
-#/ [if !IE]><!
-#%html{:lang => "en"}
-#  / <![endif]
-#  %head
-#    %title Unify | Welcome...
-#    / Meta
-#    %meta{:charset => "utf-8"}/
-#    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
-#    %meta{:content => "", :name => "description"}/
-#    %meta{:content => "", :name => "author"}/
-#    / CSS Global Compulsory
-#    %link{:href => "assets/plugins/bootstrap/css/bootstrap.css", :rel => "stylesheet"}/
-#    %link{:href => "assets/css/style.css", :rel => "stylesheet"}/
-#    %link{:href => "assets/css/headers/header1.css", :rel => "stylesheet"}/
-#    %link{:href => "assets/css/responsive.css", :rel => "stylesheet"}/
-#    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
-#    / CSS Implementing Plugins
-#    %link{:href => "assets/plugins/font-awesome/css/font-awesome.css", :rel => "stylesheet"}/
-#    %link{:href => "assets/plugins/flexslider/flexslider.css", :rel => "stylesheet"}/
-#    %link{:href => "assets/plugins/parallax-slider/css/parallax-slider.css", :rel => "stylesheet"}/
-#    / CSS Theme
-#    %link#style_color{:href => "assets/css/themes/default.css", :rel => "stylesheet"}/
-#    %link#style_color-header-1{:href => "assets/css/themes/headers/default.css", :rel => "stylesheet"}/
-#  %body
/ === Style Switcher ===
%i.style-switcher-btn.icon-cogs.hidden-xs
.style-switcher
  .theme-close
    %i.icon-remove
  .theme-heading Theme Colors
  %ul.list-unstyled
    %li.theme-default.theme-active{"data-header" => "light", "data-style" => "default"}
    %li.theme-blue{"data-header" => "light", "data-style" => "blue"}
    %li.theme-orange{"data-header" => "light", "data-style" => "orange"}
    %li.theme-red{"data-header" => "light", "data-style" => "red"}
    %li.theme-light.last{"data-header" => "light", "data-style" => "light"}
  %div{:style => "margin-bottom:18px;"}
  .theme-heading Layouts
  .text-center
    %a.btn-u.btn-u-green.btn-block.active-switcher-btn.wide-layout-btn{:href => "#"} Wide
    %a.btn-u.btn-u-green.btn-block.boxed-layout-btn{:href => "#"} Boxed
/ /style-switcher
/ === End Style Switcher ===
/ === Top ===
.top
  .container
    %ul.loginbar.pull-right
      %li
        %i.icon-globe
        %a Languages
        %ul.lenguages
          %li.active
            %a{:href => "#"}
              English
              %i.icon-ok
          %li
            %a{:href => "#"} Spanish
          %li
            %a{:href => "#"} Russian
          %li
            %a{:href => "#"} German
      %li.devider
      %li
        %a{:href => "page_faq.html"} Help
      %li.devider
      %li
        %a{:href => "page_login.html"} Login
/ /top
/ === End Top ===
/ === Header ===
.header
  .navbar.navbar-default{:role => "navigation"}
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "index.html"}
          %img#logo-header{:alt => "Logo", :src => "assets/img/logo1-default.png"}/
      / Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown.active
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
              Home
              %i.icon-angle-down
            %ul.dropdown-menu
              %li.active
                %a{:href => "index.html"} Option 1: Default Page
              %li
                %a{:href => "page_home1.html"} Option 2: Layer Slider
              %li
                %a{:href => "page_home2.html"} Option 3: Revolution Slider
              %li
                %a{:href => "page_home3.html"} Option 4: Amazing Content
              %li
                %a{:href => "page_home4.html"} Option 5: Home Sidebar
              %li
                %a{:href => "page_home5.html"} Option 6: Home Flatty
              %li
                %a{:href => "page_home6.html"} Option 7: Home Magazine
              %li
                %a{:href => "page_home7.html"} Option 8: Home Portfolio
          %li.dropdown
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
              Pages
              %i.icon-angle-down
            %ul.dropdown-menu
              %li
                %a{:href => "page_about.html"} About Us
              %li
                %a{:href => "page_about1.html"} About Us Option
              %li
                %a{:href => "page_services.html"} Services
              %li
                %a{:href => "page_services1.html"} Services Option
              %li
                %a{:href => "page_pricing.html"} Pricing Tables
              %li
                %a{:href => "page_invoice.html"} Invoice Page
              %li
                %a{:href => "page_meet_our_team.html"} Meet Our Team
              %li
                %a{:href => "page_coming_soon.html"} Coming Soon
              %li
                %a{:href => "page_faq.html"} FAQs Page
              %li
                %a{:href => "page_search.html"} Funny Boxes
              %li
                %a{:href => "page_gallery.html"} Gallery Page
              %li
                %a{:href => "page_registration.html"} Registration Page
              %li
                %a{:href => "page_registration1.html"} Registration Option
              %li
                %a{:href => "page_login.html"} Login Page
              %li
                %a{:href => "page_login1.html"} Login Option
              %li
                %a{:href => "page_404_error.html"} 404 Error
              %li
                %a{:href => "page_404_error1.html"} 404 Error Option
              %li
                %a{:href => "page_clients.html"} Clients Page
              %li
                %a{:href => "page_privacy.html"} Privacy Policy
              %li
                %a{:href => "page_terms.html"} Terms Of Service
              %li
                %a{:href => "page_2_columns_left.html"} 2 Columns Page Left
              %li
                %a{:href => "page_2_columns_right.html"} 2 Columns Page Right
              %li
                %a{:href => "page_3_columns.html"} 3 Columns Page
          %li.dropdown
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
              Features
              %i.icon-angle-down
            %ul.dropdown-menu
              %li
                %a{:href => "feature_grid.html"} Grid Layout
              %li
                %a{:href => "feature_boxes.html"} Content Boxes
              %li
                %a{:href => "feature_typography.html"} Typography
              %li
                %a{:href => "feature_tagline_boxes.html"} Tagline Boxes
              %li
                %a{:href => "feature_buttons.html"} Buttons
              %li
                %a{:href => "feature_icons.html"} Icons
              %li
                %a{:href => "feature_thumbails.html"} Thumbails
              %li
                %a{:href => "feature_components.html"} Components
              %li
                %a{:href => "feature_accardion_and_tabs.html"} Accardion and Tabs
              %li
                %a{:href => "feature_navigations.html"} Navigations
              %li
                %a{:href => "feature_tables.html"} Tables
              %li
                %a{:href => "feature_forms.html"} Forms
              %li
                %a{:href => "feature_testimonials.html"} Testimonials
          %li.dropdown
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
              Portfolio
              %i.icon-angle-down
            %ul.dropdown-menu
              %li
                %a{:href => "portfolio_text_blocks.html"} Portfolio Text Blocks
              %li
                %a{:href => "portfolio_2_column.html"} Portfolio 2 Columns
              %li
                %a{:href => "portfolio_3_column.html"} Portfolio 3 Columns
              %li
                %a{:href => "portfolio_4_column.html"} Portfolio 4 Columns
              %li
                %a{:href => "portfolio_item.html"} Portfolio Item Option 1
              %li
                %a{:href => "portfolio_item1.html"} Portfolio Item Option 2
          %li.dropdown
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
              Blog
              %i.icon-angle-down
            %ul.dropdown-menu
              %li
                %a{:href => "blog_page.html"} Blog Page
              %li
                %a{:href => "blog_large.html"} Blog Large
              %li
                %a{:href => "blog_medium.html"} Blog Medium
              %li
                %a{:href => "blog_full_width.html"} Blog Full Width
              %li
                %a{:href => "blog_left_sidebar.html"} Blog Left Sidebar
              %li
                %a{:href => "blog_right_sidebar.html"} Blog Right Sidebar
              %li
                %a{:href => "blog_item_option1.html"} Blog Item Option 1
              %li
                %a{:href => "blog_item_option2.html"} Blog Item Option 2
          %li.dropdown
            %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
              Contacts
              %i.icon-angle-down
            %ul.dropdown-menu
              %li
                %a{:href => "page_contact1.html"} Contacts Default
              %li
                %a{:href => "page_contact2.html"} Contacts Option 1
              %li
                %a{:href => "page_contact3.html"} Contacts Option 2
          %li.hidden-sm
            %a.search
              %i.icon-search.search-btn
        .search-open
          .input-group
            %input.form-control{:placeholder => "Search", :type => "text"}/
            %span.input-group-btn
              %button.btn-u{:type => "button"} Go
          / /input-group
      / /navbar-collapse
/ /header
/ === End Header ===
/ === Slider ===
.slider-inner
  #da-slider.da-slider
    .da-slide
      %h2
        %i CLEAN &amp; FRESH
        %br/
        %i FULLY RESPONSIVE
        %br/
        %i DESIGN
      %p
        %i Lorem ipsum dolor amet
        %br/
        %i tempor incididunt ut
        %br/
        %i veniam omnis
      .da-img
        %img{:alt => "", :src => "assets/plugins/parallax-slider/img/1.png"}/
    .da-slide
      %h2
        %i RESPONSIVE VIDEO
        %br/
        %i SUPPORT AND
        %br/
        %i MANY MORE
      %p
        %i Lorem ipsum dolor amet
        %br/
        %i tempor incididunt ut
      .da-img
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "300", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/47911018", :webkitallowfullscreen => "", :width => "530"}
    .da-slide
      %h2
        %i USING BEST WEB
        %br/
        %i SOLUTIONS WITH
        %br/
        %i HTML5/CSS3
      %p
        %i Lorem ipsum dolor amet
        %br/
        %i tempor incididunt ut
        %br/
        %i veniam omnis
      .da-img
        %img{:alt => "image01", :src => "assets/plugins/parallax-slider/img/html5andcss3.png"}/
    .da-arrows
      %span.da-arrows-prev
      %span.da-arrows-next
  / /da-slider
/ /slider
/ === End Slider ===
/ === Purchase Block ===
.purchase
  .container
    .row
      .col-md-9
        %span Unify is a clean and fully responsive incredible Template.
        %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat.
      .col-md-3
        %a.btn-buy.hover-effect{:href => "#"} Purchase Now
/ /row
/ End Purchase Block
/ === Content Part ===
.container
  / Service Blocks
  .row
    .col-md-4
      .service
        %i.icon-resize-small.service-icon
        .desc
          %h4 Fully Responsive
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...
    .col-md-4
      .service
        %i.icon-cogs.service-icon
        .desc
          %h4 HTML5 + CSS3
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...
    .col-md-4
      .service
        %i.icon-plane.service-icon
        .desc
          %h4 Launch Ready
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...
  / /row
  / End Service Blokcs
  / Recent Works
  .headline
    %h2 Recent Works
  .row
    .col-md-3.col-sm-6
      .thumbnails.thumbnail-style.thumbnail-kenburn
        .thumbnail-img
          .overflow-hidden
            %img.img-responsive{:alt => "", :src => "assets/img/main/2.jpg"}/
          %a.btn-more.hover-effect{:href => "#"} read more +
        .caption
          %h3
            %a.hover-effect{:href => "#"} Project One
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
    .col-md-3.col-sm-6
      .thumbnails.thumbnail-style.thumbnail-kenburn
        .thumbnail-img
          .overflow-hidden
            %img.img-responsive{:alt => "", :src => "assets/img/main/3.jpg"}/
          %a.btn-more.hover-effect{:href => "#"} read more +
        .caption
          %h3
            %a.hover-effect{:href => "#"} Project Two
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
    .col-md-3.col-sm-6
      .thumbnails.thumbnail-style.thumbnail-kenburn
        .thumbnail-img
          .overflow-hidden
            %img.img-responsive{:alt => "", :src => "assets/img/main/9.jpg"}/
          %a.btn-more.hover-effect{:href => "#"} read more +
        .caption
          %h3
            %a.hover-effect{:href => "#"} Project Three
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
    .col-md-3.col-sm-6
      .thumbnails.thumbnail-style.thumbnail-kenburn
        .thumbnail-img
          .overflow-hidden
            %img.img-responsive{:alt => "", :src => "assets/img/main/10.jpg"}/
          %a.btn-more.hover-effect{:href => "#"} read more +
        .caption
          %h3
            %a.hover-effect{:href => "#"} Project Four
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
  / /row
  / End Recent Works
  / Info Blokcs
  .row
    / Welcome Block
    .col-md-8
      .headline
        %h2 Welcome To Unify
      .row
        .col-sm-4
          %img.img-responsive.margin-bottom-20{:alt => "", :src => "assets/img/main/6.jpg"}/
        .col-sm-8
          %p Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.
          %ul.list-unstyled.margin-bottom-20
            %li
              %i.icon-ok.color-green
              Donec id elit non mi porta gravida
            %li
              %i.icon-ok.color-green
              Corporate and Creative
            %li
              %i.icon-ok.color-green
              Responsive Bootstrap Template
            %li
              %i.icon-ok.color-green
              Corporate and Creative
      %blockquote.hero-unify
        %p Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.
        %small CEO, Jack Bour
    / /col-md-8
    / Latest Shots
    .col-md-4
      .headline
        %h2 Latest Shots
      #myCarousel.carousel.slide.carousel-v1
        .carousel-inner
          .item.active
            %img{:alt => "", :src => "assets/img/main/5.jpg"}/
            .carousel-caption
              %p Facilisis odio, dapibus ac justo acilisis gestinas.
          .item
            %img{:alt => "", :src => "assets/img/main/4.jpg"}/
            .carousel-caption
              %p Cras justo odio, dapibus ac facilisis into egestas.
          .item
            %img{:alt => "", :src => "assets/img/main/3.jpg"}/
            .carousel-caption
              %p Justo cras odio apibus ac afilisis lingestas de.
        .carousel-arrow
          %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
            %i.icon-angle-left
          %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
            %i.icon-angle-right
    / /col-md-4
  / /row
  / End Info Blokcs
  / Our Clients
  #clients-flexslider.flexslider.home.clients
    .headline
      %h2 Our Clients
    %ul.slides
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/hp_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/hp.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/igneus_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/igneus.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/vadafone_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/vadafone.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/walmart_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/walmart.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/shell_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/shell.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/natural_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/natural.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/aztec_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/aztec.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/gamescast_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/gamescast.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/cisco_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/cisco.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/everyday_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/everyday.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/cocacola_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/cocacola.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/spinworkx_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/spinworkx.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/shell_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/shell.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/natural_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/natural.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/gamescast_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/gamescast.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/everyday_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/everyday.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/img/clients/spinworkx_grey.png"}/
          %img.color-img{:alt => "", :src => "assets/img/clients/spinworkx.png"}/
  / /flexslider
  / End Our Clients
/ /container
/ End Content Part
/ === Footer ===
.footer
  .container
    .row
      .col-md-4.md-margin-bottom-40
        / About
        .headline
          %h2 About
        %p.margin-bottom-25.md-margin-bottom-40 Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals.
        / Monthly Newsletter
        .headline
          %h2 Monthly Newsletter
        %p Subscribe to our newsletter and stay up to date with the latest news and deals!
        %form.footer-subsribe
          .input-group
            %input.form-control{:placeholder => "Email Address", :type => "text"}/
            %span.input-group-btn
              %button.btn-u{:type => "button"} Subscribe
          / /input-group
      / /col-md-4
      .col-md-4.md-margin-bottom-40
        .posts
          .headline
            %h2 Recent Blog Entries
          %dl.dl-horizontal
            %dt
              %a{:href => "#"}
                %img{:alt => "", :src => "assets/img/sliders/elastislide/6.jpg"}/
            %dd
              %p
                %a{:href => "#"} Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template
          %dl.dl-horizontal
            %dt
              %a{:href => "#"}
                %img{:alt => "", :src => "assets/img/sliders/elastislide/10.jpg"}/
            %dd
              %p
                %a{:href => "#"} Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template
          %dl.dl-horizontal
            %dt
              %a{:href => "#"}
                %img{:alt => "", :src => "assets/img/sliders/elastislide/11.jpg"}/
            %dd
              %p
                %a{:href => "#"} Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template
      / /col-md-4
      .col-md-4
        / Monthly Newsletter
        .headline
          %h2 Contact Us
        %address.md-margin-bottom-40
          25, Lorem Lis Street, Orange
          %br/
          California, US
          %br/
          Phone: 800 123 3456
          %br/
          Fax: 800 123 3456
          %br/
          Email:
          %a{:href => "mailto:info@anybiz.com"} info@anybiz.com
        / Stay Connected
        .headline
          %h2 Stay Connected
        %ul.social-icons
          %li
            %a.social_rss{"data-original-title" => "Feed", :href => "#"}
          %li
            %a.social_facebook{"data-original-title" => "Facebook", :href => "#"}
          %li
            %a.social_twitter{"data-original-title" => "Twitter", :href => "#"}
          %li
            %a.social_googleplus{"data-original-title" => "Goole Plus", :href => "#"}
          %li
            %a.social_pintrest{"data-original-title" => "Pinterest", :href => "#"}
          %li
            %a.social_linkedin{"data-original-title" => "Linkedin", :href => "#"}
          %li
            %a.social_vimeo{"data-original-title" => "Vimeo", :href => "#"}
      / /col-md-4
    / /row
  / /container
/ /footer
/ === End Footer ===
/ === Copyright ===
.copyright
  .container
    .row
      .col-md-6
        %p.copyright-space
          2013 &copy; Unify. ALL Rights Reserved.
          %a{:href => "#"} Privacy Policy
          |
          %a{:href => "#"} Terms of Service
      .col-md-6
        %a{:href => "index.html"}
          %img#logo-footer.pull-right{:alt => "", :src => "assets/img/logo2-default.png"}/
    / /row
  / /container
/ /copyright
/ === End Copyright ===
/ JS Global Compulsory
-#%script{:src => "assets/plugins/jquery-1.10.2.min.js", :type => "text/javascript"}
-#%script{:src => "assets/plugins/jquery-migrate-1.2.1.min.js", :type => "text/javascript"}
-#%script{:src => "assets/plugins/bootstrap/js/bootstrap.min.js", :type => "text/javascript"}
-#%script{:src => "assets/plugins/hover-dropdown.min.js", :type => "text/javascript"}
-#%script{:src => "assets/plugins/back-to-top.js", :type => "text/javascript"}
-#/ JS Implementing Plugins
-#%script{:src => "assets/plugins/flexslider/jquery.flexslider-min.js", :type => "text/javascript"}
-#%script{:src => "assets/plugins/parallax-slider/js/modernizr.js", :type => "text/javascript"}
-#%script{:src => "assets/plugins/parallax-slider/js/jquery.cslider.js", :type => "text/javascript"}
-#/ JS Page Level
-#%script{:src => "assets/js/app.js", :type => "text/javascript"}
-#%script{:src => "assets/js/pages/index.js", :type => "text/javascript"}
-#:javascript
-#  jQuery(document).ready(function() {
-#      App.init();
-#      App.initSliders();
-#      Index.initParallaxSlider();
-#  });
-#/[if lt IE 9]
-#  <script src="assets/plugins/respond.js"></script>
