- if signed_in?
  %h2
    %strong Список процедур
  - @view_projects.each do |project|
    .row
      .col-md-9
        = project.name
      .col-md-3
        =link_to "/project/#{project.id}", class:'btn btn-sm btn-danger' do
          Перейти к процедуре
          %i.fa.fa-arrow-right
    %br

%h2
  %strong О проекте
%p
  %strong MASSDECISION
  &nbsp;— это гуманитарная интернет-технология, применимая в массовых сообществах для выработки фундаментальных решений и подготовки их реализации. Технология создана доктором Олегом Савельзоном из Высшей школы технологии в Иерусалиме.
%p Научный руководитель и автор технологии MASSDECISION — доктор Олег Савельзон из Высшей школы технологии в Иерусалиме. Занимается вопросами процедурной рациональности более четверти века. Автор нескольких десятков научных статей и ряда книг на тему процедурной рациональности в принятии решений. Консультирует государственные, политические, общественные и коммерческие организации в США, Израиле и России по вопросам принятия стратегических решений (избранные клиенты — американское агентство НАСА, израильская партия Исраэль-ба-Алия, российский Союз профессиональных фармацевтических организаций и многие другие).
%p Руководитель и движущая сила проекта MASSDECISION — Ральф Вайнтруб, магистр физики, учредитель и президент международного холдинга «Инвар». Давно и успешно использует технологию MASSDECISION для выработки стратегических решений в бизнесе.
.row.features
  .col-sm-4
    %section.feature
      .row
        .col-xs-4
          %p
            %span.icon.background-danger
              %i.fa.eicon-flow-tree(style='margin-top: 7px;')
        .col-xs-8(style="text-align: left;")
          %h4 Процедурная рациональность&nbsp;
          %p Оригинальные авторские модели и техники, которые помогают предотвратить нерациональность процесса выработки решения
  .col-sm-4
    %section.feature
      .row
        .col-xs-4
          %p
            %span.icon.background-warning
              %i.fa.fa-group(style='margin-top: 7px;')
        .col-xs-8(style="text-align: left;")
          %h4 Деловая игра
          %p Многие участники получают баллы и призы, а выигрывают все, так как побеждает проект, выбранный большинством в ходе демократичной дискуссии&nbsp;
  .col-sm-4
    %section.feature
      .row
        .col-xs-4
          %p
            %span.icon.background-success
              %i.fa.eicon-paper-plane(style='margin-top: 7px;')
        .col-xs-8(style="text-align: left;")
          %h4 Осуществление проекта
          %p Решение вырабатывается его будущими исполнителями, что обеспечивает качественно новый уровень его понимания и повышает мотивацию к исполнению
