=link_to 'вернуться к процедуре', '/project/'+@core_project.id.to_s

%h1 База знаний процедуры "#{@core_project.name}"

-#=raw(@core_project.knowledge)
%p
  %b 1. Учебный процесс, включая образовательные технологии

%p Администрирование учебного процесса:

%p ∙     В соответствии с утвержденными СГТУ учебными планами и графиками учебного процесса составление расписания занятий, тестирования, экзаменационной сессии, т.е. распределение обучающихся групп студентов ВШ(высшая школа) и БК(бизнес колледж) по аудиторному фонду института, согласование расписаний в СГТУ; расписание составляется на семестр на чередующиеся чет/нечет недели для групп и для ППС, размещается на сайте;

%p ∙     контроля проведения занятий по составленному расписанию, выявление нарушений среди студентов и ППС;

%p ∙     при необходимости согласование и перенос занятий на другой день, оповещение студентов и ППС;

%p ∙     расчет учебной нагрузки на след. учебный год для всех форм обучения и групп студентов, проверка инд.планов ППС, перераспределение нагрузки при;

%p ∙     составление графиков учебного процесса на след. учебный год, согласование в СГТУ;

%p ∙     наполняемостью  Информационно Образовательной Среды материалами по дисциплинам;

%p ∙     соблюдением санитарных и прочих норм и правил по комфортному проведению учебного процесса

%p Сопровождение студентов

%p Сопровождение студентов в учебном процессе осуществляют сотрудники отдела по работе со студентами - специалисты по учебно-методической работе.

%p За каждым студентом закреплён специалист УМР, т.е. персональный менеджер.

%p Персональный менеджер сопровождает студента с первого дня его обучения в ИРБиС и до момента получения диплома. Круг вопросов обширен: от помощи в адаптации в ИРБиСе на первом курсе до консультирования по вопросом эффективных коммуникаций в процессе обучения.

%p Общение с персональным менеджером может проходить в очном режиме (когда студент находится на сессии или приходит в ИРБиС), путём телефонных звонков, а также с использованием интернета (электронная почта, социальные сети).

%p Персональный менеджер по заявке студента оформляет документы (справка-вызов, справка о том, что он является студентом ИРБиСа и т.д.) для сторонних организации (по месту работы, в фискальные органы, в органы соц.защиты и т.д.).

%p
  %b 2. Юридическое обеспечение.
%p Институт является структурным подразделением СГТУ имени Гагарина Ю.А., и, соответственно, руководствуется помимо собственных приказов и положений, всеми локальными актами Университета. В связи с чем необходимо помнить, что генерируя новые идеи, создавая новые программы и т.п.,  их нужно сопоставлять на соответствие не только действующим в Российской Федерации государственным образовательным стандартам, но и всем внутренним документам Института и Университета. Таких документов большое количество  и затрагивают они все аспекты, начиная от лицензирования и заканчивая наполнением и содержанием учебных программ.

%p
  %b 3. Организационная структура и менеджмент

%p Учебный процесс в институте администрируют сотрудники Учебного отдела:  начальник УО(учебный отдел), диспетчер, специалист УМР(учебно-методической работе).

%p УО напрямую подчинен заместителю директора по УР(учебной работе) и тесно взаимодействует с ОРС(отдел по работе со студентами), кафедрами, ОИС(отдел информационных систем), АХО(административно-хозяйственный отдел).

%p Общения сотрудников УО со студентами и ППС(профессорско-преподавательский состав) осуществляется очно, через телефон, электронную почту, интернет, социальные сети.


%p
  %b 4. Преподаватели

%p Состав профессорско-преподавательского состава Института развития бизнеса и стратегий насчитывает более 70 человек. Из них 10 человек имеют ученую степень доктора наук, 55 человек – ученую степень кандидата наук. Кроме того, к учебному процессу привлечены представители бизнес-сообщества Российской Федерации.
%p Так, например, особенности функционирования рынка ценных бумаг студенты познают с заместителем директора филиала ОАО «Сбербанк» РФ по Саратовской области, технологию разработки рекламных продуктов изучают совместно с владелицей компании «РАРП» и сети розничных магазинов «Предметы Кухни»; маркетинговые аспекты предпринимательской деятельности изучают вместе с генеральным директором агентства коммуникаций и маркетинга "Телемир" и т.п.
%p Такой подход к организации учебного процесса бакалавров позволяет сформировать необходимые компетенции для формирования конкурентоспособного выпускника ИРБИС.




%p
  %b 5. Маркетинг.

%p На данный момент в ИРБиС дистанционное образование представлено только в Высшей школе (высшее профессиональное образование). Раскрыть его суть  поможет комплекс 5 р.

%p
  %i Product

%p Первый продукт – это классическая заочная форма обучения ( студенты присутствуют в стенах ВУЗа дважды в год во время сессии).
%p Второй продукт – это заочная форма обучения с элементами ДОТ(дистанционные образовательные технологии), (Студенты учатся дистанционно, сдавая экзамены и зачеты через интернет). Для дистанционной формы обучения  был разработан сайт www.irbis-edu.ru, на котором храниться база знаний.


%p
  %i Price

%p Цена на обе формы обучения одинаковая и составляет от 30 200 до 33 600 руб/семестр (в зависимости от специальности).

%p Цена по конкурентам варьируется от 23 000 руб/семестр до 45 000 руб/семестр. Это то, что касается Саратова. По России от 20 000 руб/семестр и до бесконечности.


%p
  %i Place

%p Для студентов, обучающихся на классической заочной форме, место обучения - это прекрасное здание, находящееся в самом центре города Саратова! Для дистанционщиков – любая точка земного шара!

%p
  %i Promotion

%p Задействована наружная  реклама – несколько баннеров по г.Саратову, так же реклама  на сайте hh.ru, оказавшаяся достаточно эффективной.
%p По данным опросов среди студентов, выяснилось, что чаще заочную форму обучения выбирают вчерашние школьники.(т.е. поступают сразу после окончания 11 класса, а не через 5-10 лет, как раньше). Поэтому ведется активная работа в школах.

%p Так же сейчас планируется начать работу с организациями, для распространения инвормации о ВУЗе среди сотрудников. Здесь основной вопрос - способы донесения этой  информации до сотрудников.

%p
  %i People

%p Люди, сопровождающие студентов в процессе обучения, это прекрасная команда преподавателей и две не менее прекрасные девушки - менеджеры по работе со студентами.



%p
  %b 6. Программа (учебный план).

%p Институт развития бизнеса и стратегий реализует образовательные программы высшего профессионального образования по направлениям подготовки 080200.62 «Менеджмент», 080400.62 «Управление персоналом», 031600.62 «Реклама и связи с общественностью», 035700.62 «Лингвистика».

%p Учебный план подготовки бакалавров предусматривает изучение следующих учебных циклов:
%p - гуманитарный, социальный и экономический циклы;
%p - математический и естественнонаучный цикл;
%p - профессиональный цикл.
%p Кроме того, учебный план содержит такие разделы подготовки, как физическая культура, учебная и производственная практики, итоговая государственная аттестация.

%p Структура каждого учебного цикла состоит из базовой части, в рамках которой изучаются дисциплины, предусмотренные федеральным государственным образовательным стандартом, и вариативной части, наполнение которой формируется основной образовательной программой вуза.

%p Нормативный срок обучения по очной форме составляет 4 года, по заочной – 5 лет.


%p
  %b 7. Потребители

%p В настоящее время в ИРБиС учится 507 студентов заочной формы обучения.

%p 410 студентов обучаются по специальностям «Менеджмент организации», «Управление персоналом», «Логистика и управление цепями поставок», «Реклама», «Социально-культурный сервис и туризм», Экономика и управление на предприятии ( в машиностроении) и 97 студентов обучаются по направлениям подготовки «Менеджмент» «Управление персоналом» и «Реклама».





=link_to 'вернуться к процедуре', '/project/'+@core_project.id.to_s