-if @project
  %h4=link_to " << Вернуться к процедуре", "/project/#{@project.id}"
.col-md-12
  %section
    %header
      %h3.text-center=t('menu.analytics')
      #nvd3_project(data-project="#{@project.id if @project}" data-stage="#{params[:action]}")
    .body
      -if @project
        -#%h3 График посещаемость
        -#%section.widget.large
        -#  %header
        -#    %h4
        -#      %i.fa.fa-arrow-circle-o-right
        -#      Нововведения
        -#  #sources-chart-line.body.chart
        -#    %svg
        -#%br
        -#%br
        %h3 График контент
        %section.widget.large
          %header
            %h4
              %i.fa.fa-bar-chart-o
              Комментарии к аспектам
              %small.hidden-xs{:style => "display: inline !important;"} Комментарии
          #sources-chart-bar.body.chart
            %svg


        %br
        %br

        %h3 Комментарии
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th
                Тип комментария
              %th
                Кол-во постов

          %tbody
            %tr
              %th
                Всего комментариев
              %td
                =@project.lifetape_comments.count
            %tr
              %td
                Комментарии без пометок
              %td
                =@project.lifetape_comments.not_check.count
            %tr
              %td
                Проблема
              %td
                =@project.lifetape_comments.type_status("by_discontent").count
            %tr
              %td
                Идея
              %td
                =@project.lifetape_comments.type_status("by_concept").count
            %tr
              %td
                Проблема + Идея
              %td
                =@project.lifetape_comments.problem_idea.count
            %tr
              %td
                Требует Обсуждения
              %td
                =@project.lifetape_comments.type_status('by_discuss').count
            %tr
              %td
                Важное
              %td
                =@project.lifetape_comments.type_status('by_approve').count
            %tr
              %td
                Требует Обсуждения + Важное
              %td
                =@project.lifetape_comments.discuss_approve.count
            %tr
              %td
                Отмечены лайками
              %td
                =@project.lifetape_comments.type_like.count

        %br
        %br
        %h3 Нововведения
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th
                Аспекты
              %th
                Кол-во Комментариев
              %th
                Кол-во комментов с лайками
              %th
                Кол-во комментариев с «Важное»
              %th
                Голосов за аспект
          %tbody
            -if @project
              %tr
                %td
                  Все Аспекты
                %td
                  =@project.lifetape_comments.count
                %td
                  =@project.lifetape_comments.type_like.count
                %td
                  =@project.lifetape_comments.type_status('by_approve').count
                %td

              -@project.aspects.order(:id).each do |asp|
                %tr
                  %td
                    =asp.content
                  %td
                    =asp.aspect_life_tape.uniq.count
                  %td
                    =asp.aspect_life_tape.type_like.uniq.count
                  %td
                    =asp.aspect_life_tape.type_status('by_approve').uniq.count
                  %td
                    =asp.voted_users.size

