!!!
%html
  %head
    %title Light Blue - Admin Template
    %link{:href => "css/application.min.css", :rel => "stylesheet"}/
    %link{:href => "img/favicon.png", :rel => "shortcut icon"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:charset => "utf-8"}/
  %body.background-dark
    .logo
      %h4
        %a{:href => "index.html"}
          Light
          %strong Blue
    %nav#sidebar.sidebar.nav-collapse.collapse
      %ul#side-nav.side-nav
        %li
          %a{:href => "index.html"}
            %i.fa.fa-home
            %span.name Dashboard
        %li.panel
          %a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#forms-collapse"}
            %i.fa.fa-edit
            %span.name Forms
          %ul#forms-collapse.panel-collapse.collapse
            %li
              %a{:href => "form_account.html"} Account
            %li
              %a{:href => "form_article.html"} Article
            %li
              %a{:href => "form_elements.html"} Elements
            %li
              %a{:href => "form_validation.html"} Validation
            %li
              %a{:href => "form_wizard.html"} Wizard
        %li.panel
          %a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#stats-collapse"}
            %i.fa.fa-bar-chart-o
            %span.name Statistics
          %ul#stats-collapse.panel-collapse.collapse
            %li
              %a{:href => "stat_statistics.html"} Stats
            %li
              %a{:href => "stat_charts.html"} Charts
            %li
              %a{:href => "stat_realtime.html"} Realtime
        %li.panel
          %a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#ui-collapse"}
            %i.fa.fa-magic
            %span.name User Interface
          %ul#ui-collapse.panel-collapse.collapse
            %li
              %a{:href => "ui_buttons.html"} Buttons
            %li
              %a{:href => "ui_dialogs.html"} Dialogs
            %li
              %a{:href => "ui_notifications.html"}
                Notifications &nbsp;
                %span.label.label-danger new
            %li
              %a{:href => "ui_icons.html"} Icons
            %li
              %a{:href => "ui_tabs.html"} Tabs
            %li
              %a{:href => "ui_accordion.html"} Accordion
        %li.panel
          %a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#components-collapse"}
            %i.fa.fa-bookmark-o
            %span.name Components
          %ul#components-collapse.panel-collapse.collapse
            %li
              %a{:href => "component_calendar.html"} Calendar
            %li
              %a{"data-no-pjax" => "", :href => "component_maps.html"} Maps
            %li
              %a{:href => "component_gallery.html"} Gallery
            %li
              %a{:href => "component_fileupload.html"} Fileupload
            %li
              %a{:href => "component_bootstrap.html"}
                Bootstrap &nbsp;
                %span.label.label-important new
            %li
              %a{:href => "component_list_groups.html"}
                List Groups &nbsp;
                %span.label.label-important new
        %li.panel
          %a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#tables-collapse"}
            %i.fa.fa-table
            %span.name Tables
          %ul#tables-collapse.panel-collapse.collapse
            %li
              %a{:href => "tables_static.html"} Static
            %li
              %a{:href => "tables_dynamic.html"} Dynamic
        %li.panel.active
          %a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#grid-collapse"}
            %i.fa.fa-bars
            %span.name
              Widgets &nbsp;
              %span.label.label-primary new
          %ul#grid-collapse.panel-collapse.collapse
            %li
              %a{:href => "grid.html"} Basic
            %li
              %a{:href => "grid_live.html"}
                Live &nbsp;
                %span.label.label-important hot
        %li.panel
          %a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#special-collapse"}
            %i.fa.fa-asterisk
            %span.name Special
          %ul#special-collapse.panel-collapse.collapse
            %li
              %a{:href => "special_search.html"} Search
            %li
              %a{:href => "special_invoice.html"} Invoice
            %li
              %a{:href => "special_inbox.html"}
                Inbox
                %span.label.label-important 3
            %li
              %a{:href => "login.html"} Login
            %li
              %a{:href => "special_404.html"} 404
            %li
              %a{"data-no-pjax" => "", :href => "../landing.html"} Landing
            %li
              %a{"data-no-pjax" => "", :href => "../index.html"}
                Transparent
                %i.fa.fa-external-link-square
        %li.panel
          %a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#menu-levels-collapse"}
            %i.fa.fa-code-fork
            %span.name Menu Levels
          %ul#menu-levels-collapse.panel-collapse.collapse
            %li
              %a{:href => "#"} Item 1.1
            %li
              %a{:href => "#"} Item 1.2
            %li.panel
              %a.accordion-toggle.collapsed{"data-parent" => "#menu-levels-collapse", "data-toggle" => "collapse", :href => "#sub-menu-1-collapse"} Item 1.3
              %ul#sub-menu-1-collapse.panel-collapse.collapse
                %li
                  %a{:href => "#"} Item 2.1
                %li
                  %a{:href => "#"} Item 2.2
                %li.panel
                  %a.accordion-toggle.collapsed{"data-parent" => "#sub-menu-2-collapse", "data-toggle" => "collapse", :href => "#sub-menu-2-collapse"} Item 2.3
                  %ul#sub-menu-2-collapse.panel-collapse.collapse
                    %li
                      %a{:href => "#"} Item 3.1
                    %li
                      %a{:href => "#"} Item 3.2
                    %li
                      %a{:href => "#"} Item 3.3
        %li.visible-xs
          %a{:href => "login.html"}
            %i.fa.fa-sign-out
            %span.name Sign Out
      #sidebar-settings.settings
        %button.btn-icons.btn.btn-inverse.btn-sm{"data-value" => "icons", :type => "button"} Icons
        %button.btn-auto.btn.btn-inverse.btn-sm{"data-value" => "auto", :type => "button"} Auto
    .wrap
      %header.page-header
        .navbar
          %ul.nav.navbar-nav.navbar-right.pull-right
            %li.visible-phone-landscape
              %a#search-toggle{:href => "#"}
                %i.fa.fa-search
            %li.dropdown
              %a#messages.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :title => "Messages"}
                %i.fa.fa-comments
              %ul#messages-menu.dropdown-menu.messages{:role => "menu"}
                %li{:role => "presentation"}
                  %a.message{:href => "#"}
                    %img{:alt => "", :src => "img/1.jpg"}/
                  .details
                    .sender Jane Hew
                    .text
                      Hey, John! How is it going? ...
                %li{:role => "presentation"}
                  %a.message{:href => "#"}
                    %img{:alt => "", :src => "img/2.jpg"}/
                  .details
                    .sender Alies Rumiancaŭ
                    .text
                      I'll definitely buy this template
                %li{:role => "presentation"}
                  %a.message{:href => "#"}
                    %img{:alt => "", :src => "img/3.jpg"}/
                  .details
                    .sender Michał Rumiancaŭ
                    .text
                      Is it really Lore ipsum? Lore ...
                %li{:role => "presentation"}
                  %a.text-align-center.see-all{:href => "#"}
                    See all messages
                    %i.fa.fa-arrow-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :title => "8 support tickets"}
                %i.fa.fa-group
                %span.count 8
              %ul#support-menu.dropdown-menu.support{:role => "menu"}
                %li{:role => "presentation"}
                  %a.support-ticket{:href => "#"}
                  .picture
                    %span.label.label-important
                      %i.fa.fa-bell-o
                  .details
                    Check out this awesome ticket
                %li{:role => "presentation"}
                  %a.support-ticket{:href => "#"}
                  .picture
                    %span.label.label-warning
                      %i.fa.fa-question-circle
                  .details
                    "What is the best way to get ...
                %li{:role => "presentation"}
                  %a.support-ticket{:href => "#"}
                  .picture
                    %span.label.label-success
                      %i.fa.fa-tag
                  .details
                    This is just a simple notification
                %li{:role => "presentation"}
                  %a.support-ticket{:href => "#"}
                  .picture
                    %span.label.label-info
                      %i.fa.fa-info-circle
                  .details
                    12 new orders has arrived today
                %li{:role => "presentation"}
                  %a.support-ticket{:href => "#"}
                  .picture
                    %span.label.label-important
                      %i.fa.fa-plus
                  .details
                    One more thing that just happened
                %li{:role => "presentation"}
                  %a.text-align-center.see-all{:href => "#"}
                    See all tickets
                    %i.fa.fa-arrow-right
            %li.divider
            %li.hidden-xs
              %a#settings{"data-placement" => "bottom", "data-toggle" => "popover", :href => "#", :title => "Settings"}
                %i.fa.fa-cog
            %li.hidden-xs.dropdown
              %a#account.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :title => "Account"}
                %i.fa.fa-user
              %ul#account-menu.dropdown-menu.account{:role => "menu"}
                %li.account-picture{:role => "presentation"}
                  %img{:alt => "", :src => "img/2.jpg"}/
                  Philip Daineka
                %li{:role => "presentation"}
                  %a.link{:href => "form_account.html"}
                    %i.fa.fa-user
                    Profile
                %li{:role => "presentation"}
                  %a.link{:href => "component_calendar.html"}
                    %i.fa.fa-calendar
                    Calendar
                %li{:role => "presentation"}
                  %a.link{:href => "#"}
                    %i.fa.fa-inbox
                    Inbox
            %li.visible-xs
              %a.btn-navbar{"data-target" => ".sidebar", "data-toggle" => "collapse", :href => "#", :title => ""}
                %i.fa.fa-bars
            %li.hidden-xs
              %a{:href => "login.html"}
                %i.fa.fa-sign-out
          %form#search-form.navbar-form.pull-right{:role => "search"}
            %input.search-query{:placeholder => "Search...", :type => "search"}/
      .content.container
        .row
          .col-md-12
            %h2.page-title
              Responsive Grid
              %small Fully responsive layout
        .row
          .col-md-6.col-md-offset-3
            %section.widget.tiny
              %header
                %h4
                  Col-md-8 widget
              .body
                %blockquote.blockquote-sm
                  Looks great with
                  %code .col-md-offset-2
        .row
          .col-md-10.col-md-offset-1
            %section.widget.tiny
              %header
                %h4
                  The same with 10
              .body
                %blockquote.blockquote-sm
                  Looks great with
                  %code .col-md-offset-1
        .row
          .col-md-5
            %section.widget.tiny-x2
              %header
                %h4
                  Col-md-5
              .body
          .col-md-4
            %section.widget.tiny
              %header
                %h4
                  Col-md-4
              .body
            %section.widget.tiny
              %header
                %h4
                  Col-md-4
              .body
          .col-md-3
            %section.widget.tiny
              %header
                %h4
                  Col-md-3
              .body
            %section.widget.tiny
              %header
                %h4
                  Col-md-3
              .body
      .loader-wrap.hiding.hide
        %i.fa.fa-spinner.fa-spin
    / jquery and friends
    %script{:src => "lib/jquery/jquery-2.0.3.min.js"}
    %script{:src => "lib/jquery-pjax/jquery.pjax.js"}
    / jquery plugins
    %script{:src => "lib/jquery-maskedinput/jquery.maskedinput.js"}
    %script{:src => "lib/parsley/parsley.js"}
    %script{:src => "lib/icheck.js/jquery.icheck.js"}
    %script{:src => "lib/select2.js"}
    / backbone and friends
    %script{:src => "lib/backbone/underscore-min.js"}
    / bootstrap default plugins
    %script{:src => "lib/bootstrap/transition.js"}
    %script{:src => "lib/bootstrap/collapse.js"}
    %script{:src => "lib/bootstrap/alert.js"}
    %script{:src => "lib/bootstrap/tooltip.js"}
    %script{:src => "lib/bootstrap/popover.js"}
    %script{:src => "lib/bootstrap/button.js"}
    %script{:src => "lib/bootstrap/dropdown.js"}
    %script{:src => "lib/bootstrap/modal.js"}
    %script{:src => "lib/bootstrap/tab.js"}
    / basic application js
    %script{:src => "js/app.js"}
    %script{:src => "js/settings.js"}
    %script#settings-template{:type => "text/template"}
      <div class="setting clearfix">
      <div>Background</div>
      <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% dark = background == 'dark'; light = background == 'light';%>
      <button type="button" data-value="dark" class="btn btn-sm btn-inverse <%= dark? 'active' : '' %>">Dark</button>
      <button type="button" data-value="light" class="btn btn-sm btn-inverse <%= light? 'active' : '' %>">Light</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>Sidebar on the</div>
      <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% onRight = sidebar == 'right'%>
      <button type="button" data-value="left" class="btn btn-sm btn-inverse <%= onRight? '' : 'active' %>">Left</button>
      <button type="button" data-value="right" class="btn btn-sm btn-inverse <%= onRight? 'active' : '' %>">Right</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>Sidebar</div>
      <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
      <% display = displaySidebar%>
      <button type="button" data-value="true" class="btn btn-sm btn-inverse <%= display? 'active' : '' %>">Show</button>
      <button type="button" data-value="false" class="btn btn-sm btn-inverse <%= display? '' : 'active' %>">Hide</button>
      </div>
      </div>
      <div class="setting clearfix">
      <div>Transparent</div>
      <div>
      <a href="../" class="btn btn-sm btn-inverse">&nbsp; Switch &nbsp;   <i class="fa fa-angle-right"></i></a>
      </div>
      </div>
    %script#sidebar-settings-template{:type => "text/template"}
      <% auto = sidebarState == 'auto'%>
      <% if (auto) {%>
      <button type="button"
      data-value="icons"
      class="btn-icons btn btn-inverse btn-sm">Icons</button>
      <button type="button"
      data-value="auto"
      class="btn-auto btn btn-inverse btn-sm">Auto</button>
      <%} else {%>
      <button type="button"
      data-value="auto"
      class="btn btn-inverse btn-sm">Auto</button>
      <% } %>
