!!!
%html
  %head
    %title Light Blue - Admin Template
    %link{:href => "css/application.min.css", :rel => "stylesheet"}/
    %link{:href => "img/favicon.png", :rel => "shortcut icon"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:charset => "utf-8"}/
    %script{:src => "lib/jquery/jquery-2.0.3.min.js"}
    %script{:src => "lib/jquery-pjax/jquery.pjax.js"}
    / <script src="lib/zepto/zepto.min.js"> </script>
    %script{:src => "lib/parsley/parsley.js"}
    %script{:src => "lib/backbone/underscore-min.js"}
    %script{:src => "js/settings.js"}
  %body.background-dark
    .single-widget-container.error-page
      %section.widget.transparent.widget-404
        .body
          .row
            .col-md-5
              %h1.text-align-center 404
            .col-md-7
              .description
                %h3 Opps, it seems that this page does not exist here.
                %p If you are sure it should, search for it.
      %section.widget.widget-404-search
        .body.no-margin
          %form.form-inline.form-search.no-margin.text-align-center{:action => "special_search.html", :method => "get", :role => "form"}
            .input-group
              %input.form-control{:placeholder => "Pages: Posts, Tags", :type => "search"}/
              %span.input-group-btn
                %button.btn.btn-primary{:type => "submit"}
                  \&nbsp; Search &nbsp;
