!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    / Description, Keywords and Author
    %meta{:content => "Your description", :name => "description"}/
    %meta{:content => "Your,Keywords", :name => "keywords"}/
    %meta{:content => "Ian", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Magnific Popup
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    / Owl carousel
    %link{:href => "css/owl.carousel.css", :rel => "stylesheet"}/
    / Base style
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
  %body
    .outer
      .right-rollover-outer
        .round-button-outer
          %a{:href => "#"}
            .round-button.circle-5
        .right-rollover.box-shadow-1.rounded-3
          %h5
            Индекс несовершенств
          %button.colored-stripe.color-N1.rounded-1.selected{:rel => "1"}
            Низкие потолки и нечем дышать в офисах
          %button.colored-stripe.color-N2.rounded-1{:rel => "2"}
            потолки и нечем дышать в офисах
          %button.colored-stripe.color-N3.rounded-1{:rel => "3"}
            Низкие потолки и нечем дышать в офисах при большом скоплении посетителей
          %button.colored-stripe.color-N4.rounded-1{:rel => "4"}
            нечем дышать в офисах
          %button.colored-stripe.color-N5.rounded-1{:rel => "5"}
            Низкие потолки и нечем дышать
          %button.colored-stripe.color-N6.rounded-1{:rel => "6"}
            нечем дышать в офисах
          %button.colored-stripe.color-N7.rounded-1{:rel => "7"}
            Низкие потолки и нечем дышать в офисах
          %button.colored-stripe.color-N8.rounded-1{:rel => "8"}
            Низкие потолки и нечем дышать в офисах
          %button.colored-stripe.color-N9.rounded-1{:rel => "9"}
            Низкие потолки и нечем дышать
          %button.colored-stripe.color-N10.rounded-1{:rel => "10"}
            Низкие потолки и нечем дышать
          %button.colored-stripe.color-N11.rounded-1{:rel => "11"}
            Низкие потолки
          %button.colored-stripe.color-N12.rounded-1{:rel => "12"}
            Низкие потолки и нечем дышать в офисах
          %button.colored-stripe.color-N13.rounded-1{:rel => "13"}
            Низкие потолки и нечем дышать
          %button.colored-stripe.color-N14.rounded-1{:rel => "14"}
            Низкие потолки и нечем
      / Top bar starts
      %header.top-bar
        .container
          / Logo starts
          .box-shadow-outer
            .tb-logo.box-shadow-5.rounded-1.pull-left
              %a{:href => "#"}
                %img{:src => "img/logo-red.jpg"}/
          / Logo ends
          .clearfix.visible-xs
          / Nav starts
          %nav.header-buttons.pull-left
            %a.btn.btn-white.rounded-2{:href => "#"} Процедура
            .clearfix.visible-xs
            %a.btn.btn-grey.rounded-2{:href => "#"} Кабинет
            .clearfix.visible-xs
            %a.btn.btn-grey.rounded-2{:href => "#"} Новости
            .clearfix.visible-xs
            %a.btn.btn-grey.rounded-2{:href => "#"} Рефлексия
          / Nav ends
          .pull-right.header-right
            / Langauge starts
            .tb-language.dropdown.pull-right
              %a{"data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
                English
                %i.fa.fa-angle-down.color.mass-dark-blue
              / Dropdown menu with languages
              %ul.dropdown-menu.dropdown-mini{:role => "menu"}
                %li
                  %a{:href => "#"} Hindi
                %li
                  %a{:href => "#"} Tamil
                %li
                  %a{:href => "#"} Kanada
            / Language ends
            %img.pull-right.operator-pic{:src => "img/call.png"}/
            .clearfix
            / User starts
            .tb-language.dropdown.pull-right.user-block
              %span.rating-block.rounded-1 500
              %a{"data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
                Горлицкий Вячеслав
                %i.fa.fa-angle-down.color.mass-dark-blue
              / Dropdown menu with languages
              %ul.dropdown-menu.dropdown-mini{:role => "menu"}
                %li
                  %a{:href => "#"} Вариант
            / User ends
          .clearfix
      / Top Bar ends
      / Main Block starts
      .main-block
        .container
          .clearfix
          / Stages block starts
          .stages
            %a.stage.stage-number-block.rounded-1{:href => "#"}
              %span.bigger> 1
              стадия
            .clearfix.visible-md.visible-sm.visible-xs
            %a.stage.stage-number-block.rounded-1{:href => "#"}
              %span.bigger> 2
              стадия
            .clearfix.visible-sm.visible-xs
            %a.stage.stage-number-block.rounded-1{:href => "#"}
              %span.bigger> 3
              стадия
            .clearfix.visible-sm.visible-xs
            %a.stage.current-stage{:href => "#"}
              .stage-number-block.rounded-1
                %span.bigger> 4
                стадия
              .current-stage-text.pull-left
                .top-text
                  Максимизация работы в аптеках инвара (с учетом новой стратегии инвара)
                .bottom-text
                  %h4 Разработка проектов
            .clearfix.visible-sm.visible-xs
            %a.stage.stage-number-block.next-steps-stage.rounded-1{:href => "#"}
              %span.bigger> 5
              стадия
          .clearfix
          / projects' block starts
          .project
            %h4 Проекты
            %button.add-project.btn.btn-mass-red Добавить проект
            .container
              .row.projects
                .col-lg-6.box-shadow-outer
                  .project-single.rounded-3
                    .row.post-header
                      .col-xs-8
                        %span.post-header-text.color.mass-red Система аналитики
                      .col-xs-4.post-header-date
                        %span
                          21.12.2014
                    .post-center-block
                      .post-poster
                        %img{:src => "img/ava1.jpg"}/
                        .clearfix
                        %span.poster-name Лиза Школьник
                      %a.post-text.open-popup-link{:href => "#popup-project"}
                        .text-arrow.pull-right
                        %span
                          Материалы-шпаргалки*, которые будут находиться под рукой у ПС на кассе или висеть
                          рядом на стене. Удобные в использовании, максимально компактные, лаконичные,
                          позволяющие ПС быстро по симптомам осуществить рекомендацию покупателю...
                    .project-bottom
                      %span.popup-comments
                        (+5)
                        %i.fa.fa-comment-o
                      %span.popup-likes
                        (+9)
                        %i.fa.fa-thumbs-o-up
                      %span.popup-dislikes
                        (+1)
                        %i.fa.fa-thumbs-o-down
                .col-lg-6.box-shadow-outer
                  .project-single.rounded-3
                    .row.post-header
                      .col-xs-8
                        %span.post-header-text.color.mass-red Модернизация систем связи
                      .col-xs-4.post-header-date
                        %span
                          21.12.2014
                    .post-center-block
                      .post-poster
                        %img{:src => "img/ava1.jpg"}/
                        .clearfix
                        %span.poster-name Лиза Школьник
                      %a.post-text{:href => "#"}
                        .text-arrow.pull-right
                        %span
                          Материалы-шпаргалки*, которые будут находиться под рукой у ПС на кассе или висеть
                          рядом на стене. Удобные в использовании, максимально компактные, лаконичные,
                          позволяющие ПС быстро по симптомам осуществить рекомендацию покупателю...
                    .project-bottom
                      %span.popup-comments
                        (+5)
                        %i.fa.fa-comment-o
                      %span.popup-likes
                        (+9)
                        %i.fa.fa-thumbs-o-up
                      %span.popup-dislikes
                        (+1)
                        %i.fa.fa-thumbs-o-down
              .row.projects
                .col-lg-6.box-shadow-outer
                  .project-single.rounded-3
                    .row.post-header
                      .col-xs-8
                        %span.post-header-text.color.mass-red Модернизация систем связи
                      .col-xs-4.post-header-date
                        %span
                          21.12.2014
                    .post-center-block
                      .post-poster
                        %img{:src => "img/ava1.jpg"}/
                        .clearfix
                        %span.poster-name Лиза Школьник
                      %a.post-text{:href => "#"}
                        .text-arrow.pull-right
                        %span
                          Материалы-шпаргалки*, которые будут находиться под рукой у ПС на кассе или висеть
                          рядом на стене. Удобные в использовании, максимально компактные, лаконичные,
                          позволяющие ПС быстро по симптомам осуществить рекомендацию покупателю...
                    .project-bottom
                      %span.popup-comments
                        (+5)
                        %i.fa.fa-comment-o
                      %span.popup-likes
                        (+9)
                        %i.fa.fa-thumbs-o-up
                      %span.popup-dislikes
                        (+1)
                        %i.fa.fa-thumbs-o-down
                .col-lg-6.box-shadow-outer
                  .project-single.rounded-3
                    .row.post-header
                      .col-xs-8
                        %span.post-header-text.color.mass-red Система аналитики
                      .col-xs-4.post-header-date
                        %span
                          21.12.2014
                    .post-center-block
                      .post-poster
                        %img{:src => "img/ava1.jpg"}/
                        .clearfix
                        %span.poster-name Лиза Школьник
                      %a.post-text{:href => "#"}
                        .text-arrow.pull-right
                        %span
                          Материалы-шпаргалки*, которые будут находиться под рукой у ПС на кассе или висеть
                          рядом на стене. Удобные в использовании, максимально компактные, лаконичные,
                          позволяющие ПС быстро по симптомам осуществить рекомендацию покупателю...
                    .project-bottom
                      %span.popup-comments
                        (+5)
                        %i.fa.fa-comment-o
                      %span.popup-likes
                        (+9)
                        %i.fa.fa-thumbs-o-up
                      %span.popup-dislikes
                        (+1)
                        %i.fa.fa-thumbs-o-down
          / projects' block ends
      / Main Block ends
      #popup-project.popup-window.info-popup.mfp-hide
        .popup.popup-top-rounded
          .popup-post-info
            .popup-header.popup-top-rounded
              %h2.color.mass-red "Часть успеха" дебетовые карты
            .clearfix
            .row.info-block
              .col-lg-4.popup-post-block
                %img{:src => "img/ava1.jpg"}/
                %span Лиза Школьник
                .info-stripe
                  %span.popup-date 17.12.2014
                  %span.popup-comments
                    +5
                    %i.fa.fa-comment-o
                  %span.popup-likes
                    +9
                    %i.fa.fa-thumbs-o-up
                  %span.popup-dislikes
                    +1
                    %i.fa.fa-thumbs-o-down
              .col-lg-8.popup-right-tabs
                .nav-tabs-one
                  / Nav tabs
                  %ul.nav.nav-tabs
                    %li.active
                      %a{"data-toggle" => "tab", :href => "#tab-1"} Описание проекта
                    %li
                      %a{"data-toggle" => "tab", :href => "#tab-2"} Нововведения и план мероприятий
                    %li
                      %a{"data-toggle" => "tab", :href => "#tab-3"} Комментарии
                / Tab content
          .clearfix
          .tab-content
            #tab-1.tab-pane.fade.in.active.popup-bottom-rounded
              .row
                .col-xs-7.col-sm-7.col-md-7.col-lg-7.description-left-col
                  .description-block
                    %span.description-title Коротко о проекте
                    %p
                      Цель - Имея такую карту, сотрудники будут мотивированы продавать продукцию Инвар, фиксируя на ней свой процент от продажи, отразится на имидже, компания Инвар будет на слуху, так как это будет исключительное нововведение для первостольников. При всех равных, первостольники будут предлагать продукцию за которую можно получить неменуемый ))) материальный бонус. Этапность. 1.Подготовка проекта. Выпуск карт адаптированных фиксировать 3-5% от суммы продажи наименование проданного препарата, блокирование возможности  фиксировать иные (кроме Инвар) продажи. Формирование договора участия.
                    %p
                      1. Стартуем в одном городе. Участвует 10 аптек категории А, лояльность1. Анализ продаж препаратов Инвар за предварительный период в сумме на 1 сотрудника аптеки, в пересчете на у.е. анализ. периода - месяц. Предлагается участие всем желающим ПС. 3. Формируется база участников подписавших договор. 4. Тестовый (пробный) период - 1 месяц, по итогу оценивается навык ПС фиксировать на картах продажи, проблемы, сложности, возможности, работа карт. 5. Запуск проекта. 3 месяца.
                  .description-block
                    %span.description-title Эссе по проекту. Пояснения и обоснования
                    %p
                      Цель- Имея такую карту, сотрудники будут мотивированы продавать продукцию Инвар, фиксируя на ней свой процент от продажи, отразится на имидже, компания Инвар будет на слуху, так как это будет исключительное нововведение для первостольников. При всех равных, первостольники будут предлагать продукцию за которую можно получить неменуемый ))) материальный бонус. Этапность. 1.Подготовка проекта. Выпуск карт адаптированных фиксировать 3-5% от суммы продажи наименование проданного препарата, блокирование возможности  фиксировать иные (кроме Инвар) продажи. Формирование договора участия.
                .col-xs-5.col-sm-5.col-md-5.col-lg-5.description-right-col
                  .description-block
                    %span.description-title Этапы проекта
                    .stages-blocks
                      .description-stage
                        %span.desc-stage-date 12 янв 2015 - 22 янв 2015
                        %span.desc-stage-name Подготовка и подбор участников
                      .description-stage
                        %span.desc-stage-date 12 янв 2015 - 22 янв 2015
                        %span.desc-stage-name Подготовка и подбор участников
                      .description-stage
                        %span.desc-stage-date 12 янв 2015 - 22 янв 2015
                        %span.desc-stage-name Подготовка и подбор участников
                      .description-stage
                        %span.desc-stage-date 12 янв 2015 - 22 янв 2015
                        %span.desc-stage-name Подготовка и подбор участников
            #tab-2.tab-pane.fade.popup-bottom-rounded
              .container.timeline-cont
                .vertical-timeline
                  .row
                    .col-md-12.col-sm-12
                      / time line col
                      .v-timeline-col
                        .entry-top-badge.timel-back-b1f0c1
                          %span.top-badge-entry-stage 1 этап
                          %span.top-badge-entry-date 12 янв 2015 - 12 янв 2015
                          %span.top-badge-entry-theme Подготовка и подбор участников
                        .row
                          .col-md-6.col-sm-6.left-col-timeline.timel-line-b1f0c1
                            / time line content entry
                            .entry
                              / Time line entry head
                              .entry-head.timel-back-8cf0ba
                                Формирование списка активный ПС
                              / Time line entry content
                              .entry-content
                                / Heading
                                %p
                                  Цели, задачи, потребности аптеки - одинаковые для всех сетей, не
                                  зависимо где находится сеть и как она называется, а люди, работающие
                                  у первого стола - разные. Есть список "золотого" фонда аптек - надо
                                  подбирать ключи к этому запаснику. Может сгруппировать первостоль-
                                  ников по потребностям и для данных групп разрабатывать визиты?
                                  Цели, задачи, потребности аптеки - одинаковые для всех сетей, не
                                  зависимо где находится сеть и как она называется, а люди, работающие
                                  у первого стола - разные. Есть список "золотого" фонда аптек - надо
                                  подбирать ключи к этому запаснику. Может сгруппировать первостоль-
                                  ников по потребностям и для данных групп разрабатывать визиты?
                                  Цели, задачи, потребности аптеки - одинаковые для всех сетей, не
                                  зависимо где находится сеть и как она называется, а люди, работающие
                                  у первого стола - разные. Есть список "золотого" фонда аптек - надо
                                  подбирать ключи к этому запаснику. Может сгруппировать первостоль-
                                  ников по потребностям и для данных групп разрабатывать визиты?
                                  Цели, задачи, потребности аптеки - одинаковые для всех сетей, не
                                  зависимо где находится сеть и как она называется, а люди, работающие
                                  у первого стола - разные. Есть список "золотого" фонда аптек.
                                .entry-descript-tags
                                  %span.timel-back-8cf0ba Угощение
                                  %span.timel-back-8cf0ba Лекторы
                                  %span.timel-back-8cf0ba Просторное помещение с оборудованием
                          .col-md-6.col-sm-6.right-col-timeline.timel-line-b1f0c1
                            .entry-dates-block
                              .badge-wrap
                                .badge-arrow
                                  %span.entry-icon.timel-back-b1f0c1
                                  %span.badge-date 12 янв 2015
                                  %span.badge-name Встреча в аптеках инвара
                                .badge-tags
                                  .badge-tag.timel-back-8cf0ba
                                    Угощение
                                  .badge-tag.timel-back-8cf0ba
                                    Лекторы
                                  .badge-tag.timel-back-8cf0ba
                                    Просторное помещение с оборудованием
                              .badge-wrap
                                .badge-arrow
                                  %span.entry-icon.timel-back-b1f0c1
                                  %span.badge-date 12 янв 2015
                                  %span.badge-name Встреча в аптеках инвара
                                .badge-tags
                                  .badge-tag.timel-back-8cf0ba
                                    Лекторы
                                  .badge-tag.timel-back-8cf0ba
                                    Просторное помещение с оборудованием
                              .badge-wrap
                                .badge-arrow
                                  %span.entry-icon.timel-back-b1f0c1
                                  %span.badge-date 12 янв 2015
                                  %span.badge-name Встреча в аптеках инвара
                                .badge-tags
                                  .badge-tag.timel-back-8cf0ba
                                    Лекторы
                            .entry-dates-block
                              .badge-wrap
                                .badge-arrow
                                  %span.entry-icon.timel-back-b1f0c1
                                  %span.badge-date 12 янв 2015
                                  %span.badge-name Встреча в аптеках инвара
                                .badge-tags
                                  .badge-tag.timel-back-b3fcb5
                                    Большое количество сидячих мест
                                  .badge-tag.timel-back-b3fcb5
                                    Просторное помещение
                              .badge-wrap
                                .badge-arrow
                                  %span.entry-icon.timel-back-b1f0c1
                                  %span.badge-date 12 янв 2015
                                  %span.badge-name Встреча в аптеках инвара
                                .badge-tags
                                  .badge-tag.timel-back-b3fcb5
                                    Большое количество сидячих мест
                                  .badge-tag.timel-back-b3fcb5
                                    Просторное помещение
                                  .badge-tag.timel-back-b3fcb5
                                    Просторное помещение
                        .entry-top-badge.timel-back-a0c7fe
                          %span.top-badge-entry-stage 1 этап
                          %span.top-badge-entry-date 12 янв 2015 - 12 янв 2015
                          %span.top-badge-entry-theme Подготовка и подбор участников
                        .row
                          .col-md-6.col-sm-6.left-col-timeline.timel-line-a0c7fe
                            / time line content entry
                            .entry
                              / Time line entry head
                              .entry-head.timel-back-bce1fe
                                Формирование списка активный ПС
                              / Time line entry content
                              .entry-content
                                / Heading
                                %p
                                  Цели, задачи, потребности аптеки - одинаковые для всех сетей, не
                                  зависимо где находится сеть и как она называется, а люди, работающие
                                  у первого стола - разные. Есть список "золотого" фонда аптек - надо
                                  подбирать ключи к этому запаснику.
                                .entry-descript-tags
                                  %span.timel-back-bce1fe Просторное помещение
                                  %span.timel-back-bce1fe Просторное помещение
                                  %span.timel-back-bce1fe Просторное помещение
                                  %span.timel-back-bce1fe Большое количество сидячих мест
                                  %span.timel-back-bce1fe Большое количество сидячих мест
                          .col-md-6.col-sm-6.right-col-timeline.timel-line-a0c7fe
                            .entry-dates-block
                              .badge-wrap
                                .badge-arrow
                                  %span.entry-icon.timel-back-a0c7fe
                                  %span.badge-date 12 янв 2015
                                  %span.badge-name Встреча в аптеках инвара
                                .badge-tags
                                  .badge-tag.timel-back-bce1fe
                                    Большое количество сидячих мест
                                  .badge-tag.timel-back-bce1fe
                                    Просторное помещение
                              .badge-wrap
                                .badge-arrow
                                  %span.entry-icon.timel-back-a0c7fe
                                  %span.badge-date 12 янв 2015
                                  %span.badge-name Встреча в аптеках инвара
                                .badge-tags
                                  .badge-tag.timel-back-bce1fe
                                    Просторное помещение
                                  .badge-tag.timel-back-bce1fe
                                    Большое количество сидячих мест
                                  .badge-tag.timel-back-bce1fe
                                    Большое количество сидячих мест
                                  .badge-tag.timel-back-bce1fe
                                    Большое количество сидячих мест
                              .badge-wrap
                                .badge-arrow
                                  %span.entry-icon.timel-back-a0c7fe
                                  %span.badge-date 12 янв 2015
                                  %span.badge-name Встреча в аптеках инвара
                                .badge-tags
                                  .badge-tag.timel-back-bce1fe
                                    Просторное помещение
                                  .badge-tag.timel-back-bce1fe
                                    Большое количество сидячих мест
                                  .badge-tag.timel-back-bce1fe
                                    Большое количество сидячих мест
                                  .badge-tag.timel-back-bce1fe
                                    Большое количество сидячих мест
            #tab-3.tab-pane.fade.popup-bottom-rounded
              .comments-cont
                .proj-comment
                  %img.proj-comment-ava{:src => "img/no-ava.png"}/
                  .proj-comment-name Лиза Школьник
                  .proj-comment-text текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                .proj-comment
                  %img.proj-comment-ava{:src => "img/no-ava.png"}/
                  .proj-comment-name Лиза Школьник
                  .proj-comment-text текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                %form.add-comment
                  %img.proj-comment-ava{:src => "img/no-ava.png"}/
                  %input{:name => "comment", :placeholder => "Оставьте комментарий", :type => "text"}/
    / Outer Ends
    / Scroll to top
    %span.totop
      %a{:href => "#"}
        %i.fa.fa-angle-up.bg-color
    / Javascript files
    / jQuery
    %script{:src => "js/jquery.js"}
    / Bootstrap JS
    %script{:src => "js/bootstrap.min.js"}
    / Placeholders JS
    %script{:src => "js/placeholders.js"}
    / Magnific Popup
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / Owl carousel
    %script{:src => "js/owl.carousel.min.js"}
    / Respond JS for IE8
    %script{:src => "js/respond.min.js"}
    / HTML5 Support for IE
    %script{:src => "js/html5shiv.js"}
    / Main JS
    %script{:src => "js/main-unowled.js"}
    / Javascript for this page
    :javascript

    / Custom JS. Type your JS code in custom.js file
    %script{:src => "js/custom.js"}
