!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title
    / Description, Keywords and Author
    %meta{:content => "Your description", :name => "description"}/
    %meta{:content => "Your,Keywords", :name => "keywords"}/
    %meta{:content => "Ian", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Magnific Popup
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    / Owl carousel
    %link{:href => "css/owl.carousel.css", :rel => "stylesheet"}/
    / Base style
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/style-4.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/custom-ts.css", :rel => "stylesheet"}/
  %body
    .outer
      / Top bar starts
      %header.top-bar
        .container
          / Logo starts
          .box-shadow-outer
            .tb-logo.box-shadow-5.rounded-1.pull-left
              %a{:href => "#"}
                %img{:src => "img/logo-red.jpg"}/
          / Logo ends
          .clearfix.visible-xs
          / Nav starts
          %nav.header-buttons.pull-left
            %a.btn.btn-white.rounded-2{:href => "#"} Процедура
            .clearfix.visible-xs
            %a.btn.btn-grey.rounded-2{:href => "#"} Кабинет
            .clearfix.visible-xs
            %a.btn.btn-grey.rounded-2{:href => "#"} Новости
            .clearfix.visible-xs
            %a.btn.btn-grey.rounded-2{:href => "#"} Рефлексия
          / Nav ends
          .pull-right.header-right
            / Langauge starts
            .tb-language.dropdown.pull-right
              %a{"data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
                English
                %i.fa.fa-angle-down.color.mass-dark-blue
              / Dropdown menu with languages
              %ul.dropdown-menu.dropdown-mini{:role => "menu"}
                %li
                  %a{:href => "#"} Hindi
                %li
                  %a{:href => "#"} Tamil
                %li
                  %a{:href => "#"} Kanada
            / Language ends
            %img.pull-right.operator-pic{:src => "img/call.png"}/
            .clearfix
            / User starts
            .tb-language.dropdown.pull-right.user-block
              %span.rating-block.rounded-1 500
              %a{"data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
                Горлицкий Вячеслав
                %i.fa.fa-angle-down.color.mass-dark-blue
              / Dropdown menu with languages
              %ul.dropdown-menu.dropdown-mini{:role => "menu"}
                %li
                  %a{:href => "#"} Вариант
            -#/ User ends
          .clearfix
      / Top Bar ends
      / Main Block starts
      .main-block
        .container
          .clearfix
          .popups-in-one-place.row
            .col-xs-4
              %h2 Голосования
              .popups-link-container
                %a.open-popup-link{:href => "#popup-vote"} Голосование (несовершенства)
              .popups-link-container
                %a.open-popup-link{:href => "#popup-vote-innov"} Голосование (нововведения)
            .col-xs-4
              %h2 Вторая стадия
              .popups-link-container
                %a.open-popup-link{:href => "#popup-imperf"} Несовершенство
            .col-xs-4
              %h2 Третья стадия
              .popups-link-container
                %a.open-popup-link{:href => "#popup-innov"} Нововведение подробно
          .popups-in-one-place.row
            .col-xs-4
              %h2 Остальное
              .popups-link-container
                %a.open-popup-link{:href => "#popup-auth"} Авторизация
              .popups-link-container
                %a.open-popup-link{:href => "#popup-greetings-text"} Поздравление с текстом
              .popups-link-container
                %a.open-popup-link{:href => "#popup-greetings-form"} Поздравление с формой
              .popups-link-container
                %a.open-popup-link{:href => "#popup-next-stage-explanation"} Объяснение следующей стадии
      / Main Block ends
      / POPUPS
      / common
      #popup-auth.popup-window.auth-popup.mfp-hide
        .popup.popup-bottom-rounded.popup-top-rounded
          .popup-logo
          %form#auth-form1.form-horizontal.auth-form{:role => "form"}
            %h4 Зайти на сайт
            %input{:name => "email", :placeholder => "Email or Username", :type => "email"}/
            %input{:name => "psswrd", :placeholder => "Пароль", :type => "password"}/
            %button.btn.btn-lg.btn-mass-red{:type => "submit"} Войти
          .auth-bottom-links
            %a.pull-left{:href => "#"} Забыли пароль?
            %span.auth-divider |
            %a.pull-right{:href => "#"} Зарегистрироваться
      #popup-vote.popup-window.vote-popup.mfp-hide
        .popup
          .popup-header-dnd
            .popup-header.popup-top-rounded
              %h2.color.mass-red Голосование
            .drag-n-drop-zone
              .dnd-hand
          .popup-voting.popup-bottom-rounded
            %p
              Выберите несовершенства, которые вам понравились, и перетащите их в&nbsp;изображение руки или нажмите на кнопку "проголосовать"
            .popup-owl-navigation
              #owl-arrow-left-1.owl-arrow.pull-left
              #owl-arrow-right-1.owl-arrow.pull-right
            #owl-vote-1.owl-carousel.owl-vote
              .row
                .col-xs-6.owl-column
                  .imperfection.imperf-pale-pink.lined-block.drag-block.drag1
                    %table
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                          .aspects-indexes
                            .circle-tag.back-color.orange нд
                            .circle-tag.back-color.light-blue нс
                            .circle-tag.back-color.green мл
                            .circle-tag.back-color.purple нж
                            .circle-tag.back-color.yellow од
                            .circle-tag.back-color.blue му
                      %tr
                        / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                        %td.imperf-left-column.what-cell
                          Что
                        %td.imperf-right-column
                          Нечем дышать
                      %tr
                        %td.imperf-left-column
                          Где
                        %td.imperf-right-column
                          При большом числе людей в комнате
                      %tr
                        %td.imperf-left-column
                          Когда
                        %td.imperf-right-column
                          Во время совещаний
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                  .imperfection.imperf-pale-blue.lined-block.drag-block.drag1
                    %table
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                          .aspects-indexes
                            .circle-tag.back-color.orange нд
                            .circle-tag.back-color.purple нж
                            .circle-tag.back-color.yellow од
                            .circle-tag.back-color.blue му
                      %tr
                        / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                        %td.imperf-left-column.what-cell
                          Что
                        %td.imperf-right-column
                          Нечем дышать и слишком низкие потолки
                      %tr
                        %td.imperf-left-column
                          Где
                        %td.imperf-right-column
                          При большом числе людей в комнате
                      %tr
                        %td.imperf-left-column
                          Когда
                        %td.imperf-right-column
                          Во время совещаний
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                  .imperfection.imperf-pale-blue.lined-block.drag-block.drag1
                    %table
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                          .aspects-indexes
                            .circle-tag.back-color.orange нд
                            .circle-tag.back-color.purple нж
                            .circle-tag.back-color.yellow од
                            .circle-tag.back-color.blue му
                      %tr
                        / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                        %td.imperf-left-column.what-cell
                          Что
                        %td.imperf-right-column
                          Нечем дышать и слишком низкие потолки
                      %tr
                        %td.imperf-left-column
                          Где
                        %td.imperf-right-column
                          При большом числе людей в комнате
                      %tr
                        %td.imperf-left-column
                          Когда
                        %td.imperf-right-column
                          Во время совещаний
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                .col-xs-6.owl-column
                  .imperfection.imperf-pale-blue.lined-block.drag-block.drag1
                    %table
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                          .aspects-indexes
                            .circle-tag.back-color.orange нд
                            .circle-tag.back-color.purple нж
                            .circle-tag.back-color.yellow од
                            .circle-tag.back-color.blue му
                      %tr
                        / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                        %td.imperf-left-column.what-cell
                          Что
                        %td.imperf-right-column
                          Нечем дышать и слишком низкие потолки
                      %tr
                        %td.imperf-left-column
                          Где
                        %td.imperf-right-column
                          При большом числе людей в комнате
                      %tr
                        %td.imperf-left-column
                          Когда
                        %td.imperf-right-column
                          Во время совещаний
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                  .imperfection.imperf-pale-pink.lined-block.drag-block.drag1
                    %table
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                          .aspects-indexes
                            .circle-tag.back-color.orange нд
                            .circle-tag.back-color.light-blue нс
                            .circle-tag.back-color.green мл
                            .circle-tag.back-color.purple нж
                            .circle-tag.back-color.yellow од
                            .circle-tag.back-color.blue му
                      %tr
                        / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                        %td.imperf-left-column.what-cell
                          Что
                        %td.imperf-right-column
                          Нечем дышать
                      %tr
                        %td.imperf-left-column
                          Где
                        %td.imperf-right-column
                          При большом числе людей в комнате
                      %tr
                        %td.imperf-left-column
                          Когда
                        %td.imperf-right-column
                          Во время совещаний
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                  .imperfection.imperf-pale-pink.lined-block.drag-block.drag1
                    %table
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                          .aspects-indexes
                            .circle-tag.back-color.orange нд
                            .circle-tag.back-color.light-blue нс
                            .circle-tag.back-color.green мл
                            .circle-tag.back-color.purple нж
                            .circle-tag.back-color.yellow од
                            .circle-tag.back-color.blue му
                      %tr
                        / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                        %td.imperf-left-column.what-cell
                          Что
                        %td.imperf-right-column
                          Нечем дышать
                      %tr
                        %td.imperf-left-column
                          Где
                        %td.imperf-right-column
                          При большом числе людей в комнате
                      %tr
                        %td.imperf-left-column
                          Когда
                        %td.imperf-right-column
                          Во время совещаний
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
              .row
                .col-xs-6.owl-column
                  .imperfection.imperf-pale-pink.lined-block.drag-block.drag1
                    %table
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                          .aspects-indexes
                            .circle-tag.back-color.orange нд
                            .circle-tag.back-color.light-blue нс
                            .circle-tag.back-color.green мл
                            .circle-tag.back-color.purple нж
                            .circle-tag.back-color.yellow од
                            .circle-tag.back-color.blue му
                      %tr
                        / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                        %td.imperf-left-column.what-cell
                          Что
                        %td.imperf-right-column
                          Нечем дышать
                      %tr
                        %td.imperf-left-column
                          Где
                        %td.imperf-right-column
                          При большом числе людей в комнате
                      %tr
                        %td.imperf-left-column
                          Когда
                        %td.imperf-right-column
                          Во время совещаний
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                  .imperfection.imperf-pale-blue.lined-block.drag-block.drag1
                    %table
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                          .aspects-indexes
                            .circle-tag.back-color.orange нд
                            .circle-tag.back-color.purple нж
                            .circle-tag.back-color.yellow од
                            .circle-tag.back-color.blue му
                      %tr
                        / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                        %td.imperf-left-column.what-cell
                          Что
                        %td.imperf-right-column
                          Нечем дышать и слишком низкие потолки
                      %tr
                        %td.imperf-left-column
                          Где
                        %td.imperf-right-column
                          При большом числе людей в комнате
                      %tr
                        %td.imperf-left-column
                          Когда
                        %td.imperf-right-column
                          Во время совещаний
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                  .imperfection.imperf-pale-blue.lined-block.drag-block.drag1
                    %table
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                          .aspects-indexes
                            .circle-tag.back-color.orange нд
                            .circle-tag.back-color.purple нж
                            .circle-tag.back-color.yellow од
                            .circle-tag.back-color.blue му
                      %tr
                        / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                        %td.imperf-left-column.what-cell
                          Что
                        %td.imperf-right-column
                          Нечем дышать и слишком низкие потолки
                      %tr
                        %td.imperf-left-column
                          Где
                        %td.imperf-right-column
                          При большом числе людей в комнате
                      %tr
                        %td.imperf-left-column
                          Когда
                        %td.imperf-right-column
                          Во время совещаний
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                  .imperfection.imperf-pale-blue.lined-block.drag-block.drag1
                    %table
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                          .aspects-indexes
                            .circle-tag.back-color.orange нд
                            .circle-tag.back-color.purple нж
                            .circle-tag.back-color.yellow од
                            .circle-tag.back-color.blue му
                      %tr
                        / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                        %td.imperf-left-column.what-cell
                          Что
                        %td.imperf-right-column
                          Нечем дышать и слишком низкие потолки
                      %tr
                        %td.imperf-left-column
                          Где
                        %td.imperf-right-column
                          При большом числе людей в комнате
                      %tr
                        %td.imperf-left-column
                          Когда
                        %td.imperf-right-column
                          Во время совещаний
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                .col-xs-6.owl-column
                  .imperfection.imperf-pale-blue.lined-block.drag-block.drag1
                    %table
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                          .aspects-indexes
                            .circle-tag.back-color.orange нд
                            .circle-tag.back-color.purple нж
                            .circle-tag.back-color.yellow од
                            .circle-tag.back-color.blue му
                      %tr
                        / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                        %td.imperf-left-column.what-cell
                          Что
                        %td.imperf-right-column
                          Нечем дышать и слишком низкие потолки
                      %tr
                        %td.imperf-left-column
                          Где
                        %td.imperf-right-column
                          При большом числе людей в комнате
                      %tr
                        %td.imperf-left-column
                          Когда
                        %td.imperf-right-column
                          Во время совещаний
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                  .imperfection.imperf-pale-pink.lined-block.drag-block.drag1
                    %table
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                          .aspects-indexes
                            .circle-tag.back-color.orange нд
                            .circle-tag.back-color.light-blue нс
                            .circle-tag.back-color.green мл
                            .circle-tag.back-color.purple нж
                            .circle-tag.back-color.yellow од
                            .circle-tag.back-color.blue му
                      %tr
                        / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                        %td.imperf-left-column.what-cell
                          Что
                        %td.imperf-right-column
                          Нечем дышать
                      %tr
                        %td.imperf-left-column
                          Где
                        %td.imperf-right-column
                          При большом числе людей в комнате
                      %tr
                        %td.imperf-left-column
                          Когда
                        %td.imperf-right-column
                          Во время совещаний
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                  .imperfection.imperf-pale-pink.lined-block.drag-block.drag1
                    %table
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                          .aspects-indexes
                            .circle-tag.back-color.orange нд
                            .circle-tag.back-color.light-blue нс
                            .circle-tag.back-color.green мл
                            .circle-tag.back-color.purple нж
                            .circle-tag.back-color.yellow од
                            .circle-tag.back-color.blue му
                      %tr
                        / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                        %td.imperf-left-column.what-cell
                          Что
                        %td.imperf-right-column
                          Нечем дышать
                      %tr
                        %td.imperf-left-column
                          Где
                        %td.imperf-right-column
                          При большом числе людей в комнате
                      %tr
                        %td.imperf-left-column
                          Когда
                        %td.imperf-right-column
                          Во время совещаний
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
              .row
                .col-xs-6.owl-column
                  .imperfection.imperf-pale-pink.lined-block.drag-block.drag1
                    %table
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                          .aspects-indexes
                            .circle-tag.back-color.orange нд
                            .circle-tag.back-color.light-blue нс
                            .circle-tag.back-color.green мл
                            .circle-tag.back-color.purple нж
                            .circle-tag.back-color.yellow од
                            .circle-tag.back-color.blue му
                      %tr
                        / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                        %td.imperf-left-column.what-cell
                          Что
                        %td.imperf-right-column
                          Нечем дышать
                      %tr
                        %td.imperf-left-column
                          Где
                        %td.imperf-right-column
                          При большом числе людей в комнате
                      %tr
                        %td.imperf-left-column
                          Когда
                        %td.imperf-right-column
                          Во время совещаний
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                  .imperfection.imperf-pale-blue.lined-block.drag-block.drag1
                    %table
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                          .aspects-indexes
                            .circle-tag.back-color.orange нд
                            .circle-tag.back-color.purple нж
                            .circle-tag.back-color.yellow од
                            .circle-tag.back-color.blue му
                      %tr
                        / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                        %td.imperf-left-column.what-cell
                          Что
                        %td.imperf-right-column
                          Нечем дышать и слишком низкие потолки
                      %tr
                        %td.imperf-left-column
                          Где
                        %td.imperf-right-column
                          При большом числе людей в комнате
                      %tr
                        %td.imperf-left-column
                          Когда
                        %td.imperf-right-column
                          Во время совещаний
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                .col-xs-6.owl-column
                  .imperfection.imperf-pale-blue.lined-block.drag-block.drag1
                    %table
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                          .aspects-indexes
                            .circle-tag.back-color.orange нд
                            .circle-tag.back-color.purple нж
                            .circle-tag.back-color.yellow од
                            .circle-tag.back-color.blue му
                      %tr
                        / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                        %td.imperf-left-column.what-cell
                          Что
                        %td.imperf-right-column
                          Нечем дышать и слишком низкие потолки
                      %tr
                        %td.imperf-left-column
                          Где
                        %td.imperf-right-column
                          При большом числе людей в комнате
                      %tr
                        %td.imperf-left-column
                          Когда
                        %td.imperf-right-column
                          Во время совещаний
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                  .imperfection.imperf-pale-pink.lined-block.drag-block.drag1
                    %table
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
                          .aspects-indexes
                            .circle-tag.back-color.orange нд
                            .circle-tag.back-color.light-blue нс
                            .circle-tag.back-color.green мл
                            .circle-tag.back-color.purple нж
                            .circle-tag.back-color.yellow од
                            .circle-tag.back-color.blue му
                      %tr
                        / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                        %td.imperf-left-column.what-cell
                          Что
                        %td.imperf-right-column
                          Нечем дышать
                      %tr
                        %td.imperf-left-column
                          Где
                        %td.imperf-right-column
                          При большом числе людей в комнате
                      %tr
                        %td.imperf-left-column
                          Когда
                        %td.imperf-right-column
                          Во время совещаний
                      %tr
                        %td.imperf-left-column
                        %td.imperf-right-column
            %button#vote-button1.vote-button.btn.btn-mass-red{:disabled => ""} Проголосовать
      #popup-vote-innov.popup-window.vote-popup.mfp-hide
        .popup
          .popup-header-dnd
            .popup-header.popup-top-rounded
              %h2.color.mass-red Голосование
              %span.popup-header-right Стадия 3
            .drag-n-drop-zone
              .dnd-hand
          .popup-voting.popup-bottom-rounded
            %p
              Выберите нововведения, которые вам понравились, и перетащите их в&nbsp;изображение руки или нажмите на кнопку "проголосовать"
            .popup-owl-navigation
              #owl-arrow-left-2.owl-arrow.pull-left
              #owl-arrow-right-2.owl-arrow.pull-right
            #owl-vote-2.owl-carousel.owl-vote
              .row
                .col-xs-12.owl-column
                  .innov-single.box-shadow-1.rounded-3.drag-block.drag2
                    .row.post-header
                      .col-xs-8
                        %span.post-header-text.color.mass-red
                          %i.fa.fa-check-circle>
                          Модернизированная система аналитики
                      .col-xs-4.post-header-date
                        %span
                          21.12.2014
                    .post-center-block
                      .post-text
                        .text-arrow.pull-right
                        %span
                          Материалы-шпаргалки*, которые будут находиться под рукой у ПС на кассе или висеть
                          рядом на стене. Удобные в использовании, максимально компактные, лаконичные,
                          позволяющие ПС быстро по симптомам осуществить рекомендацию покупателю...
                    #themes4.post-themes
                      %a.tag-stripe.color-N1{:href => "#"}
                        %span.tag Слишком низкие потолки в офисах
                      %a.tag-stripe.color-N4{:href => "#"}
                        %span.tag низкие потолки в офисах
                      %a.tag-stripe.color-N9{:href => "#"}
                        %span.tag Низкие потолки и нечем дышать в офисах
                      %a.tag-stripe.color-N3{:href => "#"}
                        %span.tag дышать в офисах
                  .innov-single.box-shadow-1.rounded-3.drag-block.drag2
                    .row.post-header
                      .col-xs-8
                        %span.post-header-text.color.mass-red
                          %i.fa.fa-check-circle>
                          Модернизированная система аналитики
                      .col-xs-4.post-header-date
                        %span
                          21.12.2014
                    .post-center-block
                      .post-text
                        .text-arrow.pull-right
                        %span
                          Материалы-шпаргалки*, которые будут находиться под рукой у ПС на кассе или висеть
                          рядом на стене. Удобные в использовании, максимально компактные, лаконичные,
                          позволяющие ПС быстро по симптомам осуществить рекомендацию покупателю...
                    #themes5.post-themes
                      %a.tag-stripe.color-N1{:href => "#"}
                        %span.tag Слишком низкие потолки в офисах
                      %a.tag-stripe.color-N4{:href => "#"}
                        %span.tag низкие потолки в офисах
                      %a.tag-stripe.color-N9{:href => "#"}
                        %span.tag Низкие потолки и нечем дышать в офисах
                      %a.tag-stripe.color-N3{:href => "#"}
                        %span.tag дышать в офисах
                  .innov-single.box-shadow-1.rounded-3.drag-block.drag2
                    .row.post-header
                      .col-xs-8
                        %span.post-header-text.color.mass-red
                          %i.fa.fa-check-circle>
                          Модернизированная система аналитики
                      .col-xs-4.post-header-date
                        %span
                          21.12.2014
                    .post-center-block
                      .post-text
                        .text-arrow.pull-right
                        %span
                          Материалы-шпаргалки*, которые будут находиться под рукой у ПС на кассе или висеть
                          рядом на стене. Удобные в использовании, максимально компактные, лаконичные,
                          позволяющие ПС быстро по симптомам осуществить рекомендацию покупателю...
                    #themes6.post-themes
                      %a.tag-stripe.color-N1{:href => "#"}
                        %span.tag Слишком низкие потолки в офисах
                      %a.tag-stripe.color-N4{:href => "#"}
                        %span.tag низкие потолки в офисах
                      %a.tag-stripe.color-N9{:href => "#"}
                        %span.tag Низкие потолки и нечем дышать в офисах
                      %a.tag-stripe.color-N3{:href => "#"}
                        %span.tag дышать в офисах
              .row
                .col-xs-12.owl-column
                  .innov-single.box-shadow-1.rounded-3.drag-block.drag2
                    .row.post-header
                      .col-xs-8
                        %span.post-header-text.color.mass-red
                          %i.fa.fa-check-circle>
                          Модернизированная система аналитики
                      .col-xs-4.post-header-date
                        %span
                          21.12.2014
                    .post-center-block
                      .post-text
                        .text-arrow.pull-right
                        %span
                          Материалы-шпаргалки*, которые будут находиться под рукой у ПС на кассе или висеть
                          рядом на стене. Удобные в использовании, максимально компактные, лаконичные,
                          позволяющие ПС быстро по симптомам осуществить рекомендацию покупателю...
                    #themes1.post-themes
                      %a.tag-stripe.color-N1{:href => "#"}
                        %span.tag Слишком низкие потолки в офисах
                      %a.tag-stripe.color-N4{:href => "#"}
                        %span.tag низкие потолки в офисах
                      %a.tag-stripe.color-N9{:href => "#"}
                        %span.tag Низкие потолки и нечем дышать в офисах
                      %a.tag-stripe.color-N3{:href => "#"}
                        %span.tag дышать в офисах
                  .innov-single.box-shadow-1.rounded-3.drag-block.drag2
                    .row.post-header
                      .col-xs-8
                        %span.post-header-text.color.mass-red
                          %i.fa.fa-check-circle>
                          Модернизированная система аналитики
                      .col-xs-4.post-header-date
                        %span
                          21.12.2014
                    .post-center-block
                      .post-text
                        .text-arrow.pull-right
                        %span
                          Материалы-шпаргалки*, которые будут находиться под рукой у ПС на кассе или висеть
                          рядом на стене. Удобные в использовании, максимально компактные, лаконичные,
                          позволяющие ПС быстро по симптомам осуществить рекомендацию покупателю...
                    #themes2.post-themes
                      %a.tag-stripe.color-N1{:href => "#"}
                        %span.tag Слишком низкие потолки в офисах
                      %a.tag-stripe.color-N4{:href => "#"}
                        %span.tag низкие потолки в офисах
                      %a.tag-stripe.color-N9{:href => "#"}
                        %span.tag Низкие потолки и нечем дышать в офисах
                      %a.tag-stripe.color-N3{:href => "#"}
                        %span.tag дышать в офисах
                  .innov-single.box-shadow-1.rounded-3.drag-block.drag2
                    .row.post-header
                      .col-xs-8
                        %span.post-header-text.color.mass-red
                          %i.fa.fa-check-circle>
                          Модернизированная система аналитики
                      .col-xs-4.post-header-date
                        %span
                          21.12.2014
                    .post-center-block
                      .post-text
                        .text-arrow.pull-right
                        %span
                          Материалы-шпаргалки*, которые будут находиться под рукой у ПС на кассе или висеть
                          рядом на стене. Удобные в использовании, максимально компактные, лаконичные,
                          позволяющие ПС быстро по симптомам осуществить рекомендацию покупателю...
                    #themes3.post-themes
                      %a.tag-stripe.color-N1{:href => "#"}
                        %span.tag Слишком низкие потолки в офисах
                      %a.tag-stripe.color-N4{:href => "#"}
                        %span.tag низкие потолки в офисах
                      %a.tag-stripe.color-N9{:href => "#"}
                        %span.tag Низкие потолки и нечем дышать в офисах
                      %a.tag-stripe.color-N3{:href => "#"}
                        %span.tag дышать в офисах
            %button#vote-button2.vote-button.btn.btn-mass-red{:disabled => ""} Проголосовать
      #popup-greetings-text.popup-window.medal.mfp-hide
        .popup
          .medal-block.gold-medal
          .popup-top-block.popup-top-rounded
            .vertical-center-wrapper
              %h4 Поздравляем!
              %p.top-block-text
                Текст текст текст текст текст текст текст текст текст текст текст текст текст
                текст текст текст текст текст текст текст текст текст текст текст текст текст
                текст текст текст текст текст текст текст текст
          .popup-bottom-block.popup-bottom-rounded
            .vertical-center-wrapper
              .bottom-buttons
                %a.bottom-button.back-color.dark-blue{:href => "#"} Рефлексия
                %a.bottom-button.back-color.red.arrowed.open-popup-link{:href => "#popup-2"} Перейти на 2-ю стадию
      #popup-greetings-form.popup-window.medal.mfp-hide
        .popup
          .medal-block.gold-medal
          .popup-top-block.popup-top-rounded
            .vertical-center-wrapper
              %h4 Поздравляем!
              %p.top-block-text
                Текст текст текст текст текст текст текст текст текст текст текст текст текст:
              %form#interview-form1.form-horizontal.interview-form{:role => "form"}
                %ol
                  %li
                    %textarea#inputLack.rounded-2{:placeholder => "Какие недостатки вы заметили в процедуре, в вашей работе, а также в работе других участников, модераторов и жюри?", :rows => "2"}
                  %li
                    %textarea#inputMiss.rounded-2{:placeholder => "Что вам не хватало в работе на данном этапе?", :rows => "1"}
                  %li
                    %textarea#inputChange.rounded-2{:placeholder => "Что и как можно было бы изменить?", :rows => "1"}
          .popup-bottom-block.popup-bottom-rounded
            .vertical-center-wrapper
              .bottom-buttons
                %a#a-submit-int1.bottom-button.back-color.red.arrowed Перейти на 2-ю стадию
      #popup-next-stage-explanation.popup-window.medal.mfp-hide
        .popup
          .medal-block.silver-medal
          .popup-top-block.popup-top-rounded
            .vertical-center-wrapper
              %h4 Объяснение второй стадии
              %p.top-block-text
                Текст текст текст текст текст текст текст текст текст текст текст текст текст
                текст текст текст текст текст текст текст текст текст текст текст текст текст
                текст текст текст текст текст текст текст текст
              %p.top-block-text
                Текст текст текст текст текст текст текст текст текст текст текст текст текст
                текст текст текст текст текст текст текст текст текст текст текст текст текст
                текст текст текст текст текст текст текст текст текст текст текст текст текст
                текст текст текст текст текст текст текст текст текст текст текст текст текст
                текст текст текст текст текст текст текст текст текст текст текст текст текст
                текст текст текст текст текст текст текст текст
          .popup-bottom-block.popup-bottom-rounded
            .vertical-center-wrapper
              .bottom-buttons
                %a.bottom-button.back-color.red.open-popup-link{:href => "#popup-3"} Начать 2-ю стадию
      / second stage
      #popup-imperf.popup-window.info-popup.mfp-hide
        .popup.popup-top-rounded
          .popup-post-info.back-color.pale-pink
            .popup-header.popup-top-rounded
              %h2.color.mass-red Нечем дышать
            .clearfix
            .popup-imperf-detailed.imperf-pale-pink
              .popup-imperf-admin-notice
                %span.popup-notice-sign !
                %p.popup-notice-text
                  Замечание модератора в открытой форме
              .aspects-indexes
                .circle-tag.back-color.orange нд
                .circle-tag.back-color.light-blue нс
                .circle-tag.back-color.green мл
                .circle-tag.back-color.purple нж
                .circle-tag.back-color.yellow од
                .circle-tag.back-color.blue му
              .clearfix
              %table
                %tr
                  / ячейка с "Что?", красит верхний бордер в более тёмный цвет этого блока
                  %td.imperf-left-column.what-cell
                    Что
                  %td.imperf-right-column
                    Нечем дышать
                %tr
                  %td.imperf-left-column
                    Где
                  %td.imperf-right-column
                    При большом числе людей в комнате
                %tr
                  %td.imperf-left-column
                    Когда
                  %td.imperf-right-column
                    Во время совещаний
                %tr
                  %td.imperf-left-column
                  %td.imperf-right-column
                    .imperf-bottom-line
                      .info-stripe
                        %span.popup-date 31.дек. 2014
                        %span.popup-comments
                          +5
                          %i.fa.fa-comment-o
                        %span.popup-likes
                          +9
                          %i.fa.fa-thumbs-o-up
                        %span.popup-dislikes
                          +1
                          %i.fa.fa-thumbs-o-down
          .popup-comments-block.popup-bottom-rounded
            .comment
              %img.comment-ava{:src => "img/no-ava.png"}/
              .comment-name Лиза Школьник
              .comment-text текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
            .comment
              %img.comment-ava{:src => "img/no-ava.png"}/
              .comment-name Лиза Школьник
              .comment-text текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
            .comment
              %img.comment-ava{:src => "img/no-ava.png"}/
              .comment-name Лиза Школьник
              .comment-text текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
      / third stage
      #popup-innov.popup-window.info-popup.mfp-hide
        .popup.popup-top-rounded
          .row.popup-post-info
            .popup-header.popup-top-rounded.col-sm-12
              %h2.color.mass-red Совершенствование портала
            .col-lg-6.popup-post-block
              %img{:src => "img/ava1.jpg"}/
              %span Лиза Школьник
              .info-stripe
                %span.popup-date 17.12.2014
                %span.popup-comments
                  +5
                  %i.fa.fa-comment-o
                %span.popup-likes
                  +9
                  %i.fa.fa-thumbs-o-up
                %span.popup-dislikes
                  +1
                  %i.fa.fa-thumbs-o-down
            .col-lg-6.popup-tags
              %span.popup-tag.color-N1
                Низкие потолки и нечем дышать в офисах
              %span.popup-tag.color-N2
                Низкие старые потолки и нечем дышать в офисах
              %span.popup-tag.color-N3
                Низкие потолки
              %span.popup-tag.color-N4
                Низкие потолки и нечем дышать
          .container.popup-post-questions.popup-bottom-rounded
            .row
              .col-sm-12
                .question-stripe
                  Что новое появится в будущем, чтобы исправить несовершенство?
                .answer-stripe
                  Новый, удобный и современный портал
              .col-sm-12
                .question-stripe
                  Чем ваше нововведение улучшит текущую ситуацию и почему?
                .answer-stripe
                  На новом портале будет приятно работать
              .col-sm-12
                .question-stripe
                  Чем ваше нововведение улучшит текущую ситуацию и почему?
                .answer-stripe
                  Новый портал удобен и прекрасно сделан с точки зрения дизайна, и участникам не только полезно, но и приятно проводить на нём время
              .col-sm-12
                .question-stripe
                  Какие ресурсы потребуются в будущем для работы нововведения?
                .answer-stripe
                  %span.rounded-N-mark 1
                  %span.text-after-mark Олег и Андрей для концептуализации видения, вся команда для брейнсторминга по разработанному видению, дизайнеры и программисты
              .col-sm-12
                .question-stripe
                  Какие нежелательные эффекты могут возникнуть в будущем в связи с поддержанием условий и решением задач?
                .answer-stripe
                  Мы можем вложить в создание нового портала массу времени и денег, а участникам все равно будет неудобно на нем работать
              .col-sm-12
                .question-stripe
                  Какие ресурсы потребуются в будущем для работы нововведения?
                .answer-stripe
                  %span.rounded-N-mark 1
                  %span.text-after-mark Постоянные обсуждения и проверки предлагаемых идей
        .popup.popup-bottom-rounded.popup-top-rounded
          #comment-tabs.nav-tabs-one
            / Nav tabs
            %ul.nav.navig-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#tab-1"} Ваш комментарий
              %li
                %a{"data-toggle" => "tab", :href => "#tab-2"} Все комментарии
              %li
                %a{"data-toggle" => "tab", :href => "#tab-3"} Советы
            / Tab content
            .tab-content
              #tab-1.tab-pane.fade.in.active
                .comment
                  %img.comment-ava{:src => "img/no-ava.png"}/
                  .comment-name Лиза Школьник
                  .comment-text текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
              #tab-2.tab-pane.fade
                .comment
                  %img.comment-ava{:src => "img/no-ava.png"}/
                  .comment-name Лиза Школьник
                  .comment-text текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                .comment
                  %img.comment-ava{:src => "img/no-ava.png"}/
                  .comment-name Лиза Школьник
                  .comment-text текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                .comment
                  %img.comment-ava{:src => "img/no-ava.png"}/
                  .comment-name Лиза Школьник
                  .comment-text текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
              #tab-3.tab-pane.fade
                .comment
                  %img.comment-ava{:src => "img/no-ava.png"}/
                  .comment-name Лиза Школьник
                  .comment-text текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
    / Outer Ends
    / Scroll to top
    %span.totop
      %a{:href => "#"}
        %i.fa.fa-angle-up.bg-color
    / Javascript files
    / jQuery
    %script{:src => "js/jquery.js"}
    / Bootstrap JS
    %script{:src => "js/bootstrap.min.js"}
    / Placeholders JS
    %script{:src => "js/placeholders.js"}
    / Magnific Popup
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / Owl carousel
    %script{:src => "js/owl.carousel.min.js"}
    / Respond JS for IE8
    %script{:src => "js/respond.min.js"}
    / HTML5 Support for IE
    %script{:src => "js/html5shiv.js"}
    / Main JS
    %script{:src => "js/main-unowled.js"}
    / Javascript for this page
    / Custom JS. Type your JS code in custom.js file
    %script{:src => "js/custom.js"}
