!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title
    / Description, Keywords and Author
    %meta{:content => "Your description", :name => "description"}/
    %meta{:content => "Your,Keywords", :name => "keywords"}/
    %meta{:content => "Ian", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Styles
    / Bootstrap CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Font awesome CSS
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    / Magnific Popup
    %link{:href => "css/magnific-popup.css", :rel => "stylesheet"}/
    / Owl carousel
    %link{:href => "css/owl.carousel.css", :rel => "stylesheet"}/
    / Base style
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/style-4.css", :rel => "stylesheet"}/
    / Custom CSS. Type your CSS code in custom.css file
    %link{:href => "css/custom-ts.css", :rel => "stylesheet"}/
  %body
    .outer
      .right-rollover-outer
        .round-button-outer
          %a{:href => "#"}/
          .round-button.circle-5
        .right-rollover.box-shadow-1.rounded-3
          %h5
            Индекс несовершенств
          %button.colored-stripe.color-N1.rounded-1.selected{:rel => "1"}
            Низкие потолки и нечем дышать в офисах
          %button.colored-stripe.color-N2.rounded-1{:rel => "2"}
            потолки и нечем дышать в офисах
          %button.colored-stripe.color-N3.rounded-1{:rel => "3"}
            Низкие потолки и нечем дышать в офисах при большом скоплении посетителей
          %button.colored-stripe.color-N4.rounded-1{:rel => "4"}
            нечем дышать в офисах
          %button.colored-stripe.color-N5.rounded-1{:rel => "5"}
            Низкие потолки и нечем дышать
          %button.colored-stripe.color-N6.rounded-1{:rel => "6"}
            нечем дышать в офисах
          %button.colored-stripe.color-N7.rounded-1{:rel => "7"}
            Низкие потолки и нечем дышать в офисах
          %button.colored-stripe.color-N8.rounded-1{:rel => "8"}
            Низкие потолки и нечем дышать в офисах
          %button.colored-stripe.color-N9.rounded-1{:rel => "9"}
            Низкие потолки и нечем дышать
          %button.colored-stripe.color-N10.rounded-1{:rel => "10"}
            Низкие потолки и нечем дышать
          %button.colored-stripe.color-N11.rounded-1{:rel => "11"}
            Низкие потолки
          %button.colored-stripe.color-N12.rounded-1{:rel => "12"}
            Низкие потолки и нечем дышать в офисах
          %button.colored-stripe.color-N13.rounded-1{:rel => "13"}
            Низкие потолки и нечем дышать
          %button.colored-stripe.color-N14.rounded-1{:rel => "14"}
            Низкие потолки и нечем
      / Top bar starts
      %header.top-bar
        .container
          / Logo starts
          .box-shadow-outer
            .tb-logo.box-shadow-5.rounded-1.pull-left
              %a{:href => "#"}
                %img{:src => "img/logo-red.jpg"}/
          / Logo ends
          .clearfix.visible-xs
          / Nav starts
          %nav.header-buttons.pull-left
            %a.btn.btn-white.rounded-2{:href => "#"} Процедура
            .clearfix.visible-xs
            %a.btn.btn-grey.rounded-2{:href => "#"} Кабинет
            .clearfix.visible-xs
            %a.btn.btn-grey.rounded-2{:href => "#"} Новости
            .clearfix.visible-xs
            %a.btn.btn-grey.rounded-2{:href => "#"} Рефлексия
          / Nav ends
          .pull-right.header-right
            / Langauge starts
            .tb-language.dropdown.pull-right
              %a{"data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
                English
                %i.fa.fa-angle-down.color.mass-dark-blue
              / Dropdown menu with languages
              %ul.dropdown-menu.dropdown-mini{:role => "menu"}
                %li
                  %a{:href => "#"} Hindi
                %li
                  %a{:href => "#"} Tamil
                %li
                  %a{:href => "#"} Kanada
            / Language ends
            %img.pull-right.operator-pic{:src => "img/call.png"}/
            .clearfix
            / User starts
            .tb-language.dropdown.pull-right.user-block
              %span.rating-block.rounded-1 500
              %a{"data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
                Горлицкий Вячеслав
                %i.fa.fa-angle-down.color.mass-dark-blue
              / Dropdown menu with languages
              %ul.dropdown-menu.dropdown-mini{:role => "menu"}
                %li
                  %a{:href => "#"} Вариант

          .clearfix
      / Top Bar ends
      / Main Block starts
      .main-block
        .container
          .clearfix
          / Stages block starts
          .stages
            %a.btn.rounded-1
              %span.bigger> 1
              стадия
            .clearfix.visible-sm.visible-xs
            %a.btn.rounded-1
              %span.bigger> 2
              стадия
            .clearfix.visible-md.visible-sm.visible-xs
            .current-stage
              %a.btn.rounded-1
                %span.bigger> 3
                стадия
              .current-stage-text.pull-left
                .top-text
                  Максимизация работы в аптеках инвара (с учетом новой стратегии инвара)
                .bottom-text
                  %h4 Сбор нововведений
            .clearfix.visible-sm.visible-xs
            %a.btn.rounded-1.next-steps-stage
              %span.bigger> 4
              стадия
          .clearfix
          / Innovations' block starts
          .innov
            %h4
              Нововведения
              %span.innov-header-smaller (27)
              %i.fa.fa-question-circle
            .container
              .row.innovs
                .col-lg-6
                  .innov-single.rounded-3
                    .row.post-header
                      .col-xs-8
                        %span.post-header-text.color.mass-red
                          %i.fa.fa-check-circle>
                          Система аналитики
                      .col-xs-4.post-header-date
                        %span
                          21.12.2014
                    .post-center-block
                      .post-poster
                        %img{:src => "img/ava1.jpg"}/
                        .clearfix
                        %span.poster-name Лиза Школьник
                      %a.post-text.popup-link-1{:href => "#"}
                      .text-arrow.pull-right
                      %span
                        Материалы-шпаргалки*, которые будут находиться под рукой у ПС на кассе или висеть
                        рядом на стене. Удобные в использовании, максимально компактные, лаконичные,
                        позволяющие ПС быстро по симптомам осуществить рекомендацию покупателю...
                    #stripe1.post-themes
                      %a#stripe1.tag-stripe.color-N1.active{:href => "#"}
                        %span.tag Слишком низкие потолки в офисах
                      %a#stripe2.tag-stripe.color-N4{:href => "#"}
                        %span.tag низкие потолки в офисах
                      %a#stripe3.tag-stripe.color-N9{:href => "#"}
                        %span.tag Низкие потолки и нечем дышать в офисах
                      %a#stripe3.tag-stripe.color-N3{:href => "#"}
                        %span.tag дышать в офисах
                .col-lg-6.box-shadow-outer
                  .innov-single.box-shadow-1.rounded-3
                    .row.post-header
                      .col-xs-8
                        %span.post-header-text.color.mass-red
                          %i.fa.fa-check-circle.color.mass-red-pale>
                          Модернизация систем связи
                      .col-xs-4.post-header-date
                        %span
                          21.12.2014
                    .post-center-block
                      .post-poster
                        %img{:src => "img/ava1.jpg"}/
                        .clearfix
                        %span.poster-name Лиза Школьник
                      %a.post-text{:href => "#"}
                      .text-arrow.pull-right
                      %span
                        Материалы-шпаргалки*, которые будут находиться под рукой у ПС на кассе или висеть
                        рядом на стене. Удобные в использовании, максимально компактные, лаконичные,
                        позволяющие ПС быстро по симптомам осуществить рекомендацию покупателю...
                    #stripe2.post-themes
                      %a#stripe1.tag-stripe.color-N1.active{:href => "#"}
                        %span.tag Слишком низкие потолки в офисах
                      %a#stripe2.tag-stripe.color-N4{:href => "#"}
                        %span.tag низкие потолки в офисах
                      %a#stripe3.tag-stripe.color-N9{:href => "#"}
                        %span.tag Низкие потолки и нечем дышать в офисах
                      %a#stripe3.tag-stripe.color-N3{:href => "#"}
                        %span.tag дышать в офисах
              .row.innovs
                .col-lg-6.box-shadow-outer
                  .innov-single.box-shadow-1.rounded-3
                    .row.post-header
                      .col-xs-8
                        %span.post-header-text.color.mass-red
                          %i.fa.fa-check-circle>
                          Система аналитики
                      .col-xs-4.post-header-date
                        %span
                          21.12.2014
                    .post-center-block
                      .post-poster
                        %img{:src => "img/ava1.jpg"}/
                        .clearfix
                        %span.poster-name Лиза Школьник
                      %a.post-text{:href => "#"}
                      .text-arrow.pull-right
                      %span
                        Материалы-шпаргалки*, которые будут находиться под рукой у ПС на кассе или висеть
                        рядом на стене. Удобные в использовании, максимально компактные, лаконичные,
                        позволяющие ПС быстро по симптомам осуществить рекомендацию покупателю...
                    .post-themes
                .col-lg-6.box-shadow-outer
                  .innov-single.box-shadow-1.rounded-3
                    .row.post-header
                      .col-xs-8
                        %span.post-header-text.color.mass-red
                          %i.fa.fa-check-circle>
                          Система аналитики
                      .col-xs-4.post-header-date
                        %span
                          21.12.2014
                    .post-center-block
                      .post-poster
                        %img{:src => "img/ava1.jpg"}/
                        .clearfix
                        %span.poster-name Лиза Школьник
                      %a.post-text{:href => "#"}
                      .text-arrow.pull-right
                      %span
                        Материалы-шпаргалки*, которые будут находиться под рукой у ПС на кассе или висеть
                        рядом на стене. Удобные в использовании, максимально компактные, лаконичные,
                        позволяющие ПС быстро по симптомам осуществить рекомендацию покупателю...
                    .post-themes
              .row.innovs
                .col-lg-6.box-shadow-outer
                  .innov-single.box-shadow-1.rounded-3
                    .row.post-header
                      .col-xs-8
                        %span.post-header-text.color.mass-red
                          %i.fa.fa-check-circle>
                          Система аналитики
                      .col-xs-4.post-header-date
                        %span
                          21.12.2014
                    .post-center-block
                      .post-poster
                        %img{:src => "img/ava1.jpg"}/
                        .clearfix
                        %span.poster-name Лиза Школьник
                      %a.post-text{:href => "#"}
                      .text-arrow.pull-right
                      %span
                        Материалы-шпаргалки*, которые будут находиться под рукой у ПС на кассе или висеть
                        рядом на стене. Удобные в использовании, максимально компактные, лаконичные,
                        позволяющие ПС быстро по симптомам осуществить рекомендацию покупателю...
                    .post-themes
                .col-lg-6.box-shadow-outer
                  .innov-single.box-shadow-1.rounded-3
                    .row.post-header
                      .col-xs-8
                        %span.post-header-text.color.mass-red
                          %i.fa.fa-check-circle>
                          Система аналитики
                      .col-xs-4.post-header-date
                        %span
                          21.12.2014
                    .post-center-block
                      .post-poster
                        %img{:src => "img/ava1.jpg"}/
                        .clearfix
                        %span.poster-name Лиза Школьник
                      %a.post-text{:href => "#"}
                      .text-arrow.pull-right
                      %span
                        Материалы-шпаргалки*, которые будут находиться под рукой у ПС на кассе или висеть
                        рядом на стене. Удобные в использовании, максимально компактные, лаконичные,
                        позволяющие ПС быстро по симптомам осуществить рекомендацию покупателю...
                    .post-themes

      / Main Block ends
      #popup-1.popup-wrapper
        .close-btn
          %i.fa.fa-times
        #win1.popup-box.box-shadow-1.rounded-3
          .popup
            .popup-header
              %h2.color.mass-red Совершенствование портала
            .row.popup-post-info
              .col-lg-6.popup-post-block
                %img{:src => "img/ava1.jpg"}/
                %span Лиза Школьник
                .info-stripe
                  %span.popup-date 17.12.2014
                  %span.popup-comments
                    +5
                    %i.fa.fa-comment-o
                  %span.popup-likes
                    +9
                    %i.fa.fa-thumbs-o-up
                  %span.popup-dislikes
                    +1
                    %i.fa.fa-thumbs-o-down
              .col-lg-6.popup-tags
                %span.popup-tag.color-N1
                  Низкие потолки и нечем дышать в офисах
                %span.popup-tag.color-N2
                  Низкие старые потолки и нечем дышать в офисах
                %span.popup-tag.color-N3
                  Низкие потолки
                %span.popup-tag.color-N4
                  Низкие потолки и нечем дышать
            .container.popup-post-questions
              .row
                .col-sm-12
                  .question-stripe
                    Что новое появится в будущем, чтобы исправить несовершенство?
                  .answer-stripe
                    Новый, удобный и современный портал
                .col-sm-12
                  .question-stripe
                    Чем ваше нововведение улучшит текущую ситуацию и почему?
                  .answer-stripe
                    На новом портале будет приятно работать
                .col-sm-12
                  .question-stripe
                    Чем ваше нововведение улучшит текущую ситуацию и почему?
                  .answer-stripe
                    Новый портал удобен и прекрасно сделан с точки зрения дизайна, и участникам не только полезно, но и приятно проводить на нём время
                .col-sm-12
                  .question-stripe
                    Какие ресурсы потребуются в будущем для работы нововведения?
                  .answer-stripe
                    %span.rounded-N-mark 1
                    %span.text-after-mark Олег и Андрей для концептуализации видения, вся команда для брейнсторминга по разработанному видению, дизайнеры и программисты
                .col-sm-12
                  .question-stripe
                    Какие нежелательные эффекты могут возникнуть в будущем в связи с поддержанием условий и решением задач?
                  .answer-stripe
                    Мы можем вложить в создание нового портала массу времени и денег, а участникам все равно будет неудобно на нем работать
                .col-sm-12
                  .question-stripe
                    Какие ресурсы потребуются в будущем для работы нововведения?
                  .answer-stripe
                    %span.rounded-N-mark 1
                    %span.text-after-mark Постоянные обсуждения и проверки предлагаемых идей
        #win2.popup-box.box-shadow-1.rounded-3
          .popup
            #comment-tabs.nav-tabs-one
              / Nav tabs
              %ul.nav.navig-tabs
                %li.active
                  %a{"data-toggle" => "tab", :href => "#tab-1"} Ваш комментарий
                %li
                  %a{"data-toggle" => "tab", :href => "#tab-2"} Все комментарии
                %li
                  %a{"data-toggle" => "tab", :href => "#tab-3"} Советы
              / Tab content
              .tab-content
                #tab-1.tab-pane.fade.in.active
                  .comment
                    %img.comment-ava{:src => "img/no-ava.png"}/
                    .comment-name Лиза Школьник
                    .comment-text текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                #tab-2.tab-pane.fade
                  .comment
                    %img.comment-ava{:src => "img/no-ava.png"}/
                    .comment-name Лиза Школьник
                    .comment-text текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                  .comment
                    %img.comment-ava{:src => "img/no-ava.png"}/
                    .comment-name Лиза Школьник
                    .comment-text текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                  .comment
                    %img.comment-ava{:src => "img/no-ava.png"}/
                    .comment-name Лиза Школьник
                    .comment-text текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                #tab-3.tab-pane.fade
                  .comment
                    %img.comment-ava{:src => "img/no-ava.png"}/
                    .comment-name Лиза Школьник
                    .comment-text текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
    / Outer Ends
    / Scroll to top
    %span.totop
      %a{:href => "#"}
        %i.fa.fa-angle-up.bg-color
    / Javascript files
    / jQuery
    %script{:src => "js/jquery.js"}
    / Bootstrap JS
    %script{:src => "js/bootstrap.min.js"}
    / Placeholders JS
    %script{:src => "js/placeholders.js"}
    / Magnific Popup
    %script{:src => "js/jquery.magnific-popup.min.js"}
    / Owl carousel
    %script{:src => "js/owl.carousel.min.js"}
    / Respond JS for IE8
    %script{:src => "js/respond.min.js"}
    / HTML5 Support for IE
    %script{:src => "js/html5shiv.js"}
    / Main JS
    %script{:src => "js/main.js"}
    / Javascript for this page
    / Custom JS. Type your JS code in custom.js file
    %script{:src => "js/custom.js"}
