#nvd3_project(data-project="#{@project.id}" data-stage="#{params[:action]}")
%h3 График посещений
%section.widget.large
  %header
    %h4
      %i.fa.fa-bar-chart-o
        Пользователи
  #user_visits_graph.body.chart
    %svg
%h3 Среднее время, проведенное на портале
%section.widget.large
  %header
    %h4
      %i.fa.fa-bar-chart-o
        Время
  #average_time_graph.body.chart
    %svg
