$('#render_knowbase_posts').html('#{escape_javascript(render partial: 'popup_knowbase_posts')}');
modalInit('#popup-database');
$("[data-toggle=tooltip]").tooltip();
color_modal_knowbase('#myCarousel');
$('.carousel-inner .item').perfectScrollbar();
