= link_to '/project/' + @project.id.to_s do
  %span.fa.fa-angle-double-left
  = t('link.back_proc')
%section.widget
  .body
    - if @post
      %div{ id: "knowbase_post_#{@post.id}" }
        = render partial: 'knowbase_post', object: @post
