сommand_htmleditor('remove', 'some-textarea');
$('#knowbase_post_#{@post.id}').html("#{escape_javascript(render partial: 'knowbase_post', object: @post)}");
$('#knowbase_left_title_#{@post.id}').html("#{escape_javascript(@post.title)}");