%tr
  %td
    -if post_concept_action.date_begin and post_concept_action.date_end
      %small.color-green
        =Russian::strftime(post_concept_action.date_begin, "%d %b %Y")
        ="-"
        =Russian::strftime(post_concept_action.date_end, "%d %b %Y")
      %br
    =post_concept_action.name
    %br
    =post_concept_action.desc
  %td
    -unless post_concept_action.plan_post_resources.by_type('action_r').nil?
      -post_concept_action.plan_post_resources.by_type('action_r').each  do |res|
        .label.label-danger=res.name
