$('#discontent_post_advice_content').val('');
$('#advices').append("#{escape_javascript(render @discontent_advice)}").fadeIn();
$('#advice_success_created').fadeIn('slow').delay(1000).fadeOut('slow');
