%h2
  = t('discontent.unapproved_post_advices')
%section.widget.widget-tabs
  .body.tab-content
    %br
    %br
    .text-success#advice_success_approved(style='display:none;')
      = t('discontent.advice_success_approved')
    = render @unapproved_advices
