#prompt1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body
        %h4.text-primary
          Предположим, мы оказались в будущем; что там есть такого, что исправляет несовершенство?
        %h4.text-primary Не пишите о том, КАК это будет исправлять несовершенство - для этого есть следующий вопрос.
        %hr
        -#%h4.text-success Пример правильного заполнения
        -#%h5.text-success A.
        -#%p.text-info Что новое, исправляющее несовершенство, появится в будущем?
        %h5.text-success Пример:
        %h5.text-success Несовершенство:
        %span.label.label-default что
        Пыльный и отвратительный на вид большой пустырь
        %br
        %span.label.label-default где
        во дворе между домами
        %br
        %span.label.label-default когда
        в теплое время года
        %br
        %br
        %h5.text-success Нововведение:
        %p Газон по всему пустырю  с  клумбой  посредине

      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Мне все понятно!

#prompt2.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body

        %h4.text-primary Старайтесь писать кратко, не углубляясь в лишние детали.
        %br
        %h5.text-success Пример:

        %h5.text-success Несовершенство:
        %span.label.label-default что
        Пыльный и отвратительный на вид большой пустырь
        %br
        %span.label.label-default где
        во дворе между домами
        %br
        %span.label.label-default когда
        в теплое время года
        %br
        %br
        %h5.text-success Как будет исправлено:
        %p Трава газона и декоративные растения на клумбе будут привлекательны на вид и предотвращать появление пыли.

      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Мне все понятно!

#prompt3.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body

        %h4.text-primary Какие в будущем должны быть созданы и поддерживаться УСЛОВИЯ и разрешаться ПРАКТИЧЕСКИЕ ЗАДАЧИ.
        %br
        %h5.text-success Пример:

        %h5.text-success Несовершенство:
        %span.label.label-default что
        Пыльный и отвратительный на вид большой пустырь
        %br
        %span.label.label-default где
        во дворе между домами
        %br
        %span.label.label-default когда
        в теплое время года
        %br
        %h5.text-success Условия и задачи:

        %p Должен быть обеспечен регулярный полив;  нужно засевать газон травой, а на клумбу высаживать растения; почву периодически вскапывать, удобрять и пропалывать; необходимо весной собирать деньги у жильцов.

      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Мне все понятно!

#prompt4.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body

        %h4.text-primary
          Ресурсами могут быть методы, технические, организационные или финансовые средства, человеческие силы и вообще все,
          что необходимо иметь в распоряжении в будущем, чтобы обеспечить функционирование нововведения
        %br
        %h5.text-success Пример:

        %h5.text-success Несовершенство:
        %span.label.label-default что
        Пыльный и отвратительный на вид большой пустырь
        %br
        %span.label.label-default где
        во дворе между домами
        %br
        %span.label.label-default когда
        в теплое время года
        %br
        %span.text-success Условия и задачи:
        %span.text-success необходимо периодически  вскапывать клумбу, удобрять и пропалывать...
        %br
        %span
          %b Требуемые для этого ресурсы:
          работник по уходу за растениями,  инструменты обработки почвы и растений, помещение для хранения технических средств...



      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Мне все понятно!

#prompt5.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body

        %h4.text-primary Обоснуйте, что "игра стоит свеч".
        %br
        -#%h4.text-success Пример правильного заполнения
        -#%h5.text-success C.
        -#%p.text-info Покажите, что нововведение практично в работе (т.е. его функционирование в будущем не предусматривает ничего сложного и не потребует большого труда и затрат)?
        %h5.text-success Примеры
        %p К сожалению, уход за клумбой потребует значительного труда, однако  ввиду ее красоты предлагается на это пойти.


      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Мне все понятно!

#prompt6.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body
        %h4.text-primary Покажите, что нужные для нововведения ресурсы несложно и недорого создать
        %br
        -#%h4.text-success Пример правильного заполнения
        -#%h5.text-success C.
        -#%p.text-info Обоснуйте, что нововведение реалистично воплотить в жизнь (т.е. нужные для него ресурсы несложно и недорого создать).
        %h5.text-success Примеры:
        %p Работника нанять недорого; инструменты и материалы приобрести и организовать полив вполне возможно; жильцы, вероятно, согласятся дать на это деньги.


      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Мне все понятно!

#prompt7.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body

        %h4.text-primary Напишите, какие НЕЖЕЛАТЕЛЬНЫЕ ПОБОЧНЫЕ ЭФФЕКТЫ в будущем, которые могут возникнуть в будущем, если будут созданы и поддерживаться должные УСЛОВИЯ и разрешаться ЗАДАЧИ.
        %br
        %h5.text-success Пример:

        %h5.text-success Несовершенство:
        %span.label.label-default что
        Пыльный и отвратительный на вид большой пустырь
        %br
        %span.label.label-default где
        во дворе между домами
        %br
        %span.label.label-default когда
        в теплое время года
        %br
        %br
        %span.text-success Условие:
        %br
        %span.text-success необходимо весной собирать деньги у жильцов...
        %br
        %br
        %p
          %b Вероятный нежелательный побочный эффект:
          %br
          Конфликты из-за того, что некоторые жильцы могут отказаться делать денежные взносы.


      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Мне все понятно!

#prompt8.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body
        %h4.text-primary Укажите ресурсы, которые потребуются, чтобы предотвращать эти ЭФФЕКТЫ.
        %br
        %h5.text-success Пример:

        %h5.text-success Несовершенство:
        %span.label.label-default что
        Пыльный и отвратительный на вид большой пустырь
        %br
        %span.label.label-default где
        во дворе между домами
        %br
        %span.label.label-default когда
        в теплое время года
        %br
        %br
        %span.text-success Условие:
        %br
        %span.text-success необходимо весной собирать деньги у жильцов...
        %br
        %br
        %span.text-success Вероятный нежелательный побочный эффект:
        %br
        %span.text-success Некоторые жильцы могут отказаться делать денежные взносы.
        %br
        %br
        %p
          %b Ресурсы предотвращения:
          %br
          Средства широкого публичного оповещения о должниках


      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Мне все понятно!

#prompt9.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body
        %h4.text-primary
          Что, вероятно, может помешать в будущем плодотворному функционированию всех перечисленных  ресурсов и как с этим предлагается бороться?

        %br
        -#%h4.text-success Пример правильного заполнения
        -#%h5.text-success D.
        -#%p.text-info Что, вероятно, может помешать в будущем плодотворному функционированию всех перечисленных в B и С  ресурсов и как с этим предлагается бороться?
        %h5.text-success Примеры
        %h5.text-success Несовершенство:
        %span.label.label-default что
        Пыльный и отвратительный на вид большой пустырь
        %br
        %span.label.label-default где
        во дворе между домами
        %br
        %span.label.label-default когда
        в теплое время года
        %br
        %h5.text-success Условия:
        %span.text-success необходимо периодически  вскапывать клумбу, удобрять и пропалывать...

        %h5.text-success Требуемые для этого ресурсы:
        %span.text-success  работник по уходу за растениями,  инструменты обработки почвы и растений, помещение для хранения технических средств...
        %br
        %span
          %b Вероятные помехи:
          Работник будет не добросовестно работать (ввести систему штрафов), помещение не сможет вместить всех технических средства (искать помещение побольше) ...

      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Мне все понятно!

#prompt10.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body
        %h4.text-primary
          Кто и как будет контролировать создание и поддержание должных УСЛОВИЙ, разрешение ЗАДАЧ и предотвращение НЕЖЕЛАТЕЛЬНЫХ ПОБОЧНЫХ ЭФФЕКТОВ?

        %br
        %h5.text-success Примеры
        %h5.text-success Несовершенство:
        %span.label.label-default что
        Пыльный и отвратительный на вид большой пустырь
        %br
        %span.label.label-default где
        во дворе между домами
        %br
        %span.label.label-default когда
        в теплое время года
        %br
        %h5.text-success Условия:
        %span.text-success необходимо периодически  вскапывать клумбу, удобрять и пропалывать...
        %br
        %b Контроль:
        %p Орган самоуправления жильцов
        %p Избирательные коммисии

      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Мне все понятно!

#prompt11.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body
        %h4.text-primary
          Какие ресурсы требуются для этого контроля?
        %br
        %h5.text-success Примеры
        %h5.text-success Несовершенство:
        %span.label.label-default что
        Пыльный и отвратительный на вид большой пустырь
        %br
        %span.label.label-default где
        во дворе между домами
        %br
        %span.label.label-default когда
        в теплое время года
        %br
        %h5.text-success Условия:
        %span.text-success необходимо периодически  вскапывать клумбу, удобрять и пропалывать...
        %br
        %h5.text-success  Контроль:
        %span.text-success  Орган самоуправления жильцов
        %span.text-success  Избирательные коммисии
        %span.text-success Представитель самоуправления, ответственный за сбор денег у жильцов.
        %br
        %b Ресурсы для осуществления контроля:
        %p Человек ответсвенный за содержание территории.

      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Мне все понятно!

#prompt12.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body

        %h4.text-primary Пояснения для средств
        %br
        %h5.text-success Пример:

        %h5.text-success Несовершенство:
        %span.label.label-default что
        Пыльный и отвратительный на вид большой пустырь
        %br
        %span.label.label-default где
        во дворе между домами
        %br
        %span.label.label-default когда
        в теплое время года
        %br
        %h5.text-success Условия:
        %span.text-success необходимо периодически  вскапывать клумбу, удобрять и пропалывать...
        %br
        %h5.text-success Требуемые для этого ресурсы:
        %span.text-success работник по уходу за растениями,  инструменты обработки почвы и растений, помещение для хранения технических средств...
        %br
        %b Средства:
        %p Нанимаем работника по обявлению, покупаем инструменты на деньги собранные с жильцов
        .modal-footer
          %button.btn.btn-primary(type = "button" data-dismiss="modal") Мне все понятно!

#prompt13.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body
        %h4.text-primary Пояснения для средств
        %br
        %h5.text-success Пример:

        %h5.text-success Несовершенство:
        %span.label.label-default что
        Пыльный и отвратительный на вид большой пустырь
        %br
        %span.label.label-default где
        во дворе между домами
        %br
        %span.label.label-default когда
        в теплое время года
        %br
        %br
        %span.text-success Условие:
        %br
        %span.text-success необходимо весной собирать деньги у жильцов...
        %br
        %br
        %span.text-success Вероятный нежелательный побочный эффект:
        %br
        %span.text-success Некоторые жильцы могут отказаться делать денежные взносы.
        %br
        %br
        %span.text-successРесурсы предотвращения:
        %span.text-successСредства широкого публичного оповещения о должниках
        %br
        %b Средства:
        %p покупаем доску для объявлений и ставим ее посреди района

      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Мне все понятно!

#prompt14.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body
        %h4.text-primary
          Пояснения для средств
        %br
        %h5.text-success Примеры
        %h5.text-success Несовершенство:
        %span.label.label-default что
        Пыльный и отвратительный на вид большой пустырь
        %br
        %span.label.label-default где
        во дворе между домами
        %br
        %span.label.label-default когда
        в теплое время года
        %br
        %h5.text-success Условия:
        %span.text-success необходимо периодически  вскапывать клумбу, удобрять и пропалывать...
        %br
        %h5.text-success  Контроль:
        %span.text-success  Орган самоуправления жильцов
        %span.text-success  Избирательные коммисии
        %span.text-success Представитель самоуправления, ответственный за сбор денег у жильцов.
        %br
        %h5.text-success Ресурсы для осуществления контроля:
        %span.text-success  Человек ответсвенный за содержание территории.
        %br
        %b Средства:
        %p Нанимаем отвественного, платим ему зарплату, он отчитывается перед советом жильцов

      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Мне все понятно!

#modalStage3.modal.fade.bs-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg.modal-lg-new
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пример правильного нововведения
      .modal-body
        .row
          .col-md-6
            %h5.text-success A.
            %p.text-info Что новое, исправляющее несовершенство, появится в будущем?
            %p Газон по всему пустырю  с  клумбой  посредине
            %p.text-info Как это нововведение будет исправлять несовершенство ?
            %p Трава газона и декоративные растения на клумбе будут привлекательны на вид и предотвращать появление пыли.
          .col-md-6
            %h5.text-success B.
            %p.text-info Что должно делаться в будущем, чтобы нововведение функционировало?
            %p Должен быть обеспечен регулярный полив; нужно засевать газон травой, а на клумбу высаживать растения; почву периодически вскапывать, удобрять и пропалывать; необходимо весной собирать деньги у жильцов.
            %p.text-info Какие ресурсы требуются для поддержания УСЛОВИЯ и разрешения ЗАДАЧИ?
            %p Работник по уходу за растениями, инструменты обработки почвы и растений, помещение для хранения технических средств...
        .row
          .col-md-6
            %h5.text-success C.
            %p.text-infoЕсли будут созданы и поддерживаться должные УСЛОВИЯ и разрешаться ЗАДАЧИ, какие из-за этого вероятны НЕЖЕЛАТЕЛЬНЫЕ ПОБОЧНЫЕ ЭФФЕКТЫ в будущем?
            %pКонфликты из-за того, что некоторые жильцы могут отказаться делать денежные взносы.
            %p.text-infoКакие ресурсы требуются, чтобы предотвращать эти ЭФФЕКТЫ?
            %p Средства широкого публичного оповещения о должниках.
          .col-md-6
            %h5.text-success D.
            %p.text-infoПокажите, что если нововведение будет внедрено и начнет работать в будущем, то эффект от него оправдает денежные и трудовые затраты
            %pК сожалению, уход за клумбой потребует значительного труда, однако ввиду ее красоты предлагается на это пойти.
            %p.text-infoОбоснуйте, что воплощение нововведения в жизнь не встретит серьезных препятствий
            %p Работника нанять недорого; инструменты и материалы приобрести и организовать полив вполне возможно; жильцы, вероятно, согласятся дать на это деньги.
      .modal-footer

        %button.btn.btn-primary(type = "button" data-dismiss="modal") Мне все понятно!