#modalNewDiscontent.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Примеры правильных несовершенств
      .modal-body
        .row
          .col-md-6
            %span.label.label-danger  Имеющиеся недостатки
            %br
            %span.label.label-default что
            Пыльный и отвратительный на вид большой пустырь
            %br
            %span.label.label-default где
            во дворе между домами
            %br
            %span.label.label-default когда
            в теплое время года
          .col-md-6
            %span.label.label-success  Отсутствующие достоинства
            %br
            %span.label.label-default что
            Отсутствие автоматической коробки передач
            %br
            %span.label.label-default где
            в моем автомобиле
            %br
            %span.label.label-default когда
            во время движения по городу с многичесленными остановками
      .modal-footer

        %button.btn.btn-primary(type = "button" data-dismiss="modal") Я все понял!