#prompt1.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body
        %h4.text-primary Кратко опишите то, ЧТО появится в будущем и будет исправлять несовершенство.
        %h4.text-primary Не пишите о том КАК это будет исправлять несовершенство - для этого есть следующий вопрос.
        %hr
        -#%h4.text-success Пример правильного заполнения
        -#%h5.text-success A.
        -#%p.text-info Что новое, исправляющее несовершенство, появится в будущем?
        %h5.text-success Примеры:
        %p Газон по всему пустырю  с  клумбой  посредине
        %p Пруд с водными растениями

      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Я все понял!

#prompt2.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body

        %h4.text-primary Опишите то, КАК нововведение будет исправлять несовершенство.
        %h4.text-primary Старайтесь писать кратко, не углубляясь в лишние детали.
        %br
        -#%h4.text-success Пример правильного заполнения
        -#%h5.text-success A.
        -#%p.text-info Как это нововведение будет исправлять несовершенство?
        %h5.text-success Примеры:
        %p Трава газона и декоративные растения на клумбе будут привлекательны на вид и предотвращать появление пыли.
        %p Пруд очень красив и привлекателен и будет предотвращать появление пыли.

      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Я все понял!

#prompt3.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body

        %h4.text-primary Укажите ВСЕ УСЛОВИЯ для полноценного рутинного функционирования нововведения.
        %h4.text-primary Включите "Машину времени", вообразите как выглядит будущее, в котором несовершенство скорректировано и опишите как оно работает.
        %br
        -#%h4.text-success Пример правильного заполнения
        -#%h5.text-success B.
        -#%p.text-info Что должно делаться в будущем, чтобы нововведение функционировало (т.е. какие должны быть созданы и поддерживаться УСЛОВИЯ и разрешаться ПРАКТИЧЕСКИЕ ЗАДАЧИ)?
        %h5.text-success Примеры
        %p Необходимо весной собирать деньги у жильцов, засевать газон травой, а клумбу растениями, почву периодически вскапывать, удобрять и пропалывать, должен быть обеспечен регулярный полив.
        %hr
        %p Пруд нужно содержать в чистоте и постоянно ухаживать за растениями.

      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Я все понял!

#prompt4.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body

        %h4.text-primary Ресурсами могут быть методы, технические, организационные или финансовые средства, человеческие силы и т.п.
        %h4.text-primary И в общем случае все, что необходимо иметь в распоряжении в будущем, чтобы обеспечить функционирование нововведения

        %br
        -#%h4.text-success Пример правильного заполнения
        -#%h5.text-success B.
        -#%p.text-info Какие ресурсы требуются для поддержания УСЛОВИЙ и разрешения ЗАДАЧ (ресурсами могут быть методы, технические, организационные или финансовые средства, человеческие силы и т.п. – все, что необходимо иметь в распоряжении в будущем, чтобы обеспечить функционирование нововведения)?
        %h5.text-success Примеры:

        %span.text-success Условие:  необходимо периодически  вскапывать клумбу, удобрять и пропалывать
        %span
          %b Необходимые для этого ресурсы:
          работник по уходу за растениями,  инструменты обработки почвы и растений, помещение для хранения технических средств



      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Я все понял!

#prompt5.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body

        %h4.text-primary Покажите, что функционирование нововведения в будущем не предусматривает ничего сложного
        %h4.text-primary Покажите, что функционирование нововведения в будущем не потребует большого труда и затрат
        %br
        -#%h4.text-success Пример правильного заполнения
        -#%h5.text-success C.
        -#%p.text-info Покажите, что нововведение практично в работе (т.е. его функционирование в будущем не предусматривает ничего сложного и не потребует большого труда и затрат)?
        %h5.text-success Примеры
        %p Предлагается простая и повсеместно показавшая себя эффективной мера.
        %hr
        %p Практичность заглючается в долговечности и экономности.

      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Я все понял!

#prompt6.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body
        %h4.text-primary Покажите, что нужные для нововведения ресурсы несложно и недорого создать
        %h4.text-primary Постарайтесь учесть все моменты, которые касаются реального применения нововведения в жизни.
        %br
        -#%h4.text-success Пример правильного заполнения
        -#%h5.text-success C.
        -#%p.text-info Обоснуйте, что нововведение реалистично воплотить в жизнь (т.е. нужные для него ресурсы несложно и недорого создать).
        %h5.text-success Примеры:
        %p Работника нанять недорого, инструменты и материалы приобрести и организовать полив вполне возможно и жильцы, вероятно, согласятся собрать на это деньги.
        %hr
        %p Пруд недорого сделать и поддержание его в чистоте не вызовет больших затрат.

      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Я все понял!

#prompt7.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body

        %h4.text-primary Напишите НЕЖЕЛАТЕЛЬНЫЕ ПОБОЧНЫЕ ЭФФЕКТЫ в будущем, которые могут возникнуть, Если будут созданы и поддерживаться должные УСЛОВИЯ и разрешаться ЗАДАЧИ
        %br
        %h5.text-success Примеры:
        -#%h4.text-success Пример правильного заполнения
        -#%h5.text-success C.
        -#%p.text-info Если будут созданы и поддерживаться должные УСЛОВИЯ и разрешаться ЗАДАЧИ, какие из-за этого вероятны НЕЖЕЛАТЕЛЬНЫЕ ПОБОЧНЫЕ ЭФФЕКТЫ в будущем?
        %p Некоторые жильцы могут отказаться делать денежные взносы.


      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Я все понял!

#prompt8.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body
        %h4.text-primary Укажите ресурсы, чтобы предотвращать эти ЭФФЕКТЫ?
        %br
        %h5.text-success Примеры
        -#%h4.text-success Пример правильного заполнения
        -#%h5.text-success C.
        -#%p.text-info Какие ресурсы требуются, чтобы предотвращать эти ЭФФЕКТЫ?
        %p Средства широкого публичного оповещения о должниках


      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Я все понял!

#prompt9.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body
        %h5.text-success D.
        %h4.text-primary
          Что, вероятно, может помешать в будущем плодотворному функционированию всех перечисленных в B и С  ресурсов и как с этим предлагается бороться?
        %h5.text-success Пояснения
        %ul
          %li Укажите, что может помешать в будущем плодотворному функционированию всех перечисленных в B и С  ресурсов
          %li Приведите варианты решения
        %br
        -#%h4.text-success Пример правильного заполнения
        -#%h5.text-success D.
        -#%p.text-info Что, вероятно, может помешать в будущем плодотворному функционированию всех перечисленных в B и С  ресурсов и как с этим предлагается бороться?
        %h5.text-success Примеры
        %p Помех не предвидится.
        %hr
        %p Возможны большие издержки

      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Я все понял!

#prompt10.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body
        %h5.text-success F.
        %h4.text-primary
          Кто и как будет контролировать создание и поддержание должных УСЛОВИЙ, разрешение ЗАДАЧ и предотвращение НЕЖЕЛАТЕЛЬНЫХ ПОБОЧНЫХ ЭФФЕКТОВ?
        %h5.text-success Пояснения
        %ul
          %li Покажите, Кто и как будет контролировать создание и поддержание должных УСЛОВИЙ и предотвращение НЕЖЕЛАТЕЛЬНЫХ ПОБОЧНЫХ ЭФФЕКТОВ
          %li Постарайтесь учесть все моменты
        %br
        -#%h4.text-success Пример правильного заполнения
        -#%h5.text-success F.
        -#%p.text-info Кто и как будет контролировать создание и поддержание должных УСЛОВИЙ, разрешение ЗАДАЧ и предотвращение НЕЖЕЛАТЕЛЬНЫХ ПОБОЧНЫХ ЭФФЕКТОВ?
        %h5.text-success Примеры
        %p Орган самоуправления жильцов
        %hr
        %p Избирательные коммисии

      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Я все понял!

#prompt11.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title Пояснения и пример правильного заполнения
      .modal-body
        %h5.text-success F.
        %h4.text-primary
          Какие ресурсы требуются для этого контроля?
        %h5.text-success Пояснения
        %ul
          %li Покажите, Какие ресурсы требуются для этого контроля?
          %li Постарайтесь учесть все моменты
        %br
        %h5.text-success Примеры
        -#%h5.text-success F.
        -#%p.text-info Какие ресурсы требуются для этого контроля?
        %p Представитель самоуправления, ответственный за сбор денег у жильцов.
        %hr
        %p Человек ответсвенный за содержание территории.

      .modal-footer
        %button.btn.btn-primary(type = "button" data-dismiss="modal") Я все понял!