@for $i from 1 through length($base_colors) {
  .stage_#{$i} {
    .add-techniq {
      background: rgba(nth($base_colors, $i), .1);
    }
  }
  .cab-horiz-tabs > li:nth-child(#{$i}) {
    &.active a {
      color: nth($base_colors, $i);
    }
  }
}


.cab-menu {
  text-align: right;
  .add-techniq {
    border: 1px solid #d1d1d1;
    padding: 10px;
    border-radius: 3px;

    a {
      font-size: 13px;
      line-height: 1.2;
      padding: 7px;
      white-space: normal;
      border-radius: 4px;
      text-align: right;
    }
  }

  .menu {
    display: inline;
    list-style: none;
    li {
      width: 100%;
      margin: 10px 0;
      position: relative;
      a.btn {
        width: 100%;
        @include background-image(linear-gradient(to bottom, #fff 0%, #f3f3f3 100%));
        text-align: right;
        padding: 6px 10px;
        width: 100%;
        border: 1px solid #b1b1b1;
        border-radius: 5px;
        color: black;
      }
      &.active .btn {
        &:after, &:before {
          right: -18px;
          margin-top: -8.5px;
          border: solid transparent;
          content: " ";
          display: block;
          top: 50%;
          height: 0;
          width: 0;
          position: absolute;
        }

        &:before {
          border-color: rgba(211, 211, 211, 0);
          border-width: 9.5px;
          border-left-color: #848484;
        }
      }
    }
  }
}

.cab-horiz-tabs {
  border-bottom: 0;
  > li > a {
    margin-bottom: 1px;
    margin-right: 4px;
    padding: 7px 27px 6px 17px;
    border: 1px solid #c1c1c1;
    border-bottom: 0;
    color: #5d5d5d;
    @include background-image(linear-gradient(to bottom, #fff 0%, #f1f1f1 100%));
    > .marked {
      font-size: 1.1em;
      font-weight: bold;
      margin-right: 5px;
    }
    &:hover {
      border: 1px solid #c1c1c1;
      border-bottom: 0;
    }
  }
  > li.active > a {
    background: #ffffff;
    margin-bottom: 1px;
    border: 1px solid #c1c1c1;
    border-bottom: 0;
    &:hover {
      border-bottom: 0;
    }
  }
}

.cab-user {
  padding: 7px 15px;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  margin-bottom: 15px;
  border: 1px solid #d1d1d1;
  background-color: #ededed;
  background-image: image-url('background/stripes_back.png');
  background-repeat: repeat;
  img {
    @include circle50;
    z-index: 2;
    position: relative;
  }
  .name {
    position: relative;
    z-index: 1;
    margin-right: 60px;
    a {
      display: inline-block;
      position: relative;
      padding: 5px 20px;
      margin: 0;
      left: -15px;
      z-index: 1;
      border-radius: 10px;
      box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.4);
      background: white;
    }
    &:after {
      content: " ";
      position: absolute;
      z-index: -1;
      width: 55px;
      height: 32px;
      top: 3px;
      right: -14px;
      background: image-url('background/grey_ribbon.png') no-repeat;
    }
  }
}
