.cab-cont-block {
  position: relative;
  margin-bottom: 15px;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  background: white;
  border: 1px solid #d1d1d1;
  padding: 12px;
  .content {
    padding-top: 10px;
    h5 {
      font-size: 13px;
      font-weight: bold;
      line-height: 30px;
      color: #5b5b5b;
    }
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #CDCDCD;
  }
}

.profile {
  padding: 0 20px;
  .profile_icon {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #c7c7c7;
    border-radius:50%;
    margin-bottom: 10px;
    img {
      padding: 10px 0;
    }
  }
}

