.post-form-block {
  background: white;
  border-top: 4px solid white;
  border-radius: 4px;
  .post-body {
    width: 100%;
    height: 100%;
    border: $border_grey;
    display: table;
    .post-poster, .post-content {
      height: 100%;
      display: table-cell;
    }
    .post-poster {
      width: 15%;
      background: linear-gradient(to top, #fff, #e9eff7);
      border-right: 1px solid #d7d9dd;
      text-align: center;
      padding: 20px 10px;
      font-size: 9px;
      img {
        @include circle40;
        margin-bottom: 10px;
      }
      a.name {
        color: black;
      }
    }
    .post-content {
      width: 85%;
      padding: 0 15px 10px 15px;
      .badge {
        margin: 10px 10px 10px 0;
        padding: 4px 5px;
        border-radius: 3px;
        background: $grey;
      }
      .form-group {
        margin: 5px 0 10px 0;
        textarea {
          @include input-placeholder {
            color: #555;
          }
        }
      }
    }
  }
  .post-footer {
    padding: 7px 17px;
    width: 100%;
    border-left: $border_grey;
    border-right: $border_grey;
    border-bottom: $border_grey;
    border-radius: 4px;
    text-align: right;
  }
}
