@for $i from 1 through length($base_colors) {
  .stage_#{$i} {
    a.collapser {
      color: nth($base_colors, $i);

    }
  }
}

a.collapser {
  font-weight: bold;
  font-size: 12px;
  display: block;
}

@for $i from 3 through 6 {
  .stage_#{$i} {
    .content-block .content-head {
      background: nth($service_colors, $i - 2);
    }
  }
}

.content-block {
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  margin: 15px 0;
  overflow: hidden;
  font-size: 12px;
  position: relative;
  background: white;
  .content-head{
    margin:-10px -20px 20px -20px;
    padding: 10px 20px;


  }
  .form-group {
    label {
      margin-bottom: 8px;
      font-weight: 400;
    }
  }
  &.example {
    p:nth-child(2n) {
      margin: 10px 0 20px 0;
      color: #9e9e9e;
    }
  }
  hr {
    height: 1px;
    margin-top: 10px;
    background: #cdcdcd;
  }
}
