$border_grey: 1px solid #d9d9d9;
@for $i from 1 through length($base_colors) {
  .stage_#{$i} {
    .post_full .what a,.post_full .post_footer .likes i {
      color: nth($base_colors, $i)  !important;
    }
  }
}
.post_full {
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
  .admin_panel {
    padding: 5px;
    background: rgba(228, 228, 228, 0.7);
    a i {
      color: #5b5b5b;
    }
  }
  .post_block {
    border-top: 4px solid white;
    .post_body {
      width: 100%;
      height: 130px;
      border: $border_grey;
      .post_poster, .post_content {
        position: relative;
        height: 100%;
        float: left;
      }
      .post_poster {
        width: 17%;
        background: linear-gradient(to top, #fff, #e9eff7);
        border-right: 1px solid #d7d9dd;
        text-align: center;
        padding: 20px 10px;
        font-size: 9px;
        img {
          @include circle40;
          margin-bottom: 10px;
        }
        a.name {
          color: black;
        }
      }
      .post_content {
        width: 83%;
        overflow: hidden;
        line-height: 1.2;
        .what {
          padding: 10px 25px 10px 10px;
          border-bottom: $border_grey;
          min-height: 40px;
          a {
            font-size: 13px;
            font-weight: bold;

          }
          .right_icon {
            position: absolute;
            right: 8px;
            top: 12px;
            i {
              font-size: 15px;
              margin-right: 3px;
              &.fa {
                font-size: 30px;
                margin-top: -7px;
              }
            }
          }
        }
        .about {
          padding: 5px 15px 5px 8px;
          color: #666666;
          .right_icon {
            position: absolute;
            font-size: 36px;
            right: 10px;
            top: 40%;
          }
        }
      }
    }
    .post_footer {
      background: white;
      border-left: $border_grey;
      border-right: $border_grey;
      border-bottom: $border_grey;
      height: 30px;
      width: 100%;
      .tags_block, .likes {
        height: 100%;
        float: left;
      }
      .tags_block {
        width: 79%;
        .title {
          font-size: 12px;
          padding: 5px 0 5px 7px;
          position: relative;
          float: left;
        }
        .post-theme {
          overflow: hidden;
          padding: 5px 10px;
          height: 25px;
          position: absolute;
          margin-top: 2px;
          margin-left: 100px;
          transition: all 0.1s linear;
          white-space: nowrap;
          width: 320px;
          display: list-item;
          &:hover {
            z-index: 100;
            background: #fff;
            width: auto;
            box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
          }
        }
      }
      .likes {
        padding: 4px 5px;
        width: 21%;
        text-align: right;
        span {
          margin-right: 2px;
        }
      }
    }
  }
}

.important {
  width: 20px;
  height: 30px;
  margin-left: 7px;
  position: absolute;
}

