- unless @news.nil?
	%h1 Новости
	%p.righttext
		= @news.anons
		= link_to 'подробнее',  expert_news_post_path(@project, @news)
-unless @journals.nil?
	.redtitle Активность
	- @journals.each do |journal|
		%p.righttext
			=Russian::strftime(journal.created_at,"%d %B %k:%M:%S ")
			%b= journal.user.name_title
			= journal_parser(journal, @project.id).html_safe
		=image_tag 'dots.png', :width => '260px'