/ -#.redtitle Cферы недовольств
/ - @categories.each do |category|
/ 	%a{:href  => life_tape_path(category.id), :class => 'topic'}
/ 		%div.topics
/ 			%p.greentitle= "#{category.name} (#{category.posts.count})"			
/ 			%p.righttext= category.short_desc

- unless @news.nil?
	%h1 Новости
	%p.righttext
		= @news.anons
		= link_to 'подробнее', :action => 'show', :project => @project, :id => @news.id


