
-#$('#Send').animate({left: 0, opacity: 0},  "normal",  function(){$('#Send').css('display','none')})
-#$("#new_life_tape").animate({height: 0}, "normal", function(){$('#new_life_tape').css('display','none')})
-#$("#add_record").fadeIn('slow')
$("#comment_text_area").val('')
$('#comments').prepend("#{escape_javascript(render :partial => 'shared/comment', :object => @comment)}")
$('#comment_success').fadeIn('slow').delay(1000).fadeOut('slow');
$('#send').addClass('disabled')

