$("#child_comments_form_#{@main_comment.id}").html("#{escape_javascript(render :partial => 'shared/comment_form', :locals => { :comment => @comment, :url_link => @url_link, :comment_user => @comment_user })}");
