-if @comment
  -if params[:discuss_status]
    -if @comment.discuss_status
      $('#discuss_status_comment_#{@comment.id} span').removeClass('label-default').addClass('label-danger')
    -else
      $('#discuss_status_comment_#{@comment.id} span').removeClass('label-danger').addClass('label-default')

  -if params[:approve_status]
    $('#approve_status_comment_#{@comment.id} span').toggleClass('theme_font_color')

