-if @post and params[:discuss_status]
  -if @post.class.name.deconstantize == "Discontent"
    $('#discuss_stat_post_#{@post.id} span').toggleClass('label-default label-danger')
    $('#post_#{@post.id}').toggleClass('discuss_comment')
  -elsif @post.class.name.deconstantize == "Concept"
    $('#discuss_stat_post_#{@post.id} span').toggleClass('label-default label-danger')
    $('#post_#{@post.id}').toggleClass('discuss_comment')