-if @post and ["Discontent","Concept"].include? @post.class.name.deconstantize
  -if params[:discuss_status]
    $('#discuss_stat_post_#{@post.id} span').toggleClass('label-default label-danger')
    $('#post_#{@post.id}').toggleClass('discuss_comment')
  -elsif params[:approve_status]
    $('#approve_stat_post_#{@post.id} span').toggleClass('label-default label-success')