.redtitle Отклонение
= form_for @note, :url => url_for(:action => 'expert_rejection_save'), :method => :put  do |f|
	Добавьте причину отклонения и нажмите отправить
	.field
		=f.text_area :content
	.action
		=f.submit '', class: 'btn'