.redtitle Отклонение
= form_for @note, :url => expert_rejection_save_concept_post_path, :method => :put  do |f|
	Добавьте причину отклонения и нажмите отправить
	.field
		=f.text_area :content
	.action
		=f.submit '', class: 'btn'