-#$("#plus_post_#{@post.id}").fadeIn(3000).fadeOut(3000);
-if @post
  -if @post.useful
    $('#plus_post_#{@post.id}').addClass('theme_font_color')
  -else
    $('#plus_post_#{@post.id}').removeClass('theme_font_color')
