$("#render_for_post").html('#{escape_javascript(render partial: 'popup_post')}');
magnificPopupOpen('#popup-post');
comments_feed();
comments_expandable_column();
comments_collapse_column();
colors_for_content();

if ($('#gantEditorTemplates').length > 0){
ge = new GanttMaster();
ge.init($("#workSpace"));
project = "#{@post.try(:tasks_gant).try(:to_json).try(:html_safe)}";
project.canWrite = false;
ge.loadProject(project);
setTimeout(function() { ge.gantt.refreshGantt()}, 3000);
-#ge.gantt.refreshGantt();
}

$('.with_arrow').click(function () {$(this).find('i.collapse_arrow').toggleClass('fa-rotate-90');});
$('.with_plus').click(function () { $(this).find('i.collapse_plus').toggleClass('fa-plus').toggleClass('fa-minus');});
$("[data-toggle=tooltip]").tooltip();
$('html, body').animate({scrollTop: $(window.location.hash).offset().top}, 1000);





































