= form_for @note, :url => url_for(:action => 'to_expert_save'), :method => :put  do |f|
	Добавьте, если нужно комментарий для эксперта и нажмите отправить
	.field
		=f.text_area :content
	.action
		=f.submit '', class: 'btn'