%h1 Голосование по итогам этапа
.success=link_to 'Вы также можете оставить свое мнение о прошедшем этапе или почитать другие', essay_posts_path(@project, @project.status), :id => 'essay_list'
%small Темы, которые наберут менее 10% голосов (электоральный барьер), будут исключены из дальнейшего рассмотрения.
%br
%small Участники, подавшие все 5 своих голосов за темы, преодолевшие электоральный барьер, получат по 20 премиальных баллов.
%br
- unless @number_v<1
	Количество имеющихся голосов - 
	%span.rate
		%span#count_vote=@number_v

	= render :partial => 'shared/post_for_vote', :collection => @posts,  :locals => { :path_for_voting => @path_for_voting, :count_voted => @number_v, :votes => @votes}
- else
	%b Спасибо за участие в голосовании!
	%br
