%h3.text-info
  =t('voting.lifetape.title')
  %br
%span(style='font-size: 20px;line-height: 30px;')
  =t('voting.lifetape.name')

%br
- if boss?
  .pull-right
    =t('show.sort')
    =link_to t('show.sort_default'), {action: :vote_list },remote: true, class: "vote_class", id: "vote_all"
    |
    =link_to t('show.sort_vote_asc'), {action: :vote_list, revers: 0 },remote: true, class: "vote_class", id: "vote_all"
    |
    =link_to t('show.sort_vote_desc'), {action: :vote_list, revers: 1 },remote: true, class: "vote_class", id: "vote_all"
  %br
  %br

#stage_success(style="display:none;")
  %section
    .body
      .text-center
        %h3=t('voting.thanks')
        .col-md-6
          =link_to t('voting.go_reflection'), new_essay_post_path(@project, 1),class: "btn btn-lg btn-success"
        .col-md-6
          =link_to t('voting.lifetape.go_list'), life_tape_posts_path(@project),class: "btn btn-lg btn-primary"
      %br
      %br
%br
%br
%br
- unless @number_v<1  and not boss?
  %section.widget
    %h4
      =t('voting.lifetape.select', num: @project.stage1_count)
    %h3.text-info
      =t('voting.have_votes')
      %b#count_vote=@number_v

  #vote_container
    = render partial: 'shared/post_for_vote', collection: @posts,  locals: { path_for_voting: @path_for_voting, count_voted: @number_v, votes: @votes}
