%h3 Голосование за самые актуальные аспекты

-#.success=link_to 'Вы также можете оставить свое мнение о прошедшей стадии или почитать другие', essay_posts_path(@project, @project.status), :id => 'essay_list'
%br
%br
- if boss?
  %b
  проголосовало
  =@voted_people
  из
  =@all_people
  Отдано голосов
  =@votes
  %br

- unless @number_v<1  and not boss?
  .alert.alert-info
    %h3.text-danger
      =t('voting.have_votes')
      %b#count_vote=@number_v



  = render :partial => 'shared/post_for_vote', :collection => @posts,  :locals => { :path_for_voting => @path_for_voting, :count_voted => @number_v, :votes => @votes}
- else
  %b Спасибо за участие в голосовании!
  %br
