-#.success=link_to 'Вы также можете оставить свое мнение о прошедшей стадии или почитать другие', essay_posts_path(@project, @project.status), :id => 'essay_list'

.row
  .col-md-12
    %h3.text-info
      1 этап: Сбор информации. Голосование
      %br
    %span(style='font-size: 20px;line-height: 30px;')
      Определение наиболее важных тем процедуры:
      =@project.name

%br
- if boss?
  -#%b
  -#проголосовало
  -#=@voted_people
  -#из
  -#=@all_people
  -#Отдано голосов
  -#=@votes
  .pull-right
    Показана сортировка,
    =link_to "по умолчанию", {:action => :vote_list },:remote => true, class: "vote_class", id: "vote_all"
    |
    =link_to "по голосам(убыванию)", {:action => :vote_list, :revers => 0 },:remote => true, class: "vote_class", id: "vote_all"
    |
    =link_to "по голосам(возрастанию)", {:action => :vote_list, :revers => 1 },:remote => true, class: "vote_class", id: "vote_all"
  %br


%h4.color-green#stage_success(style="display:none;" ) Спасибо за участие в голосовании!
%br
- unless @number_v<1  and not boss?
  %section.widget#fixBlock
    %h4
      Вы можете выбрать
      %b=@project.stage1
      тем, которые на Ваш взгляд являются наиболее важными
    %h3.text-info
      =t('voting.have_votes')
      %b#count_vote=@number_v


  #vote_container
    = render :partial => 'shared/post_for_vote', :collection => @posts,  :locals => { :path_for_voting => @path_for_voting, :count_voted => @number_v, :votes => @votes}
