-#закроем попап, если за все посты уже проголосовали
- unless current_user.can_vote_for(@project)
  magnificPopupClose('.popup-vote')

vote_transfer($("#vote_button_#{@post_vote.id}_#{params[:status]}"));
