.wholePost

	.posts
		%span.namedate= post.title
		%br
		%p
			= post.anons
			= link_to "Подробнее", {:action => 'show', :project => @project.id, :id => post.id}, class: "more"
/ - if not current_user.nil? and (current_user.expert? or current_user.admin?)
/ 	= link_to 'Редактировать',{:action => 'edit', :project => @project, :id => post.id}
/ 	/ = link_to 'Удалить', post, :confirm => 'Уверены, Олег?', :method => :delete

.dotline=image_tag('dotline.png')