.wholePost

	.posts
		%span.namedate= @expert_news_post.title
		%br
		%p
			= simple_format(@expert_news_post.content)
- if expert? or admin?
	= link_to 'Редактировать', edit_expert_news_post_path(@expert_news_post)
	= link_to 'Удалить', @expert_news_post, :confirm => 'Уверены, Олег?', :method => :delete


