.media{id: "post_advice_#{post_advice.id}"}
  = render 'users/user_post', user: post_advice.user
  .media-body
    .media-heading
      = link_to post_advice.user, user_path(@project, post_advice.user)
    %span
      = trim_content(post_advice.content)
    %br
    /= link_to t('link.more'), essay_post_path(@project,@stage, post), class: 'btn btn-primary btn-xs'
    /|
    /= render partial: 'post_edit_essay', object: post
    /%br
    /= render 'shared/post_social_bar2', post: post
