

//@import url(../lib/nvd3/src/nv.d3.css);

@import "compass";
@import "font";
@import 'lib/fontello/css/fontello.css';

@import "variables";

@import "bootstrap-original/bootstrap";
@import "bootstrap-original/_mixins";
@import "bootstrap-override";
@import "lib/font-awesome/font-awesome";
//@import "lib/_icheckbox";
//@import "lib/_datepicker";
//@import "lib/_select2";
//@import "lib/_bootstrap-wysihtml5";
//@import "lib/_bootstrap-switch";
//@import "lib/_bootstrap-colorpicker";
//@import "lib/_jqvmap";
//@import "lib/_fullcalendar";
//@import "lib/_jquery.fileupload-ui";
//@import "lib/_backgrid";
//@import "lib/_rickshaw";
//@import "lib/_jquery.datatables";
//@import "lib/_animate";
//@import "lib/nestable";
//@import "lib/messenger-1.4.1/messenger";
//@import "lib/messenger-1.4.1/messenger-spinner";
//@import "lib/messenger-1.4.1/messenger-theme-air";
//@import "lib/bootstrap-slider";

@import "svg";
@import "general";
@import "base";
@import "responsive";
//@import "print";


// Brand colors
// -------------------------

$brand-lifetape:        $teal !default;
$brand-discontent:      $pink !default;
$brand-concept:         $orange !default;
$brand-plan:            $lime !default;
$brand-estimate:        #663505 !default;

.text-lifetape         { color: $brand-lifetape; }
.text-discontent       { color: $brand-discontent; }
.text-concept          { color: $brand-concept; }
.text-plan             { color: $brand-plan; }
.text-estimate         { color: $brand-estimate; }

.label-lifetape    { @include label-variant($brand-lifetape);}
.label-discontent  { @include label-variant($brand-discontent);}
.label-concept     { @include label-variant($brand-concept);}
.label-plan        { @include label-variant($brand-plan);}
.label-estimate    { @include label-variant($brand-estimate);}

