//@import "bootstrap-original/bootstrap";
//@import "bootstrap-original/_mixins";
//@import "bootstrap-override";
//@import url(bootstrap.min.css);
@import 'bootstrap.min';
@import 'font-awesome';
@import 'magnific-popup';
@import 'owl.carousel';
@import 'style';
@import 'custom';
//@import 'jquery.ui.autocomplete';

//@import url(font-awesome.min.css);

//@import 'smart-forms';
//@import 'skin-lblue';
//@import 'settings';
//@import url(../lib/nvd3/src/nv.d3.css);

//@import "compass";
//@import "font";
//@import 'lib/fontello/css/fontello';

//@import "variables";

//@import "lib/font-awesome/font-awesome";
//@import "lib/_icheckbox";
//@import "lib/_datepicker";
//@import "lib/_select2";
//@import "lib/_bootstrap-wysihtml5";
//@import "lib/_bootstrap-switch";
//@import "lib/_bootstrap-colorpicker";
//@import "lib/nv.d3.min";
//@import "lib/nv.d3";

//@import "lib/_jqvmap";
//@import "lib/_fullcalendar";
//@import "lib/_jquery.fileupload-ui";
//@import "lib/_backgrid";
//@import "lib/_rickshaw";
//@import "lib/_jquery.datatables";
//@import "lib/_animate";
//@import "lib/nestable";
//@import "lib/messenger-1.4.1/messenger";
//@import "lib/messenger-1.4.1/messenger-spinner";
//@import "lib/messenger-1.4.1/messenger-theme-air";
//@import "lib/bootstrap-slider";
//@import "bootstrap3-editable/bootstrap-editable";
//@import "selectize";
//@import "selectize.default";

//@import "svg";
//@import "general";
//@import "base";
//@import "responsive";
//@import "themes/jquery.ui.ui-darkness";
//@import "jquery.ui.core";
//@import "jquery.ui.theme";
//@import "moderator_chat";
//@import "group_chat";
//@import "datepicker/datepicker3";
//@import "print";

//@import "jquery.ui.chatbox";

.select_aspect {
  background-color: gray;
}

.btn.answer-question {
  text-align: left;
  white-space: normal;
}

.text-align-center {
  text-align: center;
}

/***********************************/
/**          ACCOUNT             **/
/**********************************/

$backgroundGray: #333 !default;
.account {
  width: 180px;
  background: rgba($backgroundGray, .85);
  border: none;
}

.navbar .nav > li > .account {
  &:before {
    border-bottom: none;
  }
  &:after {
    border-bottom-color: rgba($backgroundGray, .85);
  }
}

.account-picture {
  padding: 5px 10px;
  font-weight: normal;
  img {
    width: 50px;
    margin-right: 5px;
  }
}

.account > li > a {
  padding: 7px 10px;
}

/***********************************/
/**          LOGIN                **/
/**********************************/

.single-widget-container {
  left: 0;
  top: 50%;
  margin-top: -(385px / 2);
  position: absolute;
  width: 100%;

  .widget {
    margin: 0 auto;
  }
}

.login-widget, .registration-widget {
  width: 350px;
  padding-bottom: 0;

  header {
    margin: 15px 0 25px 0;
  }

  input[type="email"],
  input[type="password"] {
    font-size: 13px;
  }

  .input-group-addon {
    padding: 8px 7px;
    i {
      &, &:before, &:after {
        width: 20px;
        margin: 0;
      }
    }
  }

  .form-actions {
    margin: 0 -12px;
    padding: 20px 15px 0 15px;

    .btn-lg {
      padding: 10px 18px;
    }

    .small-circle {
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 50%;
      background: rgba(0, 0, 0, .2);
      vertical-align: middle;

      i {
        position: relative;
        left: 1px;
      }
    }
    .forgot {
      text-align: center;
      padding: 15px 0 15px 0;
    }
  }

  footer {
    margin: 0 -12px;
    position: static;
  }

  .facebook-login {
    height: 30px;
    background: #618fb0;
    text-align: center;
    padding-top: 10px;

    a {
      display: block;
      text-shadow: none;
      text-decoration: none;
    }

  }
}
