/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font: 13pt Helvetica;
  width: 100%;
  height: 100%;
  color: #676767;
}
a {
  color: blue;
  outline: none;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
p {
  margin: 0 0 18px
}
img {
  border: none;
}
input {
  vertical-align: middle;
}
#wrapper {
  width: 1280px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
  height: 150px;
  background: url(top.jpg) ;
  background-repeat:no-repeat;
  img {
    padding-top: 20px;
   }
   a:link, a:active, a:visited {
    font-family: Helvetica;
    font-size: 11pt;
    font-weight: bold;
    color: #676767;
    text-decoration: underline;
  }
  a:hover {
  color: #248ec5;
  }
  ul.username{
    float: right;
    padding-right:20px;
    li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 0px 0px 0px !important;
  
   }
   a:link, a:active, a:visited {
    font-size: 10pt;
     color: white;
   } 
   a:hover {
      color: #468800;
   }
  }
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
  width: 100%;
  padding: 0 0 100px;
  height: 1%;
  position: relative;
}
#middle:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
#container {
  width: 100%;
  float: left;
  overflow: hidden;
}
#content {
  padding: 0 270px 0 10px;
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
  float: left;
  margin-right: -3px;
  width: 250px;
  margin-left: -250px;
  position: relative;

}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
  width: 1280px;
  margin: -100px auto 0;
  height: 100px;
  background: url(footer.jpg);
  position: relative;
  text-align: center;

  a:link, a:active, a:visited, a:hover {
    font-family: Helvetica;
    font-size: 13pt;
    color: #ffffff;
    text-decoration: underline;
  }
}

nav {
  float: right;
}

nav {
 
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 45px 20px 10px 20px;
}




.container {
  width: 810px;
}

body {
  background: #fff;
}


footer {

  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
  width:900px;
}

section h1 {
  font-size: 16px;
  color: #651366;
}

/* Links */

a {
  color: #e7204e;
  text-decoration: none;
}

a:hover {
  color: #a71a5b;
  text-decoration: underline;
}

a:visited {
  color: #a71a5b;
}

h2{
  font-size: 14px;
}
h1{
  font-size: 16px;
}
/* Navigation */


div.field, div.actions {
  margin-bottom: 10px;
}
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}
h1.frustration {
  margin-bottom: 0.3em;
}

table.frustrations {
  margin-top: 1em;
}

table.frustrations tr {
  height: 70px;
}

table.frustrations tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.frustrations tr td.frustration {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

table.front td{
  vertical-align:top;
}
.td_top{
  width: 250px;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.frustrations {
  font-size: 80%;
}

form.new_frustration {
  margin-bottom: 2em;
}

form.new_frustration textarea, form.edit_frustration textarea {
  height: 4em;
  margin-bottom: 0;
}
.remaining, .countdown {
  display: inline;
  color: grey;
  float: left;
}
.btn-large {
  float:left;
}

.overlimit {
  color: red;
}

.almostlimit {
  color: green;
}

.nearlimit {
  color: gray;
}