//@import url(bootstrap.min.css);
//@import url(font-awesome.min.css);

//@import 'bootstrap.min';
@import 'bootstrap';
@import 'font-awesome.min';
@import 'magnific-popup';
@import 'owl.carousel';

//@import 'smart-forms';
@import 'style';
//@import 'skin-lblue';

@import 'style-4';
//@import 'style-29';
//@import 'style-11';

//@import 'settings';
//@import 'style';
//@import 'skin-lblue';
//@import 'custom';
@import 'custom-ts';
@import 'custom_12';

//@import url(../lib/nvd3/src/nv.d3.css);

//@import "compass";
//@import "font";
//@import 'lib/fontello/css/fontello';

//@import "variables";

//@import "bootstrap-original/bootstrap";
//@import "bootstrap-original/_mixins";
//@import "bootstrap-override";
//@import "lib/font-awesome/font-awesome";
//@import "lib/_icheckbox";
//@import "lib/_datepicker";
//@import "lib/_select2";
//@import "lib/_bootstrap-wysihtml5";
//@import "lib/_bootstrap-switch";
//@import "lib/_bootstrap-colorpicker";
//@import "lib/nv.d3.min";
//@import "lib/nv.d3";


//@import "lib/_jqvmap";
//@import "lib/_fullcalendar";
//@import "lib/_jquery.fileupload-ui";
//@import "lib/_backgrid";
//@import "lib/_rickshaw";
//@import "lib/_jquery.datatables";
//@import "lib/_animate";
//@import "lib/nestable";
//@import "lib/messenger-1.4.1/messenger";
//@import "lib/messenger-1.4.1/messenger-spinner";
//@import "lib/messenger-1.4.1/messenger-theme-air";
//@import "lib/bootstrap-slider";
//@import "bootstrap3-editable/bootstrap-editable";
//@import "selectize";
//@import "selectize.default";

//@import "svg";
//@import "general";
//@import "base";
//@import "responsive";
//@import "themes/jquery.ui.ui-darkness";
//@import "jquery.ui.core";
//@import "jquery.ui.theme";
//@import "moderator_chat";
//@import "group_chat";
//@import "datepicker/datepicker3";
//@import "print";

//@import "jquery.ui.chatbox";


// Brand colors
// -------------------------

//$brand-lifetape:        $teal !default;
//$brand-discontent:      $pink !default;
//$brand-concept:         $orange !default;
//$brand-plan:            $lime !default;
//$brand-estimate:        #663505 !default;
//
//.text-lifetape         { color: $brand-lifetape; }
//.text-discontent       { color: $brand-discontent; }
//.text-concept          { color: $brand-concept; }
//.text-plan             { color: $brand-plan; }
//.text-estimate         { color: $brand-estimate; }
//.text-towork { color: $teal !important;}
//.text-essay {color: $green !important;}
//
//.label-lifetape    { @include label-variant($brand-lifetape);}
//.label-discontent  { @include label-variant($brand-discontent);}
//.label-concept     { @include label-variant($brand-concept);}
//.label-plan        { @include label-variant($brand-plan);}
//.label-estimate    { @include label-variant($brand-estimate);}
//
//
///*todo my styles top*/

.select_aspect{
  background-color: gray;
}

.btn.answer-question{
  text-align: left;
  white-space: normal;
}


//textarea.concept_cond {
//  max-height: 200px !important;
//}
//
//
///* discontent posts */
//.label-t {
//  @include label-variant($teal);
//}
//
//.label-n {
//  @include label-variant($brand-danger);
//}
//
//.label-p {
//  @include label-variant($green);
//}
//
//.label-g {
//  @include label-variant($gray-light);
//}
//
//.widget-tabs .tab-content .row {
//  margin-left: 0 !important;
//  margin-right: 0 !important;
//}
//
//.disabled_award{
//  opacity: 0.2;
//}
//.note_text {
//  text-decoration: none !important;
//}
//
//.unread_news {
//  background-color: #434666;
//}
//
//.help-orange {
//  color: #ebcd70;
//}
//
//.discuss_comment {
//  list-style: none;
//  background-color: lighten($message-warning, 10%);
////  margin-left: 15px;
//  li {
//    margin-bottom: 0px !important;
//    margin-left: 15px !important;
//    padding: 5px;
//    border-top: none !important;
//    text-decoration: none !important;
//  }
//}
//
//.radio-filter,
//.checkbox-filter {
//  display: block;
//  min-height: $line-height-computed; // clear the floating input if there is no label text
//  margin-top: 10px;
//  margin-bottom: 10px;
//  //  padding-left: 20px;
//  label {
//    display: inline;
//    font-weight: normal;
//    cursor: pointer;
//  }
//}
//
//.sort_content {
//  background-color: rgb(110, 110, 174);
//}
//
//.mean_otstup {
//  text-indent: 50px;
//}
//
//.tooltip-inner {
//  white-space:pre-wrap;
//}
//
//.expert_comment {
//  background-color: rgba(215, 233, 208, 0.3) !important;
//}
//
//p, a {
//  word-wrap: break-word;
//}
//
//.discontent-list .news-item-info {
//  margin-left: 62px;
//}
//
///*Raiting users*/
//.top3 {
//  background: rgba(51, 51, 51, 0.4);
//}
//.top10 {
//  background: rgba(51, 51, 51, 0.2);
//}
//.ui-state-default {
//  border: none;
//  background: none;
//  color: white;
//}
//.ui-state-default a div{
//  color: white;
//}
//.widget-panel .tab-content {
//  overflow: visible !important;
//}
//
///***********************************/
///*            WIZARD               */
///***********************************/
//.wizard-navigation.nav-pills li.active a {
//  background-color: #618FB0 !important;
//}
//
//.form-wizard .progress {
//  margin-bottom: 10px;
//}
//
//.wizard-navigation {
//  margin-bottom: 5px;
//}
//.wizard-navigation a {
//  color: #f8f8f8;
//}
//
//.concept-name {
//  background-color: #f4f4f4;
//  border-top: 0.5px solid grey;
//  border-bottom: 0.5px solid grey;
//  padding-top: 5px;
//  padding-bottom: 5px;
//  text-align: center;
//}
//
//.autocomplete,
//.ui-autocomplete-input,
//.ui-autocomplete {
//  max-height: 200px !important;
//  overflow-y: auto !important;
//  /* prevent horizontal scrollbar */
//  overflow-x: hidden !important;
//}
//
//.popover-concept {
//  max-width: 600px !important;
//  background-color: rgba(51, 51, 51, 1) !important;
//}
//.popover-concept-title {
//  background-color: rgba(43, 43, 43, 1) !important;
//}
//
//.popover-concept-modal {
//  background-color:#fff !important;
//  color: #555 !important;
//}
//
//.popover-title-modal {
//  background-color:#f7f7f7 !important;
//  border-bottom:1px solid #ebebeb !important;
//  color: #555 !important;
//}
//.example-concept {
//  cursor: pointer;
//}
//
//.plus-concept {
//  /*border-bottom: 1px solid #eac85e;*/
//  padding-bottom: 2px;
//  padding-top: 2px;
//}
//.concept-devider {
//  border-bottom: 1px solid #eac85e;
//}
//
//.dis-comment {
//  line-height: 20px !important;
//}
//
//.news-list li.union-list {
//  padding: 0;
//  margin: 0 0;
//}
//.ul-union-list {
//  list-style: disc inside;
//}
//.ul-union-list li {
//  border: none;
//}
///*#toTop {*/
///*width:100px;*/
///*border:1px solid #ccc;*/
///*background:#f7f7f7;*/
///*text-align:center;*/
///*padding:5px;*/
///*position:fixed;*/
///*bottom:10px; *//* отступ кнопки от нижнего края страницы*/
///*left:10px;*/
///*cursor:pointer;*/
///*display:none;*/
///*color:#333;*/
///*font-family:verdana;*/
///*font-size:11px;*/
///*}*/
///*.scrollup{*/
///*width:40px;*/
///*height:40px;*/
///*opacity:0.3;*/
///*position:fixed;*/
///*bottom:50px;*/
///*right:100px;*/
///*display:none;*/
///*text-indent:-9999px;*/
///*background: url('/img/icon_top.png') no-repeat;*/
///*}*/
//
//#toTop {
//  display:none;
//  text-decoration:none;
//  position:fixed;
//  bottom:10px;
//  left:10px;
//  overflow:hidden;
//  width:51px;
//  height:51px;
//  border:none;
//  text-indent:100%;
//  background:image-url("img/ui.totop.png") no-repeat left top;
//}
//
//#toTopHover {
//  background:image-url("img/ui.totop.png") no-repeat left -51px;
//  width:51px;
//  height:51px;
//  display:block;
//  overflow:hidden;
//  float:left;
//  opacity: 0;
//  -moz-opacity: 0;
//  filter:alpha(opacity=0);
//}
//
//#toTop:active, #toTop:focus {
//  outline:none;
//}
//
///*todo my styles bottom*/
//
///* Magnific Popup CSS */
//.mfp-bg {
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  z-index: 1042;
//  overflow: hidden;
//  position: fixed;
//  background: #0b0b0b;
//  opacity: 0.8;
//  filter: alpha(opacity=80); }
//
//.mfp-wrap {
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  z-index: 1043;
//  position: fixed;
//  outline: none !important;
//  -webkit-backface-visibility: hidden; }
//
//.mfp-container {
//  text-align: center;
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  left: 0;
//  top: 0;
//  padding: 0 8px;
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box; }
//
//.mfp-container:before {
//  content: '';
//  display: inline-block;
//  height: 100%;
//  vertical-align: middle; }
//
//.mfp-align-top .mfp-container:before {
//  display: none; }
//
//.mfp-content {
//  position: relative;
//  display: inline-block;
//  vertical-align: middle;
//  margin: 0 auto;
//  text-align: left;
//  z-index: 1045; }
//
//.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
//  width: 100%;
//  cursor: auto; }
//
//.mfp-ajax-cur {
//  cursor: progress; }
//
//.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
//  cursor: -moz-zoom-out;
//  cursor: -webkit-zoom-out;
//  cursor: zoom-out; }
//
//.mfp-zoom {
//  cursor: pointer;
//  cursor: -webkit-zoom-in;
//  cursor: -moz-zoom-in;
//  cursor: zoom-in; }
//
//.mfp-auto-cursor .mfp-content {
//  cursor: auto; }
//
//.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  user-select: none; }
//
//.mfp-loading.mfp-figure {
//  display: none; }
//
//.mfp-hide {
//  display: none !important; }
//
//.mfp-preloader {
//  color: #cccccc;
//  position: absolute;
//  top: 50%;
//  width: auto;
//  text-align: center;
//  margin-top: -0.8em;
//  left: 8px;
//  right: 8px;
//  z-index: 1044; }
//.mfp-preloader a {
//  color: #cccccc; }
//.mfp-preloader a:hover {
//  color: white; }
//
//.mfp-s-ready .mfp-preloader {
//  display: none; }
//
//.mfp-s-error .mfp-content {
//  display: none; }
//
//button.mfp-close, button.mfp-arrow {
//  overflow: visible;
//  cursor: pointer;
//  background: transparent;
//  border: 0;
//  -webkit-appearance: none;
//  display: block;
//  outline: none;
//  padding: 0;
//  z-index: 1046;
//  -webkit-box-shadow: none;
//  box-shadow: none; }
//button::-moz-focus-inner {
//  padding: 0;
//  border: 0; }
//
//.mfp-close {
//  width: 44px;
//  height: 44px;
//  line-height: 44px;
//  position: absolute;
//  right: 0;
//  top: 0;
//  text-decoration: none;
//  text-align: center;
//  opacity: 0.65;
//  padding: 0 0 18px 10px;
//  color: white;
//  font-style: normal;
//  font-size: 28px;
//  font-family: Arial, Baskerville, monospace; }
//.mfp-close:hover, .mfp-close:focus {
//  opacity: 1; }
//.mfp-close:active {
//  top: 1px; }
//
//.mfp-close-btn-in .mfp-close {
//  color: #333333; }
//
//.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
//  color: white;
//  right: -6px;
//  text-align: right;
//  padding-right: 6px;
//  width: 100%; }
//
//.mfp-counter {
//  position: absolute;
//  top: 0;
//  right: 0;
//  color: #cccccc;
//  font-size: 12px;
//  line-height: 18px; }
//
//.mfp-arrow {
//  position: absolute;
//  opacity: 0.65;
//  margin: 0;
//  top: 50%;
//  margin-top: -55px;
//  padding: 0;
//  width: 90px;
//  height: 110px;
//  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
//.mfp-arrow:active {
//  margin-top: -54px; }
//.mfp-arrow:hover, .mfp-arrow:focus {
//  opacity: 1; }
//.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
//  content: '';
//  display: block;
//  width: 0;
//  height: 0;
//  position: absolute;
//  left: 0;
//  top: 0;
//  margin-top: 35px;
//  margin-left: 35px;
//  border: medium inset transparent; }
//.mfp-arrow:after, .mfp-arrow .mfp-a {
//  border-top-width: 13px;
//  border-bottom-width: 13px;
//  top: 8px; }
//.mfp-arrow:before, .mfp-arrow .mfp-b {
//  border-top-width: 21px;
//  border-bottom-width: 21px; }
//
//.mfp-arrow-left {
//  left: 0; }
//.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
//  border-right: 17px solid white;
//  margin-left: 31px; }
//.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
//  margin-left: 25px;
//  border-right: 27px solid #3f3f3f; }
//
//.mfp-arrow-right {
//  right: 0; }
//.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
//  border-left: 17px solid white;
//  margin-left: 39px; }
//.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
//  border-left: 27px solid #3f3f3f; }
//
//.mfp-iframe-holder {
//  padding-top: 40px;
//  padding-bottom: 40px; }
//.mfp-iframe-holder .mfp-content {
//  line-height: 0;
//  width: 100%;
//  max-width: 900px; }
//.mfp-iframe-holder .mfp-close {
//  top: -40px; }
//
//.mfp-iframe-scaler {
//  width: 100%;
//  height: 0;
//  overflow: hidden;
//  padding-top: 56.25%; }
//.mfp-iframe-scaler iframe {
//  position: absolute;
//  display: block;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
//  background: black; }
//
///* Main image in popup */
//img.mfp-img {
//  width: auto;
//  max-width: 100%;
//  height: auto;
//  display: block;
//  line-height: 0;
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//  padding: 40px 0 40px;
//  margin: 0 auto; }
//
///* The shadow behind the image */
//.mfp-figure {
//  line-height: 0; }
//.mfp-figure:after {
//  content: '';
//  position: absolute;
//  left: 0;
//  top: 40px;
//  bottom: 40px;
//  display: block;
//  right: 0;
//  width: auto;
//  height: auto;
//  z-index: -1;
//  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
//  background: #444444; }
//.mfp-figure small {
//  color: #bdbdbd;
//  display: block;
//  font-size: 12px;
//  line-height: 14px; }
//
//.mfp-bottom-bar {
//  margin-top: -36px;
//  position: absolute;
//  top: 100%;
//  left: 0;
//  width: 100%;
//  cursor: auto; }
//
//.mfp-title {
//  text-align: left;
//  line-height: 18px;
//  color: #f3f3f3;
//  word-wrap: break-word;
//  padding-right: 36px; }
//
//.mfp-image-holder .mfp-content {
//  max-width: 100%; }
//
//.mfp-gallery .mfp-image-holder .mfp-figure {
//  cursor: pointer; }
//@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
//  /**
//       * Remove all paddings around the image on small screen
//       */
//  .mfp-img-mobile .mfp-image-holder {
//    padding-left: 0;
//    padding-right: 0; }
//  .mfp-img-mobile img.mfp-img {
//    padding: 0; }
//  .mfp-img-mobile .mfp-figure {
//    /* The shadow behind the image */ }
//  .mfp-img-mobile .mfp-figure:after {
//    top: 0;
//    bottom: 0; }
//  .mfp-img-mobile .mfp-figure small {
//    display: inline;
//    margin-left: 5px; }
//  .mfp-img-mobile .mfp-bottom-bar {
//    background: rgba(0, 0, 0, 0.6);
//    bottom: 0;
//    margin: 0;
//    top: auto;
//    padding: 3px 5px;
//    position: fixed;
//    -webkit-box-sizing: border-box;
//    -moz-box-sizing: border-box;
//    box-sizing: border-box; }
//  .mfp-img-mobile .mfp-bottom-bar:empty {
//    padding: 0; }
//  .mfp-img-mobile .mfp-counter {
//    right: 5px;
//    top: 3px; }
//  .mfp-img-mobile .mfp-close {
//    top: 0;
//    right: 0;
//    width: 35px;
//    height: 35px;
//    line-height: 35px;
//    background: rgba(0, 0, 0, 0.6);
//    position: fixed;
//    text-align: center;
//    padding: 0; } }
//
//@media all and (max-width: 900px) {
//  .mfp-arrow {
//    -webkit-transform: scale(0.75);
//    transform: scale(0.75); }
//  .mfp-arrow-left {
//    -webkit-transform-origin: 0;
//    transform-origin: 0; }
//  .mfp-arrow-right {
//    -webkit-transform-origin: 100%;
//    transform-origin: 100%; }
//  .mfp-container {
//    padding-left: 6px;
//    padding-right: 6px; } }
//
//.mfp-ie7 .mfp-img {
//  padding: 0; }
//.mfp-ie7 .mfp-bottom-bar {
//  width: 600px;
//  left: 50%;
//  margin-left: -300px;
//  margin-top: 5px;
//  padding-bottom: 5px; }
//.mfp-ie7 .mfp-container {
//  padding: 0; }
//.mfp-ie7 .mfp-content {
//  padding-top: 44px; }
//.mfp-ie7 .mfp-close {
//  top: 0;
//  right: 0;
//  padding-top: 0; }

