//= require_tree .
//= require jquery.ui.all
//= require selectize
//= require selectize.default
//= require twitter/bootstrap
//= require bootstrap-wysihtml5/b3

body
  background-color: #f7f7f9 !important
  margin-top: 10px !important
  font-size: 12px

a.disabled
  pointer-events: none
  cursor: default
/* life_tape_form  */
textarea#new_life_tape
  height: 0px
  width: 100%
  display: none

#button_block
  position: relative
  margin-top: 10px


.media
  width: 100%

a.disabled
  text-decoration: none
  color: #bbb

.inv_element
  opacity: 0
  display: none
  position: relative

.text-justify
  text-align: justify

form.form-devise div.input-group
  width: 300px
  margin-bottom: 10px

li.divider_vertical
  width: 1px
  height: 71px
  background-color: #999999

.imperfection_journal
  font-size: small !important
  margin-top: 10px !important
  a
    color: #5c2e91 !important

ul.nav-tabs li
  font-size: smaller

ul.navbar-nav li.active a
  background-color: #082a48 !important

ul.navbar-nav li  a.current
  background-color: #428bca !important
  color: white  !important
  //border: 1px dotted  #428bca !important
.message
  &:hover
    background-color: #f4f3f3
  cursor: pointer
.active_discontent
  background-color: #e6e6e6
/* labels for discontents
.h55
  font-size: 12px !important
.menu_table
  font-size: 14px
  border: none !important
.active_menu_table
  background-color: #b3d2f4

.label-t
  color: #0e7ccd !important
  background-color: #90d0ff !important
  font-weight: normal !important

.label-n
  color: #fd3411 !important
  background-color: #ffd2ca !important
  font-weight: normal !important

.label-p
  color: #069818 !important
  background-color: #ceffd4 !important
  font-weight: normal !important

.label-g
  background-color: #999999 !important
  font-weight: normal !important

#discontent_warning, #discontent_success
  display: none

/* Raiting users
.top3
  font-size: large !important
  background-color: #ddeaf4 !important
.top10
  background-color: #f4ecf4
.top_all
  text-decoration: underline
  background-color: #ddeaf4

/*sortable list

#sortable
  list-style-type: none
  //margin: 0
  //padding: 0
  //width: 100%
//#sortable li
//  margin: 0 3px 3px 3px
//  padding: 0.4em
//  padding-left: 1.5em
//  font-size: 1.4em
//  height: 18px
//#sortable li span
//  position: absolute
//  margin-left: -1.3em