@import 'bootstrap.min';
@import 'font-awesome';
@import 'owl.carousel';
@import 'perfect-scrollbar.min';
@import "compass";
//Переменные
@import 'colors';
@import 'mixins';
@import 'sprites';
// Логическое деление
@import 'landing_page';
@import 'header_navbar';
@import 'header_subhead';
@import 'dropdown_window';
@import 'post_block';
@import 'vote';
@import 'modal';
@import 'notice';
@import 'buttons';
@import 'rating';
@import 'tooltips';
@import 'carousel';
// на удаление
@import 'custom';
@import 'stage_1';
@import 'stage_2';
@import 'stage_3';
@import 'stage_4';
@import 'stage_5';
@import 'stage_6';
@import 'stage_7';
@import 'cabinet';
//@import 'magnific-popup';
//@import 'popup';
//@import 'post';
/////////////////
@import 'dropdowns-enhancement';
//@import 'jquery.ui.autocomplete';
//@import "jquery.ui.chatbox";
//@import "datepicker/datepicker3";
//@import "selectize";
//@import "selectize.default";
//GANTT
@import "gantt/gantt";
@import "gantt/jquery.dateField";
@import "gantt/platform";
@import "gannt";

@import "messenger-1.4.1/messenger";
@import "messenger-1.4.1/messenger-spinner";
@import "messenger-1.4.1/messenger-theme-air";

#workSpace {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #e5e5e5;
  position: relative;
  margin: 0 5px;
  width: 1115px;
  height: 600px;
}

////////////////////////////////////

.media.contact a:hover {
  color: inherit;
}

#error_explanation ul {
  text-align: left;
}

// hide checkbox in answers for 1 stage
.answer-question input {
  display: none;
}

// none background for not active tab aspect for 1 stage
.nav-tabs.aspects_tabs > li:not(.active) > a {
  background: none !important;
}

// inverse color for active tab aspect for 1 stage
.nav-tabs.aspects_tabs > li.active > a {
  color: #fff !important;
}

.notice.close-notice {
  display: none;
}

#tooltip1_3 + .tooltip {
  left: 310px !important;
}

.media.comment .comment_text {
  //  word-break: break-all;
  word-wrap: break-word;
}

.comment_add.main_add {
  border-top: none;
}

.grey_theme .badge {
  background: #BEB8B8;
}

.rating_user .media-heading a:hover {
  color: #337ab7;
}

.vert_stripe.back0 {
  background: #948E93;
}

.color_counter span {
  color: #fff !important;
}

/* to make scrollbars always visible */
.always-visible.ps-container > .ps-scrollbar-x-rail,
.always-visible.ps-container > .ps-scrollbar-y-rail {
  opacity: 1;
}

// welcome screen high popover
.help_popover_content {
  z-index: 1000 !important;
}

.font_red {
  color: #e9212f !important;
}

.font_grey2 {
  color: #919191;
}

.font_green {
  color: #4daf5b;
}
