/* cabinet */
.cabinet {
    margin-top: 45px;
}

.cabinet-left-col {
    padding-right: 28px;
    padding-bottom: 21px;
    border-right: 2px solid #ececec;
}

.cabinet-right-col {
    padding-left: 28px;
    padding-bottom: 21px;
    margin-left: -2px;
    border-left: 2px solid #ececec;
}

.cabinet-left-col .stage-label {
    background: #bcbcbc;
    display: block;
    width: 250px;
    height: 45px;
    border-radius: 3px;
    line-height: 16px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 15px;
}

.cabinet-tab-heading h5 {
    font-weight: bold;
    color: #666666;
}

.cabinet-tabs-subblock-2ndlev-li a {
    color: #666666;
}

.cabinet {
    color: #666666;
}

.cabinet a {
    color: #636363;
}

.cabinet-tabs-subblock li {
    padding: 5px;
}

.cabinet-tabs-subblock li a {
    font-size: 15px;
}

.cabinet-tabs-subblock li a i {
    color: #bbbbbb;
    font-size: 20px;
    padding-right: 10px;
}

.cabinet-tabs .cabinet-tabs-subblock > li.active > a, .cabinet-tabs .cabinet-tabs-subblock > li.active > a .fa {
    color: #ea1625;
}

.cabinet-aspect-form-checkb input[type="radio"] {
    position: absolute;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    cursor: pointer;
}

.cabinet-aspect-form-checkb input[type="radio"][value="yes"] {
    width: 23px;
}

.cabinet-aspect-form-checkb input[type="radio"][value="no"] {
    width: 29px;
}

.cabinet-aspect-form-checkb-filler.filler-yes:after {
    color: #a8a8a8;
    content: "Да";
}

.cabinet-aspect-form-checkb-filler.filler-no:after {
    color: #a8a8a8;
    content: "Нет";
}

.cabinet-aspect-form label {
    font-weight: normal;
}

.cabinet-aspect-form a i {
    font-size: 20px;
    padding-right: 12px;
    color: #bcbcbc;

}

.cabinet-aspect-form .col-md-3 label {
    padding-top: 5px;
}


.cab_user {
    padding: 7px 15px;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.cab_user .img50 {
    position: relative;
    z-index: 2;
}

.cab_username {
    position: relative;
    z-index: 1;
    margin-right: 60px;
}

.cab_username h6 {
    display: inline-block;
    position: relative;
    padding: 5px 20px;
    margin: 0;
    left: -15px;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.cab_username:after {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 55px;
    height: 32px;
    top: 3px;
    right: -14px;
    background: image-url('background/grey_ribbon.png') no-repeat;
}

.cabinet_content {
    padding: 0 15px;
}

.cab_left_panel {
    padding: 8px 10px;
}

.cab_left_panel .media-left, .cab_left_panel .media-body {
    vertical-align: middle;
}

.cab_left_panel .media-body {
    line-height: 14px;
    padding-left: 8px;
}

