$red: #e61928;
$black: #000000;
// 1 стадия
$base_color_1: #80B2D6;
// 2 стадия
$base_color_2: #678CCA;
// 3 стадия
$base_color_3: #bd8cb8;
// 4 стадия
$base_color_4: #8E8BC7;
// 5 стадия
$base_color_5: #699FA4;
// 6 стадия
$base_color_6: #84B9BD;
// 7 стадия
$base_color_7: #8CCCD8;

$base_colors: $base_color_1, $base_color_2, $base_color_3, $base_color_4, $base_color_5, $base_color_6, $base_color_7;
