$red: #e61928;
$red_2: #e71d2b;
$black: #000000;
$white: #ffffff;
$grey: #9d9d9d;
$light_green: #8fc48a;
$light_grey: #797979;
$light_grey_2: #ededed;
$dark_grey: #414040;
// 1 стадия
$base_color_1: #80B2D6;
// 2 стадия
$base_color_2: #678CCA;
// 3 стадия
$base_color_3: #bd8cb8;
$service_color_3: #ebdcea;
// 4 стадия
$base_color_4: #8E8BC7;
$service_color_4: #d5d6ea;
// 5 стадия
$base_color_5: #699FA4;
$service_color_5: #cee1e5;
// 6 стадия
$base_color_6: #84B9BD;
$service_color_6: #cee1e5;
// 7 стадия
$base_color_7: #8CCCD8;

$base_colors: $base_color_1, $base_color_2, $base_color_3, $base_color_4, $base_color_5, $base_color_6, $base_color_7;
$service_colors: $service_color_3, $service_color_4, $service_color_5, $service_color_6;

//Тематические цвета
$theme_colors: #88a2c3, #8a99ae, #8abdea, #8fc8d3, #a3bead, #a5cba2, #b9dd9d, #d7d69e, #e9dd93, #e7b288, #d59d9e;

$techniq_colors: #eae7c6, #e1d5ed, #cae0ed, #cee6c6;
$stripe_colors: #948E93, #de95d1, #6184bd, #60cdaf;


@for $i from 1 through length($base_colors) {
  .stage_#{$i} {
    .color {
      color: nth($base_colors, $i)  !important;
    }
  }
}

