/* aspects (ui-4) */
.ui-4>.container {
    padding-right: 0;
}
.ui-4 .tab-content {
    padding-top: 0;
}

.ui-4 .nav-tabs>li>button {
    border: 2px solid rgba(0,0,0,0.2);
}
.ui-4 .nav-tabs>li>button.btn.btn-round {
    width: 54px;
    height: 54px;
}

.ui-4 .nav-tabs>li.active>button,
.ui-4 .nav-tabs>li.active>button:hover,
.ui-4 .nav-tabs>li.active>button:focus {
}

.ui-4 .nav-tabs>li>button {
    position: relative;
    padding: 10px 3px;
    margin-right: 26px;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: bold;
}

.ui-4 .nav-tabs>li.active>button:after,
.ui-4 .nav-tabs>li.active>button:before {
    bottom: 0;
    right: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ui-4 .nav-tabs>li.active>button:after {
    border-color: rgba(240, 253, 255, 0);
    border-width: 9px;
    margin-bottom: -32px;
    margin-right: -9px;
    border-bottom-color: #fff;
}

.ui-4 .nav-tabs>li.active>button:before {
    border-color: rgba(194, 225, 245, 0);
    border-width: 10px;
    margin-bottom: -32px;
    margin-right: -10px;
    border-bottom-color: #ccc;
}

.ui-4 .nav-tabs>li.active>button.btn-gray:before {
    border-bottom-color: #eee;
}
.ui-4 .nav-tabs>li.active>button.btn-orange:before {
    border-bottom-color: #f8a841;
}
.ui-4 .nav-tabs>li.active>button.btn-purple:before {
    border-bottom-color: #ba4ede;
}
.ui-4 .nav-tabs>li.active>button.btn-yellow:before {
    border-bottom-color: #fcd419;
}
.ui-4 .nav-tabs>li.active>button.btn-green:before {
    border-bottom-color: #30c247;
}
.ui-4 .nav-tabs>li.active>button.btn-blue:before {
    border-bottom-color: #609cec;
}

.ui-4 .tab-content .tab-pane#tab-one {
    border: 1px solid #eee;
}

.ui-4 .tab-content .tab-pane#tab-two .top-colored-bar {
    background: #f8a841;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: bold;
}

.ui-4 .tab-content .tab-pane#tab-two {
    border: 1px solid #f8a841;
}
.ui-4 .tab-content .tab-pane#tab-three {
    border: 1px solid #ba4ede;
}
.ui-4 .tab-content .tab-pane#tab-four {
    border: 1px solid #fcd419;
}
.ui-4 .tab-content .tab-pane#tab-five {
    border: 1px solid #30c247;
}
.ui-4 .tab-content .tab-pane#tab-six {
    border: 1px solid #609cec;
}


.ui-4 .tab-content .tab-pane {
    padding: 10px;
    padding-bottom: 30px;
}
.ui-4 .tab-content .tab-pane .tab-image-block {
    padding-left: 4px;
    padding-right: 4px;
}

.ui-4 .tab-pane img {
    max-width: 720px;
}
.ui-4 .tab-content .tab-pane .questions-block {
    margin-top: 15px;
    padding: 0 20px 0 60px;
}
.ui-4 .tab-content .tab-pane .questions-block .notice {
    padding: 8px 18px;
    line-height: 1.4;
    color: #fff;
    position: relative;
    margin: 7px 0 13px 0;
}
.ui-4 .tab-content .tab-pane .questions-block .notice.close-notice {
    display: none;
}
.ui-4 .tab-content .tab-pane .questions-block .notice .close-button {
    position: absolute;
    width: 23px;
    height: 23px;
    background: image-url('img/close.png');
    top: -10px;
    right: -10px;
    cursor: pointer;
    opacity: 0.8;
}
.ui-4 .tab-content .tab-pane .questions-block .notice .close-button:hover {
    opacity: 1;
}

.ui-4 .tab-content .tab-pane .questions-block .text {
    line-height: 1.5;
}

.ui-4 .tab-content .tab-pane .questions-block .block-with-left-icon {
    position: relative;
}
.ui-4 .tab-content .tab-pane .questions-block .left-icon {
    position: absolute;
    display: block;
}
.ui-4 .tab-content .tab-pane .questions-block h4 .left-icon {
    font-size: 20px;
    top: 6px;
    left: -35px;
}
.ui-4 .tab-content .tab-pane .questions-block .text .left-icon {
    left: -20px;
}