/* Open Sans  */
.no_margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0;
}

/* dividers */
.divider3 {
    height: 3px;
}

.divider5 {
    height: 5px;
}

.divider10 {
    height: 10px;
}

.divider15 {
    height: 15px;
}

.divider20 {
    height: 20px;
}

.divider25 {
    height: 25px;
}

.divider30 {
    height: 30px;
}

.divider35 {
    height: 35px;
}

.divider50 {
    height: 50px;
}

.divider70 {
    height: 70px;
}

.divider85 {
    height: 85px;
}

.divider200 {
    height: 200px;
}

/* badges */
.badge_type1 {
    padding: 4px 5px;
    font-weight: normal;
    font-size: 13px;
    border-radius: 3px;
}


.bold {
    font-weight: bold;
}

/* border radius */
.rounded_2 {
    border-radius: 2px;
}

.rounded_3 {
    border-radius: 3px;
}

/* left sliding panel */



@media (min-width: 991px) {
    .col_padding_right_0 {
        padding-right: 0px;
    }

    .col_padding_right_3 {
        padding-right: 3px;
    }

    .col_padding_left_0 {
        padding-left: 0px;
    }

    .col_padding_left_3 {
        padding-left: 3px;
    }

    .no_padding_col {
        padding-left: 0;
        padding-right: 0;
    }


    .padding60 {
        padding: 40px 60px;
    }
}

/* MAIN BLOCK STARTS */

.stage-info-sort-block + .stage-info-sort-block {
    border-top: 1px solid #d3d3d3;
}

.stage-heading {
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    color: #5b5b5b;
}

.sort-label {
    font-size: 13px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.form-group .fa-check {
    position: absolute;
    display: none;
    top: 50%;
    left: -20px;
    margin-top: -7px;
}

.form-group .btn.active + .fa-check {
    display: inline-block;
}

/* comments styles */
.com_dashed_border.right {
    border-right: 1px dashed #e4cae2;
    position: relative;
}

.com_dashed_border.left {
    border-left: 1px dashed #e4cae2;
    position: relative;
}


.media.comment {
    padding: 7px 7px 10px 7px;
    margin: 3px 9px;
}

.media.comment, .media.comment .media-body {
    overflow: visible;
}

.edit_comment .dropdown-menu {
    top: -3px;
    left: 20px;
}

.edit_comment .dropdown-menu > li > a {
    padding: 0 5px;
    color: #7c7c7c;
}


.comment .status {
    display: table-cell;
    padding-right: 35px;
    white-space: nowrap;
}

.comment p {
    font-size: 13px;
    margin-top: 10px;
    line-height: 22px;
    color: #797979;
}

.answers_collapse {
    display: block;
    position: relative;
    text-align: center;
    margin: 0 16px;
}

.answers_collapse.theme_font_color.opened {
    color: #bebdbe;
}

.answers_collapse span {
    padding: 0 8px;
    position: relative;
    z-index: 100;
    background: #fff;
    font-size: 12px;
    top: 4px;
}

.answers_collapse:after {
    content: " ";
    display: block;
    position: absolute;
    z-index: 90;
    width: 100%;
    bottom: -3px;
    border-top: 1px solid #cdcdcd;
}

.com_answers {
    padding-left: 20px;
}


.q_pop_block {
    padding-left: 45px;
    padding-right: 30px;
}

.q_pop_block, .thank {
    margin-bottom: 20px;
}

.q_pop_block p {
    position: relative;
    font-size: 13px;
}

.q_pop_block p .fa-question-circle {
    position: absolute;
    left: -30px;
    top: 3px;
}

.q_pop_block .form-group {
    margin-bottom: 7px;
}

.thank {
    height: 292px;
    padding-top: 70px;
}

.thank h1 {
    font-size: 46px;
}

.thank p {
    padding-top: 10px;
    font-size: 15px;
    color: #797979;
}

.nav-tabs-one ul.nav-tabs li a {
    background: #e4e4e4;
    padding: 9px 12px 9px 14px;
    border: 1px solid #d0d0d0;
    border-bottom: 0px !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.nav-tabs-one ul.nav-tabs li a .btn_cab_mod {
    cursor: pointer;
}

.nav-tabs-one ul.nav-tabs li a .btn_cab_mod.warm_sandy {
    border-color: #e0b27e;
}

.nav-tabs-one ul.nav-tabs li.active a {
    background: #fff;
}

.nav-tabs-one .nav-tabs .tab-content {
    border: 1px solid #eee;
    padding: 10px 15px;
    padding-top: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.form-group p i {
    padding-right: 5px;
}


/* new 2nd stage styles */

.media-body .pull-right .fa-angle-right {
    right: 8px;
    position: absolute;
    font-size: 36px;
    top: 50%;
    margin-top: -44px;
}


/* new 3rd stage styles */

.cb_doc,
.cb_com {
    text-align: right;
}

.cb_doc {
    padding-right: 14px !important;
}

.cb_com {
    padding-right: 20px !important;
}

/* 4 */

.breadcr + textarea {
    vertical-align: bottom;
    display: inline-block;
    width: auto;
    padding-left: 3px;
    padding-bottom: 4px;
    font-size: 13px;
}

/* 6 */
.col_rate_head {
    height: 52px;
    border-radius: 2px;
    padding: 7px 18px;
    font-size: 12px;
    color: #5d5d5d;
}

.publish {
    position: absolute;
    top: 20px;
    right: 30px;
}

.transp_ta {
    background: transparent;
    width: 100%;
    border: 0;
    box-shadow: none;
    font-size: 17px;
}

.transp_ta.min {
    font-size: 12px;
}

.transp_ta:hover {
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .5);
}

.transp_ta::-webkit-input-placeholder {
    color: #434551;
}

.transp_ta::-moz-placeholder {
    color: #434551;
}

/* Firefox 19+ */
.transp_ta:-moz-placeholder {
    color: #434551;
}

/* Firefox 18- */
.transp_ta:-ms-input-placeholder {
    color: #434551;
}


.cab_folder.back1 .percentage, .cab_folder.back2 .percentage {
    top: 20px;
}

.cab_folder.back3 .percentage, .cab_folder.back4 .percentage {
    top: 15px;
}


/* 5 */
.pocket_name {
    font-size: 13px;
    line-height: 25px;
}

.breadcr {
    display: inline-block;
    min-height: 25px;
}

.tab_cont5 {
    height: 350px;
    margin-right: -15px;
    padding-right: 20px;
}
/* digest */

.label-success {
    background: #72b07e;
}

.label {
    font-weight: 500;
}

.separator {
    margin: 10px 0;
    margin-right: 10px;
    clear: both;
    position: relative;
}

.separator hr {
    position: absolute;
    border-top: 1px solid #DDD;
    width: 100%;
    top: 20px;
    margin: 0;
}

.separator_label {
    padding-left: 10px;
    padding-right: 8px;
    background: #FFFFFF;
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

.separator_label.pull-right {
    margin-top: 8px;
}

.separator_label a {
    font-size: 12px;
}

/* new cab styles */

.striped {
    background-image: image-url('background/stripes_back.png');
    background-repeat: repeat;
}

.add_new .media-body {
    vertical-align: middle;
}

.add_new .media-body small {
    margin-left: 4px;
    vertical-align: text-top;
    font-size: 12px;
}

.media.comment.in_cab {
    margin-left: 0;
    padding-left: 0;
}

.media.contact {
    margin-right: 120px;
}

.media.contact .media-body {
    vertical-align: middle;
    padding-left: 15px;
    margin-right: 120px;
}

.actions {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 20px;
}

.actions i {
    margin: 0 5px;
}


.exp_col.left {
    border-right: 1px solid #c4c4c4;
}

.exp_col.right {
    border-left: 1px solid #c4c4c4;
    margin-left: -1px;
}

.exp_col.active {
    width: 100%;
    border: 0;
}

.exp_col.hidden {
    width: 0;
}

.exp_col.left .exp_button:focus,
.exp_col.right .exp_button:focus {
    box-shadow: none;
}

.cab_cont_h450 {
    height: 450px;
}

.cab_cont_h450 .ps_cont {
    padding-right: 25px;
}

.profile h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.block_BZ {
    min-height: 400px;
    background: image-url('background/BZ.png') bottom center no-repeat;
}

.aspect-main-block h5 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.aspect-main-block ol li {
    font-size: 13px;
    line-height: 20px;
}

.aspect-main-block .row {
    padding: 20px 25px;
}

.results {
    background-image: image-url('i-result.png');
    background-repeat: no-repeat;
    display: block;
    margin-top: -7px;
}

.results_red {
    width: 113px;
    height: 47px;
    background-position: -5px -5px;
}

.results_blue {
    width: 113px;
    height: 46px;
    background-position: -5px -62px;
}

.table {
    margin-bottom: 0px;
    padding-top: 10px;
    color: #666666;
}

.bold {
    font-weight: 700;
}

.stage-post-block {
    margin-top: 5px;
}

a.dropdown-toggle {
    cursor: pointer;
    color: #000000;
}

a.dropdown-toggle i {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 5px;
}

.dropdown-menu li i {
    padding: 10px;
}

.arrow {
    position: relative;
    top: 5px;
}

.arrow i {
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
}



/* borders */
.border_grey {
    border: 1px solid #d1d1d1 !important;
}

.avatar_icon {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border: 2px solid #c7c7c7;
    cursor: pointer;
}

.avatar_icon.active {
    border: 2px solid #e61928;
}

.book_icon {
    display: inline-block;
    margin-right: 2px;
    top: 2px;
    width: 19px;
    height: 15px;
    background: image-url('book-icon-sprite.png') no-repeat 0 -3px;
    position: relative;
}

.top-circle {
    display: block;
    position: absolute;
    top: 10px;
    right: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e71d2b;
    color: #fff;
    font-size: 9px;
    text-align: center;
    line-height: 15px;
}

.cabinet-aspect-form label {
    font-weight: normal;
}

.cabinet-aspect-form a i {
    font-size: 20px;
    padding-right: 12px;
    color: #bcbcbc;
}

.cabinet-aspect-form .col-md-3 label {
    padding-top: 5px;
}

////////////////////////////////////////

#workSpace {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #e5e5e5;
  position: relative;
  margin: 0 5px;
  width: 1115px;
  height: 600px;
}

////////////////////////////////////

.media.contact a:hover {
  color: inherit;
}

#error_explanation ul {
  text-align: left;
}

// hide checkbox in answers for 1 stage
.answer-question input {
  display: none;
}

// none background for not active tab aspect for 1 stage
.nav-tabs.aspects_tabs > li:not(.active) > a {
  background: none !important;
}

// inverse color for active tab aspect for 1 stage
.nav-tabs.aspects_tabs > li.active > a {
  color: #fff !important;
}

.notice.close-notice {
  display: none;
}

.media.comment .comment_text {
  word-wrap: break-word;
}

.rating_user .media-heading a:hover {
  color: #337ab7;
}

.color_counter span {
  color: #fff !important;
}

// welcome screen high popover

.font_red {
  color: #e9212f !important;
}

.font_grey2 {
  color: #919191;
}

.font_green {
  color: #4daf5b;
}

a img {
  @include circle50;
}

.stage1_theme .b_vote.voted {
  //    background-image: image-url('vote/vote_all_1.png');
}
.font_color_stage1 {
  color: #80b2d6 !important;
}

/* first stage styles */

.min-col-right-padd {
  padding-right: 7px;
  padding-left: 0;
}

.min-col-left-padd {
  padding-left: 7px;
  padding-right: 0;
}

.questionsCarousel .item {
  padding: 0 50px 30px 60px;
}

.aspect-main-block, .aspect-questions-block {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
  border-top: 4px solid transparent;
  padding-bottom: 10px;
}

.ui-4.first-stage .tab-content .tab-pane {
  padding: 0px;
}

.nav-tabs.aspects_tabs {
  padding: 0 !important;
}

.nav-tabs.aspects_tabs > li > a {
  color: #464646;
  border: 1px solid #e4e4e4;
  border-bottom: none;
  background: #fcfcfc;
  font-size: 12px;
  padding: 5px 7px;
  font-weight: bold;
}

.nav-tabs.aspects_tabs > li.active > a, .nav-tabs.aspects_tabs > li.active > a:focus, .nav-tabs.aspects_tabs > li.active > a:hover {
  border: none;
}

.aspect-main-block {
  position: relative;
  text-align: left;
  font-size: 12px;
  color: #797979;
}

.aspect-main-block p {
  line-height: 20px;
  font-size: 13px;
  margin-bottom: 10px;
}

.aspect-main-block ul {
  line-height: 20px;
  font-size: 13px;
  margin-bottom: 20px;
}

.aspect-main-block p + h5, .aspect-main-block p + h6 {
  margin-top: 25px;
}

.aspect-main-block h5 {
  font-size: 18px;
  font-weight: bold;
}

.aspect-main-block h6 {
  font-size: 15px;
  font-weight: bold;
}


//.medal-block.gold-medal {
//    background: image-url('medal-1.png') no-repeat;
//}
//
//.medal-block.silver-medal {
//    background: image-url('medal-2.png') no-repeat;
//}

/* 1st stage discussion */
.combined_border {
  margin-top: 15px;
  margin-bottom: 15px;
}

.combined_border.right {
  border-right: 1px solid #cdcdcd;
}

.combined_border.left {
  border-left: 1px solid #cdcdcd;
  margin-left: -1px;
}

.combined_border .post:first-child {
  margin-top: 0;
}

.combined_border .post:last-child {
  margin-bottom: 1px;
}

/* type 1 */

