.outer .container {
    width: 100%;
    max-width: 1150px;
}
.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
.color.mass-dark-blue {
    color: #033481;
}
.color.mass-red {
    color: #e71d2b;
}
.color.mass-red-pale {
    color: #f5b7ba;
}
.innov .innovs .innov-single .post-center-block .post-poster, .innov .innovs .innov-single .post-center-block .post-text, .right-rollover, .innov .innovs .innov-single .post-themes .tag-stripe, .popup-top-block, .popup-bottom-block, .admin-notice-displayable {
    box-sizing: border-box;
}
::selection {
    background-color: #033481;
    color: #fff;
}
::-moz-selection {
    background-color: #033481;
    color: #fff;
}
.divider-grey {
    width: 100%;
    clear: both;
    height: 1px;
    background: #d9dada;
}




/* TOP BAR */
.top-bar {
    height: 84px;
    background: #eee;
    color: #999;
    padding: 0px;
    font-size: 13px;
    line-height: 25px;
    border-bottom: 1px solid #f5f5f5;
}
.top-bar .tb-logo {
    width: 190px;
    height: 88px;
    background: #fff;
    margin-right: 26px;
    text-align: center;
    line-height: 85px;
}
    .top-bar .tb-logo a {

    }
.top-bar .header-buttons {
    margin-top: 40px;
}
.top-bar .header-buttons a.btn {
    font-size: 13px;
    margin-right: 5px;
    margin-bottom: 4px;
    padding: 6px 15px;
}
.top-bar .header-right {
    margin-top: 10px;
}
.top-bar .header-right .fa-angle-down {
    font-weight: bold;
}
.top-bar .tb-language {

}
.top-bar .tb-language a {
    font-weight: bold;
}
.top-bar .user-block {
    font-weight: bold;
    margin-top: 5px;
}
.top-bar .user-block .rating-block {
    margin-right: 4px;
    padding: 0px 6px;
    background: #7e7e7e;
    color: #fff;
    font-size: 12px;
}


/* first stage */

/* main block */

.main-block {
    margin-bottom: 30px;
}
.stages.first-stage {
    margin-bottom: 8px;
}

/* progress bars */
.progress-bars {
}
.progress-bars .progress {
    margin-top: 10px;
    background: #e5edf8;
}
.progress-bars .container .col-md-8, .progress-bars .container .col-sm-8,
.progress-bars .container .col-md-4, .progress-bars .container .col-sm-4 {
    padding: 0;
}
.progress-bars .progress-label {
    display: block;
    float: left;
    font-weight: bold;
    padding-right: 10px;
}
.progress-bar {
    background-color: #9ab0d0;
}

/* aspects (ui-4) */
.ui-4.first-stage {
    margin-top: 19px;
    margin-left: -5px;
}
.ui-4.first-stage>.container {
    padding-right: 0;
}
.ui-4.first-stage .tab-content {
    padding-top: 0;
}

.ui-4.first-stage .nav-tabs {
    padding-left: 15px;
}
.ui-4.first-stage .nav-tabs>li>button {
    border: 2px solid rgba(0,0,0,0.2);
}
.ui-4.first-stage .nav-tabs>li>button.btn.btn-round {
    width: 52px;
    height: 52px;
}

.ui-4.first-stage .nav-tabs>li.active>button,
.ui-4.first-stage .nav-tabs>li.active>button:hover,
.ui-4.first-stage .nav-tabs>li.active>button:focus {
}

.ui-4.first-stage .nav-tabs>li>button {
    position: relative;
    padding: 10px 2px;
    margin-right: 26px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
}
.ui-4.first-stage .nav-tabs>li>button i {
    font-size: 24px;
}

.ui-4.first-stage .nav-tabs>li.active>button:after,
.ui-4.first-stage .nav-tabs>li.active>button:before {
    bottom: 0;
    right: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ui-4.first-stage .nav-tabs>li.active>button:after {
    border-color: rgba(240, 253, 255, 0);
    border-width: 9px;
    margin-bottom: -32px;
    margin-right: -9px;

}
.ui-4.first-stage .nav-tabs>li.active>button:before {
    border-color: rgba(194, 225, 245, 0);
    border-width: 10px;
    margin-bottom: -32px;
    margin-right: -10px;
    border-bottom-color: #ccc;
}
.ui-4.first-stage .nav-tabs>li.active>button.uncolored-arrow:after {
    border-bottom-color: #fff;
}

.ui-4.first-stage .nav-tabs>li.active>button.btn-gray:before {
    border-bottom-color: #eee;
}
.ui-4.first-stage .nav-tabs>li.active>button.btn-orange:before {
    border-bottom-color: #f8a841;
}
.ui-4.first-stage .nav-tabs>li.active>button.btn-purple:before {
    border-bottom-color: #ba4ede;
}
.ui-4.first-stage .nav-tabs>li.active>button.btn-yellow:before {
    border-bottom-color: #fcd419;
}
.ui-4.first-stage .nav-tabs>li.active>button.btn-green:before {
    border-bottom-color: #30c247;
}
.ui-4.first-stage .nav-tabs>li.active>button.btn-blue:before {
    border-bottom-color: #609cec;
}

.ui-4.first-stage .tab-content .tab-pane#tab-0 {
    border: 1px solid #eee;
}

.ui-4.first-stage .tab-content .tab-pane .top-colored-bar {
    /*background: #f8a841;*/
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: bold;
}

.ui-4.first-stage .tab-content .tab-pane#tab-two {
    border: 1px solid #f8a841;
}
.ui-4.first-stage .tab-content .tab-pane#tab-three {
    border: 1px solid #ba4ede;
}
.ui-4.first-stage .tab-content .tab-pane#tab-four {
    border: 1px solid #fcd419;
}
.ui-4.first-stage .tab-content .tab-pane#tab-five {
    border: 1px solid #30c247;
}
.ui-4.first-stage .tab-content .tab-pane#tab-six {
    border: 1px solid #609cec;
}


.ui-4.first-stage .tab-content .tab-pane {
    padding: 0px;
}
.ui-4.first-stage .tab-content .tab-pane .info-section {
    background: #f6f6f6;
    margin: 5px;
    padding: 28px 85px;
    background-position: 30px 30px;
    font-weight: bold;
}
.ui-4.first-stage .tab-content .tab-pane .info-section .attention {
    margin-top: 16px;
}
.ui-4.first-stage .tab-content .tab-pane .info-section .attention .exclam {
    display: block;
    width: 25px;
    float: left;
    font-weight: bold;
    font-size: 40px;
    line-height: 0.9;
}
.ui-4.first-stage .tab-content .tab-pane .info-section .attention .text {
    max-width: 660px;
    display: block;
    margin-left: 25px;
    line-height: 1.4;
}
.ui-4.first-stage .tab-content .tab-pane .info-section ol {
    list-style-type: none;
    counter-reset:  item;
    padding-left: 0;
    margin-top: 20px;
}
.ui-4.first-stage .tab-content .tab-pane .info-section ol li {
    margin-bottom: 15px;
    padding-left: 38px;
}
.ui-4.first-stage .tab-content .tab-pane .info-section ol li:before {
    content: counter(item);
    counter-increment: item;
    float: left;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    background-color: #646464;
    border-radius: 4px;
    line-height: 1.4;
    margin-left: -38px;
    margin-top: 4px;
}
.ui-4.first-stage .tab-content .tab-pane .info-section.point {
    background-image: image-url('img/good-shot.png');
    background-repeat: no-repeat;
}
.ui-4.first-stage .tab-content .tab-pane .info-section.begin {
    background-image: image-url('img/flag.png');
    background-repeat: no-repeat;
}
.ui-4.first-stage .tab-content .tab-pane .tab-image-block {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}

.ui-4.first-stage .tab-pane img {
    max-width: 720px;
}
.ui-4.first-stage .tab-content .tab-pane .questions-block {
    margin-top: 15px;
    padding: 0 50px 30px 60px;
}
.ui-4.first-stage .tab-content .tab-pane .questions-block .hint, .ui-4.first-stage .tab-content .tab-pane .questions-block .wrong-answer {
    padding: 8px 18px;
    line-height: 1.4;
    color: #fff;
    position: relative;
    margin: 7px 0 13px 0;
    background: #013480;
}
.ui-4.first-stage .tab-content .tab-pane .questions-block .hint.close-notice, .ui-4.first-stage .tab-content .tab-pane .questions-block .wrong-answer.close-notice {
    display: none;
}
.ui-4.first-stage .tab-content .tab-pane .questions-block .hint .close-button, .ui-4.first-stage .tab-content .tab-pane .questions-block .wrong-answer .close-button {
    position: absolute;
    width: 23px;
    height: 23px;
    background: image-url('img/close.png');
    top: -10px;
    right: -10px;
    cursor: pointer;
    opacity: 0.8;
}
.ui-4.first-stage .tab-content .tab-pane .questions-block .notice .close-button:hover {
    opacity: 1;
}

.ui-4.first-stage .tab-content .tab-pane .questions-block .text {
    line-height: 1.5;
}

.ui-4.first-stage .tab-content .tab-pane .questions-block .block-with-left-icon {
    position: relative;
}
.ui-4.first-stage .tab-content .tab-pane .questions-block .left-icon {
    position: absolute;
    display: block;
}
.ui-4.first-stage .tab-content .tab-pane .questions-block h4 .left-icon {
    font-size: 20px;
    top: 6px;
    left: -35px;
}
.ui-4.first-stage .tab-content .tab-pane .questions-block .text .left-icon {
    left: -20px;
}

.btn-group>.btn:first-child {
    margin-left: -1px;
}
.instruments-block .btn {
    margin: 8px 0;
    clear: both;
}
.instruments-block .form-group.bottom-buttons {
    margin: 7px 0;
}
.instruments-block .bottom-buttons .notice-button {
    border-color: #013480;
    color: #013480;
}
.instruments-block .bottom-buttons .answer-button {
    background-color: #013480;
    color: #fff;
}
.instruments-block .form-group.bottom-buttons .btn + .btn {
    margin-left: 8px;
}
.instruments-block .form-group.bottom-buttons .btn.btn-outline:hover, .instruments-block .form-group.bottom-buttons .btn.btn-outline:focus {
}


/* Tablets */
@media (max-width: 767px){

    /* tabs tab-content up arrow hide in small devices */
    .ui-4 .nav-tabs>li.active>button:after,
    .ui-4 .nav-tabs>li.active>button:before { border: 0 !important; }

    .ui-4 .tab-pane img { margin-bottom: 30px; }

    .stages .first-stage a.btn.pull-right {
        float: none !important;
    }


}

@media (max-width: 991px){
    .stages .first-stage {
        min-width: 114px;
    }
}

@media (min-width: 1200px){
    .header-2 .container.col-lg-thin {
        padding-left: 25px;
        padding-right: 25px;
    }
}









/* MAIN BLOCK STARTS */

.main-block {
    margin-bottom: 30px;
    margin-top: 50px;
}
/* stages block */
.stages {
    height: 70px;
}
.stages a.btn {
    width: 90px;
    float: left;
    border: 0;
    background: #033481;
    color: #fff;
    display: block;
    padding: 12px 15px 16px;
    margin-bottom: 8px;
    margin-right: 6px;
    font-size: 14px;
    line-height: 18px;
    vertical-align: bottom;
}
.stages a.btn:last-child {
    margin-right: 0;
}
.stages .current-stage {
    display: block;
    float: left;
    margin-top: -18px;
    margin-right: 6px;
    margin-bottom: 8px;
    width: 100%;
    max-width: 842px;
    height: 70px;
    background: #e5edf8;
}

.stages .current-stage a.btn {
    padding: 23px 15px;
    line-height: 18px;
}
.stages .current-stage .current-stage-text {
    margin-left: 24px;
    padding: 14px 20px 14px 0;
}
.stages .current-stage .current-stage-text .top-text {
    line-height: 12px;
    font-size: 15px;
    font-weight: 500;
    color: #033481;
}
.stages .current-stage .current-stage-text .bottom-text h4 {
    text-transform: uppercase;
    color: #033481;
    font-size: 22px;
}
.stages a.btn.next-steps-stage {
    background: #7995bc;
}
.stages .bigger {
    font-weight: bold;
    font-size: 200%;
    padding-right: 2px;
    margin-left: -4px;
}
.stages .first-stage {

}
.stages .right-buttons a.btn {
    margin-right: 5px;
    margin-bottom: 5px;
}
/* innovations block */
.innov {
    margin-top: 15px;
}
.innov h4 {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 9px;
}
.innov h4 .innov-header-smaller {
    font-size: 14px;
    padding-right: 3px;
}
.innov .innovs .col-lg-6 {
    padding: 0 7px;
}
.innov .innovs .innov-single {
    overflow: hidden;
    margin-bottom: 17px;
    border: 1px #d5d5d5 solid;
    border-bottom: 1px #9ea2a1 solid;
    box-shadow: 0 3px 4px -3px rgba(0,0,0,0.5);
}
.innov .innovs .innov-single .post-header {
    position: relative;
    width: 102%;
    min-height: 36px;
    margin: 0;
    border-bottom: 1px #9ea2a1 solid;
    box-shadow: 0 3px 4px -2px rgba(0,0,0,0.5);
    z-index: 1000;
}
.innov .innovs .innov-single .post-header .post-header-text {
    line-height: 34px;
    font-size: 16px;
    font-weight: 700;
}
.innov .innovs .innov-single .post-header .post-header-text i {
    margin-right: 8px;
    font-size: 18px;
}
.innov .innovs .innov-single .post-header .post-header-date {
    text-align: right;
    padding-right: 4%;
}
.innov .innovs .innov-single .post-header .post-header-date span {
    line-height: 36px;
    font-size: 11px;
}
.innov .innovs .innov-single .post-center-block {
    overflow: hidden;
    min-height: 96px;
    border-bottom: 1px solid #d7d9dd;
}
.innov .innovs .innov-single .post-center-block .post-poster {
    width: 17.3%;
    min-width: 60px;
    min-height: 96px;
    float: left;
    padding-top: 14px;
    text-align: center;
    background: linear-gradient(to top, #fff, #e9eff7);
    border-right: 1px solid #d7d9dd;
}
.innov .innovs .innov-single .post-center-block .post-poster img {
    border-radius: 48px;
    border: 1px solid #bfbfbf;
}
.innov .innovs .innov-single .post-center-block .post-poster .poster-name {
    font-size: 9px;
    line-height: 5px;
    color: #000;
}
.innov .innovs .innov-single .post-center-block .post-text {
    width: 82.7%;
    min-height: 96px;
    float: right;
    padding: 12px 50px 12px 25px;
    font-size: 11px;
    line-height: 17px;
    background: image-url('img/arrow.png') no-repeat right center;
}
.innov .innovs .innov-single .post-themes {
    padding: 5px 7px;
    overflow: hidden;
    height: 26px;
}
.innov .innovs .innov-single .post-themes .tag-stripe {
    line-height: 1.1;
    display: inline-block;
    float: left;
    height: 16px;
    width: 18px;
    margin-right: 3px;
    white-space: nowrap;
}
.innov .innovs .innov-single .post-themes .tag-stripe .tag {
    font-size: 12px;
    color: #fff;
    line-height: 1.1;
    display: none;
    white-space: nowrap;
}
.innov .innovs .innov-single .post-themes .tag-stripe.active {
    width: auto;
    padding: 0 15px 0 7px;
}
.innov .innovs .innov-single .post-themes .tag-stripe.active .tag {
    display: inline-block;
}
.tag-stripe.color-N1 {
    background: #75d3b9;
}
.tag-stripe.color-N2 {
    background: #75d39e;
}
.tag-stripe.color-N3 {
    background: #75b4d3;
}
.tag-stripe.color-N4 {
    background: #7590d3;
}
.tag-stripe.color-N5 {
    background: #8375d4;
}
.tag-stripe.color-N6 {
    background: #a074d3;
}
.tag-stripe.color-N7 {
    background: #b775d6;
}
.tag-stripe.color-N8 {
    background: #bc75d1;
}
.tag-stripe.color-N9 {
    background: #d574a1;
}
.tag-stripe.color-N10 {
    background: #cd7a76;
}
.tag-stripe.color-N11 {
    background: #d37b77;
}
.tag-stripe.color-N12 {
    background: #d475a1;
}
.tag-stripe.color-N13 {
    background: #d375bf;
}
.tag-stripe.color-N14 {
    background: #b877d3;
}

/* MAIN BLOCK ENDS */


/* ROLLOVER */

.right-rollover-outer {
    z-index: 9999;
    background: #fff;
    position: fixed;
    top: 250px;
    right: -293px;
}
.right-rollover-outer.opened {
    right: -5px;
}
.right-rollover {
    position: relative;
    overflow: hidden;
    z-index: 9999;
    width: 290px;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    padding: 10px 15px 14px 20px;
}
.second-stage .right-rollover-outer {
    right: -263px;
}
.second-stage .right-rollover-outer.opened {
    right: -5px;
}
.second-stage .right-rollover {
    width: 260px;
}
.right-rollover h5 {
    color: #000;
    font-size: 13px;
    margin-bottom: 7px;
}
.round-button-outer {
    position: relative;
    z-index: 100;
}
.round-button {
    position: absolute;
    top: 64px;
    left: -28px;
    background: image-url('img/arrow_small.png') no-repeat left center #013480;
}

.round-button.flipped {
    background: image-url('img/arrow_small_flipped.png') no-repeat left center #013480;
}

.colored-stripe {
    display: block;
    position: relative;
    float: left;
    display: inline-block;
    line-height: 1.2;
    color: #fff;
    font-weight: bold;
    padding: 4px 9px;
    border: 0;
    text-align: left;
}
.colored-stripe.selected {
    margin-left: -20px;
    padding-left: 29px;
}
.colored-stripe.selected:after {
    content: " ";
    position: absolute;
    left: 0px;
    top: 0;
    width: 15px;
    height: 100%;
    display: block;
    background: image-url('img/arrow-top.png') center right no-repeat;
}
.colored-stripe + .colored-stripe {
    margin-top: 8px;
}

.colored-stripe.color-N1 {
    background: #75d3b9;
}
.colored-stripe.color-N2 {
    background: #75d39e;
}
.colored-stripe.color-N3 {
    background: #75b4d3;
}
.colored-stripe.color-N4 {
    background: #7590d3;
}
.colored-stripe.color-N5 {
    background: #8375d4;
}
.colored-stripe.color-N6 {
    background: #a074d3;
}
.colored-stripe.color-N7 {
    background: #b775d6;
}
.colored-stripe.color-N8 {
    background: #bc75d1;
}
.colored-stripe.color-N9 {
    background: #d574a1;
}
.colored-stripe.color-N10 {
    background: #cd7a76;
}
.colored-stripe.color-N11 {
    background: #d37b77;
}
.colored-stripe.color-N12 {
    background: #d475a1;
}
.colored-stripe.color-N13 {
    background: #d375bf;
}
.colored-stripe.color-N14 {
    background: #b877d3;
}

.index-of-aspects {
    margin-top: 20px;
    margin-bottom: 20px;
}
.index-of-aspects .aspect .circle-tag {
    float: left;
}
.index-of-aspects .aspect + .aspect {
    margin-top: 11px;
}
.index-of-aspects .aspect .aspect-text {
    display: block;
    margin-left: 30px;
    line-height: 1.5;
    color: #000;
}



/* POPUP */

.popup-wrapper {
    z-index: 9999999;
    position: absolute;
    top: 0;
    padding-top: 30px;
    width: 100%;
    display: none;
    padding-bottom: 30px;
}
.popup-box {
    width: 720px;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
}
.medal-popup .popup-box {
    overflow: visible;
}
.popup-box + .popup-box {
    margin-top: 28px;
}
#popup-box-2 {
    height: 30px;
}
.popup {
    width: 100%;
    background: #f7f7f7;
}
.popup-box .popup-header {
    padding: 6px 24px;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 4px -2px rgba(0,0,0,0.3);
    z-index: 1000;
}
.popup-box .popup-header h2 {
    font-size: 22px;
}
.popup-box .popup-post-info {
}
.popup-box .popup-post-info .popup-post-block {
    padding-left: 37px;
    padding-top: 29px;
    padding-bottom: 29px;
}
.popup-box .popup-post-info .popup-post-block img {
    display: block;
    float: left;
    border-radius: 48px;
    border: 1px solid #bfbfbf;
    margin-right: 12px;
}
.popup-box .popup-post-info .popup-post-block>span {
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
.popup-box .popup-post-info .popup-post-block .info-stripe {
    color: #898989;
}
.popup-box .popup-post-info .popup-post-block .info-stripe span {
    font-size: 12px;
    margin-right: 20px;
}
.popup-box .popup-post-info .popup-post-block .info-stripe span i {
    font-size: 1.2em;
}
.popup-box .popup-post-info .popup-tags {
    padding-top: 15px;
}
.popup-box .popup-post-info .popup-tags .popup-tag {
    float: right;
    clear: both;
    border-radius: 2px;
    margin-bottom: 3px;
    margin-right: -2px;
    padding-right: 28px;
    padding-left: 8px;
    font-size: 11px;
    color: #fff;
    line-height: 1.5;
}
.popup-box .popup-post-questions {
    width: 100%;
    background: #fff;
    border-top: 1px solid #bfbfbf;
    padding-top: 10px;
    font-size: 13px;
}
.popup-box .popup-post-questions .question-stripe {
    padding-top: 7px;
    padding-bottom: 7px;
    background: #e2eff8;
    color: #000;
}
.popup-box .popup-post-questions .answer-stripe {
    padding-top: 10px;
    padding-bottom: 18px;
    color: #797979;
}
.popup-box .popup-post-questions .answer-stripe .rounded-N-mark {
    display: block;
    width: 20px;
    height: 20px;
    padding-top: 1px;
    text-align: center;
    background: #e2eff8;
    border-radius: 15px;
    float: left;
}
.popup-box .popup-post-questions .answer-stripe .rounded-N-mark + .text-after-mark {
    display: block;
    margin-left: 33px;
}
.popup-box .popup-post-questions .question-stripe, .popup-box .popup-post-questions .answer-stripe {
    overflow: hidden;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: bold;
    line-height: 1.6;
}
#win2 .popup {
    background: #fff;
}
.close-btn {
    position: fixed;
    top: 33px;
    right: 20px;
    cursor: pointer;
    color: #797979;
    padding: 5px 10px 7px;
    font-size: 25px;
    background: #fff;
}
.close-btn:hover {
    color: #000;
}

.popup-tag.color-N1 {
    background: #75d3b9;
}
.popup-tag.color-N2 {
    background: #75d39e;
}
.popup-tag.color-N3 {
    background: #75b4d3;
}
.popup-tag.color-N4 {
    background: #7590d3;
}
.popup-tag.color-N5 {
    background: #8375d4;
}
.popup-tag.color-N6 {
    background: #a074d3;
}
.popup-tag.color-N7 {
    background: #b775d6;
}
.popup-tag.color-N8 {
    background: #bc75d1;
}
.popup-tag.color-N9 {
    background: #d574a1;
}
.popup-tag.color-N10 {
    background: #cd7a76;
}
.popup-tag.color-N11 {
    background: #d37b77;
}
.popup-tag.color-N12 {
    background: #d475a1;
}
.popup-tag.color-N13 {
    background: #d375bf;
}
.popup-tag.color-N14 {
    background: #b877d3;
}

.first-stage .popup-box {
    width: 936px;
}
.medal-popup .popup {
    position: relative;
    background-color: transparent;
}
.medal-popup .medal-block {
    position: absolute;
    width: 179px;
    height: 330px;
    left: -18px;
    top: 0;
}
.medal-popup .medal-block.gold-medal {
    background: image-url('img/medal-1.png') no-repeat;
}
.medal-popup .medal-block.silver-medal {
    background: image-url('img/medal-2.png') no-repeat;
}
.first-stage .popup-top-block {
    min-height: 200px;
    padding: 80px 209px 80px 265px;
    background-color: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.first-stage .popup-top-block h4 + .top-block-text, .first-stage .popup-top-block .top-block-text + .top-block-text {
    margin-top: 13px;
}
.first-stage .popup-top-block .top-block-text {
    width: 458px;
    line-height: 1.7;
}
.first-stage .popup-bottom-block {
    min-height: 162px;
    padding: 50px 60px 20px;
    background-color: #f6f6f6;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.first-stage .popup-bottom-block .bottom-buttons {
    float: right;
}
.first-stage .popup-bottom-block .bottom-buttons a {
    display: block;
    border-radius: 3px;
    float: left;
    height: 58px;
    padding-right: 19px;
    padding-left: 19px;
    color: #fff !important;
    font-size: 16px;
    line-height: 55px;
    position: relative;
}
.first-stage .popup-bottom-block .bottom-buttons a.arrowed {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.first-stage .popup-bottom-block .bottom-buttons a.arrowed:after, .first-stage .popup-bottom-block .bottom-buttons a.arrowed:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}
.first-stage .popup-bottom-block .bottom-buttons a.red.arrowed:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #c31320;
    border-width: 29px;
    margin-top: -29px;
}
.first-stage .popup-bottom-block .bottom-buttons a.red.arrowed:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #c31320;
    border-width: 29px;
    margin-top: -29px;
}
.first-stage .popup-bottom-block .bottom-buttons a + a {
    margin-left: 20px;
}




.second-stage .navig-tabs {
    box-shadow: 0 3px 4px -2px rgba(0,0,0,0.3);
    padding: 8px 10px;
}
.second-stage .nav-tabs-one ul.navig-tabs  li{
    margin-right: 2px;
    display: inline-block;
}
.second-stage .nav-tabs-one ul.navig-tabs  li a{
    background: #fff;
    color: #000;
    border: none;
    font-size: 13px;
    padding: 0px 15px;
    font-weight: bold;
}
.second-stage .nav-tabs-one ul.navig-tabs  li.active a {
    color: #e81e2c;
}
.second-stage .nav-tabs-one .tab-content{
    border: 0px;
    padding: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;
    padding-bottom: 15px;
}
.comment {
    padding: 19px 82px 10px 27px;
}
.comment .comment-ava {
    display: block;
    width: 42px;
    height: 42px;
    margin-bottom: 10px;
    float: left;
}
.comment .comment-name {
    margin-left: 51px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
}
.comment .comment-text {
    margin-left: 51px;
    line-height: 1.3;
    font-size: 13px;
}



/* second stage */
/* aspects (ui-4) */
.ui-4.second-stage>.container {
    padding-right: 0;
}
.ui-4.second-stage .tab-content {
    padding-top: 0;
    border-top: 2px solid #c0c0c0;
}

.ui-4.second-stage .nav-tabs>li>button {
    border: 2px;
}
.ui-4.second-stage .nav-tabs>li>button.btn.btn-round {
    width: 54px;
    height: 54px;
}

.ui-4.second-stage .nav-tabs>li.active>button,
.ui-4.second-stage .nav-tabs>li.active>button:hover,
.ui-4.second-stage .nav-tabs>li.active>button:focus {
}

.ui-4.second-stage .nav-tabs>li>button {
    position: relative;
    padding: 10px 3px;
    margin-right: 26px;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: bold;
}

.ui-4.second-stage .nav-tabs>li.active>button:after,
.ui-4.second-stage .nav-tabs>li.active>button:before {
    bottom: 0;
    right: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ui-4.second-stage .nav-tabs>li.active>button:after {
    border-width: 9px;
    margin-bottom: -32px;
    margin-right: -9px;
}

.ui-4.second-stage .nav-tabs>li.active>button:before {
    border-width: 10px;
    margin-bottom: -32px;
    margin-right: -10px;
    border-bottom-color: #c0c0c0;
}

.ui-4.second-stage .tab-content.second-stage .tab-pane {
    border: none;
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 22px;
}




/* second stage nav-panel */
.ui-4.second-stage .container .sort-block {
    float: right;
    font-size: 16px;
    margin-top: 45px;
}
.ui-4.second-stage .container .sort-block .sort-item {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
}
.nav-tabs.second-stage {
    margin-top: 5px;
}
.nav-tabs.second-stage button {
    background: #fff;
}
.nav-tabs.second-stage>li {
    margin-bottom: 0px;
}
.ui-4 .nav-tabs.second-stage>li>button {
    margin-right: 5px;
    margin-bottom: 14px;
}
.ui-4 .nav-tabs.second-stage>li.active>button:after {
    border-width: 9px;
    margin-bottom: -15px;
    margin-right: -9px;
}
.ui-4 .nav-tabs.second-stage>li.active>button:before {
    border-width: 10px;
    margin-bottom: -15px;
    margin-right: -10px;
    border-bottom-color: #c0c0c0;
}


/* UI Twenty Nine */

.ui-29 .block-content {
    max-width: 70px;
    margin: 0px auto;
    text-align: center;
}


.ui-29 .fill-container {
    position: relative;
    z-index: 110;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid;
    text-align: center;
    overflow: hidden;
}

.ui-29 .fill-container .fill-limit {
    position: relative;
    z-index: 50;
    display: block;
    margin-top: 2px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}
.ui-29 .fill-container .fill-limit span {
    display: inline-block;
    font-size: 12px;
}

.ui-29 .fill-container .filler-outer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 55px;
    overflow: hidden;
}
.ui-29 .fill-container .filler {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
}
.custom-firstStage-orange {
    color: #f8a841
}
.custom-orange {
    color: #f78153;
}
.custom-light-blue {
    color: #32c8de;
}
.custom-green {
    color: #51d466;
}
.custom-purple {
    color: #bc8be3;
}
.custom-yellow {
    color: #f5cf48;
}
.custom-blue {
    color: #6da2e7;
}
.fill-container.custom-bg-orange {
    border-color: #f78153;
}
.fill-container.custom-bg-light-blue {
    border-color: #32c8de;
}
.fill-container.custom-bg-green {
    border-color: #51d466;
}
.fill-container.custom-bg-purple {
    border-color: #bc8be3;
}
.fill-container.custom-bg-yellow {
    border-color: #f5cf48;
}
.fill-container.custom-bg-blue {
    border-color: #6da2e7;
}
.custom-bg-orange .fill-limit {
    color: #f78153;
}
.custom-bg-light-blue .fill-limit {
    color: #32c8de;
}
.custom-bg-green .fill-limit {
    color: #51d466;
}
.custom-bg-purple .fill-limit {
    color: #bc8be3;
}
.custom-bg-yellow .fill-limit {
    color: #f5cf48;
}
.custom-bg-blue .fill-limit {
    color: #6da2e7;
}
.custom-bg-orange .filler {
    background-color: #f78153;
}
.custom-bg-light-blue .filler {
    background-color: #32c8de;
}
.custom-bg-green .filler {
    background-color: #51d466;
}
.custom-bg-purple .filler {
    background-color: #bc8be3;
}
.custom-bg-yellow .filler {
    background-color: #f5cf48;
}
.custom-bg-blue .filler {
    background-color: #6da2e7;
}







.lined-block {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 2px -2px rgba(0,0,0,0.7);
    border: 1px solid #dbdbdb;
    cursor: pointer;
}
.lined-block + .lined-block {
    margin-top: 28px;
}
.lined-block.imperfection-add-block {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    position: relative;
}
.lined-block.imperfection-add-block .add-imperf {
    position: absolute;
    width: 100%;
    padding-top: 42px;
    padding-bottom: 42px;
}
.lined-block.imperfection-add-block .add-imperf a .plus-circle {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 35px;
    background: #013480;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
}
.lined-block.imperfection-add-block .add-imperf a span {
    display: block;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #000;
}
.lined-block.imperf-pale-pink {
    background: #f8efef;
}
.lined-block.imperf-pale-blue {
    background: #f4f8fc;
}
.lined-block table {
    width: 100%;
}

.lined-block table .imperf-left-column, .lined-block table .imperf-right-column {
    height: 28px;
    border-top: 1px solid #dcdcdc;
    vertical-align: bottom;
}
.lined-block table .imperf-right-column {
    padding-left: 13px;
}

.lined-block table tr:first-child .imperf-left-column, .lined-block table tr:first-child .imperf-right-column {
    height: 47px;
    border-top: none;
}
.lined-block table tr:first-child .imperf-right-column {
    position: relative;
}
.lined-block table tr:first-child .imperf-right-column .aspects-indexes {
    position: absolute;
    top: 9px;
    right: 8px;
    letter-spacing: 5px;
}
.lined-block table tr:first-child .imperf-right-column .aspects-indexes .circle-tag, .index-of-aspects .circle-tag {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: inline-block;
    color: #fff !important;
    letter-spacing: 0.9px;
    text-align: center;
    line-height: 1.5;
    font-size: 12px;
}
.back-color.orange {
    background-color: #f78153;
}
.back-color.light-blue {
    background-color: #32c8de;
}
.back-color.green {
    background-color: #51d466;
}
.back-color.purple {
    background-color: #bc8be3;
}
.back-color.yellow {
    background-color: #f5cf48;
}
.back-color.blue {
    background-color: #6da2e7;
}
.back-color.dark-blue {
    background-color: #013480;
}
.back-color.red {
    background-color: #c31320;
}
.lined-block.imperfection-add-block table tr:first-child .imperf-left-column, .lined-block table tr:first-child .imperf-right-column {
    height: 39px;
    border-top: none;
}
.lined-block table tr:last-child .imperf-left-column, .lined-block table tr:last-child .imperf-right-column {
    height: 53px;
    position: relative;
}
.lined-block.imperfection-add-block table tr:last-child .imperf-left-column, .lined-block.imperfection-add-block table tr:last-child .imperf-right-column {
    height: 28px;
}
.lined-block table tr:last-child .imperf-right-column {
    padding-left: 0;
    padding-right: 10px;
    text-align: right;
}
.lined-block table tr:last-child .imperf-left-column .imperf-bottom-line, .lined-block table tr:last-child .imperf-right-column .imperf-bottom-line {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
}
.lined-block.imperf-pale-pink table tr:last-child .imperf-left-column .imperf-bottom-line, .lined-block.imperf-pale-pink table tr:last-child .imperf-right-column .imperf-bottom-line {
    background-color: #ede1e1;
}
.lined-block.imperf-pale-blue table tr:last-child .imperf-left-column .imperf-bottom-line, .lined-block.imperf-pale-blue table tr:last-child .imperf-right-column .imperf-bottom-line {
    background-color: #deecf8;
}
.lined-block tr:last-child .info-stripe {
    color: #5a5a5a;
    font-weight: bold;
}
.lined-block tr:last-child .info-stripe span {
    font-size: 12px;
    margin-right: 15px;
}
.lined-block tr:last-child .info-stripe span i {
    font-size: 1.2em;
    color: #d16363;
}
.lined-block table .imperf-left-column {
    width: 17.7%;
    border-right: solid #bbb;;
    text-align: center;
    border-right-width: 2px;
    vertical-align: bottom;
}
.lined-block.imperf-pale-pink .imperf-left-column {
    border-right-color: #f8cdcd;
}
.lined-block.imperf-pale-blue .imperf-left-column {
    border-right-color: #cddbe8;
}
.lined-block .imperf-left-column.what-cell {
    vertical-align: top;
}
.lined-block .imperf-left-column.what-cell+.imperf-right-column {
    font-weight: bold;
    color: #000000;
}
.lined-block .imperf-left-column.what-cell, .lined-block .imperf-left-column.what-cell + .imperf-right-column {
    border-right-width: 2px;
    border-top-width: 2px;
}
.lined-block .imperf-left-column.what-cell + .imperf-right-column {
    font-size: 16px;
}
.lined-block.imperf-pale-pink .imperf-left-column.what-cell, .lined-block.imperf-pale-pink .imperf-left-column.what-cell+.imperf-right-column {
    border-top-color: #f8cdcd !important;
    background: image-url('img/pink-filler.png');
}
.lined-block.imperf-pale-blue .imperf-left-column.what-cell, .lined-block.imperf-pale-blue .imperf-left-column.what-cell + .imperf-right-column {
    border-top-color: #cddbe8 !important;
    background: image-url('img/blue-filler.png');
}
.lined-block table .imperf-right-column {
    width: 82.3%;
}
.lined-block .admin-notice {
    position: relative;
}
.lined-block .admin-notice span {
    position: absolute;
    left: 40%;
    top: 9px;
    z-index: 10001;
    font-weight: bold;
    font-size: 40px;
}
.admin-notice-displayable {
    display: none;
    position: absolute;
    z-index: 10000;
    top: -2px;
    left: 11px;
    width: 328px;
    height: 55px;
    border: 1px #d39c9c solid;
    background: #fff;
    border-radius: 3px;
    opacity: 0.9;
    color: #d05f5f;
    text-align: left;
    padding-left: 38px;
    padding-top: 10px;
}
.admin-notice-displayable.show {
    display: block;
}
.lined-block .admin-notice .admin-notice-displayable .close-admin-button {
    position: absolute;
    z-index: 999999;
    top: 5px;
    right: 7px;
    width: 13px;
    height: 13px;
    background-image: image-url('img/close1.png');
}
.lined-block.imperf-pale-pink .admin-notice {
    color: #d05f5f;
}
.lined-block.imperf-pale-blue .admin-notice {
    color: #7eaad3;
}







/* Tablets */
@media (max-width: 767px){
    .top-bar {
        height: auto;
    }
    /* tabs tab-content up arrow hide in small devices */
    .ui-4 .nav-tabs>li.active>button:after,
    .ui-4 .nav-tabs>li.active>button:before { border: 0 !important; }

    .ui-4 .tab-pane img { margin-bottom: 30px; }

    .stages .first-stage a.btn.pull-right {
        float: none !important;
    }
}
@media (max-width: 1200px){
    .stages .current-stage {
        margin-top: 0;
    }
    .next-steps-stage {
        margin-top: 18px;
    }
}
@media (max-width: 991px) {
    .top-bar .tb-language {
        font-size: 10px;
    }

    .next-steps-stage {
        margin-top: 0px;
    }

    .stages .current-stage {
        max-width: 100%;
    }

    .stages .current-stage .current-stage-text .top-text {
        line-height: 12px;
        font-size: 13px;
    }

    .stages .current-stage .current-stage-text .bottom-text h4 {
        text-transform: uppercase;
        font-size: 20px;
    }
    .stages .current-stage {
        height: auto;
    }
}