/* Your CSS codes here */

.pager li > input {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.pager li input {
    background-color: #32c8de;
    color: #ffffff;
    border-color: #1faabe;
}
.pager li input:hover {
    background: #1faabe;
}

.pager .next > input{
    float: right;
}