/* Your CSS codes here */

.pager li > input, .pager li > button{
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.pager li input, .pager li button{
    background-color: #32c8de;
    color: #ffffff;
    border-color: #1faabe;
}
.pager li input:hover,.pager li button:hover {
    background: #1faabe;
}

.pager .next > input{
    float: right;
}

.pager .previous > button{
    float: left;
}


table.red-discontent {
    margin: 10 0px 0px 10px;
    background-color:#F9FFF9;
}

table.green-discontent {
    margin: 10 0px 0px 10px;
    background-color:#FFF9F9;
}

table.neutral-discontent {
    margin: 10 0px 0px 10px;
    background-color:#FFF;
}