/* Open Sans  */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300);

html {
    height: 100%;

}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #f4f4f4;
}

body.main-page {
    background: #fff;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    cursor: pointer !important;
}

a:focus, a:active, button:focus, button:active {
    border: 0;
    outline: none !important;
}

.a_font_reset, .a_font_reset:hover, .a_font_reset:focus {
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 15px;
    padding-right: 15px;
}

textarea {
    resize: none;
    transition: all 0.2s ease-in-out;
}

textarea:focus {
    outline: none;
    box-shadow: inset 0 0 5px -1px rgba(0, 0, 0, 0.3);
    background-color: #fdfdfd;
}

.no_margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0;
}

/* dividers */
.divider3 {
    height: 3px;
}

.divider5 {
    height: 5px;
}

.divider10 {
    height: 10px;
}

.divider15 {
    height: 15px;
}

.divider20 {
    height: 20px;
}

.divider25 {
    height: 25px;
}

.divider30 {
    height: 30px;
}

.divider35 {
    height: 35px;
}

.divider40 {
    height: 40px !important;
}

.divider50 {
    height: 50px;
}

.divider70 {
    height: 70px;
}

.divider85 {
    height: 85px;
}

.divider200 {
    height: 200px;
}

/* badges */
.badge_type1 {
    padding: 4px 5px;
    font-weight: normal;
    font-size: 13px;
    border-radius: 3px;
}

.badge_type2 {
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 5px;
    font-weight: normal;
}

.badge_type2.wide {
    padding-left: 22px;
    padding-right: 22px;
}

.bold {
    font-weight: bold;
}

/* border radius */
.rounded_2 {
    border-radius: 2px;
}

.rounded_3 {
    border-radius: 3px;
}

.rounded_5 {
    border-radius: 5px;
}

.rounded_8 {
    border-radius: 8px;
}

/* dividers */
.divider_1_grey {
    height: 1px;
    background: #cdcdcd;
}

/* icon new */
.icon_new {
    position: relative;
}

.icon_new:after {
    position: absolute;
    content: " ";
    top: 0;
    right: 0;
    width: 27px;
    height: 20px;
    background: image-url('i-red.png') no-repeat;
    background-position: 0 -97px;
}

.i_new_stage:after {
    top: -10px;
    right: -5px;
}

/* height */
.full_height {
    height: 100%;
}

/* first stage slider */
.slider-wrapper {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.slider-wrapper .slider-nav {
    position: absolute;
    top: 25%;
    display: block;
    cursor: pointer;
}

.slider-wrapper .slider-nav i {
    font-size: 26px;
}

.slider-left {
    left: 0px;
}

.slider-right {
    right: 0px;
}

.slider-outer {
    width: 97%;
    margin: 0 auto;
    overflow: hidden;
}

.slider-inner {
    overflow: hidden;
}

.slider-inner li {
    display: block;
    float: left;
}

.slider-item {
    float: left;

}

.slider-item .c1-item {
    margin: 3px;
}

.slider-item.active {
}

/* left sliding panel */
.slide-outer {
    position: fixed;
    z-index: 1075;
    top: 150px;
}

.slide-outer[data-position="left"] {
    left: 0;
    margin-left: 0px;
}

.slide-outer[data-position="right"] {
    right: 0;
    margin-right: -305px;
}

.slide-inner {
    position: relative;
    z-index: 10000;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.slide-opener {
    display: block;
    position: relative;
    z-index: 9999;
    background: #be8eb9;
    padding: 9px 5px;
    cursor: pointer;
}

.slide-outer[data-position="left"] .slide-opener {
    float: right;
    margin: 40px -25px 0px 0px;
}

.slide-outer[data-position="right"] .slide-opener {
    float: left;
    margin: 60px 0px 0px -25px;
}

.slide-opener i {
    font-size: 36px;
    color: #fff;
}



@media (min-width: 991px) {
    .col_padding_right_0 {
        padding-right: 0px;
    }

    .col_padding_right_3 {
        padding-right: 3px;
    }

    .col_padding_right_75 {
        padding-right: 75px;
    }

    .col_padding_left_0 {
        padding-left: 0px;
    }

    .col_padding_left_3 {
        padding-left: 3px;
    }

    .col_padding_left_50 {
        padding-left: 50px;
    }

    .col_padding_left_100 {
        padding-left: 100px;
    }

    .col_padding_3 {
        padding: 0 3px;
    }

    .col_padding_7 {
        padding: 0 7px;
    }

    .col_padding_30 {
        padding: 0 30px;
    }

    .no_padding_col {
        padding-left: 0;
        padding-right: 0;
    }

    .container.padding30 {
        padding: 0 30px;
    }

    .padding60 {
        padding: 40px 60px;
    }
}

/* MAIN BLOCK STARTS */

.main-block {
    min-height: 100%;
    padding-bottom: 30px;
    padding-top: 20px;
}

.stage-info-sort-block + .stage-info-sort-block {
    border-top: 1px solid #d3d3d3;
}

.stage-heading {
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    color: #5b5b5b;
}

.sort-label {
    font-size: 13px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.sort-1, .sort-2 {
    display: block;
    float: left;
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.sort-1 span, .sort-2 span {
    position: relative;
    font-size: 11px;
}

.sort-1 span {
    top: -21px;
}

.sort-2 span {
    top: -18px;
}

.form-group .fa-check {
    position: absolute;
    display: none;
    top: 50%;
    left: -20px;
    margin-top: -7px;
}

.form-group .btn.active + .fa-check {
    display: inline-block;
}

/* comments styles */
.com_dashed_border.right {
    border-right: 1px dashed #e4cae2;
    position: relative;
}

.com_dashed_border.left {
    border-left: 1px dashed #e4cae2;
    position: relative;
}

.com_dashed_border.left.comment_col {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.comment_col {
    position: relative;
    padding: 0;
}

.media.comment {
    padding: 7px 7px 10px 7px;
    margin: 3px 9px;
}

.media.comment, .media.comment .media-body {
    overflow: visible;
}

/* unread comment backgr */

.comment .media-body {
    vertical-align: middle;
}

.comment .media-left {
    padding-right: 15px;
}

.comment .media-heading {
    display: inline-block;
    margin-right: 12px;
    float: left;
    max-width: 70%;
}

.comment_interf > * {
    float: left;
    margin-right: 8px;
}

.comment_interf .date_time {
    font-size: 11px;
    font-weight: bold;
    margin-top: 1px;
}

.comment_interf button {
    margin-top: -2px;
}

.comment_interf .badge_important {
    margin-top: 2px;
}

.edit_comment .dropdown-menu {
    top: -3px;
    left: 20px;
}

.edit_comment .dropdown-menu > li > a {
    padding: 0 5px;
    color: #7c7c7c;
}

.badge_important {
    border-radius: 4px;
    line-height: 0.7;
    padding: 2px 5px 4px;
    font-weight: normal;
    font-size: 11px;
}

.comment .status {
    display: table-cell;
    padding-right: 35px;
    white-space: nowrap;
}

.comment p {
    font-size: 13px;
    margin-top: 10px;
    line-height: 22px;
    color: #797979;
}

.answers_collapse {
    display: block;
    position: relative;
    text-align: center;
    margin: 0 16px;
}

.answers_collapse.theme_font_color.opened {
    color: #bebdbe;
}

.answers_collapse span {
    padding: 0 8px;
    position: relative;
    z-index: 100;
    background: #fff;
    font-size: 12px;
    top: 4px;
}

.answers_collapse:after {
    content: " ";
    display: block;
    position: absolute;
    z-index: 90;
    width: 100%;
    bottom: -3px;
    border-top: 1px solid #cdcdcd;
}

.com_answers {
    padding-left: 20px;
}

.answers_subblock {
    border-left: 2px solid transparent;
    margin-bottom: 6px;
    margin-top: 10px;
}

.answers_subblock.level1 {
    border-color: #8cc5f1;
}

.answers_subblock.level2 {
    border-color: #c2e2b0;
}

.rate_button.pushed i {
    color: #c1c1c1;
}

.comment_add {
    position: relative;
    margin: 3px 16px;
}

.comment_add.main_add {
    padding-top: 20px;
    border-top: 1px solid #cfcfcf;
}

.input_cont {
    margin-right: 58px;
    min-height: 40px;
}

.input_cont textarea {
    width: 100%;
    box-sizing: content-box;
    height: 28px;
    line-height: 28px;
    padding-left: 8px;
    border: 1px solid #d9d7d9;
    border-radius: 3px;
}

.input_cont ::-webkit-input-placeholder {
    color: #434343 !important;
}

.input_cont ::-moz-placeholder {
    color: #434343;
}

.input_cont :-moz-placeholder {
    color: #434343;
}

.input_cont :-ms-input-placeholder {
    color: #434343;
}

.q_pop_block {
    padding-left: 45px;
    padding-right: 30px;
}

.q_pop_block, .thank {
    margin-bottom: 20px;
}

.q_pop_block p {
    position: relative;
    font-size: 13px;
}

.q_pop_block p .fa-question-circle {
    position: absolute;
    left: -30px;
    top: 3px;
}

.q_pop_block .form-group {
    margin-bottom: 7px;
}

.thank {
    height: 292px;
    padding-top: 70px;
}

.thank h1 {
    font-size: 46px;
}

.thank p {
    padding-top: 10px;
    font-size: 15px;
    color: #797979;
}

.nav-tabs-one ul.nav-tabs li a {
    background: #e4e4e4;
    padding: 9px 12px 9px 14px;
    border: 1px solid #d0d0d0;
    border-bottom: 0px !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.nav-tabs-one ul.nav-tabs li a .btn_cab_mod {
    cursor: pointer;
}

.nav-tabs-one ul.nav-tabs li a .btn_cab_mod.warm_sandy {
    border-color: #e0b27e;
}

.nav-tabs-one ul.nav-tabs li.active a {
    background: #fff;
}

.nav-tabs-one .nav-tabs .tab-content {
    border: 1px solid #eee;
    padding: 10px 15px;
    padding-top: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* heading with background color */
.stripe-qa p {
    margin: 10px 0;
}

.lined-heading {
    line-height: 20px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #000;
    margin-bottom: 11px;
}

.panel {
    box-shadow: none;
}

.panel-group {
    margin-bottom: 0;
}

.panel-heading .panel-title {
    color: #e8243a;
    font-size: 18px;
}

.panel-body-first-level {
    background: #f7f7f5;
}

h5 a:hover, h5 a:focus {
    color: #fff;
}

h6 a:hover, h6 a:focus {
    color: #5a82b3;
}

.label-default {
    background: #bcbcbc;
}

.colorT2 {
    color: #72d7ed;
}

.form-group p i {
    padding-right: 5px;
}

input[type="radio"].active-radio + .cabinet-aspect-form-checkb-filler:after {
    color: #e71d2b;
}

h5 i {
    padding-right: 10px;
}

.post-theme {
    width: 100%;
    overflow: hidden;
    padding: 5px 10px;
    height: 25px;
}

.post .post-theme {
    position: relative;
    top: -5px;
}
/* perfect scrollbar */
.ps_cont {
    position: relative;
    height: 100%;
}

.ps-scrollbar-y-rail {
    margin: 15px 0;
}

.post_cont_hover .ps-scrollbar-y-rail {
    margin: 0px 0 5px;
}

.radial-gradient > .ps-container > .ps-scrollbar-y-rail {
    margin-right: 20px;
    margin-top: 50px;
}

.ps-container > .ps-scrollbar-y-rail, .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    width: 6px;
}
/* new 2nd stage styles */

.comment_preview {
    width: 100%;
    height: 17px;
    padding-left: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.com_date {
    margin-right: 8px;
    font-size: 11px;
}

.comment_preview + .comment_preview {
    margin-top: 8px;
}

.comments_icon, .comments_icon .fa {
    transition: color 0.3s linear;
}

.comments_icon.active, .comments_icon.active .fa {
    color: #e71d2b !important;
}

.post .what .left-column {
    position: relative;
    line-height: 1.2;
}

.post .what .fa-angle-right, .post.post_type_3.merged .media-body h5 i {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    font-size: 36px;
}

.post .what .fa-angle-right {
    right: 8px;
}

.media-body .pull-right .fa-angle-right {
    right: 8px;
    position: absolute;
    font-size: 36px;
    top: 50%;
    margin-top: -44px;
}

.post.post_type_3.merged .media-body h5 i {
    right: 0;
}

/* new 3rd stage styles */
.slide_table_wrap {
    display: table;
    width: 100%;
    padding-right: 23px;
}

.checkox_item {
    display: table-row;
    font-size: 11px;
}

.checkox_item > span {
    display: table-cell;
    padding: 4px 5px;
    vertical-align: middle;
}

.color_counter {
    display: inline-block;
    width: 20px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    border-radius: 2px;
}

.cb_input {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
}

.cb_input input {
    opacity: 0;
}

.cb_input label {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -8px;
    left: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
    color: #727272;
    font-size: 11px;
}

.cb_input label .fa-check {
    opacity: 0;
}

.cb_input label:hover .fa-check {
    opacity: 0.2;
}

.cb_input input[type=checkbox]:checked + label .fa-check {
    opacity: 1;
}

.checkox_item .text_label {
    width: 100%;
}

.checkox_item .text_label label {
    font-weight: normal !important;
    margin: 0;
    cursor: pointer;
}

.cb_doc,
.cb_com {
    text-align: right;
}

.cb_doc {
    padding-right: 14px !important;
}

.cb_com {
    padding-right: 20px !important;
}

/* dropdown menu */
.dropdown-toggle {
    display: inline-block;
    padding-right: 10px;
    position: relative;
}

.dropdown-toggle:after {
    position: absolute;
    right: -15px;
    top: 0;
    content: " ";
    display: block;
    width: 18px;
    height: 18px;
    background: image-url('arrows.png') no-repeat;
    background-position: 0 -57px;
}

.dropdown-toggle span {
    display: inline-block;
    padding: 0 20px 0 0;
}

.dropdown-menu {
    z-index: 1090;
}

.dropdown-toggle span.cb_doc, .dropdown-toggle span.cb_com, .dropdown-toggle span.color_counter > span {
    display: none;
}

.dropdown-toggle span.color_counter {
    display: inline-block;
    width: 11px;
    height: 11px;
}

.ta_icon {
    background-image: image-url('icons.png');
    background-position: 0 -23px;
    background-repeat: no-repeat;
    padding-right: 30px;
}

.content_window {
    padding: 0 20px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    overflow: hidden;
    font-size: 12px;
    position: relative;
    background:white;
}

.content_window p {
    margin-bottom: 10px;
}

.collapser_type1 {
    font-size: 12px;
    display: block;
    position: relative;
    padding: 10px 0;
    padding-right: 15px;
}

.collapser_type1 .collapse_arrow {
    position: absolute;
    top: 50%;
    right: -6px;
    margin-top: -6px;
}

.collapser_type1.not_full_width {
    font-size: 12px;
    display: inline-block;
    padding: 10px 0;
}

.collapser_type1.not_full_width i {
    margin-left: 5px;
    position: inherit;
}

.collapser_type2 {
    display: block;
    position: relative;
    padding: 9px 30px 9px 9px;
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 2px;
}

.collapser_type2 i {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -6px;
}

.collapser_type3 {
    display: block;
    position: relative;
    padding: 9px 9px;
    text-align: left;
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid transparent;
}

.collapser_type3:focus {
    border-width: 1px;
    border-style: solid;
}

.collapser_type3 i {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -6px;
}

.check_push_cont {
    padding-bottom: 15px;
}

.check_push_cont > div, .unchecked_items > div {
    border-top: 1px solid #d0d0d0;
}

.check_push_cont .item {
    padding: 14px 0 8px;
}

.check_push_cont .item:last-child {
    border-bottom: 1px solid #d2d2d2;
}

.check_push_cont .item .cb_input {
    display: inline-block;
}

.check_push_cont .item > span {
    display: table-cell;
    vertical-align: top;
}

.check_push_cont .item > span.cell_full_w {
    width: 100%;
}

.check_push_cont .item > span a[data-toggle="collapse"] {
    padding: 0;
    padding-left: 15px;
    padding-right: 20px;
    color: #5c5c5c;
    vertical-align: top;
}

.check_push_cont .item > span a[data-toggle="collapse"] .color_counter {
    min-height: 14px;
    width: 9px;
    border-radius: 0px;
    margin-right: 7px;
    margin-top: 1px;
}

.check_push_cont .item > span a[data-toggle="collapse"] i {
    right: 10px;
    color: #5c5c5c;
}

.check_push_cont .item .cb_input label {
    margin-bottom: 0;
}

.check_push_cont .item div.description {
    padding-top: 5px;
}

.check_push_cont .item div.description .media.comment {
    margin-right: 0px;
    padding-right: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.check_push_cont .item div.description .media-heading {
    display: block;
    float: none;
}

.check_push_cont .item div.description .date {
    font-size: 11px;
}

.check_push_cont .item div.description .media-body .row > div {
    display: table-cell;
    vertical-align: middle;
}


.cabinet_popup_links {
    overflow: hidden;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.stages_block .open_sticker {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -5px;
}

.open_sticker {
    cursor: pointer;
}

.sticker {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 370px;
    margin-top: 18px;
    padding: 10px 55px 10px 20px;
    background: #e4bd54;
    font-size: 12px;
    z-index: 1;
    border-radius:3px;
}

i.fa.sticker_close {
    position: absolute;
    right: 8px;
    top: 15px;
    cursor: pointer;
    color: #fff;
}

.cab_drop .dropdown-toggle:after {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
    content: " ";
    display: block;
    width: 8px;
    height: 8px;
    /*background: image-url('angle-down.png') no-repeat center;*/
}

.cab_drop, .cab_drop .text_label {
    font-size: 12px;
}

.cab_drop .color_counter {
    width: 8px;
    min-height: 8px;
}

/* 4 */

.cont_heading {
    display: block;
    margin: 0;
}

.cont_heading {
    margin-left: -20px;
    margin-right: -20px;
    font-size: 17px;
    padding: 15px 20px;
}

.breadcr + textarea {
    vertical-align: bottom;
    display: inline-block;
    width: auto;
    padding-left: 3px;
    padding-bottom: 4px;
    font-size: 13px;
}

/* 6 */
.col_rate_head {
    height: 52px;
    border-radius: 2px;
    padding: 7px 18px;
    font-size: 12px;
    color: #5d5d5d;
}

.publish {
    position: absolute;
    top: 20px;
    right: 30px;
}

.edit_tgl_ta {
    font-size: 13px;
    color: #797b7a;
    margin-left: 10px;
}

.transp_ta {
    background: transparent;
    width: 100%;
    border: 0;
    box-shadow: none;
    font-size: 17px;
}

.transp_ta.min {
    font-size: 12px;
}

.transp_ta:hover {
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .5);
}

.transp_ta::-webkit-input-placeholder {
    color: #434551;
}

.transp_ta::-moz-placeholder {
    color: #434551;
}

/* Firefox 19+ */
.transp_ta:-moz-placeholder {
    color: #434551;
}

/* Firefox 18- */
.transp_ta:-ms-input-placeholder {
    color: #434551;
}

.cab_modal_opnr {
    display: inline-block;
    padding-left: 25px;
    line-height: 27px;
    font-size: 13px;
    vertical-align: middle;
    /*background: image-url('icon-cab-bulb.png') no-repeat left top;*/
}

.mod_col_top {
    position: relative;
    min-height: 50px;
    padding: 9px 12px;
    border-bottom: 1px solid #cccad5;
}

.mod_col_top i.fa {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 13px;
}

.items {
    height: 560px;
    margin: 15px 10px 15px 15px;
    padding-right: 20px;
}

.items.check_push_cont .item {
    padding: 10px 5px 6px;
    border-top: 1px solid #d0d0d0;
}

.items.check_push_cont > div {
    border-top: 0;
}

.items .description {
    margin-bottom: 10px;
}

.items .description p {
    font-size: 12px;
}

.items .description p + h6 {
    margin-top: 19px;
}

.items .ps-scrollbar-y-rail {
    margin: 0;
}

/* 4th stage cabinet media */
.media.type_cab {
    overflow: hidden;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.media.type_cab {
    height: 95px;
}

.type_cab.with_bottom {
    height: 120px;
}

.type_cab.with_bottom .post-bottom {
    padding-top: 0;
}

.type_cab .media-left {
    width: 33%;
    padding-top: 15px;
}

.type_cab .media-left, .type_cab .media-body {
    border-top: 1px solid #d0d0d0;
    box-shadow: inset 0 2px 3px -2px rgba(0, 0, 0, 0.3);
    height: 90px;
}

.type_cab .cab_folder {
    position: relative;
    height: 50px;
}

.type_cab .cab_folder.back1 {
    /* background: image-url('icon-cab-folder.png') no-repeat center top;*/
}

.type_cab .cab_folder.back2 {
    /*background: image-url('icon-cab-folder_.png') no-repeat center top;*/
}

.type_cab .cab_folder.back3 {
    /*background: image-url('icon-cab-folder_5.png') no-repeat center top;*/
}

.type_cab .cab_folder.back4 {
    /*background: image-url('icon-cab-folder_5_.png') no-repeat center top;*/
}

.type_cab .cab_folder .percentage {
    position: absolute;
    width: 100%;
    display: block;
    padding-left: 5px;
}

.cab_folder.back1 .percentage, .cab_folder.back2 .percentage {
    top: 20px;
}

.cab_folder.back3 .percentage, .cab_folder.back4 .percentage {
    top: 15px;
}

.type_cab .media-body {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.type_cab .media-body a {
    display: table-cell;
    height: 56px;
    font-size: 12px;
    padding-top: 10px;
    padding-right: 40px;
    vertical-align: middle;
    position: relative;
}

.type_cab .media-body .fa-angle-right, .post_type_3.cab .media-body .fa-angle-right {
    position: absolute;
    bottom: 3px;
    right: 7px;
}

.type_cab .media-bottom.ideas {
    display: block;
    padding-left: 30px;
    background: image-url('icon-cab-bulb.png') no-repeat left top;
}

.type_cab .media-bottom .fa {
    position: absolute;
    right: 0px;
    font-size: 30px;
}

/* 4th cab */
.post_type_3.cab {
    height: 130px;
}

.post_type_3 .post-bottom {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.post_type_3.cab .media-left, .post_type_3.cab .media-body {
    height: 95px;
}

.post_type_3.cab .media-left {
    width: 25%;
    padding-top: 18px;
}

.post_type_3.cab .media-body {
    padding-left: 15px;
    padding-right: 60px;
    position: relative;
}


.post_type_3.cab .cab_folder {
    position: relative;
    height: 50px;
}

/*.post_type_3.cab .cab_folder.back1 {*/
    /*background: image-url('icon-cab-folder.png') no-repeat center top;*/
/*}*/

/*.post_type_3.cab .cab_folder.back2 {*/
    /*background: image-url('icon-cab-folder_.png') no-repeat center top;*/
/*}*/

/*.post_type_3.cab .cab_folder.back2_pale {*/
    /*background: image-url('icon-cab-folder_pale.png') no-repeat center top;*/
/*}*/

/*.post_type_3.cab .cab_folder.back3 {*/
    /*background: image-url('icon-cab-folder_5.png') no-repeat center top;*/
/*}*/

/*.post_type_3.cab .cab_folder.back4 {*/
    /*background: image-url('icon-cab-folder_5_.png') no-repeat center top;*/
/*}*/

.post_type_3.cab .cab_folder .percentage {
    position: absolute;
    width: 100%;
    display: block;
    padding-left: 5px;
}

.cab_folder.back1 .percentage, .cab_folder.back2 .percentage, .cab_folder.back2_pale .percentage {
    top: 20px;
}

/* 5 */
.pocket_name {
    font-size: 13px;
    line-height: 25px;
}

.breadcr {
    display: inline-block;
    min-height: 25px;
}

.c_w_5 {
    padding-bottom: 20px;
}

.c_w_5_top {
    padding-left: 0;
}

.tab_cont5 {
    height: 350px;
    margin-right: -15px;
    padding-right: 20px;
}

.cab5_placeholder {
    font-size: 13px;
}

/* digest */


.dia_legend {
    line-height: 23px;
    visibility: hidden;
}

.dia_legend.active {
    visibility: visible;
}

.dia_legend > span {
    margin-right: 19px;
    font-size: 11px;
}

.dia_block {
    padding: 18px 68px;
}

.dia_cell {
    display: table;
}

.dia_cell > span {
    display: table-cell;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 5px;
}

.dia_icon {
    margin-right: 10px;
    font-size: 11px;
    color: #bbbbbb;
    visibility: hidden;
}

.dia_icon.active {
    visibility: visible;
}

.dia_icon i.fa {
    font-size: 13px;
}

.num_cell {
    font-size: 11px;
}


.stats {
    height: 109px;
    padding: 33px 120px 38px;
}

.stats > .row > div {
    padding: 5px;
}

.stat_block {
    display: table;
}

.stat_block > * {
    display: table-cell;
}

.stat_num {
    display: block;
    line-height: 36px;
    width: 36px;
    height: 36px;
    font-size: 19px;
}

.stats h4 {
    vertical-align: top;
    padding-left: 10px;
    height: 42px;
    font-size: 16px;
}

.toTop {
    width: 30px;
    height: 30px;
    /*background: image-url('arrowUP.png') no-repeat;*/
    position: fixed;
    bottom: 10px;
    right: 30px;
    display: none;
    cursor: pointer;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80) black;
    -khtml-opacity: 0.8;
}

.toTop:hover {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100) black;
    -khtml-opacity: 1;
}

.ps-container .ps-scrollbar-y-rail {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.list li {
    padding-bottom: 15px;
}

.label-success {
    background: #72b07e;

}

.label {
    font-weight: 500;
}


.important {
    width: 60px;
    height: 60px;
    margin-left: 7px;
    position: absolute;
}

.separator {
    margin: 10px 0;
    margin-right: 10px;

    clear: both;
    position: relative;
}

.separator hr {
    position: absolute;
    border-top: 1px solid #DDD;
    width: 100%;
    top: 20px;
    margin: 0;
}

.separator_label {
    padding-left: 10px;
    padding-right: 8px;
    background: #FFFFFF;
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

.separator_label.pull-right {
    margin-top: 8px;
}

.separator_label a {
    font-size: 12px;
}

.collapser_type2 .progress {
    background: none;
}

/* new cab styles */



.striped {
    background-image: image-url('background/stripes_back.png');
    background-repeat: repeat;
}


.cell .badge_important {
    font-size: 10px;
    margin-bottom: 2px;
}

.add_new .media-body {
    vertical-align: middle;
}

.add_new .media-body small {
    margin-left: 4px;
    vertical-align: text-top;
    font-size: 12px;
}

.media.comment.in_cab {
    margin-left: 0;
    padding-left: 0;
}

.media.contact {
    margin-right: 120px;
}

.media.contact .media-body {
    vertical-align: middle;
    padding-left: 15px;
    margin-right: 120px;
}

.actions {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 20px;
}

.actions i {
    margin: 0 5px;
}

.plus20, .plus25 {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    border: 1px solid #b3b3b3;
}

.plus20 {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    line-height: 18px;
    font-size: 17px;
}

.plus25 {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    line-height: 23px;
    font-size: 20px;
}

.exp_col.left {
    border-right: 1px solid #c4c4c4;
}

.exp_col.right {
    border-left: 1px solid #c4c4c4;
    margin-left: -1px;
}

.exp_col.active {
    width: 100%;
    border: 0;
}

.exp_col.hidden {
    width: 0;
}

.exp_col.left .exp_button:focus,
.exp_col.right .exp_button:focus {
    box-shadow: none;
}

.cab_cont_h450 {
    height: 450px;
}

.cab_cont_h450 .ps_cont {
    padding-right: 25px;
}

.collapser_w_checkbox {
    display: table;
}

.collapser_w_checkbox > span {
    display: table-cell;
    vertical-align: top;
    padding-right: 8px;
    line-height: 1.8;
}

.collapser_w_checkbox > span > .fa-square {
    vertical-align: middle;
    line-height: 3.4;
}

.collapser_w_checkbox .cb_input {
    margin-top: 12px;
}

.collapser_w_checkbox .cb_input .fa-check {
    vertical-align: 3px;
}

.collapser_w_checkbox > .cell_full_w {
    width: 100%;
    position: relative;
}

.collapser_w_checkbox > .cell_full_w > a[data-toggle="collapse"] {
    padding-right: 25%;
}

.collapser_w_checkbox .collapse_arrow {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
}

.subaspect li.active .collapser_type3:after, .subaspect li.active .collapser_type3:before {
    right: -18px;
    margin-top: -8.5px;
    border: solid transparent;
    content: " ";
    display: block;
    top: 50%;
    height: 0;
    width: 0;
    position: absolute;
}

.subaspect li.active .collapser_type3:before {
    border-color: rgba(211, 211, 211, 0);
    border-width: 9.5px;
}

.profile h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}


/* vote new styles */
.big_tab {
    display: block;
    position: relative;
    padding: 10px 115px 10px 20px;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.big_tab .vote_controls {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 10px;
}

li.active > .big_tab {
    background-color: #fff !important;
}

.big_tab .vote_controls {
    visibility: hidden;
}

.big_tab .vote_controls {
    visibility: hidden;
}

li.active > .big_tab .vote_controls {
    visibility: visible;
}

li.active > .big_tab:after {
    right: -13px;
    margin-top: -12.5px;
    content: " ";
    display: block;
    width: 13px;
    height: 25px;
    top: 50%;
    position: absolute;
    background: image-url('arrows.png') no-repeat;
    background-position: 0 -17px;
}

.block_BZ {
    min-height: 400px;
    background: image-url('background/BZ.png') bottom center no-repeat;
}

h4 i img {
    padding-right: 10px;
}

.link_status {
    margin-left: 2px;
    margin-right: 2px;
}

.aspect-main-block h5 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.aspect-main-block ol li {
    font-size: 13px;
    line-height: 20px;
}

.aspect-section {
    background: #f9f9f9;
}

.aspect-main-block .row {
    padding: 20px 25px;
}

.noLink {
    pointer-events: none;
    opacity: 0.6;
}

h5.media-heading > a:hover {
    opacity: 0.8;
}

.results {
    background-image: image-url('i-result.png');
    background-repeat: no-repeat;
    display: block;
    margin-top: -7px;
}

.results_red {
    width: 113px;
    height: 47px;
    background-position: -5px -5px;
}

.results_blue {
    width: 113px;
    height: 46px;
    background-position: -5px -62px;
}


.marginL10 {
    margin-left: 10px;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
}

.media {
    margin: 0px;
}

.media-left {
    padding-right: 0px;
}

.table {
    margin-bottom: 0px;
    padding-top: 10px;
    color: #666666;
}

.bold {
    font-weight: 700;
}

.stage-post-block {
    margin-top: 5px;
}

a.dropdown-toggle {
    cursor: pointer;
    color: #000000;
}

a.dropdown-toggle i {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 5px;
}

.dropdown-menu li i {
    padding: 10px;
}

.arrow {
    position: relative;
    top: 5px;
}

.arrow i {

    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

/* background */
/* colors for stages */

/* colors */
/* background */
/* fonts */
/* font colors for stages */


/* borders */
.border_grey {
    border: 1px solid #d1d1d1 !important;
}

.border_light_grey {
    border: 1px solid #e6e6e6;
}

.border_top_grey {
    border-top: 1px solid #d1d1d1;
}

.sprite {
    background-image: image-url('i-sort.png');
    background-repeat: no-repeat;
    display: block;
    position: relative;
}

.sprite-2_1 {
    width: 32px;
    height: 31px;
    background-position: -5px -5px;
}

.sprite-1_1 {
    width: 32px;
    height: 31px;
    background-position: -47px -5px;
}

.sprite-1_2 {
    width: 32px;
    height: 31px;
    background-position: -89px -5px;
}

.sprite-1_3 {
    width: 32px;
    height: 31px;
    background-position: -131px -5px;
}

.sprite-1_4 {
    width: 32px;
    height: 31px;
    background-position: -173px -5px;
}

.sprite-1_5 {
    width: 32px;
    height: 31px;
    background-position: -215px -5px;
}

.sprite-1_6 {
    width: 32px;
    height: 31px;
    background-position: -257px -5px;
}

.sprite-2_2 {
    width: 32px;
    height: 31px;
    background-position: -299px -5px;
}

.sprite-2_3 {
    width: 32px;
    height: 31px;
    background-position: -341px -5px;
}

.sprite-2_4 {
    width: 32px;
    height: 31px;
    background-position: -383px -5px;
}

.sprite-2_5 {
    width: 32px;
    height: 31px;
    background-position: -425px -5px;
}

.sprite-2_6 {
    width: 32px;
    height: 31px;
    background-position: -467px -5px;
}

.sprite.active, .sprite:hover {
    opacity: 0.8;
}

.sprite span.badge-red {
    padding-top: 2px;
    border-radius: 50%;
    text-align: center;
    background: #e71d2b;
    color: white;
    position: absolute;
    top: -10px;
    left: -8px;
    width: 20px;
    height: 20px;
}

.avatar_icon {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border: 2px solid #c7c7c7;
    cursor: pointer;
}

.avatar_icon.active {
    border: 2px solid #e61928;
}

.book_icon {
    display: inline-block;
    margin-right: 2px;
    top: 2px;
    width: 19px;
    height: 15px;
    background: image-url('book-icon-sprite.png') no-repeat 0 -3px;
    position: relative;
}

.top-circle {
    display: block;
    position: absolute;
    top: 10px;
    right: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e71d2b;
    color: #fff;
    font-size: 9px;
    text-align: center;
    line-height: 15px;
}
