#moderator_chat_window {
  //colors
  $mercury: #e5e5e5;
  $color_storm_dust_approx: #666;
  $white: white;
  $black_20: rgba(0, 0, 0, 0.2);
  $color_celeste_approx: #ccc;
  $black: black;
  $color_wild_sand_approx: #f5f5f5;
  $color_fuscous_gray_approx: #555;

  width: 400px;

  .col-md-2 {
    padding: 0;
  }
  .col-md-10 {
    padding: 0;
  }
  .panel {
    margin-bottom: 0;
  }
  .chat-window {
    bottom: 0;
    position: fixed;
    float: right;
    margin-left: 10px;
    > div > .panel {
      //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
      border-radius: 5px 5px 0 0;
    }
  }
  .icon_minim {
    padding: 2px 10px;
  }
  .msg_container_base {
    background: $mercury;
    margin: 0;
    padding: 0 10px 10px;
    max-height: 300px;
    overflow-x: hidden;
    &::-webkit-scrollbar-track {
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
      width: 12px;
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color_fuscous_gray_approx;
    }
  }
  .top-bar {
    background: $color_storm_dust_approx;
    color: $white;
    padding: 10px;
    position: relative;
    overflow: hidden;
  }
  .msg_receive {
    padding-left: 0;
    margin-left: 0;
  }
  .msg_sent {
    padding-bottom: 20px !important;
    margin-right: 0;
    > time {
      float: right;
    }
  }
  .messages {
    padding: 10px;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 2px;
    //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 1px 2px $black_20;
    max-width: 100%;
    > {
      p {
        font-size: 13px;
        margin: 0 0 0.2rem 0;
      }
      time {
        font-size: 11px;
        color: $color_celeste_approx;
      }
    }
  }
  .msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
  }
  img {
    display: block;
    width: 100%;
  }
  .avatar {
    position: relative;
  }
  .base_sent {
    justify-content: flex-end;
    align-items: flex-end;
    > .avatar:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid $white;
      border-right-color: transparent;
      border-top-color: transparent;
      //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: 1px 1px 2px rgba($black, 0.2);
      // not quite perfect but close: ;
    }
  }
  .base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
  }
  .btn-group.dropup {
    position: fixed;
    left: 0;
    bottom: 0;
  }
}
