.back_color_stage6 {
    background-color: #84b9bd;
}


.arrow_left.back_color_stage6:after,
.arrow_left.back_color_stage6{
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #84b9bd;
}
.arrow_left.back_color_stage6:hover,
.arrow_left.back_color_stage6:focus,
.arrow_left.back_color_stage6:active {
    outline: none;
    background: #8ad1cb;
}
.arrow_left.back_color_stage6:hover:after,
.arrow_left.back_color_stage6:focus:after,
.arrow_left.back_color_stage6:active:after{
    border-right-color: #8ad1cb;
}

.font_color_stage6 {
    color: #84b9bd !important;
}
.stage6_theme .main_menu li.active a:after {
    border-color: rgba(211, 211, 211, 0);
    border-width: 6px;
}

.stage6_theme .main_menu li.active a:before {
    border-color: rgba(211, 211, 211, 0);
    border-width: 7px;
    border-bottom-color: #5c878c;
}

.stage6_theme .subhead {
    background: #80bcc4; /* Old browsers */
    background: -moz-linear-gradient(top, #80bcc4 0%, #a7ced5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #80bcc4), color-stop(100%, #a7ced5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #80bcc4 0%, #a7ced5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #80bcc4 0%, #a7ced5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #80bcc4 0%, #a7ced5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #80bcc4 0%, #a7ced5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80bcc4', endColorstr='#a7ced5', GradientType=0); /* IE6-9 */
}

.stages_block .btn.back_color_stage6:hover {
    background: #8ad1cb;
}

.stage6_theme .help_icon {
    background: image-url('icon-help-sprite.png') no-repeat 0 -265px;
}

.stage6_theme .theme_back_color {
    background: #7ab7b2;
}


.stage6_theme .theme_font_color {
    color: #7bb6b2;
}

.stage6_theme button:hover .theme_font_color {
    opacity: 0.8;
}

.stage6_theme button:active .theme_font_color {
    color: #72adab;
}

.stage6_theme .dd_badge {
    background: #84b9bd;
}

.stage6_theme .collapser_type2 {
    background: #c6e0de;
}

.stage6_theme .btn_cab_mod.active {
    background: #87c5c0;
    color: #fff;
}