.stage7_theme .main_menu li.active a:before {
    border-color: rgba(211, 211, 211, 0);
    border-width: 7px;
    border-bottom-color: #558590;
}

.stages_block .btn.back_color_stage7:hover {
    background: #97e0ef;
}

.stage7_theme .dd_badge {
    background: #86c3cf;
}

.stage7_theme .btn_cab_mod.active {
    background: #7fb8c3;
    color: #fff;
}

.list_win .active .back_color_stage7 {
    background: #9ee7f4;
}

.back_color_stage7 {
    background-color: #8cccd8;
}

.font_color_stage7 {
    color: #86c3cf !important;
}

.project_win {
    background: image-url("background/stripe.png") repeat;
    margin-top: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    height: 450px;

}

.radial-gradient {
    height: 100%;
    border-radius: 6px;
    background: radial-gradient(circle, rgba(253, 255, 254, 0.70) 30%, rgba(227, 232, 236, 0.7) 60%);
    padding-bottom: 40px;
}

.poster_win {
    padding-top: 40px;
}

.poster_win img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.poster_win h5 {
    margin-top: 20px;
}

.post-win, .post-accost {
    padding-top: 40px;
    padding-bottom: 40px;
}

.post-accost {
    padding-left: 10px;
}

.post-win h4, .post-accost h4 {
    line-height: 1.4;
}

.post-win h5, .post-accost h5 {
    margin-top: 30px;
}

.post-win p, .post-accost p {
    font-size: 13px;
    margin-top: 20px;
}


.badge-win {
    background: image-url('background/winner.png') no-repeat;
    margin-top: -10px;
    width: 120px;
    height: 120px;
}

.list_win li {
    color: #a4a4a4;
    padding-left: 0px;
    padding-right: 0px;
}

.list_win li:hover {
    cursor: pointer;
    color: #323232;
}

.list_win .active {
    color: #323232;
}


.letters {
    height: 100%;
    background: image-url("background/lettersTL.png") top 30px left 30px no-repeat, image-url("background/letters.png") bottom 10px right no-repeat;
}
