$base_color_3: #bd8cb8;
$light_base_color_3: $base_color_3 * 1.1;

.stage_3 {
  .add-button {
    background: $base_color_3;
    &:hover {
      background: $light_base_color_3;
    }
  }
  .help_icon {
    background: image-url('i-help.png') no-repeat 0 -106px;
  }

  .expand_button:before {
    border-right-color: $base_color_3;
  }
  .media.comment.unread {
    background: #fbf9fa;
  }
  .theme_back_color {
    background: $base_color_3;
  }
  .theme_font_color, span a i, i, a.theme_font_color i {
    color: $base_color_3;
  }

  .slide-inner.slide_stage3 {
    width: 400px;
    max-height: 565px;
    height: 100%;
    padding: 0 10px;
  }

  .slide-inner.slide_stage3 > .ps_cont {
    max-height: 565px;
  }

  .stages_block .btn.back_color_stage3:hover {
    background: #d69fd1;
  }

  button:hover .theme_font_color, a i:hover {
    opacity: 0.8;
  }

  button:active .theme_font_color {
    color: #bd7fb7;
  }

  .popup_color_theme_stage3 .lined-heading {
    background: #ebdcea;
  }


  .vote_counter {
    position: absolute;
    display: block;
    text-align: center;
    top: 32px;
    left: 35px;
    width: 35px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
  }

  .b_vote.voted {
//    background-image: image-url('vote/vote_all_3.png');
  }

  .icon-right {
    color: #bc8bb7;
  }

  .cb_doc:not(:empty) {
//    background: image-url('slider/doc_3.png') no-repeat center right;
    background-size: 14px auto;
  }

  .cb_com:not(:empty) {
//    background: image-url('slider/com_3.png') no-repeat center right;
    background-size: 18px auto;
  }

  .tabs_type_1 > li > a {
    // background: $color_3;
  }

  .tabs_type_1 > li.active > a:before {
    //border-left-color: $color_3;
  }

  .plus20.font_color_stage3, .plus25.font_color_stage3 {
    //border-color: $color_3;
  }
  li.active .right_cursor.back_color_stage3_superpale:before {
    border-left-color: #e9dae8;
  }

  .popup_color_theme_stage3 .new_comment {
    background: rgba(194, 146, 189, 0.23);
  }

  .popup_color_theme_stage3 .answers_subblock {
    //border-color: $color_3;
  }

  .back_color_stage3 {
    //background-color: $color_3;
  }

  .arrow_left.back_color_stage3:after,
  .arrow_left.back_color_stage3 {
    border-color: rgba(136, 183, 213, 0);
    //border-right-color: $color_3;
  }
  .arrow_left.back_color_stage3:hover,
  .arrow_left.back_color_stage3:focus,
  .arrow_left.back_color_stage3:active {
    outline: none;
    background: #d69fd1;
  }
  .arrow_left.back_color_stage3:hover:after,
  .arrow_left.back_color_stage3:focus:after,
  .arrow_left.back_color_stage3:active:after {
    border-right-color: #d69fd1;
  }

  .back_color_stage3_pale {
    background-color: #bd8eb9;
  }

  .back_color_stage3_superpale {
    background-color: #e9dae8;
  }

  .font_color_stage3 {
    //color: $color_3 !important;
  }

  .font_color_stage3_pale {
    color: #bd8eb9 !important;
  }
}

/* striped question-answer block */
.stripe-qa {
  margin-bottom: 20px;
  font-size: 12px;
}

.stripe-qa .lined-heading {
  padding-top: 9px;
  padding-bottom: 9px;
}

.stripe-qa p {
  padding: 0 5px;
}
