.back_color_stage6 {
    background-color: #84b9bd;
}


.arrow_left.back_color_stage6:after,
.arrow_left.back_color_stage6{
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #84b9bd;
}
.arrow_left.back_color_stage6:hover,
.arrow_left.back_color_stage6:focus,
.arrow_left.back_color_stage6:active {
    outline: none;
    background: #8ad1cb;
}
.arrow_left.back_color_stage6:hover:after,
.arrow_left.back_color_stage6:focus:after,
.arrow_left.back_color_stage6:active:after{
    border-right-color: #8ad1cb;
}

.font_color_stage6 {
    color: #84b9bd !important;
}


.stages_block .btn.back_color_stage6:hover {
    background: #8ad1cb;
}

.stage6_theme .help_icon {
    background: image-url('i-help.png') no-repeat 0 -265px;
}

.stage6_theme .theme_back_color {
    background: #7ab7b2;
}


.stage6_theme .theme_font_color {
    color: #7bb6b2;
}

.stage6_theme button:hover .theme_font_color {
    opacity: 0.8;
}

.stage6_theme button:active .theme_font_color {
    color: #72adab;
}

.stage6_theme .collapser_type2 {
    background: #c6e0de;
}

.stage6_theme .btn_cab_mod.active {
    background: #87c5c0;
    color: #fff;
}
