

.stage5_theme .add-button {
    background: #659ca8;
}

.stages_block .btn.back_color_stage5:hover {
    background: #68b0bc;
}

.stage5_theme .help_icon {
    background: image-url('i-help.png') no-repeat 0 -212px;
}

.stage5_theme .popup2 i {
    color: #559499;
}


.stage5_theme .theme_back_color {
    background: #559499;
}

.stage5_theme .theme_font_color, .stage7_theme .theme_font_color {
    color: #559499;
}

.stage5_theme button:hover .theme_font_color {
    opacity: 0.8;
}

.stage5_theme button:active .theme_font_color {
    color: #559499;
}

.popup_color_theme_stage5 .lined-heading {
    background: #b3e5e9;
}


.stage5_theme .icon-right {
    color: #559499;
}

.stage5_theme .tabs_type_2 > li > a {
    background: #cee1e5;
}

.stage5_theme .tabs_type_2 > li.active > a {
    background: #92c1cb;
    color: #fff;
}

.stage5_theme .tabs_type_1 > li.active > a:before {
    border-left-color: #559499;
}

.stage5_theme .tabs_type_2 > li.active > a:before {
    border-left-color: #92c1cb;
}

.stage5_theme .cont_heading, .stage5_theme .collapser_type2, .stage7_theme .collapser_type2, .stage5_theme .mod_col_top, .stage7_theme .mod_col_top, .stage5_theme .btn_cab_mod, .stage7_theme .btn_cab_mod {
    background: #cee1e5;
}

.stage5_theme .btn_cab_mod, .stage5_theme .btn_cab_mod:focus {
    border: 1px solid #7fb8c3;
}

.stage5_theme .pocket_name {
    color: #42808b;
    padding-left: 60px;
//    background-image: image-url('icon-cab-folder-5_small.png');
    background-repeat: no-repeat;
    background-position: 20px center;
}

.plus20.font_color_stage5, .plus25.font_color_stage5 {
    border-color: #559499;
}

.popup_color_theme_stage5 .new_comment{
    background: rgba(85, 148, 153, 0.26);
}

.popup_color_theme_stage5 .answers_subblock{
    border-color: #559499;
}

.back_color_stage5 {
    background-color: #559499;
}


.back_color_stage5_pale {
    background-color: #7fb7c3;
}

.back_color_stage5_superpale {
    background-color: #e2edef;
}

.font_color_stage5 {
    color: #559499 !important;
}

.font_color_stage5_pale {
    color: #7fb7c3 !important;
}

.stage5_theme .btn_cab_mod.active{
    background: #7fb8c3;
    color: #fff;
}
