.back_color_stage6 {
    background-color: #84b9bd;
}


.font_color_stage6 {
    color: #84b9bd !important;
}


.stages_block .btn.back_color_stage6:hover {
    background: #8ad1cb;
}

.stage6_theme .theme_back_color {
    background: #7ab7b2;
}


.stage6_theme .theme_font_color {
    color: #7bb6b2;
}

.stage6_theme button:active .theme_font_color {
    color: #72adab;
}

.stage6_theme .collapser_type2 {
    background: #c6e0de;
}

.stage6_theme .btn_cab_mod.active {
    background: #87c5c0;
    color: #fff;
}
