.stage1_theme .main_menu li.active a:after {
    border-color: rgba(211, 211, 211, 0);
    border-width: 6px;
}

.stage1_theme .main_menu li.active a:before {
    border-color: rgba(211, 211, 211, 0);
    border-width: 7px;
    border-bottom-color: #6086a1;
}

.stage1_theme .add-button {
    background: #80b2d6;
}

.stage1_theme .subhead {
    background: #6c9cbf; /* Old browsers */
    background: -moz-linear-gradient(top, #6c9cbf 0%, #7fb1d5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c9cbf), color-stop(100%, #7fb1d5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6c9cbf 0%, #7fb1d5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6c9cbf 0%, #7fb1d5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6c9cbf 0%, #7fb1d5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #6c9cbf 0%, #7fb1d5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c9cbf', endColorstr='#7fb1d5', GradientType=0); /* IE6-9 */
}

.stages_block .btn.back_color_stage1:hover {
    background: #89c3ed;
}

.stage1_theme .help_icon {
    background: image-url('icon-help-sprite.png') no-repeat 0 0;
}

.stage1_theme .popup2 i {
    color: #80b2d6;
}

.stage1_theme .theme_back_color {
    background: #80b2d6;
}

.stage1_theme .theme_font_color {
    color: #80b2d6;
}

.stage1_theme button:hover .theme_font_color {
    opacity: 0.8;
}

.stage1_theme button:active .theme_font_color {
    color: #6ca3ca;
}

.stage1_theme .poll-2-1, .stage1_theme .vote_folders_cont li.active .poll-2-1 {
    background-position: 0 0;
}

.stage1_theme .b_vote.voted {
    background-image: image-url('vote/vote_all_1.png');
}

.stage1_theme .dd_badge {
    background: #80b2d6;
}


.stage1_theme .tabs_type_1 > li > a {
    background: #80b2d7;
}

.stage1_theme .tabs_type_1 > li.active > a:before {
    border-left-color: #80b2d7;
}

.plus20.font_color_stage1, .plus25.font_color_stage1 {
    border-color: #80b2d6;
}

.btn-arrow-stage1 {
    margin: 20px;
}

.btn-arrow-red, .btn-arrow-stage1 {
    border: none;
    position: relative;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
}

.btn-arrow-red:after, .btn-arrow-stage1:after, .btn-arrow-red:before, .btn-arrow-stage1:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.btn-arrow-red:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #e61928;
    border-width: 15px;
    margin-top: -16px;
}

.btn-arrow-red:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #e61928;
    border-width: 15px;
    margin-top: -14px;
}

.btn-arrow-stage1:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #7db2d7;
    border-width: 15px;
    margin-top: -16px;
}

.btn-arrow-stage1:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #7db2d7;
    border-width: 15px;
    margin-top: -14px;
}

.btn-arrow-stage1:hover,
.btn-arrow-stage1:focus,
.btn-arrow-stage1:active,
.btn-arrow-stage1.active,
.open .dropdown-toggle.btn-arrow-stage1 {
    outline: none;
    background: #89c2ea;
}

.btn-arrow-stage1:hover:after,
.btn-arrow-stage1:focus:after,
.btn-arrow-stage1:active:after,
.btn-arrow-stage1.active:after {
    border-left-color: #89c2ea;
}

.btn-arrow-stage1:active,
.btn-arrow-stage1.active,
.open .dropdown-toggle.btn-arrow-stage1 {
    background: #89c2ea;
    color: #fff;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.btn-arrow-stage1:active:after,
.btn-arrow-stage1.active:after,
.open .dropdown-toggle.btn-arrow-stage1:after {
    border-left-color: #89c2ea;
}

.stage1_theme .vote {
    background-image: image-url('vote_btn_1.png');
    background-repeat: no-repeat;
    display: block;
}

.stage1_theme .vote-vote1 {
    width: 24px;
    height: 22px;
    background-position: -5px -5px;
}

.stage1_theme .vote-vote2 {
    width: 24px;
    height: 22px;
    background-position: -5px -37px;
}

.stage1_theme .vote-vote3 {
    width: 24px;
    height: 22px;
    background-position: -39px -5px;
}

.stage1_theme .vote-vote4 {
    width: 24px;
    height: 22px;
    background-position: -39px -37px;
}

.popup_color_theme_stage1 .new_comment {
    background: rgba(126, 179, 216, 0.25);
}

.popup_color_theme_stage1 .answers_subblock {
    border-color: #8cc5f1;
}

.back_color_stage1 {
    background-color: #80b2d6;
}

.arrow_left.back_color_stage1:after,
.arrow_left.back_color_stage1 {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #80b2d6;
}

.arrow_left.back_color_stage1:hover,
.arrow_left.back_color_stage1:focus,
.arrow_left.back_color_stage1:active {
    outline: none;
    background: #89c3ed;
}

.arrow_left.back_color_stage1:hover:after,
.arrow_left.back_color_stage1:focus:after,
.arrow_left.back_color_stage1:active:after {
    border-right-color: #89c3ed;
}

.back_color_stage1_superpale {
    background-color: #e6f0f7;
}

.font_color_stage1 {
    color: #80b2d6 !important;
}

/* first stage styles */

/* aspects (ui-4) */
.ui-4.first-stage {
    padding-top: 19px;
    margin-left: -5px;
}

.ui-4.first-stage > .container {
    padding: 0;

}

.ui-4.first-stage .block-content .nav-tabs {
    border-bottom: 0px;
    padding: 0 23px;
}

.ui-4.first-stage .tab-content {
    padding-top: 0;
}

.min-col-right-padd {
    padding-right: 7px;
    padding-left: 0;
}

.min-col-left-padd {
    padding-left: 7px;
    padding-right: 0;
}

.questionsCarousel .item {
    padding: 0 50px 30px 60px;
}

.aspect-main-block, .aspect-questions-block {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
    border-top: 4px solid transparent;
    padding-bottom: 10px;
}
/* 1st stage tab color themes */
.color-theme-1 .aspect-main-block, .color-theme-1 .aspect-questions-block {
    border-top-color: #ecd72a;
}

.color-theme-2 .aspect-main-block, .color-theme-2 .aspect-questions-block {
    border-top-color: #bfe6e8;
}

.color-theme-3 .aspect-main-block, .color-theme-3 .aspect-questions-block {
    border-top-color: #bcddc6;
}

.color-theme-4 .aspect-main-block, .color-theme-4 .aspect-questions-block {
    border-top-color: #e3c6e5;
}

.color-theme-5 .aspect-main-block, .color-theme-5 .aspect-questions-block {
    border-top-color: #85edec;
}

.color-theme-6 .aspect-main-block, .color-theme-6 .aspect-questions-block {
    border-top-color: #85bbed;
}

.color-theme-7 .aspect-main-block, .color-theme-7 .aspect-questions-block {
    border-top-color: #f298c0;
}

.color-theme-8 .aspect-main-block, .color-theme-8 .aspect-questions-block {
    border-top-color: #98b6f2;
}

.color-theme-9 .aspect-main-block, .color-theme-9 .aspect-questions-block {
    border-top-color: #566687;
}

.color-theme-1 .answer-button {
    background-color: #ecd72a;
}

.color-theme-2 .answer-button {
    background-color: #bfe6e8;
}

.color-theme-3 .answer-button {
    background-color: #bcddc6;
}

.color-theme-4 .answer-button {
    background-color: #e3c6e5;
}

.color-theme-5 .answer-button {
    background-color: #85edec;
}

.color-theme-6 .answer-button {
    background-color: #85bbed;
}

.color-theme-7 .answer-button {
    background-color: #f298c0;
}

.color-theme-8 .answer-button {
    background-color: #98b6f2;
}

.color-theme-9 .answer-button {
    background-color: #566687;
}

.color-theme-1 .fa-check {
    color: #ecd72a;
}

.color-theme-2 .fa-check {
    color: #bfe6e8;
}

.color-theme-3 .fa-check {
    color: #bcddc6;
}

.color-theme-4 .fa-check {
    color: #e3c6e5;
}

.color-theme-5 .fa-check {
    color: #85edec;
}

.color-theme-6 .fa-check {
    color: #85bbed;
}

.color-theme-7 .fa-check {
    color: #f298c0;
}

.color-theme-8 .fa-check {
    color: #98b6f2;
}

.color-theme-9 .fa-check {
    color: #566687;
}

.color-theme-1 .notice-button {
    border-color: #ecd72a;
}

.color-theme-2 .notice-button {
    border-color: #bfe6e8;
}

.color-theme-3 .notice-button {
    border-color: #bcddc6;
}

.color-theme-4 .notice-button {
    border-color: #e3c6e5;
}

.color-theme-5 .notice-button {
    border-color: #85edec;
}

.color-theme-6 .notice-button {
    border-color: #85bbed;
}

.color-theme-7 .notice-button {
    border-color: #f298c0;
}

.color-theme-8 .notice-button {
    border-color: #98b6f2;
}

.color-theme-9 .notice-button {
    border-color: #566687;
}

.ui-4.first-stage .tab-content .tab-pane {
    padding: 0px;
}

.nav-tabs.aspects_tabs {
    padding: 0 !important;
}

.nav-tabs.aspects_tabs > li > a {
    color: #464646;
    border: 1px solid #e4e4e4;
    border-bottom: none;
    background: #fcfcfc;
    font-size: 12px;
    padding: 5px 7px;
    font-weight: bold;
}

.nav-tabs.aspects_tabs > li.active > a, .nav-tabs.aspects_tabs > li.active > a:focus, .nav-tabs.aspects_tabs > li.active > a:hover {
    border: none;
}

.color-theme-1 .nav-tabs.aspects_tabs > li.active > a {
    background: #ecd72a;
}

.color-theme-2 .nav-tabs.aspects_tabs > li.active > a {
    background: #bfe6e8;
}

.color-theme-3 .nav-tabs.aspects_tabs > li.active > a {
    background: #bcddc6;
}

.color-theme-4 .nav-tabs.aspects_tabs > li.active > a {
    background: #e3c6e5;
}

.color-theme-5 .nav-tabs.aspects_tabs > li.active > a {
    background: #85edec;
}

.color-theme-6 .nav-tabs.aspects_tabs > li.active > a {
    background: #85bbed;
}

.color-theme-7 .nav-tabs.aspects_tabs > li.active > a {
    background: #f298c0;
}

.color-theme-8 .nav-tabs.aspects_tabs > li.active > a {
    background: #98b6f2;
}

.color-theme-9 .nav-tabs.aspects_tabs > li.active > a {
    background: #566687;
}

.aspect-main-block {
    position: relative;
    text-align: left;
    font-size: 12px;
    color: #797979;
}

.aspect-main-block p {
    line-height: 20px;
    font-size: 13px;
    margin-bottom: 10px;
}

.aspect-main-block ul {
    line-height: 20px;
    font-size: 13px;
    margin-bottom: 20px;
}

.aspect-main-block p + h5, .aspect-main-block p + h6 {
    margin-top: 25px;
}

.aspect-main-block h5 {
    font-size: 18px;
    font-weight: bold;
}

.aspect-main-block h6 {
    font-size: 15px;
    font-weight: bold;
}

.aspect-questions-block {
    padding: 20px 0 10px;
}

.aspect-questions-block h4 {
    margin: 0 50px 0 60px;
}

.color-theme-1 .aspect-questions-block .hint {
    color: #ecd72a;
    border-color: #ecd72a;
}

.color-theme-2 .aspect-questions-block .hint {
    color: #bfe6e8;
    border-color: #bfe6e8;
}

.aspect-questions-block .hint, .aspect-questions-block .wrong-answer {
    display: block;
    border: 3px solid #fff;
    border-radius: 7px;
    padding: 8px 18px;
    line-height: 1.4;
    position: relative;
    margin: 7px 0 13px 0;
}

.aspect-questions-block .hint.close-notice, .aspect-questions-block .wrong-answer.close-notice {
    display: none;
}


.aspect-questions-block .text {
    line-height: 1.5;
    padding-top: 15px;
}

.aspect-questions-block .block-with-left-icon {
    position: relative;
    font-size: 13px;
}

.aspect-questions-block .left-icon {
    position: absolute;
    display: block;
}

.aspect-questions-block h4 {
    margin-bottom: 15px;
}

.aspect-questions-block h4 .left-icon {
    font-size: 18px;
    left: -35px;
    color: #7f7f7f;
}

.aspect-questions-block .question_count {
    margin-right: 30px;
    font-size: 12px;
}

.aspect-questions-block .text .left-icon {
    left: -20px;
}

.instruments-block {
    margin-top: 15px;
}

.instruments-block .btn-group > .btn:first-child {
    margin-left: -1px;
}

.instruments-block .form-group {
    position: relative;
    clear: both;
}

.c1-item {
    margin: 0;
    padding: 0;
    border: 0;
    height: auto !important;
}

.c1-item-inner {
    position: relative;
    display: block;
    line-height: 16px;
    padding: 8px 20px 10px;
    max-width: 270px;
    border-radius: 3px;
    border-top: 3px solid transparent;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    background: #fff;
    color: #777;
    font-size: 13px;
}

.c1-item-inner.color-theme-1 {
    border-top-color: #ecd72a;
}

.c1-item-inner.color-theme-2 {
    border-top-color: #bfe6e8;
}

.c1-item-inner.color-theme-3 {
    border-top-color: #bcddc6;
}

.c1-item-inner.color-theme-4 {
    border-top-color: #e3c6e5;
}

.c1-item-inner.color-theme-5 {
    border-top-color: #85edec;
}

.c1-item-inner.color-theme-6 {
    border-top-color: #85bbed;
}

.c1-item-inner.color-theme-7 {
    border-top-color: #f298c0;
}

.c1-item-inner.color-theme-8 {
    border-top-color: #98b6f2;
}

.c1-item-inner.color-theme-9 {
    border-top-color: #566687;
}

.active .c1-item-inner {
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
    color: #666;
}

.medal-block.gold-medal {
    background: image-url('medal-1.png') no-repeat;
}

.medal-block.silver-medal {
    background: image-url('medal-2.png') no-repeat;
}

/* 1st stage discussion */
.combined_border {
    margin-top: 15px;
    margin-bottom: 15px;
}

.combined_border.right {
    border-right: 1px solid #cdcdcd;
}

.combined_border.left {
    border-left: 1px solid #cdcdcd;
    margin-left: -1px;
}

.combined_border .post:first-child {
    margin-top: 0;
}

.combined_border .post:last-child {
    margin-bottom: 1px;
}

