/* vote styles */

h4.tall_modal_title {
    margin: 20px 0 10px;
}

.vote_progress_cont {
    background: #e6e6e6; /* Old browsers */
    background: -moz-linear-gradient(top, #e6e6e6 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e6e6e6 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e6e6e6 0%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e6e6e6 0%, #ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e6e6e6 0%, #ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
    height: 7px;
    margin-bottom: 0;
}

.vote_progress {
    height: 7px;
}

/* 2nd stage vote */
.vote_nav {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.vote_nav > li > a {
    padding: 0;
}

.vote_nav > li > a:hover, .vote_nav > li > a:focus {
    background: none;
}

.vote_folders_cont {
    margin: 0 auto;
}

.vote_folders_cont.folders_2 {
    width: 232px;
}

.vote_folders_cont.folders_3 {
    width: 348px;
}

.vote_folders_cont.folders_4 {
    width: 800px;
}
.vote_folders_cont.folders_5 {
    width: 900px;
}
.vote_folder {
    width: 126px;
}

.vote_folder_inn {
    width: 110px;
    height: 80px;
    margin: 7px;
    box-sizing: content-box;
    border: 1px solid transparent;
    background: transparent image-url('icon-vote-sprite2.png') no-repeat no-repeat;
    border-radius: 5px;
}

.vote_folders_cont li.active .vote_folder_inn {

    background: image-url('icon-vote-sprite2.png') no-repeat no-repeat;
}


.poll-2-2, .vote_folders_cont li.active .poll-2-2 {
    background-position: 0 -79px;
}

.poll-2-3, .vote_folders_cont li.active .poll-2-3 {
    background-position: 0 -158px;
}

.poll-2-4, .vote_folders_cont li.active .poll-2-4 {
    background-position: 0 -237px;
}

.vote_folder_inn h5 {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    top: 50px;
    text-align: center;
}

.vote_item {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    border-top: 3px solid transparent;
}

.vote_item .heading_cont {
    width: 100%;
    border-bottom: 1px solid #a6a6a6;
}

.vote_item h6 {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    padding: 0 16px;
    color: #585858;
}

.vote_item .blackonwhite {
    box-shadow: inset 0px 5px 2px -3px rgba(0, 0, 0, 0.3);
}

.vote_item .blackonwhite h6 {
    color: #515151;
    font-weight: bold;
}

.vote_item p {
    padding: 8px 16px;
    background: #f9f8f8;
    font-size: 12px;
}

.vote_tag {
    padding: 2px 8px;
    line-height: 12px;
    font-size: 11px;
    color: #fff;
}

.vote_controls {
    position: relative;
}

.vote_button, .b_vote {
    margin: 0 2px;
    padding: 0;
}

.vote_button:hover,
.b_vote:hover {
    opacity: 0.8;
}

.vote_button:focus,
.b_vote:focus {
    opacity: 0.95;
}


.vote_button,
.b_vote {
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
}


.vote_open_detail {
    position: absolute;
    bottom: 6px;
    right: 6px;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    line-height: 17px;
    cursor: pointer;
}

/* 2nd stage vote styles */
.vote_item .media {
    border-top: 2px solid #c6c6c6;
    height: 55px;
}


.vote_item .table, .vote_item .table .what > td {
    font-size: 12px !important;
}

.vote_item .table .what > td {
    height: 48px;
}

.vote_item_cont.item_expandable.h_1 {
    height: 121px;
}

.vote_item_cont.item_expandable.h_2 {
    height: 197px;
}

.vote_item_cont.item_expandable {
    position: relative;
}

.item_expandable.opened .vote_item {
    position: absolute;
    width: 360px;
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.item_expandable:nth-child(3n).opened .vote_item {
    right: 15px;
}

.item_expandable.opened .vote_item .media {
    height: auto;
}

/*new vote buttons*/
.vote-folder {
    background-image: image-url('vote_folder_big.png');
    background-repeat: no-repeat;
    display: block;
    padding: 20px;
    margin-bottom: 10px;
    padding-top: 25px;
}

.vote-folder_1 {
    width: 62px;
    height: 53px;
    background-position: -5px -5px;
    margin-left: 25px;
}

.vote-folder_2 {
    width: 63px;
    height: 53px;
    margin-left: 24px;
    background-position: -77px -5px;
}

.vote-folder_3 {
    width: 61px;
    height: 53px;
    margin-left: 31px;
    background-position: -150px -5px;
}

.vote-folder_4 {
    width: 61px;
    height: 53px;
    margin-left: 36px;
    background-position: -221px -4px;
}
.vote-folder_5 {
    width: 61px;
    height: 53px;
    margin-left:15px;
    background-position: -292px -4px;
}
