- if stage_vote?('life_tape')
	%p.righttext
		= link_to 'Вернуться к голосованию', :back


- unless @news.nil?
	%h1 Новости
	%p.righttext
		= @news.anons
		= link_to 'подробнее',  expert_news_post_path(@project, @news)
