
%p
  Привет, #{@resource.name}!
%p Кто-то (вероятнее все вы) послал запрос на восстанволение пароля на сайте http://mass-decision.ru
%p= link_to 'Сменить пароль', "http://www.mass-decision.ru/users/password/edit?reset_password_token=#{@token}"
%p Если вы не посылали такой запрос, просто проигнорируйте это письмо.
%p С уважением, команда MassDecision.
