%li{class:"#{'active' if aspect == @aspect}"}
  = link_to link_for_aspects(aspect, current_stage) do
    %i.fa.fa-book

    =" #{aspect.content}"
    %span.pull-right
      %small="(#{aspect.aspect_posts.by_status_for_discontent(@project).count})"
      ="(+ "
      =aspect.aspect_posts.by_status_for_discontent(@project).where("discontent_posts.created_at >= ?", last_time_visit_aspect(aspect)).count
      =")"
