%li{class:"#{'active' if aspect == @aspect}"}
  = link_to link_for_aspects(aspect, current_stage) do
    %i.fa.fa-book

    =" #{aspect.content}"
    - if (current_stage == 'discontent/posts')
      %br
      .pull-lefte
        %small всего:
        =aspect.aspect_posts.by_status_for_discontent(@project).count
        - count =aspect.aspect_posts.by_status_for_discontent(@project).where("discontent_posts.created_at >= ?", last_time_visit_aspect(aspect)).count
        - if (count > 0)
          %small , новых:
          %span.badge=count

