%li{class:"#{'active' if aspect == @aspect}"}
  = link_to link_for_aspects(aspect, current_stage) do
    &nbsp;
    =" #{aspect.content}"

-#%li
-#  %a.bg-orange{"data-toggle" => "tab", :href => "#tab-two"}
-#    %button.btn.btn-round.btn-orange
-#      %span
-#        %i.fa.fa-check
