-#%script{:src => "assets/template/hover-dropdown.min.js", :type => "text/javascript"}
-#%script{:src => "assets/liFixar/jquery.liFixar.js", :type => "text/javascript"}
-#%script{:src => "assets/app.js", :type => "text/javascript"}
-#%script{:src => "assets/chat.js", :type => "text/javascript"}
-#%script{:src => "assets/index.js", :type => "text/javascript"}

-#%script{:src => "http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js", :type => "text/javascript"}

-#/ jquery and friends
-#%script{:src => "assets/jquery-2.0.3.min.js", :type => "text/javascript"}
-#%script{:src => "assets/transition.js", :type => "text/javascript"}
-#%script{:src => "assets/collapse.js", :type => "text/javascript"}

-#%script{:src => "assets/lib/jquery-pjax/jquery.pjax.js", :type => "text/javascript"}
-#/ jquery plugins
-#%script{:src => "assets/lib/icheck.js/jquery.icheck.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/sparkline/jquery.sparkline.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/jquery-ui-1.10.3.custom.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/jquery.slimscroll.js", :type => "text/javascript"}
-#/ d3, nvd3
-#%script{:src => "assets/lib/nvd3/lib/d3.v2.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/nvd3/nv.d3.custom.js", :type => "text/javascript"}
-#/ nvd3 models
-#%script{:src => "assets/lib/nvd3/src/models/scatter.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/nvd3/src/models/axis.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/nvd3/src/models/legend.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/nvd3/src/models/multiBar.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/nvd3/src/models/multiBarChart.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/nvd3/src/models/line.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/nvd3/src/models/lineChart.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/nvd3/stream_layers.js", :type => "text/javascript"}
-#/ backbone and friends
-#%script{:src => "assets/lib/backbone/underscore-min.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/backbone/backbone-min.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/backbone/backbone.localStorage-min.js", :type => "text/javascript"}
-#/ bootstrap default plugins
-#%script{:src => "assets/transition.js", :type => "text/javascript"}
-#%script{:src => "assets/collapse.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/bootstrap/alert.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/bootstrap/tooltip.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/bootstrap/popover.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/bootstrap/button.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/bootstrap/tab.js", :type => "text/javascript"}
-#%script{:src => "assets/lib/bootstrap/dropdown.js", :type => "text/javascript"}
-#/ basic application js
-#%script{:src => "assets/app.js", :type => "text/javascript"}
-#%script{:src => "assets/settings.js", :type => "text/javascript"}
-#/ page specific
-#%script{:src => "assets/index.js", :type => "text/javascript"}
-#%script{:src => "assets/chat.js", :type => "text/javascript"}
