
.navbar
  .logo.pull-left.hidden-xs
    %h2
      %strong Mass
      Decision

  %ul.nav.navbar-nav.pull-right.navbar-menu
    - if signed_in?
      %li
        =link_to current_user, "project/13/users/#{current_user.id}"
      %li
        = link_to destroy_user_session_path, :method => :delete do
          Выйти
    -else
      %li
        = link_to "Войти", "/users/sign_in", class: "exit"
      %li
        = link_to "Зарегистрироваться", "/users/sign_up", class: "exit"
  %ul.navbar-buttons.pull-right
    - if signed_in?
      %li
        =link_to '/project/13', class:'btn btn-sm btn-danger'  do
          Перейти к процедуре
          %i.fa.fa-arrow-right




