%head
  %meta{ charset: 'utf-8' }
  %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=Edge, chrome=1' }
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
  %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=8' }
  %title
    = content_for?(:title) ? yield(:title) : 'Massdecision'
  = csrf_meta_tags
  = stylesheet_link_tag 'application', media: 'all'
  /[if lte IE 9]
<script src="http://phpbbex.com/oldies/oldies.js" charset="utf-8"></script>
-#%link(href="/assets/favicon.ico" rel="shortcut icon")
