%meta(http-equiv = "Content-Type" content= "text/html; charset=utf-8")
  = stylesheet_link_tag    "application", :media => "all" 
  = javascript_include_tag "application"
  = csrf_meta_tags
  = raw wymeditor_initialize

  -#/ CSS Global Compulsory
  -#%link{:href => "assets/template/style.css", :rel => "stylesheet"}/
  -#%link{:href => "assets/template/app.css", :rel => "stylesheet"}/
  -#%link{:href => "assets/template/headers/header1.css", :rel => "stylesheet"}/
  -#/ CSS Implementing Plugins
  -#%link{:href => "assets/template/font-awesome/css/font-awesome.css", :rel => "stylesheet"}/
  -#/ CSS Theme
  -#%link#style_color{:href => "assets/template/themes/blue.css", :rel => "stylesheet"}/
  -#%link#style_color-header-1{:href => "assets/template/themes/headers/header1-blue.css", :rel => "stylesheet"}/

  / CSS Global Compulsory
  %link{:href => "assets/template/style.css", :rel => "stylesheet"}/
  %link{:href => "assets/template/app.css", :rel => "stylesheet"}/
  %link{:href => "assets/template/headers/header1.css", :rel => "stylesheet"}/
  %link{:href => "assets/template/responsive.css", :rel => "stylesheet"}/
  / CSS Implementing Plugins
  %link{:href => "assets/template/font-awesome/css/font-awesome.css", :rel => "stylesheet"}/
  %link{:href => "assets/template/flexslider.css", :rel => "stylesheet"}/
  %link{:href => "assets/template/parallax-slider.css", :rel => "stylesheet"}/
  / CSS Theme
  %link#style_color{:href => "assets/template/themes/default.css", :rel => "stylesheet"}/


  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35663792-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
%title Massdecision - гуманитарная интернет-технология для демократичной выработки стратегических решений в массовых сообществах и подготовки будущих исполнителей к их реализации