.right-rollover-outer
  .round-button-outer
    %a{:href => "#"}
      .round-button.circle-5
  .right-rollover.box-shadow-1.rounded-3
    -if current_stage == :discontent
      %h5
        Индекс аспектов
      .index-of-aspects
        .aspect
          .circle-tag.back-color.orange нд
          %span.aspect-text Нечем дышать
        .aspect
          .circle-tag.back-color.light-blue нс
          %span.aspect-text Нечем дышать и слишком высокие потолки
        .aspect
          .circle-tag.back-color.green мл
          %span.aspect-text Мало платят
        .aspect
          .circle-tag.back-color.purple нж
          %span.aspect-text Негде жить
        .aspect
          .circle-tag.back-color.yellow од
          %span.aspect-text Отсутствие диалога
        .aspect
          .circle-tag.back-color.blue му
          %span.aspect-text Много участников
    -elsif current_stage == :concept
      %h5
        Индекс несовершенств
      %button.colored-stripe.color-N1.rounded-1.selected{:rel => "1"}
        Низкие потолки и нечем дышать в офисах
      %button.colored-stripe.color-N2.rounded-1{:rel => "2"}
        потолки и нечем дышать в офисах
      %button.colored-stripe.color-N3.rounded-1{:rel => "3"}
        Низкие потолки и нечем дышать в офисах при большом скоплении посетителей
      %button.colored-stripe.color-N4.rounded-1{:rel => "4"}
        нечем дышать в офисах
      %button.colored-stripe.color-N5.rounded-1{:rel => "5"}
        Низкие потолки и нечем дышать
      %button.colored-stripe.color-N6.rounded-1{:rel => "6"}
        нечем дышать в офисах
      %button.colored-stripe.color-N7.rounded-1{:rel => "7"}
        Низкие потолки и нечем дышать в офисах
      %button.colored-stripe.color-N8.rounded-1{:rel => "8"}
        Низкие потолки и нечем дышать в офисах
      %button.colored-stripe.color-N9.rounded-1{:rel => "9"}
        Низкие потолки и нечем дышать
      %button.colored-stripe.color-N10.rounded-1{:rel => "10"}
        Низкие потолки и нечем дышать
      %button.colored-stripe.color-N11.rounded-1{:rel => "11"}
        Низкие потолки
      %button.colored-stripe.color-N12.rounded-1{:rel => "12"}
        Низкие потолки и нечем дышать в офисах
      %button.colored-stripe.color-N13.rounded-1{:rel => "13"}
        Низкие потолки и нечем дышать
      %button.colored-stripe.color-N14.rounded-1{:rel => "14"}
        Низкие потолки и нечем
