.menu.menu_without_padding
  %ul
    %li= link_to "О проекте ", "/description" , class:  "lmenu"
    %li= image_tag "separator.png", :class => "separator"    
  
    %li= link_to "Контакты", "/contacts" , class: "lmenu"
    %li= image_tag "separator.png", :class => "separator"     

