.col-md-10.col-md-offset-1
  %nav.navbar.navbar-default{:role => "navigation"}
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =image_tag 'logo.png'
      &nbsp;
      -#%a.navbar-brand{:href => "#"} Brand
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          =link_to t('menu.main'), "/project/#{@project.id}"
        %li
          =link_to t('menu.help'), help_posts_path(@project)
        %li
          =link_to t('menu.base_knowledge'),   knowbase_posts_path(@project)
        %li
          -#%a{:href => "#"}="Рейтинг участников"
          =link_to t('menu.raiting'), "/project/#{@project.id}/users"
        -#%li.dropdown
        -#  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        -#    =t('menu.switch_procedure')
        -#    %b.caret
        -#  %ul.dropdown-menu
        -#    %li
        -#      %a{:href => "/procedure/1/stage/1?help1"} процедура в Ирбис
        -#    %li
        -#      %a{:href => "#"} процедура в СГУ
        -#    %li.divider
        -#    %li
        -#      %a{:href => "#"} Начать новую


      %ul.nav.navbar-nav.navbar-right

        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %ul.nav.nav-pills.nav-stacked
              =current_user
              -#%span.label.label-danger 5
          %ul.dropdown-menu
            %li
              = link_to 'Активность', user_path(@project, current_user)

              -#%span.label.label-danger 4
            %li.disabled
              %a{:href => "#"}
                Сообщения
                -#%span.label.label-danger 1
            %li
              = link_to 'Редактировать профиль', edit_user_path(@project, current_user)
            %li.divider
            %li
              %a.dropdown-toggle(data-method="delete" href="/users/sign_out/" )
                Выход
      -#%form.navbar-form.navbar-right{:role => "search"}
      -#  .form-group
      -#    %input.form-control{:placeholder => t('menu.search_text'), :type => "text"}/
      -#  %button.btn.btn-default{:type => "submit"}=t('menu.search')