<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}/
    %title CodeMirror: TypeScript mode
    %link{:href => "../../lib/codemirror.css", :rel => "stylesheet"}/
    %script{:src => "../../lib/codemirror.js"}
    %script{:src => "javascript.js"}
    %link{:href => "../../doc/docs.css", :rel => "stylesheet"}/
    :css
      .CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}  %body
    %h1 CodeMirror: TypeScript mode
    %div
      %textarea#code{:name => "code"}
        :preserve
          
          class Greeter {
          	greeting: string;
          	constructor (message: string) {
          		this.greeting = message;
          	}
          	greet() {
          		return "Hello, " + this.greeting;
          	}
          }   
          
          var greeter = new Greeter("world");
          
          var button = document.createElement('button')
          button.innerText = "Say Hello"
          button.onclick = function() {
          	alert(greeter.greet())
          }
          
          document.body.appendChild(button)
          
    :javascript
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/typescript"
      });
        %p
      This is a specialization of the
      = succeed "." do
        %a{:href => "index.html"} JavaScript mode
