%h1 Социологические тесты


- @tests.each do |test|
  %div
    %div
      %b= test.name
      %br=test.description

    -unless  test.avialable?
      %div 
      %b Вы уже прошли этот тест
    -else
      %div= link_to 'Пройти тест', test
    / %td= link_to 'Edit', edit_test_path(test)
    / %td= link_to 'Destroy', test, :confirm => 'Are you sure?', :method => :delete

%br

/ = link_to 'New Test', new_test_path
