!!!
%html{:xmlns => "http://www.w3.org/1999/html"}
  %head
    %title Light Blue Documentation
    %link{:href => "css/documentation.css", :rel => "stylesheet"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:charset => "utf-8"}/
  %body.background-two
    %nav#sidebar.sidebar
      %ul#side-nav.side-nav
        %li.green
          %a{:href => "index.html"}
            %i.icon-desktop
            %span.name Dashboard
        %li.teal.accordion-group
          %a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#stats-collapse"}
            %i.icon-bar-chart
            %span.name Statistics
          %ul#stats-collapse.accordion-body.collapse
            %li
              %a{:href => "stat_statistics.html"} Stats
            %li
              %a{:href => "stat_charts.html"} Charts
            %li
              %a{:href => "stat_realtime.html"} Realtime
        %li.blue.accordion-group
          %a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#forms-collapse"}
            %i.icon-edit
            %span.name Forms
          %ul#forms-collapse.accordion-body.collapse
            %li
              %a{:href => "form_account.html"} Account
            %li
              %a{:href => "form_article.html"} Article
            %li
              %a{:href => "form_elements.html"} Elements
            %li
              %a{:href => "form_validation.html"} Validation
            %li
              %a{:href => "form_wizard.html"} Wizard
        %li.brown.accordion-group
          %a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#ui-collapse"}
            %i.icon-magic
            %span.name UI
          %ul#ui-collapse.accordion-body.collapse
            %li
              %a{:href => "ui_buttons.html"} Buttons
            %li
              %a{:href => "ui_dialogs.html"} Dialogs
            %li
              %a{:href => "ui_notifications.html"} Notifications
            %li
              %a{:href => "ui_icons.html"} Icons
            %li
              %a{:href => "ui_tabs.html"} Tabs
            %li
              %a{:href => "ui_accordion.html"} Accordion
        %li.active.dark-red.accordion-group
          %a.accordion-toggle{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#components-collapse"}
            %i.icon-bookmark-empty
            %span.name Components
          %ul#components-collapse.accordion-body.collapse.in
            %li
              %a{:href => "component_calendar.html"} Calendar
            %li
              %a{:href => "component_maps.html"} Maps
            %li.active
              %a{:href => "component_gallery.html"} Gallery
            %li
              %a{:href => "component_fileupload.html"} Fileupload
        %li.red.accordion-group
          %a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#tables-collapse"}
            %i.icon-table
            %span.name Tables
          %ul#tables-collapse.accordion-body.collapse
            %li
              %a{:href => "tables_static.html"} Static
            %li
              %a{:href => "tables_dynamic.html"} Dynamic
        %li.orange
          %a{:href => "grid.html"}
            %i.icon-columns
            %span.name
              Widgets &nbsp;
              %span.label.label-info new
        %li.lime.accordion-group
          %a.accordion-toggle.collapsed{"data-parent" => "#side-nav", "data-toggle" => "collapse", :href => "#special-collapse"}
            %i.icon-asterisk
            %span.name Special
          %ul#special-collapse.accordion-body.collapse
            %li
              %a{:href => "special_search.html"} Search
            %li
              %a{:href => "login.html"} Login
            %li
              %a{:href => "special_404.html"} 404
    .wrap
      %header.page-header
        %h1 Documentation
      .content.container-fluid
        .row-fluid
          .span10.offset1
            %section.widget
              %h3 Gallery
              %hr/
              %p
                Gallery uses Bootstrap's thumbnails, which are great for grids of photos or videos,
                image search results, retail products, portfolios, and much more.
              %p
                %a{:href => "http://getbootstrap.com/components/#thumbnails"}> Read more about it
                \.
    / jquery and friends
    %script{:src => "js/jquery.1.9.0.min.js"}
    %script{:src => "js/bootstrap-transition.js"}
    %script{:src => "js/bootstrap-collapse.js"}
