<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Как тестировать", '/about' %></li>
      <li><%= link_to "Контакты", '/contacts' %></li>
       <% if signed_in? %>
       	<li><%= link_to "Пользователи все", users_path %>
       <% end %>
      <li><a href="http://www.invar.ru/">Инвар</a></li>
    </ul>
  </nav>
</footer>