<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "О проекте", '/about' %></li>
      <li><%= link_to "Контакты", '/contacts' %></li>
      <li><a href="http://sgu.ru/">СГУ</a></li>
      <li><a href="http://www.invar.ru/">Инвар</a></li>
    </ul>
  </nav>
</footer>