<header>
  <%= image_tag("logo.jpg", :alt => "Colleсtive mind", :class => "round", :width =>"150") %>
  <nav class="round">
    <ul>
      <li><%= link_to "На главную", '#' %></li>
      <li><%= link_to "Помощь", '#' %></li>
      <li><%= link_to "Войти", '#' %></li>
    </ul>
  </nav>
</header>