%html
  %head
    =render 'meta'
  %body
    .single-widget-container
      %section.widget.login-widget
        = yield
  /
    Javascripts
    \==================================================
  / Placed at the end of the document so the pages load faster
  = javascript_include_tag 'application'